.alert-box,
.success-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .icon {
    border-radius: 50%;
    width: 4rem; /* 40px */
    height: 4rem; /* 40px */
    position: relative;
    background: #4de992;
    box-shadow: 0 1.7rem 4rem 0 /* 17px 40px */ rgba(#41cd7d, 0.32);
    @include breakpoint(max, 600px) {
      width: 3rem; /* 30px */
      height: 3rem; /* 30px */
    }
    svg {
      width: 2rem; /* 20px */
      height: 1.5rem; /* 15px */
      position: absolute;
      stroke: $white;
      @include calc(top, "(100% - 1.5rem)/2");
      @include calc(left, "(100% - 2rem)/2");
      @include breakpoint(max, 600px) {
        width: 1.7rem; /* 17px */
        height: 1.2rem; /* 12px */
        @include calc(top, "(100% - 1.2rem)/2");
        @include calc(left, "(100% - 1.7rem)/2");
      }
    }
  }
  h2 {
    font-size: 2.8rem;
    margin-top: 2.5rem; /* 25px */
    margin-bottom: 0;
    b {
      color: $green;
    }
    @include breakpoint(max, 991px) {
      font-size: 2.3rem;
      margin-top: 1.5rem;
    }
    @include breakpoint(max, 600px) {
      font-size: 2rem;
      margin-top: 1rem;
    }
    @include breakpoint(max, 450px) {
      font-size: 1.7rem;
    }
  }
  span {
    font-size: 1.8rem;
    color: rgba($textColor, 0.8);
    display: block;
    margin-top: 1.5rem; /* 10px */
    text-align: center;
    @include breakpoint(max, 991px) {
      font-size: 1.6rem;
    }
    @include breakpoint(max, 450px) {
      font-size: 1.4rem;
    }
  }
  .buttons {
    margin-top: 4rem; /* 40px */
  }
  &-success {
    .icon {
      background: #4de992;
      box-shadow: 0 1.7rem 4rem 0 /* 17px 40px */ rgba(#41cd7d, 0.32);
      svg {
        stroke: $white;
      }
    }
  }
  &-failed {
    .icon {
      background: transparent;
      box-shadow: none;
      svg {
        width: 100%;
        height: 100%;
        stroke: $red;
        top: 0;
        left: 0;
      }
    }
  }
}
.afterpayment-content {
  padding: 8rem 0 15rem 0;
  min-height: 68vh;
  @include breakpoint(max, 991px) {
    padding: 4rem 0 9rem 0;
  }
  .purchased-wrap {
    margin-top: 5.5rem; /* 55px */
    @include breakpoint(max, 991px) {
      margin-top: 4rem; /* 40px */
    }
    .purchased-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #8c90b1;
      .info {
        span {
          @include Number;
          @include fontSize(14, $rootFontSize);
          position: relative;
          @include breakpoint(max, 600px) {
            @include fontSize(12, $rootFontSize);
          }
          &:last-child {
            margin-right: 0.5rem; /* 5px */
            padding-right: 0.5rem;
            &:before {
              position: absolute;
              display: block;
              width: 0.2rem; /* 2px */
              height: 100%;
              background: #e2e3ef;
              right: 0;
              top: 0;
              content: "";
            }
          }
        }
        b {
          @include Bold;
          font-family: $font-family;
        }
      }
    }
    .purchased-list {
      border-radius: 1rem; /* 10px */
      overflow: hidden;
      margin-top: 2.5rem; /* 25px */
      @include breakpoint(max, 600px) {
        margin-top: 1.5rem; /* 15px */
      }
      .purchased-item {
        border-bottom: 0.1rem /* 1px */ solid #e8ecf8;
        padding: 1.5rem;
        display: flex;
        background: $white;
        position: relative;
        @include breakpoint(max, 991px) {
          padding: 1rem;
        }

        // @include breakpoint(max, 800px) {
        //   flex-direction: column;
        //   border-color: #ccc;
        // }
        &:last-child {
          border-bottom: none;
        }
        .product-info {
          width: 70%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-shrink: 0;
          flex-grow: 0;
          // @include breakpoint(max, 800px) {
          //   width: 100%;
          //   padding-bottom: 1rem;
          // }
          .product-img {
            // width: 9.8rem; /* 98px */
            // height: 13.5rem; /* 135px */
            width: 10rem;
            height: 9.5rem;
            border-radius: 0.5rem; /* 5px */
            overflow: hidden;
            margin-left: 2rem; /* 20px */
            // @include breakpoint(max, 991px) {
            //   width: 8.8rem; /* 88px */
            //   height: 11.5rem; /* 115px */
            //   margin-left: 1rem; /* 10px */
            // }
            // @include breakpoint(max, 800px) {
            //   width: 7.8rem; /* 78px */
            //   height: 10.5rem; /* 105px */
            //   margin-left: 1rem; /* 10px */
            // }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .product-detail {
            @include calc(width, "(100% - 11.8rem)");
            @include breakpoint(max, 991px) {
              @include calc(width, "(100% - 9.8rem)");
            }
            .product-name {
              @include Heavy;
              @include fontSize(20, $rootFontSize);
              line-height: 1.3;
              @include breakpoint(max, 1199px) {
                @include fontSize(18, $rootFontSize);
              }
              @include breakpoint(max, 991px) {
                @include fontSize(16, $rootFontSize);
              }
              @include breakpoint(max, 450px) {
                @include fontSize(14, $rootFontSize);
              }
              span {
                @include Bold;
                position: relative;
                @include fontSize(14, $rootFontSize);
                color: rgba($textColor, 0.8);
                padding-right: 2rem;
                @include breakpoint(max, 1199px) {
                  display: block;
                  margin-top: 0.5rem; /* 5px */
                  padding-right: 0;
                  @include fontSize(13, $rootFontSize);
                }
                @include breakpoint(max, 991px) {
                  @include fontSize(11, $rootFontSize);
                }

                &:before {
                  display: block;
                  position: absolute;
                  content: "";
                  height: 0.2rem; /* 2px */
                  width: 1rem; /* 10px */
                  background: rgba($textColor, 0.5);
                  right: 0.5rem; /* 5px */
                  @include calc(top, "(100% - 0.1rem)/2");
                  @include breakpoint(max, 1199px) {
                    display: none;
                  }
                }
              }
            }
            .product-platform__holder {
              display: flex;
              align-items: center;
              margin-top: 1.5rem; /* 15px */
              @include breakpoint(max, 991px) {
                margin-top: 1rem; /* 10px */
              }
              @include breakpoint(max, 450px) {
                flex-wrap: wrap;
              }
              .platform-icon {
                @include Heavy;
                padding: 0.6rem 1.5rem;
                @include fontSize(14, $rootFontSize);
                text-transform: uppercase;
                border-radius: 1.7rem; /* 17px */
                border: 0.2rem /* 2px */ solid #e4e6f4;
                display: flex;
                align-items: flex-end;
                @include breakpoint(max, 991px) {
                  @include fontSize(12, $rootFontSize);
                }
                @include breakpoint(max, 700px) {
                  @include fontSize(11, $rootFontSize);
                  padding: 0.4rem 1rem;
                }
                img {
                  width: 1.9rem; /* 19px */
                  height: 1.9rem; /* 19px */
                  margin-right: 0.5rem; /* 5px */
                  @include breakpoint(max, 991px) {
                    width: 1.6rem; /* 16px */
                    height: 1.6rem; /* 16px */
                  }
                }
              }
              .platform-info {
                @include Medium;
                @include fontSize(16, $rootFontSize);
                margin-right: 1rem; /* 10px */
                @include breakpoint(max, 991px) {
                  @include fontSize(14, $rootFontSize);
                }
                @include breakpoint(max, 700px) {
                  @include fontSize(12, $rootFontSize);
                  margin-right: 0.5rem; /* 5px */
                }
                .region {
                  position: relative;
                  padding-right: 2rem;
                  @include breakpoint(max, 700px) {
                    padding-right: 0;
                  }
                  &:before {
                    position: absolute;
                    display: block;
                    content: "";
                    width: 1rem; /* 10px */
                    height: 0.2rem; /* 2px */
                    right: 0.5rem; /* 5px */
                    background: rgba($textColor, 0.5);
                    @include calc(top, "(100% - 0.2rem)/2");
                    @include breakpoint(max, 700px) {
                      display: none;
                    }
                  }
                }
                .platform {
                  @include breakpoint(max, 700px) {
                    display: none;
                  }
                }
              }
              .product-price {
                @include Bold;
                margin-right: 1rem; /* 10px */
                @include fontSize(14, $rootFontSize);
                padding-right: 1.5rem;
                position: relative;
                color: rgba($textColor, 0.8);
                @include breakpoint(max, 991px) {
                  @include fontSize(13, $rootFontSize);
                }
                @include breakpoint(max, 700px) {
                  @include fontSize(12, $rootFontSize);
                  margin-right: 0.5rem; /* 5px */
                  padding-right: 0.8rem;
                }
                @include breakpoint(max, 450px) {
                  width: 100%;
                  margin-top: 0.5rem; /* 5px */
                  padding-right: 0;
                  margin-right: 0;
                  text-align: left;
                }
                span {
                  @include Number;
                  @include fontSize(20, $rootFontSize);
                  color: $textColor;
                  @include breakpoint(max, 991px) {
                    @include fontSize(18, $rootFontSize);
                  }
                  @include breakpoint(max, 700px) {
                    @include fontSize(15, $rootFontSize);
                  }
                }
                &:before {
                  display: block;
                  position: absolute;
                  content: "";
                  border-radius: 50%;
                  width: 0.3rem; /* 3px */
                  height: 0.3rem; /* 3px */
                  background: rgba($textColor, 0.5);
                  right: 0;
                  @include calc(top, "(100% - 0.3rem)/2");
                  @include breakpoint(max, 450px) {
                    display: none;
                  }
                }
              }
            }
          }
        }
        .cdkey-wrap {
          width: 30%;
          // border-right: 0.1rem /* 1px */ solid #e8ecf8;
          // padding-right: 4rem;
          // padding-left: 2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;

          @include breakpoint(max, 991px) {
            width: 38%;
          }
          @include breakpoint(max, 768px) {
            width: 100%;
            margin-top: 1rem;
          }
          .cdkey-holder {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            width: unset;
            align-items: flex-start;
            flex-wrap: wrap;
            .cdkey {
              display: flex;
              align-items: center;
              .msg {
                font-size: 1.6rem;
                margin-bottom: 0;
                margin-right: 1rem;
                color: #3f4373;
                @include Bold;
                @include breakpoint(max, 991px) {
                  font-size: 1.4rem;
                }
                @include breakpoint(max, 500px) {
                  font-size: 1.2rem;
                }
              }
            }

            .platform-game {
              @include Bold;
              color: rgba($textColor, 0.5);
              margin-bottom: 1rem; /* 10px */
              @include breakpoint(max, 991px) {
                display: none;
              }
            }
            input {
              background: $white;
              font-size: 2rem;
              color: $textColor;
              margin: 0 1rem;
              max-width: 18rem;
              padding-top: 0.5rem;

              @include breakpoint(max, 1199px) {
                font-size: 1.5rem;
                max-width: 14rem;
              }
              @include breakpoint(max, 500px) {
                @include fontSize(13, $rootFontSize);
              }
            }
            .copy-btn {
              @include Heavy;
              padding: 0.5rem 0.8rem;
              @include fontSize(12, $rootFontSize);
              border: 0.2rem /* 2px */ solid #dfe1f2;
              border-radius: 2rem; /* 20px */
              color: $textColor;
            }
            .guid {
              @include trans(0.3s);
              width: 2.4rem; /* 24px */
              height: 2.4rem; /* 24px */
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 0.2rem /* 2px */ solid #dfe1f2;
              color: rgba($textColor, 0.5);
              margin-right: 0.5rem; /* 5px */
              padding: 0.2rem;
              position: relative;
              cursor: pointer;
              @include fontSize(17, $rootFontSize);
              .guid-hover {
                @include trans(0.3s);
                opacity: 0;
                visibility: hidden;
                width: 22.5rem; /* 225px */
                position: absolute;
                background: $white;
                border-radius: 2rem; /* 20px */
                padding: 0.7rem 1rem;
                box-shadow: 0 0.1rem 0.2rem 0 rgba(#a8c0e2, 0.27),
                  0 0.9rem 0.9rem 0 rgba(#a8c0e2, 0.16),
                  0 0.2rem 0.5rem 0 /* 1px 2px 9px 9px 2px 5px */
                    rgba(#a8c0e2, 0.19);
                color: rgba($textColor, 0.8);
                @include fontSize(13, $rootFontSize);
                text-align: center;
                top: 2.5rem; /* 25px */
                @include calc(left, "(100% - 22.5rem)/2");
                @include breakpoint(max, 1199px) {
                  width: 20rem; /* 200px */
                  left: -5rem; /* -50px */
                }
                &:before {
                  position: absolute;
                  display: block;
                  content: "";
                  width: 0.4rem; /* 4px */
                  height: 0.4rem; /* 4px */
                  border-radius: 50%;
                  background: $red;
                  top: 0;
                  @include calc(left, "(100% - 0.4rem)/2");
                  @include breakpoint(max, 1199px) {
                    display: none;
                  }
                }
              }
              &:hover {
                background: $red;
                color: $white;
                border-color: $red;
                .guid-hover {
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }
          .icon {
            width: 1.9rem; /* 19px */
            height: 1.9rem; /* 19px */
            border-radius: 50%;
            background: #4de992;
            position: relative;
            box-shadow: 0 0.3rem 0.5rem 0 rgba(#4de992, 0.27),
              0 1.2rem 1.6rem 0 /* 3px 5px 12px 16px */ rgba(#4de992, 0.3);
            svg {
              width: 1rem; /* 10px */
              height: 1rem; /* 10px */
              position: absolute;
              stroke: $white;
              @include calc(top, "(100% - 1rem)/2");
              @include calc(left, "(100% - 1rem)/2");
            }
          }
          .success-state {
            @include Bold;
            display: flex;
            @include fontSize(16, $rootFontSize);
            align-items: center;
            justify-content: center;
            @include breakpoint(max, 500px) {
              @include fontSize(14, $rootFontSize);
            }
            .icon {
              margin-left: 1rem; /* 10px */
            }
          }
          &.activation-state {
            border-right: none;
            align-items: flex-end;
            @include breakpoint(max, 991px) {
              align-items: center;
            }
            .comment {
              border-radius: 3.5rem; /* 35px */
              padding: 0.8rem 1.5rem;
              display: flex;
              align-items: center;
              border: 0.1rem /* 1px */ solid #ececf1;
              @include fontSize(14, $rootFontSize);
              color: rgba($textColor, 0.8);
              margin-top: 2rem; /* 20px */
              @include breakpoint(max, 991px) {
                margin-top: 1rem; /* 10px */
              }
              @include breakpoint(max, 500px) {
                padding: 0.5rem 1rem;
                @include fontSize(12, $rootFontSize);
              }
              svg {
                width: 1.7rem; /* 17px */
                height: 1.6rem; /* 16px */
                margin-left: 1rem; /* 10px */
              }
            }
          }
        }
        .waiting-activation {
          width: 30%;
          display: flex;
          align-items: center;
          justify-content: center;
          @include fontSize(16, $rootFontSize);
          color: rgba($textColor, 0.8);
          @include Bold;
          // @include breakpoint(max, 800px) {
          //   @include fontSize(14, $rootFontSize);
          //   width: 100%;
          //   padding-top: 1rem;
          //   border-top: 0.1rem /* 1px */ solid #eee;
          // }
          @include breakpoint(max, 450px) {
            @include fontSize(12, $rootFontSize);
          }
          svg {
            width: 1.7rem; /* 17px */
            height: 1.7rem; /* 17px */
            margin-left: 0.5rem; /* 5px */
            overflow: visible;
            // @include breakpoint(max, 800px) {
            //   width: 1.5rem; /* 15px */
            //   height: 1.5rem; /* 15px */
            // }
            @include breakpoint(max, 450px) {
              width: 1.3rem; /* 13px */
              height: 1.3rem; /* 13px */
            }
          }
        }
      }
      &.after-payment {
        .purchased-item {
          @include breakpoint(max, 991px) {
            padding: 1rem;
            border-color: #ccc;
          }
          @include breakpoint(max, 768px) {
            margin-bottom: 2rem;
            border-bottom: none;
            border-radius: 1rem;
            @include lightshadow;
            flex-direction: column;
          }
          .product-info {
            @include breakpoint(max, 991px) {
              width: 62%;
              //  padding-bottom: 1rem;
            }
            @include breakpoint(max, 768px) {
              width: 100%;
              position: relative;
            }
            .product-img {
              @include breakpoint(max, 768px) {
                // position: absolute;
                width: 8rem;
                height: 8rem;
                // right: 0;
                // top: 0;
              }
            }
          }
        }
      }
    }
    .purchased-bottom {
      margin-top: 3rem; /* 30px */
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include breakpoint(max, 991px) {
        flex-direction: column;
      }
      .btn-holder {
        @include breakpoint(max, 991px) {
          margin-top: 2rem; /* 20px */
        }
        .btn-account {
          margin-right: 1rem; /* 10px */
          color: rgba($textColor, 0.8);
          @include fontSize(16, $rootFontSize);
          padding: 1.8rem 3.5rem;
          @include breakpoint(max, 1199px) {
            @include fontSize(15, $rootFontSize);
            padding: 1.8rem 3rem;
          }
          @include breakpoint(max, 768px) {
            @include fontSize(13, $rootFontSize);
            padding: 1.3rem 2rem;
          }
          @include breakpoint(max, 400px) {
            width: 100%;
            margin-right: 0;
          }
        }
        .btn-download {
          color: rgba($textColor, 0.8);
          padding: 1.8rem 5rem 1.8rem 3.5rem;
          @include fontSize(16, $rootFontSize);
          @include breakpoint(max, 1199px) {
            @include fontSize(15, $rootFontSize);
          }
          @include breakpoint(max, 768px) {
            @include fontSize(13, $rootFontSize);
            padding: 1.4rem 4rem 1.4rem 2rem;
          }
          @include breakpoint(max, 400px) {
            width: 100%;
            margin-bottom: 1rem; /* 10px */
          }
          svg {
            stroke: $textColor;
            @include rotate(135deg);
          }
        }
        .btn-activate {
          margin-right: 1rem; /* 10px */
          @include fontSize(18, $rootFontSize);
          padding: 1.8rem 3.5rem 1.8rem 11.5rem;
          @include breakpoint(max, 1199px) {
            padding-left: 6.5rem;
            @include fontSize(16, $rootFontSize);
          }
          @include breakpoint(max, 768px) {
            @include fontSize(13, $rootFontSize);
            padding: 1.4rem 2rem 1.4rem 4.5rem;
          }
          @include breakpoint(max, 400px) {
            width: 100%;
            margin-right: 0;
            margin-top: 1rem; /* 10px */
          }
          svg {
            @include breakpoint(max, 768px) {
              width: 0.7rem; /* 7px */
              height: 0.9rem; /* 9px */
              @include calc(top, "(100% - 0.9rem)/2");
            }
          }
        }
      }
      .total-price {
        span {
          @include fontSize(16, $rootFontSize);
          color: rgba($textColor, 0.8);
          @include breakpoint(max, 768px) {
            @include fontSize(14, $rootFontSize);
          }
          @include breakpoint(max, 500px) {
            @include fontSize(12, $rootFontSize);
          }
          @include breakpoint(max, 400px) {
            display: block;
            width: 100%;
          }
        }
        b {
          @include Number;
          @include fontSize(20, $rootFontSize);
          margin: 0 1.5rem 0 0.5rem; /* 15px 5px */
          color: $textColor;
          @include breakpoint(max, 768px) {
            @include fontSize(17, $rootFontSize);
          }
          @include breakpoint(max, 500px) {
            @include fontSize(14, $rootFontSize);
            margin: 0 1rem 0 0.5rem; /* 10px 5px */
          }
        }
        .amount-profit {
          margin-right: 2rem; /* 20px */
          padding-right: 2rem;
          position: relative;
          @include breakpoint(max, 500px) {
            margin-right: 1rem; /* 10px */
            padding-right: 1rem;
          }
          @include breakpoint(max, 400px) {
            margin-right: 0;
            padding-right: 0;
            margin-top: 1.5rem; /* 15px */
          }
          &:before {
            position: absolute;
            display: block;
            content: "";
            width: 0.3rem; /* 3px */
            height: 0.3rem; /* 3px */
            border-radius: 50%;
            background-color: rgba($textColor, 0.5);
            right: 0;
            @include calc(top, "(100% - 0.3rem)/2");
            @include breakpoint(max, 400px) {
              display: none;
            }
          }
        }
      }
    }
  }
}

.timer-content {
  background: #25294a;
  min-height: 100vh;
  border-top: 0.1rem solid #333857;
  .counter-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 15rem 4rem 13rem 4rem;
    @include breakpoint(max, 768px) {
      padding: 10rem 4rem 9rem 4rem;
    }
    @include breakpoint(max, 500px) {
      padding: 7rem 2rem;
    }
    .timer-icon {
      width: 14.4rem;
      height: 13.7rem;
      object-fit: contain;
      @include breakpoint(max, 768px) {
        width: 12rem;
        height: 11rem;
      }
      @include breakpoint(max, 500px) {
        width: 9rem;
        height: 8rem;
      }
    }
    .counter-holder {
      padding: 1rem 3rem;
      text-align: center;
      border-radius: 3rem;
      background: $red;
      color: #fff;
      font-size: 3.2rem;
      width: 16.5rem;
      margin-top: 2rem;
      @include Number;
      @include breakpoint(max, 768px) {
        font-size: 2.8rem;
      }
      @include breakpoint(max, 500px) {
        font-size: 2rem;
        width: 13.5rem;
      }
      b {
        color: rgba(#fff, 0.3);
      }
      span {
        margin: 0 0.3rem;
      }
    }
    .wait {
      font-size: 2.8rem;
      color: #fff;
      margin-top: 3.5rem;
      @include Heavy;
      @include breakpoint(max, 768px) {
        font-size: 2.4rem;
      }
      @include breakpoint(max, 500px) {
        font-size: 1.8rem;
      }
    }
    .tip {
      font-size: 1.6rem;
      color: rgba(#fff, 0.8);
      margin-top: 1.5rem;
      @include Medium;
      @include breakpoint(max, 768px) {
        font-size: 1.4rem;
      }
      @include breakpoint(max, 500px) {
        font-size: 1.2rem;
      }
    }
  }
  .return-link-content {
    border-top: 0.1rem solid #333857;
    padding: 5rem 4rem 15.5rem 4rem;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @include breakpoint(max, 768px) {
      padding: 5rem 4rem;
    }
    @include breakpoint(max, 500px) {
      padding: 5rem 2rem;
    }
    .desc {
      font-size: 1.6rem;
      text-align: center;
      line-height: 1.3;
      @include breakpoint(max, 768px) {
        font-size: 1.4rem;
      }
      @include breakpoint(max, 500px) {
        font-size: 1.2rem;
      }
    }
    .route {
      li {
        position: relative;
        padding-right: 1.8rem;
        display: inline-block;
        margin-top: 1.5rem;

        &:before {
          position: absolute;
          display: block;
          content: ">";
          top: 0;
          right: 0.6rem;
        }
        &:first-child {
          padding-right: 0;
          &:before {
            display: none;
          }
        }
      }
      a {
        font-size: 1.6rem;
        color: #fff;
        @include breakpoint(max, 768px) {
          font-size: 1.4rem;
        }
        @include breakpoint(max, 500px) {
          font-size: 1.2rem;
        }
      }
    }
    .btn {
      margin-top: 3.5rem;
      color: #fff;
      font-size: 1.8rem;
      @include breakpoint(max, 768px) {
        font-size: 1.4rem;
      }
      svg {
        width: 1rem;
        height: 1.4rem;
        stroke: #fff;
        @include calc(top, "(100% - 1.4rem)/2");
        @include breakpoint(max, 768px) {
          width: 0.6rem;
          height: 1rem;
          @include calc(top, "(100% - 1rem)/2");
        }
      }
    }
  }
}
