.rout-holder {
  @include fontSize(12, $rootFontSize);
  background: $white;
  box-shadow: 0 0.1rem 0.2rem 0 /* 1px 2px */ rgba(#a8c0e2, 0.27);
  padding: 1.5rem 1rem;
  color: rgba($textColor, 0.8);
  @include Medium;
  @include breakpoint(max, 768px) {
    padding: 0.5rem 0;
    display: none;
  }
  .product-rout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .result-count {
      b {
        @include Number;
        color: rgba($textColor, 0.8);
      }
    }
    ul {
      display: flex;
      li {
        display: inline-block;
        position: relative;
        display: flex;
        span {
          display: inline-block;
          position: relative;
          color: $textColor;
          padding: 0.5rem;
          padding-right: 1rem;
          &:before {
            display: block;
            position: absolute;
            content: ">";
            @include fontSize(13, $rootFontSize);
            right: 0rem; /* 0px */
            top: 0.5rem; /* 5px */
          }
        }
        a {
          color: $textColor;
          display: block;
          padding: 0.5rem;
          padding-right: 1rem;
        }
        &:before {
          display: block;
          position: absolute;
          content: ">";
          @include fontSize(13, $rootFontSize);
          right: 0rem; /* 0px */
          top: 0.5rem; /* 5px */
        }
        &:first-child {
          &:before {
            display: none;
          }
        }
      }
    }
  }
}
#archive-content__holder {
  background: #edeef6;
  padding: 0 6%;
  @include breakpoint(max, 1600px) {
    padding: 0 3%;
  }
  @include breakpoint(max, 1370px) {
    padding: 0 2rem;
  }
  @include breakpoint(max, 1110px) {
    padding: 0 1.5rem;
  }
  @include breakpoint(max, 600px) {
    padding: 0;
  }
}
.archive-content {
  padding-top: 3rem; /* 30px */
  padding-bottom: 13rem;
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
  @include breakpoint(max, 870px) {
    padding-bottom: 8rem;
  }
  @include breakpoint(max, 600px) {
    padding-top: 0;
  }
  @include breakpoint(max, 500px) {
    padding-bottom: 4rem;
  }
  @include breakpoint(max, 400px) {
    padding-bottom: 3rem;
  }
}
.filter-section {
  margin-left: 2rem;
  width: 27.5rem;
  $this: &;
  @include breakpoint(max, 1670px) {
    width: 24.5rem;
    margin-left: 1rem;
  }
  @include breakpoint(max, 1470px) {
    margin-left: 1rem;
    width: 23rem;
  }
  @include breakpoint(max, 1200px) {
    width: 21rem;
    margin-left: 0.5rem;
  }
  @include breakpoint(max, 1110px) {
    width: 18rem;
    margin-left: 0.5rem;
  }
  @include breakpoint(max, 991px) {
    @include trans(0.2s);
    padding: 0;
    position: fixed;
    top: 0rem; /* 0px */
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: #fff;
    overflow-y: auto;
    margin-left: 0;
    width: 60%;
    transform: translateX(100%);
    overflow: hidden;
    overflow-y: auto;
  }
  &-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($mainColor, 0.5);
    display: flex;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    content: "";
    z-index: 1;
    @include trans(0.1s);
    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
  .filter-box {
    background: $white;
    overflow: hidden;
    border-radius: 1.1rem;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    @include lightshadow();
    @include breakpoint(max, 991px) {
      font-size: 1.4rem;
      max-width: 40rem;
      box-shadow: none;
      border-radius: 0;
    }
    a,
    a:hover {
      color: $textColor;
    }
    .return-btn {
      @include Heavy;
      display: flex;
      align-items: center;
      svg {
        margin-left: 1rem;
        width: 0.6rem;
        height: 1rem;
        stroke: rgba($textColor, 0.8);
        @include rotate(180deg);
      }
    }
    .filter-box__title {
      @include fontSize(16, $rootFontSize);
      color: $textColor;
    }
    span {
      @include fontSize(12, $rootFontSize);
      color: rgba($textColor, 0.8);
      @include Medium;
    }
    .delete-filter {
      display: flex;
      align-items: center;
      @include fontSize(12, $rootFontSize);
      color: rgba($textColor, 0.8);
      @include Medium;
      svg {
        margin-left: 1rem; /* 10px */
        width: 0.7rem; /* 7px */
        height: 0.7rem; /* 7px */
        stroke: rgba($textColor, 0.8);
      }
    }
  }
  .filter-row {
    padding: 2rem 3.5rem;
    border-bottom: 0.1rem /* 1px */ solid #e8eaf6;
    @include breakpoint(max, 1470px) {
      padding: 2rem;
    }
    @include breakpoint(max, 1110px) {
      padding: 1.5rem;
      font-size: 1.2rem;
    }
    &:last-child {
      border: none;
    }
    &.flex-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  a.filter-row {
    display: block;
  }
  .expandable {
    border-bottom: 0.1rem /* 1px */ solid #e8eaf6;
    &:last-child {
      border: none;
    }
    .filter-row {
      border: none;
    }
    .toggle-title {
      @include trans(0.3s);
      cursor: pointer;
      display: flex;
      align-items: center;
      h2 {
        @include fontSize(16, $rootFontSize);
        margin-bottom: 0;
        @include Bold;
        @include breakpoint(max, 1110px) {
          font-size: 1.4rem;
        }
        span {
          padding-right: 2rem;
          position: relative;
          text-transform: uppercase;
          margin-right: 0.5rem; /* 5px */
          &:before {
            position: absolute;
            display: block;
            content: "";
            width: 1.5rem; /* 15px */
            height: 0.2rem; /* 2px */
            background: rgba($textColor, 0.5);
            right: 0;
            @include calc(top, "(100% - 0.2rem)/2");
          }
          &.rate {
            padding-right: 0;
            &:before {
              display: none;
            }
          }
        }
      }
      svg {
        @include trans(0.3s);
        margin-left: 1rem; /* 10px */
        width: 1rem; /* 10px */
        height: 1rem; /* 10px */
        stroke: rgba($textColor, 0.8);
        @include rotate(-90deg);
      }
      &:hover {
        color: rgba($textColor, 0.5);
      }
    }
    .toggle-content {
      display: none;
      padding-top: 0rem; /* 0px */
      input[type="checkbox"] {
        display: none;
        &:checked {
          + label {
            color: #3f4373;
            .check-box {
              border-color: $red;
              background: $red;
              svg {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
      }
      label {
        @include Bold;
        @include fontSize(14, $rootFontSize);
        text-transform: capitalize;
        display: block;
        padding: 1rem 2.6rem 1rem 0.5rem;
        position: relative;
        margin-bottom: 0.5rem; /* 5px */
        cursor: pointer;
        color: rgba($textColor, 0.8);
        @include breakpoint(max, 1110px) {
          font-size: 1.2rem;
          padding: 0.7rem 1.7rem 0.7rem 0.5rem;
        }
        .check-box {
          @include trans(0.3s);
          position: absolute;
          margin-left: 0.8rem;
          width: 1.7rem;
          height: 1.7rem;
          border-radius: 0.3rem;
          border: 0.2rem solid rgba(#3f4373, 0.3);
          right: 0;
          @include calc(top, "(100% - 1.7rem)/2");
          @include breakpoint(max, 1110px) {
            width: 1.3rem;
            height: 1.3rem;
            @include calc(top, "(100% - 1.3rem)/2");
          }
          svg {
            opacity: 0;
            visibility: hidden;
            width: 1.1rem;
            height: 1.1rem;
            position: absolute;
            stroke: #fff;
            @include trans(0.3s);
            @include calc(top, "(100% - 1.1rem)/2");
            @include calc(left, "(100% - 1.1rem)/2");
          }
        }
      }
      .slider-holder {
        margin: 1.5rem 0 2.5rem 0; /* 15px 25px */
      }
      .input-price-holder {
        padding: 0 1rem;
        border-radius: 1.7rem; /* 17px */
        border: 0.2rem /* 2px */ solid #e8eaf6;
        height: 3.5rem; /* 35px */
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include fontSize(12, $rootFontSize);
        .input-holder {
          position: relative;
          height: 100%;
        }
        input {
          @include trans(0.3s);
          @include Number;
          width: 7rem; /* 70px */
          text-align: center;
          @include fontSize(12, $rootFontSize);
          height: 100%;
          border-bottom: 0.2rem /* 2px */ solid transparent;
          margin-top: 0.2rem; /* 2px */
          background: transparent;
          @include placeholder(rgba($textColor, 0.8), 1.2rem);
          &:focus {
            border-bottom-color: $red;
          }
        }
      }
    }
    &.open {
      .toggle-title {
        svg {
          @include rotate(90deg);
        }
      }
    }
  }
  .close-filter {
    width: 3rem;
    height: 3rem;
    position: relative;
    margin: 1.5rem;
    display: none;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      stroke: $red;
      @include calc(top, "(100% - 1.5rem)/2");
      @include calc(left, "(100% - 1.5rem)/2");
    }
  }
  &.responsive {
    transform: translateX(0);
    .close-filter {
      display: block;
    }
    &::after {
      right: 0;
    }
  }
}
.archive-result {
  margin: auto;
  @include calc(width, "(100% - 28rem)");
  @include breakpoint(max, 1670px) {
    @include calc(width, "(100% - 25rem)");
  }
  @include breakpoint(max, 1470px) {
    @include calc(width, "(100% - 24rem)");
  }
  // @include breakpoint(max, 1370px) {
  //   @include calc(width, "(100% - 35rem)");
  // }
  // @include breakpoint(max, 1320px) {
  //   @include calc(width, "(100% - 31rem)");
  // }

  @include breakpoint(max, 1200px) {
    @include calc(width, "(100% - 22rem)");
  }
  @include breakpoint(max, 1110px) {
    @include calc(width, "(100% - 18.5rem)");
  }
  @include breakpoint(max, 991px) {
    width: 69rem;
  }
  @include breakpoint(max, 767px) {
    width: 57rem;
  }
  @include breakpoint(max, 600px) {
    width: 100%;
  }

  .more-product {
    width: 100%;
    text-align: center;
    margin-top: 2rem; /* 20px */
    .btn {
      @include Bold;
      font-size: 1.8rem;
      border-color: #888a9e;
      @include breakpoint(max, 768px) {
        font-size: 1.6rem;
      }
      @include breakpoint(max, 600px) {
        font-size: 1.4rem;
      }
      svg {
        @include rotate(-90deg);
      }
    }
  }
}
.sort-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0 1.5rem;
  @include calc(margin-left, "(100% - 112rem)/8");
  @include calc(margin-right, "(100% - 112rem)/8");
  @include breakpoint(max, 1450px) {
    @include calc(margin-left, "(100% - 100rem)/8");
    @include calc(margin-right, "(100% - 100rem)/8");
  }
  @include breakpoint(max, 1300px) {
    @include calc(margin-left, "(100% - 88rem)/8");
    @include calc(margin-right, "(100% - 88rem)/8");
  }
  @include breakpoint(max, 1199px) {
    @include calc(margin-left, "(100% - 66rem)/6");
    @include calc(margin-right, "(100% - 66rem)/6");
  }
  @include breakpoint(max, 991px) {
    @include calc(margin-left, "(100% - 66rem)/8");
    @include calc(margin-right, "(100% - 66rem)/8");
  }
  @include breakpoint(max, 767px) {
    margin-left: 0;
    margin-right: 0;
  }
  @include breakpoint(max, 991px) {
    flex-direction: column;
  }
  @include breakpoint(max, 550px) {
    padding: 0;
  }
  .sortby {
    display: flex;
    align-items: center;
    //padding-right: 2rem;
    font-size: 1.6rem;
    color: #3f4373;
    @include Medium;
    @include breakpoint(max, 991px) {
      width: 100%;
    }
    @include breakpoint(max, 600px) {
      padding: 0 1.5rem;
    }
    @include breakpoint(max, 500px) {
      @include fontSize(12, $rootFontSize);
    }
    .sort-icon {
      width: 1rem;
      height: 1rem;
      stroke: #b5bbe7;
      margin-left: 1rem;
    }
  }
  .sort-holder {
    position: relative;
    padding: 1.3rem 3rem 1.2rem 4.5rem;
    border-radius: 3rem;
    background: $white;
    font-size: 1.4rem;
    position: relative;
    color: rgba($textColor, 0.8);
    cursor: pointer;
    margin-right: 1.5rem;
    @include lightshadow();
    @include Heavy;
    @include breakpoint(max, 400px) {
      @include Bold;
      font-size: 1.2rem;
      padding: 1rem 2rem 1rem 3.5rem;
    }
    .arrow {
      stroke: rgba($textColor, 0.6);
      position: absolute;
      width: 0.6rem;
      height: 1rem;
      left: 2rem;
      display: none;
      @include rotate(-90deg);
      @include calc(top, "(100% - 1rem)/2");

      display: block;
    }
    .select-item {
      position: absolute;
      width: 100%;
      top: 4rem; /* 45px */
      left: 0;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      @include lightshadow;
      @include breakpoint(max, 400px) {
        top: 3.3rem;
      }
    }
    &:hover {
      .select-item {
        opacity: 1;
        visibility: visible;
        z-index: 2;
      }
    }
  }
  .open-filter {
    display: none;
    width: 3.4rem;
    height: 3.4rem;
    background: #25294a;
    color: $white;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    margin-right: auto;
    @include Bold;
    @include breakpoint(max, 991px) {
      display: block;
    }
    svg {
      position: absolute;
      width: 1.6rem; /* 20px */
      height: 1.8rem; /* 18px */
      stroke: $white;
      @include calc(top, "(100% - 1.8rem)/2");
      @include calc(left, "(100% - 1.6rem)/2");
    }
  }
  .all-product {
    svg {
      @include breakpoint(max, 1199px) {
        display: none;
      }
    }
  }
  input[type="radio"] {
    display: none;
    &:checked {
      + label {
        background: $textColor;
        color: #b5bbe7;
        @include breakpoint(max, 1199px) {
          background: $white;
          color: $textColor;
        }
        svg {
          stroke: #b5bbe7;
        }
      }
    }
  }
  label {
    cursor: pointer;
    padding: 1rem 2rem;
    background: $white;
    border-radius: 1.7rem; /* 17px */
    margin-right: 1rem; /* 10px */
    @include trans(0.3s);
    @include lightshadow();

    display: block;
    border-bottom: 0.1rem /* 1px */ solid rgba($textColor, 0.03);
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    padding: 1.5rem 1rem;
    // }
    svg {
      @include trans(0.3s);
      width: 1rem; /* 10px */
      height: 1rem; /* 10px */
      display: inline-block;
      vertical-align: middle;
      margin-left: 0.5rem; /* 5px */
      stroke: $textColor;
    }
  }
}
.result-wrapper {
  margin-top: 3rem; /* 30px */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  @include breakpoint(max, 600px) {
    padding: 0 1.5rem;
  }
  .card-product {
    margin-bottom: 2.2rem; /* 22px */
    @include calc(margin-left, "(100% - 113rem)/10");
    @include calc(margin-right, "(100% - 113rem)/10");
    @include breakpoint(max, 1500px) {
      @include calc(margin-left, "(100% - 100rem)/10");
      @include calc(margin-right, "(100% - 100rem)/10");
    }
    @include breakpoint(max, 1370px) {
      @include calc(margin-left, "(100% - 80rem)/8");
      @include calc(margin-right, "(100% - 80rem)/8");
    }
    @include breakpoint(max, 1130px) {
      @include calc(margin-left, "(100% - 76rem)/8");
      @include calc(margin-right, "(100% - 76rem)/8");
    }
    @include breakpoint(max, 991px) {
      @include calc(margin-left, "(100% - 57rem)/6");
      @include calc(margin-right, "(100% - 57rem)/6");
    }
    @include breakpoint(max, 768px) {
      @include calc(margin-left, "(100% - 54rem)/6");
      @include calc(margin-right, "(100% - 54rem)/6");
    }
    @include breakpoint(max, 600px) {
      margin: 0 0 1rem 0;
    }
  }
  // .product-card {
  //   margin-bottom: 1rem;
  //   @include calc(margin-left, "(100% - 112rem)/8");
  //   @include calc(margin-right, "(100% - 112rem)/8");
  //   @include breakpoint(max, 1450px) {
  //     @include calc(margin-left, "(100% - 100rem)/8");
  //     @include calc(margin-right, "(100% - 100rem)/8");
  //   }
  //   @include breakpoint(max, 1300px) {
  //     @include calc(margin-left, "(100% - 88rem)/8");
  //     @include calc(margin-right, "(100% - 88rem)/8");
  //   }
  //   @include breakpoint(max, 1199px) {
  //     @include calc(margin-left, "(100% - 66rem)/6");
  //     @include calc(margin-right, "(100% - 66rem)/6");
  //   }
  //   @include breakpoint(max, 991px) {
  //     @include calc(margin-left, "(100% - 66rem)/8");
  //     @include calc(margin-right, "(100% - 66rem)/8");
  //   }
  //   @include breakpoint(max, 767px) {
  //     @include calc(margin-left, "(100% - 49.5rem)/6");
  //     @include calc(margin-right, "(100% - 49.5rem)/6");
  //   }
  //   @include breakpoint(max, 600px) {
  //     margin-right: 0;
  //     margin-left: 0;
  //   }
  // }
}
.noUi-horizontal .noUi-handle {
  width: 1.4rem; /* 14px */
  height: 2rem; /* 20px */
  @include breakpoint(max, 768px) {
    right: -100% !important;
  }
}

.noUi-handle:after,
.noUi-handle:before {
  display: none;
}

.noUi-horizontal {
  height: 0.3rem /* 3px */ !important;
}

.noUi-target {
  background: #e8ecf8;
  box-shadow: unset;
  border: none !important;
  border-radius: 0 !important;
}

.noUi-connect {
  background: $red;
}

.noUi-horizontal .noUi-handle {
  width: 0.7rem; /* 7px */
  height: 0.9rem; /* 9px */
  background: $red;
  border-radius: 0;
  border: $red;
  box-shadow: unset;
  position: relative;
  &:before {
    display: block;
    position: absolute;
    content: "";
    width: 0.7rem; /* 7px */
    height: 0.7rem; /* 7px */
    background: $red;
    transform: rotate(45deg);
  }
  &.noUi-handle-lower {
    &:before {
      top: 0.1rem; /* 1px */
      left: -0.3rem /* -3px */ !important;
    }
  }
  &.noUi-handle-upper {
    &:before {
      top: 0.1rem /* 1px */ !important;
      left: 0.3rem /* 3px */ !important;
    }
  }
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -1.4rem; /* -14px */
}

.noUi-horizontal .noUi-handle {
  top: -0.3rem; /* -3px */
}

#product-result {
  &.loading {
    opacity: 0.8;
  }
}

#product-result-wrapper {
  &:not(img)::before {
    top: 10rem; /* 100px */
    width: 6rem; /* 60px */
    height: 6rem; /* 60px */
    border-color: $mainColor;
    border-top-color: transparent;
    z-index: 2;
  }
  &.loading {
    &::after {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
    .product-carousel {
      opacity: 0.2;
      pointer-events: none;
    }
    .product-result {
      opacity: 0.2;
      pointer-events: none;
    }
  }
}

.result-search {
  width: 40%;
  border-radius: 2.7rem;
  background: #fff;
  position: relative;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(#a8c0e2, 0.27),
    0 0.2rem 0.5rem 0 rgba(#a8c0e2, 0.19);
  @include breakpoint(max, 991px) {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  @include breakpoint(max, 600px) {
    background: #26294a;
    border-radius: 0;
  }
  input[type="text"] {
    width: 100%;
    background: transparent;
    padding: 1.5rem 4rem 1.5rem 6rem;

    @include fontSize(16, $rootFontSize);
    @include placeholder(rgba($mainColor, 0.5), 1.6rem);
    @include breakpoint(max, 991px) {
      padding: 1.5rem 3.5rem 1.5rem 4rem;
      @include fontSize(14, $rootFontSize);
      @include placeholder(rgba($mainColor, 0.5), 1.4rem);
    }
    @include breakpoint(max, 600px) {
      background: #fff;
      border-radius: 1rem 1rem 0 0;
    }
  }
  svg {
    width: 1.8rem; /* 18px */
    height: 1.8rem; /* 18px */
    position: absolute;
    left: 3rem; /* 30px */
    fill: $mainColor;
    overflow: visible;
    @include calc(top, "(100% - 1.8rem)/2");
    @include breakpoint(max, 991px) {
      left: 2rem; /* 20px */
      width: 1.5rem; /* 15px */
      height: 1.5rem; /* 15px */
      @include calc(top, "(100% - 1.5rem)/2");
    }
  }
  // &:before {
  //   position: absolute;
  //   display: block;
  //   content: "";
  //   width: 100%;
  //   height: 50%;
  //   top: 0;
  //   left: 0;
  //   background: #26294a;
  //   z-index: 0;
  //   opacity: 0;
  //   @include breakpoint(max, 600px) {
  //     opacity: 1;
  //   }
  // }
}
