.pageTitleBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0 2rem;
  .titleDetails {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include breakpoint(max, 599px) {
      width: 100%;
      justify-content: center;
      margin-bottom: 1rem; /* 10px */
    }
    .icon {
      width: 2.5rem; /* 25px */
      height: 2.5rem; /* 25px */
      fill: rgba($textColor, 0.3);
      margin-left: 2rem; /* 20px */
      @include breakpoint(max, 599px) {
        margin-bottom: 1rem; /* 10px */
      }
    }
    .title {
      @include fontSize(26, $rootFontSize);
      margin-left: 2rem; /* 20px */
      margin-bottom: 0;
      @include Heavy;
      @include breakpoint(max, 767px) {
        @include fontSize(21, $rootFontSize);
      }
      @include breakpoint(max, 599px) {
        margin-left: 0;
        @include fontSize(19, $rootFontSize);
      }
    }
    .subTitle {
      @include fontSize(16, $rootFontSize);
      color: rgba($textColor, 0.7);
      margin-bottom: 0;
      margin-left: 1rem; /* 10px */
      @include Medium;
      @include breakpoint(max, 767px) {
        @include fontSize(14, $rootFontSize);
      }
      @include breakpoint(max, 599px) {
        margin-left: 0;
      }
    }
  }

  .dashBreadcrumb {
    @include breakpoint(max, 599px) {
      width: 100%;
      text-align: center;
      margin-top: 1.6rem; /* 16px */
    }
    a {
      color: rgba($textColor, 0.7);
      @include fontSize(12, $rootFontSize);
      margin-left: 0.3rem; /* 3px */
      &:hover {
        color: $mainColor;
      }
    }
  }
}

.inputLabel {
  display: block;
  margin-bottom: 1rem; /* 10px */
  @include fontSize(14, $rootFontSize);
  color: rgba($textColor, 0.6);
  padding-right: 1.5rem;
  @include Bold;
  &.hidden {
    opacity: 0;
  }
}
.inputGroup {
  position: relative;
  input {
    padding: 2rem 2.5rem;
    padding-left: 4rem;
    border-radius: 4.5rem; /* 45px */
    background: #fff;
    border: 0.2rem /* 2px */ solid rgba($textColor, 0.25);
    @include fontSize(18, $rootFontSize);
    color: rgba($textColor, 0.8);
    height: 5.3rem; /* 53px */
    width: 100%;
    @include Bold;
    @include transition(all, 0.4s);
    @include placeholder($mainColor, 1.8rem);
    @include breakpoint(max, 1199px) {
      @include placeholderSize(15px);
    }
    @include breakpoint(max, 575px) {
      padding: 1.5rem 2rem;
      padding-left: 4rem;
      height: 4.8rem; /* 48px */
      @include fontSize(13, $rootFontSize);
      @include placeholderSize(13px);
    }
    &:focus {
      border-color: $red;
      color: $mainColor;
      & + svg {
        stroke: $red;
      }
    }
  }
  svg {
    position: absolute;
    top: 2rem; /* 20px */
    left: 2.5rem; /* 25px */
    width: 1.3rem; /* 13px */
    height: 1.3rem; /* 13px */
    stroke: rgba($textColor, 0.25);
    @include calc(top, "(100% - 1.3rem)/2");
    @include breakpoint(max, 575px) {
      left: 2rem; /* 20px */
    }
  }
}

.authForm {
  padding: 4.5rem;
  @include breakpoint(max, 575px) {
    padding: 3rem 1.5rem;
  }
  .inputGroup {
    margin-bottom: 2rem; /* 20px */
  }
  .submitBtn {
    border-radius: 4.5rem; /* 45px */
    background: $mainColor;
    color: #fff;
    padding: 2rem 2.5rem;
    height: 5.3rem; /* 53px */
    @include fontSize(16, $rootFontSize);
    border: none;

    @include Bold;
    @include transition(all, 0.4s);
    @include breakpoint(max, 500px) {
      justify-self: center;
      margin: auto;
    }
    @include breakpoint(max, 350px) {
      width: 100%;
    }
    &:hover {
      background: $textColor;
      color: #fff;
    }
    svg {
      width: 1.5rem; /* 15px */
      height: 1.5rem; /* 15px */
      margin-right: 5rem; /* 50px */
      stroke: #fff;
    }
    &:disabled {
      background: #d3d4da !important;
      color: #fff;
      cursor: not-allowed;
    }
    &.red {
      background: $red;
    }
    &.white {
      background: #ffff;
      border: 0.2rem /* 2px */ solid rgba($textColor, 0.4);
      color: rgba($textColor, 0.7);
      &:hover {
        background: $textColor;
        color: #fff;
      }
    }
    &.green {
      background: $green;
    }
    &.phoneSubmit {
      @include fontSize(13, $rootFontSize);
      text-align: center;
      padding: 2rem 0.7rem;
    }
  }
  .submitRow {
    margin-top: 5rem;
    @include breakpoint(max, 1199px) {
      margin-top: 1rem;
    }
  }
  .phoneDiv {
    @include breakpoint(max, 767px) {
      padding-bottom: 2.5rem;
      margin-bottom: 2.5rem; /* 25px */
      border-bottom: 0.2rem /* 2px */ solid rgba($textColor, 0.1);
    }
    .verifiedIcon {
      display: none;
    }
    &.verified {
      input[type="text"] {
        padding-right: 5.5rem;
      }
      .verifiedIcon {
        display: block;
        left: unset;
        right: 2.5rem; /* 25px */
        top: 1.6rem; /* 16px */
        width: 2rem; /* 20px */
        height: 2rem; /* 20px */
      }
      .submitBtn {
        background: $green !important;
        cursor: default !important;
      }
    }
  }
}

.upload {
  height: 28rem; /* 280px */
  position: relative;
  @include breakpoint(max, 767px) {
    margin-top: 1.5rem; /* 15px */
  }
  input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    &:hover + .assets,
    &:focus + .assets {
      border-color: $red;
    }
  }
  .assets {
    border-radius: 4.5rem; /* 45px */
    border: 0.2rem /* 2px */ dashed rgba($textColor, 0.2);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba($textColor, 0.7);
    @include fontSize(12, $rootFontSize);
    height: 100%;
    text-align: center;
    @include Bold;
    @include transition(all, 0.4s);
    .icon {
      width: 3rem; /* 30px */
      height: 3rem; /* 30px */
      stroke: rgba($textColor, 0.6);
      margin-bottom: 2rem; /* 20px */
    }
    h4 {
      @include fontSize(18, $rootFontSize);
      color: $mainColor;
      margin-bottom: 1rem; /* 10px */
      @include Bold;
    }
    .submitBtn {
      margin-bottom: 1.5rem; /* 15px */
      margin-top: 1.5rem; /* 15px */
    }
  }
}

.vrfModalContent {
  padding: 4rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba($textColor, 0.6);
  @include fontSize(14, $rootFontSize);
  .time {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem; /* 20px */
    width: 100%;
    @include Number;
  }
  .iconHolder {
    width: 8rem; /* 80px */
    height: 8rem; /* 80px */
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($textColor, 0.1);
    border-radius: 50%;
    margin-bottom: 1rem; /* 10px */
    .icon {
      width: 5rem; /* 50px */
      height: 5rem; /* 50px */
      border-radius: 50%;
      background: $mainColor;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 3rem; /* 30px */
        height: 3rem; /* 30px */
        fill: #fff;
        stroke: #fff;
      }
    }
  }
  .bold {
    @include fontSize(16, $rootFontSize);
    color: $mainColor;
    @include Heavy;
  }
  .inputGroup {
    margin: 3rem 0; /* 30px */
    input {
      text-align: center;
    }
  }
}
