body.digbody {
  font-family: $font-family, $fontEn;
  color: $textColor;
  overflow-x: hidden !important;
  @include fontSize(13, $rootFontSize);
  direction: rtl;
  background-color: #f7f8ff !important;
  line-height: 1 !important;
  text-align: right !important;
}
.main-hero.auth {
  padding: 6rem;
  padding-bottom: 0;
  flex-direction: column;
  justify-content: center;
  .wave-top {
    top: -85%;
    opacity: 0.1;
  }
  .wave-holder .wave-bottom {
    opacity: 0.1;
  }
  .hero-title {
    font-family: "YekanBakh" !important;
    font-weight: 600 !important;
    color: #fff !important;
  }
}

.main-hero.auth {
  .igameLogin {
    max-width: 100rem; /* 1000px */
    min-width: 37.5rem; /* 375px */
    margin: auto;
    position: relative;
    z-index: 2;
    .inputGroup {
      margin: 2.5rem 0; /* 25px */
      .label {
        color: #fff !important;
        opacity: 0.6 !important;
        font-family: "YekanBakh" !important;
        padding: 0 !important;
        margin: 0 !important;
        margin-bottom: 0.5rem !important;
        position: static;
        left: auto;
        right: auto;
        bottom: auto;
        top: auto;
      }
    }
    input[type="text"] {
      background: #fff !important;
      padding: 1.5rem 3.5rem !important;
      border: none !important;
      border-radius: 4rem /* 40px */ !important;
      display: block !important;
      @include fontSize(27, $rootFontSize);
      width: 100% !important;
      font-family: "YekanBakh" !important;
      color: $mainColor !important;
      margin: 0 !important;
      @include Heavy;
      @include placeholder(rgba($textColor, 0.5), 2.2rem);
    }
  }
  .btn {
    position: relative;
    align-items: center;
    cursor: pointer;
    border-radius: 3rem; /* 30px */
    display: inline-block;
  }
  .btn--large {
    padding: 1.8rem 3rem;
    @include fontSize(20, $rootFontSize);
    @include Bold;
    @include breakpoint(max, 1300px) {
      padding: 1.5rem 3rem;
      @include fontSize(17, $rootFontSize);
    }
    @include breakpoint(max, 991px) {
      padding: 1.4rem 2rem;
      @include fontSize(14, $rootFontSize);
    }
  }
  .btn--red {
    background: $red !important;
    color: $white !important;
    @include boxShadow(0, 8px, 27px, 0, rgba($red, 0.23));
    svg {
      stroke: $white !important;
    }
    margin: 0 !important;
  }
  .btn--text--right {
    padding-left: 7.5rem;
    margin-right: auto !important;
    display: block;
    @include breakpoint(max, 1300px) {
      padding-left: 7.5rem;
    }
    @include breakpoint(max, 991px) {
      padding-left: 5rem;
    }
    svg {
      width: 1rem; /* 10px */
      height: 1.4rem; /* 14px */
      position: absolute;
      left: 3rem; /* 30px */
      @include calc(top, "(100% - 1.4rem)/2");
      @include breakpoint(max, 991px) {
        left: 2rem; /* 20px */
        width: 0.8rem; /* 8px */
        height: 1.2rem; /* 12px */
        @include calc(top, "(100% - 1.2rem)/2");
      }
    }
  }
}

.digloginpage {
  width: 100% !important;
  .btn--red,
  .submitBtn {
    width: 24rem /* 240px */ !important;
    font-family: "YekanBakh" !important;
    position: relative !important;
    display: flex;
    flex: 0 0 auto;
    align-self: flex-end;
    margin-top: 0 !important;
    margin-bottom: 1rem /* 10px */ !important;
  }
}
.dig_ma-box .button[type="submit"],
.dig_ma-box .transupbutton[type="submit"] {
  height: auto;
}
.dig_ma-box .button[type="submit"] {
  line-height: 1;
}
.dig_logof_reg_resend {
  margin-top: 1.5rem; /* 15px */
}
.igameLogin {
  .btn--red {
    width: 24rem /* 240px */ !important;
    font-family: "YekanBakh" !important;
    position: relative !important;
    display: flex;
    flex: 0 0 auto;
    align-self: flex-end;
    margin-top: 0 !important;
    margin-bottom: 1rem /* 10px */ !important;
  }
}

.dig_clg_bx {
  top: 0 !important;
}

.dig_resendotp {
  display: block;
  color: #fff;
  opacity: 0.6;
  text-align: left !important;
}

.minput {
  z-index: 2;
  display: flex;
  flex-direction: column;
}

footer.copyright {
  overflow: hidden;
  background: $mainColor;
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // width: 100%;
  // padding: 0;
  // padding-bottom: 3rem; /* 30px */
}

.dig_clg_bx {
  opacity: 1 !important;
}

.dig_popmessage {
  direction: rtl !important;
  text-align: right !important;
}

.dig_lasele {
  right: 9rem /* 90px */ !important;
  left: auto !important;
}

.dig_load_overlay {
  background: rgba(6, 6, 6, 0.4) !important;
  & + .dig_load_overlay {
    display: none !important;
  }
}

//  modal
.dig-modal-con-reno {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
}

#dig-ucr-container .dig_ul_divd {
  direction: ltr;
}

.dig_ma-box .bgdark,
.dig_ma-box .bgdark[type="submit"] {
  border-radius: 4.5rem; /* 45px */
}

.dig_pgmdl_2 .minput .countrycodecontainer input,
.dig_pgmdl_2 .minput input[type="date"],
.dig_pgmdl_2 .minput input[type="number"],
.dig_pgmdl_2 .minput input[type="password"],
.dig_pgmdl_2 .minput textarea,
.dig_pgmdl_2 .minput input[type="text"] {
  border-radius: 4.5rem; /* 45px */
  font-family: YekanBakhNum !important;
}

.dig_ma-box,
.dig_ma-box *,
.dig_ma-box ::placeholder,
.dig_ma-box button,
.dig_ma-box input,
.dig_ma-box input::placeholder,
.dig_ma-box label,
.dig_ma-box select {
  font-family: YekanBakh !important;
}

.dig_pgmdl_2 .signdesc {
  text-align: center;
  font-size: 0;
  border-top: 0.1rem /* 1px */ solid rgba($textColor, 0.1);
  margin-top: 1.5rem /* 15px */ !important;
  margin-bottom: 0 !important;
  &::before {
    content: "یا";
    position: relative;
    display: block;
    text-align: center;
    @include fontSize(14, $rootFontSize);
    line-height: 1;
    bottom: 0.5rem; /* 5px */
    background: #fff;
    width: 4rem; /* 40px */
    margin: auto;
    @include Medium;
  }
}

.digits_login .signupbutton {
  border-radius: 4.5rem /* 45px */ !important;
}

.digloginpage::before,
.digits_register::before {
  position: relative;
  content: "شماره موبایل خود را وارد کنید";
  display: block;
  margin-bottom: 0;
  @include fontSize(14, $rootFontSize);
  font-weight: 300;
  text-align: right;
  line-height: 0.1;
  padding: 0 1.8rem;
}

.dig-signup-otp {
  padding: 1.4rem !important;
}

.dig_verify_code_contents .dig_logof_log_resend {
  color: #bfbfbf;
  text-align: center !important;
  margin: 0 auto;
  margin-top: 1rem; /* 10px */
}
