.cart-content {
  min-height: 70vh;
  padding: 3.5rem 0 10rem 0;
  &.activation-method-content {
    padding-top: 9.5rem;
    @include breakpoint(max, 1199px) {
      padding-top: 7rem;
    }
    @include breakpoint(max, 991px) {
      padding-top: 5rem;
    }
  }
  .col-lg-3 {
    @include breakpoints(992px, 1200px) {
      padding: 0 0 0 1rem;
    }
  }
}
.notification-holder {
  .notify-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3.5rem; /* 35px */
    padding: 2rem 6rem;
    background: $white;
    margin-bottom: 2rem; /* 20px */
    flex-wrap: wrap;
    position: relative;
    @include lightshadow;
    @include breakpoint(max, 768px) {
      padding: 1.5rem 4rem;
    }
    .notify-icon {
      width: 2.4rem; /* 24px */
      height: 2.2rem; /* 22px */
      position: absolute;
      right: 2rem; /* 20px */
      @include calc(top, "(100% - 2.2rem)/2");
      @include breakpoint(max, 991px) {
        width: 1.8rem; /* 18px */
        height: 1.8rem; /* 18px */
      }
      @include breakpoint(max, 768px) {
        right: 1.2rem; /* 12px */
      }
    }
    .notify-text {
      @include Heavy;
      @include fontSize(18, $rootFontSize);
      // margin-right: 1.5rem; /* 15px */
      @include breakpoint(max, 991px) {
        @include fontSize(15, $rootFontSize);
        //margin-right: 1rem; /* 10px */
      }
      @include breakpoint(max, 600px) {
        @include fontSize(12, $rootFontSize);
        width: 100%;
      }
    }
    .notify-caption {
      @include Medium;
      margin-right: 1.5rem; /* 15px */
      @include fontSize(16, $rootFontSize);
      color: #8c90b1;
      @include breakpoint(max, 991px) {
        @include fontSize(13, $rootFontSize);
      }
      @include breakpoint(max, 600px) {
        width: 100%;
        margin-top: 1rem; /* 10px */
        @include fontSize(10, $rootFontSize);
        text-align: right;
        margin-right: 0;
      }
    }
    .notify-close {
      padding-right: 2rem;
      position: absolute;
      left: 2rem; /* 20px */
      @include calc(top, "(100% - 1rem)/2");
      @include breakpoint(max, 991px) {
        padding-right: 1rem;
      }
      svg {
        width: 0.9rem; /* 9px */
        height: 0.9rem; /* 9px */
        stroke: $textColor;
      }
      &:before {
        position: absolute;
        display: block;
        content: "";
        width: 0.1rem; /* 1px */
        height: 4rem; /* 40px */
        right: 0;
        background: #eef2fa;
        @include calc(top, "(100% - 4rem)/2");
      }
    }
  }
}
.cart-item__list {
  border-radius: 1rem; /* 10px */
  background: $white;
  @include lightshadow;
  .cart-item-count {
    padding: 1rem 3rem;
    border-bottom: 0.1rem /* 1px */ solid #e8ecf8;
    color: rgba($textColor, 0.8);
    @include fontSize(12, $rootFontSize);
    @include breakpoint(max, 500px) {
      padding: 0.7rem 2rem;
    }
    span {
      @include Number;
    }
  }
  .cart-item {
    padding: 3rem 20rem 4rem 4rem;
    display: flex;
    border-bottom: 0.1rem /* 1px */ solid #e2e8f5;
    flex-direction: column;
    position: relative;
    @include breakpoint(max, 1199px) {
      padding: 3rem 17rem 3rem 2rem;
    }
    @include breakpoint(max, 768px) {
      padding: 2rem 15.5rem 2rem 2rem;
    }
    @include breakpoint(max, 500px) {
      padding: 1.5rem 12.5rem 1.5rem 1.5rem;
    }
    @include breakpoint(max, 450px) {
      padding: 2.5rem 1rem 1rem 1rem;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .product-img {
      background: #fff;
      width: 13.1rem; /* 131px */
      height: 17.7rem; /* 177px */
      position: absolute;
      right: 3rem; /* 30px */
      overflow: hidden;
      @include calc(top, "(100% - 17.7rem)/2");
      @include breakpoint(max, 1199px) {
        right: 2rem; /* 20px */
      }
      @include breakpoint(max, 768px) {
        width: 12rem; /* 120px */
        height: 16rem; /* 160px */
        right: 1.5rem; /* 15px */
        @include calc(top, "(100% - 16rem)/2");
      }
      @include breakpoint(max, 500px) {
        width: 10rem; /* 100px */
        height: 14rem; /* 140px */
        right: 1rem; /* 10px */
        @include calc(top, "(100% - 14rem)/2");
      }
      @include breakpoint(max, 450px) {
        width: 5rem; /* 50px */
        height: 7rem; /* 70px */
        position: relative;
        right: unset;
        top: unset;
        margin-left: 1rem; /* 10px */
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .cover-img {
        @include trans(0.3s);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba($mainColor, 0.8);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        padding: 1rem 1rem 3.5rem 1rem;
        opacity: 0;
        visibility: hidden;
        @include breakpoint(max, 500px) {
          padding: 1rem;
        }
        @include breakpoint(max, 450px) {
          display: none;
        }
        .icon {
          padding: 0.7rem 2rem;
          border-radius: 1.6rem; /* 16px */
          border: 0.2rem /* 2px */ solid #76768a;
          margin-bottom: 1rem; /* 10px */
          @include breakpoint(max, 500px) {
            padding: 0.3rem 1rem;
          }
          svg {
            width: 1.3rem; /* 13px */
            height: 1.3rem; /* 13px */
            stroke: $white;
            @include breakpoint(max, 500px) {
              width: 1rem; /* 10px */
              height: 1rem; /* 10px */
            }
          }
        }
        .caption {
          padding: 0.7rem 1.5rem;
          border-radius: 1.6rem; /* 16px */
          background: $white;
          color: $textColor;
          @include breakpoint(max, 500px) {
            padding: 0.5rem 1rem;
            @include fontSize(10, $rootFontSize);
          }
        }
      }
      &:hover {
        .cover-img {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .delete-product {
      width: 4.5rem; /* 45px */
      height: 3rem; /* 30px */
      border-radius: 1.5rem; /* 15px */
      border: 0.2rem /* 2px */ solid #d5d7ee;
      position: absolute;
      left: 6rem; /* 60px */
      top: 3rem; /* 30px */
      @include breakpoint(max, 1199px) {
        left: 2rem; /* 20px */
        top: 2rem; /* 20px */
      }
      @include breakpoint(max, 768px) {
        width: 3rem; /* 30px */
        height: 3rem; /* 30px */
      }
      @include breakpoint(max, 500px) {
        width: 2.5rem; /* 25px */
        height: 2.5rem; /* 25px */
        left: 0.7rem; /* 7px */
        top: 0.7rem; /* 7px */
      }
      svg {
        width: 0.9rem; /* 9px */
        height: 0.9rem; /* 9px */
        stroke: $textColor;
        position: absolute;
        @include calc(top, "(100% - 0.9rem)/2");
        @include calc(left, "(100% - 0.9rem)/2");
        @include breakpoint(max, 768px) {
          width: 0.7rem; /* 7px */
          height: 0.7rem; /* 7px */
          @include calc(top, "(100% - 0.7rem)/2");
          @include calc(left, "(100% - 0.7rem)/2");
        }
      }
    }
    .product-detail {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include calc(width, "(100% - 15rem)");
      @include breakpoint(max, 500px) {
        @include calc(width, "(100% - 12rem)");
      }
      @include breakpoint(max, 450px) {
        width: 100%;
      }
    }
    .product-name {
      @include fontSize(18, $rootFontSize);
      @include calc(width, "(100% - 8rem)");
      @include breakpoint(max, 768px) {
        @include fontSize(15, $rootFontSize);
      }
      @include breakpoint(max, 500px) {
        @include fontSize(14, $rootFontSize);
        line-height: 1.5;
        @include calc(width, "(100% - 4rem)");
      }
      @include breakpoint(max, 450px) {
        @include calc(width, "(100% - 9rem)");
      }
      .name-caption {
        display: block;
        @include fontSize(13, $rootFontSize);
        color: rgba($textColor, 0.7);
        margin-top: 0.5rem; /* 5px */
        @include Medium;
        @include breakpoint(max, 768px) {
          @include fontSize(11, $rootFontSize);
        }
        @include breakpoint(max, 500px) {
          margin-top: 0;
        }
      }
    }
    .item-bottom {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 6rem; /* 60px */
      @include breakpoint(max, 450px) {
        margin-top: 1rem; /* 10px */
        width: 100%;
      }
      .product-platform {
        justify-self: flex-start;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .platform-icon {
          border: 0.2rem /* 2px */ solid #d5d7ee;
          border-radius: 2rem; /* 20px */
          text-transform: uppercase;
          padding: 1.1rem 1.5rem 0.4rem 4rem;
          position: relative;
          @include breakpoint(max, 768px) {
            padding: 0.9rem 1rem 0.3rem 3rem;
            @include fontSize(12, $rootFontSize);
          }
          @include breakpoint(max, 500px) {
            padding: 0.6rem 0.6rem 0.2rem 2rem;
            @include fontSize(10, $rootFontSize);
          }
          img {
            width: 1.8rem; /* 18px */
            height: 1.8rem; /* 18px */
            position: absolute;
            left: 1.5rem; /* 15px */
            @include calc(top, "(100% - 1.8rem)/2");
            @include breakpoint(max, 768px) {
              width: 1.5rem; /* 15px */
              height: 1.5rem; /* 15px */
              left: 1rem; /* 10px */
              @include calc(top, "(100% - 1.5rem)/2");
            }
            @include breakpoint(max, 500px) {
              width: 1.3rem; /* 13px */
              height: 1.3rem; /* 13px */
              left: 0.5rem; /* 5px */
              @include calc(top, "(100% - 1.3rem)/2");
            }
          }
        }
        .platform-name {
          @include Medium;
          display: block;
          margin-top: 2rem; /* 20px */
          @include fontSize(13, $rootFontSize);
          @include breakpoint(max, 768px) {
            @include fontSize(11, $rootFontSize);
            margin-top: 1rem; /* 10px */
          }
          @include breakpoint(max, 500px) {
            @include fontSize(10, $rootFontSize);
            margin-top: 0.5rem; /* 5px */
          }
          b {
            @include Medium;
            padding-right: 2.5rem;
            margin-right: 0.5rem; /* 5px */
            position: relative;
            @include fontSize(13, $rootFontSize);
            @include breakpoint(max, 768px) {
              @include fontSize(11, $rootFontSize);
              padding-right: 1.5rem;
            }
            @include breakpoint(max, 500px) {
              @include fontSize(10, $rootFontSize);
            }
            &:before {
              display: block;
              position: absolute;
              content: "";
              width: 2rem; /* 20px */
              height: 0.2rem; /* 2px */
              background-color: #9fa1b9;
              right: 0;
              @include calc(top, "(100% - 0.2rem)/2");
              @include breakpoint(max, 768px) {
                width: 1rem; /* 10px */
              }
            }
          }
          &:first-child {
            b {
              padding-right: 0;
              margin-right: 0;
              &::before {
                display: none;
              }
            }
          }
        }
      }
      .product-price {
        @include breakpoint(max, 450px) {
          // width: 100%;
          // display: flex;
          // justify-content: space-between;
          // align-items: center;
          // margin-top: 1.5rem; /* 15px */
        }
        .off-range {
          color: $red;
          padding: 0.2rem 0.5rem;
          border: 0.2rem /* 2px */ solid $red;
          border-radius: 2rem; /* 20px */
          @include fontSize(12, $rootFontSize);
          display: block;
          width: max-content;
          @include Bold;
          @include breakpoint(max, 768px) {
            @include fontSize(10, $rootFontSize);
          }
          @include breakpoint(max, 500px) {
            @include fontSize(9, $rootFontSize);
          }
          b {
            @include Number;
          }
        }
        .sale-price {
          @include Bold;
          display: flex;
          align-items: center;
          margin-top: 0.5rem; /* 5px */
          @include fontSize(16, $rootFontSize);
          position: relative;
          color: rgba($textColor, 0.7);
          @include breakpoint(max, 768px) {
            @include fontSize(12, $rootFontSize);
          }
          .price {
            @include Number;
            @include fontSize(25, $rootFontSize);
            color: $textColor;
            margin-left: 0.3rem; /* 3px */
            @include breakpoint(max, 768px) {
              @include fontSize(20, $rootFontSize);
            }
            @include breakpoint(max, 450px) {
              @include fontSize(17, $rootFontSize);
            }
          }
          .price-increase {
            position: relative;
            margin-right: 0.5rem; /* 5px */
            svg {
              width: 1.7rem; /* 17px */
              height: 1.6rem; /* 16px */
              cursor: pointer;
            }
            .msg {
              border-radius: 2rem; /* 20px */
              position: absolute;
              width: 25rem; /* 250px */
              padding: 1rem 2rem;
              @include fontSize(14, $rootFontSize);
              background: $white;
              box-shadow: 0 0.1rem 0.2rem 0 rgba(#a8c0e2, 0.27),
                0 0.2rem 0.5rem 0 rgba(#a8c0e2, 0.19),
                0 0.9rem 0.9rem 0 /* 1px 2px 2px 5px 9px 9px */
                  rgba(#a8c0e2, 0.16);
              top: 2rem; /* 20px */
              opacity: 0;
              visibility: hidden;
              @include trans(0.3s);
              @include calc(left, "(100% - 25rem)/2");
              @include breakpoint(max, 991px) {
                left: -5rem; /* -50px */
              }
              b {
                @include Number;
              }
              &:before {
                position: absolute;
                display: block;
                content: "";
                width: 0.4rem; /* 4px */
                height: 0.4rem; /* 4px */
                border-radius: 50%;
                background: #ffce54;
                top: -0.2rem; /* -2px */
                @include calc(left, "(100% - 0.4rem)/2");
              }
            }
            &:hover {
              .msg {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
        .woocommerce-Price-amount {
          display: flex;
          align-items: center;
          margin-top: 0.5rem; /* 5px */
          position: relative;
          @include Number;
          @include fontSize(25, $rootFontSize);
          color: $textColor;
          @include breakpoint(max, 768px) {
            @include fontSize(20, $rootFontSize);
          }
          .woocommerce-Price-currencySymbol {
            margin-right: 0.3rem; /* 3px */
            @include Bold;
            @include YekanBakh;
            @include fontSize(16, $rootFontSize);
            color: rgba($textColor, 0.7);
            @include breakpoint(max, 768px) {
              @include fontSize(12, $rootFontSize);
            }
          }
        }
      }
    }
    &.gift {
      .product-img {
        width: 13rem; /* 130px */
        height: 10.3rem; /* 103px */
        border-radius: 0.6rem; /* 6px */
        @include calc(top, "(100% - 10.3rem)/2");
        @include breakpoint(max, 768px) {
          width: 12rem; /* 120px */
          height: 9.3rem; /* 93px */
          @include calc(top, "(100% - 9.3rem)/2");
        }
        @include breakpoint(max, 500px) {
          width: 10rem; /* 100px */
          height: 8.3rem; /* 83px */
          @include calc(top, "(100% - 8.3rem)/2");
        }
        @include breakpoint(max, 450px) {
          width: 5rem; /* 50px */
          height: 4.3rem; /* 43px */
          top: unset;
        }
        .cover-img {
          padding-bottom: 1.5rem;
        }
      }
      .item-bottom {
        margin-top: 2rem; /* 20px */
        @include breakpoint(max, 450px) {
          margin-top: 1rem; /* 10px */
        }
        .product-platform {
          display: flex;
          align-items: center;
          flex-direction: row;
          .platform-icon {
            padding: 0.9rem 1.5rem 0.4rem 1.5rem;
            @include breakpoint(max, 768px) {
              padding: 0.6rem 1rem 0.4rem 1rem;
            }
          }
          .platform-name {
            margin-top: 0;
            margin-right: 1.5rem; /* 15px */
            @include breakpoint(max, 768px) {
              margin-right: 0.5rem; /* 5px */
            }
          }
        }
        .product-price {
          display: flex;
          align-items: center;
          @include breakpoint(max, 450px) {
            justify-content: flex-end;
          }
          .sale-price {
            margin-top: 0;
            margin-right: 1rem; /* 10px */
            @include breakpoint(max, 450px) {
              margin-right: 0.5rem; /* 5px */
            }
          }
        }
      }
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
}
.cart-total {
  margin-top: 1rem; /* 10px */
  background: #fff;
  padding: 1.5rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem; /* 10px */
  @include lightshadow;
  @include breakpoint(max, 1199px) {
    padding: 1.5rem 2rem;
  }
  @include breakpoint(max, 768px) {
    padding: 1rem 2rem;
  }
  @include breakpoint(max, 450px) {
    padding: 1rem;
  }
  .total-pay {
    display: flex;
    align-items: center;
    @include fontSize(14, $rootFontSize);
    color: rgba($textColor, 0.8);
    margin-right: auto;
    @include Bold;
    @include breakpoint(max, 450px) {
      @include fontSize(10, $rootFontSize);
    }
    .price {
      @include Number;
      @include fontSize(32, $rootFontSize);
      margin-right: 3rem; /* 30px */
      color: $textColor;
      @include breakpoint(max, 768px) {
        @include fontSize(25, $rootFontSize);
        margin-right: 1rem; /* 10px */
      }
      @include breakpoint(max, 450px) {
        @include fontSize(20, $rootFontSize);
      }
    }
    .currency {
      @include fontSize(18, $rootFontSize);
      margin-right: 1rem; /* 10px */
      @include breakpoint(max, 768px) {
        @include fontSize(14, $rootFontSize);
        margin-right: 0.5rem; /* 5px */
      }
      @include breakpoint(max, 450px) {
        @include fontSize(10, $rootFontSize);
      }
    }
  }
  .btn {
    margin-left: 1rem; /* 10px */
    @include breakpoint(max, 768px) {
      padding: 1rem 2rem;
    }
  }
}
.discount-code {
  padding: 3.5rem 6rem 3rem 6rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @include breakpoint(max, 1199px) {
    padding: 3rem 2rem;
  }
  @include breakpoint(max, 768px) {
    padding: 2rem 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .title {
    @include Heavy;
    @include fontSize(18, $rootFontSize);
    justify-self: flex-start;
    margin-left: auto;
    @include breakpoint(max, 768px) {
      width: 100%;
      margin-bottom: 2rem; /* 20px */
      text-align: center;
      @include fontSize(16, $rootFontSize);
    }
    span {
      @include Medium;
      @include fontSize(16, $rootFontSize);
      color: #8c90b1;
      margin-right: 1.5rem; /* 15px */
      @include breakpoint(max, 1199px) {
        @include fontSize(14, $rootFontSize);
        margin-right: 0.5rem; /* 5px */
      }
      @include breakpoint(max, 768px) {
        @include fontSize(13, $rootFontSize);
      }
    }
  }
  .input-holder {
    position: relative;
    border: 0.1rem /* 1px */ solid #e2e3ea;
    border-radius: 3rem; /* 30px */
    @include breakpoint(max, 500px) {
      width: 100%;
      margin-bottom: 1rem; /* 10px */
    }
    input {
      padding: 1.5rem 3rem 1.5rem 5rem;
      background: transparent !important;
      @include fontSize(16, $rootFontSize);
      width: 100%;
      @include placeholder(rgba($mainColor, 0.7), 1.6rem);
      @include breakpoint(max, 768px) {
        @include fontSize(14, $rootFontSize);
        padding: 1.3rem 3rem;
        @include placeholder(rgba($mainColor, 0.7), 1.4rem);
      }
      @include breakpoint(max, 500px) {
        @include fontSize(12, $rootFontSize);
        padding: 1rem 2rem;
        @include placeholder(rgba($mainColor, 0.7), 1.2rem);
      }
    }
    svg {
      width: 1.1rem; /* 11px */
      height: 1.1rem; /* 11px */
      position: absolute;
      stroke: rgba($mainColor, 0.5);
      left: 2rem; /* 20px */
      @include calc(top, "(100% - 1.1rem)/2");
      @include breakpoint(max, 768px) {
        left: 1.5rem; /* 15px */
      }
    }
  }
  .btn {
    margin-right: 1rem; /* 10px */
    padding: 1.5rem 2.5rem;
  }
}
.subtotal {
  border-radius: 1rem; /* 10px */
  background: $white;
  position: sticky;
  top: 2.4rem; /* 24px */
  @include lightshadow;
  @include breakpoint(max, 991px) {
    margin-top: 3rem; /* 30px */
  }
  &--checkout {
    margin-top: 6.4rem; /* 64px */
  }
  .subtotal-detail {
    padding: 3rem 1.5rem 5rem 1.5rem;
    @include breakpoints(992px, 1200px) {
      padding: 3rem 1rem 5rem 1rem;
    }
    @include breakpoint(max, 768px) {
      padding: 2rem 1rem;
    }
    .discount {
      .amount {
        span {
          color: $red;
        }
      }
    }
    .wage {
      padding-top: 1.5rem;
      border-top: 0.1rem /* 1px */ solid #e8ecf8;
    }
  }
  .final-payment {
    border-top: 0.1rem /* 1px */ solid #e8ecf8;
    padding: 3rem 1.5rem;
    .btn {
      padding: 1.7rem 3rem 1.7rem 5rem;
      margin-top: 4rem; /* 40px */
      @include fontSize(18, $rootFontSize);
      display: block;
      width: 100%;
      @include breakpoint(max, 1200px) {
        @include fontSize(16, $rootFontSize);
      }
      @include breakpoint(max, 500px) {
        padding: 1.4rem 3rem 1.4rem 5rem;
        @include fontSize(14, $rootFontSize);
      }
      svg {
        width: 0.8rem; /* 8px */
        height: 1rem; /* 10px */
        left: 2.5rem; /* 25px */
        @include calc(top, "(100% - 1rem)/2");
      }
    }
  }
  .detail-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem; /* 15px */
    color: rgba($textColor, 0.8);
    .title {
      @include Bold;
      @include fontSize(14, $rootFontSize);
    }
    .amount {
      span {
        @include Number;
        @include fontSize(20, $rootFontSize);
        color: $textColor;
        @include breakpoint(max, 1200px) {
          @include fontSize(18, $rootFontSize);
        }
      }
      b {
        @include breakpoint(max, 1200px) {
          @include fontSize(11, $rootFontSize);
        }
      }
    }
    .off-range {
      @include Number;
      color: $red;
      padding: 0rem 0.3rem; /* 0px */
      border-radius: 1.5rem; /* 15px */
      border: 0.2rem /* 2px */ solid $red;
    }
    .count {
      @include fontSize(12, $rootFontSize);
      padding: 0.3rem 0.7rem;
      border-radius: 50%;
      background: $red;
      color: $white;
      line-height: 0.5rem; /* 5px */
      margin-right: 0.2rem; /* 2px */
      @include Number;
    }
  }
}
.activation-title {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  color: rgba($textColor, 0.8);
  h2 {
    @include fontSize(24, $rootFontSize);
    margin-bottom: 0;
    @include breakpoint(max, 991px) {
      @include fontSize(20, $rootFontSize);
    }
    @include breakpoint(max, 400px) {
      @include fontSize(17, $rootFontSize);
    }
  }
  .guid {
    position: relative;
    padding-right: 4rem;
    margin-right: 2rem; /* 20px */
    @include fontSize(16, $rootFontSize);
    @include breakpoint(max, 400px) {
      @include fontSize(13, $rootFontSize);
      padding-right: 2.5rem;
      margin-right: 1rem; /* 10px */
    }
    .guid-icon {
      position: absolute;
      fill: #9fa1b9;
      width: 2.5rem; /* 25px */
      height: 2.5rem; /* 25px */
      right: 0;
      @include calc(top, "(100% - 2.5rem)/2");
      @include breakpoint(max, 400px) {
        width: 1.8rem; /* 18px */
        height: 1.8rem; /* 18px */
        @include calc(top, "(100% - 1.8rem)/2");
      }
    }
  }
}
.activation-method__holder {
  .box-part {
    background: $white;
    border-radius: 1.1rem;
    overflow: hidden;
    @include lightshadow;
  }
  .direct-method {
    cursor: default;
    .method-lbl {
      cursor: default;
    }
    .activation-platform {
      // @include trans(.3s);
      border-top: 0.1rem solid #e8ecf8;
      padding: 2rem;
      @include breakpoint(max, 991px) {
        padding: 1rem;
      }
      @include breakpoint(max, 768px) {
        padding: 0rem;
      }
      .platform-item {
        padding: 2rem 4rem;
        display: flex;
        align-items: center;
        border-bottom: 0.1rem solid #e8ecf8;
        @include breakpoint(max, 991px) {
          padding: 2rem;
        }
        @include breakpoint(max, 768px) {
          padding: 2rem 1.5rem;
        }
        .platform-icon {
          text-align: center;
          margin-left: 4.5rem;
          img {
            width: 3.5rem;
            height: 3.5rem;
            @include breakpoint(max, 768px) {
              width: 3rem;
              height: 3rem;
            }
          }
          .platform-name {
            text-transform: uppercase;
            @include fontSize(14, $rootFontSize);
            display: block;
            margin-top: 1rem; /* 10px */
            @include Heavy;
            @include breakpoint(max, 768px) {
              @include fontSize(12, $rootFontSize);
              margin-top: 0.5rem; /* 5px */
            }
          }
        }
        .input-row {
          flex-grow: 1;
          display: flex;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
    .warning-holder {
      background: #24284a;
      color: #fff;
      padding: 1.5rem 6rem 1.5rem 2rem;
      @include breakpoint(max, 991px) {
        padding-right: 4rem;
      }
      @include breakpoint(max, 768px) {
        padding-right: 2rem;
      }
      p {
        font-size: 1.4rem;
        padding-right: 2.5rem;
        position: relative;
        margin-bottom: 1rem;
        @include Medium;
        @include breakpoint(max, 991px) {
          font-size: 1.2rem;
        }
        @include breakpoint(max, 500px) {
          font-size: 1.1rem;
        }
        &:last-child {
          margin-bottom: 0;
        }
        svg {
          position: absolute;
          width: 1.7rem;
          height: 1.6rem;
          right: 0;
          top: 0;
        }
      }
    }
  }
  .input-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .input-by-title {
      width: 48%;
      position: relative;
      @include breakpoint(max, 550px) {
        width: 100%;
        margin-bottom: 2rem; /* 20px */
      }
      @include breakpoint(max, 400px) {
        margin-bottom: 1rem; /* 10px */
      }
      .input-label {
        display: block;
        @include fontSize(14, $rootFontSize);
        color: rgba(#8c90b1, 0.5);
        margin-bottom: 1.5rem; /* 15px */
        margin-right: 1rem; /* 10px */
        @include Bold;
        @include breakpoint(max, 768px) {
          @include fontSize(12, $rootFontSize);
          margin-bottom: 1rem; /* 10px */
        }
        @include breakpoint(max, 550px) {
          margin-bottom: 0.5rem; /* 5px */
        }
      }
      .input-icon {
        position: absolute;
        width: 1.2rem; /* 12px */
        height: 1.6rem; /* 16px */
        left: 2.5rem; /* 25px */
        stroke: rgba($textColor, 0.5);
        bottom: 2.1rem; /* 15px */
        // @include calc(top, "(100% - 1.6rem)/2");
        @include breakpoint(max, 768px) {
          left: 1.8rem; /* 18px */
          bottom: 1.3rem; /* 13px */
        }
      }
      input {
        @include trans(0.3s);
        padding: 1.5rem 3rem 1.5rem 5rem;
        border-radius: 3rem; /* 30px */
        border: 0.2rem /* 2px */ solid #e2e3ea;
        width: 100%;
        @include breakpoint(max, 768px) {
          padding: 1.2rem 2rem 1.2rem 4rem;
        }
      }
    }
    .info {
      width: 100%;
      margin-top: 1.5rem; /* 15px */
      @include fontSize(15, $rootFontSize);
      display: flex;
      @include breakpoint(max, 768px) {
        @include fontSize(12, $rootFontSize);
      }
      @include breakpoint(max, 400px) {
        margin-top: 0;
      }
      a {
        text-decoration: underline !important;
      }
      .icon {
        position: relative;
        width: 2.3rem; /* 23px */
        height: 2.3rem; /* 23px */
        border-radius: 50%;
        background: #4de992;
        color: $white;
        padding: 0.6rem 0.9rem;
        @include fontSize(15, $rootFontSize);
        line-height: 1.5rem; /* 15px */
        display: inline-block;
        vertical-align: middle;
        margin-left: 1rem; /* 10px */
        right: unset;
        left: unset;
      }
      &.error {
        &,
        a {
          color: $red;
        }
        .icon {
          background: $red;
        }
      }
    }
  }
  .send-method {
    margin-top: 1.5rem; /* 15px */
  }
  .bank-portal {
    @include Heavy;
    margin-top: 4rem; /* 40px */
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7rem 2rem 3rem;
    color: rgba($textColor, 0.8);
    @include breakpoint(max, 768px) {
      padding: 1.5rem 2rem;
      font-size: 1.8rem;
      margin-top: 2rem;
    }
    @include breakpoint(max, 550px) {
      font-size: 1.5rem;
    }
    @include breakpoint(max, 450px) {
      padding: 1.5rem;
      flex-direction: column;
    }
    .portal-wrap {
      @include breakpoint(max, 450px) {
        margin-top: 2rem;
      }
      li {
        display: inline-block;
        input[type="radio"] {
          display: none;
          &:checked {
            + label {
              // background: $mainColor;
              // border-color: $mainColor;
            }
          }
        }
        label {
          @include trans(0.3s);
          margin: 0 0 0 1.5rem;
          padding: 0.8rem 1.5rem;

          border-radius: 3rem;
          cursor: pointer;
          // border: 0.1rem solid #cfd2ec;
          padding: 0;
          cursor: default;
          @include breakpoint(max, 768px) {
            margin-left: 0.5rem;
          }
          img {
            // width: 10rem; /* 100px */
            height: auto; /* 40px */
            @include breakpoint(max, 768px) {
              // width: 8rem; /* 80px */
            }
          }
          &:last-child {
            margin-left: 0;
          }
        }
      }
    }
  }
  .method-option {
    display: none;
    &:checked {
      + label {
        .checkbox {
          background: $red;
          border-color: $red;
          svg {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  .method-lbl {
    padding: 1.5rem 8rem 1.5rem 3rem;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    cursor: pointer;
    @include breakpoint(max, 1200px) {
      padding-right: 7rem;
    }
    @include breakpoint(max, 991px) {
      padding-right: 3rem;
    }
    @include breakpoint(max, 550px) {
      padding: 1rem 2rem 1rem 1rem;
    }
    .checkbox {
      border: 0.2rem /* 2px */ solid #e2e3ea;
      width: 3rem; /* 30px */
      height: 3rem; /* 30px */
      border-radius: 50%;
      position: absolute;
      right: 3rem; /* 30px */
      @include trans(0.3s);
      @include calc(top, "(100% - 3rem)/2");
      @include breakpoint(max, 1200px) {
        width: 2.5rem; /* 25px */
        height: 2.5rem; /* 25px */
        @include calc(top, "(100% - 2.5rem)/2");
      }
      @include breakpoint(max, 550px) {
        width: 1.5rem; /* 15px */
        height: 1.5rem; /* 15px */
        right: 1.5rem; /* 15px */
        @include calc(top, "(100% - 1.5rem)/2");
      }
      svg {
        @include trans(0.3s);
        position: absolute;
        width: 1.3rem; /* 13px */
        height: 0.9rem; /* 9px */
        stroke: $white;
        opacity: 0;
        visibility: hidden;
        @include calc(top, "(100% - 0.9rem)/2");
        @include calc(left, "(100% - 1.3rem)/2");
        @include breakpoint(max, 550px) {
          width: 1rem; /* 10px */
          height: 0.7rem; /* 7px */
          @include calc(top, "(100% - 0.7rem)/2");
          @include calc(left, "(100% - 1rem)/2");
        }
      }
    }
    img {
      width: 5.5rem; /* 55px */
      height: 5.5rem; /* 55px */
      margin-left: 2rem; /* 20px */
      @include breakpoint(max, 1200px) {
        width: 4.5rem; /* 45px */
        height: 4.5rem; /* 45px */
        margin-left: 1rem; /* 10px */
      }
      @include breakpoint(max, 550px) {
        width: 3.5rem; /* 35px */
        height: 3.5rem; /* 35px */
        margin-left: 0.5rem; /* 5px */
      }
    }
    .method-text {
      @include Heavy;
      @include fontSize(22, $rootFontSize);
      @include breakpoint(max, 1200px) {
        @include fontSize(20, $rootFontSize);
      }
      @include breakpoint(max, 768px) {
        @include fontSize(17, $rootFontSize);
      }
      @include breakpoint(max, 500px) {
        @include fontSize(15, $rootFontSize);
      }
      span {
        @include Medium;
        @include fontSize(16, $rootFontSize);
        margin: 0 1rem; /* 10px */
        @include breakpoint(max, 1200px) {
          @include fontSize(14, $rootFontSize);
        }
        @include breakpoint(max, 768px) {
          @include fontSize(11, $rootFontSize);
          margin: 0 0.5rem 0 0; /* 5px */
        }
      }
    }
    .tag {
      @include Bold;
      justify-self: flex-end;
      margin-right: auto;
      @include fontSize(14, $rootFontSize);
      @include breakpoint(max, 768px) {
        display: none;
      }
    }
  }
}
.product-count {
  padding: 0.5rem 1rem;
  border-radius: 2rem; /* 20px */
  border: 0.2rem /* 2px */ solid #d5d7ee;
  position: relative;
  margin-top: 2rem; /* 20px */
  margin-left: 2rem; /* 20px */
  @include breakpoint(max, 768px) {
    margin: 0 4rem 0 1rem; /* 40px 10px */
  }
  @include breakpoint(max, 500px) {
    padding: 0.2rem 0.5rem;
  }
  input {
    -moz-appearance: textfield;
    background: transparent;
    min-width: 3rem; /* 30px */
    width: 2rem; /* 20px */
    text-align: center;
    color: rgba($textColor, 0.8);
    @include fontSize(18, $rootFontSize);
    @include Number;
  }
  button {
    padding: 0.5rem;
    @include fontSize(18, $rootFontSize);
    color: rgba($textColor, 0.8);
    line-height: 1.2rem; /* 12px */
    cursor: default;
    @include breakpoint(max, 768px) {
      padding: 0.3rem 0.5rem;
    }
  }
  &:before {
    position: absolute;
    display: block;
    content: "تعداد";
    width: 100%;
    @include fontSize(14, $rootFontSize);
    text-align: center;
    top: -2rem; /* -20px */
    left: 0;
    @include breakpoint(max, 768px) {
      left: unset;
      width: unset;
      right: -4rem; /* -40px */
      @include calc(top, "(100% - 1.5rem)/2");
    }
  }
}

.activation-method-content {
  .send-method {
    margin-top: 0;
  }
}

.failed-content {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem 10rem 2rem;
  .icon {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 100%;
    background: #f32f39;
    position: relative;
    box-shadow: 0 0.8rem 2.7rem 0 rgba(#f3303a, 0.23);
    @include breakpoint(max, 500px) {
      width: 3.5rem;
      height: 3.5rem;
    }
    svg {
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      fill: #fff;
      @include calc(top, "(100% - 1.5rem)/2");
      @include calc(left, "(100% - 1.5rem)/2");
      @include breakpoint(max, 500px) {
        width: 1rem;
        height: 1rem;
        @include calc(top, "(100% - 1rem)/2");
        @include calc(left, "(100% - 1rem)/2");
      }
    }
  }
  .failed-text {
    margin-top: 3.5rem;
    font-size: 2.8rem;
    margin-bottom: 0;
    @include Bold;
    @include breakpoint(max, 768px) {
      font-size: 2rem;
    }
    @include breakpoint(max, 500px) {
      font-size: 1.7rem;
      margin-top: 2.5rem;
    }
    b {
      color: $red;
    }
  }
  .caption {
    font-size: 2rem;
    color: rgba($mainColor, 0.8);
    margin-top: 1.5rem;
    @include Medium;
    @include breakpoint(max, 768px) {
      font-size: 1.5rem;
    }
    @include breakpoint(max, 500px) {
      font-size: 1.2rem;
    }
  }
}
