.mainHeader {
  padding: 5rem 0;
  background: url("../../dist/imgs/wave.svg") $mainColor no-repeat;
  background-size: 123% auto;
  background-position-y: 9%;
  background-position-x: 81%;
  @include breakpoint(max, 1199px) {
    padding: 3rem 0;
  }
  @include breakpoint(max, 767px) {
    padding: 2rem 0;
  }
  .title {
    @include fontSize(48, $rootFontSize);
    text-align: center;
    color: #daddfb;
    margin: 0;
    @include Bold;
    @include breakpoint(max, 1199px) {
      @include fontSize(35, $rootFontSize);
    }
    @include breakpoint(max, 767px) {
      @include fontSize(28, $rootFontSize);
    }
    @include breakpoint(max, 575px) {
      @include fontSize(20, $rootFontSize);
    }
    .white {
      color: #fff;
    }
  }
}

.contactUs {
  padding: 7.5rem 0;
  background: #eaecff;
  @include breakpoint(max, 767px) {
    padding: 2.5rem 0;
  }
  .box {
    display: flex;
    @include breakpoint(max, 767px) {
      // flex-wrap: wrap;
      flex-direction: column-reverse;
    }
    .side {
      flex: 0 0 35%;
      max-width: 35%;
      background: url("../../dist/imgs/wave.svg") $mainColor no-repeat 77% 36%;
      background-size: 500%;
      color: #daddfb;
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @include fontSize(14, $rootFontSize);
      position: relative;
      border-radius: 0 1.5rem 1.5rem 0; /* 15px 15px */
      @include Medium;
      @include breakpoint(max, 767px) {
        flex: 0 0 100%;
        max-width: 100%;
        border-radius: 0 0 1.5rem 1.5rem; /* 15px 15px */
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        //padding: 1rem; /* 10px */
      }
      &::before {
        content: url("../../dist/imgs/circle1.svg");
        width: 3rem; /* 30px */
        height: 3rem; /* 30px */
        position: absolute;
        left: -1.5rem; /* -15px */
        bottom: -1.5rem; /* -15px */
      }
      &::after {
        content: url("../../dist/imgs/circle2.svg");
        width: 6rem; /* 60px */
        height: 6rem; /* 60px */
        position: absolute;
        right: -1rem; /* -10px */
        top: -1rem; /* -10px */
      }
      .logo-holder {
        text-align: center;
        @include breakpoint(max, 768px) {
          width: 100%;
        }
      }
      .logo {
        width: 12rem; /* 120px */
        @include breakpoint(max, 768px) {
          width: 9rem; /* 90px */
          margin-top: -1rem; /* -10px */
        }
        @include breakpoint(max, 500px) {
          width: 8rem; /* 80px */
          margin-top: -2rem; /* -20px */
        }
      }
      .largeTitle {
        @include fontSize(30, $rootFontSize);
        color: #fff;
        margin: 4rem 0 3rem 0; /* 40px 30px */
        text-align: center;
        @include Heavy;
        @include breakpoint(max, 1199px) {
          @include fontSize(25, $rootFontSize);
        }
        @include breakpoint(max, 991px) {
          @include fontSize(21, $rootFontSize);
        }
        @include breakpoint(max, 768px) {
          margin: 1.5rem 0 1rem 0; /* 15px 10px */
          width: 100%;
        }
        @include breakpoint(max, 500px) {
          @include fontSize(18, $rootFontSize);
        }
        &.blue {
          background: none;
          &::before {
            background: $blue;
          }
        }
        &::before {
          content: "";
          position: relative;
          display: inline-block;
          vertical-align: middle;
          width: 0.5rem; /* 5px */
          height: 0.5rem; /* 5px */
          border-radius: 50%;
          background: $green;
          margin-left: 0.6rem; /* 6px */
          @include box-shadow(0, 0, 20px, 0, $green);
        }
        p {
          @include Medium;
          @include fontSize(13, $rootFontSize);
          text-align: center;
          margin-top: 1rem; /* 10px */
          @include breakpoint(max, 768px) {
            margin-top: 0.5rem; /* 5px */
          }
        }
        &.second-title {
          @include breakpoint(max, 768px) {
            display: none;
          }
        }
      }
      .contactRow {
        margin-bottom: 1.5rem; /* 15px */
        @include breakpoint(max, 768px) {
          margin-bottom: 1rem; /* 10px */
        }
        .icon {
          width: 2rem; /* 20px */
          height: 2rem; /* 20px */
          stroke: #fff;
          margin-right: 1rem; /* 10px */

          @include breakpoint(max, 768px) {
            width: 1.5rem; /* 15px */
            height: 1.5rem; /* 15px */
          }
          @include breakpoint(max, 500px) {
            width: 1.3rem; /* 13px */
            height: 1.3rem; /* 13px */
          }
        }
        .light {
          @include fontSize(18, $rootFontSize);
          opacity: 0.8;
          @include Medium;
          @include breakpoint(max, 768px) {
            @include fontSize(15, $rootFontSize);
          }
          @include breakpoint(max, 500px) {
            @include fontSize(13, $rootFontSize);
          }
        }
        .bold {
          color: #fff;
          @include fontSize(30, $rootFontSize);
          @include Bold;
          @include breakpoint(max, 991px) {
            @include fontSize(21, $rootFontSize);
          }
          @include breakpoint(max, 768px) {
            @include fontSize(18, $rootFontSize);
          }
          @include breakpoint(max, 500px) {
            @include fontSize(13, $rootFontSize);
          }
          &.email {
            @include Medium;
            @include fontSize(22, $rootFontSize);
            @include breakpoint(max, 768px) {
              @include fontSize(18, $rootFontSize);
            }
            @include breakpoint(max, 500px) {
              @include fontSize(13, $rootFontSize);
            }
          }
        }
      }
      .phone-email {
        text-align: left;
      }
      .socials {
        display: flex;
        li {
          margin: 0.5rem; /* 5px */
          a {
            width: 3.5rem; /* 35px */
            height: 3.5rem; /* 35px */
            position: relative;
            background: #fff;
            border-radius: 50%;
            text-align: center;
            display: block;
            @include transition(all, 0.4s);
            @include breakpoint(max, 500px) {
              width: 2.5rem; /* 25px */
              height: 2.5rem; /* 25px */
            }
            &:hover {
              background: $mainColor;
              .icon {
                fill: #fff;
              }
            }
            .icon {
              position: absolute;
              fill: $mainColor;
              width: 2rem; /* 20px */
              height: 2rem; /* 20px */
              @include calc(top, "(100% - 2rem)/2");
              @include calc(left, "(100% - 2rem)/2");
              @include transition(all, 0.2s);
              @include breakpoint(max, 500px) {
                width: 1.5rem; /* 15px */
                height: 1.5rem; /* 15px */
                @include calc(top, "(100% - 1.5rem)/2");
                @include calc(left, "(100% - 1.5rem)/2");
              }
            }
          }
        }
      }
    }

    .contactForm {
      flex: 0 0 65%;
      max-width: 65%;
      background: #f7f8ff;
      padding: 3.5rem 9rem;
      border-radius: 1.5rem 0 0 1.5rem; /* 15px 15px */
      @include breakpoint(max, 991px) {
        padding: 3.5rem 2rem;
      }
      @include breakpoint(max, 767px) {
        flex: 0 0 100%;
        max-width: 100%;
        border-radius: 1.5rem 1.5rem 0 0; /* 15px 15px */
      }
      .mainTitle {
        margin-bottom: 2.5rem; /* 25px */
        @include breakpoint(max, 768px) {
          @include fontSize(17, $rootFontSize);
        }
        @include breakpoint(max, 500px) {
          @include fontSize(14, $rootFontSize);
        }
      }
      input[type="text"],
      input[type="password"],
      input[type="email"],
      textarea {
        width: 100%;
        padding: 1.5rem 2.5rem;
        border-radius: 0.5rem; /* 5px */
        border: 0.1rem /* 1px */ solid #d4dce9;
        margin-bottom: 2rem; /* 20px */
        @include fontSize(14, $rootFontSize);
        @include placeholder(rgba($textColor, 0.5), 1.4rem);
        @include transition(all, 0.4s);
        &:focus {
          border-color: rgba($mainColor, 0.6);
          box-shadow: 0 0 3rem 0 /* 30px */ rgba($textColor, 0.1);
        }
      }
    }
  }
  .wpcf7-form-control-wrap {
    position: relative;
    display: block;
  }
  span.wpcf7-not-valid-tip {
    position: absolute;
    right: 0.3rem; /* 3px */
    bottom: 0.4rem; /* 4px */
    @include fontSize(11, $rootFontSize);
  }
}
