// .mainContainer {
//   max-width: 146rem; /* 1460px */
//   margin: auto;
//   padding: 0 1.5rem; /* 15px */
// }

.mainBox {
  background: #fff;
  border-radius: 1.5rem; /* 15px */
  box-shadow: 0 0.9rem 4.6rem 0 rgba(#aabcd4, 0.31),
    0 0.2rem 0.5rem 0 /* 9px 46px 2px 5px */ rgba(#a8c0e2, 0.21);
}

.dashSide {
  @extend .mainBox;
  @include transition(all, 0.35s);
  @include breakpoint(max, 991px) {
    position: fixed;
    top: 0;
    right: -100%;
    border-radius: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-y: auto;
  }
  @include breakpoint(max, 600px) {
    width: 33rem;
    right: unset;
    left: -100%;
    top: 5.4rem;
    border-radius: 0 1rem 0 0;
  }
  @include breakpoint(max, 450px) {
    width: 25rem;
  }
  &.opened {
    right: 0;
    @include breakpoint(max, 600px) {
      left: 0;
      right: unset;
    }
  }
  .dashSideClose {
    margin: 1rem;
    padding: 0.5rem 1rem;
    @include breakpoint(max, 768px) {
      margin: 0.5rem;
    }
    @include breakpoint(max, 600px) {
      display: none;
    }
    svg {
      width: 1.3rem;
      height: 1.3rem;
      stroke: rgba($textColor, 0.7);
    }
  }
  .content {
    padding: 4rem;
    @include breakpoint(max, 1199px) {
      padding: 1.5rem;
    }
    @include breakpoint(max, 991px) {
      padding: 0 1.5rem;
    }
    @include breakpoint(max, 600px) {
      padding-top: 3rem;
    }
    .avatar {
      width: 10rem;
      height: 10rem;
      margin: auto auto 2.5rem;
      overflow: hidden;
      border-radius: 50%;
      @include breakpoint(max, 991px) {
        width: 8rem; /* 80px */
        height: 8rem; /* 80px */
        margin-bottom: 0.5rem; /* 5px */
      }
      @include breakpoint(max, 768px) {
        width: 5rem; /* 50px */
        height: 5rem; /* 50px */
      }
    }
    .userName {
      @include fontSize(26, $rootFontSize);
      text-align: center;
      @include Heavy;
      @include breakpoint(max, 1199px) {
        @include fontSize(21, $rootFontSize);
      }
      @include breakpoint(max, 991px) {
        @include fontSize(18, $rootFontSize);
      }
      @include breakpoint(max, 768px) {
        @include fontSize(15, $rootFontSize);
      }
    }
    .phone {
      text-align: center;
      @include fontSize(18, $rootFontSize);
      color: $textColor;
      opacity: 0.7;
      @include Number;
      @include breakpoint(max, 1199px) {
        @include fontSize(16, $rootFontSize);
      }
      @include breakpoint(max, 991px) {
        @include fontSize(14, $rootFontSize);
      }
    }
    .editBtn {
      color: rgba($textColor, 0.8);
      border: 0.2rem /* 2px */ solid rgba($textColor, 0.3);
      border-radius: 2.5rem; /* 25px */
      padding: 1rem 2rem; /* 10px 20px */
      @include fontSize(16, $rootFontSize);
      margin: 1.5rem auto 2.5rem; /* 15px 25px */
      display: inline-block;
      @include Heavy;
      @include transition(all, 0.4s);
      @include breakpoint(max, 1199px) {
        @include fontSize(14, $rootFontSize);
      }
      @include breakpoint(max, 991px) {
        margin: 0.5rem /* 5px */ auto;
      }
      @include breakpoint(max, 768px) {
        padding: 0.7rem 2rem; /* 7px 20px */
        @include fontSize(13, $rootFontSize);
      }
      &:hover {
        background: rgba($textColor, 0.9);
        color: #fff !important;
        border-color: #fff;
        svg {
          stroke: #fff;
        }
      }
      svg {
        stroke: rgba($textColor, 0.3);
        width: 2rem; /* 20px */
        height: 2rem; /* 20px */
        margin-left: 1rem; /* 10px */
        @include breakpoint(max, 768px) {
          width: 1.5rem; /* 15px */
          height: 1.5rem; /* 15px */
        }
      }
    }

    .navLinks {
      ul {
        margin: 1.5rem 0; /* 15px */
        @include breakpoint(max, 768px) {
          margin: 0.5rem 0; /* 5px */
        }

        li {
          margin: 1.5rem 0; /* 15px */
          padding: 0;
          border-radius: 1rem; /* 10px */
          @include transition(all, 0.3s);
          @include breakpoint(max, 991px) {
            margin: 1rem 0; /* 10px */
          }
          @include breakpoint(max, 768px) {
            margin: 0.5rem; /* 5px */
          }
          &.is-active,
          &:hover {
            background: $mainColor;
            color: #fff;
            border-radius: 2.5rem; /* 25px */
            svg {
              fill: #fff;
              &#redeem,
              &#accountPlatform {
                stroke: #fff;
              }
            }
            a {
              color: #fff;
              padding-right: 2.5rem; /* 25px */
            }
          }

          a {
            @include fontSize(16, $rootFontSize);
            display: block;
            padding: 1.5rem; /* 15px */
            @include transition(all, 0.3s);
            @include Medium;
            @include breakpoint(max, 1199px) {
              @include fontSize(14, $rootFontSize);
            }
            @include breakpoint(max, 991px) {
              padding: 1rem; /* 10px */
              @include fontSize(13, $rootFontSize);
            }
            &:hover {
              color: #fff;
              padding-right: 2.5rem; /* 25px */
            }
            svg {
              width: 2rem; /* 20px */
              height: 2rem; /* 20px */
              margin-left: 1rem; /* 10px */
              fill: rgba($textColor, 0.3);
              &#redeem,
              &#accountPlatform {
                stroke: rgba($textColor, 0.3);
              }
            }
            .notification {
              float: left;
              background: red;
              padding: 0.5rem; /* 5px */
              border-radius: 4.5rem; /* 45px */
              min-width: 2.2rem; /* 22px */
              height: 2.2rem; /* 22px */
              text-align: center;
              color: #fff;
              margin-top: -0.1rem; /* -1px */
              @include fontSize(14, $rootFontSize);
              @include Number;
              @include boxShadow(2px, 3px, 10px, 0, rgba($red, 0.45));
            }
          }
        }
      }
    }
  }

  .sideFooter {
    padding: 2rem 4rem; /* 20px 40px */
    border-top: 0.1rem /* 1px */ solid rgba($textColor, 0.1);
    .logOut {
      @include fontSize(16, $rootFontSize);
      @include Heavy;
      @include breakpoint(max, 1199px) {
        @include fontSize(14, $rootFontSize);
      }
      svg {
        width: 1.2rem; /* 12px */
        height: 1.2rem; /* 12px */
        margin-left: 0.8rem; /* 8px */
        stroke: $mainColor;
      }
    }
  }
}

.woocommerce-message {
  border: none;
  @include fontSize(16, $rootFontSize);
  color: rgba($textColor, 0.5);
  @include Medium;
  @include breakpoint(max, 1199px) {
    @include fontSize(14, $rootFontSize);
  }
}

.woocommerce-message,
.notif {
  @extend .mainBox;
  padding: 1.2rem 3.5rem;
  margin: 1rem 0 2rem;
  position: relative;
  border-radius: 3.5rem;
  display: flex;
  align-items: center;
  padding-left: 5rem;
  @include breakpoint(max, 1199px) {
    padding: 1rem 2rem 1rem 5rem;
  }
  @include breakpoint(max, 768px) {
    margin-bottom: 1rem;
  }
  @include breakpoint(max, 600px) {
    padding: 1rem 2rem;
  }
  @include breakpoint(max, 400px) {
    padding-left: 0;
  }
  // @include breakpoint(max, 450px) {
  //   border-radius: 0.5rem;
  //   padding: 1rem;
  // }
  &.error {
    .link {
      background: $red;
      color: #fff !important;
      svg {
        stroke: #fff;
      }
    }
  }
  .icon {
    width: 2.5rem; /* 25px */
    height: 2.5rem; /* 25px */
    margin-left: 2.5rem; /* 25px */
    @include breakpoint(max, 1199px) {
      margin-left: 1.5rem; /* 15px */
    }
    @include breakpoint(max, 767px) {
      width: 1.8rem; /* 18px */
      height: 1.8rem; /* 18px */
      margin-left: 1rem; /* 10px */
    }
    // @include breakpoint(max, 767px) {
    //   display: block;
    //   margin: auto;
    // }
  }
  .bold {
    @include fontSize(18, $rootFontSize);
    line-height: 2.5;
    @include Heavy;
    @include breakpoint(max, 1199px) {
      @include fontSize(16, $rootFontSize);
    }
    @include breakpoint(max, 767px) {
      @include fontSize(13, $rootFontSize);
    }
    @include breakpoint(max, 450px) {
      @include fontSize(12, $rootFontSize);
    }
    // @include breakpoint(max, 767px) {
    //   display: block;
    //   text-align: center;
    // }
  }
  .light {
    @include fontSize(16, $rootFontSize);
    color: rgba($textColor, 0.5);
    margin-right: 1.2rem; /* 12px */
    @include Medium;
    @include breakpoint(max, 1199px) {
      @include fontSize(12, $rootFontSize);
      margin-right: 0.5rem; /* 5px */
    }
    @include breakpoint(max, 767px) {
      display: none;
    }
  }
  .link {
    margin-right: auto;
    color: rgba($textColor, 0.8);
    padding: 1rem 2rem;
    @include fontSize(16, $rootFontSize);
    // height: 4.4rem;
    line-height: 1.8;
    border-radius: 2.5rem;
    @include Heavy;
    @include breakpoint(max, 1199px) {
      @include fontSize(13, $rootFontSize);
    }
    @include breakpoint(max, 768px) {
      @include fontSize(12, $rootFontSize);
      @include Bold;
      padding: 0.7rem 1.5rem;
    }
    @include breakpoint(max, 600px) {
      padding: 0.2rem 1rem;
      border-radius: 0;
      border-right: 0.1rem solid #eef2fa;
    }
    b {
      @include breakpoint(max, 600px) {
        display: none;
      }
    }
    // @include breakpoint(max, 450px) {
    //   display: none;
    // }
    svg {
      stroke: rgba($textColor, 0.3);
      width: 1.5rem;
      height: 1.5rem;
      margin-left: 1rem;
      @include breakpoint(max, 767px) {
        width: 1rem;
        height: 1rem;
        margin-left: 0.5rem;
      }
      @include breakpoint(max, 600px) {
        display: none;
      }
    }
  }
  .close {
    position: absolute;
    left: 2rem;
    top: 0;
    padding: 0.9rem 2rem 0.9rem 0;
    height: 4.3rem;
    border-right: 0.1rem solid rgba($textColor, 0.1);
    margin-right: auto;
    @include calc(top, "(100% - 4.3rem)/2");
    @include breakpoint(max, 1199px) {
      padding-right: 1.3rem;
      height: 4rem;
      @include calc(top, "(100% - 4rem)/2");
    }
    @include breakpoint(max, 767px) {
      padding: 0.7rem 1rem 0.7rem 0;
      height: 3.5rem;
      @include calc(top, "(100% - 3.5rem)/2");
    }
    // @include breakpoint(max, 450px) {
    //   position: relative;
    //   left: unset;
    // }
    @include breakpoint(max, 600px) {
      display: none;
    }
    svg {
      stroke: rgba($textColor, 0.8);
      width: 1rem; /* 10px */
      height: 1rem; /* 10px */
      @include breakpoint(max, 767px) {
        width: 0.8rem; /* 8px */
        height: 0.8rem; /* 8px */
      }
    }
  }
  .waiting-time {
    margin-right: auto;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: rgba(#fff, 0.8);
    @include Heavy;
    @include breakpoint(max, 1200px) {
      font-size: 1.4rem;
    }
    @include breakpoint(max, 768px) {
      font-size: 1.2rem;
      margin-left: 1rem;
    }
    @include breakpoint(max, 450px) {
      display: none;
    }
    .time-holder {
      @include Number;
      margin-right: 1rem;
      padding: 0.7rem 1rem;
      text-align: center;
      border-radius: 3rem;
      background: $red;
      color: #fff;
      font-size: 2rem;
      width: 11rem;
      @include breakpoint(max, 1200px) {
        font-size: 1.8rem;
        width: 10rem;
      }
      @include breakpoint(max, 768px) {
        font-size: 1.5rem;
        width: 8rem;
      }
      b {
        color: rgba(#fff, 0.3);
        margin: 0 0.5rem;
      }
    }
  }
  &.dark {
    background: #222747;
    box-shadow: none;
    padding-right: 8rem; /* 80px */
    @include breakpoint(max, 1199px) {
      padding-right: 7rem; /* 70px */
    }
    @include breakpoint(max, 991px) {
      padding-right: 6rem; /* 60px */
    }
    @include breakpoint(max, 767px) {
      padding-right: 4.5rem; /* 45px */
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .clearfix {
      @include breakpoint(max, 767px) {
        display: none;
      }
    }
    .bold {
      color: #fff;
    }
    .light {
      color: #8c90b1;
    }
    .icon {
      width: 6rem; /* 45px */
      height: 6rem; /* 45px */
      // background: transparent;
      //border-radius: 100%;
      // background: #ffd21d;
      position: absolute;
      // box-shadow: 0 0.8rem 2.7rem 0 /* 8px 27px */ rgba(#ffab3f, 0.23);
      right: 1.3rem; /* 13px */
      margin: 0;
      @include calc(top, "(100% - 6rem)/2");
      @include breakpoint(max, 1199px) {
        width: 4rem; /* 40px */
        height: 4rem; /* 40px */
        @include calc(top, "(100% - 4rem)/2");
      }
      @include breakpoint(max, 991px) {
        width: 3.5rem; /* 35px */
        height: 3.5rem; /* 35px */
        @include calc(top, "(100% - 3.5rem)/2");
      }
      @include breakpoint(max, 767px) {
        width: 2.5rem; /* 25px */
        height: 2.5rem; /* 25px */
        @include calc(top, "(100% - 2.5rem)/2");
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      // svg {
      //   width: 1.7rem; /* 17px */
      //   height: 2.4rem; /* 24px */
      //   stroke: #fff;
      //   position: absolute;
      //   @include calc(top, "(100% - 2.4rem)/2");
      //   @include calc(left, "(100% - 1.7rem)/2");
      //   @include breakpoint(max, 991px) {
      //     width: 1.3rem; /* 13px */
      //     height: 2rem; /* 20px */
      //     @include calc(top, "(100% - 2rem)/2");
      //     @include calc(left, "(100% - 1.3rem)/2");
      //   }
      //   @include breakpoint(max, 767px) {
      //     width: 1rem; /* 10px */
      //     height: 1.7rem; /* 17px */
      //     @include calc(top, "(100% - 1.7rem)/2");
      //     @include calc(left, "(100% - 1rem)/2");
      //   }
      // }
    }
    .close {
      border-color: #614788;
      margin-right: 0.5rem; /* 5px */
      svg {
        stroke: rgba(#fff, 0.8);
      }
    }
  }
  &.waiting {
    @include breakpoint(max, 600px) {
      display: none;
    }
  }
}

.mainAlert {
  @extend .mainBox;
  border-radius: 4.5rem; /* 45px */
  padding: 1.2rem 3.5rem; /* 12px 35px */
  position: fixed !important;
  bottom: 3rem; /* 30px */
  right: 3rem; /* 30px */
  z-index: 99999;
  @include boxShadow(0, 0, 50px, 2px, rgba($mainColor, 0.7));
  @include breakpoint(max, 767px) {
    max-width: calc(100% - 3rem);
    right: 1.5rem; /* 15px */
    border-radius: 1.5rem; /* 15px */
  }

  &.error {
    .link {
      background: $red;
      color: #fff !important;
      svg {
        stroke: #fff;
      }
    }
  }

  .icon {
    width: 2.5rem; /* 25px */
    height: 2.5rem; /* 25px */
    margin-left: 2.5rem; /* 25px */
    @include breakpoint(max, 767px) {
      display: block;
      margin: auto;
    }
  }
  .bold {
    @include fontSize(18, $rootFontSize);
    line-height: 2.5;
    @include Heavy;
    @include breakpoint(max, 1199px) {
      @include fontSize(16, $rootFontSize);
    }
    @include breakpoint(max, 767px) {
      display: block;
      text-align: center;
    }
  }
  .light {
    @include fontSize(16, $rootFontSize);
    color: rgba($textColor, 0.5);
    margin-right: 1.2rem; /* 12px */
    @include Medium;
    @include breakpoint(max, 1199px) {
      @include fontSize(14, $rootFontSize);
    }
    @include breakpoint(max, 767px) {
      width: 100%;
      display: block;
      margin: 0;
      text-align: center;
    }
  }
  .link {
    float: left;
    color: rgba($textColor, 0.8);
    padding: 1rem 2rem; /* 10px 20px */
    @include fontSize(16, $rootFontSize);
    height: 4.4rem; /* 44px */
    line-height: 1.8;
    border-radius: 2.5rem; /* 25px */
    margin: 0 1.5rem; /* 15px */
    @include Heavy;
    @include breakpoint(max, 1199px) {
      @include fontSize(14, $rootFontSize);
    }
    @include breakpoint(max, 1139px) {
      width: 100%;
      margin: 0.8rem 0 0; /* 8px */
      text-align: center;
    }

    svg {
      stroke: rgba($textColor, 0.3);
      width: 1.5rem; /* 15px */
      height: 1.5rem; /* 15px */
      margin-left: 1rem; /* 10px */
    }
  }
  .close {
    float: left;
    padding: 0.9rem 2rem 0.9rem 0; /* 9px 20px 9px */
    height: 4.3rem; /* 43px */
    border-right: 0.1rem /* 1px */ solid rgba($textColor, 0.1);
    margin-right: 2rem; /* 20px */
    @include breakpoint(max, 767px) {
      position: absolute;
      left: 0;
      top: 0;
      border-right: none;
      padding: 1.1rem; /* 11px */
    }
    svg {
      stroke: rgba($textColor, 0.8);
      width: 1rem; /* 10px */
      height: 1rem; /* 10px */
    }
  }
}

.wpcf7-response-output {
  @extend .mainBox;
  border-radius: 4.5rem; /* 45px */
  padding: 1.2rem 3.5rem; /* 12px 35px */
  position: fixed !important;
  bottom: 3rem; /* 30px */
  right: 3rem; /* 30px */
  z-index: 9999;
  // font-size: 1.8rem /* 18px */ !important;
  @include fontSize(18, $rootFontSize);
  line-height: 2.5 !important;
  font-weight: 600 !important;
  border: none !important;
  @include boxShadow(0, 0, 50px, 2px, rgba($mainColor, 0.7));
  @include breakpoint(max, 767px) {
    max-width: calc(100% - 3rem);
    right: 1.5rem; /* 15px */
    border-radius: 1.5rem; /* 15px */
  }
}

.orderRG {
  width: 49%;
  background: url("../imgs/order_back.png") no-repeat;
  background-size: cover;
  padding: 5rem 2rem;
  border-radius: 1.5rem; /* 15px */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 29rem; /* 290px */
  // @include breakpoint(max, 1200px) {
  //   width: 49%;
  //   height: 29rem; /* 290px */
  // }
  // @include breakpoint(max, 991px) {
  //   margin-bottom: 2rem; /* 20px */
  //   width: 100%;
  // }
  @include breakpoints(992px, 1100px) {
    margin-bottom: 2rem; /* 20px */
    width: 100%;
  }
  @include breakpoint(max, 850px) {
    margin-bottom: 2rem; /* 20px */
    width: 100%;
    height: auto;
    padding: 5rem 2rem; /* 50px 20px */
  }
  @include breakpoint(max, 600px) {
    display: none;
  }
  .circle1 {
    position: absolute;
    width: 10rem; /* 100px */
    height: 10rem; /* 100px */
    right: -4rem; /* -40px */
    top: -2rem; /* -20px */
    z-index: 1;
    @include breakpoint(max, 450px) {
      right: -6rem; /* -60px */
      top: -3rem; /* -30px */
    }
  }
  .circle2 {
    position: absolute;
    width: 8.5rem; /* 85px */
    height: 8.5rem; /* 85px */
    left: -1.5rem; /* -15px */
    top: 10rem; /* 100px */
    z-index: 1;
    @include breakpoints(992px, 1199px) {
      width: 3rem; /* 30px */
      height: 3rem; /* 30px */
    }
    @include breakpoint(max, 450px) {
      width: 3rem; /* 30px */
      height: 3rem; /* 30px */
    }
  }
  .circle3 {
    position: absolute;
    width: 2rem; /* 20px */
    height: 2rem; /* 20px */
    left: 10rem; /* 100px */
    top: 20rem; /* 200px */
    z-index: 1;
  }
  .title {
    color: #fff;
    @include fontSize(24, $rootFontSize);
    position: relative;
    z-index: 2;
    text-align: center;
    margin-bottom: 0;
    @include Heavy;
    @include breakpoint(max, 1199px) {
      font-size: 2rem;
    }
    @include breakpoint(max, 375px) {
      font-size: 1.8rem;
    }
  }
  .subTitle {
    @include fontSize(16, $rootFontSize);
    color: #8c90b1;
    margin-bottom: 3em;
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 1.5rem; /* 15px */
    @include Medium;
    @include breakpoint(max, 1199px) {
      font-size: 1.3rem;
    }
  }
  .link {
    padding: 1.2rem 1.6rem 1.2rem 4.5rem; /* 12px 16px 12px 45px */
    background: #fff;
    border-radius: 4.5rem; /* 45px */
    @include fontSize(18, $rootFontSize);
    position: relative;
    z-index: 2;
    @include Bold;
    @include breakpoint(max, 1199px) {
      padding: 1rem 1.4rem 1rem 3.5rem; /* 10px 14px 10px 35px */
      @include fontSize(18, $rootFontSize);
    }
    @include breakpoint(max, 767px) {
      @include fontSize(16, $rootFontSize);
    }
    @include breakpoint(max, 500px) {
      padding: 0.6rem 1rem 0.6rem 3.5rem; /* 6px 10px 6px 35px */
    }
    svg {
      padding: 1.2rem; /* 12px */
      width: 3.5rem; /* 35px */
      height: 3.5rem; /* 35px */
      background: $red;
      border-radius: 50%;
      margin-left: 3rem; /* 30px */
      stroke: #fff;
      @include boxShadow(6px, 3px, 8px, 3px, rgba($red, 0.26));
      @include breakpoint(max, 767px) {
        padding: 1.2rem; /* 12px */
        width: 4rem; /* 40px */
        height: 4rem; /* 40px */
        margin-left: 1.6rem; /* 16px */
      }
      @include breakpoint(max, 500px) {
        width: 3.5rem; /* 35px */
        height: 3.5rem; /* 35px */
      }
    }
  }
  .circ1 {
    position: absolute;
    top: -1.2rem; /* -12px */
    left: 0;
    background: $red;
    width: 10rem; /* 100px */
    height: 10rem; /* 100px */
    z-index: 0;
    border-radius: 50%;
    filter: blur(40px);
  }
  .circ2 {
    position: absolute;
    top: -1.2rem;
    right: 0;
    background: $blue;
    width: 10rem;
    height: 10rem;
    z-index: 0;
    border-radius: 50%;
    filter: blur(40px);
  }
}
.fast-redeem {
  @extend .mainBox;
  width: 49%;
  @include breakpoints(992px, 1100px) {
    width: 100%;
  }
  @include breakpoint(max, 850px) {
    width: 100%;
  }
  @include breakpoint(max, 600px) {
    box-shadow: none;
    background: transparent;
  }
  .fast-redeem-header {
    position: relative;
    padding: 2.3rem 6rem 2rem 2rem; /* 23px 60px 20px 20px */
    border-bottom: 0.1rem /* 1px */ solid #e8ecf8;
    @include fontSize(16, $rootFontSize);
    color: rgba(#3f4373, 0.8);
    @include Heavy;
    @include breakpoint(max, 1199px) {
      padding-right: 4rem; /* 40px */
    }
    @include breakpoint(max, 600px) {
      margin-bottom: 1rem;
      border: none;
      padding: 1.5rem 3rem 1.5rem 2rem; /* 15px 40px 15px 20px */
      @include fontSize(14, $rootFontSize);
    }
    .icon {
      position: absolute;
      width: 1.7rem;
      height: 2.4rem;
      stroke: $red;
      right: 3rem;
      @include calc(top, "(100% - 2.4rem)/2");
      @include breakpoint(max, 1199px) {
        right: 1.5rem;
      }
      @include breakpoint(max, 600px) {
        stroke: rgba(#8c90b1, 0.4);
        right: 0;
      }
    }
  }
  .fast-redeem-body {
    padding: 3rem 3rem 3.5rem 3rem;
    @include breakpoint(max, 1199px) {
      padding: 2rem 2rem 2.5rem 2.5rem;
    }
    @include breakpoint(max, 600px) {
      padding: 2rem 1.5rem;
      border-radius: 1rem;
      background: #fff;
      box-shadow: 0 0.9rem 4.6rem 0 rgba(#aabcd4, 0.31),
        0 0.2rem 0.5rem 0 rgba(#a8c0e2, 0.21);
    }
    .drop-title {
      @include Bold;
      @include fontSize(14, $rootFontSize);
      color: rgba(#8c90b1, 0.8);
      @include breakpoint(max, 600px) {
        @include fontSize(12, $rootFontSize);
      }
    }
    .redeem-drop-holder {
      margin-top: 2rem;
    }
    .bottom-part {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin-top: 3.5rem;
      @include breakpoint(max, 600px) {
        padding-top: 3rem;
        margin-top: 3rem;
        border-top: 0.1rem solid rgba(63, 67, 115, 0.1);
      }
      // @include breakpoint(max, 450px) {
      //   flex-direction: column;
      //   margin-top: 2rem;
      // }
      .btn {
        @include fontSize(16, $rootFontSize);
        padding-left: 6rem;
        margin-right: 1rem;
        @include breakpoint(max, 1300px) {
          @include fontSize(14, $rootFontSize);
          padding-left: 5rem;
        }
        @include breakpoint(max, 600px) {
          padding: 1rem 1.5rem;
        }
        b {
          @include breakpoint(max, 600px) {
            display: none;
          }
        }
        svg {
          width: 0.6rem;
          height: 0.8rem;
          left: 2.5rem;
          @include calc(top, "(100% - 0.6rem)/2");
          @include breakpoint(max, 1300px) {
            left: 1.8rem;
          }
          @include breakpoint(max, 600px) {
            display: none;
          }
        }
      }
      .product-info {
        // @include breakpoint(max, 450px) {
        //   width: 100%;
        //   margin-bottom: 1rem; /* 10px */
        // }
        .product-name {
          display: block;
          margin-top: 1rem;
          @include fontSize(16, $rootFontSize);
          @include Bold;
          @include breakpoint(max, 1300px) {
            @include fontSize(14, $rootFontSize);
          }
          @include breakpoint(max, 600px) {
            @include fontSize(13, $rootFontSize);
          }
        }
        .region,
        .origin {
          @include fontSize(12, $rootFontSize);
          color: rgba(#3f4373, 0.6);
          display: inline-block;
          vertical-align: middle;
          @include Medium;
          @include breakpoint(max, 600px) {
            @include fontSize(10, $rootFontSize);
          }
        }
        .origin {
          padding-right: 2rem; /* 20px */
          position: relative;
          &:after {
            position: absolute;
            display: block;
            content: "";
            width: 0.4rem; /* 4px */
            height: 0.4rem; /* 4px */
            border-radius: 100%;
            background: #9fa1b9;
            @include calc(top, "(100% - 0.4rem)/2");
            right: 0.8rem; /* 8px */
          }
        }
      }
    }
  }
}
.redeem-drop-holder {
  width: 100%;
  position: relative;
  border-radius: 3.5rem;
  border: 0.2rem solid $red;
  padding-left: 4rem;
  @include breakpoint(max, 1199px) {
    padding-left: 2.5rem;
  }
  .arrow {
    position: absolute;
    width: 0.6rem; /* 6px */
    height: 0.8rem; /* 8px */
    left: 3rem; /* 30px */
    stroke: rgba(#3f4373, 0.5);
    @include rotate(-90deg);
    @include calc(top, "(100% - 0.8rem)/2");
    @include breakpoint(max, 1199px) {
      left: 1.5rem;
    }
  }
  .purchased-games-list {
    @include trans(0.3s);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: #fff;
    border-radius: 0.5rem; /* 5px */
    width: 100%;
    right: 0;
    top: 5rem; /* 50px */
    @include lightshadow;
    @include breakpoint(max, 600px) {
      top: 4.3rem; /* 43px */
    }
    input[type="radio"] {
      display: none;
    }
    .product-code {
      @include trans(0.3s);
      border-bottom: 0.1rem /* 1px */ solid #e8ecf8;
      &:hover {
        background: rgba(#8c90b1, 0.1);
      }
    }
  }
  .product-code {
    cursor: pointer;
    padding: 1.7rem 3.5rem 1.5rem 3.5rem; /* 17px 35px 15px 35px */
    color: #3f4373;
    font-size: 1.4rem;
    width: 100%;
    margin-bottom: 0;
    @include Bold;
    @include breakpoint(max, 1400px) {
      padding: 1.7rem 1.5rem 1.5rem 1.5rem;
      font-size: 1.3rem;
    }
    @include breakpoint(max, 1199px) {
      padding: 1.7rem 1rem 1.5rem 1rem;
    }
    @include breakpoint(max, 600px) {
      font-size: 1.2rem;
      padding: 1.5rem 1rem 1.2rem 1rem; /* 15px 25px 12px 25px */
    }
    .date-time {
      display: inline-block;
      vertical-align: middle;
      padding-right: 2.4rem;
      position: relative;
      color: #8c90b1;
      @include Number;
      @include breakpoint(max, 1199px) {
        padding-right: 1rem;
      }
      @include breakpoint(max, 500px) {
        font-size: 1.1rem;
      }
      @include breakpoint(max, 400px) {
        display: none;
      }
      b {
        @include YekanBakh;
      }
      &:before {
        display: block;
        position: absolute;
        content: "";
        width: 1.5rem;
        height: 0.1rem;
        background: #8c90b1;
        right: 0.5rem;
        @include calc(top, "(100% - 0.1rem)/2");
        @include breakpoint(max, 1199px) {
          width: 0.5rem;
          right: 0.1rem;
        }
      }
      span {
        display: inline-block;
        vertical-align: middle;
        &.time {
          padding-right: 1.5rem;
          position: relative;
          @include breakpoint(max, 1199px) {
            padding-right: 0.5rem;
          }
          &:before {
            position: absolute;
            display: block;
            content: "";
            height: 1.5rem;
            width: 0.3rem;
            background: #e8e9ef;
            right: 0.6rem;
            @include calc(top, "(100% - 1.5rem)/2");
            @include breakpoint(max, 1199px) {
              right: 0;
              width: 0.15rem;
            }
          }
        }
      }
    }
  }
  &:hover {
    .purchased-games-list {
      opacity: 1;
      visibility: visible;
      z-index: 2;
    }
  }
}
.middle-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 3rem auto;
  @include breakpoints(992px, 1100px) {
    flex-direction: column;
  }
  @include breakpoint(max, 850px) {
    flex-direction: column;
  }
}

.myOrders {
  @extend .mainBox;
  overflow: hidden;
  @include breakpoint(max, 600px) {
    box-shadow: unset;
    background: transparent;
  }
  .myorder-item {
    width: 50%;
    @include breakpoint(max, 768px) {
      width: 100%;
      border-radius: 1rem; /* 10px */
      background: $white;
      margin-bottom: 2rem; /* 20px */
      overflow: hidden;
      @include boxShadow(-6px, 6px, 8px, -3px, rgba(170, 170, 170, 0.24));
    }
    .title {
      @include breakpoint(max, 400px) {
        order: 1;
      }
    }
    .link {
      margin-right: auto;
      @include breakpoint(max, 400px) {
        order: 2;
      }
    }
    .arrows {
      margin-right: auto;
      @include breakpoint(max, 400px) {
        order: 3;
      }
    }
  }
  .column {
    padding: 2.5rem 3rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 0.1rem solid rgba($textColor, 0.1);
    height: 6.4rem;
    @include breakpoint(max, 1200px) {
      padding: 1.5rem;
    }
    @include breakpoint(max, 600px) {
      height: unset;
      border: none;
      padding: 1.5rem 0;
    }
    // @include breakpoint(max, 500px) {
    //   padding: 1.3rem 1.5rem; /* 13px 15px */
    //   height: unset;
    // }
    .title {
      @include fontSize(16, $rootFontSize);
      color: rgba($textColor, 0.8);
      margin: 0 0 0 auto;
      @include Heavy;
      @include breakpoint(max, 1199px) {
        @include fontSize(14, $rootFontSize);
      }
      .icon {
        stroke: $red;
        width: 1.8rem; /* 18px */
        height: 1.8rem; /* 18px */
        margin-left: 0.5rem; /* 5px */
      }
    }
    .link {
      @include fontSize(16, $rootFontSize);
      color: rgba($textColor, 0.8) !important;
      margin-left: 3rem; /* 30px */
      @include Bold;
      @include breakpoint(max, 1199px) {
        @include fontSize(14, $rootFontSize);
      }
      @include breakpoint(max, 600px) {
        display: none;
      }
      // @include breakpoint(max, 500px) {
      //   @include fontSize(12, $rootFontSize);
      // }
      &.single {
        @include breakpoint(max, 400px) {
          width: auto;
          margin: 0;
        }
      }
    }
    .arrows {
      @include breakpoint(max, 600px) {
        display: none;
      }
      svg {
        width: 1.3rem; /* 13px */
        height: 1.3rem; /* 13px */
        stroke: rgba($textColor, 0.8);
        cursor: pointer;
        @include breakpoint(max, 1199px) {
          width: 1.1rem; /* 11px */
          height: 1.1rem; /* 11px */
        }
        &.nextCarousel {
          margin-left: 1rem; /* 10px */
          margin-bottom: 0.5rem; /* 5px */
          @include rotate(180deg);
        }
      }
      @include breakpoint(max, 400px) {
        width: 100%;
        margin-top: 1rem; /* 10px */
        text-align: left;
        margin-left: 0;
      }
    }
    .order-icon {
      width: 2rem;
      height: 2.2rem;
      stroke: rgba(#8c90b1, 0.4);
      fill: rgba(#8c90b1, 0.4);
      display: none;
      margin-left: 1rem;
      @include breakpoint(max, 600px) {
        display: block;
      }
    }
  }
  .content {
    padding: 2.3rem 5rem 3.5rem 2rem;
    position: relative;
    @include breakpoint(max, 1199px) {
      padding: 2rem 3.5rem 2rem 2rem;
    }
    @include breakpoint(max, 600px) {
      padding: 0;
    }
    &.fav {
      padding: 1rem 0 0 0;
      min-height: 25rem;
      .favCarousel {
        padding: 2rem 3rem 3rem 3rem;
        @include breakpoint(max, 1200px) {
          padding: 1rem;
        }
      }
      @include breakpoint(max, 500px) {
        padding: 1.5rem;
      }
      @include breakpoint(max, 500px) {
        min-height: 20rem;
      }
      &::after {
        display: none;
      }
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 8rem; /* 80px */
      height: 100%;
      z-index: 3;
      top: 0;
      left: 0;
      @include ltrGradient(#fff, rgba(#fff, 0));
      @include breakpoint(max, 600px) {
        display: none;
      }
    }

    .orderCarousel {
      .item {
        position: relative;
        width: 16.5rem;
        height: 27rem;
        @include breakpoint(max, 1199px) {
          width: 15.5rem;
          height: 27rem;
        }
        @include breakpoint(max, 991px) {
          width: 13.5rem;
          height: 25rem;
        }
        @include breakpoint(max, 600px) {
          width: 100%;
          height: 9.6rem;
          padding: 2rem 9.5rem 2rem 2rem;
          margin-bottom: 1rem;
          background: #fff;
          box-shadow: 0 0.2rem 0.6rem 0 rgba(#25294a, 0.06),
            0 1rem 1.5rem 0 rgba(#25294a, 0.04);
          border-radius: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        @include breakpoint(max, 450px) {
          padding-right: 8rem;
        }
        &:hover {
          .hoverLayer {
            opacity: 1;
            visibility: visible;
            @include breakpoint(max, 600px) {
              display: none;
            }
          }
        }
        .img {
          height: 21.7rem; /* 217px */
          width: 100%;
          position: relative;
          z-index: 1;
          border-radius: 0.6rem;
          overflow: hidden;
          object-fit: cover;
          @include breakpoint(max, 1199px) {
            height: 20.7rem;
          }
          @include breakpoint(max, 991px) {
            height: 18.7rem;
          }
          @include breakpoint(max, 600px) {
            width: 6.7rem;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
        .product-name {
          display: flex;
          flex-wrap: wrap;
          text-align: left;
          margin-top: 1.5rem;
          font-size: 1.6rem;
          justify-content: flex-end;
          padding-left: 0.5rem;
          position: relative;
          @include Bold;
          @include breakpoint(max, 991px) {
            font-size: 1.4rem;
          }
          @include breakpoint(max, 600px) {
            font-size: 1.6rem;
            padding-left: 0;
            margin-top: 0;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
          }
          @include breakpoint(max, 450px) {
            font-size: 1.4rem;
          }
          .status {
            width: 1.3rem;
            height: 1.3rem;
            margin-right: 0.5rem;
            // position: absolute;
            // left: 0;
            // top: 0;
            @include breakpoint(max, 600px) {
              // width: 1.1rem;
              // height: 1.1rem;
              display: none;
            }
          }
        }
        .other-info {
          width: 100%;
          display: block;
          text-align: left;
          font-size: 1.2rem;
          color: rgba(#3f4373, 0.6);
          text-transform: uppercase;
          margin-top: 1rem; /* 10px */
          @include breakpoint(max, 991px) {
            font-size: 1rem;
          }
          @include breakpoint(max, 600px) {
            display: inline-block;
            width: unset;
            margin-top: 0;
            padding-right: 2rem;
            position: relative;
          }
          &:before {
            display: none;
            position: absolute;
            content: "";
            width: 1.5rem;
            height: 0.1rem;
            background: #9fa1b9;
            right: 0.2rem;
            @include calc(top, "(100% - 0.1rem)/2");
            @include breakpoint(max, 600px) {
              display: block;
            }
          }
        }
        .responsive-info {
          display: none;
          align-items: center;
          justify-content: space-between;
          @include breakpoint(max, 600px) {
            display: flex;
          }
          .status {
            font-size: 1.6rem;
            color: rgba(#8c90b1, 0.8);
            @include Bold;
            @include breakpoint(max, 450px) {
              font-size: 1.3rem;
            }
            svg {
              width: 1.3rem;
              height: 1.3rem;
              margin-left: 0.5rem;
            }
          }
          .price {
            font-size: 1.4rem;
            @include breakpoint(max, 450px) {
              font-size: 1.1rem;
            }
            b {
              @include Number;
              font-size: 2rem;
              @include breakpoint(max, 450px) {
                font-size: 1.6rem;
              }
            }
          }
        }
        .hoverLayer {
          border-radius: 0.6rem; /* 6px */
          opacity: 0;
          visibility: hidden;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 3;
          padding: 1.5rem; /* 15px */
          display: flex;
          justify-content: center;
          align-items: flex-end;
          background: linear-gradient(to bottom, transparent, $red);
          background: -webkit-linear-gradient(to bottom, transparent, $red);
          background: -moz-linear-gradient(to bottom, transparent, $red);
          background: -o-linear-gradient(to bottom, transparent, $red);
          @include transition(all, 0.4s);
          @include breakpoint(max, 600px) {
            display: none;
          }
          .btn {
            padding: 0.4rem 1.2rem; /* 4px 12px */
            border-radius: 4.5rem; /* 45px */
            border: 0.2rem /* 2px */ solid transparent;
            margin: 0 0.4rem; /* 4px */
            position: relative;
            color: #fff;
            @include fontSize(18, $rootFontSize);
            @include transition(all, 0.3s);
            &:hover {
              border-color: rgba(255, 255, 255, 0.2);
              .tooltip {
                opacity: 1;
                visibility: visible;
              }
            }
            svg {
              stroke: #fff;
              width: 0.9rem; /* 9px */
              height: 0.9rem; /* 9px */
            }
            .tooltip {
              @extend .mainBox;
              position: absolute;
              top: calc(100% + 0.4rem);
              left: -1.5rem; /* -15px */
              @include fontSize(14, $rootFontSize);
              padding: 0.6rem 1.3rem; /* 6px 13px */
              opacity: 0;
              visibility: hidden;
              white-space: nowrap;
              z-index: 5;
              @include transition(all, 0.35s);
            }
          }
        }
      }
    }
  }
  .more-product {
    display: none;
    margin: 3rem auto;
    width: 100%;
    text-align: center;
    @include breakpoint(max, 600px) {
      display: block;
    }
    .btn {
      border-color: #8c8fa2;
      font-size: 1.6rem;
      @include breakpoint(max, 450px) {
        font-size: 1.4rem;
      }
    }
  }
}

.orderModalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70rem; /* 700px */
  margin: auto;
  @include breakpoint(max, 1199px) {
    // max-width: 70rem; /* 700px */
    margin: auto;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .titleBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem; /* 25px */
    width: 100%;
    .title {
      margin: 0;
    }
    .hint {
      .icon {
        background: #fff;
        width: 2rem; /* 20px */
        display: inline-block;
        height: 2rem; /* 20px */
        text-align: center;
        border-radius: 50%;
        vertical-align: middle;
        margin-left: 1rem; /* 10px */
        color: $textColor;
        padding: 0.4rem; /* 4px */
      }
    }
    .btn--transparent {
      color: #fff;
      @include breakpoint(max, 359px) {
        width: 100%;
        margin-top: 1.2rem; /* 12px */
      }
    }
  }
  .title {
    @include fontSize(28, $rootFontSize);
    margin-bottom: 2.5rem; /* 25px */
    text-align: center;
    line-height: 1.5;
    @include Heavy;
    @include breakpoint(max, 1199px) {
      @include fontSize(18, $rootFontSize);
    }
    @include breakpoint(max, 575px) {
      @include fontSize(16, $rootFontSize);
    }
    .icon {
      height: 2.5rem; /* 25px */
      fill: #fff;
      @include breakpoint(max, 575px) {
        height: 1.6rem; /* 16px */
      }
    }
  }
  .inputGroup {
    &.mode2 {
      input {
        background: #fff;
        color: $mainColor !important;
        padding-left: 2.5rem; /* 25px */
        padding-right: 5.5rem; /* 55px */
        @include placeholder(rgba($textColor, 0.5), 16px);
        &:focus {
          border-color: $mainColor;
        }
      }
      svg {
        left: auto;
        right: 2.5rem; /* 25px */
        stroke: $mainColor;
      }
    }
    svg {
      stroke: $red;
    }
  }
  input {
    &.transparent {
      background: transparent;
      border-color: rgba(255, 255, 255, 0.25);
      color: #fff !important;
      @include placeholder(#fff, 14px);
    }
    &.left {
      text-align: left;
      padding-left: 5.5rem; /* 55px */
      direction: ltr;
    }
  }
  .desc {
    margin: 5rem 0; /* 50px */
    @include fontSize(24, $rootFontSize);
    text-align: center;
    @include breakpoint(max, 991px) {
      @include fontSize(20, $rootFontSize);
    }
    @include breakpoint(max, 768px) {
      @include fontSize(18, $rootFontSize);
      margin: 3rem 0; /* 30px */
    }
    @include breakpoint(max, 575px) {
      margin: 2rem 0;
      @include fontSize(16, $rootFontSize);
    }
  }
  .deviceSelect {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    .item {
      // width: 17rem; /* 170px */
      width: 14rem; /* 140px */
      height: 23rem; /* 230px */
      display: flex;
      margin: 0 0.5rem; /* 5px */
      position: relative;
      @include breakpoint(max, 1200px) {
        // width: 15rem; /* 150px */
        height: 21rem; /* 210px */
      }
      @include breakpoint(max, 991px) {
        width: 13rem; /* 130px */
        height: 19rem; /* 190px */
      }
      @include breakpoint(max, 575px) {
        justify-content: center;
        margin-top: 1rem; /* 10px */
      }
      input[type="radio"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        cursor: pointer;
        &:checked + .label {
          .iconHolder {
            background: $blue;
            border-color: $blue;
            @include boxShadow(0, 0, 30px, -4px, $blue);
          }
          .name {
            opacity: 1;
          }
        }
      }
      .label {
        cursor: pointer;
        .iconHolder {
          border-radius: 3rem; /* 30px */
          display: block;
          padding: 5rem; /* 50px */
          text-align: center;
          border: 0.2rem /* 2px */ solid rgba(255, 255, 255, 0.6);
          max-width: 100%;
          @include transition(0.4s, 0s);
          img {
            width: 3rem; /* 30px */
            height: 3rem; /* 30px */
          }
        }
        .name {
          display: block;
          margin-top: 1rem; /* 10px */
          text-align: center;
          @include fontSize(16, $rootFontSize);
          opacity: 0.6;
          @include transition(0.4s, 0s);
        }
      }
    }
  }
  .prdInfoForm {
    input[type="text"],
    input[type="password"],
    textarea {
      background: transparent;
      border: 0.2rem /* 2px */ solid rgba(255, 255, 255, 0.2);
      border-radius: 4.5rem; /* 45px */
      padding: 2rem 2.5rem; /* 20px 25px */
      @include fontSize(20, $rootFontSize);
      color: #fff !important;
      @include placeholder(#fff, 20px);
      @include transition(all, 0.4s);
      @include breakpoint(max, 1199px) {
        padding: 1rem 1.5rem; /* 10px 15px */
        @include fontSize(17, $rootFontSize);
        @include placeholder(#fff, 17px);
      }
      @include breakpoint(max, 575px) {
        @include fontSize(14, $rootFontSize);
        @include placeholder(#fff, 14px);
      }
      &:focus {
        background: #fff;
        color: $mainColor !important;
        @include placeholder($mainColor, 20px);
        @include breakpoint(max, 1199px) {
          @include placeholder($mainColor, 17px);
        }
        @include breakpoint(max, 575px) {
          @include placeholder($mainColor, 14px);
        }
      }
    }
    .row1 {
      display: flex;
      align-items: center;
      width: 100%;
      border: 0.2rem /* 2px */ solid rgba(255, 255, 255, 0.2);
      border-radius: 4.5rem; /* 45px */
      input[type="text"] {
        border: none;
        flex: 0 0 60%;
        max-width: 60%;
        border-radius: 0 4.5rem 4.5rem 0; /* 45px 45px */
      }
      .platform {
        position: relative;
        flex: 0 0 40%;
        max-width: 40%;
        @include fontSize(20, $rootFontSize);
        padding: 2.5rem; /* 25px */
        cursor: pointer;
        border-radius: 4.5rem 0 0 4.5rem; /* 45px 45px */
        @include transition(all, 0.4s);
        @include breakpoint(max, 1199px) {
          padding: 1rem 1.5rem; /* 10px 15px */
          @include fontSize(17, $rootFontSize);
        }
        @include breakpoint(max, 575px) {
          @include fontSize(14, $rootFontSize);
        }
        &.active {
          background: #fff;
          color: $textColor;
          .selected {
            .icon {
              stroke: $textColor;
            }
          }
          .select {
            opacity: 1;
            visibility: visible;
          }
        }
        &::before {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          width: 0.2rem; /* 2px */
          height: 100%;
          background: rgba(255, 255, 255, 0.2);
        }
        .selected {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          @include transition(all, 0.4s);
          .text {
            img {
              width: 2rem; /* 20px */
              height: 2rem; /* 20px */
              margin-left: 0.5rem; /* 5px */
            }
          }
          .icon {
            stroke: none;
            width: 1.5rem; /* 15px */
            height: 1.5rem; /* 15px */
            @include rotate(-90deg);
          }
        }
        .select {
          position: absolute;
          top: calc(100% + 0.4rem);
          right: 0;
          width: 100%;
          background: #fff;
          border-radius: 1.5rem; /* 15px */
          opacity: 0;
          visibility: hidden;
          z-index: 5;
          @include transition(all, 0.4s);
          max-height: 30rem; /* 300px */
          overflow-y: auto;
          @include hide_scrollbar();
          @include breakpoint(max, 575px) {
            width: 25rem; /* 250px */
            right: auto;
            left: 0;
          }
          .item {
            padding: 2.5rem; /* 25px */
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 0.1rem /* 1px */ solid rgba($textColor, 0.1);
            @include fontSize(14, $rootFontSize);
            @include transition(all, 0.4s);
            &:hover {
              background: rgba($textColor, 0.1);
            }
            .persian {
              @include fontSize(16, $rootFontSize);
              color: $mainColor;
              @include Heavy;
              img {
                width: 2rem; /* 20px */
                height: 2rem; /* 20px */
                margin-left: 0.5rem; /* 5px */
              }
            }
            .english {
              @include fontSize(12, $rootFontSize);
              color: $textColor;
            }
          }
        }
      }
    }
    .priceRow {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      margin: 2rem 0; /* 20px */
      .inputGroup {
        flex: 0 0 60%;
        max-width: 60%;
        @include breakpoint(max, 425px) {
          flex: 0 0 100%;
          max-width: 100%;
        }
        .select {
          position: absolute;
          left: 2.5rem; /* 25px */
          top: 1rem; /* 10px */
          height: 3.2rem; /* 32px */
          padding: 0.8rem 1rem; /* 8px 10px */
          color: $mainColor;
          border-radius: 4.5rem; /* 45px */
          border: 0.2rem /* 2px */ solid rgba($textColor, 0.2);
          cursor: pointer;
          @include transition(all, 0.4s);
          &.active {
            background: #fff;
            .popUp {
              opacity: 1;
              visibility: visible;
            }
          }
          .selected {
            @include Bold;
            .icon {
              @include rotate(-90deg);
              stroke: $mainColor;
              margin-left: 1.5rem; /* 15px */
              position: relative;
              top: 0;
              left: 0;
              width: 0.9rem; /* 9px */
              height: 0.9rem; /* 9px */
            }
          }
          .popUp {
            position: absolute;
            top: calc(100% + 0.4rem);
            right: 0;
            width: 100%;
            border-radius: 1.5rem; /* 15px */
            background: #fff;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            z-index: 5;
            @include transition(all, 0.4s);
            .item {
              padding: 1.5rem 1rem; /* 15px 10px */
              border-bottom: 0.1rem /* 1px */ solid rgba($textColor, 0.2);
              @include transition(all, 0.4s);
              &:hover {
                background: rgba($textColor, 0.2);
              }
            }
          }
        }
      }
      .converted {
        flex: 0 0 40%;
        max-width: 40%;
        @include fontSize(20, $rootFontSize);
        padding: 2.5rem; /* 25px */
        @include breakpoint(max, 425px) {
          flex: 0 0 100%;
          max-width: 100%;
          padding: 1.5rem; /* 15px */
        }
        .bold {
          margin: 0 1rem; /* 10px */
          @include Number;
        }
        .unit {
          @include fontSize(18, $rootFontSize);
          color: rgba(255, 255, 255, 0.4);
        }
      }
    }
    .accRow {
      display: flex;
      border: 0.2rem /* 2px */ solid rgba(255, 255, 255, 0.2);
      border-radius: 4.5rem; /* 45px */
      align-items: center;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: calc(50% - 0.1rem);
        top: 0;
        width: 0.2rem; /* 2px */
        height: 100%;
        background: rgba(255, 255, 255, 0.2);
      }
      input[type="text"] {
        flex: 0 0 50%;
        max-width: 50%;
        border: none;
        border-radius: 0 4.5rem 4.5rem 0; /* 45px 45px */
      }
      input[type="password"] {
        flex: 0 0 50%;
        max-width: 50%;
        border: none;
        border-radius: 4.5rem 0 0 4.5rem; /* 45px 45px */
      }
    }
    .validation {
      color: rgba(255, 255, 255, 0.8);
      margin: 1rem 0; /* 10px */
      @include breakpoint(max, 1199px) {
        @include fontSize(14, $rootFontSize);
      }
      a {
        color: rgba(255, 255, 255, 0.8);
        text-decoration: underline !important;
      }
      .action {
        float: left;
        background: rgba(255, 255, 255, 0.15) !important;
        padding: 0.5rem 0.7rem; /* 5px 7px */
        @include fontSize(12, $rootFontSize);
        border-radius: 4.5rem; /* 45px */
        text-decoration: none !important;
        @include breakpoint(max, 575px) {
          float: none;
          display: block;
          width: 20rem; /* 200px */
          text-align: center;
          margin: 2rem /* 20px */ auto;
        }
      }
    }
  }

  .existing {
    position: absolute;
    left: calc(100% + 5rem);
    top: 0;
    width: 22rem; /* 220px */
    @include breakpoint(max, 1199px) {
      top: 1.5rem; /* 15px */
      right: 1.5rem; /* 15px */
      width: 16rem; /* 160px */
      height: auto;
      position: fixed;
      overflow: hidden;
      background: rgba(0, 0, 0, 0.7);
      padding: 1rem; /* 10px */
      border-radius: 1.5rem; /* 15px */
    }
    .header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      .title {
        @include fontSize(16, $rootFontSize);
        color: #fff;
        display: flex;
        align-items: center;
        margin: 0;
        @include Heavy;
        .iconHolder {
          width: 2.5rem; /* 25px */
          height: 2.5rem; /* 25px */
          border-radius: 50%;
          background: rgba($green, 0.2);
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 1.5rem; /* 15px */
          .icon {
            width: 2rem; /* 20px */
            height: 2rem; /* 20px */
            border-radius: 50%;
            border: 0.2rem /* 2px */ solid $green;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 0.5rem; /* 5px */
            color: $green;
          }
        }
      }
      .closeIcon {
        width: 1rem; /* 10px */
        height: 1rem; /* 10px */
        stroke: #fff;
        cursor: pointer;
      }
    }

    .item {
      background: #fff;
      padding: 0.9rem 0.7rem; /* 9px 7px */
      border-radius: 1.5rem; /* 15px */
      margin-top: 1.5rem; /* 15px */
      color: $mainColor;
      .image {
        width: 100%;
        @include breakpoint(max, 1199px) {
          display: none;
        }
      }
      .title {
        @include fontSize(16, $rootFontSize);
        margin: 2rem 0; /* 20px */
        text-align: left;
        @include breakpoint(max, 1199px) {
          margin-top: 0;
        }
      }
      .priceBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price {
          @include fontSize(22, $rootFontSize);
          @include Number;
          font-weight: 700;
          @include breakpoint(max, 1199px) {
            @include fontSize(13, $rootFontSize);
          }
          .unit {
            @include fontSize(14, $rootFontSize);
            color: rgba($textColor, 0.8);
            margin-right: 0.3rem; /* 3px */
            font-family: YekanBakh;
            font-weight: 600;
          }
        }
        .discount {
          background: $red;
          color: #fff;
          border-radius: 4.5rem; /* 45px */
          padding: 0.2rem 0.7rem; /* 2px 7px */
          @include fontSize(12, $rootFontSize);
          @include Number;
        }
      }
      .buy {
        .plus {
          @include fontSize(28, $rootFontSize);
          margin-left: 0.8rem; /* 8px */
        }
      }
    }
  }

  .priceDetailsBox {
    position: absolute;
    width: 25rem; /* 250px */
    right: calc(100% + 5rem);
    top: 12rem; /* 120px */
    color: $mainColor;
    @include breakpoint(max, 1199px) {
      top: 1.5rem; /* 15px */
      left: 1.5rem; /* 15px */
      right: auto;
      width: 25rem; /* 250px */
      height: auto;
      position: fixed;
      overflow: hidden;
      background: rgba(0, 0, 0, 0.7);
      padding: 1rem; /* 10px */
      border-radius: 1.5rem; /* 15px */
    }
    .header {
      text-align: left;
      margin-bottom: 1.5rem; /* 15px */
      .closeIcon {
        width: 0.9rem; /* 9px */
        height: 0.9rem; /* 9px */
        stroke: #fff;
        cursor: pointer;
      }
    }
    .content {
      border-radius: 1.5rem; /* 15px */
      background: #fff;
      @include fontSize(14, $rootFontSize);
      .price {
        font-weight: 700;
        @include fontSize(18, $rootFontSize);
        color: $mainColor;
        @include Number;
      }
      .prdPrice {
        padding: 2rem 2.5rem; /* 20px 25px */
        color: rgba($textColor, 0.8);
        @include breakpoint(max, 1199px) {
          padding: 1rem; /* 10px */
        }
        .tomanPrice {
          padding-right: 0.7rem; /* 7px */
          border-right: 0.2rem /* 2px */ solid rgba($textColor, 0.2);
        }
        .dollarPrice {
          padding-left: 0.7rem; /* 7px */
          font-family: YekanBakh;
        }
      }
      .wage {
        padding: 2rem 2.5rem; /* 20px 25px */
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.1rem /* 1px */ solid rgba($textColor, 0.1);
        border-top: 0.1rem /* 1px */ solid rgba($textColor, 0.1);
        @include breakpoint(max, 1199px) {
          padding: 1rem; /* 10px */
        }
      }
      .accountPrice {
        padding: 2rem 2.5rem 3rem; /* 20px 25px 30px */
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include breakpoint(max, 1199px) {
          padding: 1rem; /* 10px */
        }
      }
      .total {
        padding: 2rem 2.5rem; /* 20px 25px */
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include fontSize(16, $rootFontSize);
        @include breakpoint(max, 1199px) {
          padding: 1rem; /* 10px */
        }
        @include breakpoint(max, 500px) {
          @include fontSize(12, $rootFontSize);
        }
        .price {
          @include fontSize(20, $rootFontSize);
          @include breakpoint(max, 500px) {
            @include fontSize(15, $rootFontSize);
          }
        }
      }
    }
  }

  .searchResult {
    margin: 0.5rem 0; /* 5px */
    border: 0.2rem /* 2px */ solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem; /* 10px */
    width: 100%;
    overflow: hidden;
    @include transition(all, 0.4s);
    .item {
      padding: 2.5rem; /* 25px */
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      &:nth-child(even) {
        background: #fff;
        color: $mainColor;
        .name {
          a {
            &::before {
              background: $mainColor;
            }
          }
        }
      }
      &:nth-child(odd) {
        color: #fff;
        .name {
          a {
            color: #fff;
          }
        }
      }
      .name {
        @include fontSize(18, $rootFontSize);
        font-weight: 700;
        @include breakpoint(max, 575px) {
          width: 100%;
        }
        a {
          @include fontSize(14, $rootFontSize);
          opacity: 0.7;
          margin-right: 0.5rem; /* 5px */
          font-weight: 500;
          &::before {
            content: "";
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 0.3rem; /* 3px */
            height: 0.3rem; /* 3px */
            border-radius: 50%;
            background: #fff;
            margin-left: 0.5rem; /* 5px */
          }
        }
      }
      .buy {
        background: $red;
        padding: 0.3rem 0.8rem; /* 3px 8px */
        @include fontSize(14, $rootFontSize);
        color: #fff;
        border-radius: 4.5rem; /* 45px */
        @include breakpoint(max, 575px) {
          // width: 100%;

          text-align: center;
          margin: 0.7rem /* 7px */ auto auto;
        }
      }
    }
  }

  .orderConfirm {
    .title {
      @include fontSize(14, $rootFontSize);
      color: rgba(255, 255, 255, 0.8);
      margin-left: 0.6rem; /* 6px */
      margin-bottom: 0;
      text-align: right;
      @include Medium;
    }
    .infoBox {
      border-radius: 4.5rem; /* 45px */
      border: 0.2rem /* 2px */ solid rgba(255, 255, 255, 0.2);
      @include fontSize(20, $rootFontSize);
      font-weight: 700;
      margin-bottom: 2.5rem; /* 25px */
      @include breakpoint(max, 575px) {
        border-radius: 2.5rem; /* 25px */
      }
      .link {
        padding: 2.5rem 4.5rem; /* 25px 45px */
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        @include breakpoint(max, 575px) {
          padding: 1.5rem 2.5rem; /* 15px 25px */
        }
        .icon {
          width: 2.5rem; /* 25px */
          height: 2.5rem; /* 25px */
          stroke: #fff;
          opacity: 0.8;
          @include breakpoint(max, 575px) {
            width: 1.5rem; /* 15px */
            height: 1.5rem; /* 15px */
          }
        }
        p {
          white-space: nowrap;
          direction: ltr;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: 1.6rem; /* 16px */
        }
      }
      .info {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem 2.5rem; /* 5px 25px */
        border-top: 0.2rem /* 2px */ solid rgba(255, 255, 255, 0.2);
        @include breakpoint(max, 575px) {
          padding: 0.5rem 1.2rem; /* 5px 12px */
        }
        .name {
          flex: 0 0 60%;
          max-width: 60%;
          position: relative;
          padding: 2rem 2rem; /* 20px 20px */
          @include breakpoint(max, 575px) {
            padding: 1.5rem 1.3rem; /* 15px 13px */
          }
          @include breakpoint(max, 379px) {
            flex: 0 0 100%;
            max-width: 100%;
          }
          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0.3rem; /* 3px */
            width: 0.2rem; /* 2px */
            height: calc(100% - 0.6rem);
            background: rgba(255, 255, 255, 0.2);
            @include breakpoint(max, 379px) {
              top: 100%;
              width: 100%;
              height: 0.2rem; /* 2px */
            }
          }
        }
        .platform {
          flex: 0 0 40%;
          max-width: 40%;
          padding: 2rem 2rem; /* 20px 20px */
          @include breakpoint(max, 575px) {
            padding: 1.5rem 1.3rem; /* 15px 13px */
          }
          @include breakpoint(max, 379px) {
            flex: 0 0 100%;
            max-width: 100%;
          }
          img {
            width: 1.5rem; /* 15px */
            height: 1.5rem; /* 15px */
            margin-left: 0.5rem; /* 5px */
          }
        }
      }
    }

    .rowItem {
      display: flex;
      justify-content: space-between;
      padding: 2rem 0; /* 20px */
      border-bottom: 0.1rem /* 1px */ solid rgba(255, 255, 255, 0.2);
      @include fontSize(20, $rootFontSize);
      @include breakpoint(max, 575px) {
        @include fontSize(17, $rootFontSize);
      }
      &.desc {
        @include fontSize(15, $rootFontSize);
        margin: 0;
        @include breakpoint(max, 575px) {
          @include fontSize(14, $rootFontSize);
        }
        .description {
          flex: 0 0 70%;
          max-height: 8rem; /* 80px */
          overflow-y: auto;
          direction: ltr;
          line-height: 1.5;
          text-align: right;
        }
      }
    }
    .gateSelect {
      margin: 2rem 0; /* 20px */
      background: #fff;
      border-radius: 4.5rem; /* 45px */
      padding: 1.5rem 2.5rem; /* 15px 25px */
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      .title {
        color: rgba($textColor, 0.7);
      }
      .item {
        margin-right: 0.5rem; /* 5px */
        position: relative;
        input[type="radio"] {
          opacity: 0;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;
          &:checked + .label {
            border-color: rgba($textColor, 0.2);
          }
        }
        .label {
          padding: 0.8rem; /* 8px */
          border-radius: 4.5rem; /* 45px */
          border: 0.1rem /* 1px */ solid transparent;
          img {
            height: 1.5rem; /* 15px */
          }
        }
      }
    }
    .pay {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      @include fontSize(18, $rootFontSize);
      @include breakpoint(max, 575px) {
        @include fontSize(16, $rootFontSize);
      }
      .num {
        @include fontSize(20, $rootFontSize);
        margin-left: 0.4rem; /* 4px */
        @include Number;
        @include breakpoint(max, 575px) {
          @include fontSize(18, $rootFontSize);
        }
      }
      .btn {
        @include breakpoint(max, 425px) {
          width: 100%;
          text-align: center;
          margin-top: 1.2rem; /* 12px */
        }
      }
    }
  }
  .buttons {
    text-align: center;
    .btn {
      min-width: 12rem; /* 120px */
    }
    .btn--transparent {
      border-width: 0.1rem; /* 1px */
    }
  }
  // &#order-step-1{
  //   .buttons{
  //     #step-1-submit{
  //       padding: 1.8rem 6.5rem 1.8rem 10rem; /* 18px 65px 18px 100px */
  //     }
  //     #step-1-cancel{
  //       padding: 1.8rem 4.8rem; /* 18px 48px */
  //     }
  //   }
  // }
  // &#order-step-2{
  //   max-width: 90%;
  // }
}

.regModalContent {
  padding: 4rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  @include fontSize(16, $rootFontSize);
  @include breakpoint(max, 575px) {
    padding: 3rem 0;
    @include fontSize(14, $rootFontSize);
  }
  .circ1 {
    position: absolute;
    width: 3rem; /* 30px */
    height: 3rem; /* 30px */
    right: -5rem; /* -50px */
    top: 4rem; /* 40px */
    @include breakpoint(max, 575px) {
      display: none;
    }
  }
  .circ2 {
    position: absolute;
    width: 2rem; /* 20px */
    height: 2rem; /* 20px */
    left: 10rem; /* 100px */
    bottom: 10rem; /* 100px */
    @include breakpoint(max, 575px) {
      display: none;
    }
  }
  .circ3 {
    position: absolute;
    width: 8.5rem; /* 85px */
    height: 8.5rem; /* 85px */
    left: -4.3rem; /* -43px */
    top: 7rem; /* 70px */
    @include breakpoint(max, 575px) {
      display: none;
    }
  }
  .title {
    @include fontSize(24, $rootFontSize);
    margin-bottom: 1.5rem; /* 15px */
    @include Heavy;
    @include breakpoint(max, 575px) {
      @include fontSize(20, $rootFontSize);
    }
  }
  .subTitle {
    @include fontSize(16, $rootFontSize);
    color: rgba($textColor, 0.6);
    @include Medium;
    @include breakpoint(max, 575px) {
      @include fontSize(14, $rootFontSize);
    }
  }
  .link {
    margin: 4rem 0 2rem; /* 40px 20px */
    background: $mainColor;
    color: #fff;
    border-radius: 4.5rem; /* 45px */
    @include fontSize(22, $rootFontSize);
    padding: 1rem 1rem 1rem 3rem; /* 10px 10px 10px 30px */
    @include breakpoint(max, 575px) {
      @include fontSize(14, $rootFontSize);
    }
    &:hover {
      color: #fff;
    }
    svg {
      width: 5rem; /* 50px */
      height: 5rem; /* 50px */
      background: $red;
      stroke: #fff;
      border-radius: 50%;
      padding: 1.6rem; /* 16px */
      margin-left: 1.2rem; /* 12px */
      @include boxShadow(6px, 6px, 30px, 0, rgba($red, 0.7));
      @include breakpoint(max, 575px) {
        width: 3.5rem; /* 35px */
        height: 3.5rem; /* 35px */
        padding: 0.8rem; /* 8px */
      }
      @include breakpoint(max, 400px) {
        width: 2.5rem; /* 25px */
        height: 2.5rem; /* 25px */
        padding: 1rem; /* 10px */
      }
    }
  }
  // .button{
  //   .btn{
  //     min-width: 12rem; /* 120px */
  //   }
  // }
}

.dashMenuBtn {
  padding: 0.5rem 1rem; /* 5px 10px */
  background: #fff;
  border-radius: 0.5rem; /* 5px */
  color: rgba($textColor, 0.8);
  display: none;
  @include Bold;
  @include breakpoint(max, 991px) {
    display: block;
  }
  @include breakpoint(max, 600px) {
    display: none;
  }
  svg {
    width: 2rem; /* 20px */
    height: 2rem; /* 20px */
    padding-left: 0.7rem; /* 7px */
    stroke: rgba($textColor, 0.8);
  }
}

.bottom-content {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem; /* 20px */
  padding-bottom: 4rem;
  @include breakpoint(max, 767px) {
    flex-direction: column;
  }
  @include breakpoint(max, 600px) {
    display: none;
  }
  .manage-account {
    width: 65%;
    @include breakpoint(max, 767px) {
      width: 100%;
      margin-bottom: 2rem; /* 20px */
    }
    .manage-account-header {
      padding: 3rem 4rem 2rem 4rem; /* 30px 40px 20px 40px */
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include fontSize(16, $rootFontSize);
      @include Heavy;
      color: rgba(#3f4373, 0.8);
      border-bottom: 0.1rem /* 1px */ solid #e8ecf8;
      @include breakpoint(max, 1199px) {
        padding: 2rem 3rem; /* 20px 30px */
        @include fontSize(14, $rootFontSize);
      }
      @include breakpoint(max, 500px) {
        padding: 1.5rem 2.5rem; /* 15px 25px */
      }
      .manage-link {
        @include Medium;
        @include fontSize(16, $rootFontSize);
        position: relative;
        padding-right: 1.7rem; /* 17px */
        @include breakpoint(max, 1199px) {
          @include fontSize(14, $rootFontSize);
        }
        @include breakpoint(max, 500px) {
          @include fontSize(12, $rootFontSize);
        }
        svg {
          position: absolute;
          width: 1rem; /* 10px */
          height: 1rem; /* 10px */
          stroke: $red;
          right: 0;
          @include calc(top, "(100% - 1rem)/2");
          @include breakpoint(max, 500px) {
            width: 0.8rem; /* 8px */
            height: 0.8rem; /* 8px */
            @include calc(top, "(100% - 0.8rem)/2");
          }
        }
      }
    }
    .manage-account-body {
      overflow-y: auto;
      .without-account {
        padding: 6rem 2rem 5rem 2rem; /* 60px 20px 50px 20px */
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.3;
        @include breakpoint(max, 600px) {
          padding: 4rem 2rem; /* 40px 20px */
        }
        h3 {
          @include Heavy;
          @include fontSize(16, $rootFontSize);
          margin-bottom: 0;
          position: relative;
          text-align: center;
          @include breakpoint(max, 600px) {
            @include fontSize(14, $rootFontSize);
          }

          span {
            @include Bold;
          }
          .img {
            position: absolute;
            width: 5.5rem; /* 55px */
            height: 5.5rem; /* 55px */
            object-fit: contain;
            bottom: 0.5rem; /* 5px */
            left: -5.7rem; /* -57px */
            @include breakpoint(max, 600px) {
              width: 4rem; /* 40px */
              height: 4rem; /* 40px */
              left: -4rem; /* -40px */
            }
            @include breakpoint(max, 450px) {
              display: none;
            }
          }
        }
        .caption {
          margin-top: 1rem; /* 10px */
          @include fontSize(14, $rootFontSize);
          color: rgba(#3f4373, 0.6);
          text-align: center;
          @include Medium;
          @include breakpoint(max, 600px) {
            @include fontSize(12, $rootFontSize);
          }
        }
        .btn {
          margin-top: 2.5rem; /* 25px */
          @include fontSize(16, $rootFontSize);
          padding: 1.5rem 3.5rem; /* 15px 35px */
          @include breakpoint(max, 600px) {
            @include fontSize(14, $rootFontSize);
            padding: 1.2rem 3rem; /* 12px 30px */
          }
        }
      }
      .account-list {
        padding: 0 3.5rem;
        max-height: 27rem;
        @include breakpoint(max, 1199px) {
          padding: 0 2rem;
        }
      }
      .account-row {
        padding: 2rem 0;
        display: flex;
        align-items: center;
        border-bottom: 0.1rem solid #e8ecf8;
        @include breakpoint(max, 1199px) {
          padding: 1rem 0;
        }
        // @include breakpoint(max, 768px) {
        //   padding: 1.2rem 0;
        // }
        @include breakpoint(max, 500px) {
          flex-wrap: wrap;
        }
        .icon {
          margin-left: 2rem; /* 25px */
          @include breakpoint(max, 768px) {
            margin-left: 1rem; /* 10px */
          }
          img {
            width: 2.3rem; /* 23px */
            height: 2.3rem; /* 23px */
            object-fit: contain;
            @include breakpoint(max, 768px) {
              width: 2rem; /* 20px */
              height: 2rem; /* 20px */
            }
          }
        }
        .username {
          @include Bold;
          width: 25%;
          color: #8c90b1;
          padding: 0 1.5rem 0 0;
          min-width: 10rem;

          @include breakpoint(max, 768px) {
            width: 32%;
            padding-right: 1rem;
            @include fontSize(12, $rootFontSize);
          }
          @include breakpoint(max, 450px) {
            padding-right: 0;
          }

          .name {
            font-size: 1.6rem;
            color: #3f4373;

            display: inline-block;
            vertical-align: middle;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 10rem;
            text-align: right;
            @include breakpoint(max, 1199px) {
              font-size: 1.4rem;
            }
          }
        }
        .password {
          position: relative;
          padding-left: 2rem;
          color: #8c90b1;
          font-size: 1.3rem;
          @include Bold;
          width: 15%;
          text-align: left;
          @include breakpoint(max, 1300px) {
            width: 20%;
          }
          @include breakpoint(max, 500px) {
            display: none;
          }

          .key {
            color: #3f4373;
            @include fontSize(13, $rootFontSize);
            display: inline-block;
            vertical-align: middle;

            .closet {
              display: inline-block;
              vertical-align: middle;
              b {
                width: 0.4rem; /* 4px */
                height: 0.4rem; /* 4px */
                border-radius: 100%;
                display: inline-block;
                vertical-align: middle;
                background: #d9d9e3;
                margin: 0 0.2rem;
              }
            }
          }
          &:after {
            display: block;
            position: absolute;
            content: "";
            height: 3rem;
            width: 0.1rem;
            background: #d9d9e3;
            left: 0;
            @include calc(top, "(100% - 3rem)/2");
          }
        }
        .platform {
          text-transform: capitalize;
          margin-right: auto;
          font-size: 1.4rem;
          @include Bold;
          @include breakpoint(max, 1200px) {
            font-size: 1.2rem;
          }
          .more {
            margin-right: 2rem;
            border-radius: 2rem;
            border: 0.2rem solid #dfe1f2;
            padding: 0.5rem 0.9rem;
            display: inline-block;
            vertical-align: middle;
            @include breakpoint(max, 1200px) {
              padding: 0.3rem 0.7rem;
              margin-right: 1rem;
              border-width: 0.1rem;
            }

            b {
              width: 0.4rem;
              height: 0.4rem;
              border-radius: 100%;
              display: inline-block;
              vertical-align: middle;
              background: #d9d9e3;
              margin: 0 0.2rem;
            }
          }
        }
      }
    }
  }
  .help {
    width: 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    @include breakpoint(max, 767px) {
      width: 100%;
    }
    @include breakpoint(max, 600px) {
      padding: 3rem 2rem;
    }
    img {
      width: 8rem;
      height: 8rem;
      object-fit: contain;
      @include breakpoint(max, 600px) {
        width: 6rem;
        height: 6rem;
      }
    }
    h3 {
      @include Heavy;
      @include fontSize(20, $rootFontSize);
      margin-top: 1.5rem;
      @include breakpoint(max, 600px) {
        @include fontSize(17, $rootFontSize);
      }
    }
    .caption {
      @include fontSize(16, $rootFontSize);
      color: rgba(#3f4373, 0.8);
      margin-top: 1rem;
      @include breakpoint(max, 600px) {
        @include fontSize(14, $rootFontSize);
      }
    }
    .btn {
      @include Heavy;
      margin-top: 3rem;
      padding: 1rem 2.5rem;
      @include fontSize(16, $rootFontSize);
      border: 0.2rem solid #ffd21d;
      @include breakpoint(max, 600px) {
        @include fontSize(14, $rootFontSize);
      }
    }
  }
}

.show-in-responsive {
  display: none;
  @include breakpoint(max, 600px) {
    display: block;
  }
}
