.faqs {
  background: #f7f8ff;
  padding: 5rem 0;
  @include breakpoint(max, 991px) {
    padding: 2rem 0;
  }
}

.faq {
  $this: &;
  &-title {
    @include fontSize(20, $rootFontSize);
    margin-right: 2rem; /* 20px */
    margin-left: 2rem; /* 20px */
    width: calc(100% - 10.2rem);
    line-height: 1.3;
    opacity: 0.9;
    margin-bottom: 0;
    @include Bold;
    @include breakpoint(max, 767px) {
      @include fontSize(18, $rootFontSize);
    }
    @include breakpoint(max, 425px) {
      @include fontSize(15, $rootFontSize);
      margin-right: 1rem; /* 10px */
      margin-left: 1rem; /* 10px */
      width: calc(100% - 6.7rem);
    }
  }
  &-num {
    background: #f7f8ff;
    color: rgba($textColor, 0.5);
    width: 5rem; /* 50px */
    height: 5rem; /* 50px */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    @include fontSize(24, $rootFontSize);
    font-weight: 700;
    @include Number;
    @include boxShadow(0, 0, 0, 0, transparent);
    @include transition(all, 0.4s);
    @include breakpoint(max, 425px) {
      width: 3.5rem; /* 35px */
      height: 3.5rem; /* 35px */
      @include fontSize(17, $rootFontSize);
      padding: 0.5rem;
    }
    &:after {
      display: block;
    }
  }
  &-header {
    @extend .mainBox;
    border-radius: 4.5rem /* 45px */ !important;
    margin-bottom: 1.5rem; /* 15px */
    padding: 1.3rem 1.3rem 1.3rem 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    .icon {
      width: 1.2rem; /* 12px */
      height: 1.2rem; /* 12px */
      stroke: rgba($textColor, 0.6);
    }
    &.active,
    &:hover {
      #{$this}-num {
        background: $red;
        color: #fff;
        @include boxShadow(5px, 5px, 35px, -2px, rgba($red, 0.4));
      }
      #{$this}-title {
        opacity: 1;
      }
    }
  }
  &-content {
    @include fontSize(16, $rootFontSize);
    color: rgba($textColor, 0.8);
    padding: 3rem;
    display: none;
    @include breakpoint(max, 991px) {
      padding: 3rem 0;
    }
    @include breakpoint(max, 425px) {
      @include fontSize(14, $rootFontSize);
    }
    p {
      margin-bottom: 1.5rem; /* 15px */
    }
    ul {
      margin-bottom: 2rem; /* 20px */
      @include breakpoint(max, 768px) {
        margin-bottom: 1.5rem; /* 15px */
      }
      li {
        margin-bottom: 0.8rem; /* 8px */
      }
    }
  }
}
