#favorite-content {
  padding-right: 0 !important;
  @include breakpoint(max, 991px) {
    padding-right: 1.5rem !important;
  }
}
.favResult {
  width: 90% !important;
  @include breakpoint(max, 1480px) {
    width: 100% !important;
  }
  @include breakpoint(max, 1200px) {
    width: 80% !important;
  }
  @include breakpoint(max, 1130px) {
    width: 100% !important;
  }
  @include breakpoint(max, 991px) {
    width: 70rem !important;
    margin: 0 auto;
  }
  @include breakpoint(max, 768px) {
    width: 53rem !important;
  }
  @include breakpoint(max, 550px) {
    width: 100% !important;
  }
  .product-card {
    margin-bottom: 2.2rem; /* 22px */
    @include calc(margin-left, "(100% - 92rem)/8");
    @include calc(margin-right, "(100% - 92rem)/8");
    @include breakpoint(max, 1300px) {
      @include calc(margin-left, "(100% - 84rem)/8");
      @include calc(margin-right, "(100% - 84rem)/8");
    }
    @include breakpoint(max, 1200px) {
      @include calc(margin-left, "(100% - 63rem)/6");
      @include calc(margin-right, "(100% - 63rem)/6");
    }
    @include breakpoint(max, 1130px) {
      @include calc(margin-left, "(100% - 72rem)/8");
      @include calc(margin-right, "(100% - 72rem)/8");
    }
    @include breakpoint(max, 991px) {
      @include calc(margin-left, "(100% - 68rem)/8");
      @include calc(margin-right, "(100% - 68rem)/8");
    }
    @include breakpoint(max, 768px) {
      @include calc(margin-left, "(100% - 51rem)/6");
      @include calc(margin-right, "(100% - 51rem)/6");
    }
    @include breakpoint(max, 550px) {
      @include calc(width, "(100% - 2rem)/3");
      @include calc(margin-left, "(2rem / 6 )");
      @include calc(margin-right, "(2rem / 6 )");
    }
    @include breakpoint(max, 480px) {
      width: 45.5%;
      margin-left: 2%;
      margin-right: 2%;
    }
    @include breakpoint(max, 400px) {
      width: 48%;
      margin-left: 1%;
      margin-right: 1%;
    }
    &:hover {
      background: rgba($textColor, 0.1);
      .product-bottom {
        .add-to-cart {
          background: #fff !important;
          color: $red !important;
        }
      }
    }
    .product-bottom {
      @include breakpoint(max, 500px) {
        padding-bottom: 1rem;
      }

      .delete {
        color: $red;
        @include fontSize(14, $rootFontSize);
        padding-left: 1rem;

        opacity: 1;
        @include Heavy;
        @include breakpoint(max, 1100px) {
          @include fontSize(12, $rootFontSize);
          padding-left: 0.5rem;
        }
        @include breakpoints(521px, 870px) {
          border-left: none;
        }
        svg {
          width: 1rem; /* 10px */
          height: 1rem; /* 10px */
          margin-left: 0.5rem; /* 5px */
          stroke: $red;
        }
      }
      .enter {
        color: $textColor;
        @include fontSize(14, $rootFontSize);
        padding-right: 1rem;
        @include Heavy;
        border-right: 0.1rem /* 1px */ solid rgba($textColor, 0.1);
        @include breakpoint(max, 1100px) {
          @include fontSize(12, $rootFontSize);
          padding-right: 0.5rem;
        }
        @include breakpoint(max, 400px) {
          display: none;
        }
        svg {
          width: 1rem; /* 10px */
          height: 1rem; /* 10px */
          margin-left: 0.5rem; /* 5px */
          stroke: rgba($textColor, 0.7);
        }
      }
      .add-to-cart {
        width: 3.6rem; /* 36px */
        height: 3.6rem; /* 36px */
        @include fontSize(20, $rootFontSize);
        @include breakpoint(max, 600px) {
          width: 3rem; /* 36px */
          height: 3rem; /* 36px */
        }
      }
    }
  }
}
.card-list-holder {
  display: flex;
  flex-wrap: wrap;
}
