footer {
  background: $mainColor;
  color: $white;
  position: relative;
  overflow: hidden;
  padding: 5rem 0 2rem 0;
  @include breakpoint(max, 768px) {
    background: #f7f8ff;
    padding: 2rem 0;
  }
  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(max, 991px) {
      flex-direction: column;
    }
    .footer-description {
      max-width: 38rem; /* 380px */
      //text-align: justify;
      padding-right: 9rem;
      position: relative;
      color: rgba($white, 0.84);
      @include breakpoint(max, 768px) {
        display: none;
      }
      .footer-logo {
        width: 6rem; /* 60px */
        height: 4.7rem; /* 47px */
        position: absolute;
        right: 0;
        @include calc(top, "(100% - 4.7rem)/2");
      }
    }
    .footer-menu {
      @include breakpoint(max, 991px) {
        margin-top: 2rem; /* 20px */
      }
      @include breakpoint(max, 768px) {
        display: none;
      }
      li {
        @include trans(0.3s);
        color: rgba($white, 0.9);
        display: inline-block;
        padding: 0.5rem 1rem 1.7rem 1rem;
        margin-left: 6rem; /* 60px */
        position: relative;
        @include fontSize(14, $rootFontSize);
        @include breakpoint(max, 1200px) {
          margin-left: 3rem; /* 30px */
        }
        &:after {
          @include trans(0.3s);
          display: block;
          position: absolute;
          content: "";
          width: 2.5rem; /* 25px */
          height: 0.3rem; /* 3px */
          border-radius: 0.15rem; /* 1.5px */
          background: $red;
          box-shadow: 0 0.5rem 1.5rem 0 rgba($red, 0.5),
            0 0.5rem 1.2rem 0 rgba($red, 0.61),
            0 0.4rem 0.7rem 0 /* 5px 15px 5px 12px 4px 7px */ rgba($red, 0.32);
          bottom: 0;
          @include calc(left, "(100% - 2.5rem)/2");
          opacity: 0;
          visibility: hidden;
        }
        &:last-child {
          margin-left: 0;
        }
        &:hover,
        &.active {
          color: $white;
          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  .copy-right {
    text-align: center;
    color: rgba(#f0f2f8, 0.55);
    direction: ltr;
    margin-top: 5rem; /* 50px */
    @include fontSize(14, $rootFontSize);
    @include Medium;
    @include breakpoint(max, 991px) {
      margin-top: 2rem; /* 20px */
    }
    @include breakpoint(max, 768px) {
      color: #8b8da1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0rem; /* 0px */
    }
    @include breakpoint(max, 400px) {
      @include fontSize(11, $rootFontSize);
    }
    .responsive-logo {
      display: none;
      width: 10.9rem; /* 109px */
      @include breakpoint(max, 768px) {
        display: block;
      }
      @include breakpoint(max, 400px) {
        width: 8rem; /* 80px */
      }
    }
  }
  .c1 {
    width: 7rem; /* 70px */
    height: 7rem; /* 70px */
    right: 16.5rem; /* 165px */
    bottom: -1rem; /* -10px */
    z-index: 1;
    animation: float 5s ease-in-out infinite;
    @include breakpoint(max, 991px) {
      bottom: -3rem; /* -30px */
    }
    @include breakpoint(max, 768px) {
      display: none;
    }
  }
  .c2 {
    width: 15rem; /* 150px */
    height: 15rem; /* 150px */
    left: 9rem; /* 90px */
    top: -7rem; /* -70px */
    z-index: 1;
    animation: float 6s ease-in-out infinite;
    @include breakpoint(max, 1400px) {
      left: 4rem; /* 40px */
      width: 13rem; /* 130px */
      height: 13rem; /* 130px */
    }
    @include breakpoint(max, 768px) {
      display: none;
    }
  }

  &.home-footer {
    padding: 0;
    background: $mainColor;
    .main-link {
      padding: 2rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include breakpoint(max, 600px) {
        justify-content: center;
        padding: 1rem 0;
        display: none;
      }
      .page-link {
        display: flex;
        align-items: center;
        @include breakpoint(max, 600px) {
          display: none;
        }
        span {
          color: #6f76a4;
          @include fontSize(13, $rootFontSize);
        }
        ul {
          display: flex;
          margin-right: 8rem; /* 80px */
          @include breakpoint(max, 1200px) {
            margin-right: 5rem; /* 50px */
          }
          @include breakpoint(max, 991px) {
            margin-right: 2rem; /* 20px */
          }
          li {
            margin-left: 6.5rem; /* 65px */
            @include breakpoint(max, 1200px) {
              margin-left: 3.5rem; /* 35px */
            }
            @include breakpoint(max, 991px) {
              margin-left: 1.5rem; /* 15px */
            }
            a {
              @include Bold;
              @include fontSize(15, $rootFontSize);
              color: $white;
              padding: 0.5rem 1rem;
              display: block;
              @include breakpoint(max, 991px) {
                @include fontSize(13, $rootFontSize);
              }
            }
            &:last-child {
              margin-left: 0;
            }
          }
        }
      }
      .social-link {
        display: flex;
        align-items: center;
        a {
          margin-left: 2rem; /* 20px */
          display: block;
          @include breakpoint(max, 768px) {
            margin-left: 1.5rem; /* 15px */
          }
          svg {
            width: 2.4rem; /* 24px */
            height: 2.4rem; /* 24px */
            fill: $white;
            @include breakpoint(max, 768px) {
              width: 2rem; /* 20px */
              height: 2rem; /* 20px */
            }
          }
          &:last-child {
            margin-left: 0;
          }
        }
      }
    }
    .footer-description-home {
      @include Bold;
      border-top: 0.1rem /* 1px */ solid #333857;
      padding: 5rem 0 3rem 0;
      @include breakpoint(max, 991px) {
        padding: 4rem 0;
      }
      @include breakpoint(max, 600px) {
        padding: 2rem 0;
      }
      p {
        @include Medium;
        @include fontSize(14, $rootFontSize);
        color: rgba(#9096b8, 0.8);
        @include breakpoint(max, 768px) {
          @include fontSize(12, $rootFontSize);
        }
        &.point {
          padding-right: 1.5rem;
          position: relative;
          &:before {
            display: block;
            position: absolute;
            content: "";
            width: 0.5rem; /* 5px */
            height: 0.5rem; /* 5px */
            border-radius: 50%;
            background: rgba(#9096b8, 0.8);
            right: 0;
            @include calc(top, "(100% - 0.5rem)/2");
          }
        }
      }
    }
    .middle-section {
      padding: 3.5rem 0;
      border-top: 0.1rem /* 1px */ solid #333857;
      @include breakpoint(max, 600px) {
        padding: 1.5rem 0;
        display: none;
      }
      .mainContainer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include breakpoint(max, 991px) {
          flex-direction: column;
        }
      }
      .sub-link {
        display: flex;
        margin-left: 2rem; /* 20px */
        @include breakpoint(max, 991px) {
          margin-left: 0;
          width: 100%;
          justify-content: center;
        }
        @include breakpoint(max, 600px) {
          display: none;
        }
        ul {
          margin-left: 10rem; /* 100px */
          @include breakpoint(max, 1200px) {
            margin-left: 8rem; /* 80px */
          }
          &:last-child {
            margin-left: 0;
          }
          span {
            display: block;
            color: #6f76a4;
            margin-bottom: 1rem; /* 10px */
            @include fontSize(13, $rootFontSize);
          }
          li {
            a {
              @include Medium;
              padding: 0.7rem 0;
              display: block;
              color: $white;
              @include fontSize(15, $rootFontSize);
              @include breakpoint(max, 768px) {
                @include fontSize(13, $rootFontSize);
              }
            }
          }
        }
      }
      .site-info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        max-width: 40%;
        @include breakpoint(max, 991px) {
          width: 100%;
          max-width: 100%;
          margin-top: 2rem; /* 20px */
          align-items: center;
          justify-content: center;
          border-top: 0.1rem /* 1px */ solid #404565;
        }
        @include breakpoint(max, 600px) {
          border-top: none;
          margin-top: 0rem; /* 0px */
        }
        .phone-info {
          @include fontSize(16, $rootFontSize);
          color: rgba(#c1c6e7, 0.6);
          text-align: left;
          width: 100%;
          @include breakpoint(max, 991px) {
            text-align: center;
          }
          svg {
            width: 1.9rem; /* 19px */
            height: 2.1rem; /* 21px */
            stroke: $white;
            @include breakpoint(max, 991px) {
              margin-right: 0.5rem; /* 5px */
            }
          }
          span {
            @include Number;
            @include fontSize(18, $rootFontSize);
            display: block;
            margin: 1rem 0; /* 10px */
            @include breakpoint(max, 991px) {
              display: inline-block;
              vertical-align: middle;
            }
            b {
              color: $white;
              @include fontSize(28, $rootFontSize);
              margin-left: 0.5rem; /* 5px */
              @include Bold;
              @include breakpoint(max, 600px) {
                @include fontSize(25, $rootFontSize);
              }
            }
          }
          strong {
            @include breakpoint(max, 991px) {
              @include fontSize(14, $rootFontSize);
              display: block;
              text-align: center;
            }
          }
        }
        .email-info {
          @include fontSize(14, $rootFontSize);
          color: #c1c6e7;
          text-align: left;
          margin-top: 3.4rem;
          svg {
            width: 1.5rem; /* 15px */
            height: 1.1rem; /* 11px */
            display: inline-block;
            vertical-align: middle;
            stroke: $white;
            margin-right: 0.5rem; /* 5px */
          }
        }
        .namads {
          margin-top: 2rem;
          display: flex;
          align-items: center;
          a,
          div {
            width: 60px;
            height: 85px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            &.namads-enamad {
              background: #fff;
              border-radius: 5px;
              margin-right: 5px;
              padding: 2px 0px;
              cursor: pointer;
            }
            &.namads-saman {
              background: #fff;
              border-radius: 5px;
              margin-right: 5px;
              width: 60px;
              padding: 4px 2px;
            }
          }
        }
      }
    }
    .copy-right-home {
      margin-top: 3rem; /* 50px */
      padding-top: 1rem;
      position: relative;
      color: #6f76a4;
      display: flex;
      line-height: 1.3;
      width: 100%;
      border-top: 1px solid rgba(255, 255, 255, 0.16);
      flex-direction: row;
      justify-content: center;
      align-items: center;
      justify-content: flex-end;
      @include breakpoint(max, 991px) {
        margin-top: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        border: none;
      }
      @include breakpoint(max, 600px) {
        align-items: center;
        text-align: center;
      }
      p {
        direction: ltr;
      }
      img {
        width: 9.7rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        @include breakpoint(max, 1200px) {
          margin-right: 0.5rem; /* 5px */
        }
        @include breakpoint(max, 991px) {
          margin-right: 0;
        }
        @include breakpoint(max, 600px) {
          margin: 0 0 1rem 0; /* 10px */
        }
      }
    }
  }
  .responsive-footer {
    display: none;
    padding: 2rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(max, 600px) {
      display: flex;
    }
    .contact-info {
      span {
        display: block;
      }
      .number {
        padding-right: 2.2rem;
        position: relative;
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        color: #fff;
        b {
          @include Bold;
          font-size: 1.5rem;
          color: rgba(#fff, 0.6);
          margin: 0 0.5rem;
        }
        svg {
          position: absolute;
          width: 1.4rem;
          height: 1.4rem;
          stroke: #fff;
          right: 0;
          @include calc(top, "(100% - 1.4rem)/2");
        }
      }
      .right {
        @include Medium;
        margin-top: 1.5em;
        font-size: 1.2rem;
        color: rgba(#fff, 0.25);
        @include breakpoint(max, 400px) {
          font-size: 1rem;
        }
      }
    }
    .portal-holder {
      display: flex;
      align-items: center;
      a,
      div {
        width: 60px;
        height: 68px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        display: block;
        overflow: hidden;
        border-radius: 1rem;
        background: #fff;
        margin-right: 1rem;
        width: 5.5rem;
        // height: 5.5rem;
        // padding: 1rem;
        @include breakpoint(max, 400px) {
          width: 4rem;
          height: 4rem;
          padding: 0.5rem;
          border-radius: 0.5rem;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        &.namads-enamad {
          background: #fff;
          border-radius: 5px;
          margin-right: 5px;
          padding: 2px 0px;
          cursor: pointer;
        }
        &.namads-saman {
          background: #fff;
          border-radius: 5px;
          margin-right: 5px;
          width: 50px;
          padding: 4px 2px;
        }
      }
    }
  }
}

.circle-holder__footer {
  position: relative;
  z-index: 4;
  @include breakpoint(max, 768px) {
    display: none;
  }
  .circle {
    animation: float 4s ease-in-out infinite;
  }
  .c3 {
    width: 3.5rem; /* 35px */
    height: 3.5rem; /* 35px */
    right: 12.5rem; /* 125px */
    bottom: -5rem; /* -50px */
  }
}
