.game-info-content {
  min-height: 33rem;
  display: flex;
  align-items: stretch;
  @include breakpoint(max, 600px) {
    flex-direction: column;
  }
  .brief-information {
    width: 38rem;
    padding: 33rem 2rem 8rem 8rem;
    @include breakpoint(max, 1400px) {
      width: 33rem;
      padding: 27rem 2rem 7rem 5rem;
    }
    @include breakpoint(max, 991px) {
      width: 24rem;
      padding: 20rem 1rem 7rem 3rem;
    }
    @include breakpoint(max, 768px) {
      width: 20rem;
      padding: 20rem 0rem 5rem 2rem;
    }
    @include breakpoint(max, 600px) {
      width: 28rem;
      padding: 2rem 0;
      margin: auto;
    }
    .info-row {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.5rem;
      @include breakpoint(max, 600px) {
        margin-bottom: 1rem;
      }
      .property-name {
        @include Medium;
        font-size: 1.4rem;
        color: rgba(#3f4373, 0.8);
        @include breakpoint(max, 991px) {
          font-size: 1.2rem;
        }
      }
      .property-value {
        @include Heavy;
        font-size: 1.6rem;
        color: #3f4373;
        @include breakpoint(max, 991px) {
          font-size: 1.2rem;
        }
        b {
          @include Number;
        }
        &.red-text {
          color: $red;
        }
      }
    }
  }
  .text-information {
    border-right: 0.1rem solid #e8ecf8;
    padding: 7.5rem 5rem 8rem 1rem;
    @include calc(width, "(100% - 38rem)");
    @include breakpoint(max, 1400px) {
      padding: 5.5rem 5rem 7rem 1rem;
      @include calc(width, "(100% - 33rem)");
    }
    @include breakpoint(max, 991px) {
      padding: 3.5rem 3rem 7rem 0;
      @include calc(width, "(100% - 24rem)");
    }
    @include breakpoint(max, 768px) {
      padding: 3.5rem 1rem 5rem 0;
      @include calc(width, "(100% - 20rem)");
    }
    @include breakpoint(max, 600px) {
      padding: 2.5rem 0;
      width: 100%;
      border-right: 0;
      border-top: 0.1rem solid #e8ecf8;
    }
    p {
      @include Bold;
      font-size: 1.6rem;
      margin: 0;
      @include breakpoint(max, 991px) {
        font-size: 1.3rem;
      }
      @include breakpoint(max, 768px) {
        font-size: 1.2rem;
      }
      &.main-text {
        margin-bottom: 4.5rem;
        @include breakpoint(max, 991px) {
          margin-bottom: 3rem;
        }
      }
      &.one-line {
        margin-bottom: 1.5rem;
        @include breakpoint(max, 991px) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.gallery-holder {
  position: relative;
  padding-bottom: 12.5rem;
  border-bottom: 0.1rem solid #333857;
  @include breakpoint(max, 1200px) {
    padding-bottom: 9rem;
  }
  @include breakpoint(max, 991px) {
    padding-bottom: 5rem;
  }
  &:after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    left: 0;
    bottom: 0;
    background: #222747;
    border-radius: 0 3rem 0 0;
    @include calc(height, "(100% - 25.5rem)");
    @include breakpoint(max, 991px) {
      @include calc(height, "(100% - 10rem)");
      border-radius: 0 1.5rem 0 0;
    }
    @include breakpoint(max, 450px) {
      @include calc(height, "(100% - 6rem)");
      border-radius: 0 1rem 0 0;
    }
  }
  .gallery {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    .g-img {
      border-radius: 1.3rem;
      height: 49.6rem;
      overflow: hidden;
      margin-bottom: 2rem;
      @include breakpoint(max, 1400px) {
        height: 40rem;
      }
      @include breakpoint(max, 991px) {
        height: 30rem;
        margin-bottom: 1rem;
      }
      @include breakpoint(max, 768px) {
        height: 22rem;
      }
      @include breakpoint(max, 600px) {
        height: 16rem;
      }
      @include breakpoint(max, 450px) {
        height: 11rem;
        border-radius: 0.7rem;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% top;
        border: none !important;
        background: transparent !important;
      }
      @include calc(margin-left, "(7rem)/6");
      @include calc(margin-right, "(7rem)/6");
      @include breakpoint(max, 991px) {
        @include calc(margin-left, "(3rem)/6");
        @include calc(margin-right, "(3rem)/6");
      }
      @include breakpoint(max, 450px) {
        @include calc(margin-left, "(2rem)/6");
        @include calc(margin-right, "(2rem)/6");
      }
      &.small {
        @include calc(width, "(100% - 7rem)/3");
        @include breakpoint(max, 991px) {
          @include calc(width, "(100% - 3rem)/3");
        }
        @include breakpoint(max, 450px) {
          @include calc(width, "(100% - 2rem)/3");
        }
      }
      &.large {
        @include calc(width, "(2*((100% - 7rem)/3)) + (7rem/3)");
        @include breakpoint(max, 991px) {
          @include calc(width, "(2*((100% - 3rem)/3)) + (3rem/3)");
        }
        @include breakpoint(max, 450px) {
          @include calc(width, "(2*((100% - 2rem)/3)) + (2rem/3)");
        }
      }
      &.medium {
        @include calc(width, "(100% - 7rem)/2");
        @include calc(margin-left, "(7rem)/4");
        @include calc(margin-right, "(7rem)/4");
        @include breakpoint(max, 991px) {
          @include calc(width, "(100% - 3rem)/2");
          @include calc(margin-left, "(3rem)/4");
          @include calc(margin-right, "(3rem)/4");
        }
        @include breakpoint(max, 450px) {
          @include calc(width, "(100% - 2rem)/2");
          @include calc(margin-left, "(2rem)/4");
          @include calc(margin-right, "(2rem)/4");
        }
      }
    }
  }
  .btn-more {
    width: 100%;
    text-align: center;
    margin-top: 7rem;
    @include breakpoint(max, 1200px) {
      margin-top: 5rem;
    }
    @include breakpoint(max, 991px) {
      margin-top: 2rem;
    }
    .btn {
      color: rgba(#fff, 0.8);
      border: 0.1rem solid #cacdea;
      font-size: 1.8rem;
      @include breakpoint(max, 991px) {
        font-size: 1.5rem;
      }
      @include breakpoint(max, 768px) {
        font-size: 1.3rem;
      }
    }
  }
}

.mainContainer.by-padding {
  padding: 0 8rem;
  @include breakpoint(max, 1200px) {
    padding: 0 2rem;
  }
  @include breakpoint(max, 500px) {
    padding: 0 1.5rem;
  }
}
.gamelist-content {
  background: #edeef6;
  padding: 4rem 0 11.5rem 0;
  @include breakpoint(max, 600px) {
    padding: 0 0 7rem 0;
  }
  .gamelist-result {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 5rem;

    @include breakpoint(max, 1000px) {
      max-width: 80rem;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3rem;
    }
    @include breakpoint(max, 850px) {
      max-width: 60rem;
    }
    @include breakpoint(max, 600px) {
      padding: 0 1.5rem;
      max-width: 100%;
    }
  }
  .more-product {
    width: 100%;
    text-align: center;
    margin-top: 9rem;
    @include breakpoint(max, 768px) {
      margin-top: 5rem;
    }
    .btn {
      @include Bold;
      font-size: 1.8rem;
      border-color: #888a9e;
      @include breakpoint(max, 768px) {
        font-size: 1.6rem;
      }
      @include breakpoint(max, 600px) {
        font-size: 1.4rem;
      }
      svg {
        @include rotate(-90deg);
      }
    }
  }
  .card-product {
    margin-bottom: 1.5rem;
  }

  .sort-wrap,
  .card-product {
    @include calc(margin-left, "(100% - 135.6rem)/12");
    @include calc(margin-right, "(100% - 135.6rem)/12");

    @include breakpoint(max, 1500px) {
      @include calc(margin-left, "(100% - 120rem)/12");
      @include calc(margin-right, "(100% - 120rem)/12");
    }
    @include breakpoint(max, 1260px) {
      @include calc(margin-left, "(100% - 100rem)/10");
      @include calc(margin-right, "(100% - 100rem)/10");
    }
    @include breakpoint(max, 1130px) {
      @include calc(margin-left, "(100% - 95rem)/10");
      @include calc(margin-right, "(100% - 95rem)/10");
    }
    @include breakpoint(max, 1000px) {
      @include calc(margin-left, "(100% - 76rem)/8");
      @include calc(margin-right, "(100% - 76rem)/8");
    }
    @include breakpoint(max, 850px) {
      @include calc(margin-left, "(100% - 57rem)/6");
      @include calc(margin-right, "(100% - 57rem)/6");
    }
    @include breakpoint(max, 760px) {
      @include calc(margin-left, "(100% - 54rem)/6");
      @include calc(margin-right, "(100% - 54rem)/6");
    }
    @include breakpoint(max, 600px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .sort-wrap {
    @include breakpoint(max, 1000px) {
      max-width: 80rem;
      margin-left: auto;
      margin-right: auto;
    }
    @include breakpoint(max, 850px) {
      max-width: 60rem;
      margin-left: auto;
      margin-right: auto;
    }
    @include breakpoint(max, 600px) {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
  .mainContainer {
    @include breakpoint(max, 600px) {
      padding: 0;
    }
  }
}
