.generate-account {
  position: relative;
  background: #222747 url("../../../dist/imgs/createAccount-bg.jpg") 0 0 / cover
    no-repeat;
  padding: 9rem 3rem 7.5rem 3rem;
  border-radius: 1rem;
  color: #fff;
  text-align: center;
  margin-bottom: 5rem;
  @include breakpoint(max, 600px) {
    background: url("../../../dist/imgs/generateBg.jpg") 0 0 / cover no-repeat;
  }
  @include breakpoint(max, 500px) {
    padding: 5rem 1.5rem;
  }
  .title {
    @include Heavy;
    @include fontSize(22, $rootFontSize);
    color: #fff;
    line-height: 1.3;
    @include breakpoint(max, 1199px) {
      @include fontSize(20, $rootFontSize);
    }
    @include breakpoint(max, 768px) {
      @include fontSize(18, $rootFontSize);
    }
    @include breakpoint(max, 600px) {
      @include fontSize(16, $rootFontSize);
    }
    @include breakpoint(max, 500px) {
      @include fontSize(14, $rootFontSize);
    }
    .tip {
      display: block;
      margin-top: 1.5rem;
      color: #8c90b1;
      @include Bold;
      @include fontSize(16, $rootFontSize);
      @include breakpoint(max, 768px) {
        @include fontSize(14, $rootFontSize);
      }
      @include breakpoint(max, 500px) {
        @include fontSize(12, $rootFontSize);
      }
    }
  }
  .platform-drop-holder {
    width: 60%;
    margin: 4.5rem auto auto;
    @include breakpoint(max, 1199px) {
      width: 70%;
    }
    @include breakpoint(max, 768px) {
      width: 80%;
    }
    @include breakpoint(max, 600px) {
      width: 100%;
      margin: 2.5rem auto;
    }
  }
  .platform-inputs {
    width: 60%;
    @include breakpoint(max, 1199px) {
      width: 70%;
    }
    @include breakpoint(max, 768px) {
      width: 80%;
    }
    @include breakpoint(max, 600px) {
      width: 100%;
    }
  }
  .btn-holder {
    margin-top: 5.5rem;
    text-align: center;
    @include breakpoint(max, 600px) {
      margin-top: 4rem;
      text-align: left;
    }
    .btn {
      @include breakpoint(max, 600px) {
        padding: 1.5rem 3rem 1.2rem 6rem;
      }
    }
  }
}
.platform-drop-holder {
  width: 100%;
  margin: auto;
  border-radius: 3.6rem; /* 36px */
  border: 0.2rem /* 2px */ solid rgba(#fff, 0.2);
  padding-left: 5.5rem;
  position: relative;
  @include breakpoint(max, 768px) {
    padding-left: 4rem;
  }
  @include breakpoint(max, 500px) {
    padding-left: 2rem;
  }
  .arrow {
    position: absolute;
    width: 1.1rem; /* 11px */
    height: 0.8rem; /* 8px */
    stroke: #fff;
    left: 3.5rem;
    @include calc(top, "(100% - 0.8rem)/2");
    @include rotate(-90deg);
    @include breakpoint(max, 768px) {
      left: 2.5rem;
    }
    @include breakpoint(max, 500px) {
      left: 1.5rem;
    }
  }
  .platform-list {
    @include trans(0.3s);
    position: absolute;
    width: 100%;
    right: 0;
    top: 7.5rem; /* 75px */
    background: #222747;
    border-radius: 0.5rem; /* 5px */
    box-shadow: 0 0.9rem 0.6rem 0 rgba(#aabcd4, 0.31),
      0 0.2rem 0.5rem 0 /* 9px 6px 2px 5px */ rgba(#a8c0e2, 0.21);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    @include breakpoint(max, 1199px) {
      top: 6.2rem; /* 62px */
    }
    @include breakpoint(max, 768px) {
      top: 5rem; /* 50px */
    }
    input[type="radio"] {
      display: none;
    }
    .platform-item {
      border-bottom: 0.1rem /* 1px */ solid rgba(#fff, 0.2);
      &:hover {
        background: rgba(#fff, 0.05);
      }
    }
  }
  &:hover {
    .platform-list {
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }
  }
}
.platform-item {
  @include trans(0.3s);
  cursor: pointer;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 7rem 2.5rem 2.5rem;
  position: relative;
  @include breakpoint(max, 1199px) {
    padding: 2rem 7rem 2rem 2.5rem;
  }
  @include breakpoint(max, 768px) {
    padding: 1.5rem 5rem 1.5rem 1.5rem;
  }
  @include breakpoint(max, 500px) {
    padding-right: 3.5rem;
  }
  .icon {
    width: 3rem; /* 30px */
    height: 3rem; /* 30px */
    position: absolute;
    right: 2.5rem;
    @include calc(top, "(100% - 3rem)/2");
    @include breakpoint(max, 768px) {
      width: 2.5rem; /* 25px */
      height: 2.5rem; /* 25px */
      right: 1.5rem;
      @include calc(top, "(100% - 2.5rem)/2");
    }
    @include breakpoint(max, 500px) {
      width: 2rem; /* 20px */
      height: 2rem; /* 20px */
      right: 1rem;
      @include calc(top, "(100% - 2rem)/2");
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .name {
    @include Bold;
    @include fontSize(20, $rootFontSize);
    @include breakpoint(max, 768px) {
      @include fontSize(18, $rootFontSize);
    }
    @include breakpoint(max, 500px) {
      @include fontSize(16, $rootFontSize);
    }
  }
  .url {
    @include Medium;
    @include fontSize(16, $rootFontSize);
    color: rgba(#fff, 0.8);
    @include breakpoint(max, 768px) {
      @include fontSize(14, $rootFontSize);
    }
    @include breakpoint(max, 500px) {
      @include fontSize(12, $rootFontSize);
    }
  }
}
.platform-inputs {
  width: 100%;
  margin: 1.5rem auto auto;
  padding: 0.5rem 0;
  border-radius: 3.5rem; /* 35px */
  border: 0.2rem /* 2px */ solid rgba(#fff, 0.2);
  display: flex;
  align-items: center;
  overflow: hidden;
  @include breakpoint(max, 600px) {
    flex-direction: column;
    border: none;
    overflow: visible;
  }
  .input-holder {
    position: relative;
    width: 50%;
    @include breakpoint(max, 600px) {
      width: 100%;
      margin-bottom: 1.5rem; /* 15px */
      border-radius: 3.5rem; /* 35px */
      border: 0.2rem /* 2px */ solid rgba(#fff, 0.2);
    }
    input {
      background: transparent;
      width: 100%;
      padding: 1.6rem 4.5rem 1.6rem 4rem;
      color: #fff;
      font-size: 1.8rem;
      @include placeholder(#fff, 1.8rem);
      @include breakpoint(max, 1199px) {
        padding: 1rem 4.5rem 1rem 4rem;
      }
      @include breakpoint(max, 768px) {
        padding: 1rem 2.5rem 1rem 4rem;
        font-size: 1.6rem;
        @include placeholder(#fff, 1.6rem);
      }
      @include breakpoint(max, 500px) {
        @include fontSize(12, $rootFontSize);
        @include placeholder(#fff, 1.2rem);
        padding: 1.2rem 1.5rem 1rem 2rem;
      }
    }
    svg {
      position: absolute;
      width: 1.4rem; /* 14px */
      height: 1.4rem; /* 14px */
      stroke: #fff;
      left: 2.3rem; /* 23px */
      @include calc(top, "(100% - 1.4rem)/2");
      @include breakpoint(max, 500px) {
        width: 1rem; /* 10px */
        height: 1rem; /* 10px */
        left: 1rem; /* 10px */
        @include calc(top, "(100% - 1rem)/2");
      }
    }
    &:first-child {
      border-left: 0.2rem /* 2px */ solid #383c5a;
    }
  }
}
