.gift-main-content {
  background: #f3f4fb;
  padding-bottom: 12rem;
  @include breakpoint(max, 991px) {
    padding-bottom: 9rem;
  }
  @include breakpoint(max, 768px) {
    padding-bottom: 5rem;
  }
  //padding: 7rem 0 10rem 0;
  // @include breakpoint(max, 768px) {
  //   padding: 5rem 0;
  // }
  // @include breakpoint(max, 500px) {
  //   padding: 3rem 0;
  // }
  .wide-card-holder.suggested {
    @include breakpoint(max, 600px) {
      padding: 0 1.5rem;
    }
  }
}
.giftcard-introduction {
  background: $white;
  padding: 0 6%;
  @include lightshadow();
  .introduction-content {
    display: flex;
    padding: 6rem 36.5rem 5rem 0;
    position: relative;
    min-height: 16rem;
    flex-direction: column;
    @include breakpoint(max, 1199px) {
      padding-right: 28.5rem;
    }
    @include breakpoint(max, 991px) {
      padding: 2rem 23.5rem 4rem 0;
    }
    @include breakpoint(max, 768px) {
      padding-right: 16.5rem;
      min-height: 14rem;
    }
    @include breakpoint(max, 600px) {
      padding: 3rem 0;
    }
    p {
      @include fontSize(16, $rootFontSize);
      color: rgba($mainColor, 0.9);
      @include breakpoint(max, 991px) {
        @include fontSize(14, $rootFontSize);
      }
      @include breakpoint(max, 768px) {
        @include fontSize(12, $rootFontSize);
      }
    }
  }
  .select-giftcard {
    margin-top: 7.5rem; /* 75px */
    @include breakpoint(max, 991px) {
      margin-top: 4rem; /* 40px */
    }
    @include breakpoint(max, 768px) {
      margin-top: 2rem; /* 20px */
    }
    h2 {
      @include Heavy;
      @include fontSize(20, $rootFontSize);
      margin-bottom: 0;
      @include breakpoint(max, 991px) {
        @include fontSize(18, $rootFontSize);
      }
      @include breakpoint(max, 768px) {
        @include fontSize(16, $rootFontSize);
      }
    }
  }
  .product-selection {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem; /* 30px */
    @include breakpoint(max, 991px) {
      flex-direction: column;
      align-items: flex-start;
    }
    @include breakpoint(max, 768px) {
      margin-top: 2rem; /* 20px */
    }
    .giftcard-options {
      position: relative;
      border-radius: 4rem; /* 40px */
      border: 0.1rem /* 1px */ solid #c7cae0;
      padding-left: 4rem;
      @include calc(width, "(100% - 17rem)");
      box-shadow: 0 5.7rem 4.6rem 0 rgba(#d0d5fb, 0.22),
        0 0.2rem 0.5rem 0 /* 57px 46px 2px 5px */ rgba(#d0d5fb, 0.21);
      @include breakpoint(max, 991px) {
        width: 100%;
      }
      @include breakpoint(max, 600px) {
        padding-left: 2.5rem;
      }
      &:hover {
        .options-list {
          opacity: 1;
          z-index: 2;
          visibility: visible;
        }
      }
      .arrow {
        width: 0.8rem; /* 8px */
        height: 1.3rem; /* 13px */
        position: absolute;
        stroke: #3f4373;
        left: 3rem; /* 30px */
        @include rotate(-90deg);
        @include calc(top, "(100% - 0.8rem)/2");
        @include breakpoint(max, 1199px) {
          width: 0.6rem; /* 6px */
          height: 1.1rem; /* 11px */
          left: 2.5rem; /* 25px */
          @include calc(top, "(100% - 0.6rem)/2");
        }
        @include breakpoint(max, 600px) {
          left: 1.5rem; /* 15px */
        }
      }
      .product-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 7.5rem 2rem 4.5rem;
        position: relative;
        @include fontSize(18, $rootFontSize);
        cursor: pointer;
        @include breakpoint(max, 1199px) {
          padding: 1.5rem 5.5rem 1.5rem 2.5rem;
          @include fontSize(16, $rootFontSize);
        }
        @include breakpoint(max, 768px) {
          @include fontSize(13, $rootFontSize);
          padding: 1.5rem 3.5rem 1.5rem 0.5rem;
        }
        @include breakpoint(max, 600px) {
          @include fontSize(11, $rootFontSize);
        }
        svg,
        img {
          width: 2.2rem; /* 22px */
          height: 1.8rem; /* 18px */
          position: absolute;
          right: 4rem; /* 40px */
          @include calc(top, "(100% - 1.8rem)/2");
          @include breakpoint(max, 1199px) {
            right: 2rem; /* 20px */
            width: 1.8rem; /* 18px */
            height: 1.4rem; /* 14px */
            @include calc(top, "(100% - 1.4rem)/2");
          }
          @include breakpoint(max, 768px) {
            right: 1rem; /* 10px */
            width: 1.5rem; /* 15px */
            height: 1.1rem; /* 11px */
            @include calc(top, "(100% - 1.1rem)/2");
          }
        }
        .product-price,
        .product-name {
          li {
            display: inline-block;
            padding-right: 2rem;
            position: relative;
            &:first-child {
              @include Heavy;
              padding-right: 0;
              &:before {
                display: none;
              }
            }
            &:before {
              display: block;
              position: absolute;
              content: "";
              width: 1.4rem; /* 14px */
              height: 0.2rem; /* 2px */
              right: 0.3rem; /* 3px */
              background: #3f4373;
              bottom: 1rem; /* 10px */
              @include breakpoint(max, 768px) {
                bottom: 0.3rem; /* 3px */
              }
              @include breakpoint(max, 600px) {
                width: 1rem; /* 10px */
                height: 0.1rem; /* 1px */
                right: 0.5rem; /* 5px */
              }
            }
          }
        }
        .product-price {
          li {
            padding-right: 0.5rem;
            &:first-child {
              @include fontSize(24, $rootFontSize);
              @include breakpoint(max, 1199px) {
                @include fontSize(20, $rootFontSize);
              }
              @include breakpoint(max, 768px) {
                @include fontSize(17, $rootFontSize);
              }
              @include breakpoint(max, 600px) {
                @include fontSize(14, $rootFontSize);
              }
            }
            &:before {
              display: none;
            }
          }
        }
      }
      .options-list {
        @include trans(0.3s);
        position: absolute;
        @include lightshadow;
        background: #fff;
        width: 100%;
        right: 0;
        border-radius: 0.5rem; /* 5px */
        top: 6.5rem; /* 65px */
        overflow: hidden;
        opacity: 0;
        z-index: 0;
        visibility: hidden;
        @include breakpoint(max, 1199px) {
          top: 5rem; /* 50px */
        }
        @include breakpoint(max, 600px) {
          top: 4.6rem; /* 46px */
        }
        input {
          display: none;
        }
        label {
          @include trans(0.3s);
          border-bottom: 0.1rem /* 1px */ solid #c7cae0;
          margin: 0;
          &:last-child {
            border: none;
          }
          &:hover {
            background: rgba(#b9bdd8, 0.5);
          }
        }
      }
    }
    .btn {
      padding-right: 6.5rem;
      padding-left: 3.8rem;
      @include breakpoint(max, 1300px) {
        padding: 1.5rem 6rem 1.5rem 3rem;
      }
      @include breakpoint(max, 991px) {
        margin: 1rem auto auto 0; /* 10px */
      }
      @include breakpoint(max, 768px) {
        padding-right: 4.5rem;
      }
      &.add_to_card_giftcard {
        @include breakpoint(max, 768px) {
          padding-right: 4.5rem;
          padding-left: 5rem;
          padding-bottom: 2.5rem;
        }
      }
      svg {
        right: 3.8rem; /* 38px */
        @include breakpoint(max, 768px) {
          right: 2.5rem; /* 25px */
        }
      }
    }
  }
  .guid-shop {
    @include Bold;
    position: absolute;
    @include fontSize(16, $rootFontSize);
    padding: 1.8rem 8rem 1.8rem 6rem;
    border-radius: 3rem; /* 30px */
    border: 0.1rem /* 1px */ solid #dcddee;
    top: 31rem; /* 310px */
    right: 0;
    @include breakpoint(max, 1199px) {
      padding: 1.8rem 6rem 1.8rem 3rem;
      right: 1.5rem; /* 15px */
      top: 28rem; /* 280px */
    }
    @include breakpoint(max, 991px) {
      @include fontSize(14, $rootFontSize);
      padding: 1.3rem 4rem 1.3rem 2rem;
    }
    @include breakpoint(max, 768px) {
      @include fontSize(12, $rootFontSize);
      right: -3.5rem; /* -35px */
      top: 17rem; /* 170px */
    }
    @include breakpoint(max, 600px) {
      top: 2rem; /* 20px */
      right: 11rem; /* 110px */
      @include fontSize(10, $rootFontSize);
    }
    .icon {
      position: absolute;
      border-radius: 50%;
      width: 3rem; /* 30px */
      height: 3rem; /* 30px */
      background: #4de992;
      right: 1rem; /* 10px */
      transform: scaleX(-1);
      @include calc(top, "(100% - 3rem)/2");
      @include breakpoint(max, 991px) {
        width: 2rem; /* 20px */
        height: 2rem; /* 20px */
        @include calc(top, "(100% - 2rem)/2");
      }
      svg {
        position: absolute;
        width: 0.9rem; /* 9px */
        height: 1.3rem; /* 13px */
        stroke: #fff;
        @include calc(top, "(100% - 1.3rem)/2");
        @include calc(left, "(100% - 0.9rem)/2");
        @include breakpoint(max, 991px) {
          width: 0.7rem; /* 7px */
          height: 1.1rem; /* 11px */
          @include calc(top, "(100% - 1.1rem)/2");
          @include calc(left, "(100% - 0.7rem)/2");
        }
      }
    }
  }
  .request-link {
    @include breakpoint(max, 991px) {
      margin-top: 1rem; /* 10px */
      @include fontSize(12, $rootFontSize);
      a {
        display: block;
        margin-top: 1rem; /* 10px */
        margin-right: 0;
      }
    }
  }
}
.giftcard-list-wrap {
  background: #fff;
  position: relative;
  min-height: 20rem;
  padding: 13.5rem 0 9rem 0;
  @include breakpoint(max, 1200px) {
    padding: 8rem 0;
  }
  @include breakpoint(max, 768px) {
    padding: 4rem 1.5rem;
  }
  .product-wrap {
    margin: auto;
    width: 100%;
    max-width: 142rem;
    @include breakpoint(max, 1500px) {
      max-width: 110rem;
    }
    @include breakpoint(max, 1200px) {
      max-width: 90rem;
    }
    @include breakpoint(max, 991px) {
      max-width: 75rem;
    }
    .group-product {
      &:last-child {
        margin-bottom: 0;
      }
    }
    .group-head {
      @include calc(margin-left, "(3rem/6)");
      @include calc(margin-right, "(3rem/6)");
      @include breakpoint(max, 768px) {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  &:after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #e6e8f2;
    border-radius: 5rem 5rem 0 0;
    @include breakpoint(max, 991px) {
      border-radius: 3rem 3rem 0 0;
    }
    @include breakpoint(max, 768px) {
      border-radius: 1.5rem 1.5rem 0 0;
    }
  }
}

.giftcard-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.giftcard-item {
  background: #fff;
  border-radius: 4rem;
  box-shadow: 0 5.7rem 4.6rem 0 rgba(#d0d5fb, 0.22),
    0 0.2rem 0.5rem 0 rgba(#d0d5fb, 0.21);
  padding: 2rem 7.5rem 2rem 15.5rem;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 45rem;
  margin-bottom: 1rem;

  @include calc(width, "(100% - 3rem)/3");
  @include calc(margin-left, "(3rem/6)");
  @include calc(margin-right, "(3rem/6)");
  @include breakpoint(max, 1500px) {
    @include calc(width, "(100% - 3rem)/2");
    @include calc(margin-left, "(3rem/4)");
    @include calc(margin-right, "(3rem/4)");
  }

  @include breakpoint(max, 991px) {
    padding: 1.7rem 5.5rem 1.7rem 11rem;
  }
  @include breakpoint(max, 768px) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  @include breakpoint(max, 500px) {
    padding-left: 9rem;
    padding-right: 4rem;
  }
  .platform-img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
    position: absolute;
    right: 3rem;
    @include calc(top, "(100% - 2.5rem)/2");
    @include breakpoint(max, 991px) {
      right: 2rem;
      width: 2rem;
      height: 2rem;
      @include calc(top, "(100% - 2rem)/2");
    }
  }
  .title {
    @include Heavy;
    font-size: 1.8rem;
    color: #3f4373;
    @include breakpoint(max, 991px) {
      font-size: 1.5rem;
    }
    @include breakpoint(max, 500px) {
      font-size: 1.3rem;
    }
    b {
      @include Number;
    }
  }
  .price {
    @include Bold;
    font-size: 1.8rem;
    @include breakpoint(max, 991px) {
      font-size: 1.5rem;
    }
    @include breakpoint(max, 500px) {
      font-size: 1.3rem;
    }
    b {
      @include Number;
      font-size: 2.4rem;
      @include breakpoint(max, 991px) {
        font-size: 1.9rem;
      }
      @include breakpoint(max, 500px) {
        font-size: 1.5rem;
      }
    }
  }
  .buy-action {
    position: absolute;
    width: 12rem;
    left: 0;
    top: 0;
    height: 100%;
    @include breakpoint(max, 991px) {
      width: 9rem;
    }
    @include breakpoint(max, 500px) {
      width: 7rem;
    }
  } 
  .open-add {
    background: $red;
    box-shadow: 0 0.8rem 2.7rem 0 rgba($red, 0.23);
    color: $white;
    width: 12rem;
    left: 1rem;
    top: 1rem;
    font-size: 1.8rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5.5rem 0 2rem;
    @include calc(height, "(100% - 2rem)");
    @include Bold;
    @include breakpoint(max, 991px) {
      font-size: 1.5rem;
      width: 9rem;
      padding: 0 3.5rem 0 1.5rem;
    }
    @include breakpoint(max, 768px) {
      @include calc(height, "(100% - 1.5rem)");
      left: 0.75rem;
      top: 0.75rem;
    }
    @include breakpoint(max, 500px) {
      font-size: 1.3rem;
      width: 7rem;
    }
    svg {
      &.add-icon {
        right: 3rem;
        @include breakpoint(max, 991px) {
          right: 2rem; /* 30px */
        }
        // @include breakpoint(max, 768px) {
        //   right: 1.5rem; /* 30px */
        // }
        // @include breakpoint(max, 500px) {
        //   right: 2rem; /* 20px */
        // }
      }
      &.selected-icon {
        width: 1.8rem; /* 18px */
        height: 1.2rem; /* 12px */
        display: none;
        stroke: $white;
        @include calc(top, "(100% - 1.2rem)/2");
        @include calc(right, "(100% - 1.8rem)/2");
      }
    }
    // @include breakpoint(max, 500px) {
    //   padding: 1rem 3.5rem 1rem 1.5rem;
    // }
  }
  .inquiry-btn {
    background: #e5e7f3;
    color: #3f4373;
    font-size: 1.6rem;
    left: 1rem;
    top: 1rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    white-space: nowrap;
    @include calc(height, "(100% - 2rem)");
    @include breakpoint(max, 991px) {
      font-size: 1.4rem;
    }
    @include breakpoint(max, 768px) {
      font-size: 1.2rem;
      @include calc(height, "(100% - 1.5rem)");
    }
    @include breakpoint(max, 500px) {
      padding: 1.2rem 2rem;
    }
    &:hover{
      color: #3f4373;
    } 
  }
}
