.home-hero {
  padding: 13rem 4% 18rem 4%;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  background: #f9fafc;
  @include breakpoint(max, 1200px) {
    padding: 10rem 2rem 14rem 2rem;
  }
  @include breakpoint(max, 650px) {
    padding: 8rem 4%;
  }
  @include breakpoint(max, 400px) {
    padding: 6rem 4%;
  }
  .absolute-content {
    position: absolute;
    width: 83rem;
    z-index: 1;
    left: 4%;
    top: 0;
    @include breakpoint(max, 1200px) {
      width: 70rem;
      left: 2rem;
    }
    @include breakpoint(max, 991px) {
      width: 54rem;
    }
    @include breakpoint(max, 650px) {
      display: none;
    }
    .music {
      height: 30.5rem;
      width: 22.7rem;
      top: 10rem;
      right: 0;
      @include breakpoint(max, 1400px) {
        width: 20rem;
        right: 12rem;
        height: 29rem;
      }
      @include breakpoint(max, 1200px) {
        width: 18rem;
        right: 13rem;
        height: 26rem;
      }
      @include breakpoint(max, 991px) {
        right: 14rem;
        top: 2rem;
        height: 23rem;
      }
      @include breakpoint(max, 768px) {
        width: 15.3rem;
        height: 20rem;
        right: 21rem;
      }
      .image-holder {
        height: 23.7rem;
        width: 100%;
        overflow: hidden;
        @include breakpoint(max, 1400px) {
          height: 21.7rem;
        }
        @include breakpoint(max, 1200px) {
          height: 18.7rem;
        }
        @include breakpoint(max, 991px) {
          height: 15.7rem;
        }
        @include breakpoint(max, 768px) {
          height: 13.7rem;
        }
        img {
          width: 22.8rem;
          height: 23.7rem;
          object-fit: cover;
          @include breakpoint(max, 1200px) {
            width: 20rem;
            height: 21rem;
          }
          @include breakpoint(max, 991px) {
            width: 18rem;
            height: 19rem;
          }
          @include breakpoint(max, 768px) {
            width: 16rem;
            height: 16rem;
          }
        }
      }
      .card-desc {
        margin-top: 1.8rem;
        padding: 0 7rem 0 1rem;
        position: relative;
        color: rgba(#3f4373, 0.8);
        @include breakpoint(max, 1200px) {
          padding-right: 6rem;
          @include fontSize(12, $rootFontSize);
        }
        @include breakpoint(max, 768px) {
          padding-right: 4.5rem;
          @include fontSize(11, $rootFontSize);
        }
        span {
          display: block;
          color: #8392a5;
          margin-bottom: 0.5rem;
          @include Medium;
          @include fontSize(14, $rootFontSize);
          @include breakpoint(max, 1200px) {
            @include fontSize(12, $rootFontSize);
          }
          @include breakpoint(max, 768px) {
            @include fontSize(11, $rootFontSize);
          }
        }
      }
      .icon {
        position: absolute;
        width: 4.2rem;
        height: 4.2rem;
        border-radius: 100%;
        background: rgba($lightGreen, 0.15);
        right: 1.5rem;
        @include calc(top, "(100% - 4.2rem)/2");
        @include breakpoint(max, 1200px) {
          right: 0.8rem;
          width: 3.8rem;
          height: 3.8rem;
          @include calc(top, "(100% - 3.8rem)/2");
        }
        @include breakpoint(max, 768px) {
          width: 3rem;
          height: 3rem;
          @include calc(top, "(100% - 3rem)/2");
        }
        svg {
          width: 2.7rem;
          height: 2.7rem;
          position: absolute;
          fill: $lightGreen;
          @include calc(top, "(100% - 2.7rem)/2");
          @include calc(left, "(100% - 2.7rem)/2");
          @include breakpoint(max, 1200px) {
            width: 2.3rem;
            height: 2.3rem;
            @include calc(top, "(100% - 2.3rem)/2");
            @include calc(left, "(100% - 2.3rem)/2");
          }
          @include breakpoint(max, 768px) {
            width: 2rem;
            height: 2rem;
            @include calc(top, "(100% - 2rem)/2");
            @include calc(left, "(100% - 2rem)/2");
          }
        }
      }
    }
    .amazon {
      width: 24.5rem;
      height: 19.8rem;
      top: 7rem;
      left: 4rem;
      @include breakpoint(max, 1400px) {
        width: 22rem;
      }
      @include breakpoint(max, 1200px) {
        width: 16rem;
        height: 14rem;
        left: 2rem;
      }
      @include breakpoint(max, 991px) {
        left: 4rem;
      }
      @include breakpoint(max, 768px) {
        width: 14rem;
        height: 12rem;
        left: 2rem;
      }
      .image-holder {
        width: 100%;
        height: 13.5rem;
        background: $lightGreen;
        box-shadow: 0 2.1rem 2.7rem 0 rgba(#c3d9ee, 0.19),
          0 0.2rem 0.3rem 0 rgba(#c3d9ee, 0.19);
        position: relative;
        @include breakpoint(max, 1200px) {
          height: 8rem;
        }
        @include breakpoint(max, 768px) {
          height: 6rem;
        }
        #amazon {
          width: 9rem;
          height: 2.8rem;
          position: absolute;
          top: 3.8rem;
          @include calc(left, "(100% - 9rem)/2");
          @include breakpoint(max, 1200px) {
            width: 7rem;
            height: 1.8rem;
            top: 3rem;
            @include calc(left, "(100% - 7rem)/2");
          }
          @include breakpoint(max, 768px) {
            width: 4rem;
            height: 1rem;
            top: 2rem;
            @include calc(left, "(100% - 4rem)/2");
          }
        }
        #box {
          width: 10.5rem;
          height: 6.7rem;
          position: absolute;
          bottom: -3rem;
          @include calc(left, "(100% - 10.5rem)/2");
          @include breakpoint(max, 1200px) {
            width: 7rem;
            height: 5rem;
            @include calc(left, "(100% - 7rem)/2");
          }
          @include breakpoint(max, 768px) {
            width: 4rem;
            height: 3rem;
            bottom: -1rem;
            @include calc(left, "(100% - 4rem)/2");
          }
        }
      }
    }
    .travel {
      width: 24.5rem;
      height: 29.5rem;
      top: 30rem;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      @include breakpoint(max, 1400px) {
        width: 22rem;
        height: 27.5rem;
      }
      @include breakpoint(max, 1200px) {
        width: 18rem;
        height: 23.5rem;
        top: 24rem;
      }
      @include breakpoint(max, 768px) {
        width: 16rem;
        height: 20.5rem;
        top: 21rem;
      }
      .image-holder {
        height: 13.2rem;
        width: 100%;
        background: url("../../dist/imgs/abs3.jpg") 0 0 / cover no-repeat;
        @include breakpoint(max, 1200px) {
          height: 10.2rem;
        }
        @include breakpoint(max, 768px) {
          height: 8.2rem;
        }
        #travel {
          width: 17.8rem;
          height: 20.4rem;
          position: absolute;
          bottom: -2.8rem;
          @include calc(left, "(100% - 17.8rem)/2");
          @include breakpoint(max, 1200px) {
            width: 14.8rem;
            height: 17.4rem;
            @include calc(left, "(100% - 14.8rem)/2");
          }
          @include breakpoint(max, 768px) {
            width: 12.8rem;
            height: 15.4rem;
            @include calc(left, "(100% - 12.8rem)/2");
          }
        }
      }
      .card-desc {
        margin-bottom: auto;
        padding: 3rem 8.5rem 0 1rem;
        position: relative;
        text-align: center;
        color: rgba(#3f4373, 0.8);
        @include breakpoint(max, 1200px) {
          padding-right: 6.5rem;
          @include fontSize(12, $rootFontSize);
        }
        @include breakpoint(max, 768px) {
          padding-right: 4.5rem;
          padding-top: 2rem;
          @include fontSize(11, $rootFontSize);
        }
        span {
          display: block;
          width: 100%;
          text-align: right;
          color: #8392a5;
          margin-bottom: 0.5rem;
        }
        .icon {
          position: absolute;
          width: 4.2rem;
          height: 4.2rem;
          border-radius: 100%;
          background: #f9eedd;
          right: 2.5rem;
          top: 2.7rem;
          @include breakpoint(max, 1200px) {
            right: 1.5rem;
            width: 3.8rem;
            height: 3.8rem;
          }
          @include breakpoint(max, 768px) {
            right: 0.8rem;
            width: 3rem;
            height: 3rem;
            top: 1.6rem;
          }
          svg {
            stroke: #f8a72e;
            width: 1.7rem;
            height: 1.7rem;
            position: absolute;
            @include calc(top, "(100% - 1.7rem)/2");
            @include calc(left, "(100% - 1.7rem)/2");
            @include breakpoint(max, 1200px) {
              width: 1.4rem;
              height: 1.4rem;
              @include calc(top, "(100% - 1.4rem)/2");
              @include calc(left, "(100% - 1.4rem)/2");
            }
          }
        }
      }
    }
    .game {
      width: 23.8rem;
      height: 33.4rem;
      top: 20rem;
      right: 25.3rem;
      text-align: center;
      @include breakpoint(max, 1400px) {
        width: 21rem;
        right: 34.3rem;
        height: 31.4rem;
      }
      @include breakpoint(max, 1200px) {
        width: 18rem;
        right: 32.6rem;
        height: 26.4rem;
        top: 12rem;
      }
      @include breakpoint(max, 991px) {
        right: 15.6rem;
        top: 27rem;
        height: 24.4rem;
      }
      @include breakpoint(max, 768px) {
        width: 16rem;
        height: 20.4rem;
        top: 24rem;
        right: 20.6rem;
      }

      .image-holder {
        height: 14rem;
        width: 100%;
        background: url("../../dist/imgs/abs2.jpg") 0 0 / cover no-repeat;
        @include breakpoint(max, 1200px) {
          height: 12rem;
        }
        @include breakpoint(max, 991px) {
          height: 10rem;
        }
        @include breakpoint(max, 768px) {
          height: 8rem;
        }
        #game {
          width: 11.9rem;
          height: 20.6rem;
          position: absolute;
          top: -2.8rem;
          @include calc(left, "(100% - 11.9rem)/2");
          @include breakpoint(max, 1200px) {
            top: -3.5rem;
            width: 9rem;
            height: 18rem;
            @include calc(left, "(100% - 9rem)/2");
          }
          @include breakpoint(max, 991px) {
            width: 7rem;
            height: 16rem;
            @include calc(left, "(100% - 7rem)/2");
          }
          @include breakpoint(max, 768px) {
            top: -3rem;
            width: 6rem;
            height: 13rem;
            @include calc(left, "(100% - 6rem)/2");
          }
        }
      }
      .title {
        border-radius: 1.2rem;
        border: 1px solid #e1ebf5;
        padding: 0.7rem 1.5rem 0.5rem 1.5rem;
        display: inline-block;
        margin: 7rem auto auto;
        color: rgba(#3f4373, 0.8);
        @include Medium;
        @include fontSize(14, $rootFontSize);
        @include breakpoint(max, 1400px) {
          margin-top: 5rem;
        }
        @include breakpoint(max, 1200px) {
          margin-top: 4rem;
          @include fontSize(12, $rootFontSize);
        }
        @include breakpoint(max, 768px) {
          margin-top: 3rem;
          @include fontSize(11, $rootFontSize);
        }
      }
      .platform-carousel {
        margin-top: 2.5rem;
        @include breakpoint(max, 768px) {
          margin-top: 2rem;
        }
        .game-platform {
          position: relative;
          svg {
            @include trans(0.3s);
            width: 3.4rem;
            height: 3.4rem;
            fill: rgba(#7551e9, 0.18);
            position: relative;
            z-index: 1;
            @include breakpoint(max, 1200px) {
              width: 2rem;
              height: 2rem;
            }
          }
          &:before {
            @include trans(0.3s);
            opacity: 0;
            visibility: hidden;
            position: absolute;
            display: block;
            content: "";
            width: 4.6rem;
            height: 4.6rem;
            border-radius: 100%;
            background: #e5e1f9;
            z-index: 0;
            @include calc(top, "(100% - 4.6rem)/2");
            @include calc(left, "(100% - 4.6rem)/2");
            @include breakpoint(max, 1200px) {
              width: 3.5rem;
              height: 3.5rem;
              @include calc(top, "(100% - 3.5rem)/2");
              @include calc(left, "(100% - 3.5rem)/2");
            }
          }
        }
        .owl-stage {
          padding: 1rem 0;
        }
        .owl-item {
          &.center {
            .game-platform {
              &:before {
                opacity: 1;
                visibility: visible;
              }
              svg {
                fill: #7753e9;
              }
            }
          }
        }
      }
    }
    #line {
      height: 66.4rem;
      position: absolute;
      top: -12rem;
      left: -10%;
      opacity: 0.4;
      transform: scaleX(-1) scaleY(-1) rotate(15deg);
      z-index: 0;
      pointer-events: none;
      @include breakpoint(max, 991px) {
        height: 49.4rem;
      }
    }
    .abs-card {
      overflow: hidden;
      z-index: 1;
      position: absolute;
      background: #f9fafc;
      border-radius: 1.1rem;
      box-shadow: 0 2.1rem 2.7rem 0 rgba(#c3d9ee, 0.22);
    }
  }
  .hero-description {
    width: 39rem;
    @include breakpoint(max, 1200px) {
      width: 34rem;
    }
    @include breakpoint(max, 768px) {
      width: 30rem;
    }
    @include breakpoint(max, 650px) {
      width: 80%;
      margin: auto;
    }
    @include breakpoint(max, 400px) {
      width: 100%;
    }

    .hero-title {
      color: #1c2d41;
      font-size: 3.2rem;
      @include Medium;
      @include breakpoint(max, 1400px) {
        font-size: 2.8rem;
      }
      @include breakpoint(max, 1200px) {
        font-size: 2.6rem;
      }
      @include breakpoint(max, 991px) {
        font-size: 2.4rem;
      }
      @include breakpoint(max, 768px) {
        font-size: 2.1rem;
      }
      @include breakpoint(max, 650px) {
        text-align: center;
      }
      span {
        display: block;
        color: #8392a5;
        margin-top: 1.5rem;
      }
    }
    .btn-holder {
      margin-top: 5.8rem;
      @include breakpoint(max, 768px) {
        margin-top: 4rem;
      }
      @include breakpoint(max, 650px) {
        text-align: center;
      }
    }
  }
  .advantage {
    margin-top: 6rem;
    @include breakpoint(max, 768px) {
      margin-top: 4rem;
    }
    @include breakpoint(max, 650px) {
      max-width: 30rem;
      margin: 4rem auto auto;
      text-align: right;
    }
    .title {
      display: block;
      margin-bottom: 1.5rem;
      font-size: 1.8rem;
      @include Regular;
      @include breakpoint(max, 1200px) {
        font-size: 1.6rem;
      }
      @include breakpoint(max, 768px) {
        font-size: 1.3rem;
      }
    }
    .advantage-item {
      @include Light;
      display: block;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      //color: #8392a5;
      color: #484c68;
      padding-right: 2rem;
      position: relative;
      @include breakpoint(max, 1200px) {
        padding-right: 1.5rem;
        @include fontSize(13, $rootFontSize);
      }
      @include breakpoint(max, 768px) {
        padding-right: 1rem;
        @include fontSize(11, $rootFontSize);
      }
      &:before {
        display: block;
        content: "";
        position: absolute;
        border-radius: 100%;
        width: 0.6rem;
        height: 0.6rem;
        background: #e1e5eb;
        right: 0;
        top: 0;
        @include calc(top, "(100% - 0.6rem)/2");
        @include breakpoint(max, 768px) {
          width: 0.4rem;
          height: 0.4rem;
        }
      }
    }
  }
}
.navbar-holder {
  display: flex;
  flex-direction: column;
  @include breakpoint(max, 600px) {
    flex-direction: column-reverse;
  }
}
nav {
  background: $mainColor;
  display: flex;
  padding: 1.6rem 6%;
  justify-content: space-between;
  align-items: center;
  @include breakpoint(max, 1200px) {
    padding: 1.5rem 3% 1rem 3%;
  }
  @include breakpoint(max, 768px) {
    padding: 1.5rem;
  }
  .follow-me {
    display: none;
    color: #fff;
    font-size: 1.4rem;
    @include Bold;
    @include breakpoint(max, 600px) {
      display: block;
    }
    @include breakpoint(max, 400px) {
      font-size: 1.2rem;
    }
  }
  .nav-menu {
    @include breakpoint(max, 600px) {
      display: none;
    }
    li {
      display: inline-block;
      margin-left: 6.5rem;
      @include breakpoint(max, 1200px) {
        margin-left: 1.5rem;
      }
      @include breakpoint(max, 768px) {
        margin-left: 0.7rem;
      }
      a {
        display: block;
        padding: 0 1rem;
        color: $white;
        text-decoration: none;
        @include trans(0.3s);
        @include Medium;
        @include fontSize(13, $rootFontSize);
        @include breakpoint(max, 768px) {
          font-size: 1.1rem;
          padding: 0 0.7rem;
        }
        &:hover {
          color: #daddfb;
        }
      }
      &:last-child {
        margin-left: 0;
      }
      &:first-child {
        padding-right: 0;
      }
    }
  }
  .support-info {
    display: flex;
    align-items: center;
    .support-item {
      display: flex;
      align-items: center;
      color: rgba(#c1c6e7, 0.8);
      position: relative;
      @include breakpoint(max, 991px) {
        padding-left: 2rem;
      }
      &.support-phone {
        padding-left: 2.3rem;
        margin-right: 3.6rem;
        @include Number;
        @include breakpoint(max, 1200px) {
          margin-right: 3rem;
        }
        @include breakpoint(max, 991px) {
          margin-right: 1.5rem;
        }
        @include breakpoint(max, 850px) {
          display: none;
        }
        b {
          color: $white;
          margin-left: 0.5rem;
          @include fontSize(18, $rootFontSize);
          @include breakpoint(max, 991px) {
            @include fontSize(15, $rootFontSize);
          }
        }
        svg {
          position: absolute;
          width: 1.4rem;
          height: 1.5rem;
          stroke: $white;
          left: 0;
        }
      }
      &.header-social {
        padding-left: 0;
        a {
          margin-right: 2rem;
          @include breakpoint(max, 991px) {
            margin-right: 1.3rem;
          }
          &:first-child {
            margin-right: 0;
          }
        }
        svg {
          fill: #fff;
          &#h-instagram {
            width: 1.8rem;
            height: 1.8rem;
            @include breakpoints(601px, 991px) {
              width: 1.6rem;
              height: 1.6rem;
            }
            @include breakpoint(max, 400px) {
              width: 1.6rem;
              height: 1.6rem;
            }
          }
          &#h-twitter {
            width: 1.9rem;
            height: 1.6rem;
            @include breakpoints(601px, 991px) {
              width: 1.7rem;
              height: 1.4rem;
            }
            @include breakpoint(max, 400px) {
              width: 1.7rem;
              height: 1.4rem;
            }
          }
          &#h-youtube {
            width: 2rem;
            height: 1.6rem;
            @include breakpoints(601px, 991px) {
              width: 1.8rem;
              height: 1.4rem;
            }
            @include breakpoint(max, 400px) {
              width: 1.8rem;
              height: 1.4rem;
            }
          }
          &#h-aparat {
            width: 2rem;
            height: 2rem;
            @include breakpoints(601px, 991px) {
              width: 1.8rem;
              height: 1.8rem;
            }
            @include breakpoint(max, 400px) {
              width: 1.8rem;
              height: 1.8rem;
            }
          }
        }
      }
    }
  }
}
.searchbar {
  padding: 1.8rem 6%;
  display: flex;
  align-items: center;
  position: relative;
  @include breakpoint(max, 1200px) {
    padding: 1.5rem 3%;
  }
  @include breakpoint(max, 768px) {
    padding: 1rem 1.5rem;
  }
  .logo {
    width: 12.9rem;
    @include breakpoint(max, 1200px) {
      width: 10rem;
    }
    @include breakpoint(max, 768px) {
      width: 8rem;
    }
  }
  .input-search {
    width: 50%;
    margin: auto;
    position: relative;
    display: block;
    z-index: 99;
    max-width: 52.5rem;
    @include breakpoint(max, 1500px) {
      width: 55%;
    }
    @include breakpoint(max, 768px) {
      width: 50%;
    }
    @include breakpoint(max, 600px) {
      width: 100%;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      background: #fff;
      max-width: 100%;
      transform: translateX(100%);
      @include trans(0.2s);
    }
    &.active {
      transform: translateX(0);
    }
    input[type="search"] {
      border-radius: 2.8rem;
      border: 0.1rem solid rgba(#cacdea, 0.6);
      padding: 1.4rem 2rem 1.4rem 2rem;
      background: transparent;
      width: 100%;
      color: #242849;
      position: relative;
      z-index: 1;
      text-align: center;
      @include Medium;
      @include fontSize(16, $rootFontSize);
      @include trans(0.2s);
      @include placeholderColor(#242849);
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        background: #fff;
        box-shadow: inset 0 0 100rem #fff !important;
      }
      @include breakpoint(max, 1200px) {
        padding: 1.2rem 5rem 1.2rem 2rem;
        @include fontSize(15, $rootFontSize);
      }
      @include breakpoint(max, 768px) {
        padding: 1rem 3.5rem 1rem 1.5rem;
      }
      @include breakpoint(max, 600px) {
        border: none;
        border-radius: 0;
        width: 100%;
        height: 100%;
      }
      &:focus {
        background: #fff;
      }
      &:focus,
      &:valid {
        + label {
          justify-content: flex-start;
          &:after {
            width: 100%;
            left: 0;
          }
          span {
            opacity: 0;
          }
          svg {
            fill: #25294a;
          }
        }
      }
    }
    label {
      @include trans(0.2s);
      @include Medium;
      padding: 1rem 2rem;
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba($mainColor, 0.5);
      @include fontSize(16, $rootFontSize);
      margin-bottom: 0;
      @include breakpoint(max, 1200px) {
        @include fontSize(15, $rootFontSize);
      }
      @include breakpoint(max, 768px) {
        padding: 1rem 1.2rem;
      }
      @include breakpoint(max, 500px) {
        @include fontSize(13, $rootFontSize);
      }
      span {
        @include trans(0.2s);
      }
      svg {
        @include trans(0.2s);
        width: 1.8rem; /* 18px */
        height: 1.8rem; /* 18px */
        fill: $mainColor;
        margin-left: 1rem; /* 10px */
        z-index: 1;
        overflow: visible;
        @include breakpoint(max, 768px) {
          width: 1.5rem; /* 15px */
          height: 1.5rem; /* 15px */
        }
      }
      &:after {
        @include trans(0.5s);
        position: absolute;
        display: block;
        content: "";
        height: 100%;
        width: 0%;
        top: 0;
        left: 50%;
        z-index: 0;
        background: #fff;
      }
    }
    .responsive-logo {
      width: 3.3rem; /* 33px */
      height: 4.3rem; /* 43px */
      position: absolute;
      right: 3rem; /* 30px */
      display: none;
      @include calc(top, "(100% - 4.3rem)/2");
      @include breakpoint(max, 768px) {
        display: block;
      }
      @include breakpoint(max, 500px) {
        height: 3rem; /* 30px */
        right: 1.5rem; /* 15px */
        @include calc(top, "(100% - 3rem)/2");
      }
      @include breakpoint(max, 400px) {
        height: 2.5rem; /* 25px */
        right: 1.2rem; /* 12px */
        @include calc(top, "(100% - 2.5rem)/2");
      }
    }
    .searchResult {
      margin: 0.5rem 0; /* 5px */
      border: 0.2rem /* 2px */ solid rgba(255, 255, 255, 0.2);
      border-radius: 1rem; /* 10px */
      width: 100%;
      overflow: hidden;
      background: rgba($mainColor, 0.9);
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      width: 100%;
      display: none;
      // display: flex !important;
      @include breakpoint(min, 991px) {
        // width: calc(107% + 10.8rem);
        // margin-right: -3.7rem; /* -37px */
        // margin-top: 0.6rem; /* 6px */
      }
      @include breakpoint(max, 990px) {
        // width: 150%;
        // margin-right: -3.4rem; /* -34px */
        // margin-top: 2rem; /* 20px */
        // margin-top: 0.6rem; /* 6px */
      }
      @include breakpoint(max, 767px) {
        // margin-right: -6rem; /* -60px */
        // width: calc(111% + 3.6rem);
      }
      @include breakpoint(max, 576px) {
        // width: calc(114% + 3.6rem);
      }
      @include breakpoint(max, 500px) {
        // margin-right: -3.3rem; /* -33px */
        // width: -webkit-calc(100% + 3.6rem);
        // width: calc(100% + 3.6rem);
      }
      // @include transition(all, 0.4s);
      &.loading,
      &.notFound {
        min-height: 7rem; /* 70px */
      }
      &.loading {
        .item {
          opacity: 0;
          pointer-events: none;
        }
      }
      &.notFound {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        &::before {
          content: "نتیجه ای پیدا نشد";
          line-height: 7rem; /* 70px */
          color: #fff;
        }
      }
      .item {
        @include trans(0.3s);
        padding: 2.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        color: $mainColor;
        border-bottom: 0.1rem /* 1px */ solid rgba($mainColor, 0.1);
        @include breakpoint(max, 768px) {
          justify-content: center;
        }
        @include breakpoint(max, 600px) {
          padding: 1.5rem;
        }
        .name {
          @include fontSize(18, $rootFontSize);
          font-weight: 700;
          @include breakpoint(max, 600px) {
            @include fontSize(15, $rootFontSize);
          }
          span {
            @include fontSize(14, $rootFontSize);
            opacity: 0.7;
            margin-right: 0.5rem; /* 5px */
            font-weight: 500;
            @include breakpoint(max, 600px) {
              @include fontSize(12, $rootFontSize);
            }
            &::before {
              content: "";
              position: relative;
              display: inline-block;
              vertical-align: middle;
              width: 0.3rem; /* 3px */
              height: 0.3rem; /* 3px */
              border-radius: 50%;
              background: $mainColor;
              margin-left: 0.5rem; /* 5px */
            }
          }
        }
        .buy {
          background: $red;
          padding: 0.3rem 0.8rem;
          @include fontSize(14, $rootFontSize);
          color: #fff;
          border-radius: 4.5rem; /* 45px */
          @include breakpoint(max, 575px) {
            width: 100%;
            text-align: center;
            margin-top: 0.7rem; /* 7px */
          }
        }
        &:hover {
          color: #fff;
          background: $mainColor;
          .name {
            span {
              color: #fff;
              &::before {
                background: $white;
              }
            }
          }
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .cherry-search-wrapper {
    width: 50%;
    margin: auto;
    -webkit-border-radius: 2.8rem;
    border-radius: 2.8rem;
    position: relative;
    display: block;
    z-index: 99;
    max-width: 52.5rem;
    @include breakpoint(max, 768px) {
      width: 70%;
    }
    label {
      margin: 0;
    }
    .cherry-search__message {
      padding: 1rem;
      color: #fff;
      text-align: center;
      position: relative;
      &::after {
        content: "نتیجه ای یافت نشد!";
        position: absolute !important;
        left: 0;
        top: 0;
        z-index: 3;
        background: rgba(37, 41, 74, 1);
        color: #fff;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .search-submit,
    .screen-reader-text,
    .cherry-search__more-button {
      display: none !important;
    }
    .cherry-search__spinner > div {
      background-color: #fff;
    }
    input[type="search"] {
      font-weight: 300;
      padding: 1.4rem 5rem;
      text-align: center;
      font-size: 1.6rem;
      background: 0 0;
      width: 100%;
      border: 0.1rem solid #dfe1f2;

      color: #25294a;
      position: relative;
      z-index: 1;
      border-radius: 2.5rem;
      @include trans(0.4s);
      @include breakpoint(max, 480px) {
        padding: 0.6rem 2rem;
        text-align: center;
        font-size: 1.3rem;
      }
      &:focus {
        background: #fff;
        color: #25294a !important;
        border-color: #fff;
      }
    }
    .cherry-search__results-list {
      border: 0.2rem solid rgba(255, 255, 255, 0.2);
      -webkit-border-radius: 1rem;
      border-radius: 1rem;
      overflow: hidden;
      background: rgba(37, 41, 74, 0.9);
      -webkit-transition: all, 0.4s;
      -o-transition: all, 0.4s;
      transition: all, 0.4s;
    }
    .cherry-search__results-list {
      .cherry-search__results-item {
        padding: 2.5rem;
        background: #fff;
        color: #25294a;
        border-bottom: 0.1rem solid rgba(37, 41, 74, 0.1);
        position: relative;
        text-align: right;
        @include breakpoint(max, 768px) {
          padding: 1.1rem;
        }
        &::after {
          content: "خرید";
          position: absolute;
          left: 2.5rem;
          top: calc(50% - 1rem);
          background: #f3303a;
          padding: 0.3rem 0.8rem;
          font-size: 1.4rem;
          color: #fff;
          -webkit-border-radius: 4.5rem;
          border-radius: 4.5rem;
          pointer-events: none;
          @include breakpoint(max, 768px) {
            position: relative;
            display: block;
            left: 0;
            top: 0;
            text-align: center;
          }
        }
        .cherry-search__item-attr {
          font-size: 1.8rem;
          font-weight: 700;
          -webkit-box-flex: 1;
          -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          max-width: calc(100% - 4rem);
          color: #25294a;
          position: relative;
          @include breakpoint(max, 768px) {
            font-size: 1.3rem;
            text-align: center;
            max-width: 100%;
          }
          &::after {
            content: "خرید بازی";
            position: relative;
            display: inline-block;
            vertical-align: middle;
            font-size: 1.4rem;
            opacity: 0.7;
            margin-right: 0.5rem;
            font-weight: 500;
            @include breakpoint(max, 768px) {
              display: none;
            }
          }
          .cherry-search__item-content,
          .cherry-search__item-author {
            display: none;
          }
          .cherry-search__item-title {
            display: inline-block;
            width: auto;
          }
        }
      }
    }
  }
  .register-wrap {
    padding: 1.1rem 2.7rem;
    display: flex !important;
    position: relative;
    border: 0.1rem solid rgba(#d5d8f0, 0.6);
    @include Medium;
    @include fontSize(16, $rootFontSize);
    @include breakpoint(max, 1200px) {
      @include fontSize(15, $rootFontSize);
      padding: 1rem 2.5rem;
    }
    @include breakpoint(max, 991px) {
      padding: 1rem 1.5rem;
    }
    @include breakpoint(max, 600px) {
      display: none !important;
    }
    // @include breakpoint(max, 768px) {
    //   background: $white;
    //   width: 5rem; /* 50px */
    //   height: 5rem; /* 50px */
    //   border-radius: 50%;
    //   border: none;
    //   padding: 0;
    //   justify-content: center;
    //   align-items: center;
    //   box-shadow: 0 1.5rem 4.6rem 0 rgba($mainColor, 0.2),
    //     0 0.5rem 0.5rem 0 /* 15px 46px 5px 5px */ rgba(#a8c0e2, 0.21);
    //   display: none !important;
    // }
    // @include breakpoint(max, 600px) {
    //   width: 4rem; /* 40px */
    //   height: 4rem; /* 40px */
    // }
    // @include breakpoint(max, 400px) {
    //   width: 3rem; /* 30px */
    //   height: 3rem; /* 30px */
    // }

    .usericon {
      width: 2.2rem; /* 22px */
      height: 2.5rem; /* 25px */
      stroke: #252849;
      display: none;
      // @include breakpoint(max, 768px) {
      //   display: block;
      // }
      // @include breakpoint(max, 600px) {
      //   width: 1.8rem; /* 18px */
      //   height: 1.8rem; /* 18px */
      // }
      // @include breakpoint(max, 400px) {
      //   width: 1.5rem; /* 15px */
      //   height: 1.5rem; /* 15px */
      // }
    }
    .register-btn {
      margin-right: 1rem; /* 10px */
      padding-right: 1rem;
      position: relative;
      display: flex;
      line-height: 1;
      &:before {
        display: block;
        position: absolute;
        content: "";
        height: 1.2rem; /* 12px */
        width: 0.2rem; /* 2px */
        background: #575e8c;
        right: 0;
        @include calc(top, "(100% - 1.2rem)/2");
      }
      // @include breakpoint(max, 768px) {
      //   display: none;
      // }
    }
    // .dashboard-btn {
    //   @include breakpoint(max, 768px) {
    //     display: none;
    //   }
    // }
    // .login-btn {
    //   @include breakpoint(max, 768px) {
    //     display: none;
    //   }
    // }
    &:hover {
      color: $textColor;
    }
    &:after {
      display: none;
      position: absolute;
      content: "";
      width: 1.3rem; /* 13px */
      height: 1.3rem; /* 13px */
      border-radius: 50%;
      background: $red;
      box-shadow: 0 0.8rem 2.7rem 0 /* 8px 27px */ rgba($red, 0.23);
      right: -0.2rem; /* -2px */
      top: 0;
      // @include breakpoint(max, 768px) {
      //   display: block;
      // }
      // @include breakpoint(max, 400px) {
      //   width: 0.6rem; /* 6px */
      //   height: 0.6rem; /* 6px */
      //   right: 0rem; /* 0px */
      //   top: 0.3rem; /* 3px */
      // }
    }
  }
  .mini-menu {
    cursor: pointer;
    display: none;
    padding: 0.5rem 0 0.5rem 1rem;
    border-left: 1px solid #d7d8e2;
    margin-left: 1rem;
    @include breakpoint(max, 600px) {
      display: block;
    }
    svg {
      width: 2rem;
      height: 1.5rem;
      stroke: #252849;
    }
  }
  .cart-register {
    display: flex;
    align-items: center;
    position: relative;
    @include breakpoint(max, 600px) {
      margin-right: auto;
    }
    .dashboard-btn-holder {
      .dashboard-menu {
        position: absolute;
        top: 6.3rem; /* 63px */
        background: #fff;
        width: 19.7rem; /* 197px */
        border-radius: 1.1rem; /* 11px */
        padding: 2.3rem 1.7rem 0.8rem 0;
        z-index: 10;
        box-shadow: 0.1rem 0.3rem 1.9rem 0rem /* 1px 3px 19px 0px */
          rgba(34, 39, 70, 0.19);
        opacity: 0;
        visibility: hidden;
        transform: translateY(-5px);
        transition: all 0.4s;
        .personal-info {
          display: flex;
          .avatar {
            margin-left: 1rem; /* 10px */
            img {
              width: 3.5rem; /* 35px */
              height: 3.5rem; /* 35px */
              border-radius: 10rem; /* 100px */
            }
          }
          .name {
            @include fontSize(16, $rootFontSize);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 11.5rem; /* 115px */
            display: inline-block;
            margin-top: 0.3rem; /* 3px */
          }
          .see-profile {
            a {
              color: $red;
              @include fontSize(12, $rootFontSize);
              display: block;
            }
          }
        }
        ul {
          @include fontSize(14, $rootFontSize);
          li {
            &:last-of-type {
              margin-top: 1.5rem; /* 15px */
            }
            a {
              line-height: 3.2rem; /* 32px */
            }
            svg {
              margin-left: 1.6rem; /* 16px */
            }
            .orders {
              svg {
                fill: #525685;
                opacity: 0.7;
                width: 1.5rem; /* 15px */
                height: 1.5rem; /* 15px */
              }
            }
            .support {
              svg {
                fill: #525685;
                opacity: 0.7;
                width: 1.5rem; /* 15px */
                height: 1.5rem; /* 15px */
              }
            }
            .favorites {
              svg {
                stroke: #525685;
                opacity: 0.8;
                height: 1.5rem; /* 15px */
                width: 1.5rem; /* 15px */
              }
            }
            .logout {
              svg {
                stroke: #525685;
                width: 1.3rem; /* 13px */
                height: 1.4rem; /* 14px */
              }
            }
          }
        }
        &:after {
          position: absolute;
          right: 0;
          bottom: 4.6rem; /* 46px */
          content: "";
          border-top: 0.1rem /* 1px */ solid #e9ebf8;
          width: 100%;
          height: 0.1rem; /* 1px */
        }
      }
      &:hover {
        .dashboard-menu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
    .responsive-avatar {
      width: 3.4rem;
      height: 3.4rem;
      border-radius: 100%;
      cursor: pointer;
      display: none;
      margin-right: 2rem;
      @include breakpoint(max, 600px) {
        display: block;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .cart-icon {
    width: 6.3rem;
    height: 4.7rem;
    border-radius: 2.3rem;
    position: relative;
    background: #ffd21d;
    margin-right: 1.7rem;
    cursor: pointer;
    @include trans(0.3s);
    @include breakpoint(max, 1200px) {
      width: 5.3rem;
      height: 3.7rem;
    }
    @include breakpoint(max, 991px) {
      width: 4.5rem;
      height: 3.5rem;
      margin-right: 1rem;
    }
    @include breakpoint(max, 768px) {
      width: 4rem;
      height: 4rem;
    }
    @include breakpoint(max, 600px) {
      background: transparent;
      width: unset;
      height: unset;
    }

    & > a {
      cursor: pointer;
      display: block;
      width: 100%;
      height: 100%;
    }
    .shopping-cart {
      position: absolute;
      top: 4.8rem;
      left: 0;
      width: 7rem;
      height: 20rem;
      opacity: 0;
      visibility: hidden;
      @include breakpoint(max, 1200px) {
        top: 3.8rem; /* 38px */
      }
    }
    .mini-cart {
      @include trans(0.3s);
      @include lightshadow;
      position: absolute;
      border-radius: 1.5rem; /* 15px */
      background-color: $white;
      width: 40rem; /* 400px */
      left: 0;
      top: 1.1rem; /* 11px */
      overflow: hidden;
      padding-top: 1.5rem;
      opacity: 0;
      visibility: hidden;
      z-index: 99;
      //transform: translateY(100px);
      @include breakpoint(max, 1200px) {
        // top: 5rem; /* 50px */
        width: 38rem; /* 380px */
      }
      @include breakpoint(max, 991px) {
        padding-top: 0.5rem;
      }

      @include breakpoint(max, 500px) {
        width: 30rem; /* 300px */
        border-radius: 1rem; /* 10px */
      }

      .order-list {
        overflow-y: auto;
        height: auto;
        max-height: 35rem; /* 350px */
        @include breakpoint(max, 1200px) {
          max-height: 28rem; /* 280px */
        }
        .order-item {
          padding: 2.5rem 3rem;
          border-bottom: 0.1rem /* 1px */ solid #edeef2;
          display: flex;
          align-items: center;
          @include breakpoint(max, 1200px) {
            padding: 1.5rem 2rem;
          }
          @include breakpoint(max, 991px) {
            padding: 1rem 1.5rem;
          }
          .order-img {
            width: 7.2rem; /* 72px */
            height: 9.6rem; /* 96px */
            object-fit: cover;
            margin-left: 2rem; /* 20px */
            @include breakpoint(max, 991px) {
              width: 6.2rem; /* 62px */
              height: 8.6rem; /* 86px */
              margin-left: 1rem; /* 10px */
            }
          }
          .order-detail {
            @include calc(width, "(100% - 9.2rem)");
            @include breakpoint(max, 991px) {
              @include calc(width, "(100% - 7.2rem)");
            }
            .order-name {
              h2 {
                @include Bold;
                @include fontSize(16, $rootFontSize);
                margin-bottom: 0;
                @include breakpoint(max, 991px) {
                  @include fontSize(14, $rootFontSize);
                }
              }
              span {
                display: block;
                @include fontSize(12, $rootFontSize);
                margin-top: 1rem; /* 10px */
              }
            }
            .order-price {
              margin-top: 2rem; /* 20px */
              display: flex;
              justify-content: space-between;
              align-items: center;
              @include breakpoint(max, 991px) {
                margin-top: 1rem; /* 10px */
              }
              .price-amount {
                display: flex;
                align-items: center;
                span {
                  @include Number;
                }
                .count {
                  @include fontSize(14, $rootFontSize);
                  @include breakpoint(max, 500px) {
                    @include fontSize(12, $rootFontSize);
                  }
                }
                .price {
                  //    margin-right: 0.5rem; /* 5px */
                  //    padding-right: 1rem; /* 10px */
                  position: relative;
                  @include fontSize(16, $rootFontSize);
                  color: rgba($textColor, 0.8);
                  @include breakpoint(max, 500px) {
                    @include fontSize(14, $rootFontSize);
                  }
                  span {
                    @include fontSize(18, $rootFontSize);
                    color: $textColor;
                  }
                }
              }
              .delete-order {
                @include fontSize(14, $rootFontSize);
                color: $textColor;
                @include breakpoint(max, 500px) {
                  @include fontSize(12, $rootFontSize);
                }
                svg {
                  stroke: $red;
                  width: 0.8rem; /* 8px */
                  height: 0.8rem; /* 8px */
                  display: inline-block;
                  vertical-align: middle;
                  margin-left: 0.5rem; /* 5px */
                }
              }
            }
          }
          &:last-child {
            border: none;
          }
        }
      }
      .sum-total {
        position: relative;
        bottom: 0;
        padding: 3rem;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        @include breakpoint(max, 1200px) {
          padding: 2rem;
        }
        @include breakpoint(max, 991px) {
          padding: 1rem;
        }
        .total-price {
          @include fontSize(14, $rootFontSize);
          @include breakpoint(max, 500px) {
            @include fontSize(12, $rootFontSize);
          }
          color: rgba($textColor, 0.8);
          span {
            @include Number;
            color: $textColor;
            @include fontSize(25, $rootFontSize);
            margin: 0 1.5rem 0 0.5rem; /* 15px 5px */
            @include breakpoint(max, 500px) {
              @include fontSize(20, $rootFontSize);
            }
          }
        }
        .btn {
          @include fontSize(16, $rootFontSize);
          padding: 1.5rem 3rem;
          @include breakpoint(max, 768px) {
            @include fontSize(14, $rootFontSize);
            padding: 1.2rem 2.5rem;
          }
        }
        &:before {
          display: block;
          position: absolute;
          content: "";
          width: 100%;
          height: 4rem; /* 40px */
          background: $white;
          filter: blur(4px);
          left: 0;
          top: -1.5rem; /* -15px */
          @include breakpoint(max, 768px) {
            height: 3rem; /* 30px */
          }
        }
      }
      .noData {
        .image {
          width: 10rem; /* 100px */
          margin-bottom: 1rem; /* 10px */
        }
        .title {
          @include fontSize(24, $rootFontSize);
        }
        .text {
          @include fontSize(15, $rootFontSize);
        }
      }
      &:hover {
        .mini-cart {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
    .cart-svg {
      position: absolute;
      width: 2.3rem;
      height: 2.3rem;
      stroke: $mainColor;
      @include trans(0.3s);
      @include calc(top, "(100% - 2.3rem)/2");
      @include calc(left, "(100% - 2.3rem)/2");
      @include breakpoint(max, 600px) {
        position: relative;
        width: 1.6rem;
        height: 1.6rem;
        top: unset;
        left: unset;
      }
    }
    &:after {
      top: -0.5rem;
      right: -0.5rem;
      display: block;
      color: #25294a;
      background: #fff;
      position: absolute;
      border-radius: 2rem;
      padding: 0.4rem 0.6rem;
      content: attr(data-count);
      @include Number;
      @include fontSize(14, $rootFontSize);
      @include breakpoint(max, 1200px) {
        top: -0.8rem;
        @include fontSize(11, $rootFontSize);
      }
      @include breakpoint(max, 768px) {
        top: -0.4rem; /* -4px */
        @include fontSize(10, $rootFontSize);
        padding: 0.3rem 0.5rem;
      }
      @include breakpoint(max, 600px) {
        display: none;
      }
    }
    &.empty {
      &:after {
        display: none;
      }
      .mini-cart {
        padding: 3rem 1.5rem;
      }
    }
    &:hover {
      background: $mainColor;
      @include breakpoint(max, 600px) {
        background: transparent;
      }
      svg {
        stroke: $white;
        @include breakpoint(max, 600px) {
          stroke: $mainColor;
        }
      }
      .shopping-cart {
        opacity: 1;
        visibility: visible;
      }
      .mini-cart {
        @include breakpoint(min, 768px) {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .search-icon {
    display: none;
    margin-left: 2rem;
    cursor: pointer;
    @include breakpoint(max, 600px) {
      display: block;
    }
    svg {
      width: 1.6rem;
      height: 1.6rem;
      fill: $mainColor;
      overflow: visible;
    }
  }
  &.dark {
    background: $mainColor;
    border-top: 0.1rem solid #333857;
    @include breakpoint(max, 600px) {
      border-bottom: 0.1rem solid #333857;
    }
    .cherry-search-wrapper {
      input[type="search"] {
        color: #fff;
      }
      input[type="search"]::placeholder {
        color: #fff;
      }
    }
    .register-wrap {
      color: #fff;
    }
    .mini-menu {
      svg {
        stroke: $white;
      }
    }
    .input-search {
      input {
        border: 0.1rem /* 1px */ solid rgba(#fff, 0.6);
        color: #fff;
        @include placeholderColor(#fff);
        &:focus {
          color: #242849;
        }
      }
      label {
        color: rgba(#cbcde1, 0.8);
        svg {
          fill: #fff;
        }
      }
    }
    .cart-register {
      svg {
        @include breakpoint(max, 600px) {
          stroke: #fff;
          fill: #fff;
        }
      }
    }
  }
  &.sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 10;
    background: #f7f8ff;
    @include lightshadow;
    &.dark {
      background: $mainColor;
    }
  }
  &.by-shadow {
    background: #fff;
    @include lightshadow;
  }
  &.by-border {
    border-bottom: 0.1rem solid rgba(213, 216, 240, 0.3);
  }
  &.dashboard-search {
    .input-search {
      @include breakpoint(max, 1500px) {
        width: 40%;
      }
      @include breakpoint(max, 768px) {
        width: 70%;
      }
      @include breakpoint(max, 600px) {
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        background: #fff;
        max-width: 100%;
        transform: translateX(100%);
        @include trans(0.2s);
      }
    }
  }
}
.product-hero {
  background-color: $mainColor;
  position: relative;
  padding: 0 6%;
  @include breakpoint(max, 1400px) {
    padding: 0 4%;
  }
  @include breakpoint(max, 1200px) {
    padding: 0 3%;
  }
  &:after {
    position: absolute;
    height: 13rem;
    width: 100%;
    content: "";
    border-radius: 0 0 2rem 2rem;
    background: #fff;
    box-shadow: 0 0.4rem 0.7rem 0 rgba(#a8c0e2, 0.27),
      0 0.8rem 2.1rem 0 rgba(#a8c0e2, 0.19);
    left: 0;
    bottom: -2rem;
    z-index: 0;
    display: none;
    @include breakpoint(max, 600px) {
      display: block;
    }
    @include breakpoint(max, 450px) {
      height: 10rem;
    }
  }
  .product-hero__master {
    min-height: 40rem;
    padding: 15rem 36rem 5rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    @include breakpoint(max, 1400px) {
      padding-right: 27rem;
      padding-top: 10rem;
    }
    @include breakpoint(max, 1200px) {
      padding: 7rem 25rem 3rem 0;
    }
    @include breakpoint(max, 991px) {
      padding-right: 24rem;
    }
    @include breakpoint(max, 768px) {
      padding-right: 21.5rem;
      min-height: 30rem;
    }
    @include breakpoint(max, 600px) {
      min-height: unset;
      padding-right: 1.5rem;
      padding-top: 5rem;
      padding-bottom: 0;
    }
    .product-img {
      width: 30rem;
      height: 43rem;
      border-radius: 1rem;
      overflow: hidden;
      position: absolute;
      right: 0;
      bottom: -4.5rem;
      background: #fff;
      box-shadow: 0 0.9rem 4.6rem 0 rgba($mainColor, 0.3),
        0 0.2rem 0.5rem 0 rgba($mainColor, 0.2);
      @include breakpoint(max, 1400px) {
        width: 25rem;
        height: 35rem;
      }
      @include breakpoint(max, 1200px) {
        width: 22rem;
        height: 32rem;
        bottom: -1.5rem;
      }
      @include breakpoint(max, 768px) {
        width: 20rem;
        height: 30rem;
        bottom: -1.5rem;
      }
      @include breakpoint(max, 600px) {
        width: 18rem;
        height: 24rem;
        bottom: 6.5rem;
      }
      @include breakpoint(max, 450px) {
        width: 12rem;
        height: 18rem;
        bottom: 5.5rem;
      }
      img {
        width: 100%;
        height: 100%;
        display: block;
        min-width: 100%;
        min-height: 100%;
      }
    }
    .tag-social {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 4rem;
      @include breakpoint(max, 1400px) {
        padding-left: 2rem;
      }
      @include breakpoint(max, 768px) {
        padding-left: 0;
      }
      @include breakpoint(max, 600px) {
        padding-right: 18rem;
      }
      @include breakpoint(max, 450px) {
        padding-right: 12rem;
      }
      .tag-wrapper {
        display: flex;
        align-items: center;
        .special-tag,
        .prebuy-tag {
          @include Heavy;
          font-size: 1.5rem;
          border-radius: 1.8rem;
          padding: 1rem 1.7rem;
          @include breakpoint(max, 1200px) {
            font-size: 1.3rem;
          }
          @include breakpoint(max, 991px) {
            font-size: 1.2rem;
          }
          @include breakpoint(max, 768px) {
            font-size: 1.1rem;
            padding: 0.7rem 1rem;
          }
        }
        .special-tag {
          position: relative;
          border-radius: 1.8rem;
          box-shadow: 0 0.8rem 2.7rem 0 rgba($red, 0.23);
          margin-left: 1rem;
          padding-right: 3rem;
          @include breakpoint(max, 768px) {
            padding-right: 2rem;
          }
          svg {
            position: absolute;
            width: 1.2rem;
            height: 1.6rem;
            right: 1.2rem;
            fill: #fff;
            display: block;
            @include calc(top, "(100% - 1.6rem)/2");
            @include breakpoint(max, 768px) {
              width: 0.8rem;
              height: 1.2rem;
              right: 1rem;
              @include calc(top, "(100% - 1.2rem)/2");
            }
          }
        }
      }
    }
    .product-detail {
      margin-top: 3.5rem;
      border-radius: 1.1rem;
      background: rgba(#252949, 0.5);
      padding: 3rem 3rem 3rem 4rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @include breakpoint(max, 1400px) {
        padding: 3rem 2rem 3rem 2rem;
      }
      @include breakpoint(max, 991px) {
        padding: 1.5rem;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      @include breakpoint(max, 600px) {
        background: transparent;
        margin-top: 8rem;
        padding: 0;
      }
      @include breakpoint(max, 450px) {
        margin-top: 4rem;
      }
      .add-to-cart {
        padding: 1.8rem 7.5rem 1.8rem 4.5rem;
        color: $white;
        font-size: 2rem;
        @include breakpoint(max, 1400px) {
          padding: 1.8rem 5.5rem 1.8rem 3.5rem;
          font-size: 1.7rem;
        }
        @include breakpoint(max, 1200px) {
          padding: 1.4rem 4.5rem 1.4rem 2.5rem;
          font-size: 1.5rem;
        }
        @include breakpoint(max, 768px) {
          font-size: 1.3rem;
          padding: 1.2rem 4.5rem 1.2rem 2.5rem;
        }
        svg {
          width: 1rem;
          height: 1.4rem;
          position: absolute;
          right: 3rem;
          @include calc(top, "(100% - 1.4rem)/2");
          @include breakpoint(max, 1400px) {
            width: 0.8rem;
            height: 1.2rem;
            right: 2rem;
            @include calc(top, "(100% - 1.2rem)/2");
          }
        }
      }
      .price {
        margin-left: 4rem;
        text-align: right;
        color: rgba(#fff, 0.8);
        font-size: 1.4rem;
        @include Medium;
        @include breakpoint(max, 1200px) {
          font-size: 1.2rem;
          margin-left: 2rem;
        }
        @include breakpoint(max, 768px) {
          font-size: 1rem;
        }
        @include breakpoint(max, 600px) {
          color: rgba(#24284a, 0.8);
          font-size: 1.4rem;
        }
        @include breakpoint(max, 450px) {
          font-size: 1.2rem;
        }
        span {
          @include Number;
          display: block;
          color: #fff;
          font-size: 2.8rem;
          margin-top: 0.7rem;
          @include breakpoint(max, 1200px) {
            font-size: 2.2rem;
          }
          @include breakpoint(max, 768px) {
            font-size: 1.8rem;
          }
          @include breakpoint(max, 600px) {
            color: #24284a;
            font-size: 2.5rem;
          }
          @include breakpoint(max, 450px) {
            font-size: 2rem;
          }
          b {
            @include Bold;
            @include YekanBakh;
            font-size: 1.8rem;
            color: rgba(#fff, 0.8);
            @include breakpoint(max, 1200px) {
              font-size: 1.5rem;
            }
            @include breakpoint(max, 768px) {
              font-size: 1.2rem;
            }
            @include breakpoint(max, 600px) {
              color: #24284a;
              font-size: 1.8rem;
            }
            @include breakpoint(max, 450px) {
              font-size: 1.4rem;
            }
          }
        }
      }
      .name-wrap {
        width: 48%;
        margin-left: auto;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        @include breakpoint(max, 991px) {
          width: 100%;
          margin-bottom: 2rem;
        }
        @include breakpoint(max, 600px) {
          padding-right: 18rem;
          margin-bottom: 4rem;
          padding-top: 2rem;
        }
        @include breakpoint(max, 450px) {
          padding-right: 12rem;
          margin-bottom: 2rem;
        }
        .product-name {
          font-size: 3rem;
          line-height: 1.3;
          width: 100%;
          @include Bold;
          @include breakpoint(max, 1400px) {
            font-size: 2.5rem;
          }
          @include breakpoint(max, 1200px) {
            font-size: 2rem;
          }
          @include breakpoint(max, 768px) {
            font-size: 1.7rem;
          }
          @include breakpoint(max, 600px) {
            font-size: 1.8rem;
          }
          @include breakpoint(max, 450px) {
            font-size: 1.6rem;
          }
        }
        .product-genre {
          margin-top: 1rem;
          @include breakpoint(max, 600px) {
            margin-top: 3rem;
          }
          @include breakpoint(max, 450px) {
            margin-top: 1rem;
          }
          li {
            display: inline-block;
            padding: 0 1rem;
            position: relative;
            color: rgba(#fff, 0.7);
            font-size: 1.3rem;
            @include breakpoint(max, 1200px) {
              font-size: 1.2rem;
              padding: 0 0.5rem;
            }
            @include breakpoint(max, 768px) {
              font-size: 1rem;
              padding: 0 0.5rem;
            }
            @include breakpoint(max, 600px) {
              color: rgba(#24284a, 0.7);
              font-size: 1.3rem;
            }
            @include breakpoint(max, 450px) {
              font-size: 1.1rem;
            }
            &:before {
              position: absolute;
              display: block;
              content: "";
              width: 0.1rem;
              height: 2rem;
              background: rgba(#fff, 0.5);
              right: 0;
              @include calc(top, "(100% - 2rem)/2");
              @include breakpoint(max, 768px) {
                height: 1rem;
                @include calc(top, "(100% - 1rem)/2");
              }
              @include breakpoint(max, 600px) {
                background: rgba(#24284a, 0.7);
              }
            }
            &:first-child {
              padding-right: 0;
              &:before {
                display: none;
              }
            }
            a {
              color: rgba(#fff, 0.7);
            }
          }
        }
        .rate {
          display: flex;
          align-items: center;
          font-size: 1.5rem;
          @include Number;
          @include breakpoint(max, 768px) {
            font-size: 1.3rem;
          }
          @include breakpoint(max, 600px) {
            position: absolute;
            right: 18rem;
            top: 0;
            color: transparent;
          }
          @include breakpoint(max, 450px) {
            position: absolute;
            right: 12rem;
          }
          .star-wrap {
            display: flex;
            margin-left: 1rem;

            svg {
              width: 1.5rem;
              height: 1.5rem;
              margin-left: 0.3rem;
              fill: rgba(#fff, 0.3);
              @include breakpoint(max, 768px) {
                width: 1.2rem;
                height: 1.2rem;
                margin-left: 0;
              }
              &.gold {
                fill: #ffd21d;
              }
            }
          }
        }
      }
    }
    .property-wrap {
      margin-top: 4rem;
      display: flex;
      align-items: stretch;
      @include breakpoint(max, 991px) {
        margin-top: 2rem;
      }
      @include breakpoint(max, 768px) {
        display: none;
      }
      .property-info {
        min-width: 24rem;
        display: flex;
        flex-direction: column;
        padding-left: 4rem;
        @include breakpoint(max, 1200px) {
          padding-left: 2rem;
        }
        @include breakpoint(max, 991px) {
          min-width: unset;
        }
        &:last-child {
          padding-left: 0;
        }
        .property-head {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .title {
          @include Heavy;
          font-size: 1.8rem;
          color: #edeef6;
          @include breakpoint(max, 991px) {
            font-size: 1.5rem;
          }
        }
        .link-more {
          position: relative;
          padding-right: 2rem;
          font-size: 1.3rem;
          color: #ffd21d;
          @include breakpoint(max, 991px) {
            font-size: 1.1rem;
          }
          svg {
            width: 1.4rem;
            height: 1.4rem;
            position: absolute;
            right: 0;
            stroke: rgba(#ffd21d, 0.5);
            @include calc(top, "(100% - 1.4rem)/2");
            @include breakpoint(max, 991px) {
              width: 1.1rem;
              height: 1.1rem;
              @include calc(top, "(100% - 1.1rem)/2");
            }
          }
          &:after {
            display: block;
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            height: 0.1rem;
            background: rgba(#ffd21d, 0.5);
            @include calc(width, "(100% - 2rem)");
          }
        }
        &:first-child {
          margin-left: 4rem;
          border-left: 0.1rem solid rgba(#fff, 0.3);
          @include breakpoint(max, 1200px) {
            margin-left: 2rem;
          }
        }
        .property-holder {
          margin-top: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: rgba(#fff, 0.8);
          @include Medium;

          li {
            font-size: 1.3rem;
            display: flex;
            align-items: center;
            padding-left: 1.2rem;
            margin-left: 1.2rem;
            position: relative;
            @include breakpoint(max, 1200px) {
              font-size: 1.2rem;
              padding-left: 1rem;
              margin-left: 1rem;
            }
            @include breakpoint(max, 991px) {
              font-size: 1rem;
              padding-left: 0.7rem;
              margin-left: 0.7rem;
            }
            &:after {
              position: absolute;
              display: block;
              content: "";
              height: 2rem;
              width: 0.1rem;
              background: rgba(#fff, 0.3);
              left: 0;
              @include calc(top, "(100% - 2rem)/2");
              @include breakpoint(max, 991px) {
                height: 1rem;
                @include calc(top, "(100% - 1rem)/2");
              }
            }
            img,
            svg {
              fill: rgba(#fff, 0.8);
              width: 2rem;
              height: 2rem;
              margin-left: 1rem;
              @include breakpoint(max, 1200px) {
                width: 1.5rem;
                height: 1.5rem;
              }
              @include breakpoint(max, 991px) {
                width: 1.2rem;
                height: 1.2rem;
              }
            }
            &:last-child {
              border: none;
              padding-left: 0;
              margin-left: 0;
              &:after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .back-cover {
    opacity: 0.29;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    @include breakpoint(max, 600px) {
      display: none;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
.social-wrapper {
  display: flex;
  position: relative;
  @include breakpoint(max, 600px) {
    display: none;
  }
  .social-item {
    width: 5rem;
    height: 5rem;
    border: 0.2rem solid rgba(#a1b1c8, 0.25);
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    margin-right: 1.5rem;
    @include breakpoint(max, 1200px) {
      width: 4.5rem;
      height: 4.5rem;
    }
    @include breakpoint(max, 768px) {
      width: 3.5rem;
      height: 3.5rem;
    }
    svg {
      @include trans(0.3s);
      transform-origin: center center;
      stroke: $white;
      position: absolute;
    }
    &:last-child {
      margin-bottom: 0rem; /* 0px */
      @include breakpoint(max, 991px) {
        margin-left: 0rem; /* 0px */
      }
    }
    .simplefavorite-button {
      display: block;
    }
    &.active {
      svg {
        stroke: $red;
        fill: $red;
        animation: like 1s ease-in-out;
      }
    }
    &.like {
      svg {
        width: 1.9rem; /* 19px */
        height: 1.8rem; /* 18px */
        @include calc(left, "(100% - 1.9rem)/2");
        @include calc(top, "(100% - 1.8rem)/2");
        @include breakpoint(max, 991px) {
          width: 1.7rem; /* 17px */
          height: 1.6rem; /* 16px */
          @include calc(left, "(100% - 1.7rem)/2");
          @include calc(top, "(100% - 1.6rem)/2");
        }
        @include breakpoint(max, 768px) {
          width: 1.5rem; /* 15px */
          height: 1.4rem; /* 14px */
          @include calc(left, "(100% - 1.5rem)/2");
          @include calc(top, "(100% - 1.4rem)/2");
        }
      }
      .heart {
        opacity: 1;
      }
      .heart-fill {
        opacity: 0;
      }
      &.active {
        .heart {
          opacity: 0;
        }
        .heart-fill {
          opacity: 1;
        }
      }
    }
    &.share {
      svg {
        width: 1.6rem; /* 16px */
        height: 2.2rem; /* 22px */
        @include calc(left, "(100% - 1.6rem)/2");
        @include calc(top, "(100% - 2.2rem)/2");
        @include breakpoint(max, 991px) {
          width: 1.4rem; /* 14px */
          height: 2rem; /* 20px */
          @include calc(left, "(100% - 1.4rem)/2");
          @include calc(top, "(100% - 2rem)/2");
        }
        @include breakpoint(max, 768px) {
          width: 1.2rem; /* 12px */
          height: 1.8rem; /* 18px */
          @include calc(left, "(100% - 1.2rem)/2");
          @include calc(top, "(100% - 1.8rem)/2");
        }
      }
      &:hover {
        background: #fff;
        border-color: #fff;
        svg {
          stroke: rgba(#242843, 0.5);
          z-index: 4;
        }
        .social-holder {
          opacity: 1;
          visibility: visible;
          z-index: 2;
        }
      }
    }
    .social-holder {
      @include trans(0.3s);
      opacity: 0;
      visibility: hidden;
      position: absolute;
      width: calc(100% + 0.4rem);
      background: $white;
      top: 0;
      z-index: -1;
      border-radius: 2.5rem; /* 25px */
      left: -0.2rem; /* -2px */
      padding-top: 5rem;
      li {
        display: block;
        text-align: center;
        a {
          height: 4rem; /* 40px */
          display: block;
          @include trans(0.3s);
          position: relative;
          svg {
            width: 2rem; /* 20px */
            height: 2rem; /* 20px */
            position: absolute;
            fill: #232743;
            @include calc(top, "(100% - 2rem)/2");
            @include calc(left, "(100% - 2rem)/2");
            @include breakpoint(max, 991px) {
              width: 2rem; /* 20px */
              height: 2rem; /* 20px */
            }
          }
          &:after {
            @include trans(0.3s);
            position: absolute;
            display: block;
            content: attr(data-name);
            @include fontSize(11, $rootFontSize);
            color: rgba(#fff, 0.7);
            text-transform: uppercase;
            left: calc(100% + 1rem);
            top: 1.5rem; /* 15px */
            opacity: 0;
          }
          &:before {
            @include trans(0.3s);
            position: absolute;
            display: block;
            content: "";
            width: 0.3rem; /* 3px */
            height: 0.3rem; /* 3px */
            border-radius: 50%;
            background: $red;
            top: 2rem; /* 20px */
            right: 0.5rem; /* 5px */
            opacity: 0;
          }
          &:hover {
            svg {
              fill: $red;
            }
            &:after,
            &:before {
              opacity: 1;
            }
          }
        }
        &:last-child {
          border: none;
        }
      }
    }
  }
}

.archive-hero {
  min-height: 31.5rem; /* 315px */
  position: relative;
  padding: 9.5rem 6% 9rem 6%;
  background: $mainColor;
  overflow: hidden;
  @include breakpoint(max, 991px) {
    padding: 6rem 3%;
    min-height: 26.5rem; /* 265px */
  }
  @include breakpoint(max, 768px) {
    padding: 7.5rem 1.5rem 5.3rem 1.5rem;
  }
  @include breakpoint(max, 400px) {
    padding-top: 5.5rem;
  }

  &:after {
    position: absolute;
    display: block;
    content: "";
    width: 30%;
    height: 130%;
    top: -15%;
    left: 0;
    background: $mainColor;
    filter: blur(30px);
    z-index: 1;
    @include breakpoint(max, 768px) {
      width: 130%;
      height: 50%;
      top: unset;
      bottom: -10%;
      left: -15%;
    }
  }
  &:before {
    position: absolute;
    display: block;
    content: "";
    width: 10%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    @include ltrGradient(rgba($mainColor, 0), $mainColor);
  }
  .cover-hero {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("https://cdn.igame.ir/theme/dist/imgs/archive.jpg") 30rem 0 /
      cover no-repeat;
    opacity: 0.3;
    @include breakpoint(max, 1300px) {
      background-position: 60% 0;
    }
  }

  &__content {
    display: flex;
    z-index: 2;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    @include breakpoint(max, 700px) {
      padding-bottom: 9rem;
    }
    @include breakpoint(max, 400px) {
      padding-bottom: 7rem;
    }
    .title {
      @include Bold;
      font-size: 3rem;
      color: #fff;
      text-align: right;
      @include breakpoint(max, 1200px) {
        @include fontSize(25, $rootFontSize);
      }
      @include breakpoint(max, 991px) {
        @include fontSize(22, $rootFontSize);
      }
      @include breakpoint(max, 768px) {
        @include fontSize(20, $rootFontSize);
      }
      @include breakpoint(max, 700px) {
        @include Heavy;
        @include fontSize(18, $rootFontSize);
      }
    }
    .categorize-holder {
      display: flex;
      align-items: center;
      @include breakpoint(max, 700px) {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        justify-content: center;
      }
      .cat-item {
        width: 25rem;
        position: relative;
        border: 0.2rem solid rgba(#fff, 0.3);
        border-radius: 3rem;
        padding: 2.3rem 7rem 1.7rem 4rem;
        font-size: 1.6rem;
        color: #fff;
        margin-right: 1rem;
        @include Bold;
        @include breakpoint(max, 1200px) {
          width: 20rem;
          font-size: 1.4rem;
          padding: 1.8rem 5rem 1.5rem 4rem;
        }
        @include breakpoint(max, 991px) {
          width: 18rem;
          font-size: 1.2rem;
          padding: 1.5rem 4rem 1.2rem 2rem;
        }
        @include breakpoint(max, 700px) {
          width: 19.3rem;
          padding: 1.5rem 5rem 1.2rem 2.5rem;
        }
        @include breakpoint(max, 400px) {
          font-size: 1.1rem;
          width: 14rem;
          padding: 1.2rem 3.5rem 1rem 2rem;
        }
        svg {
          position: absolute;
        }
        .cat-icon {
          width: 2.9rem;
          height: 2.8rem;
          fill: #fff;
          right: 2.8rem;
          @include calc(top, "(100% - 2.8rem)/2");
          @include breakpoint(max, 1200px) {
            right: 1.5rem;
            width: 2.3rem;
            height: 2.2rem;
            @include calc(top, "(100% - 2.2rem)/2");
          }
          @include breakpoint(max, 991px) {
            right: 1.5rem;
            width: 1.8rem;
            height: 1.7rem;
            @include calc(top, "(100% - 1.7rem)/2");
          }
          @include breakpoint(max, 700px) {
            right: 2rem;
            width: 2.2rem;
            height: 2.1rem;
            @include calc(top, "(100% - 2.1rem)/2");
          }
          @include breakpoint(max, 400px) {
            right: 1rem;
            width: 1.5rem;
            height: 1.4rem;
            @include calc(top, "(100% - 1.4rem)/2");
          }
        }
        .arrow {
          width: 0.6rem;
          height: 0.8rem;
          stroke: #fff;
          left: 2.5rem;
          @include calc(top, "(100% - 0.8rem)/2");
          @include breakpoint(max, 991px) {
            left: 1.5rem;
          }
          @include breakpoint(max, 700px) {
            left: 2rem;
          }
          @include breakpoint(max, 400px) {
            left: 1.5rem;
          }
        }
        &:first-child {
          margin-right: 0;
        }
      }
    }
    p {
      @include fontSize(16, $rootFontSize);
      color: #c8cdeb;
      margin-top: 4rem;
      position: relative;
      width: 100%;
      @include breakpoint(max, 1200px) {
        @include fontSize(15, $rootFontSize);
      }
      @include breakpoint(max, 991px) {
        @include fontSize(14, $rootFontSize);
      }
      @include breakpoint(max, 768px) {
        margin-top: 2rem;
        @include fontSize(13, $rootFontSize);
      }
      @include breakpoint(max, 700px) {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        text-align: right;
        white-space: initial;
        display: -webkit-box;
      }
      a {
        color: $red;
      }
      .more {
        display: none;
        position: absolute;
        color: #fff;
        text-decoration: underline !important;
        left: 0;
        bottom: 0;
        @include breakpoint(max, 700px) {
          display: block;
        }
      }
    }
  }
}
.process-header {
  padding-top: 8rem;
  @include breakpoint(max, 600px) {
    padding-top: 4rem;
  }
  @include breakpoint(max, 400px) {
    padding-top: 2rem;
  }
  img {
    width: 2.4rem; /* 24px */
    height: 3.1rem; /* 31px */
  }
}
.sticky {
  .searchbar {
    background: $mainColor !important;
  }
}
.giftcard-hero {
  background-color: #212442;
  position: relative;
  padding: 0 6%;

  .giftcard-hero__master {
    padding: 10rem 35rem 4.5rem 13rem;
    position: relative;
    min-height: 30rem;
    display: flex;
    align-items: flex-end;
    @include breakpoint(max, 1199px) {
      padding-right: 30rem;
      padding-top: 5rem;
      min-height: 28rem;
    }
    @include breakpoint(max, 991px) {
      padding: 5rem 24rem 4.5rem 0;
      min-height: 24rem; /* 180px */
    }
    @include breakpoint(max, 768px) {
      padding-right: 17rem;
      padding-bottom: 2rem;
    }
    @include breakpoint(max, 600px) {
      padding-right: 11rem;
    }
    .giftcard-img {
      width: 30rem; /* 300px */
      height: 43rem; /* 430px */
      border-radius: 1rem; /* 10px */
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 10rem; /* 100px */
      z-index: 1;
      background: #fff;
      box-shadow: 0 0.9rem 4.6rem 0 rgba($mainColor, 0.3),
        0 0.2rem 0.5rem 0 /* 9px 46px 2px 5px */ rgba($mainColor, 0.2);
      @include breakpoint(max, 1199px) {
        width: 27rem; /* 270px */
        height: 40rem; /* 400px */
      }
      @include breakpoint(max, 991px) {
        width: 22rem; /* 220px */
        height: 35rem; /* 350px */
      }
      @include breakpoint(max, 768px) {
        width: 20rem; /* 200px */
        height: 30rem; /* 300px */
        right: -5rem; /* -50px */
        top: 5rem; /* 50px */
      }
      @include breakpoint(max, 600px) {
        width: 15rem; /* 150px */
        height: 23rem; /* 230px */
        top: 2rem; /* 20px */
      }
      img {
        background: #fff;
        width: 100%;
        height: 100%;
        display: block;
      }
      .hole {
        @include trans(0.3s);
        position: absolute;
        width: 6rem; /* 60px */
        height: 1.5rem; /* 15px */
        border-radius: 3rem; /* 30px */
        background: $mainColor;
        top: 2.2rem; /* 22px */
        z-index: 1;
        @include calc(left, "(100% - 6rem)/2");
        @include breakpoint(max, 991px) {
          width: 4.5rem; /* 45px */
          height: 1rem; /* 10px */
          @include calc(left, "(100% - 4.5rem)/2");
        }
        @include breakpoint(max, 600px) {
          top: 1.5rem; /* 15px */
        }
        &:after {
          @include trans(0.3s);
          display: block;
          position: absolute;
          content: "";
          width: 1.6rem; /* 16px */
          height: 1.6rem; /* 16px */
          border-radius: 50%;
          background: $mainColor;
          top: -0.8rem; /* -8px */
          @include calc(left, "(100% - 1.6rem)/2");
        }
      }
    }

    .hero-content {
      display: flex;
      position: relative;
      flex-direction: column;
      .special-tag {
        position: relative;
        border-radius: 1.8rem;
        box-shadow: 0 0.8rem 2.7rem 0 rgba($red, 0.23);
        margin-left: 1rem;
        padding-right: 3rem;
        @include breakpoint(max, 768px) {
          padding-right: 2rem;
        }
        svg {
          position: absolute;
          width: 1.2rem;
          height: 1.6rem;
          right: 1.2rem;
          fill: #fff;
          display: block;
          @include calc(top, "(100% - 1.6rem)/2");
          @include breakpoint(max, 768px) {
            width: 0.8rem;
            height: 1.2rem;
            right: 1rem;
            @include calc(top, "(100% - 1.2rem)/2");
          }
        }
      }
      .product-title {
        margin-top: 4rem; /* 40px */
        color: #fff;
        display: flex;
        align-items: center;
        @include Heavy;
        @include breakpoint(max, 991px) {
          margin-top: 5rem; /* 50px */
        }
        @include breakpoint(max, 768px) {
          flex-direction: column;
          align-items: flex-start;
        }
        h1 {
          @include fontSize(30, $rootFontSize);
          margin-bottom: 0;
          @include breakpoint(max, 991px) {
            @include fontSize(25, $rootFontSize);
          }
          @include breakpoint(max, 768px) {
            @include fontSize(20, $rootFontSize);
            margin-bottom: 1rem; /* 10px */
          }
        }
        .region {
          @include fontSize(15, $rootFontSize);
          padding: 0.8rem 1rem 0.5rem 1rem;
          border-radius: 2rem; /* 20px */
          border: 0.2rem /* 2px */ solid rgba(#fff, 0.3);
          margin-right: 1rem; /* 10px */
          @include breakpoint(max, 991px) {
            @include fontSize(12, $rootFontSize);
          }
          @include breakpoint(max, 768px) {
            @include fontSize(10, $rootFontSize);
            margin: 0;
          }
        }
      }
    }
    .social-wrapper {
      position: absolute;
      left: 0;
      bottom: 6rem; /* 60px */
      flex-direction: row;
      @include breakpoint(max, 991px) {
        bottom: unset;
        top: 4rem; /* 40px */
      }
      .share {
        margin: 0 0 0 1rem; /* 10px */
      }
    }
  }
  .back-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    img {
      position: absolute;
      width: 80rem;
      height: 100%;
      object-fit: cover;
      filter: grayscale(100%);
      top: 0;
      left: 5rem;
      opacity: 0.05;
      @include breakpoint(max, 768px) {
        left: 1rem;
      }
    }
  }
  // .back-cover {
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   left: 0;
  //   overflow: hidden;
  //   z-index: 0;
  //   img {
  //     width: 100%;
  //     height: 100%;
  //     object-fit: cover;
  //   }
  // }
}

.profile-holder {
  border: 0.1rem /* 1px */ solid rgba(#cacdea, 0.7);
  border-radius: 3rem; /* 30px */
  display: flex;
  align-items: center;
  @include breakpoint(max, 768px) {
    display: none;
  }
  .user-profile {
    padding: 1.3rem 4rem 1.3rem 1.8rem;
    position: relative;
    @include fontSize(16, $rootFontSize);
    color: rgba(#222747, 0.85);
    border-left: 0.1rem /* 1px */ solid rgba(#cacdea, 0.7);
    @include breakpoint(max, 1199px) {
      @include fontSize(14, $rootFontSize);
      padding: 1.2rem 3rem 1.2rem 1.2rem;
    }
    @include breakpoint(max, 991px) {
      @include fontSize(12, $rootFontSize);
      padding: 1rem 2rem 1rem 1rem;
    }
    .arrow {
      position: absolute;
      width: 0.6rem; /* 6px */
      height: 1rem; /* 10px */
      right: 2rem; /* 20px */
      stroke: #707396;
      @include rotate(-90deg);
      @include calc(top, "(100% - 1rem)/2");
      @include breakpoint(max, 1199px) {
        right: 1.3rem; /* 13px */
      }
      @include breakpoint(max, 991px) {
        right: 0.8rem; /* 8px */
      }
    }
  }
  .orders {
    padding: 1.2rem 1.5rem 1.2rem 2.3rem;
    display: flex;
    @include fontSize(12, $rootFontSize);
    color: rgba(#3f4373, 0.8);
    align-items: center;
    @include Bold;
    @include breakpoint(max, 1199px) {
      @include fontSize(11, $rootFontSize);
      padding: 1.2rem 1rem 1.2rem 1.5rem;
    }
    @include breakpoint(max, 991px) {
      @include fontSize(10, $rootFontSize);
      padding: 1rem;
    }
    .order-count {
      border-radius: 50%;
      background: $red;
      color: #fff;
      padding: 0.2rem 0.6rem;
      margin-left: 0.8rem; /* 8px */
      @include fontSize(14, $rootFontSize);
      @include Number;
      @include breakpoint(max, 1199px) {
        @include fontSize(12, $rootFontSize);
      }
      @include breakpoint(max, 991px) {
        @include fontSize(10, $rootFontSize);
        margin-left: 0.5rem; /* 5px */
        padding: 0.2rem 0.4rem;
      }
    }
  }
}

.gameinfo-hero {
  background: #222646;
  position: relative;
  padding: 3.5rem 0;
  @include breakpoint(max, 600px) {
    padding: 1.5rem 0;
  }
  .cover-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 20%;
    }
    &:after {
      position: absolute;
      display: block;
      content: "";
      width: 30%;
      height: 130%;
      top: -15%;
      left: 0;
      background: $mainColor;
      filter: blur(30px);
      z-index: 1;
      @include breakpoint(max, 768px) {
        width: 130%;
        height: 50%;
        top: unset;
        bottom: -10%;
        left: -15%;
      }
    }
    &:before {
      position: absolute;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
      top: 0;
      right: 0;
      z-index: 1;
      @include ltrGradient(rgba($mainColor, 0), $mainColor);
    }
  }
  .gamehero-content {
    min-height: 16.5rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-right: 35.5rem;
    z-index: 1;
    @include breakpoint(max, 1400px) {
      padding-right: 31.5rem;
    }
    @include breakpoint(max, 991px) {
      padding-right: 21.5rem;
      min-height: 8.5rem;
    }
    @include breakpoint(max, 600px) {
      padding-right: 0;
      align-items: center;
    }
    .title {
      font-size: 3rem;
      color: #fff;
      margin-bottom: 0;
      @include breakpoint(max, 1200px) {
        font-size: 2.5rem;
      }
      @include breakpoint(max, 991px) {
        font-size: 2rem;
      }
    }
    .image-holder {
      border-radius: 1.1rem;
      overflow: hidden;
      width: 32.5rem;
      height: 43.5rem;
      position: absolute;
      right: 0;
      bottom: -33rem;
      @include breakpoint(max, 1400px) {
        width: 28rem;
        height: 39rem;
        bottom: -28rem;
      }
      @include breakpoint(max, 991px) {
        width: 20rem;
        height: 27rem;
        bottom: -21rem;
      }
      @include breakpoint(max, 768px) {
        width: 17rem;
        height: 24rem;
      }
      @include breakpoint(max, 600px) {
        width: 14rem;
        height: 19rem;
        position: relative;
        bottom: unset;
        right: unset;
        margin-left: 2rem;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.gamelist-hero {
  background: #222646;
  position: relative;
  padding: 6rem 0;
  @include breakpoint(max, 768px) {
    padding: 3rem 0;
  }
  @include breakpoint(max, 600px) {
    padding-bottom: 2rem;
  }
  .cover-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 37%;
      opacity: 0.6;
      mix-blend-mode: screen;
    }
    &:after {
      position: absolute;
      display: block;
      content: "";
      width: 30%;
      height: 130%;
      top: -15%;
      left: 0;
      background: $mainColor;
      filter: blur(30px);
      z-index: 1;
      @include breakpoint(max, 768px) {
        width: 130%;
        height: 50%;
        top: unset;
        bottom: -10%;
        left: -15%;
      }
    }
    &:before {
      position: absolute;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
      top: 0;
      right: 0;
      z-index: 1;
      @include ltrGradient(rgba($mainColor, 0), $mainColor);
    }
  }
  .gamelist-hero-content {
    min-height: 15rem;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include breakpoint(max, 768px) {
      min-height: 10rem;
    }
    @include breakpoint(max, 600px) {
      min-height: 7rem;
    }
    .title {
      color: #fff;
      font-size: 3rem;
      margin-bottom: 3.5rem;
      @include Heavy;
      @include breakpoint(max, 991px) {
        font-size: 2.5rem;
      }
      @include breakpoint(max, 768px) {
        font-size: 2rem;
      }
      @include breakpoint(max, 600px) {
        margin-bottom: 2rem;
      }
    }
    p {
      font-size: 1.6rem;
      color: #c8cdeb;
      @include breakpoint(max, 991px) {
        font-size: 1.4rem;
      }
      @include breakpoint(max, 768px) {
        font-size: 1.3rem;
      }
    }
  }
}
