.mainHeader {
  &-help {
    position: relative;
    overflow: hidden;
    &::before {
      content: url("/dist/imgs/circle1.svg");
      position: absolute;
      width: 4rem; /* 40px */
      height: 4rem; /* 40px */
      left: 30%;
      top: -1rem; /* -10px */
      @include breakpoint(max, 767px) {
        display: none;
      }
    }
    &::after {
      content: url("/dist/imgs/circle2.svg");
      position: absolute;
      width: 7rem; /* 70px */
      height: 7rem; /* 70px */
      left: 60%;
      bottom: -2rem; /* -20px */
      @include breakpoint(max, 767px) {
        display: none;
      }
    }
  }
}

.tabs {
  background: #fff;
  padding: 1.5rem 0 0.5rem;
  .tabsContainer {
    display: flex;
    flex-wrap: wrap;
    .tab {
      border-radius: 2.5rem; /* 25px */
      border: 0.2rem /* 2px */ solid rgba($textColor, 0.1);
      padding: 0.6rem 2rem;
      color: rgba($textColor, 0.8);
      @include fontSize(14, $rootFontSize);
      margin-left: 1rem; /* 10px */
      margin-bottom: 1rem; /* 10px */
      cursor: pointer;
      @include Bold;
      @include transition(all, 0.4s);
      &:hover {
        background: rgba($textColor, 0.8);
        color: #daddfb;
        svg {
          stroke: #daddfb;
        }
      }
      &.active {
        background: $mainColor;
        color: #daddfb;
        svg {
          stroke: #daddfb;
        }
      }
      svg {
        width: 1rem; /* 10px */
        height: 1rem; /* 10px */
        stroke: rgba($textColor, 0.6);
        margin-left: 0.7rem; /* 7px */
      }
    }
  }
}

.help {
  background: #f7f8ff;
  padding: 5rem 0;
  @include breakpoint(max, 991px) {
    padding: 2rem 0;
  }
  &.loading {
    &::before {
      width: 4rem; /* 40px */
      height: 4rem; /* 40px */
      border-color: $mainColor;
      border-top-color: transparent;
      top: 20rem; /* 200px */
    }
    .container {
      opacity: 0.4;
      pointer-events: none;
    }
  }
  .questions {
    .item {
      @extend .mainBox;
      border-radius: 4.5rem /* 45px */ !important;
      margin-bottom: 1.5rem; /* 15px */
      padding: 1.3rem 1.3rem 1.3rem 2.5rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      cursor: pointer;

      &.active,
      &:hover {
        .num {
          background: $red;
          color: #fff;
          @include boxShadow(5px, 5px, 35px, -2px, rgba($red, 0.4));
        }
        .title {
          opacity: 1;
        }
      }

      .num {
        background: #f7f8ff;
        color: rgba($textColor, 0.5);
        width: 5rem; /* 50px */
        height: 5rem; /* 50px */
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        @include fontSize(24, $rootFontSize);
        font-weight: 700;
        @include Number;
        @include boxShadow(0, 0, 0, 0, transparent);
        @include transition(all, 0.4s);
        @include breakpoint(max, 425px) {
          width: 3.5rem; /* 35px */
          height: 3.5rem; /* 35px */
          @include fontSize(17, $rootFontSize);
          padding: 0.5rem;
        }
        &:after {
          display: block;
        }
      }
      .title {
        @include fontSize(20, $rootFontSize);
        margin-right: 2rem; /* 20px */
        margin-left: 2rem; /* 20px */
        width: calc(100% - 10.2rem);
        line-height: 1.3;
        opacity: 0.9;
        margin-bottom: 0;
        @include Bold;
        @include breakpoint(max, 767px) {
          @include fontSize(18, $rootFontSize);
        }
        @include breakpoint(max, 425px) {
          @include fontSize(15, $rootFontSize);
          margin-right: 1rem; /* 10px */
          margin-left: 1rem; /* 10px */
          width: calc(100% - 6.7rem);
        }
      }
      .icon {
        width: 1.2rem; /* 12px */
        height: 1.2rem; /* 12px */
        stroke: rgba($textColor, 0.6);
      }
    }
  }

  .answer {
    @include fontSize(16, $rootFontSize);
    color: rgba($textColor, 0.8);
    padding: 3rem;
    @include breakpoint(max, 991px) {
      padding: 3rem 0;
    }
    @include breakpoint(max, 425px) {
      @include fontSize(14, $rootFontSize);
    }
    p {
      margin-bottom: 1.5rem; /* 15px */
    }
    ul {
      margin-bottom: 2rem; /* 20px */
      @include breakpoint(max, 768px) {
        margin-bottom: 1.5rem; /* 15px */
      }
      li {
        margin-bottom: 0.8rem; /* 8px */
      }
    }
    .title {
      @include fontSize(26, $rootFontSize);
      margin: 1.5rem 0 3rem; /* 15px 30px */
      color: $textColor;
      @include Heavy;
      @include breakpoint(max, 767px) {
        @include fontSize(23, $rootFontSize);
      }
      @include breakpoint(max, 425px) {
        @include fontSize(19, $rootFontSize);
      }
    }
    .item {
      display: none;
      -webkit-animation: fadeIn 1s;
      -moz-animation: fadeIn 1s;
      animation: fadeIn 1s;
      &.active {
        display: block;
      }
      .breadCrumb {
        @include fontSize(16, $rootFontSize);
        color: rgba($textColor, 0.6);
        @include Medium;
        @include breakpoint(max, 425px) {
          @include fontSize(14, $rootFontSize);
        }
        .icon {
          width: 1rem; /* 10px */
          height: 1rem; /* 10px */
          margin: 0 0.2rem; /* 2px */
          stroke: rgba($textColor, 0.4);
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}

.helpFooter {
  background: #fff;
  padding: 2rem 0;
  overflow: hidden;
  .qSymbol {
    position: absolute;
    @include fontSize(166, $rootFontSize);
    font-weight: 700;
    opacity: 0.1;
    right: 1.5rem; /* 15px */
    top: -2rem; /* -20px */
    @include breakpoint(max, 767px) {
      display: none;
    }
  }
  .title {
    @include fontSize(26, $rootFontSize);
    margin-right: 9rem; /* 90px */
    @include Bold;
    @include breakpoint(max, 767px) {
      @include fontSize(22, $rootFontSize);
      margin-right: 0;
    }
    @include breakpoint(max, 425px) {
      @include fontSize(18, $rootFontSize);
    }
  }
  .register {
    color: #fff;
    margin-right: 1.5rem; /* 15px */
  }
}
