.subscribe-section {
  padding: 9rem 0;
  background: #ffd21d;
  text-align: center;
  position: relative;
  @include breakpoint(max, 991px) {
    padding: 7rem 0;
  }
  @include breakpoint(max, 600px) {
    padding: 3rem 1.4rem 2.5rem 1.4rem;
    text-align: right;
  }
  &:before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../../dist/imgs/subscribe.jpg") 0 0 / cover no-repeat;
    @include breakpoint(max, 600px) {
      display: none;
    }
  }
  .subscribe-wrap {
    position: relative;
    z-index: 1;
  }
  .title {
    @include Heavy;
    font-size: 2.6rem;
    color: #25294a;
    padding-right: 4.3rem;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    @include breakpoint(max, 991px) {
      font-size: 2.2rem;
    }
    @include breakpoint(max, 600px) {
      padding-right: 7.5rem;
    }
    @include breakpoint(max, 400px) {
      font-size: 2.2rem;
      padding-right: 4.5rem;
    }
  }
  .icon {
    width: 3rem;
    height: 2.3rem;
    position: absolute;
    stroke: #25294a;
    right: 0;
    @include calc(top, "(100% - 2.3rem)/2");
    @include breakpoint(max, 991px) {
      width: 2.5rem;
      height: 1.8rem;
    }
    @include breakpoint(max, 600px) {
      top: 0;
      right: 0;
      width: 6rem;
      height: 4.6rem;
    }
    @include breakpoint(max, 400px) {
      width: 4rem;
      height: 3rem;
      top: 0.2rem;
    }
  }
  .tip {
    color: #25294a;
    display: block;
    margin-top: 2.4rem;
    font-size: 1.6rem;
    @include Medium;
    @include breakpoint(max, 991px) {
      font-size: 1.4rem;
    }
    @include breakpoint(max, 600px) {
      padding-right: 7.5rem;
      margin-top: 0.5rem;
    }
    @include breakpoint(max, 400px) {
      font-size: 1.2rem;
      padding-right: 4.5rem;
    }
  }
  .input-holder {
    position: relative;
    margin: 4.5rem auto auto;
    border-radius: 3.5rem;
    overflow: hidden;
    background: #fff;
    width: 100%;
    max-width: 53rem;
    @include breakpoint(max, 991px) {
      max-width: 48rem;
      margin-top: 3rem;
    }
    @include breakpoint(max, 600px) {
      max-width: 100%;
      margin-top: 2.5rem;
    }
    input {
      padding: 1.8rem 1.8rem 1.8rem 16.5rem;
      background-color: #fff;
      width: 100%;
      font-size: 1.6rem;
      text-align: center;
      @include Medium;
      @include breakpoint(max, 991px) {
        padding: 1.5rem 1.3rem 1.5rem 14.5rem;
        font-size: 1.4rem;
      }
      @include breakpoint(max, 400px) {
        padding: 1.2rem 1.3rem 1.2rem 10.5rem;
        font-size: 1.3rem;
      }
    }
    .btn {
      position: absolute;
      left: 0.8rem;
      top: 0.8rem;
      font-size: 1.8rem;
      padding: 1.4rem 2.5rem 1rem 6rem;
      @include calc(height, "(100% - 1.6rem)");
      @include breakpoint(max, 991px) {
        font-size: 1.5rem;
        padding: 1.3rem 2.5rem 1rem 4.3rem;
        left: 0.5rem;
        top: 0.5rem;
        @include calc(height, "(100% - 1rem)");
      }
      @include breakpoint(max, 400px) {
        font-size: 1.2rem;
        padding-left: 3rem;
        padding-right: 1.5rem;
      }
      svg {
        @include breakpoint(max, 991px) {
          width: 0.6rem;
          height: 1rem;
          left: 2rem;
        }
        @include breakpoint(max, 400px) {
          left: 1.5rem;
        }
      }
    }
  }
}

#bar {
  width: 0%;
  max-width: 100%;
  height: 0.4rem; /* 4px */
  background: #7fc242;
}
#progressBar {
  width: 100%;
  background: #ededed;
}

.prebuy-tag {
  @include Heavy;
  @include fontSize(15, $rootFontSize);
  background: #ffd21d;
  color: #242848;
  padding: 0.8rem 2rem;
  border-radius: 1.8rem; /* 18px */
  @include breakpoint(max, 991px) {
    @include fontSize(13, $rootFontSize);
    padding: 0.7rem 1rem;
  }
  @include breakpoint(max, 768px) {
    @include fontSize(11, $rootFontSize);
    padding: 0.4rem 1rem;
  }
}

.card-product {
  @include trans(0.3s);
  border-radius: 1.1rem;
  display: block;
  position: relative;
  overflow: hidden;
  width: 22.6rem;
  height: 47.9rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #fff;
  box-shadow: 0 0 0.1rem 0 rgba(#25294a, 0.06),
    0 0.2rem 0.4rem 0 rgba(#25294a, 0.04);
  @include breakpoint(max, 1500px) {
    width: 20rem;
    height: 42rem;
  }
  @include breakpoint(max, 1130px) {
    width: 19rem;
    height: 37rem;
  }
  @include breakpoint(max, 991px) {
    height: 35rem;
  }
  @include breakpoint(max, 768px) {
    width: 18rem;
    height: 34rem;
  }
  @include breakpoint(max, 600px) {
    width: 100%;
    height: 12.5rem;
    padding: 2rem 10rem 1.5rem 2rem;

    box-shadow: 0 0.2rem 0.5rem 0 rgba(#25294a, 0.05),
      0 1rem 2rem 0 rgba(#25294a, 0.1);
  }
  @include breakpoint(max, 400px) {
    padding: 1rem 10rem 1rem 1rem;
  }
  transition: opacity 0.2s ease-in-out;
  .loading & {
    opacity: 0.6;
    pointer-events: none;
  }
  .image-holder {
    background: #fff;
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-radius: 1.1rem;
    overflow: hidden;
    height: 33.2rem;
    @include breakpoint(max, 1500px) {
      height: 28rem;
    }
    @include breakpoint(max, 1130px) {
      height: 24rem;
    }
    @include breakpoint(max, 600px) {
      position: absolute;
      height: 100%;
      width: 8.5rem;
      right: 0;
      top: 0;
    }
    img {
      width: 100%;
      min-height: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 1.1rem;
    }
    .special-tag,
    .preorder-tag {
      top: 1rem;
      left: 0.7rem;
    }
  }
  .product-title {
    @include Bold;
    font-size: 1.6rem;
    display: block;
    margin-top: 3rem;
    margin-bottom: 1rem;
    line-height: 1.3;
    direction: rtl;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: right;
    white-space: initial;
    display: -webkit-box;
    padding: 0 1.5rem;
    @include breakpoint(max, 1250px) {
      @include fontSize(15, $rootFontSize);
      margin-top: 2rem;
    }
    @include breakpoint(max, 1130px) {
      @include fontSize(14, $rootFontSize);
      margin-top: 1.5rem;
    }
    @include breakpoint(max, 991px) {
      @include fontSize(13, $rootFontSize);
      margin-top: 1rem;
    }
    @include breakpoint(max, 768px) {
      padding: 0 1rem;
    }
    @include breakpoint(max, 600px) {
      font-size: 1.6rem;
      margin: 0;
      padding: 0;
      @include Bold;
    }
    @include breakpoint(max, 400px) {
      font-size: 1.3rem;
    }
  }
  .product-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1.5rem 2rem 1.5rem;
    margin-top: auto;
    @include breakpoint(max, 1130px) {
      padding: 0 1.2rem 1.5rem 1.2rem;
    }
    @include breakpoint(max, 768px) {
      padding: 0 1rem 1.5rem 1rem;
    }
    @include breakpoint(max, 600px) {
      padding: 0;
    }
  }
  .card-product-price {
    @include Medium;
    font-size: 1.3rem;
    color: rgba(#3f4373, 0.8);
    @include breakpoint(max, 1130px) {
      font-size: 1.1rem;
    }
    @include breakpoint(max, 600px) {
      font-size: 1.3rem;
      @include Bold;
    }
    @include breakpoint(max, 400px) {
      font-size: 1.1rem;
    }
    .sale-price {
      @include Number;
      font-size: 1.8rem;
      position: relative;
      padding-left: 3.3rem;
      display: block;
      color: #ff3333;
      margin-top: 0.5rem;
      @include breakpoint(max, 1130px) {
        font-size: 1.6rem;
      }
      @include breakpoint(max, 600px) {
        font-size: 2rem;
      }
      @include breakpoint(max, 400px) {
        font-size: 1.6rem;
      }
      &:before {
        @include Bold;
        font-size: 1.4rem;
        font-family: "YekanBakh" !important;
        display: block;
        position: absolute;
        content: "تومان";
        left: 0;
        bottom: 0;
        @include breakpoint(max, 991px) {
          @include fontSize(11, $rootFontSize);
          bottom: 0;
        }
        @include breakpoint(max, 600px) {
          font-size: 1.4rem;
        }
        @include breakpoint(max, 400px) {
          font-size: 1.2rem;
        }
      }
    }
    &-from {
      .sale-price {
        @include breakpoint(max, 768px) {
          margin-right: 1rem; /* 10px */
        }
      }
    }
  }
  .add-to-cart {
    @include trans(0.3s);
    @include Bold;
    font-size: 1.6rem;
    position: relative;
    padding: 1.3rem 3rem 1.1rem 1.5rem;
    box-shadow: 0 0.8rem 2.7rem 0 rgba(#f3303a, 0.23);
    @include breakpoint(max, 1500px) {
      font-size: 1.4rem;
      padding: 1rem 2.3rem 1rem 1rem;
    }
    @include breakpoint(max, 768px) {
      font-size: 1.2rem;
    }
    @include breakpoint(max, 600px) {
      font-size: 1.6rem;
      padding: 1rem 3.5rem 1rem 1.5rem;
    }
    @include breakpoint(max, 600px) {
      font-size: 1.4rem;
    }
    svg {
      position: absolute;
      width: 1rem;
      height: 1rem;
      right: 1.2rem;
      @include calc(top, "(100% - 1rem)/2");
      @include breakpoints(601px, 1500px) {
        width: 0.8rem;
        height: 0.8rem;
        right: 0.8rem;
      }
    }
  }
  .release-date {
    padding: 1rem 1.5rem 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    color: rgba(#3f4373, 0.8);
    position: relative;
    @include breakpoint(max, 1260px) {
      font-size: 1.2rem;
    }
    @include breakpoint(max, 600px) {
      padding: 0;
    }
    @include breakpoint(max, 450px) {
      flex-direction: column;
      align-items: flex-start;
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      height: 0.1rem;
      @include calc(width, "(100% - 3rem)");
      top: 0;
      right: 1.5rem;
      background: #d9d9e3;
      @include breakpoint(max, 600px) {
        display: none;
      }
    }
    .date {
      @include Heavy;
      font-size: 1.6rem;
      color: #3f4373;
      @include breakpoint(max, 1260px) {
        font-size: 1.4rem;
      }
      @include breakpoint(max, 600px) {
        margin-right: 1rem;
      }
      @include breakpoint(max, 450px) {
        margin-right: 0;
        margin-top: 1rem;
      }
      b {
        @include Number;
      }
    }
  }
  .more-info {
    margin: 1.5rem auto auto auto;
    border-radius: 3rem;
    border: 0.2rem solid #dfe1f2;
    font-size: 1.2rem;
    color: rgba(#3f4373, 0.8);
    padding: 0.5rem 1.5rem;
    @include breakpoint(max, 600px) {
      margin: unset;
    }
  }
  .info-holder {
    margin-top: auto;
    padding-bottom: 1rem;
    text-align: center;
    @include breakpoint(max, 600px) {
      display: flex;
      padding-bottom: 0;
      justify-content: space-between;
      align-items: center;
    }
    @include breakpoint(max, 450px) {
      align-items: flex-end;
    }
  }
  &.by-date {
    .product-title {
      margin: 1rem 0;
    }
  }
}

.flex {
  overflow-x: scroll;
  display: flex;
  overflow-y: hidden;
  //white-space: nowrap;
  padding-bottom: 1.5rem;
  .card-product,
  .product-card {
    margin: 0 0.5rem; /* 5px */
  }
}

.cascade-list {
  display: block;
  .card-product {
    margin-bottom: 1rem;
  }
}
.special-tag {
  @include Bold;
  font-size: 1.4rem;
  color: #fff;
  background: #ff3333;
  padding: 0.6rem 1.5rem;
  position: absolute;
  border-radius: 0rem 1rem 1rem 1rem;
  @include breakpoint(max, 768px) {
    font-size: 1.2rem;
  }
  @include breakpoint(max, 600px) {
    font-size: 1rem;
  }
  svg {
    display: none;
  }
}
.preorder-tag {
  background: #ffd21d;
  position: absolute;
  color: #242848;
  font-size: 1.4rem;
  border-radius: 0 1rem 1rem 1rem;
  padding: 0.6rem 1rem;
  @include Bold;
  @include breakpoint(max, 768px) {
    font-size: 1.2rem;
  }
  @include breakpoint(max, 600px) {
    font-size: 1rem;
  }
  svg {
    display: none;
  }
}
.wide-card-holder {
  padding: 9rem 0 5.5rem;
  @include breakpoint(max, 991px) {
    padding: 2.5rem 0;
  }
  .title-warp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .show-all {
      padding: 1.5rem 4rem 1.2rem 3.5rem;
      background: #2d325a;
      border-radius: 2.1rem; /* 21px */
      margin-right: 1rem; /* 10px */
      @include breakpoint(max, 991px) {
        padding: 1.3rem 3rem;
      }
      @include breakpoint(max, 600px) {
        padding: 1rem 2rem;
      }
      svg {
        width: 0.9rem; /* 9px */
        height: 1.6rem; /* 16px */
        stroke: rgba($white, 0.6);
        @include breakpoint(max, 991px) {
          width: 0.7rem; /* 7px */
          height: 1.4rem; /* 14px */
        }
        @include breakpoint(max, 600px) {
          width: 0.5rem; /* 5px */
          height: 1rem; /* 10px */
        }
      }
    }
  }
  .wide-carousel {
    margin-top: 6rem; /* 60px */
    @include breakpoint(max, 991px) {
      margin-top: 4rem; /* 40px */
    }
    @include breakpoint(max, 500px) {
      margin-top: 2rem; /* 20px */
    }
    .owl-stage-outer {
      padding: 1.5rem 0;
    }
  }
  .section-title {
    h2 {
      color: $white;
    }
  }
  &.suggested {
    margin-top: 13rem; /* 130px */
    padding: 0;
    @include breakpoint(max, 768px) {
      margin-top: 8rem; /* 80px */
    }
    @include breakpoint(max, 500px) {
      margin-top: 5rem; /* 50px */
    }
    .title-warp {
      .section-title {
        h2 {
          color: $textColor;
          padding-right: 0;
          @include fontSize(22, $rootFontSize);
          @include breakpoint(max, 768px) {
            @include fontSize(18, $rootFontSize);
          }
          @include breakpoint(max, 500px) {
            @include fontSize(16, $rootFontSize);
          }
          &:before {
            display: none;
          }
        }
      }
      .show-all {
        background: transparent;
        @include fontSize(16, $rootFontSize);
        color: $textColor;
        padding: 0;
        @include breakpoint(max, 768px) {
          @include fontSize(13, $rootFontSize);
        }
        @include breakpoint(max, 400px) {
          display: none;
        }
      }
    }
    .wide-carousel {
      margin-top: 5rem; /* 50px */
      @include breakpoint(max, 768px) {
        margin-top: 2rem; /* 20px */
      }
    }
  }
}
.card-holder {
  padding: 4rem 0;
}
.advertisement {
  width: 49%;
  border-radius: 1.1rem;
  padding: 12rem 3rem 4rem 3rem;
  position: relative;
  overflow: hidden;
  @include breakpoint(max, 1199px) {
    padding-top: 7rem;
  }
  @include breakpoint(max, 767px) {
    width: 100%;
    margin-bottom: 1rem;
    padding: 6rem 2rem 2rem 2rem;
  }
  .advertise-txt {
    @include Bold;
    @include fontSize(24, $rootFontSize);
    color: #fff;
    position: relative;
    z-index: 1;
    @include breakpoint(max, 1199px) {
      @include fontSize(20, $rootFontSize);
    }
    span {
      display: block;
      margin-bottom: 1rem;
      @include fontSize(20, $rootFontSize);
      @include Regular;
      @include breakpoint(max, 1199px) {
        @include fontSize(16, $rootFontSize);
      }
    }
  }
  .btn {
    margin-top: 4rem;
    z-index: 1;
    @include breakpoint(max, 767px) {
      margin-top: 3rem;
    }
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &.red {
    background: #e73c5a;
  }
  &.green {
    background: #2ec776;
  }
  &:after {
    display: block;
    position: absolute;
    content: attr(data-platform);
    padding: 0.5rem 1rem 0.1rem 1rem;
    border: 1px solid rgba(#fff, 0.4);
    color: #fff;
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    top: 2.5rem;
    right: 3rem;
    z-index: 1;
    @include Regular;
    @include breakpoint(max, 767px) {
      top: 2rem;
      right: 2rem;
    }
  }
}
.card-guid {
  @include trans(0.3s);
  border-radius: 1.1rem;
  display: flex;
  background: #f9fafc;
  align-items: center;
  min-height: 29.7rem;
  flex-direction: column;
  padding: 5rem 1rem 1rem;
  @include calc(width, "(100% - 3rem)/4");
  @include breakpoint(max, 1199px) {
    min-height: 25rem;
    padding-top: 3rem;
  }
  @include breakpoint(max, 767px) {
    min-height: unset;
    width: 100%;
    margin-bottom: 1rem;
    padding: 2rem;
  }
  .icon {
    @include trans(0.3s);
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(#a8c0e2, 0.27),
      0 0.2rem 0.5rem 0 rgba(#a8c0e2, 0.19);
    position: relative;
    @include breakpoint(max, 1199px) {
      width: 4.5rem;
      height: 4.5rem;
    }
    svg {
      @include trans(0.3s);
      width: 2.8rem;
      height: 2.8rem;
      position: absolute;
      fill: #8392a5;
      @include calc(top, "(100% - 2.8rem)/2");
      @include calc(left, "(100% - 2.8rem)/2");
      @include breakpoint(max, 1199px) {
        width: 2rem;
        height: 2rem;
        @include calc(top, "(100% - 2rem)/2");
        @include calc(left, "(100% - 2rem)/2");
      }
    }
    &:after {
      @include trans(0.3s);
      position: absolute;
      display: block;
      content: attr(data-num);
      border-radius: 100%;
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.4rem 0.2rem 0.2rem;
      background: #7551e9;
      text-align: center;
      color: #fff;
      bottom: 0.5rem;
      right: -1.5rem;
      @include Number;
      @include fontSize(18, $rootFontSize);
      opacity: 0;
      visibility: hidden;
      @include breakpoint(max, 1199px) {
        width: 1.7rem;
        height: 1.7rem;
        padding-top: 0.1rem;
        right: -1rem;
        @include fontSize(13, $rootFontSize);
      }
    }
  }
  .title {
    @include trans(0.3s);
    color: #8392a5;
    margin-top: 3rem;
    @include Medium;
    @include fontSize(18, $rootFontSize);
    @include breakpoint(max, 1199px) {
      margin-top: 2rem;
      @include fontSize(16, $rootFontSize);
    }
  }
  p {
    @include trans(0.3s);
    width: 80%;
    margin: 1.5rem auto auto;
    color: #8392a5;
    text-align: center;
    line-height: 1.5;
    @include Regular;
    @include fontSize(14, $rootFontSize);
    @include breakpoint(max, 1199px) {
      width: 90%;
      @include fontSize(12, $rootFontSize);
    }
  }
  &:hover {
    box-shadow: 0 0.9rem 4.6rem 0 rgba(#aabcd4, 0.19);
    .icon {
      background: #ece9fa;
      &:after {
        opacity: 1;
        visibility: visible;
      }
    }
    .title {
      color: #1c2d41;
      // @include fontSize(20, $rootFontSize);
    }
    p {
      // @include fontSize(15, $rootFontSize);
    }
  }
}
.categorize-section {
  padding: 15rem 0 14rem 0;
  @include breakpoint(max, 1200px) {
    padding: 10rem 0;
  }
  @include breakpoint(max, 767px) {
    padding: 4rem 0;
  }
  .cat-holder {
    display: flex;
    justify-content: center;
    @include breakpoint(max, 767px) {
      flex-wrap: wrap;
    }
    @include breakpoint(max, 575px) {
      justify-content: space-between;
    }
    .product-card {
      margin-left: 1rem;
      @include breakpoint(max, 991px) {
        margin-left: 0.5rem;
      }
      @include breakpoint(max, 767px) {
        width: 100%;
        margin: 0 auto 1rem auto;
        height: 14rem;
        border-radius: 0.5rem;
        padding-right: 11rem;
      }
      @include breakpoint(max, 400px) {
        padding-right: 8rem;
      }
      // @include breakpoint(max, 550px) {
      //   @include calc(width, "(100% - 2rem)/3");
      // }
      // @include breakpoint(max, 480px) {
      //   width: 100%;
      //   height: 20rem;
      //   margin-bottom: 1rem;
      //   border-radius: 0.5rem;
      // }
      &.large-size {
        @include breakpoint(max, 1200px) {
          width: 22rem;
        }
        @include breakpoint(max, 991px) {
          width: 16.5rem;
        }
        @include breakpoint(max, 767px) {
          width: 100%;
          height: 20rem;
          margin-bottom: 1rem;
        }
      }
      .img-holder {
        @include breakpoint(max, 767px) {
          position: absolute;
          width: 11rem;
          height: 100%;
          right: 0;
          top: 0;
        }
        @include breakpoint(max, 400px) {
          width: 8rem;
        }
        .icon {
          @include breakpoint(max, 767px) {
            display: none;
          }
        }
      }
    }
  }
}
.bestselling-section {
  background: #1c2d41;
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 9.5rem 5% 8rem 0;
  justify-content: space-between;
  @include breakpoint(max, 1199px) {
    padding-top: 8rem;
  }
  @include breakpoint(max, 767px) {
    padding: 6rem 2rem 6rem 0;
  }
  @include breakpoint(max, 600px) {
    flex-direction: column;
    padding: 4rem 2rem;
  }
  &:before {
    display: block;
    position: absolute;
    content: "";
    background: url("../../dist/imgs/cover3.png") 0 0 / cover no-repeat;
    width: 62.4rem;
    height: 49.2rem;
    top: 0;
    right: 0;
    opacity: 0.5;
  }
  .description {
    width: 32.5rem;
    padding-bottom: 5.5rem;
    @include breakpoint(max, 1199px) {
      width: 30rem;
    }
    @include breakpoint(max, 767px) {
      width: 23rem;
    }
    @include breakpoint(max, 600px) {
      width: 100%;
      padding-left: 4rem;
      margin-bottom: 2rem;
      padding-bottom: 0;
    }
    .title {
      color: #fff;
      @include Regular;
      @include fontSize(24, $rootFontSize);
      @include breakpoint(max, 767px) {
        @include fontSize(20, $rootFontSize);
      }
      .icon {
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 100%;
        background: rgba(#7551e9, 0.15);
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-left: 1rem;
        svg {
          position: absolute;
          width: 1rem;
          height: 1.3rem;
          fill: #7551e9;
          @include calc(top, "(100% - 1.3rem)/2");
          @include calc(left, "(100% - 1rem)/2");
        }
      }
    }
    p {
      color: #8392a5;
      margin-top: 2.5rem;
      @include Regular;
      @include fontSize(14, $rootFontSize);
      @include breakpoint(max, 767px) {
        @include fontSize(12, $rootFontSize);
      }
    }
  }
  .carousel-holder {
    @include calc(width, "(100% - 43rem)");
    @include breakpoint(max, 1199px) {
      @include calc(width, "(100% - 34rem)");
    }
    @include breakpoint(max, 767px) {
      @include calc(width, "(100% - 27rem)");
    }
    @include breakpoint(max, 600px) {
      width: 100%;
    }
    .owl-nav {
      display: block;
      position: absolute;
      right: -23rem;
      bottom: 1rem;
      @include breakpoint(max, 1199px) {
        right: -16rem;
      }
      @include breakpoint(max, 767px) {
        right: -10rem;
      }
      @include breakpoint(max, 600px) {
        right: 40%;
        bottom: -3rem;
      }
      .owl-prev,
      .owl-next {
        @include trans(0.3s);
        padding: 0.9rem 2rem !important;
        border-radius: 1.8rem;
        border: 2px solid rgba(#304054, 0.7);
        @include breakpoint(max, 767px) {
          padding: 0.6rem 1rem !important;
        }
        svg {
          @include trans(0.3s);
          width: 0.7rem;
          height: 1.4rem;
          stroke: rgba(#fff, 0.6);
        }
        &:hover {
          background: rgba(#8392a5, 0.2);
        }
      }
      .owl-prev {
        margin-left: 1rem;
        svg {
          @include rotate(180deg);
        }
      }
    }
  }
}
.advertise-wrap {
  margin-top: 14rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include breakpoint(max, 991px) {
    margin-top: 8rem;
  }
  @include breakpoint(max, 500px) {
    margin-top: 4rem;
  }
  @include breakpoint(max, 767px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.product-wrap {
  margin-top: 15rem;
  @include breakpoint(max, 1199px) {
    margin-top: 10rem;
  }
  @include breakpoint(max, 991px) {
    margin-top: 7rem;
  }
  @include breakpoint(max, 768px) {
    margin-top: 4rem;
  }
  .title {
    @include Medium;
    @include fontSize(24, $rootFontSize);
    @include breakpoint(max, 767px) {
      @include fontSize(20, $rootFontSize);
    }
    @include breakpoint(max, 500px) {
      @include fontSize(18, $rootFontSize);
    }
    .icon {
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 100%;
      background: rgba(#7551e9, 0.15);
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-left: 1rem;
      svg {
        position: absolute;
        width: 1.2rem;
        height: 1.3rem;
        fill: #7551e9;
        stroke: #7551e9;
        @include calc(top, "(100% - 1.3rem)/2");
        @include calc(left, "(100% - 1.2rem)/2");
      }
    }
  }
  .btn-holder {
    width: 100%;
    text-align: center;
    margin-top: 6.7rem;
    @include breakpoint(max, 767px) {
      margin-top: 5rem;
    }
    @include breakpoint(max, 500px) {
      margin-top: 4rem;
    }
    .btn {
      padding: 1.7rem 5rem;
    }
  }
}

.product-wrap .container > .title,
.product-list{
  @include breakpoint(max, 1340px) {
    width: 110rem;
    margin-left: auto;
    margin-right: auto;
  }
  @include breakpoint(max, 1130px) {
    width: 80rem;
  }
  @include breakpoint(max, 830px) {
    width: 61rem;
  }
  @include breakpoint(max, 768px) {
    width: 57rem;
  }
  @include breakpoint(max, 580px) {
    width: 100%;
  }
}

.product-list {
  margin-top: 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  .card-product {
    margin-bottom: 2.2rem;
    @include calc(margin-left, "(100% - 138rem)/12");
    @include calc(margin-right, "(100% - 138rem)/12");
    @include breakpoint(max, 1500px) {
      @include calc(margin-left, "(100% - 120rem)/12");
      @include calc(margin-right, "(100% - 120rem)/12");
    }
    @include breakpoint(max, 1340px) {
      @include calc(margin-left, "(100% - 100rem)/10");
      @include calc(margin-right, "(100% - 100rem)/10");
    }
    @include breakpoint(max, 1130px) {
      @include calc(margin-left, "(100% - 76rem)/8");
      @include calc(margin-right, "(100% - 76rem)/8");
    }
    @include breakpoint(max, 830px) {
      @include calc(margin-left, "(100% - 57rem)/6");
      @include calc(margin-right, "(100% - 57rem)/6");
    }
    @include breakpoint(max, 768px) {
      @include calc(margin-left, "(100% - 54rem)/6");
      @include calc(margin-right, "(100% - 54rem)/6");
    }
    @include breakpoint(max, 600px) {
      margin: 0 0 1rem 0;
    }
  }
  // .product-card {
  //   margin-bottom: 1rem;
  //   @include calc(margin-left, "(100% - 140rem)/10");
  //   @include calc(margin-right, "(100% - 140rem)/10");
  //   @include breakpoint(max, 1450px) {
  //     @include calc(margin-left, "(100% - 125rem)/10");
  //     @include calc(margin-right, "(100% - 125rem)/10");
  //   }
  //   @include breakpoint(max, 1300px) {
  //     @include calc(margin-left, "(100% - 110rem)/10");
  //     @include calc(margin-right, "(100% - 110rem)/10");
  //   }
  //   @include breakpoint(max, 1199px) {
  //     @include calc(margin-left, "(100% - 88rem)/8");
  //     @include calc(margin-right, "(100% - 88rem)/8");
  //   }
  //   @include breakpoint(max, 991px) {
  //     @include calc(margin-left, "(100% - 66rem)/8");
  //     @include calc(margin-right, "(100% - 66rem)/8");
  //   }
  //   @include breakpoint(max, 767px) {
  //     @include calc(margin-left, "(100% - 49.5rem)/8");
  //     @include calc(margin-right, "(100% - 49.5rem)/8");
  //   }
  //   @include breakpoint(max, 600px) {
  //     margin-right: auto;
  //     margin-left: auto;
  //   }
  //   // @include breakpoint(max, 550px) {
  //   //   @include calc(width, "(100% - 2rem)/3");
  //   //   @include calc(margin-left, "(2rem / 6 )");
  //   //   @include calc(margin-right, "(2rem / 6 )");
  //   // }
  //   // @include breakpoint(max, 480px) {
  //   //   width: 45.5%;
  //   //   margin-left: 2%;
  //   //   margin-right: 2%;
  //   // }
  //   // @include breakpoint(max, 400px) {
  //   //   width: 48%;
  //   //   margin-left: 1%;
  //   //   margin-right: 1%;
  //   // }
  //   &.large-size {
  //     width: calc(56rem + ((100% - 140rem) / 5));
  //     @include breakpoint(max, 1450px) {
  //       width: calc(50rem + ((100% - 125rem) / 5));
  //     }
  //     @include breakpoint(max, 1300px) {
  //       width: calc(44rem + ((100% - 110rem) / 5));
  //     }
  //     @include breakpoint(max, 1199px) {
  //       width: calc(44rem + ((100% - 88rem) / 5));
  //     }
  //     @include breakpoint(max, 991px) {
  //       width: calc(33rem + ((100% - 66rem) / 4));
  //     }
  //     @include breakpoint(max, 767px) {
  //       width: calc(33rem + ((100% - 49.5rem) / 3));
  //     }
  //     @include breakpoint(max, 550px) {
  //       @include calc(width, "(100% - 2rem)/3");
  //     }
  //     @include breakpoint(max, 480px) {
  //       width: 45.5%;
  //     }
  //     @include breakpoint(max, 400px) {
  //       width: 48%;
  //     }
  //   }
  // }
}
.guid-holder {
  padding: 9.5rem 0 9rem 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  @include breakpoint(max, 767px) {
    flex-direction: column;
    padding: 7rem 0;
  }
  @include breakpoint(max, 500px) {
    padding: 5rem 0;
  }
}
.introduce-section {
  margin-top: 10rem;
  @include breakpoint(max, 767px) {
    margin-top: 7rem;
  }
  @include breakpoint(max, 500px) {
    margin-top: 4rem;
  }
  .introduce-wrap {
    position: relative;
    background: #1c2d41;
    padding: 8.2rem 40% 7.2rem 3rem;
    border-radius: 1.1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    @include breakpoint(max, 1199px) {
      padding: 7.2rem 25% 7.2rem 3rem;
    }
    @include breakpoint(max, 991px) {
      padding: 4rem 25% 4rem 3rem;
      flex-direction: column;
    }
    @include breakpoint(max, 550px) {
      padding: 3rem 4rem;
    }
    @include breakpoint(max, 400px) {
      padding: 3rem 2rem;
    }
    &:before {
      z-index: 0;
      display: block;
      position: absolute;
      content: "";
      width: 74rem;
      height: 75rem;
      right: -30rem;
      top: -30rem;
      background: url("../../dist/imgs/cover4.png") 0 0 / cover no-repeat;
      @include breakpoint(max, 1199px) {
        width: 54rem;
        height: 55rem;
        right: -33rem;
        top: -22rem;
      }
      @include breakpoint(max, 991px) {
        width: 44rem;
        height: 45rem;
        right: -26rem;
        top: -12rem;
      }
      @include breakpoint(max, 767px) {
        width: 34rem;
        height: 35rem;
        right: -20rem;
        top: -7rem;
      }
      @include breakpoint(max, 550px) {
        opacity: 0.5;
        top: 8rem;
      }
      @include breakpoint(max, 400px) {
        display: none;
      }
    }
    .title {
      width: 100%;
      @include Medium;
      @include fontSize(28, $rootFontSize);
      @include breakpoint(max, 991px) {
        @include fontSize(24, $rootFontSize);
      }
      @include breakpoint(max, 767px) {
        @include fontSize(20, $rootFontSize);
      }
    }
    p {
      margin-top: 1.8rem;
      color: #8392a5;
      max-width: 47rem;
      @include Regular;
      @include fontSize(15, $rootFontSize);
      @include breakpoint(max, 767px) {
        @include fontSize(13, $rootFontSize);
      }
    }
    .properties-holder {
      display: flex;
      align-items: flex-start;
      margin-top: 3.2rem;
      justify-content: space-between;
      @include breakpoint(max, 400px) {
        flex-direction: column;
      }
      .property {
        @include Regular;
        @include fontSize(12, $rootFontSize);

        color: #8392a5;
        padding-left: 20px;
        @include breakpoint(max, 990px) {
          padding-left: 15px;
        }
        @include breakpoint(max, 767px) {
          @include fontSize(11, $rootFontSize);
          padding-left: 10px;
        }
        @include breakpoint(max, 400px) {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1rem;
          padding-left: 0;
        }
        span {
          color: #fff;
          margin-bottom: 0.7rem;
          display: block;
          @include Medium;
          @include fontSize(16, $rootFontSize);
          @include breakpoint(max, 767px) {
            @include fontSize(13, $rootFontSize);
          }
          @include breakpoint(max, 400px) {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
    .btn {
      position: relative;
      z-index: 1;
      padding-left: 6.5rem;
      @include breakpoint(max, 768px) {
        padding: 1.7rem 2rem 1.5rem 4.2rem;
      }
    }
    .introduce-desc {
      position: relative;
      z-index: 1;
      @include breakpoint(max, 991px) {
        margin-bottom: 3rem;
      }
    }
  }
}
.home-content {
  background: #dcdeed;
}
