.manage-platform-content {
  .account-item {
    @extend .mainBox;
    padding: 2.2rem 3.5rem;
    border-radius: 3.5rem; /* 35px */
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    @include breakpoint(max, 1199px) {
      padding: 2rem;
    }
    @include breakpoint(max, 768px) {
      padding: 1.2rem 1rem;
    }

    .icon {
      margin-left: 2.5rem; /* 25px */
      @include breakpoint(max, 768px) {
        margin-left: 1rem; /* 10px */
      }
      img {
        width: 2.3rem; /* 23px */
        height: 2.3rem; /* 23px */
        object-fit: contain;
        @include breakpoint(max, 768px) {
          width: 2rem; /* 20px */
          height: 2rem; /* 20px */
        }
      }
    }
    .username {
      @include Bold;
      width: 25%;
      color: #8c90b1;
      padding-left: 2rem;
      border-left: 0.1rem /* 1px */ solid #d9d9e3;
      @include breakpoint(max, 1199px) {
        width: 30%;
        @include fontSize(13, $rootFontSize);
      }
      @include breakpoint(max, 768px) {
        width: 32%;
        padding-left: 1rem;
        @include fontSize(12, $rootFontSize);
      }
      @include breakpoint(max, 600px) {
        width: 30%;
      }
      @include breakpoint(max, 400px) {
        width: 35%;
      }
      .name {
        @include fontSize(18, $rootFontSize);
        color: #3f4373;
        margin-right: 2rem;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 10rem;
        @include breakpoint(max, 1199px) {
          @include fontSize(16, $rootFontSize);
        }
        @include breakpoint(max, 768px) {
          @include fontSize(13, $rootFontSize);
          margin-right: 1rem;
        }
        @include breakpoint(max, 600px) {
          margin-right: 0;
          width: 7rem;
        }
      }
    }
    .password {
      padding: 0 3rem;
      color: #8c90b1;
      @include fontSize(14, $rootFontSize);
      @include Bold;
      @include breakpoint(max, 768px) {
        padding: 0 1rem;
        @include fontSize(12, $rootFontSize);
      }
      // @include breakpoint(max, 500px) {
      //   padding-right: 3rem; /* 30px */
      // }
      .key {
        color: #3f4373;
        @include fontSize(13, $rootFontSize);
        display: inline-block;
        vertical-align: middle;
        margin-right: 2rem;
        @include breakpoint(max, 768px) {
          margin-right: 1rem;
          @include fontSize(12, $rootFontSize);
        }
        @include breakpoint(max, 600px) {
          margin-right: 0;
        }
        .closet {
          display: inline-block;
          vertical-align: middle;
          b {
            width: 0.4rem; /* 4px */
            height: 0.4rem; /* 4px */
            border-radius: 100%;
            display: inline-block;
            vertical-align: middle;
            background: #d9d9e3;
            margin: 0 0.2rem;
            @include breakpoint(max, 768px) {
              width: 0.3rem; /* 3px */
              height: 0.3rem; /* 3px */
            }
          }
        }
      }
      svg {
        width: 1.6rem; /* 16px */
        height: 1.1rem; /* 11px */
        stroke: rgba(#3f4373, 0.5);
        fill: rgba(#3f4373, 0.5);
        margin-right: 1rem;
        overflow: visible;
        cursor: pointer;
        @include breakpoint(max, 768px) {
          width: 1.3rem; /* 13px */
          height: 0.8rem; /* 8px */
          margin-right: 0.5rem;
        }
      }
    }
    .platform {
      text-transform: capitalize;
      margin-right: auto;
      @include Bold;
      @include fontSize(14, $rootFontSize);
      @include breakpoint(max, 768px) {
        @include fontSize(12, $rootFontSize);
      }
      .more {
        margin-right: 2rem;
        border-radius: 2rem; /* 20px */
        border: 0.2rem /* 2px */ solid #dfe1f2;
        padding: 0.5rem 0.9rem;
        display: inline-block;
        vertical-align: middle;
        @include breakpoint(max, 1199px) {
          padding: 0.3rem 0.7rem;
          margin-right: 1rem;
        }
        @include breakpoint(max, 768px) {
          padding: 0.1rem 0.4rem;
        }
        // @include breakpoint(max, 500px) {
        //   margin-right: 0.5rem;
        // }
        b {
          width: 0.4rem; /* 4px */
          height: 0.4rem; /* 4px */
          border-radius: 100%;
          display: inline-block;
          vertical-align: middle;
          background: #d9d9e3;
          margin: 0 0.2rem;
          @include breakpoint(max, 768px) {
            width: 0.3rem; /* 3px */
            height: 0.3rem; /* 3px */
          }
        }
      }
    }
    .tag {
      @include breakpoint(max, 600px) {
        display: none;
      }
    }
  }
  .create-account {
    padding: 2.2rem 3.5rem;
    border-radius: 3.5rem; /* 35px */
    display: flex;
    align-items: center;
    border: 0.2rem /* 2px */ dashed #dcddea;
    color: rgba(#3f4373, 0.8);
    margin-top: 2rem;
    @include fontSize(18, $rootFontSize);
    @include Heavy;
    @include breakpoint(max, 1199px) {
      @include fontSize(16, $rootFontSize);
      padding: 2rem 3rem;
    }
    @include breakpoint(max, 768px) {
      @include fontSize(14, $rootFontSize);
      padding: 1rem 1.5rem;
    }
    // @include breakpoint(max, 400px) {
    //   flex-direction: column;
    // }
    .tip {
      @include Bold;
      @include fontSize(16, $rootFontSize);
      color: #8c90b1;
      margin-right: 2rem;
      @include breakpoint(max, 1199px) {
        @include fontSize(14, $rootFontSize);
      }
      @include breakpoint(max, 768px) {
        @include fontSize(12, $rootFontSize);
        margin-right: 1rem;
      }
      @include breakpoint(max, 600px) {
        display: none;
      }
    }
    .btn {
      padding: 0.5rem 2.5rem 0.5rem 0.5rem;
      color: rgba(#3f4373, 0.8);
      margin-right: auto;
      @include fontSize(16, $rootFontSize);
      @include breakpoint(max, 1199px) {
        @include fontSize(14, $rootFontSize);
      }
      @include breakpoint(max, 768px) {
        @include fontSize(12, $rootFontSize);
        padding-right: 1.7rem;
      }

      span {
        @include breakpoint(max, 600px) {
          display: none;
        }
      }
      svg {
        stroke: rgba(#3f4373, 0.8);
        right: 0;
        width: 1.2rem; /* 12px */
        height: 1.2rem; /* 12px */
        @include calc(top, "(100% - 1.2rem)/2");
        @include breakpoint(max, 768px) {
          width: 0.8rem; /* 8px */
          height: 0.8rem; /* 8px */
          @include calc(top, "(100% - 0.8rem)/2");
        }
      }
    }
  }
}
