.order-list-container {
  padding-bottom: 6rem;
}
.order-wrap {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(#a8c0e2, 0.27),
    0 0.2rem 0.5rem 0 rgba(#a8c0e2, 0.19);
  margin-bottom: 1rem;
  .order-wrap-top {
    padding: 1.5rem 3rem;
    border-bottom: 0.1rem solid #eef2fa;
    display: flex;
    align-items: center;
    @include breakpoint(max, 1300px) {
      padding: 1.5rem 2rem;
    }
    @include breakpoint(max, 600px) {
      justify-content: flex-end;
    }
    @include breakpoint(max, 400px) {
      padding: 1rem 1.5rem;
    }
    .date-time {
      font-size: 1.4rem;
      color: #8c90b1;
      display: flex;
      align-items: center;
      @include Number;
      @include breakpoint(max, 1200px) {
        font-size: 1.2rem;
      }
      @include breakpoint(max, 600px) {
        margin-left: auto;
      }
      @include breakpoint(max, 400px) {
        font-size: 1rem;
      }
      b {
        @include Bold;
        @include YekanBakh;
      }
      .time {
        margin-right: 0.5rem;
        padding-right: 0.5rem;
        position: relative;
        &:before {
          position: absolute;
          display: block;
          content: "";
          width: 0.2rem;
          height: 1.5rem;
          background: #e8e9ef;
          right: 0;
          @include calc(top, "(100% - 1.5rem)/2");
          @include breakpoint(max, 1200px) {
            height: 1rem;
            @include calc(top, "(100% - 1rem)/2");
          }
        }
      }
    }
    .status {
      margin-right: 3rem;
      font-size: 1.4rem;
      @include Heavy;
      @include breakpoint(max, 1200px) {
        font-size: 1.2rem;
        margin-right: 2rem;
      }
      @include breakpoint(max, 400px) {
        font-size: 1rem;
        margin-right: 0;
      }
      svg {
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;
        vertical-align: middle;
        margin-left: 1rem;
        @include breakpoint(max, 1200px) {
          width: 1.2rem;
          height: 1.2rem;
          margin-left: 0.5rem;
        }
      }
    }
    .action {
      @include trans(0.3s);
      margin-right: auto;
      cursor: pointer;
      position: relative;
      padding: 0.1rem 1rem;
      border-radius: 3rem;
      border: 0.1rem solid transparent;
      @include breakpoint(max, 600px) {
        margin-right: 1rem;
        border-color: #dee0f2;
      }
      @include breakpoint(max, 400px) {
        padding: 0.1rem 0.7rem;
        border-radius: 1rem;
      }
      b {
        font-size: 2rem;
        line-height: 1;
        @include breakpoint(max, 600px) {
          font-size: 1.5rem;
        }
      }
      &:hover {
        border-color: #dee0f2;
        .action-list {
          opacity: 1;
          visibility: visible;
        }
      }
      .action-list {
        @include trans(0.3s);
        position: absolute;
        width: 19rem;
        background: #fff;
        border-radius: 1rem;
        box-shadow: 0 0.9rem 4.6rem 0 rgba(#aabcd4, 0.31),
          0 0.2rem 0.5rem 0 rgba(#a8c0e2, 0.21);
        padding: 2rem;
        top: 2.5rem;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        @include calc(left, "(100% - 19rem)/2");
        @include breakpoint(max, 1600px) {
          font-size: 1.2rem;
          width: 16rem;
          left: -3rem;
        }
        @include breakpoint(max, 600px) {
          font-size: 1.1rem;
          padding: 1rem 1.5rem;
          width: 14rem;
        }
        li {
          display: block;
          margin-bottom: 1.5rem;
          @include breakpoint(max, 1600px) {
            margin-bottom: 1rem;
          }
          @include breakpoint(max, 600px) {
            margin-bottom: 0.5rem;
          }
          a {
            display: block;
            padding: 0.5rem 0;
          }
        }
        .cancel-order {
          margin-bottom: 0;
          border-top: 0.1rem solid #eef2fa;
          a {
            padding-top: 2rem;
          }
          svg {
            width: 0.8rem;
            height: 0.8rem;
            fill: $red;
            stroke: $red;
            margin-left: 1rem;
          }
        }
      }
    }
  }
  .order-wrap-bottom {
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint(max, 1300px) {
      padding: 1.5rem 2rem;
    }
    @include breakpoint(max, 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
    @include breakpoint(max, 600px) {
      padding: 1.5rem;
    }
    .name-info {
      display: flex;
      align-items: center;
    }
    .order-title {
      position: relative;
      font-size: 1.6rem;
      margin-bottom: 0;
      @include Bold;
      @include breakpoint(max, 1300px) {
        font-size: 1.4rem;
      }
      @include breakpoint(max, 768px) {
        font-size: 1.6rem;
      }
      @include breakpoint(max, 400px) {
        font-size: 1.3rem;
      }

      .version-region {
        display: inline-block;
        vertical-align: middle;
        @include breakpoint(max, 600px) {
          display: block;
          margin-top: 0.5rem;
          color: rgba(#3f4373, 0.6);
        }
        .version {
          padding-right: 2rem;
          position: relative;
          font-size: 1.2rem;
          display: inline-block;
          vertical-align: middle;
          @include breakpoint(max, 1200px) {
            font-size: 1.1rem;
          }
          @include breakpoint(max, 768px) {
            font-size: 1.2rem;
          }
          @include breakpoint(max, 400px) {
            font-size: 1rem;
          }
          &:before {
            display: block;
            position: absolute;
            content: "";
            width: 1.5rem;
            height: 0.1rem;
            background: #9fa1b9;
            right: 0.2rem;
            @include calc(top, "(100% - 0.1rem)/2");
          }
        }
        .region {
          display: none;
          vertical-align: middle;
          font-size: 1.2rem;
          @include breakpoint(max, 600px) {
            display: inline-block;
          }
          @include breakpoint(max, 400px) {
            font-size: 1rem;
          }
        }
        span {
          position: relative;
          padding-right: 2.5rem;
          &:before {
            display: block;
            position: absolute;
            content: "";
            width: 1.5rem;
            height: 0.1rem;
            background: #9fa1b9;
            right: 0.2rem;
            @include calc(top, "(100% - 0.1rem)/2");
          }
          &:first-child {
            @include breakpoint(max, 600px) {
              padding-right: 0;
            }
            &:before {
              @include breakpoint(max, 600px) {
                display: none;
              }
            }
          }
        }
      }
    }
    .platform {
      padding: 0 0.5rem;
      min-width: 5rem;
      text-align: center;
      font-size: 1rem;
      margin-left: 1.5rem;
      position: relative;
      display: none;
      vertical-align: middle;
      text-transform: uppercase;
      @include breakpoint(max, 600px) {
        display: inline-block;
      }
      @include breakpoint(max, 400px) {
        margin-left: 0.8rem;
      }
      img {
        display: block;
        margin: 0 auto 0.5rem auto;
        width: 2.5rem;
        height: 2.5rem;
        object-fit: contain;
      }
      &:before {
        position: absolute;
        display: block;
        content: "";
        width: 0.1rem;
        height: 3rem;
        left: 0;
        background: #ededf2;
        @include calc(top, "(100% - 3rem)/2");
      }
    }
    .action-price {
      display: flex;
      align-items: center;
      @include breakpoint(max, 768px) {
        width: 100%;
        justify-content: space-between;
        margin-top: 1.5rem;
      }
    }
    .price-holder {
      margin-left: 4rem;
      display: flex;
      align-items: center;
      @include breakpoint(max, 1300px) {
        margin-left: 2.5rem;
      }
      @include breakpoint(max, 1200px) {
        margin-left: 1.5rem;
      }
      .dollar-price {
        background: $red;
        color: #fff;
        padding: 0.5rem 0.5rem 0.1rem 0.5rem;
        border-radius: 2rem;
        margin-left: 1rem;
        @include breakpoint(max, 1300px) {
          font-size: 1.2rem;
        }
        @include breakpoint(max, 1200px) {
          font-size: 1.1rem;
        }
        @include breakpoint(max, 600px) {
          display: none;
        }
      }
      .toman-price {
        @include Bold;
        font-size: 1.4rem;
        @include breakpoint(max, 1300px) {
          font-size: 1.2rem;
        }
        @include breakpoint(max, 768px) {
          font-size: 1.4rem;
        }
        b {
          @include Number;
          font-size: 1.8rem;
          @include breakpoint(max, 1300px) {
            font-size: 1.5rem;
          }
          @include breakpoint(max, 768px) {
            font-size: 1.8rem;
          }
        }
      }
    }
    .btn-more {
      font-size: 1.6rem;
      padding: 1rem 2rem;
      margin-left: 1rem;
      border-color: #dfe1f2;
      border-width: 0.2rem;
      color: rgba(#3f4373, 0.8);
      @include breakpoint(max, 1300px) {
        font-size: 1.4rem;
      }
      @include breakpoint(max, 1200px) {
        font-size: 1.2rem;
        margin-left: 0.5rem;
        padding: 0.8rem 1.3rem;
      }
      @include breakpoint(max, 600px) {
        display: none;
      }
    }
    .btn-redeem {
      font-size: 1.6rem;
      padding: 1.2rem 2rem 1.2rem 5.5rem;
      @include breakpoint(max, 1300px) {
        font-size: 1.4rem;
        padding-left: 4rem;
      }
      @include breakpoint(max, 1200px) {
        font-size: 1.2rem;
        padding: 1rem 1.3rem 1rem 4rem;
      }
      @include breakpoint(max, 600px) {
        padding: 1rem 2.5rem;
      }
      span {
        @include breakpoint(max, 600px) {
          display: none;
        }
      }
      svg {
        width: 0.6rem;
        height: 0.8rem;
        left: 2.5rem;
        @include calc(top, "(100% - 0.8rem)/2");
        @include breakpoint(max, 1300px) {
          left: 2rem;
        }
        @include breakpoint(max, 600px) {
          display: none;
        }
      }
      &:hover {
        color: #fff;
      }
    }
    .btn-silver {
      pointer-events: none;
    }
  }
}

.details-order {
  background: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(#a8c0e2, 0.27),
    0 0.2rem 0.5rem 0 rgba(#a8c0e2, 0.19);
  margin-bottom: 10rem;
  @include breakpoint(max, 500px) {
    border-radius: 1rem;
    margin-bottom: 5rem;
  }
  .details-order-top {
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #ecedf7;
    @include breakpoint(max, 991px) {
      padding: 2rem 3rem;
    }
    @include breakpoint(max, 700px) {
      padding: 1.5rem 2rem;
      justify-content: flex-start;
    }
    @include breakpoint(max, 500px) {
      padding: 1.5rem 1rem;
    }
    .date-time {
      font-size: 1.4rem;
      color: #8c90b1;
      display: flex;
      align-items: center;
      @include Number;
      @include breakpoint(max, 1200px) {
        font-size: 1.2rem;
      }
      @include breakpoint(max, 400px) {
        font-size: 1rem;
      }
      b {
        @include Bold;
        @include YekanBakh;
      }
      .time {
        margin-right: 0.5rem;
        padding-right: 0.5rem;
        position: relative;
        &:before {
          position: absolute;
          display: block;
          content: "";
          width: 0.2rem;
          height: 1.5rem;
          background: #e8e9ef;
          right: 0;
          @include calc(top, "(100% - 1.5rem)/2");
          @include breakpoint(max, 1200px) {
            height: 1rem;
            @include calc(top, "(100% - 1rem)/2");
          }
        }
      }
    }
    .status {
      // margin-right: 3rem;
      font-size: 1.4rem;
      @include Heavy;
      @include breakpoint(max, 1200px) {
        font-size: 1.2rem;
        // margin-right: 2rem;
      }
      @include breakpoint(max, 700px) {
        margin-right: 2rem;
      }
      @include breakpoint(max, 500px) {
        font-size: 1rem;
        margin-right: 1rem;
      }
      svg {
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;
        vertical-align: middle;
        margin-left: 1rem;
        @include breakpoint(max, 1200px) {
          width: 1.2rem;
          height: 1.2rem;
          margin-left: 0.5rem;
        }
      }
    }
    .price-holder {
      display: none;
      @include breakpoint(max, 700px) {
        display: block;
        margin-right: auto;
      }
    }
  }
  .price-holder {
    @include Bold;
    font-size: 1.4rem;
    margin-right: auto;
    @include breakpoint(max, 500px) {
      font-size: 1.2rem;
    }
    b {
      @include Number;
      font-size: 1.8rem;
      @include breakpoint(max, 500px) {
        font-size: 1.5rem;
      }
    }
  }
  .details-order-middle {
    padding: 3rem 5rem;
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid #ecedf7;
    @include breakpoint(max, 991px) {
      padding: 3rem;
    }
    @include breakpoint(max, 500px) {
      padding: 2rem 1rem;
    }
    .img-holder {
      width: 10rem;
      height: 14rem;
      margin-left: 2.5rem;
      overflow: hidden;

      @include breakpoint(max, 768px) {
        margin-left: 1rem;
        width: 8rem;
        height: 11rem;
      }
      @include breakpoint(max, 500px) {
        width: 6.5rem;
        height: 9.5rem;
        border-radius: 1rem;
        flex: 0 0 6.5rem;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .order-info {
      display: flex;
      align-items: center;
    }
    .order-title {
      position: relative;
      font-size: 1.6rem;
      margin-bottom: 0;
      @include Bold;
      @include breakpoint(max, 1300px) {
        font-size: 1.4rem;
      }
      @include breakpoint(max, 768px) {
        font-size: 1.6rem;
      }
      @include breakpoint(max, 500px) {
        font-size: 1.3rem;
      }
      .version-region {
        display: block;
        margin-top: 0.5rem;
        color: rgba(#3f4373, 0.6);
      }
      .version {
        padding-right: 2rem;
        position: relative;
        font-size: 1.2rem;
        display: inline-block;
        vertical-align: middle;
        @include breakpoint(max, 1200px) {
          font-size: 1.1rem;
        }
        @include breakpoint(max, 768px) {
          font-size: 1.2rem;
        }
        @include breakpoint(max, 500px) {
          font-size: 1rem;
        }
      }
      .region {
        display: inline-block;
        vertical-align: middle;
        font-size: 1.2rem;

        @include breakpoint(max, 500px) {
          font-size: 1rem;
        }
      }
      span {
        position: relative;
        padding-right: 2.5rem;
        &:before {
          display: block;
          position: absolute;
          content: "";
          width: 1.5rem;
          height: 0.1rem;
          background: #9fa1b9;
          right: 0.2rem;
          @include calc(top, "(100% - 0.1rem)/2");
        }
        &:first-child {
          padding-right: 0;

          &:before {
            display: none;
          }
        }
      }
    }
    .price-holder {
      margin-right: auto;
      margin-top: 2rem;
      @include breakpoint(max, 700px) {
        display: none;
      }
    }
    .platform {
      padding: 0 0.5rem;
      min-width: 5rem;
      text-align: center;
      font-size: 1rem;
      margin-left: 1.5rem;
      position: relative;
      vertical-align: middle;
      text-transform: uppercase;
      @include breakpoint(max, 500px) {
        margin-left: 0.8rem;
        font-size: 0.9rem;
      }
      img {
        display: block;
        margin: 0 auto 0.5rem auto;
        width: 2.5rem;
        height: 2.5rem;
        object-fit: contain;
        @include breakpoint(max, 500px) {
          width: 2rem;
          height: 2rem;
        }
      }
      &:before {
        position: absolute;
        display: block;
        content: "";
        width: 0.1rem;
        height: 3rem;
        left: 0;
        background: #ededf2;
        @include calc(top, "(100% - 3rem)/2");
      }
    }
  }
  .cdkey-wrap {
    padding: 4rem 6rem 25rem 6rem;
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid #ecedf7;
    @include breakpoint(max, 991px) {
      padding: 3rem 3rem 19rem 3rem;
    }
    @include breakpoint(max, 700px) {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 10rem;
    }
    @include breakpoint(max, 500px) {
      padding: 2rem 1.5rem 4rem 1.5rem;
    }
    .title {
      ul {
        display: none;
        vertical-align: middle;
        text-transform: uppercase;
        font-size: 1.2rem;
        color: rgba(#3f4373, 0.6);
        margin-right: 0.5rem;
        @include Medium;
        @include breakpoint(max, 700px) {
          display: inline-block;
        }
        li {
          display: inline-block;
          position: relative;
          padding-right: 1.5rem;
          &:before {
            display: block;
            position: absolute;
            content: "";
            width: 0.3rem;
            height: 0.3rem;
            border-radius: 100%;
            background: #9fa1b9;
            right: 0.6rem;
            @include calc(top, "(100% - 0.3rem)/2");
          }
          &:first-child {
            padding-right: 0;
            &:before {
              display: none;
            }
          }
        }
      }
    }
    .cdkey-holder {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      color: #8c90b1;
      @include breakpoint(max, 700px) {
        margin-top: 1.5rem;
      }
      .icon {
        width: 1.7rem;
        height: 1.7rem;
        margin-right: 2rem;
        @include breakpoint(max, 700px) {
          margin-right: 0;
        }
        @include breakpoint(max, 500px) {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
      .cdkey {
        font-size: 2.2rem;
        padding-top: 0.5rem;
        margin-right: 1rem;
        color: #3f4373;
        @include Heavy;
        @include breakpoint(max, 768px) {
          font-size: 1.8rem;
        }
        @include breakpoint(max, 500px) {
          font-size: 1.5rem;
        }
      }
      .copy-btn {
        padding: 0.3rem 1rem;
        border-radius: 2rem;
        font-size: 1.2rem;
        margin-right: 1.5rem;
        border: 0.2rem solid #dfe1f2;
        color: #3f4373;
        @include breakpoint(max, 500px) {
          font-size: 1.1rem;
        }
      }
    }
    .btn-redeem {
      font-size: 1.6rem;
      padding: 1.2rem 2rem 1.2rem 5.5rem;
      margin-right: auto;
      @include breakpoint(max, 1300px) {
        font-size: 1.4rem;
        padding-left: 4rem;
      }
      @include breakpoint(max, 700px) {
        margin-top: 4rem;
      }

      svg {
        width: 0.6rem;
        height: 0.8rem;
        left: 2.5rem;
        @include calc(top, "(100% - 0.8rem)/2");
        @include breakpoint(max, 1300px) {
          left: 2rem;
        }
      }
    }
  }
  .details-order-bottom {
    padding: 2.5rem 3.5rem;
    display: flex;
    align-items: center;
    @include breakpoint(max, 768px) {
      padding: 2rem 3rem;
    }
    @include breakpoint(max, 500px) {
      padding: 2rem 1.5rem;
    }
    .btn {
      padding-right: 2rem;
      font-size: 1.4rem;
      color: #3f4373;
      @include Medium;
      @include breakpoint(max, 768px) {
        font-size: 1.2rem;
      }
      @include breakpoint(max, 500px) {
        font-size: 1.1rem;
        padding-right: 1rem;
      }
      &:before {
        position: absolute;
        display: block;
        content: "";
        width: 0.2rem;
        height: 2.5rem;
        background: #e8e9ef;
        right: 0;
        @include calc(top, "(100% - 2.5rem)/2");
      }
      &:first-child {
        &:before {
          display: none;
        }
      }
    }
    .download-factor {
      position: relative;
      padding-right: 2rem;
      @include breakpoint(max, 500px) {
        padding-right: 1.5rem;
      }
      svg {
        position: absolute;
        width: 0.9rem;
        height: 0.8rem;
        stroke: #747695;
        right: 0;
        @include calc(top, "(100% - 0.8rem)/2");
        @include rotate(130deg);
      }
    }
    .report-problem {
      margin-right: 2rem;
      position: relative;
      @include Medium;
      @include breakpoint(max, 500px) {
        margin-right: 1rem;
      }
    }
    .go-to-product {
      margin-right: auto;
      padding-right: 4rem;
      @include breakpoint(max, 500px) {
        display: none;
      }
      svg {
        position: absolute;
        width: 0.9rem;
        height: 0.8rem;
        stroke: #747695;
        right: 2rem;
        @include calc(top, "(100% - 0.8rem)/2");
        @include rotate(-90deg);
      }
    }
    .cancel {
      padding-right: 3rem !important;
      margin-right: 1rem;
      display: none;
      @include breakpoint(max, 500px) {
        display: block;
      }
      svg {
        width: 0.6rem;
        height: 0.6rem;
        position: absolute;
        fill: $red;
        right: 1.5rem;
        @include calc(top, "(100% - 0.6rem)/2");
      }
    }
  }
  &.manual {
    .details-order-middle {
      border: none;
      @include breakpoint(max, 768px) {
        border-bottom: 0.1rem solid #ecedf7;
      }
    }
    .details-order-bottom {
      .download-factor {
        color: rgba(#3f4373, 0.3);
        pointer-events: none;
        svg {
          stroke: rgba(#3f4373, 0.3);
        }
      }
      .cancel {
        display: block;
        margin-right: auto;
        &:before {
          display: none;
        }
      }
      .download-factor {
        @include breakpoint(max, 600px) {
          display: none;
        }
      }
      .report-problem {
        @include breakpoint(max, 600px) {
          margin-right: 0;
          padding-right: 0;
          &:before {
            display: none;
          }
        }
      }
    }
  }
  .cdkey-manual {
    padding: 4rem 6rem;
    border-bottom: 0.1rem solid #ecedf7;
    @include breakpoint(max, 768px) {
      padding: 3rem;
    }
    @include breakpoint(max, 500px) {
      padding: 2rem 1.5rem;
    }
    .cdkey-manual-row {
      display: flex;
      align-items: flex-start;
      font-size: 1.4rem;
      margin-bottom: 3rem;
      @include breakpoint(max, 768px) {
        font-size: 1.3rem;
        margin-bottom: 2rem;
      }
      @include breakpoint(max, 500px) {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
      }
      .title {
        width: 10rem;
        flex: 0 0 10rem;
        color: #8c90b1;
        @include Bold;
        @include breakpoint(max, 768px) {
          width: 8rem;
          flex: 0 0 8rem;
        }
      }
      p {
        color: #3f4373;
        @include Medium;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .order-desc {
    padding: 5rem 3rem 13rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.1rem solid #ecedf7;
    @include breakpoint(max, 600px) {
      padding: 3rem 2rem 6rem 2rem;
      flex-direction: column;
    }
    .desc-status {
      @include Medium;
      font-size: 1.8rem;
      margin-left: 7.5rem;
      @include breakpoint(max, 991px) {
        font-size: 1.6rem;
      }
      @include breakpoint(max, 768px) {
        margin-left: 4.5rem;
        font-size: 1.4rem;
      }
      @include breakpoint(max, 600px) {
        margin-left: unset;
      }
      svg {
        width: 1.7rem;
        height: 1.7rem;
        display: inline-block;
        vertical-align: middle;
        margin-left: 1rem;
        @include breakpoint(max, 768px) {
          width: 1.4rem;
          height: 1.4rem;
          margin-left: 0.5rem;
        }
      }
    }
    p {
      max-width: 22.5rem;
      @include breakpoint(max, 768px) {
        font-size: 1.2rem;
      }
      @include breakpoint(max, 600px) {
        margin-top: 2rem;
        text-align: center;
      }
    }
  }
}
