.process-body {
  min-height: 100vh;
  background: $red;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 11%;
  @include breakpoint(max, 600px) {
    padding: 0 7%;
  }
  @include breakpoint(max, 500px) {
    padding: 0 1.5rem;
  }
  .process-content {
    width: 100%;
    text-align: center;
    margin: 8rem 0; /* 80px */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include breakpoint(max, 600px) {
      margin: 4rem 0; /* 40px */
    }
    .process-img {
      width: 10.5rem; /* 105px */
      height: 9.6rem; /* 96px */
      display: block;
      @include breakpoint(max, 991px) {
        width: 9.5rem; /* 95px */
        height: 8.6rem; /* 86px */
      }
      @include breakpoint(max, 600px) {
        width: 8.5rem; /* 85px */
        height: 7.6rem; /* 76px */
      }
    }
    .time {
      @include Number;
      @include fontSize(15, $rootFontSize);
      display: block;
      position: absolute;
      top: 0rem; /* 0px */
      left: 0;
    }
    h2 {
      @include Heavy;
      @include fontSize(26, $rootFontSize);
      padding-top: 5rem;
      position: relative;
      display: inline-block;
      line-height: 1.3;
      @include breakpoint(max, 991px) {
        @include fontSize(24, $rootFontSize);
        padding-top: 2rem;
      }
      @include breakpoint(max, 768px) {
        @include fontSize(20, $rootFontSize);
      }
      @include breakpoint(max, 500px) {
        @include fontSize(18, $rootFontSize);
      }
      svg {
        fill: $white;
        width: 8.7rem; /* 87px */
        @include breakpoint(max, 991px) {
          width: 8rem; /* 80px */
        }
        @include breakpoint(max, 768px) {
          width: 7.5rem; /* 75px */
        }
        @include breakpoint(max, 500px) {
          width: 6rem; /* 60px */
        }
      }
    }
    .user-email {
      @include fontSize(26, $rootFontSize);
      padding-left: 3.5rem;
      position: relative;
      margin-top: 1rem; /* 10px */
      @include breakpoint(max, 991px) {
        @include fontSize(23, $rootFontSize);
      }
      @include breakpoint(max, 768px) {
        @include fontSize(19, $rootFontSize);
        padding-left: 2.5rem;
      }
      @include breakpoint(max, 600px) {
        @include fontSize(17, $rootFontSize);
        padding-left: 2rem;
      }
      svg {
        width: 2.3rem; /* 23px */
        height: 1.8rem; /* 18px */
        stroke: $white;
        position: absolute;
        left: 0;
        @include calc(top, "(100% - 1.8rem)/2");
        @include breakpoint(max, 768px) {
          width: 2rem; /* 20px */
          height: 1.5rem; /* 15px */
        }
        @include breakpoint(max, 600px) {
          width: 1.7rem; /* 17px */
          height: 1.2rem; /* 12px */
        }
      }
    }
    &.step1 {
      .description {
        @include Bold;
        @include fontSize(18, $rootFontSize);
        display: block;
        margin-top: 1.5rem; /* 15px */
      }
    }
    .verify-code {
      margin-top: 5rem; /* 50px */
      @include fontSize(16, $rootFontSize);
      @include Heavy;
      @include breakpoint(max, 768px) {
        margin-top: 3rem; /* 30px */
        @include fontSize(14, $rootFontSize);
      }
    }
    .input-holder {
      padding: 1.5rem 6rem;
      position: relative;
      border: 0.2rem /* 2px */ solid #faacb0;
      border-radius: 3rem; /* 30px */
      margin-top: 2rem; /* 20px */
      @include breakpoint(max, 768px) {
        padding: 1.3rem 3rem;
      }
      input {
        background: transparent !important;
        @include fontSize(20, $rootFontSize);
        color: $white;
        padding: 0;
        width: 100%;
        text-align: center;
        @include breakpoint(max, 768px) {
          @include fontSize(18, $rootFontSize);
        }
        @include breakpoint(max, 500px) {
          @include fontSize(16, $rootFontSize);
        }
      }
      svg {
        width: 1.4rem; /* 14px */
        height: 1.8rem; /* 18px */
        position: absolute;
        stroke: $white;
        left: 2.5rem; /* 25px */
        @include calc(top, "(100% - 1.8rem)/2");
        @include breakpoint(max, 768px) {
          left: 1.5rem; /* 15px */
        }
      }
    }
    .btn {
      margin-top: 4rem; /* 40px */
      padding: 1.8rem 5rem 1.8rem 10rem;
      @include fontSize(18, $rootFontSize);
      @include breakpoint(max, 768px) {
        margin-top: 2rem; /* 20px */
        padding: 1.5rem 3.5rem 1.5rem 8rem;
        @include fontSize(14, $rootFontSize);
      }
    }
    .resend {
      margin-top: 2.5rem; /* 25px */
      @include fontSize(15, $rootFontSize);
      color: $white;
      @include breakpoint(max, 768px) {
        @include fontSize(13, $rootFontSize);
        margin-top: 1.5rem; /* 15px */
      }
    }
    .entry-content {
      margin: 6.5rem auto 5rem /* 65px 50px */ auto;
      width: 100%;
      max-width: 51.5rem; /* 515px */
      @include breakpoint(max, 768px) {
        margin: 3.5rem /* 35px */ auto;
      }
      .comment {
        @include Bold;
        @include fontSize(18, $rootFontSize);
        margin-bottom: 3rem; /* 30px */
        display: block;
        @include breakpoint(max, 768px) {
          @include fontSize(16, $rootFontSize);
          margin-bottom: 2rem; /* 20px */
        }
        @include breakpoint(max, 500px) {
          @include fontSize(14, $rootFontSize);
        }
      }
      input {
        text-align: right;
        @include placeholder($white, 2rem);
        @include breakpoint(max, 768px) {
          @include placeholder($white, 1.8rem);
        }
        @include breakpoint(max, 500px) {
          @include placeholder($white, 1.6rem);
        }
      }
    }
  }
  .progress-wrap {
    text-align: center;
    padding-bottom: 8rem;
    width: 100%;
    @include breakpoint(max, 991px) {
      padding-bottom: 5rem;
    }
    @include breakpoint(max, 600px) {
      padding-bottom: 2rem;
    }
    .platform-icon {
      img {
        width: 2.5rem; /* 25px */
        height: 2.5rem; /* 25px */
        @include breakpoint(max, 400px) {
          width: 2rem; /* 20px */
          height: 2rem; /* 20px */
        }
      }
      .platform-name {
        text-transform: uppercase;
        @include fontSize(14, $rootFontSize);
        display: block;
        margin-top: 0.5rem; /* 5px */
        @include breakpoint(max, 400px) {
          @include fontSize(12, $rootFontSize);
        }
      }
    }
    .progress-bar-holder {
      width: 100%;
      position: relative;
      height: 0.3rem; /* 3px */
      background: #fb4750;
      border-radius: 0.2rem; /* 2px */
      margin-top: 3rem; /* 30px */
      overflow: hidden;
      @include breakpoint(max, 600px) {
        margin-top: 2rem; /* 20px */
      }
      .progress-bar {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: $white;
        border-radius: 0.2rem; /* 2px */
        &.step1 {
          width: 25%;
        }
        &.step2 {
          width: 50%;
        }
        &.step3 {
          width: 75%;
        }
      }
    }
    .progress-text {
      @include Medium;
      @include fontSize(16, $rootFontSize);
      margin-top: 3rem; /* 30px */
      display: block;
      @include breakpoint(max, 991px) {
        @include fontSize(14, $rootFontSize);
      }
      @include breakpoint(max, 600px) {
        margin-top: 2rem; /* 20px */
      }
      @include breakpoint(max, 400px) {
        @include fontSize(12, $rootFontSize);
      }
    }
  }
}

.gateway-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 68vh;
  padding: 5rem 0;
  color: rgba($textColor, 0.8);
  @include breakpoint(max, 768px) {
    min-height: 78vh;
  }
  .waiting-portal {
    width: 14.2rem; /* 142px */
    height: 12.9rem; /* 129px */
    @include breakpoint(max, 991px) {
      width: 12.2rem; /* 122px */
      height: 10.9rem; /* 109px */
    }
    @include breakpoint(max, 600px) {
      height: 8.9rem; /* 89px */
    }
  }
  h2 {
    margin-top: 1.5rem; /* 15px */
    @include fontSize(26, $rootFontSize);
    @include breakpoint(max, 600px) {
      @include fontSize(22, $rootFontSize);
      margin-top: 0.5rem; /* 5px */
    }
  }
  .description {
    margin-top: 1rem; /* 10px */
    @include fontSize(15, $rootFontSize);
    @include breakpoint(max, 600px) {
      @include fontSize(13, $rootFontSize);
      margin-top: 0.5rem; /* 5px */
    }
  }
}
