.tooltip {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.2s;
  width: 16.5rem; /* 165px */
  max-width: 16.5rem; /* 165px */
  background: $white;
  position: absolute;
  color: #3f4373;
  font-weight: 400;
  box-shadow: 0.4rem 0.2rem 1.6rem rgba(63, 67, 115, 0.07),
    0.4rem 0.2rem 1.6rem /* 4px 2px 16px 4px 2px 16px */ rgba(63, 67, 115, 0.03);
  font-family: inherit;
  border-radius: 0.2rem; /* 2px */
  padding: 2.1rem 1.2rem 1.9rem;
  top: 3.6rem; /* 36px */
  direction: rtl;
  right: calc(50% - #{16.5rem / 2});
  z-index: 1;
  pointer-events: none;
  @include breakpoint(max, 768px) {
    right: -1rem; /* -10px */
  }
  &:before {
    content: "";
    position: absolute;
    border-width: 1.5rem; /* 15px */
    border-style: solid;
    border-color: transparent;
    border-bottom-color: $white;
    top: -2.3rem; /* -23px */
    // right: 50%;
    right: calc(50% - 1.5rem);
    // transform: translateX(-50%);
    @include breakpoint(max, 768px) {
      right: 0.9rem; /* 9px */
      transform: none;
    }
  }
  strong {
    font-weight: 600;
  }
  a {
    display: block;
    @include fontSize(12, $rootFontSize);
    font-weight: 400;
    color: $red;
    position: relative;
    top: 0.4rem; /* 4px */
  }
}

.product-introduction {
  background: $white;
  padding: 0 6%;
  @include lightshadow();
  @include breakpoint(max, 1200px) {
    padding: 0 3%;
  }
  .introduction-content {
    display: flex;
    padding: 4.5rem 0 2rem 0;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    @include breakpoint(max, 1200px) {
      padding-top: 3.5rem;
    }
    @include breakpoint(max, 991px) {
      padding: 3.5rem 0 1rem 0;
    }
    @include breakpoint(max, 768px) {
      flex-direction: column-reverse;
      padding-bottom: 3rem;
    }
    .introduction-text {
      width: 100%;
      position: relative;
      @include calc(width, "(100% - 35.5rem)");
      @include breakpoint(max, 1400px) {
        @include calc(width, "(100% - 25.5rem)");
      }
      @include breakpoint(max, 768px) {
        width: 100%;
      }
      .more-intro {
        height: 2.5rem;
        cursor: pointer;
        display: block;
        @include breakpoint(max, 768px) {
          display: none;
        }
        svg {
          position: absolute;
          width: 0.8rem; /* 8px */
          height: 1.4rem; /* 14px */
          fill: $mainColor;
          stroke: $mainColor;
          bottom: 0;
          @include calc(left, "(100% - 1.4rem)/2");
          @include rotate(-90deg);
          @include breakpoint(max, 600px) {
            width: 0.7rem; /* 7px */
            height: 1.1rem; /* 11px */
            @include calc(left, "(100% - 1.1rem)/2");
          }
        }
      }
    }
    p {
      @include Medium;
      @include fontSize(16, $rootFontSize);
      color: rgba($textColor, 0.9) !important;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;

      @include breakpoint(max, 991px) {
        @include fontSize(14, $rootFontSize);
      }
      @include breakpoint(max, 768px) {
        max-width: unset;
      }
    }
    .btn-holder {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30rem;
      margin-top: 2rem;
      @include breakpoint(max, 1400px) {
        width: 20rem;
      }
      @include breakpoint(max, 1200px) {
        margin-top: 0;
      }
      @include breakpoint(max, 991px) {
        width: 22rem;
      }
      @include breakpoint(max, 768px) {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        margin-top: 1.5rem;
      }
      .more-btn {
        margin-top: 1.5rem; /* 15px */
        @include breakpoint(max, 768px) {
          margin-top: 0;
          margin-right: 1rem; /* 10px */
        }
      }
    }
    .btn {
      padding: 2rem 4rem;
      @include fontSize(16, $rootFontSize);
      @include breakpoint(max, 991px) {
        @include fontSize(14, $rootFontSize);
        padding: 1.5rem 3rem;
        width: 100%;
      }
      @include breakpoint(max, 768px) {
        padding: 1.5rem 2.5rem;
        width: unset;
      }
      @include breakpoint(max, 600px) {
        padding: 1.2rem 2rem;
        @include fontSize(12, $rootFontSize);
      }

      svg {
        fill: $white;
      }
      &.btn--dark {
        padding: 2rem 5.5rem 2rem 4rem;
        @include breakpoint(max, 991px) {
          padding: 1.5rem 5.5rem 1.5rem 2.5rem;
        }
        @include breakpoint(max, 600px) {
          padding: 1.2rem 4rem 1.2rem 2rem;
        }
      }
    }
  }
}
.product-main-content {
  padding-top: 7.5rem;
  background: #e6e8f2;
  @include breakpoint(max, 1199px) {
    padding-top: 5.5rem;
  }
  @include breakpoint(max, 600px) {
    padding-top: 5rem;
  }
  .notification-holder {
    .notify-item {
      margin: 1.8rem 0 3rem 0; /* 18px */
      padding-left: 1.5rem;
      @include breakpoint(max, 768px) {
        margin: 1.4rem 0 0 0; /* 14px */
      }
      .notify-caption {
        line-height: 1.3;
        @include breakpoint(max, 768px) {
          width: 100%;
          margin-top: 0.5rem; /* 5px */
        }
      }
    }
  }
  &.giftcard-content {
    padding: 20rem 0;
    @include breakpoint(max, 1200px) {
      padding: 10rem 0 15rem 0;
    }
    @include breakpoint(max, 768px) {
      padding: 8rem 0;
    }
    @include breakpoint(max, 500px) {
      padding: 4rem 0;
    }
  }
}
.product-wrap {
  position: relative;
  z-index: 1;
  .select-title {
    @include Heavy;
    font-size: 2.4rem;
    margin-bottom: 5rem;
    color: #3f4373;
    @include breakpoint(max, 1200px) {
      font-size: 2.2rem;
    }
    @include breakpoint(max, 991px) {
      font-size: 2rem;
      margin-bottom: 3rem;
    }
    @include breakpoint(max, 500px) {
      font-size: 1.7rem;
    }
    @include breakpoint(max, 400px) {
      font-size: 1.5rem;
    }
    & + .notification-holder {
      margin-bottom: 5rem;
      @include breakpoint(max, 991px) {
        margin-bottom: 3rem;
      }
    }
  }
  .group-product {
    margin-bottom: 5rem;
    .group-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3.5rem;
      @include breakpoint(max, 991px) {
        margin-bottom: 2.5rem;
      }
      @include breakpoint(max, 500px) {
        margin-bottom: 1.5rem;
      }
      .group-title {
        @include Bold;
        font-size: 1.8rem;
        position: relative;
        padding-right: 5rem;
        margin-bottom: 0;
        @include breakpoint(max, 991px) {
          padding-right: 4rem;
          font-size: 1.5rem;
        }
        @include breakpoint(max, 500px) {
          padding-right: 3rem;
          font-size: 1.3rem;
        }
        .icon {
          width: 3.4rem;
          height: 3.4rem;
          border-radius: 100%;
          position: absolute;
          right: 0;
          overflow: hidden;
          @include calc(top, "(100% - 3.4rem)/2");
          @include breakpoint(max, 991px) {
            width: 3rem;
            height: 3rem;
            @include calc(top, "(100% - 3rem)/2");
          }
          @include breakpoint(max, 500px) {
            width: 2.5rem;
            height: 2.5rem;
            @include calc(top, "(100% - 2.5rem)/2");
          }
          img,
          svg {
            width: 2rem;
            height: 2rem;
            position: absolute;
            fill: #fff;
            @include calc(top, "(100% - 2rem)/2");
            @include calc(left, "(100% - 2rem)/2");
            object-fit: contain;
            @include breakpoint(max, 991px) {
              width: 1.5rem;
              height: 1.5rem;
              @include calc(top, "(100% - 1.5rem)/2");
              @include calc(left, "(100% - 1.5rem)/2");
            }
            @include breakpoint(max, 500px) {
              width: 1rem;
              height: 1rem;
              @include calc(top, "(100% - 1rem)/2");
              @include calc(left, "(100% - 1rem)/2");
            }
          }
          &.dark {
            background: #3f4373;
          }
          &.blue {
            background: #164194;
          }
          &.white {
            background: #fff;
          }
          &.full-img {
            img {
              position: absolute;
              width: 100%;
              height: 100%;
              object-fit: cover;
              top: 0;
              left: 0;
            }
          }
        }
      }
      &.group-title-noicon {
        padding-right: 0;
      }
      .download-data {
        position: relative;
        font-size: 1.6rem;
        color: #3f4373;
        padding-right: 4rem;
        @include Bold;
        @include breakpoint(max, 991px) {
          font-size: 1.4rem;
          padding-right: 3rem;
        }
        @include breakpoint(max, 500px) {
          font-size: 1.2rem;
          padding-right: 2.5rem;
        }
        .icon {
          position: absolute;
          width: 3rem;
          height: 3rem;
          border-radius: 100%;
          background: #ffd21d;
          right: 0;
          @include calc(top, "(100% - 3rem)/2");
          @include breakpoint(max, 991px) {
            width: 2.5rem;
            height: 2.5rem;
            @include calc(top, "(100% - 2.5rem)/2");
          }
          @include breakpoint(max, 500px) {
            width: 2rem;
            height: 2rem;
            @include calc(top, "(100% - 2rem)/2");
          }
          svg {
            width: 1.2rem;
            height: 1.2rem;
            position: absolute;
            stroke: #3f4373;
            @include rotate(135deg);
            @include calc(top, "(100% - 1.2rem)/2");
            @include calc(left, "(100% - 1.2rem)/2");
            @include breakpoint(max, 991px) {
              width: 0.8rem;
              height: 0.8rem;
              @include calc(top, "(100% - 0.8rem)/2");
              @include calc(left, "(100% - 0.8rem)/2");
            }
            @include breakpoint(max, 500px) {
              width: 0.5rem;
              height: 0.5rem;
              @include calc(top, "(100% - 0.5rem)/2");
              @include calc(left, "(100% - 0.5rem)/2");
            }
          }
        }
      }
      .guid-link {
        position: relative;
        font-size: 1.6rem;
        color: #3f4373;
        padding-right: 4rem;
        @include Bold;
        @include breakpoint(max, 991px) {
          font-size: 1.4rem;
          padding-right: 3rem;
        }
        @include breakpoint(max, 500px) {
          font-size: 1.2rem;
          padding-right: 2.5rem;
        }
        .icon {
          position: absolute;
          width: 3rem;
          height: 3rem;
          border-radius: 100%;
          background: #4de992;
          right: 0;
          @include calc(top, "(100% - 3rem)/2");
          @include breakpoint(max, 991px) {
            width: 2.5rem;
            height: 2.5rem;
            @include calc(top, "(100% - 2.5rem)/2");
          }
          @include breakpoint(max, 500px) {
            width: 2rem;
            height: 2rem;
            @include calc(top, "(100% - 2rem)/2");
          }
          svg {
            width: 0.9rem;
            height: 1.5rem;
            position: absolute;
            stroke: #fff;
            @include calc(top, "(100% - 1.5rem)/2");
            @include calc(left, "(100% - 0.9rem)/2");
            // @include breakpoint(max, 991px) {
            //   width: 0.8rem;
            //   height: 0.8rem;
            //   @include calc(top, "(100% - 0.8rem)/2");
            //   @include calc(left, "(100% - 0.8rem)/2");
            // }
            // @include breakpoint(max, 500px) {
            //   width: 0.5rem;
            //   height: 0.5rem;
            //   @include calc(top, "(100% - 0.5rem)/2");
            //   @include calc(left, "(100% - 0.5rem)/2");
            // }
          }
        }
      }
    }
    .group-body {
      background: #ffff;
      border-radius: 1rem;
      box-shadow: 0 5.7rem 4.6rem 0 rgba(#d0d5fb, 0.22),
        0 0.2rem 0.5rem 0 rgba(#d0d5fb, 0.21);
      overflow: hidden;
    }
  }
  .load-more {
    padding: 1.5rem;
    width: 100%;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include Bold;
    @include breakpoint(max, 768px) {
      padding: 1rem;
      font-size: 1.2rem;
    }
    svg {
      width: 0.6rem;
      height: 0.8rem;
      stroke: #24284a;
      margin-left: 1rem;
      @include rotate(-90deg);
      transition: all 0.2s;
    }
    &.active {
      svg {
        transform: rotate(90deg);
      }
    }
  }
  .product-detail {
    padding: 1.8rem 0 1.8rem 2.7rem;
    border-bottom: 0.1rem solid #e8ecf8;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    border-bottom: 0.1rem solid #e8ecf8;
    @include breakpoint(max, 991px) {
      padding-left: 1rem;
    }
    @include breakpoint(max, 768px) {
      padding: 1.5rem 0 1.5rem 1rem;
    }
    &:last-child {
      border: none;
    }
    .platform-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 1.4rem;
      text-transform: uppercase;
      margin-left: 2.5rem;
      width: 10rem;
      padding: 0 1rem;
      border-left: 1px solid #d9d9e3;
      @include Heavy;
      @include breakpoint(max, 991px) {
        margin-left: 1.5rem;
        font-size: 1.2rem;
        width: 8rem;
      }

      @include breakpoint(max, 500px) {
        font-size: 1.1rem;
        margin-left: 0.5rem;
      }
      img {
        width: 3.5rem;
        height: 3.5rem;
        object-fit: contain;
        display: block;
        margin: 0 auto 0.5rem auto;
        @include breakpoint(max, 991px) {
          width: 3rem;
          height: 3rem;
        }
        @include breakpoint(max, 500px) {
          width: 2.8rem;
          height: 2.8rem;
        }
        // @include breakpoint(max, 400px) {
        //   margin-left: 0.5rem;
        //   width: 3rem;
        //   height: 3rem;
        // }
      }
      .region {
        @include Medium;
        font-size: 1.2rem;
        margin-top: 1.2rem;
        display: none;
        @include breakpoint(max, 768px) {
          display: block;
        }
        @include breakpoint(max, 500px) {
          font-size: 1.1rem;
          margin-top: 0.7rem;
        }
      }
      // &:after {
      //   position: absolute;
      //   display: block;
      //   content: "";
      //   height: 6rem;
      //   width: 0.1rem;
      //   background: #d9d9e3;
      //   left: 0;
      //   @include calc(top, "(100% - 6rem)/2");
      // }
      &.has-tooltip {
        position: relative;
        &:hover {
          .tooltip {
            visibility: visible;
            opacity: 1;
            transform: scale(1);
            pointer-events: auto;
          }
        }
      }
    }
    .product-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include calc(width, "(100% - 13rem)");
      @include breakpoint(max, 991px) {
        @include calc(width, "(100% - 10rem)");
      }
      @include breakpoint(max, 768px) {
        flex-wrap: wrap;
        justify-content: space-between;
      }
      @include breakpoint(max, 500px) {
        @include calc(width, "(100% - 9rem)");
      }
      .name-wrap {
        margin-left: 1.5rem;
        .product-name {
          display: flex;
          font-size: 1.8rem;
          margin-bottom: 0;
          align-items: center;
          @include Heavy;
          @include breakpoint(max, 991px) {
            @include fontSize(16, $rootFontSize);
          }
          @include breakpoint(max, 768px) {
            width: 100%;
          }
          @include breakpoint(max, 500px) {
            font-size: 1.4rem;
          }
          .common {
            font-size: 1.4rem;
            padding: 0.5rem 1.5rem;
            border-radius: 1.2rem;
            border: 0.1rem solid #c4c5d4;
            margin-right: 1rem;
            @include Bold;
            @include breakpoint(max, 991px) {
              font-size: 1.2rem;
              padding: 0.3rem 1rem;
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
    .product-buy {
      display: flex;
      align-items: center;
      position: relative;

      @include breakpoint(max, 768px) {
        width: 100%;
        justify-content: flex-end;
        margin-top: 1rem;
      }
      .sale-price {
        @include Number;
        font-size: 2.8rem;
        color: $textColor;
        position: relative;
        text-align: left;
        display: block;
        margin-left: 3rem;
        @include breakpoint(max, 1199px) {
          margin-left: 2rem;
        }
        @include breakpoint(max, 991px) {
          font-size: 2rem;
          margin-left: 1rem;
        }
        @include breakpoint(max, 768px) {
          @include fontSize(20, $rootFontSize);
          margin-top: 0;
          margin-left: auto;
          // padding-left: 3rem;
        }
        @include breakpoint(max, 500px) {
          @include fontSize(15, $rootFontSize);
          // padding-left: 2.5rem;
        }
        b {
          @include Bold;
          font-family: "YekanBakh" !important;
          font-size: 1.8rem;
          color: rgba($textColor, 0.8);
          @include breakpoint(max, 991px) {
            font-size: 1.5rem;
          }
        }
        // &:before {
        //   @include Bold;
        //   font-family: "YekanBakh" !important;
        //   display: block;
        //   position: absolute;
        //   content: "تومان";
        //   font-size: 1.8rem;
        //   color: rgba($textColor, 0.8);
        //   left: 0;
        //   bottom: 0;
        //   @include breakpoint(max, 991px) {
        //     font-size: 1.5rem;
        //   }
        //   @include breakpoint(max, 768px) {
        //     @include fontSize(12, $rootFontSize);
        //   }
        //   @include breakpoint(max, 500px) {
        //     @include fontSize(10, $rootFontSize);
        //   }
        // }
      }
      .buy-action {
        position: relative;
        // .open-chat,
        .open-add {
          padding-right: 5.5rem;
          padding-left: 3rem;
          background: $red;
          box-shadow: 0 0.8rem 2.7rem 0 rgba($red, 0.23);
          color: $white;
          width: 13.5rem;
          height: 5.7rem;
          font-size: 1.8rem;
          @include Bold;
          @include breakpoint(max, 991px) {
            width: 10.5rem;
            height: 4.7rem;
            padding-right: 4.5rem;
            @include fontSize(17, $rootFontSize);
          }
          @include breakpoint(max, 768px) {
            padding: 0.7rem 3rem 0.7rem 1.5rem;
            font-size: 1.4rem;
            width: 7.5rem;
            height: 3.3rem;
          }
          @include breakpoint(max, 500px) {
            height: 3.2rem;
            font-size: 1.3rem;
            padding: 0.9rem 3rem 0.9rem 1rem;
          }
          svg {
            &.add-icon {
              right: 4rem;
              @include breakpoint(max, 991px) {
                right: 3rem; /* 30px */
              }
              @include breakpoint(max, 768px) {
                right: 1.5rem; /* 30px */
              }
              @include breakpoint(max, 500px) {
                right: 2rem; /* 20px */
              }
            }
            &.selected-icon {
              width: 1.8rem; /* 18px */
              height: 1.2rem; /* 12px */
              display: none;
              stroke: $white;
              @include calc(top, "(100% - 1.2rem)/2");
              @include calc(right, "(100% - 1.8rem)/2");
            }
          }
          @include breakpoint(max, 500px) {
            padding: 1rem 3.5rem 1rem 1.5rem;
          }
        }
        // .open-chat {
        //   background: $green;
        //   box-shadow: 0 0.8rem 2.7rem 0 /* 8px 27px */ rgba($green, 0.23);
        //   padding-right: 1.5rem;
        //   padding-left: 1.5rem;
        //   text-align: center;
        //   display: flex;
        //   align-items: center;
        //   justify-content: center;
        //   white-space: nowrap;
        //   min-width: min-content;
        //   @include breakpoint(max, 991px) {
        //     padding-right: 1.5rem;
        //     width: auto;
        //   }
        //   @include breakpoint(max, 500px) {
        //     padding: 0.9rem 1.5rem 0.9rem 1.5rem;
        //   }
        // }
        .inquiry-btn {
          background: #e5e7f3;
          color: #3f4373;
          font-size: 1.6rem;
          @include breakpoint(max, 991px) {
            font-size: 1.4rem;
          }
          @include breakpoint(max, 768px) {
            font-size: 1.2rem;
          }
          @include breakpoint(max, 500px) {
            padding: 1.2rem 2rem;
          }
        }
        .select-count {
          @include trans(0.3s);
          display: flex;
          align-items: center;
          position: absolute;
          right: 0;
          top: 0;
          width: 23rem; /* 230px */
          box-shadow: 0 0.9rem 4.6rem 0 rgba(#aabcd4, 0.31),
            0 0.1rem 0.2rem 0 rgba(#aabcd4, 0.27),
            0 0.2rem 0.5rem 0 /* 9px 46px 1px 2px 2px 5px */ rgba(#aabcd4, 0.19);
          border-radius: 3rem; /* 30px */
          background: $white;
          padding: 1rem 2.5rem 1rem 1rem;
          opacity: 0;
          visibility: hidden;
          z-index: 0;
          @include breakpoint(max, 1200px) {
            right: -2rem; /* -20px */
          }
          @include breakpoint(max, 991px) {
            padding: 0.7rem 1rem;
            width: 18rem; /* 180px */
          }
          @include breakpoint(max, 768px) {
            flex-wrap: wrap;
            padding: 0.7rem 0.5rem;
            width: 14rem; /* 140px */
            border-radius: 1rem; /* 10px */
          }
          @include breakpoint(max, 500px) {
            @include fontSize(12, $rootFontSize);
            right: -3rem; /* -30px */
          }
          .product-count {
            margin: 0 1rem; /* 10px */
            @include breakpoint(max, 991px) {
              margin: 0 0.5rem; /* 5px */
              padding: 0.2rem 0.5rem;
            }
            input {
              @include breakpoint(max, 991px) {
                @include fontSize(12, $rootFontSize);
                width: 1.5rem; /* 15px */
              }
            }
            &:before {
              display: none;
            }
          }
          .add-product {
            padding: 1.2rem 1.5rem;
            border-radius: 2rem; /* 20px */
            background: #4de992;
            @include breakpoint(max, 991px) {
              padding: 1rem;
            }
            @include breakpoint(max, 768px) {
              width: 100%;
              margin-top: 1rem; /* 10px */
            }
            svg {
              width: 1.6rem; /* 16px */
              height: 1.1rem; /* 11px */
              stroke: $white;
            }
          }
          &.active {
            opacity: 1;
            visibility: visible;
            z-index: 1;
          }
        }
        .msg {
          border-radius: 2rem; /* 20px */
          position: absolute;
          width: 16rem; /* 160px */
          padding: 1rem 2rem;
          @include fontSize(14, $rootFontSize);
          background: $white;
          box-shadow: 0 0.9rem 4.6rem 0 rgba(#a8c0e2, 0.31),
            0 0.2rem 0.5rem 0 rgba(#a8c0e2, 0.19),
            0 0.1rem 0.2rem 0 /* 9px 46px 2px 5px 1px 2px */ rgba(#a8c0e2, 0.27);
          top: 6.5rem; /* 65px */
          opacity: 0;
          @include trans(0.3s);
          @include calc(left, "(100% - 16rem)/2");
          @include breakpoint(max, 768px) {
            top: 5rem; /* 50px */
            @include fontSize(12, $rootFontSize);
          }
          @include breakpoint(max, 500px) {
            top: 4rem; /* 40px */
          }
          &:before {
            position: absolute;
            display: block;
            content: "";
            width: 0.4rem; /* 4px */
            height: 0.4rem; /* 4px */
            border-radius: 50%;
            background: #4ee893;
            top: -0.2rem; /* -2px */
            @include calc(left, "(100% - 0.4rem)/2");
          }
        }
        &.selected {
          .open-add {
            span {
              display: none;
            }
            background: #4ee993;
            box-shadow: 0 2.3rem 2.1rem 0 /* 23px 21px */ rgba(#4ee993, 0.42);
            svg {
              &.add-icon {
                display: none;
              }
              &.selected-icon {
                display: block;
              }
            }
          }
        }
        &.added {
          .msg {
            animation: showAnimation 5s forwards;
          }
        }
      }
    }
    .product-caption,
    .platform-name {
      @include Medium;
      display: block;
      margin-top: 1.5rem; /* 15px */
      font-size: 1.4rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      @include breakpoint(max, 991px) {
        font-size: 1.2rem;
        margin-top: 1rem; /* 5px */
      }
      @include breakpoint(max, 768px) {
        @include fontSize(12, $rootFontSize);
      }
      @include breakpoint(max, 400px) {
        @include fontSize(10, $rootFontSize);
      }

      li {
        display: inline-block;
        padding-right: 4.5rem;
        position: relative;
        @include breakpoint(max, 991px) {
          padding-right: 3rem;
        }
        &:before {
          position: absolute;
          display: block;
          content: "";
          width: 3rem;
          height: 0.1rem;
          background: #3f4373;
          right: 0.5rem;
          @include calc(top, "(100% - 0.1rem)/2");
          @include breakpoint(max, 991px) {
            width: 1.5rem;
            right: 0.8rem;
          }
        }
        &.region {
          @include breakpoint(max, 768px) {
            display: none;
          }
        }
        &:first-of-type {
          padding-right: 0;
          &:before {
            display: none;
          }
        }
      }
    }
    .sale-range {
      @include Number;

      @include fontSize(12, $rootFontSize);
      color: $red;
      padding: 0.3rem 0.5rem;
      border-radius: 1rem; /* 10px */
      border: 0.2rem /* 2px */ solid $red;
      margin-left: 0.5rem; /* 5px */
      b {
        font-family: $font-family;
      }
    }
  }
  // &.giftcard-list {
  //   .item-product {
  //     .product-info {
  //       // @include breakpoint(max, 768px) {
  //       //   @include calc(width, "(100% - 20rem)");
  //       //   flex-direction: row;
  //       // }
  //       // @include breakpoint(max, 500px) {
  //       //   @include calc(width, "(100% - 8rem)");
  //       // }
  //       .product-name {
  //         // @include breakpoint(max, 768px) {
  //         //   display: block;
  //         // }
  //         // @include breakpoint(max, 500px) {
  //         //   @include fontSize(12, $rootFontSize);
  //         // }
  //         .product-name-price {
  //           @include breakpoint(max, 768px) {
  //             display: none;
  //           }
  //         }
  //       }
  //       .product-caption {
  //         @include breakpoint(max, 768px) {
  //           margin-top: 0.5rem; /* 5px */
  //         }
  //         .price {
  //           display: none;
  //           @include Bold;
  //           @include breakpoint(max, 768px) {
  //             display: inline-block;
  //           }
  //         }
  //       }
  //       .gift-icon {
  //         width: 5rem; /* 50px */
  //         height: 5rem; /* 50px */
  //         margin-left: 5rem; /* 50px */
  //         @include breakpoint(max, 768px) {
  //           width: 4rem; /* 40px */
  //           height: 4rem; /* 40px */
  //           margin-left: 1rem; /* 10px */
  //         }
  //         img {
  //           width: 100%;
  //           height: 100%;
  //         }
  //       }
  //     }
  //     .product-buy {
  //       @include breakpoint(max, 768px) {
  //         max-width: 20rem; /* 200px */
  //       }
  //       @include breakpoint(max, 500px) {
  //         flex-direction: column;
  //       }
  //       .product-price {
  //         @include breakpoint(max, 768px) {
  //           margin-left: 0.5rem; /* 5px */
  //         }
  //         @include breakpoint(max, 500px) {
  //           margin-bottom: 0.5rem; /* 5px */
  //           margin-left: 0;
  //         }
  //         .sale-price {
  //           @include breakpoint(max, 768px) {
  //             padding-left: 2.8rem;
  //           }
  //           @include breakpoint(max, 500px) {
  //             padding-left: 2.5rem;
  //           }
  //         }
  //       }
  //     }
  //     .responsive-info {
  //       @include breakpoint(max, 768px) {
  //         justify-content: flex-end;
  //       }
  //       .product-caption {
  //         margin-top: 0rem; /* 0px */

  //         li {
  //           padding-right: 2rem;
  //           &:before {
  //             width: 1rem; /* 10px */
  //             right: 0.5rem; /* 5px */
  //           }
  //           &:first-child {
  //             padding-right: 0;
  //             &:before {
  //               display: none;
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  //   .product-name {
  //     h3 {
  //       display: flex;
  //       flex-wrap: wrap;
  //     }
  //     &-price {
  //       position: relative;
  //       padding-right: 4.7rem;
  //       display: inline-block;
  //       @include breakpoint(max, 768px) {
  //         padding-right: 15rem;
  //       }
  //       &::before {
  //         position: absolute;
  //         display: block;
  //         content: "";
  //         width: 2.5rem; /* 25px */
  //         height: 0.2rem; /* 2px */
  //         background: #9fa1b9;
  //         right: 1rem; /* 10px */
  //         top: calc((100% - 0.2rem) / 2);
  //         @include breakpoint(max, 768px) {
  //           width: 0.5rem; /* 5px */
  //           right: 0.7rem; /* 7px */
  //         }
  //       }
  //     }
  //   }
  // }
  .product-name {
    h3 {
      display: flex;
      flex-wrap: wrap;
    }
    &-price {
      position: relative;
      padding-right: 4.7rem;
      display: inline-block;
      @include breakpoint(max, 768px) {
        padding-right: 1.5rem;
      }
      &::before {
        position: absolute;
        display: block;
        content: "";
        width: 2.5rem; /* 25px */
        height: 0.2rem; /* 2px */
        background: #9fa1b9;
        right: 1rem; /* 10px */
        top: calc((100% - 0.2rem) / 2);
        @include breakpoint(max, 768px) {
          width: 0.5rem; /* 5px */
          right: 0.7rem; /* 7px */
        }
      }
    }
  }
  .filter-toggle {
    width: 5rem; /* 50px */
    height: 5rem; /* 50px */
    position: relative;
    background: $white;
    border-radius: 50%;
    display: none;
    cursor: pointer;
    @include breakpoint(max, 768px) {
      display: block;
    }
    @include breakpoint(max, 500px) {
      width: 3rem; /* 30px */
      height: 3rem; /* 30px */
    }
    svg {
      width: 2.5rem; /* 25px */
      height: 2.5rem; /* 25px */
      position: absolute;
      stroke: rgba($textColor, 0.8);
      @include calc(top, "(100% - 2.5rem)/2");
      @include calc(left, "(100% - 2.5rem)/2");
      @include breakpoint(max, 500px) {
        width: 1.5rem; /* 15px */
        height: 1.5rem; /* 15px */
        @include calc(top, "(100% - 1.5rem)/2");
        @include calc(left, "(100% - 1.5rem)/2");
      }
    }
  }
  .product-tip {
    font-weight: 500;
    padding: 1rem 10rem 1rem 7rem;
    // padding: 1rem 4.5rem 1rem 2rem;
    background: #24284a;
    box-shadow: 0 1.5rem 3.8rem 0 rgba(63, 67, 115, 0.33);
    position: relative;
    display: none;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    // font-size: 1.2rem;

    .tip-icon {
      width: 1.7rem;
      /* 17px */
      height: 1.6rem;
      /* 16px */
      position: absolute;
      right: 7rem;
      /* 70px */
      // right: 2rem;

      top: calc((100% - 1.6rem) / 2);
    }
    .activation-guid {
      float: left;
      color: #fff;
      position: relative;
      padding-right: 1.5rem;
      @include breakpoint(max, 350px) {
        display: none;
      }
      &:before {
        position: absolute;
        display: block;
        content: "?";
        color: #4de992;
        font-size: 2rem;
        right: 0;
        top: 0;
      }
    }
  }
}

.side-products {
  padding: 4rem 15% 4rem 0;
  background: $mainColor;
  margin-top: 10rem; /* 100px */
  display: flex;
  align-items: flex-start;
  position: relative;
  @include breakpoint(max, 870px) {
    padding: 2rem 10% 2rem 0;
    margin-top: 8rem; /* 80px */
  }
  @include breakpoint(max, 600px) {
    flex-direction: column;
    margin-top: 4rem;
    padding: 2rem 1.5rem;
  }
  .cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
  }
  .side-product-description {
    width: 32rem;
    position: relative;
    z-index: 1;

    @include breakpoint(max, 870px) {
      width: 25rem;
    }
    @include breakpoint(max, 600px) {
      width: 100%;
      margin-bottom: 2rem;
      padding-left: 2rem;
      padding-top: 0;
    }
    .icon {
      width: 5.5rem;
      height: 5.5rem;
      position: relative;
      border-radius: 50%;
      background: #ffd21d;
      @include breakpoint(max, 991px) {
        width: 5rem;
        height: 5rem;
        margin-top: 0;
      }
      @include breakpoint(max, 600px) {
        width: 4rem;
        height: 4rem;
        display: inline-block;
        vertical-align: middle;
        margin-left: 1rem;
      }
      svg {
        width: 3rem;
        height: 1.5rem;
        position: absolute;
        @include calc(top, "(100% - 1.5rem)/2");
        @include calc(left, "(100% - 3rem)/2");
        @include breakpoint(max, 600px) {
          width: 2.5rem;
          height: 1.2rem;
          @include calc(top, "(100% - 1.2rem)/2");
          @include calc(left, "(100% - 2.5rem)/2");
        }
      }
    }
    .title {
      max-width: 10rem;
      color: #fff;
      margin-top: 1rem;
      line-height: 1.3;
      @include fontSize(24, $rootFontSize);
      @include breakpoint(max, 870px) {
        max-width: unset;
        @include fontSize(20, $rootFontSize);
      }
      @include breakpoint(max, 600px) {
        display: inline-block;
        @include fontSize(17, $rootFontSize);
      }
    }
    p {
      @include Medium;
      color: rgba(#b0b6e7, 0.84);
      margin-top: 3rem;
      max-width: 27rem;
      line-height: 1.5;
      font-size: 1.4rem;

      @include breakpoint(max, 870px) {
        font-size: 1.3rem;
        max-width: 23rem;
      }
      @include breakpoint(max, 600px) {
        max-width: unset;
        margin-top: 1rem;
      }
    }
  }
  .side-product-list {
    @include calc(width, "(100% - 32rem)");
    @include breakpoint(max, 870px) {
      @include calc(width, "(100% - 25rem)");
    }
    @include breakpoint(max, 600px) {
      width: 100%;
    }
  }
}
.description-wrap {
  margin-top: 11rem;
  border-radius: 5rem 5rem 0 0;
  padding: 7.5rem 10% 29.5rem 10%;
  background: #f3f4fb;
  overflow: hidden;
  @include breakpoint(max, 1200px) {
    padding: 5.5rem 7% 20rem 7%;
  }
  @include breakpoint(max, 991px) {
    padding: 5.5rem 4% 20rem 4%;
    border-radius: 3rem 3rem 0 0;
    margin-top: 7rem;
  }
  @include breakpoint(max, 768px) {
    padding: 3rem 1.5rem 4rem 1.5rem;
    border-radius: 1.5rem 1.5rem 0 0;
  }
  @include breakpoint(max, 600px) {
    margin-top: 4rem;
  }
  &.giftcard-description {
    padding-bottom: 2rem;
    margin-top: 0;
    position: relative;
    background: #e6e8f2;
    border-radius: 0;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #f3f4fb;
      border-radius: 5rem 5rem 0 0;
      @include breakpoint(max, 991px) {
        border-radius: 3rem 3rem 0 0;
      }
      @include breakpoint(max, 768px) {
        border-radius: 1.5rem 1.5rem 0 0;
      }
    }
  }
  .tab-holder {
    display: flex;
    align-items: flex-end;
    width: 100%;
    border-bottom: 0.1rem solid #d4d7f1;
    position: relative;
    z-index: 1;
    @include breakpoint(max, 400px) {
      display: none;
    }
    li {
      padding: 0 1rem 3rem 1rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      color: rgba(#3f4373, 0.8);
      cursor: pointer;
      @include Heavy;
      @include trans(0.3s);
      @include calc(width, "(100% / 5)");
      @include breakpoint(max, 1200px) {
        font-size: 1.6rem;
      }
      @include breakpoint(max, 991px) {
        font-size: 1.4rem;
        padding-bottom: 2rem;
      }
      @include breakpoint(max, 768px) {
        font-size: 1.2rem;
        padding: 0 0 1.5rem 0;
      }
      @include breakpoint(max, 500px) {
        font-size: 1rem;
      }
      &:after {
        @include trans(0.3s);
        position: absolute;
        display: block;
        content: "";
        width: 0;
        height: 0.2rem;
        background: $red;
        bottom: -0.1rem;
        right: 0;
      }
      svg {
        stroke: rgba(#3f4373, 0.8);
        fill: rgba(#3f4373, 0.8);
        margin-left: 1rem;
        overflow: visible;
        @include breakpoint(max, 768px) {
          margin-left: 0.5rem;
        }
        @include breakpoint(max, 600px) {
          display: none;
        }
      }
      &#aboutGame {
        svg {
          width: 1.8rem;
          height: 1.8rem;
          @include breakpoint(max, 991px) {
            width: 1rem;
            height: 1rem;
          }
          @include breakpoint(max, 768px) {
            width: 0.7rem;
            height: 0.7rem;
          }
        }
      }
      &#comment {
        svg {
          width: 2.9rem;
          height: 2.4rem;
          @include breakpoint(max, 991px) {
            width: 2.1rem;
            height: 1.6rem;
          }
          @include breakpoint(max, 768px) {
            width: 1.8rem;
            height: 1.3rem;
          }
        }
      }
      &#requiredsystem {
        svg {
          width: 3.4rem;
          height: 2.5rem;
          @include breakpoint(max, 991px) {
            width: 2.6rem;
            height: 1.7rem;
          }
          @include breakpoint(max, 768px) {
            width: 2.3rem;
            height: 1.4rem;
          }
        }
      }
      &#shoppingGuid {
        svg {
          width: 2.4rem;
          height: 2.4rem;
          @include breakpoint(max, 991px) {
            width: 1.6rem;
            height: 1.6rem;
          }
          @include breakpoint(max, 768px) {
            width: 1.3rem;
            height: 1.3rem;
          }
        }
      }
      &#gallery {
        svg {
          width: 2.9rem;
          height: 2.3rem;
          @include breakpoint(max, 991px) {
            width: 2.1rem;
            height: 1.5rem;
          }
          @include breakpoint(max, 768px) {
            width: 1.8rem;
            height: 1.2rem;
          }
        }
      }
      &.active {
        color: #3f4373;
        svg {
          stroke: #3f4373;
          fill: #3f4373;
        }
        &:after {
          width: 100%;
        }
      }
    }
  }
  .tab-content-holder {
    position: relative;
    margin-top: 7rem;
    // overflow: hidden;
    @include breakpoint(max, 991px) {
      margin-top: 5rem;
    }
    @include breakpoint(max, 600px) {
      margin-top: 3rem;
    }
  }
  .tab-content {
    @include trans(0.3s);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    @include breakpoint(max, 400px) {
      position: relative;
      opacity: 1;
      visibility: visible;
      z-index: 1;
      margin-bottom: 4rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.active {
      position: relative;
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }
  }
}
.trailer-desc {
  margin: 2rem 0;
  line-height: 1.8;
  font-size: 1.6rem;
  @include breakpoint(max, 767px) {
    display: none;
  }
}
.trailer-wrapper {
  @include lightshadow();
  border-radius: 1rem;
  height: 48rem;
  background: #242845;
  overflow: hidden;
  position: relative;
  margin-bottom: 3rem;
  @include breakpoint(max, 1199px) {
    height: 38rem;
  }
  @include breakpoint(max, 767px) {
    height: 30rem;
  }
  @include breakpoint(max, 500px) {
    height: 22rem;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.15;
  }
  .trailer-cover {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .play {
      width: 7rem; /* 70px */
      height: 7rem; /* 70px */
      border-radius: 50%;
      background: $red;
      box-shadow: 0 0.8rem 2.7rem 0 /* 8px 27px */ rgba($red, 0.23);
      position: relative;
      @include breakpoint(max, 991px) {
        width: 5rem; /* 50px */
        height: 5rem; /* 50px */
      }
      @include breakpoint(max, 500px) {
        width: 4rem; /* 40px */
        height: 4rem; /* 40px */
      }
      svg {
        width: 1.6rem; /* 16px */
        height: 2.1rem; /* 21px */
        fill: #fff;
        stroke: #fff;
        position: absolute;
        @include calc(top, "(100% - 2.1rem)/2");
        @include calc(left, "(100% - 1.6rem)/2");
        @include breakpoint(max, 991px) {
          width: 1.2rem; /* 12px */
          height: 1.7rem; /* 17px */
          @include calc(top, "(100% - 1.7rem)/2");
          @include calc(left, "(100% - 1.2rem)/2");
        }
        @include breakpoint(max, 500px) {
          width: 1rem; /* 10px */
          height: 1.5rem; /* 15px */
          @include calc(top, "(100% - 1.5rem)/2");
          @include calc(left, "(100% - 1rem)/2");
        }
      }
    }
    .title {
      @include Bold;
      @include fontSize(20, $rootFontSize);
      color: #fff;
      margin-top: 2rem; /* 20px */
      text-align: center;
      padding: 0 1.5rem;
      @include breakpoint(max, 500px) {
        @include fontSize(17, $rootFontSize);
      }
    }
    .duration {
      padding: 0.5rem 2rem 0.3rem 2rem;
      border-radius: 2rem;
      border: 0.1rem solid #878997;
      color: #fff;
      font-size: 1.8rem;
      margin-top: 2.5rem;
      @include Number;
      @include breakpoint(max, 991px) {
        @include fontSize(16, $rootFontSize);
        padding: 0.6rem 1.5rem 0.1rem 1.5rem;
        margin-top: 1.5rem;
      }
      @include breakpoint(max, 500px) {
        @include fontSize(14, $rootFontSize);
      }
    }
  }
}
.description-content-box {
  @include lightshadow;
  background: #fff;
  border-radius: 1rem;
  position: relative;
  display: flex;
  align-items: stretch;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(#a8c0e2, 0.27),
    0 0.2rem 0.5rem 0 rgba(#a8c0e2, 0.19);
  .description-categorize {
    width: 22rem; /* 220px */
    position: sticky;
    z-index: 1;
    top: 0;
    padding: 6rem 5rem 0rem 0.5rem;
    display: flex;
    flex-direction: column;
    @include breakpoint(max, 1199px) {
      width: 18rem; /* 180px */
      padding: 2rem 1.5rem;
    }
    @include breakpoint(max, 768px) {
      width: 9rem; /* 90px */
      padding: 1rem;
    }
    @include breakpoint(max, 550px) {
      display: none;
    }
    .cat-item {
      margin-bottom: 8rem; /* 80px */
      @include breakpoint(max, 1199px) {
        margin-bottom: 5rem; /* 50px */
      }
      @include breakpoint(max, 768px) {
        margin-bottom: 2rem; /* 20px */
      }
      cursor: pointer;
      .icon {
        @include trans(0.3s);
        width: 5.5rem; /* 55px */
        height: 5.5rem; /* 55px */
        position: relative;
        border-radius: 50%;
        background: $white;
        @include lightshadow();
        @include breakpoint(max, 1199px) {
          margin: auto;
        }
        @include breakpoint(max, 768px) {
          width: 3.5rem; /* 35px */
          height: 3.5rem; /* 35px */
        }
        svg {
          @include trans(0.3s);
          width: 2rem; /* 20px */
          height: 2rem; /* 20px */
          position: absolute;
          stroke: $textColor;
          @include calc(top, "(100% - 2rem)/2");
          @include calc(left, "(100% - 2rem)/2");
          @include breakpoint(max, 768px) {
            width: 1.5rem;
            height: 1.5rem;
            @include calc(top, "(100% - 1.5rem)/2");
            @include calc(left, "(100% - 1.5rem)/2");
          }
        }
      }
      .title-text {
        @include Bold;
        display: block;
        @include fontSize(20, $rootFontSize);
        margin-top: 2rem;
        color: #3f4373;
        line-height: 1.3;
        @include breakpoint(max, 1199px) {
          max-width: unset;
          text-align: center;
          @include fontSize(18, $rootFontSize);
        }
        @include breakpoint(max, 991px) {
          @include fontSize(15, $rootFontSize);
        }
        @include breakpoint(max, 768px) {
          @include fontSize(12, $rootFontSize);
          max-width: 6rem; /* 60px */
          margin: 1rem /* 10px */ auto auto;
        }
      }
      &.active {
        .icon {
          background: $red;
          box-shadow: 0 0.8rem 2.7rem 0 /* 8px 27px */ rgba($red, 0.23);
          svg {
            stroke: #fff;
          }
        }
        .title-text {
          @include Heavy;
          color: $textColor;
        }
      }
    }
  }
  .description-content {
    border-right: 0.1rem solid #e8ecf8;
    padding: 5rem 6rem;
    @include calc(width, "(100% - 22rem)");
    @include breakpoint(max, 1199px) {
      @include calc(width, "(100% - 18rem)");
      padding: 2rem 3rem;
    }
    @include breakpoint(max, 768px) {
      @include calc(width, "(100% - 9rem)");
      padding: 1.5rem;
    }
    @include breakpoint(max, 550px) {
      width: 100%;
    }
  }
  p {
    margin: 2rem 0; /* 20px */
    line-height: 1.8;
    @include fontSize(16, $rootFontSize);
    @include breakpoint(max, 991px) {
      @include fontSize(14, $rootFontSize);
    }
    @include breakpoint(max, 768px) {
      @include fontSize(12, $rootFontSize);
    }
    @include breakpoint(max, 550px) {
      @include fontSize(11, $rootFontSize);
    }
    a {
      @include trans(0.2s);
      margin: 0 0.3rem;
      position: relative;
      &:after {
        @include trans(0.2s);
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: #3f4373;
        right: 0;
        bottom: 2px;
      }
      &:hover {
        color: $red;
        &:after {
          background: $red;
        }
      }
    }
  }
  h4 {
    @include fontSize(18, $rootFontSize);
    margin-top: 3rem; /* 30px */
    @include breakpoint(max, 600px) {
      @include fontSize(16, $rootFontSize);
    }
  }
  .wp-caption,
  .desc-img {
    border-radius: 1rem; /* 10px */
    overflow: hidden;
    margin-top: 6rem; /* 60px */
    background: $white;
    @include lightshadow();
    @include breakpoint(max, 991px) {
      margin-top: 3rem; /* 30px */
    }
    @include breakpoint(max, 768px) {
      border-radius: 0.5rem; /* 5px */
    }
    .image-holder {
      position: relative;
      overflow: hidden;
      img {
        height: 40rem; /* 400px */
        width: 100%;
        object-fit: cover;
        @include breakpoint(max, 1200px) {
          height: 35rem; /* 350px */
        }
        @include breakpoint(max, 991px) {
          height: 25rem; /* 250px */
        }
        @include breakpoint(max, 768px) {
          height: 20rem; /* 200px */
        }
      }
    }
    .wp-caption-text,
    .about-img__caption {
      text-align: center;
      padding: 1rem;
      color: rgba(#62658a, 0.7);
      @include fontSize(13, $rootFontSize);
      @include breakpoint(max, 768px) {
        @include fontSize(11, $rootFontSize);
        padding: 0.5rem;
      }
    }
  }
  .property-item {
    position: relative;
    padding-right: 3rem;
    &:before {
      position: absolute;
      display: block;
      content: "";
      width: 2rem; /* 20px */
      height: 0.2rem; /* 2px */
      background: rgba($mainColor, 0.1);
      top: 1rem; /* 10px */
      right: 0;
    }
  }
  .properties-section {
    margin-top: 7rem; /* 70px */
    @include breakpoint(max, 991px) {
      margin-top: 5rem; /* 50px */
    }
  }
  .required-section {
    .caption {
      display: block;
      width: 50%;
      text-align: right;
      @include fontSize(14, $rootFontSize);
      line-height: 1.5;
      margin: 1rem auto 0 0; /* 10px */
      @include breakpoint(max, 991px) {
        width: 80%;
      }
      @include breakpoint(max, 768px) {
        @include fontSize(10, $rootFontSize);
      }
      @include breakpoint(max, 550px) {
        width: 100%;
      }
    }
  }
  .required-row {
    display: flex;
    padding: 2rem 0;
    border-bottom: 0.1rem /* 1px */ solid #ebecf1;
    justify-content: space-between;
    @include breakpoint(max, 991px) {
      padding: 1rem 0;
    }
    .required-part {
      width: 15%;
      text-align: right;
      font-size: 1.8rem;
      color: rgba(#3f4373, 0.7);
      @include breakpoint(max, 1199px) {
        font-size: 1.6rem;
      }
      @include breakpoint(max, 991px) {
        font-size: 1.4rem;
      }
      @include breakpoint(max, 768px) {
        font-size: 1.2rem;
      }
    }
    .minimum,
    .suggested {
      width: 35%;
      font-size: 1.6rem;
      text-align: left;
      line-height: 1.5;
      @include Heavy;
      @include breakpoint(max, 991px) {
        @include fontSize(14, $rootFontSize);
      }
      @include breakpoint(max, 768px) {
        @include fontSize(12, $rootFontSize);
      }
      @include breakpoint(max, 550px) {
        @include fontSize(10, $rootFontSize);
      }
    }
    &.header {
      border-bottom: none;
      .minimum,
      .suggested {
        text-align: right;
        @include fontSize(18, $rootFontSize);
        @include Heavy;
        @include breakpoint(max, 768px) {
          @include fontSize(14, $rootFontSize);
        }
        @include breakpoint(max, 550px) {
          @include fontSize(12, $rootFontSize);
        }
        svg {
          width: 1.6rem; /* 16px */
          height: 1.6rem; /* 16px */
          stroke: $red;
          display: inline-block;
          vertical-align: middle;
          margin: 0 0.5rem; /* 5px */
          @include breakpoint(max, 768px) {
            width: 1.2rem; /* 12px */
            height: 1.2rem; /* 12px */
          }
          @include breakpoint(max, 550px) {
            width: 0.8rem;
            height: 0.8rem;
          }
        }
      }
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
  .guide-section {
    .shopping-steps {
      margin-top: 6rem;
      @include breakpoint(max, 768px) {
        margin-top: 3rem;
      }
      p {
        position: relative;
        margin: 0 0 2.5rem 0;
        padding-right: 3.5rem;
        @include breakpoint(max, 768px) {
          margin: 0 0 1.5rem 0;
        }
        @include breakpoint(max, 600px) {
          padding-right: 2.5rem;
        }
        &:before {
          @include Bold;
          @include trans(0.3s);
          position: absolute;
          display: block;
          content: attr(data-num);
          @include fontSize(12, $rootFontSize);
          color: #9399c7;
          padding: 0.2rem 2rem 0.1rem 0.8rem;
          border-radius: 1.5rem; /* 15px */
          top: 0;
          right: -1.5rem; /* -15px */
          @include breakpoint(max, 600px) {
            padding-right: 1.5rem;
            right: -1rem; /* -10px */
          }
        }
        &:hover {
          &:before {
            color: #fff;
            background: $red;
          }
        }
      }
    }
  }
  .questions-section {
    margin-top: 8.5rem; /* 85px */
    @include breakpoint(max, 991px) {
      margin-top: 5rem; /* 50px */
    }
    @include breakpoint(max, 768px) {
      margin-top: 3rem; /* 30px */
    }
    .question-item {
      padding: 2rem 8rem 2rem 4rem;
      position: relative;
      border: 0.1rem /* 1px */ solid #e1eaf7;
      border-radius: 3rem; /* 30px */
      color: #3f4373;
      cursor: pointer;
      margin-bottom: 2rem; /* 20px */
      @include breakpoint(max, 768px) {
        padding: 1.5rem 4.5rem 1.5rem 2rem;
        border-radius: 2rem; /* 20px */
      }
      &:before {
        @include Heavy;
        @include trans(0.3s);
        display: block;
        position: absolute;
        content: attr(data-num);
        width: 4.3rem; /* 43px */
        height: 4.3rem; /* 43px */
        text-align: center;
        @include fontSize(20, $rootFontSize);
        color: rgba(#3f4373, 0.5);
        background: #f4f6fd;
        border-radius: 50%;
        right: 0.7rem; /* 7px */
        top: 0.7rem; /* 7px */
        padding-top: 1.5rem;
        @include breakpoint(max, 768px) {
          width: 3rem; /* 30px */
          height: 3rem; /* 30px */
          @include fontSize(14, $rootFontSize);
          padding-top: 1rem;
        }
      }
      .question {
        @include Bold;
        @include fontSize(18, $rootFontSize);
        display: block;
        @include breakpoint(max, 991px) {
          @include fontSize(16, $rootFontSize);
        }
        @include breakpoint(max, 768px) {
          @include fontSize(13, $rootFontSize);
        }
      }
      .answer {
        @include Medium;
        margin-top: 1.5rem; /* 15px */
        padding: 4rem 0 2rem 2rem;
        @include fontSize(17, $rootFontSize);
        border-top: 0.1rem /* 1px */ solid #e8e9f6;
        display: none;
        line-height: 1.5;
        @include breakpoint(max, 768px) {
          @include fontSize(12, $rootFontSize);
          padding: 2rem 0 1rem 1rem;
        }
      }
      .arrow {
        @include trans(0.3s);
        position: absolute;
        width: 0.7rem; /* 7px */
        height: 1.2rem; /* 12px */
        stroke: #8c90b1;
        left: 2.5rem; /* 25px */
        top: 2.5rem; /* 25px */
        @include breakpoint(max, 768px) {
          width: 0.5rem; /* 5px */
          height: 0.9rem; /* 9px */
          left: 1.5rem; /* 15px */
          top: 1.7rem; /* 17px */
        }
      }
      &.active {
        &:before {
          background: $red;
          color: #fff;
        }
        .arrow {
          @include rotate(90deg);
        }
      }
    }
  }
  .responsive-title {
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.1rem /* 1px */ solid #e8ecf8;
    padding-bottom: 1rem;
    margin-bottom: 1rem; /* 10px */
    display: none;
    @include breakpoint(max, 550px) {
      display: flex;
    }
    .icon {
      @include trans(0.3s);
      @include lightshadow();
      position: relative;
      border-radius: 50%;
      background: $white;
      width: 2.5rem; /* 25px */
      height: 2.5rem; /* 25px */
      svg {
        @include trans(0.3s);
        position: absolute;
        stroke: $textColor;
        width: 1rem; /* 10px */
        height: 1rem; /* 10px */
        @include calc(top, "(100% - 1rem)/2");
        @include calc(left, "(100% - 1rem)/2");
      }
    }
    .title-text {
      @include Bold;
      color: #3f4373;
      line-height: 1.3;
      @include fontSize(12, $rootFontSize);
      margin-right: 1rem; /* 10px */
    }
  }
  .rate-holder {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include breakpoint(max, 600px) {
      flex-direction: column-reverse;
      align-items: center;
    }
    .total-rate-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 20rem;
      @include breakpoint(max, 991px) {
        width: 15rem;
      }
      @include breakpoint(max, 600px) {
        margin-top: 2rem;
      }
      .total-rate {
        @include Number;
        font-size: 4.8rem;
        color: #3f4373;
        @include breakpoint(max, 991px) {
          font-size: 3.5rem;
        }
      }
      .total-star {
        margin-right: 1rem;
        svg {
          display: inline-block;
          vertical-align: middle;
          width: 1.7rem;
          height: 1.7rem;
          fill: rgba(#ffd21d, 0.3);
          margin: 0 -0.2rem;
          &.gold {
            fill: #ffd21d;
          }
        }
        span {
          display: block;
          font-size: 1.5rem;
          color: rgba(#3f4373, 0.6);
          margin-top: 0.5rem;
          @include Bold;
          @include breakpoint(max, 991px) {
            font-size: 1.3rem;
          }
          b {
            @include Number;
          }
        }
      }
      .btn {
        width: 100%;
        font-size: 1.8rem;
        margin-top: 3rem;
        padding-right: 5.3rem;
        @include breakpoint(max, 1199px) {
          font-size: 1.6rem;
        }
        @include breakpoint(max, 991px) {
          font-size: 1.4rem;
          padding-right: 4.3rem;
        }
        @include breakpoint(max, 768px) {
          font-size: 1.3rem;
          padding-right: 3.3rem;
          padding-left: 1rem;
          margin-top: 2rem;
        }
        svg {
          @include breakpoint(max, 991px) {
            right: 2.5rem;
          }
        }
      }
    }
    .divided-star {
      @include breakpoint(max, 600px) {
        width: 100%;
      }
      .divided-row {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        @include breakpoint(max, 768px) {
          margin-bottom: 1rem;
        }
        .count-star {
          font-size: 1.3rem;
          color: rgba(#3f4373, 0.8);
          width: 4rem;
          @include breakpoint(max, 768px) {
            font-size: 1.1rem;
            width: 3.5rem;
          }
          b {
            @include Number;
          }
        }
        .count-vote {
          @include Number;
          font-size: 1.3rem;
          color: rgba(#436686, 0.7);
          @include breakpoint(max, 768px) {
            font-size: 1rem;
          }
          @include breakpoint(max, 600px) {
            width: 3.5rem;
          }
        }
        .bar {
          width: 20rem;
          height: 0.3rem;
          background: #ebecf1;
          margin: 0 1rem;
          position: relative;
          @include breakpoint(max, 991px) {
            width: 15rem;
          }
          @include breakpoint(max, 600px) {
            @include calc(width, "(100% - 10rem)");
          }
          &:before {
            position: absolute;
            display: block;
            content: "";
            width: var(--width);
            height: 100%;
            background: $red;
            bottom: 0;
            right: 0;
          }
        }
      }
    }
  }
  .user-comment-wrap {
    // margin-top: 7.5rem;
    // @include breakpoint(max, 768px) {
    //   margin-top: 4rem;
    // }
    .review-list {
      margin-top: 7.5rem;
      @include breakpoint(max, 768px) {
        margin-top: 4rem;
      }
    }
    .user-comment {
      display: flex;
      align-items: center;
      padding: 3rem 0;
      border-radius: 1.1rem;
      overflow: hidden;
      background: #fafbfd;
      margin-bottom: 1.5rem;
      box-shadow: 0 0.1rem 0.2rem 0 rgba(#a8c0e2, 0.27),
        0 0.2rem 0.5rem 0 rgba(#a8c0e2, 0.19);
      @include breakpoint(max, 768px) {
        padding: 2rem 0;
      }
      @include breakpoint(max, 600px) {
        flex-direction: column-reverse;
        align-items: flex-start;
      }
      .user-name {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 20rem;
        font-size: 1.6rem;
        padding: 1rem;
        position: relative;
        @include Bold;
        @include breakpoint(max, 991px) {
          font-size: 1.4rem;
          width: 15rem;
        }
        @include breakpoint(max, 768px) {
          font-size: 1.2rem;
          width: 12rem;
        }
        @include breakpoint(max, 600px) {
          width: 100%;
          align-items: flex-end;
          flex-direction: row;
          justify-content: flex-end;
        }
        .date {
          @include Medium;
          font-size: 1.4rem;
          color: rgba(#3f4373, 0.8);
          margin-top: 1.3rem;
          @include breakpoint(max, 991px) {
            font-size: 1.2rem;
          }
          @include breakpoint(max, 768px) {
            font-size: 1rem;
          }
          @include breakpoint(max, 600px) {
            margin-top: 0;
          }
          b {
            @include Number;
            margin: 0 0.5rem;
          }
        }
        &:after {
          position: absolute;
          display: block;
          content: "";
          width: 0.1rem;
          height: 5.5rem;
          left: 0;
          background: #e8ecf8;
          @include calc(top, "(100% - 5.5rem)/2");
        }
      }
      .comment-text {
        @include calc(width, "(100% - 20rem)");
        padding: 0 4.5rem 0 2.5rem;
        @include breakpoint(max, 1199px) {
          padding: 0 2.5rem;
        }
        @include breakpoint(max, 991px) {
          padding: 0 2rem;
          @include calc(width, "(100% - 15rem)");
        }
        @include breakpoint(max, 768px) {
          @include calc(width, "(100% - 12rem)");
        }
        @include breakpoint(max, 600px) {
          width: 100%;
        }
        .comment-title {
          display: flex;
          align-items: center;
          @include breakpoint(max, 768px) {
            flex-direction: column-reverse;
            align-items: flex-start;
          }
          span {
            font-size: 1.6rem;
            @include Heavy;
            @include calc(max-width, "(100% - 12rem)");
            @include breakpoint(max, 768px) {
              max-width: 100%;
              font-size: 1.4rem;
            }
          }
          .user-rate {
            margin-right: auto;
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            color: rgba(#3f4373, 0.8);
            width: 11rem;
            @include Number;
            @include breakpoint(max, 768px) {
              margin-right: unset;
              margin-bottom: 1rem;
              font-size: 1.3rem;
            }
            .user-star {
              margin-right: 1rem;
              svg {
                display: inline-block;
                vertical-align: middle;
                width: 1.7rem;
                height: 1.7rem;
                fill: rgba(#ffd21d, 0.3);
                margin: 0 -0.3rem;
                @include breakpoint(max, 768px) {
                  width: 1.3rem;
                  height: 1.3rem;
                }
                &.gold {
                  fill: #ffd21d;
                }
              }
            }
          }
        }
        p {
          font-size: 1.6rem;
          color: rgba(#3f4373, 0.8);
          margin-top: 2rem;
          margin-bottom: 0;
          @include breakpoint(max, 1199px) {
            font-size: 1.4rem;
          }
          @include breakpoint(max, 768px) {
            font-size: 1.2rem;
            margin-top: 1rem;
          }
        }
      }
    }
  }
}

.title-right.active .side-title .side-icon svg {
  fill: #ffffff !important;
}
// .filter-responsive {
//   display: flex;
//   padding: 4rem;
//   position: fixed;
//   top: 0;
//   right: -100%;
//   z-index: 10;
//   background-color: #f7f8ff;
//   overflow-y: auto;
//   flex-direction: column;
//   align-items: center;
//   width: 100%;
//   @include trans(0.3s);
//   &.active {
//     top: 0rem; /* 0px */
//     left: 0;
//     right: 0;
//     bottom: 0;
//   }
//   .filter-holder {
//     @include lightshadow;
//     background: $white;
//     width: 100%;
//     border-radius: 1rem; /* 10px */
//     margin-bottom: 3rem; /* 30px */
//     .filter-holder-title {
//       padding: 1rem 2rem;
//       border-bottom: 0.1rem /* 1px */ solid rgba($textColor, 0.05);
//       @include fontSize(16, $rootFontSize);
//       @include Bold;
//     }
//     input[type="radio"] {
//       display: none;
//       &:checked {
//         + label {
//           &:before {
//             background-color: $red;
//             border-color: $red;
//           }
//         }
//       }
//     }
//     label {
//       position: relative;
//       display: block;
//       padding: 1rem 4rem 1rem 1rem;
//       &:before {
//         position: absolute;
//         display: block;
//         content: "";
//         width: 1.5rem; /* 15px */
//         height: 1.5rem; /* 15px */
//         border-radius: 50%;
//         border: 0.2rem /* 2px */ solid rgba($textColor, 0.09);
//         right: 1rem; /* 10px */
//         @include trans(0.3s);
//         @include calc(top, "(100% - 1.5rem)/2");
//       }
//     }
//   }
//   .close-filter {
//     width: 3rem; /* 30px */
//     height: 3rem; /* 30px */
//     position: relative;
//     margin-bottom: 1.5rem; /* 15px */
//     align-self: flex-start;
//     svg {
//       width: 1.5rem; /* 15px */
//       height: 1.5rem; /* 15px */
//       position: absolute;
//       stroke: $red;
//       @include calc(top, "(100% - 1.5rem)/2");
//       @include calc(left, "(100% - 1.5rem)/2");
//     }
//   }
// }

.highlight {
  width: 100%;
  display: flex;
  margin: 3rem 0;
  align-items: flex-start;
  background: #e8ecf8;
  border-radius: 1rem;
  padding: 1.5rem;
  @include breakpoint(max, 991px) {
    flex-direction: column;
  }
  .title {
    position: relative;
    width: 20rem;
    padding-right: 1rem;
    line-height: 1.4;
    margin-left: 2rem;
    @include fontSize(17, $rootFontSize);
    @include breakpoint(max, 991px) {
      width: 100%;
      margin-left: 0;
      margin-bottom: 1.5rem;
      @include fontSize(16, $rootFontSize);
    }
    @include breakpoint(max, 600px) {
      @include fontSize(14, $rootFontSize);
      margin-bottom: 1rem;
    }
    @include breakpoint(max, 400px) {
      @include fontSize(13, $rootFontSize);
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 0.3rem;
      height: 100%;
      background: #24284a;
      top: 0;
      right: 0;
    }
  }
  p {
    @include calc(width, "(100% - 24rem)");
    margin: 0;
    @include fontSize(15, $rootFontSize);
    @include breakpoint(max, 991px) {
      width: 100%;
      padding-right: 1rem;
      @include fontSize(14, $rootFontSize);
    }
    a {
      @include trans(0.2s);
      margin: 0 0.3rem;
      position: relative;
      &:after {
        @include trans(0.2s);
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: #3f4373;
        right: 0;
        bottom: 2px;
      }
      &:hover {
        color: $red;
        &:after {
          background: $red;
        }
      }
    }
    span,
    b,
    strong {
      color: $red;
    }
  }
}
.product-suggest {
  @include breakpoint(max, 600px) {
    padding: 0 1.5rem !important;
  }
  .title-warp {
    @include breakpoint(max, 600px) {
      padding: 0;
    }
  }
}
