.dashboard-title {
  padding: 4.9rem 0 3.4rem 0;
  display: flex;
  align-items: center;
  @include breakpoint(max, 1300px) {
    padding: 3.9rem 0 2.4rem 0;
  }
  @include breakpoint(max, 768px) {
    padding: 2.4rem 0 2rem 0;
  }
  @include breakpoint(max, 400px) {
    padding: 1.5rem 0;
  }
  .icon {
    margin-left: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    @include breakpoint(max, 768px) {
      margin-left: 0.8rem;
    }
    @include breakpoint(max, 400px) {
      margin-left: 0.3rem;
    }
    svg {
      stroke: rgba(#8c90b1, 0.4);
      &#redeem {
        width: 1.9rem; /* 19px */
        height: 2.6rem; /* 26px */
        @include breakpoint(max, 768px) {
          width: 1.7rem; /* 17px */
          height: 2.4rem; /* 24px */
        }
        @include breakpoint(max, 600px) {
          width: 1.5rem; /* 15px */
          height: 2.2rem; /* 22px */
        }
      }
      &#account {
        width: 2.6rem;
        height: 1.8rem;
        @include breakpoint(max, 768px) {
          width: 2.4rem;
          height: 1.6rem;
        }
        @include breakpoint(max, 600px) {
          width: 2.2rem;
          height: 1.4rem;
        }
      }
      &#orderlist {
        width: 2.2rem;
        height: 2.4rem;
        fill: rgba(#8c90b1, 0.4);
      }
    }
  }
  .title {
    @include Heavy;
    @include fontSize(26, $rootFontSize);
    margin-left: 1rem;
    margin-bottom: 0;
    @include breakpoint(max, 1300px) {
      @include fontSize(22, $rootFontSize);
    }
    @include breakpoint(max, 768px) {
      @include fontSize(19, $rootFontSize);
    }
    @include breakpoint(max, 600px) {
      @include fontSize(18, $rootFontSize);
    }
    @include breakpoint(max, 400px) {
      margin-left: 0;
      @include fontSize(14, $rootFontSize);
    }
    .guid-redeem {
      display: none;
      font-size: 1.2rem;
      color: rgba(#3f4373, 0.8);
      @include breakpoint(max, 600px) {
        display: inline-block;
        margin-right: auto;
      }
      .guid-icon {
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        background: #4de992;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.5rem;
        svg {
          width: 0.5rem;
          height: 1rem;
          stroke: #fff;
          position: absolute;
          @include calc(top, "(100% - 1rem)/2");
          @include calc(left, "(100% - 0.5rem)/2");
        }
      }
    }
  }
  .fast-link {
    li {
      display: inline-block;
      position: relative;
      color: rgba(#3f4373, 0.8);
      padding-left: 1rem;
      @include fontSize(12, $rootFontSize);
      @include breakpoint(max, 768px) {
        @include fontSize(10, $rootFontSize);
      }
      @include breakpoint(max, 600px) {
        display: none;
      }
      &:after {
        position: absolute;
        display: block;
        content: ">";
        left: 0.1rem; /* 1px */
        top: 0;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
  .btn {
    margin-right: auto;
    padding: 1.7rem 6rem 1.1rem 3rem;
    @include fontSize(16, $rootFontSize);
    @include breakpoint(max, 768px) {
      padding: 1.5rem 5rem 1rem 3rem;
      @include fontSize(14, $rootFontSize);
    }
    @include breakpoint(max, 600px) {
      padding: 1.2rem 3.5rem 0.8rem 2rem;
      @include fontSize(12, $rootFontSize);
    }
    // @include breakpoint(max, 500px) {
    //   margin-right: unset;
    //   margin-top: 1rem;
    // }
    &.btn--text--left {
      svg {
        width: 1.2rem; /* 12px */
        height: 1.2rem; /* 12px */
        @include calc(top, "(100% - 1.2rem)/2");
        @include breakpoint(max, 768px) {
          width: 1rem; /* 10px */
          height: 1rem; /* 10px */
          @include calc(top, "(100% - 1rem)/2");
        }
        @include breakpoint(max, 600px) {
          width: 0.8rem; /* 8px */
          height: 0.8rem; /* 8px */
          right: 1.5rem;
          @include calc(top, "(100% - 0.8rem)/2");
        }
      }
    }
  }
  .not-redeemed {
    display: flex;
    align-items: center;
    margin-right: auto;
    position: relative;
    padding: 0.8rem 1rem 0.8rem 4rem;
    border-radius: 3rem; /* 30px */
    background: #222747;
    color: #fff;
    @include Heavy;
    @include fontSize(18, $rootFontSize);
    @include breakpoint(max, 1300px) {
      @include fontSize(15, $rootFontSize);
    }
    @include breakpoint(max, 768px) {
      @include fontSize(13, $rootFontSize);
      padding-left: 2rem;
    }
    @include breakpoint(max, 600px) {
      @include Bold;
      font-size: 1.6rem;
      padding: 1.5rem 1rem 1.5rem 3.5rem;
      width: 100%;
      margin-bottom: 3rem;
    }
    // @include breakpoint(max, 400px) {
    //   margin-right: unset;
    //   margin-top: 1rem;
    // }
    .icon {
      width: 3.6rem; /* 36px */
      height: 3.6rem; /* 36px */
      border-radius: 100%;
      position: relative;
      background: #ffd21d;
      margin-left: 2.2rem;
      @include breakpoint(max, 768px) {
        width: 2.8rem; /* 28px */
        height: 2.8rem; /* 28px */
        margin-left: 1rem;
      }
      // @include breakpoint(max, 600px) {
      //   width: 2rem; /* 20px */
      //   height: 2rem; /* 20px */
      // }
      svg {
        width: 1.4rem; /* 14px */
        height: 1.9rem; /* 19px */
        stroke: #fff;
        position: absolute;
        @include calc(top, "(100% - 1.9rem)/2");
        @include calc(left, "(100% - 1.4rem)/2");
        @include breakpoint(max, 768px) {
          width: 1.2rem; /* 12px */
          height: 1.7rem; /* 17px */
          @include calc(top, "(100% - 1.7rem)/2");
          @include calc(left, "(100% - 1.2rem)/2");
        }
        // @include breakpoint(max, 600px) {
        //   width: 0.8rem; /* 8px */
        //   height: 1.3rem; /* 13px */
        //   @include calc(top, "(100% - 1.3rem)/2");
        //   @include calc(left, "(100% - 0.8rem)/2");
        // }
      }
    }
    &:before {
      display: block;
      position: absolute;
      content: attr(data-count);
      color: #fff;
      border-radius: 2rem; /* 20px */
      padding: 0.1rem 0.5rem; /* 1px 5px */
      background: $red;
      top: -0.3rem; /* -3px */
      right: -0.3rem; /* -3px */
      z-index: 1;
      @include Number;
      @include fontSize(14, $rootFontSize);
      @include breakpoint(max, 768px) {
        @include fontSize(12, $rootFontSize);
      }
      @include breakpoint(max, 600px) {
        left: 2rem;
        right: unset;
        @include calc(top, "(100% - 1.4rem)/2");
      }
    }
    .count {
      @include Number;
      margin: 0 0.3rem;
    }
  }
  .order-number {
    font-size: 1.6rem;
    color: #8c90b1;
    @include Medium;
    @include breakpoint(max, 1200px) {
      font-size: 1.3rem;
    }
    @include breakpoint(max, 600px) {
      margin-right: auto;
    }
  }
  .tip {
    font-size: 1.6rem;
    color: #8c90b1;
    @include Medium;
    @include breakpoint(max, 1200px) {
      font-size: 1.3rem;
    }
    @include breakpoint(max, 768px) {
      display: none;
    }
    b {
      @include Number;
    }
  }
  &.redeem {
    @include breakpoint(max, 600px) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
    .title {
      @include breakpoint(max, 600px) {
        width: 100%;
        display: flex;
        align-items: center;
      }
    }
  }
  &.order {
    .fast-link {
      margin-right: auto;
      @include breakpoint(max, 600px) {
        display: none;
      }
    }
  }
}

.redeem-content {
  margin-bottom: 7rem;
  @include breakpoint(max, 600px) {
    border-radius: 1rem; /* 10px */
  }
  .select-product {
    padding: 6.5rem 5.5rem 5.5rem 6.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #8c90b1;
    border-bottom: 0.1rem /* 1px */ solid #ecedf7;
    @include fontSize(16, $rootFontSize);
    @include breakpoint(max, 1300px) {
      padding: 4.5rem 3.5rem;
      @include fontSize(14, $rootFontSize);
    }
    @include breakpoint(max, 768px) {
      padding: 2rem;
      flex-direction: column;
    }
    @include breakpoint(max, 600px) {
      @include fontSize(12, $rootFontSize);
    }
    .redeem-drop-holder {
      max-width: 44rem; /* 440px */
      margin-top: 0;
      @include breakpoint(max, 1300px) {
        max-width: 30rem; /* 300px */
      }
      @include breakpoint(max, 768px) {
        margin-top: 2rem;
      }
      @include breakpoint(max, 600px) {
        margin-top: 1.5rem;
        max-width: unset;
        width: 100%;
      }
      .product-code {
        @include breakpoint(max, 768px) {
          padding: 1.4rem 3rem 1.1rem 3rem;
          @include fontSize(13, $rootFontSize);
        }
      }
      .purchased-games-list {
        @include breakpoint(max, 768px) {
          top: 4rem;
        }
      }
    }
  }
  .redeem-body {
    padding: 5rem 5.5rem 6.7rem 6.5rem;
    @include breakpoint(max, 1300px) {
      padding: 3rem 3.5rem;
    }
    @include breakpoint(max, 768px) {
      padding: 2rem 3rem 3rem 3rem;
    }
    @include breakpoint(max, 600px) {
      padding: 2rem;
    }
    @include breakpoint(max, 500px) {
      padding: 1.5rem 1rem;
    }
    .product-information {
      padding-right: 13.8rem;
      position: relative;
      min-height: 13.8rem; /* 138px */
      padding-top: 1.5rem;
      @include breakpoint(max, 768px) {
        padding-right: 9rem;
        padding-top: 0;
        min-height: 12rem; /* 120px */
      }
      @include breakpoint(max, 600px) {
        display: flex;
        align-items: center;
        min-height: 10rem;
      }

      .product-img {
        position: absolute;
        width: 10.3rem; /* 103px */
        height: 13.8rem; /* 138px */
        right: 0;
        top: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        @include breakpoint(max, 768px) {
          width: 8rem;
          height: 10rem;
        }
        @include breakpoint(max, 600px) {
          border-radius: 0.5rem;
          overflow: hidden;
        }
      }
      .product-name {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .name {
          @include fontSize(20, $rootFontSize);
          @include Heavy;
          margin-bottom: 0;
          max-width: 70%;
          @include breakpoint(max, 768px) {
            @include fontSize(16, $rootFontSize);
          }
          @include breakpoint(max, 600px) {
            max-width: unset;
          }
          // @include breakpoint(max, 500px) {
          //   max-width: 100%;
          // }
          .version {
            @include Bold;
            @include fontSize(14, $rootFontSize);
            color: rgba(#3f4373, 0.8);
            display: block;
            margin-top: 1rem;
            @include breakpoint(max, 768px) {
              @include fontSize(12, $rootFontSize);
              margin-top: 0.5rem;
            }
            @include breakpoint(max, 600px) {
              display: none;
            }
            // @include breakpoint(max, 600px) {
            //   @include fontSize(10, $rootFontSize);
            // }
          }
        }
        .code {
          @include Bold;
          @include fontSize(15, $rootFontSize);
          color: rgba(#3f4373, 0.8);
          @include breakpoint(max, 768px) {
            @include fontSize(13, $rootFontSize);
          }
          @include breakpoint(max, 600px) {
            display: none;
          }
        }
      }
      .bottom-part {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 4.5rem;
        @include breakpoint(max, 600px) {
          display: none;
          // margin-top: 2rem;
          // align-items: flex-end;
        }
        // @include breakpoint(max, 500px) {
        //   width: 100%;
        //   margin-top: 1rem;
        // }
        .product-platform {
          display: flex;
          align-items: center;
          // @include breakpoint(max, 600px) {
          //   flex-direction: column;
          //   align-items: flex-start;
          // }
          .platform-icon {
            border: 0.2rem /* 2px */ solid #d5d7ee;
            border-radius: 2rem; /* 20px */
            text-transform: uppercase;
            padding: 1.1rem 1.5rem 0.4rem 4rem;
            position: relative;
            margin-left: 1rem; /* 10px */
            @include breakpoint(max, 768px) {
              padding: 0.9rem 1rem 0.3rem 3rem;
              @include fontSize(10, $rootFontSize);
            }
            // @include breakpoint(max, 600px) {
            //   padding: 0.6rem 0.6rem 0.2rem 2rem;
            //   margin-bottom: 0.5rem;
            //   margin-left: 0;
            //   @include fontSize(9, $rootFontSize);
            // }
            img {
              width: 1.8rem;
              height: 1.8rem;
              position: absolute;
              left: 1.5rem;
              @include calc(top, "(100% - 1.8rem)/2");
              @include breakpoint(max, 768px) {
                width: 1.5rem;
                height: 1.5rem;
                left: 1rem;
                @include calc(top, "(100% - 1.5rem)/2");
              }
              // @include breakpoint(max, 600px) {
              //   width: 1.3rem; /* 13px */
              //   height: 1.3rem; /* 13px */
              //   left: 0.5rem; /* 5px */
              //   @include calc(top, "(100% - 1.3rem)/2");
              // }
            }
          }
          .platform-name {
            @include Medium;
            @include fontSize(13, $rootFontSize);
            @include breakpoint(max, 768px) {
              @include fontSize(11, $rootFontSize);
            }
            // @include breakpoint(max, 600px) {
            //   @include fontSize(10, $rootFontSize);
            //   margin-top: 0.5rem;
            // }
            b {
              @include Medium;
              padding-right: 2.5rem;
              margin-right: 0.5rem;
              position: relative;
              @include fontSize(13, $rootFontSize);
              @include breakpoint(max, 768px) {
                @include fontSize(11, $rootFontSize);
                padding-right: 1.5rem;
              }
              // @include breakpoint(max, 500px) {
              //   @include fontSize(10, $rootFontSize);
              // }
              &:before {
                display: block;
                position: absolute;
                content: "";
                width: 2rem;
                height: 0.2rem;
                background-color: #9fa1b9;
                right: 0;
                @include calc(top, "(100% - 0.2rem)/2");
                @include breakpoint(max, 768px) {
                  width: 1rem; /* 10px */
                }
              }
            }
            &:first-child {
              b {
                padding-right: 0;
                margin-right: 0;
                &::before {
                  display: none;
                }
              }
            }
          }
        }
        .price {
          @include Bold;
          @include fontSize(18, $rootFontSize);
          @include breakpoint(max, 768px) {
            @include fontSize(16, $rootFontSize);
          }
          @include breakpoint(max, 500px) {
            @include fontSize(14, $rootFontSize);
          }
          span {
            @include fontSize(16, $rootFontSize);
            color: rgba(#3f4373, 0.8);
            @include breakpoint(max, 768px) {
              @include fontSize(14, $rootFontSize);
            }
            // @include breakpoint(max, 500px) {
            //   @include fontSize(11, $rootFontSize);
            // }
          }
        }
      }
    }
    .btn-holder {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 7.5rem;
      @include breakpoint(max, 768px) {
        margin-top: 4rem;
      }
      .guid {
        @include fontSize(16, $rootFontSize);
        color: rgba(#3f4373, 0.8);
        @include breakpoint(max, 1199px) {
          @include fontSize(15, $rootFontSize);
        }
        @include breakpoint(max, 768px) {
          @include fontSize(13, $rootFontSize);
        }
        @include breakpoint(max, 600px) {
          display: none;
        }
      }
      .redeem {
        @include Bold;
        @include fontSize(18, $rootFontSize);
        @include breakpoint(max, 1199px) {
          @include fontSize(16, $rootFontSize);
        }
        @include breakpoint(max, 768px) {
          @include fontSize(13, $rootFontSize);
        }
        @include breakpoint(max, 600px) {
          padding: 1rem 2rem;
        }
        b,
        svg {
          @include breakpoint(max, 600px) {
            display: none;
          }
        }
      }
      .responsive-info {
        display: none;
        @include breakpoint(max, 600px) {
          display: block;
        }
        .code {
          @include Bold;
          font-size: 1.4rem;
          display: block;
          margin-top: 1rem;
        }
        ul {
          li {
            display: inline-block;
            font-size: 1.2rem;
            color: rgba(#8c90b1, 0.6);
            padding-right: 1.5rem;
            position: relative;
            &:before {
              display: block;
              position: absolute;
              content: "";
              width: 0.3rem;
              height: 0.3rem;
              border-radius: 100%;
              background: #9fa1b9;
              right: 0.5rem;
              @include calc(top, "(100% - 0.3rem)/2");
            }
            &.product-type {
              font-size: 1.4rem;
              color: rgba(#8c90b1, 0.8);
              margin-left: 1rem;
            }
            &:nth-child(1),
            &:nth-child(2) {
              padding-right: 0;
              &:before {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
