.instant-registration {
  margin: 6rem 0; /* 60px */
  .register-title {
    @include fontSize(24, $rootFontSize);
    margin-bottom: 4rem; /* 40px */
    @include breakpoint(max, 1200px) {
      @include fontSize(20, $rootFontSize);
      margin-bottom: 3rem; /* 30px */
    }
    @include breakpoint(max, 991px) {
      @include fontSize(18, $rootFontSize);
    }
    @include breakpoint(max, 600px) {
      @include fontSize(16, $rootFontSize);
      margin-bottom: 2rem; /* 20px */
    }
  }
}
.registration-wrapper {
  @include lightshadow();
  background: #fff;
  border-radius: 1rem; /* 10px */
  .registration-step1 {
    padding: 9rem 3rem 11.5rem 3rem;
    display: flex;
    flex-direction: column;
    max-width: 55rem; /* 550px */
    margin: auto;
    align-items: flex-start;
    @include breakpoint(max, 991px) {
      padding: 8rem 3rem;
    }
    @include breakpoint(max, 600px) {
      padding: 4rem 2rem;
    }
    .input-holder {
      width: 100%;
    }
    .btn {
      margin: 4rem /* 40px */ auto auto;
      @include breakpoint(max, 600px) {
        margin-top: 2rem; /* 20px */
      }
    }
  }
  .registration-step2 {
    padding: 6rem 3rem 9rem 3rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    position: relative;
    @include breakpoint(max, 991px) {
      padding: 4rem 3rem 6rem 3rem;
    }
    &:after {
      display: block;
      position: absolute;
      content: attr(data-time);
      @include fontSize(16, $rootFontSize);
      color: #8c90b1;
      top: 4rem; /* 40px */
      left: 5rem; /* 50px */
      @include breakpoint(max, 600px) {
        @include fontSize(12, $rootFontSize);
        top: 2rem; /* 20px */
        left: 3rem; /* 30px */
      }
    }
    .condition-icon {
      width: 7.7rem; /* 77px */
      height: 7.7rem; /* 77px */
      border-radius: 50%;
      background: #eff0f2;
      position: relative;
      @include breakpoint(max, 600px) {
        width: 5rem; /* 50px */
        height: 5rem; /* 50px */
      }
      svg {
        position: absolute;
        width: 2rem; /* 20px */
        height: 2rem; /* 20px */
        fill: #fff;
        stroke: #fff;
        z-index: 1;
        @include calc(top, "(100% - 2rem)/2");
        @include calc(left, "(100% - 2rem)/2");
        @include breakpoint(max, 600px) {
          width: 1.5rem; /* 15px */
          height: 1.5rem; /* 15px */
          @include calc(top, "(100% - 1.5rem)/2");
          @include calc(left, "(100% - 1.5rem)/2");
        }
      }
      &:after {
        display: block;
        position: absolute;
        content: "";
        border-radius: 50%;
        background: #222747;
        width: 5rem; /* 50px */
        height: 5rem; /* 50px */
        @include calc(top, "(100% - 5rem)/2");
        @include calc(left, "(100% - 5rem)/2");
        @include breakpoint(max, 600px) {
          width: 3rem; /* 30px */
          height: 3rem; /* 30px */
          @include calc(top, "(100% - 3rem)/2");
          @include calc(left, "(100% - 3rem)/2");
        }
      }
    }
    .condition-description {
      @include Medium;
      @include fontSize(16, $rootFontSize);
      color: #8c90b1;
      text-align: center;
      margin-top: 2rem; /* 20px */
      @include breakpoint(max, 991px) {
        @include fontSize(14, $rootFontSize);
      }
      @include breakpoint(max, 600px) {
        @include fontSize(12, $rootFontSize);
      }
      span {
        @include Heavy;
        display: block;
        @include fontSize(18, $rootFontSize);
        color: #3f4373;
        margin-top: 1rem; /* 10px */
        @include breakpoint(max, 991px) {
          @include fontSize(16, $rootFontSize);
        }
        @include breakpoint(max, 600px) {
          @include fontSize(14, $rootFontSize);
        }
      }
    }
    .input-holder {
      margin-top: 4rem; /* 40px */
      @include breakpoint(max, 600px) {
        margin-top: 2.5rem; /* 25px */
      }
    }
    .btn-holder {
      margin-top: 3rem; /* 30px */
      display: flex;
      justify-content: center;
      align-items: center;
      @include breakpoint(max, 600px) {
        margin-top: 2rem; /* 20px */
      }
      .change-number {
        margin-left: 1rem; /* 10px */
      }
    }
    .resend {
      margin-top: 2.5rem; /* 25px */
      @include fontSize(16, $rootFontSize);
      color: #8c90b1;
      @include breakpoint(max, 991px) {
        @include fontSize(14, $rootFontSize);
      }
      @include breakpoint(max, 600px) {
        @include fontSize(12, $rootFontSize);
      }
      .resend-btn {
        color: #50537e;
      }
    }
  }
  .registration-step3 {
    padding: 9rem 3rem 14rem 3rem;
    display: flex;
    flex-direction: column;
    max-width: 55rem; /* 550px */
    margin: auto;
    position: relative;
    @include breakpoint(max, 991px) {
      padding: 6rem 3rem 9rem 3rem;
    }
    @include breakpoint(max, 600px) {
      padding: 6rem 3rem 9rem 3rem;
    }
    @include breakpoint(max, 500px) {
      padding: 3rem 2rem 4rem 2rem;
    }
    .complete-msg {
      @include Heavy;
      margin-top: 5rem; /* 50px */
      text-align: center;
      @include fontSize(18, $rootFontSize);
      color: #3f4373;
      @include breakpoint(max, 991px) {
        @include fontSize(16, $rootFontSize);
      }
      @include breakpoint(max, 600px) {
        margin-top: 3rem; /* 30px */
        @include fontSize(14, $rootFontSize);
      }
      span {
        @include Medium;
        @include fontSize(16, $rootFontSize);
        color: #8c90b1;
        display: block;
        margin-top: 1.5rem; /* 15px */
        @include breakpoint(max, 991px) {
          @include fontSize(14, $rootFontSize);
        }
        @include breakpoint(max, 600px) {
          @include fontSize(12, $rootFontSize);
        }
      }
    }
  }
  .input-lbl {
    @include Bold;
    color: #8c90b1;
    @include fontSize(14, $rootFontSize);
    margin-bottom: 1rem; /* 10px */
  }
  .condition-tip {
    @include Medium;
    position: relative;
    @include fontSize(16, $rootFontSize);
    color: rgba(#3f4373, 0.8);
    padding-right: 3.5rem;
    margin-top: 2rem; /* 20px */
    line-height: 1.3;
    @include breakpoint(max, 1200px) {
      @include fontSize(14, $rootFontSize);
      padding-right: 2.5rem;
    }
    @include breakpoint(max, 600px) {
      @include fontSize(12, $rootFontSize);
    }
    .tip-icon {
      border-radius: 50%;
      background: #4de992;
      position: absolute;
      width: 2.7rem; /* 27px */
      height: 2.7rem; /* 27px */
      right: 0;
      @include calc(top, "(100% - 2.7rem)/2");
      @include breakpoint(max, 1200px) {
        width: 2rem; /* 20px */
        height: 2rem; /* 20px */
        @include calc(top, "(100% - 2rem)/2");
      }
      svg {
        fill: #fff;
        width: 100%;
        height: 100%;
      }
    }
  }
  .input-holder {
    position: relative;
    input {
      @include trans(0.3s);
      background: transparent !important;
      border: 0.2rem /* 2px */ solid rgba($mainColor, 0.2);
      padding: 1.7rem 2rem 1.2rem 6rem;
      @include fontSize(22, $rootFontSize);
      border-radius: 3rem; /* 30px */
      width: 100%;
      @include placeholder($mainColor, 2.2rem);
      @include breakpoint(max, 1200px) {
        @include fontSize(18, $rootFontSize);
        @include placeholder($mainColor, 1.8rem);
      }
      @include breakpoint(max, 600px) {
        @include fontSize(16, $rootFontSize);
        padding: 1.5rem 1.5rem 1rem 4rem;
        @include placeholder($mainColor, 1.6rem);
      }
      @include breakpoint(max, 500px) {
        @include fontSize(14, $rootFontSize);
        padding: 1.5rem 1.5rem 1rem 4rem;
        @include placeholder($mainColor, 1.4rem);
      }
      &:focus {
        border-color: $red;
        + svg {
          stroke: $red;
        }
      }
    }
    svg {
      @include trans(0.3s);
      width: 1.4rem; /* 14px */
      height: 1.8rem; /* 18px */
      position: absolute;
      stroke: rgba($mainColor, 0.2);
      left: 2.5rem; /* 25px */
      @include calc(top, "(100% - 1.8rem)/2");
      @include breakpoint(max, 600px) {
        left: 1.5rem; /* 15px */
        width: 1.1rem; /* 11px */
        height: 1.5rem; /* 15px */
        @include calc(top, "(100% - 1.5rem)/2");
      }
    }
    .confirmed-tag {
      color: #fff;
      @include fontSize(12, $rootFontSize);
      background: #4de992;
      border-radius: 1.1rem; /* 11px */
      position: absolute;
      height: 2.3rem; /* 23px */
      right: 2rem; /* 20px */
      padding: 0.6rem 2.5rem 0.3rem 1rem;
      @include calc(top, "(100% - 2.3rem)/2");
      @include breakpoint(max, 600px) {
        @include fontSize(10, $rootFontSize);
        right: 1rem; /* 10px */
        height: 1.9rem; /* 19px */
        padding: 0.5rem 1.5rem 0.2rem 0.5rem;
        @include calc(top, "(100% - 1.9rem)/2");
      }
      svg {
        position: absolute;
        width: 1rem; /* 10px */
        height: 0.9rem; /* 9px */
        right: 0.7rem; /* 7px */
        stroke: #fff;
        @include calc(top, "(100% - 0.9rem)/2");
        @include breakpoint(max, 600px) {
          width: 0.8rem; /* 8px */
          height: 0.7rem; /* 7px */
          right: 0.4rem; /* 4px */
          @include calc(top, "(100% - 0.7rem)/2");
        }
      }
    }
    &.confirmed {
      input {
        border-color: #4de992;
        padding-right: 12rem;
        @include breakpoint(max, 600px) {
          padding-right: 7rem;
        }
      }
    }
  }
}

.portal-tip {
  margin-top: 2rem; /* 20px */
  display: block;
  @include fontSize(16, $rootFontSize);
  color: rgba(#3f4373, 0.8);
  line-height: 1.3;
  @include breakpoint(max, 1200px) {
    @include fontSize(14, $rootFontSize);
  }
  @include breakpoint(max, 600px) {
    @include fontSize(12, $rootFontSize);
  }
  img {
    height: 1.7rem; /* 17px */
    margin: -0.5rem 1rem 0 1rem; /* -5px 10px 10px */
    vertical-align: middle;
    display: inline-block;
    @include breakpoint(max, 1200px) {
      height: 1.4rem; /* 14px */
    }
    @include breakpoint(max, 600px) {
      height: 1.2rem; /* 12px */
      margin: -0.5rem 0.5rem 0 0.5rem; /* -5px 5px 5px */
    }
  }
}
