.ic_rev {
  .reviewer-name {
    color: #436686;
    span {
      font-size: 15px;
      font-weight: 400;
    }
  }
  .review-title {
    font-weight: 400;
    margin-bottom: -15px;
    font-size: 16px;
    @include breakpoint(max,576px) {
      font-size: 14px;
    }
  }
  .review-time {
    font-family: YekanBakhNum,YekanBakh;
    @include breakpoint(max,992px) {
      position: relative;
      top: -3px;
      right: 8px;
    }
  }
  .review-text p {
    @include breakpoint(max,576px) {
      font-size: 13px !important;
    }
  }
}
#product_reviews {
  p {
    color: #436686;
    @include breakpoint(max,1200px) {
      font-size: 15px;
    }
    &.review-rating{
      margin: 0;
    }
  }
  .grey-graph {
    display: block;
    width: 200px;
    height: 4px;
    background-color: #eaeef8;
    border-radius: 10px;
    @include breakpoint(max,380px) {
      width: 160px;
    }

    .orange-graph {
      background-color: #f3303a;
      height: 4px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  .review-total-row > div {
    font-size: 14px;
    font-family: YekanBakhNum,YekanBakh;
    @include breakpoint(max,576px) {
      font-size: 12px;
    }
  }

  .review-total-row > div.graph-container {
    padding: 0 17px;
  }

  .total-rating {
    font-family: YekanBakhNum,YekanBakh;
    font-size: 48px;
    @include breakpoint(max,768px) {
      font-size: 34px;
    }
  }

  .review-rating > span {
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: 16px;
    margin-top: 10px;
    color:  #ffd21d;
  }
}

.review-list {
  margin-top: 60px;
  @include breakpoint(max,992px) {
    margin-top: 20px;
  }
  .ic_rev {
    padding: 45px 0;
    max-width: initial;
    border: none;
    border-bottom: 1px solid #eaeef9;
    display: flex;
    @include breakpoint(max,992px) {
      flex-wrap: wrap;
    }
    @include breakpoint(max,576px) {
      padding: 15px 0;
    }

    &:last-of-type {
      border-bottom-width: 0;
    }
    .review-right {
      max-width: 100%;
      margin-right: 75px;
      margin-left: 0;
      @include breakpoint(max,1200px) {
        margin-right: 32px;
      }
      @include breakpoint(max,992px) {
        margin-right: 0;
      }
    }
    .review-left {
      float: right;
      @include breakpoint(max,992px) {
        flex: 0 0 100%;
        margin-bottom: 5px;
        align-items: center;
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
      }
      .review-rating {
        @include breakpoint(max,992px) {
          position: relative;
          top: -7px;
          margin-right: 10px;
        }
      }
    }
  }
}

.reviews-break {
  display: inline-block;
  text-align: left;
  .review-total-row {
    display: inline-block;
    margin-bottom: 3px;
  }
  @include breakpoint(max,992px) {
    text-align: right;
  }
}
.review-totals {
  max-width: 100%;
  padding-bottom: 19px;
}
.reviews-summary {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  top: 0;
  .side {
    margin-right: 20px;
    .review-rating {
      margin: 0 !important;
    }
    .rating-count {
      font-family: YekanBakhNum,YekanBakh;
      margin-top: 9px;
      color: #adb9c6;
      @include breakpoint(max,576px) {
        font-size: 14px;
      }
    }
  }

}
.reviews-summary,.no-reviews {
  .review-btns {
    margin-top: 32px;
    flex: 0 0 100%;
    @include breakpoint(max,992px) {
      text-align: right;
      margin-bottom: 60px;
    }
    .btn {
      @include breakpoint(max,992px) {
        padding: 12px 18px;
        font-size: 14px;
      }
      @include breakpoint(max,576px) {
        padding: 12px 19px;
        font-size: 12px;
      }

    }
    .all-reviews {
      background: rgba(65, 205, 125, 0.08);
      color: #f3303a;
      margin-left: 8px;
    }
    .add-review {
      background: #f3303a;
      box-shadow: none;
    }
  }
}
.review-modal-wrapper, .login-modal-wrapper {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  background-color: rgba(34,39,71,0.68);
  z-index: 99;
}
.review-modal-content, .login-modal-content {
  display: none;
  width: 100%;
  max-width: 590px;
  background: #f9fafc;
  border-radius: 11px;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 100;
  padding: 42px 58px 30px 85px;
  max-height: 100%;
  overflow-y: auto;
  @include breakpoint(max,590px) {
    width: 96%;
    padding: 22px 28px 30px 25px;
    position: fixed;
    top: 50%;
  }
  @include breakpoint(max,380px) {
    padding: 18px 18px 20px 15px;
  }
  .review-rating {
    font-size: 14px;
    box-shadow: 1px 2px 0px rgba(226, 232, 244, 0.16), 1px 9px 15px rgba(226, 232, 244, 0.35);
    border-radius: 100px;
    padding: 8px 18px;
    margin-bottom: 38px !important;
    position: relative;
    >span {
      margin-top: 0 !important;
      float: left;
    }
    .rating-error {
      position: absolute;
      left: 0;
      color: #e61d0f;
      font-size: 12px;
    }
  }
  .form-submit #submit {
    background: #f3303a;
    padding: 12px 44px;
    border-radius: 30px;
    color: #fff;
    float: left;
  }
  .add-review-title {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
    flex-wrap: wrap;
    svg {
      width: 40px;
      height: 42px;
      background: rgba(65,205,125,.08);
      stroke: #436686;
      padding: 12px;
      border-radius: 100px;
      margin-left: 16px;
      cursor: pointer;
      position: static;
    }
    p {
      color: #1c2d41;
      font-size: 16px;
    }
    span {
      font-size: 14px;
      color: #436686;
      position: relative;
      top: -2px;
      right: 7px;
      @include breakpoint(max,576px) {
        font-size: 13px;
        flex : 0 0 100%;
        top: 2px;
        right: 7px;
      }
    }
  }
  .close-modal {
    position: absolute;
    width: 17px;
    stroke: #cecfd0;
    left: 16px;
    top: -37px;
    @include breakpoint(max,576px) {
      width: 11px;
      stroke: #676a82;
      left: 26px;
      top: 24px;
    }
  }
}

#respond {
   p {
    margin: 2rem 0;
      color: #436686;
      margin-bottom: 1.5em; 
    line-height: 1.8;
    font-size: 1.6rem;
    &.review-rating > span::before {
      vertical-align: top;
    }
  }
  textarea,input[type="text"], input[type="email"] {
    border: 1px solid #dce3ee;
    background: transparent;
    border-radius: 31px;
    padding: 11px 20px;
    max-height: 145px;
    max-width: 100%;
    width: 100%;
  }
  label {
    font-size: 14px;
    margin-right: 11px;
    @include breakpoint(max,576px) {
      min-width: initial;
    }
  }
  textarea {
    padding: 28px;
  }
  .review-rating{
    &>span{
      &:before{
        display: none;
      }
      svg{
        fill: rgba(255,210,29,.3);
        display: block;
      }
      &.rating-off{
        svg{
          fill: rgba(255,210,29,.3);
        }
      }
      &.rating-on{
        svg{
          fill:#ffd21d ;
        }
      }
    }
  }
}

.al-box.info {
  background-color: #f2f4fb;
  background-image: none;
  border-radius: 100px;
  box-shadow: none;
  padding: 8px 24px;
  top: 6px;
  right: 14px;
  p {
    font-size: 14px;
    font-weight: 500;
    @include breakpoint(max,576px) {
      font-size: 13px;
    }
  }
}
