.newTicket {
  width: 100%;
  border: 0.2rem /* 2px */ dashed rgba($textColor, 0.2);
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4.5rem; /* 45px */
  color: rgba($textColor, 0.6);
  @include fontSize(16, $rootFontSize);
  @include breakpoint(max, 767px) {
    flex-wrap: wrap;
    border-radius: 2.5rem; /* 25px */
    @include fontSize(14, $rootFontSize);
  }
  .title {
    @include fontSize(18, $rootFontSize);
    color: rgba($textColor, 0.8);
    margin-left: 0.8rem; /* 8px */
    margin-bottom: 0;
    @include breakpoint(max, 767px) {
      width: 100%;
      margin-bottom: 1rem; /* 10px */
      @include fontSize(15, $rootFontSize);
    }
  }
  .link {
    border: none;
    color: rgba($textColor, 0.8);
    @include breakpoint(max, 767px) {
      width: 100%;
      text-align: center;
      margin-top: 1.5rem; /* 15px */
    }
    svg {
      stroke: rgba($textColor, 0.8);
      @include breakpoint(max, 767px) {
        display: none;
      }
    }
  }
}

.pageTitleBar {
  .return {
    @extend .mainBox;
    border-radius: 4.5rem; /* 45px */
    color: rgba($textColor, 0.8);
    @include fontSize(16, $rootFontSize);
    margin-bottom: 2rem; /* 20px */
    @include Heavy;
    svg {
      width: 1.5rem; /* 15px */
      height: 1.5rem; /* 15px */
      top: calc((100% - 2.3rem) / 2);
      @include rotate(180deg);
    }
  }

  .leftPart {
    display: flex;
    flex-wrap: wrap;
    color: rgba($textColor, 0.7);
    @include fontSize(14, $rootFontSize);
    align-items: baseline;
    @include Bold;
    @include breakpoint(max, 575px) {
      justify-content: center;
    }
    .bold {
      color: $mainColor;
      @include fontSize(16, $rootFontSize);
      margin-right: 1rem; /* 10px */
      @include Heavy;
    }
    .orderId {
      padding-right: 2rem;
      border-right: 0.2rem /* 2px */ solid rgba($textColor, 0.1);
      @include breakpoint(max, 575px) {
        text-align: center;
      }
    }
    .orderDetails {
      padding-left: 2rem;
      margin-bottom: 1.5rem; /* 15px */
      @include breakpoint(max, 575px) {
        text-align: center;
      }
    }
    .hour,
    .date {
      padding: 0 0.7rem;
      &.date {
        border-left: 0.2rem /* 2px */ solid rgba($textColor, 0.1);
      }
      &.hour {
        &::after {
          content: "";
          position: relative;
          display: inline-block;
          vertical-align: middle;
          width: 0.3rem; /* 3px */
          height: 0.3rem; /* 3px */
          border-radius: 50%;
          background: rgba($textColor, 0.5);
          margin-right: 0.7rem; /* 7px */
        }
      }
    }
  }
}

.ticketChatContainer {
  @extend .mainBox;
  padding: 3.5rem 1.5rem;
  @include breakpoint(max, 575px) {
    padding: 3rem 0.5rem;
  }
  .chat {
    height: 56rem; /* 560px */
    overflow-y: auto;
    direction: ltr;
    padding: 0 2rem;
    @include breakpoint(max, 575px) {
      padding: 0 1rem;
    }
    .item {
      margin: 2rem 0; /* 20px */
      @include fontSize(14, $rootFontSize);
      direction: rtl;
      &.support {
        text-align: left;
        .icon {
          color: rgba($textColor, 0.6);
          @include Bold;
          .igameLogo {
            height: 1.5rem; /* 15px */
            width: auto;
            fill: $mainColor;
          }
        }
        .body {
          display: inline-block;
          .text {
            background: $mainColor;
            color: #fff;
            padding: 2rem 3.5rem;
            border-radius: 0.6rem 3.5rem 3.5rem 3.5rem; /* 6px 35px 35px 35px */
            margin: 1rem 0; /* 10px */
            text-align: right;
            @include breakpoint(max, 575px) {
              border-radius: 0.6rem 2rem 2rem 2rem; /* 6px 20px 20px 20px */
              padding: 1.5rem;
            }
          }
          .date {
            color: rgba($textColor, 0.6);
            text-align: right;
            padding: 0 3rem;
            font-family: YekanBakhNum, YekanBakh;
            @include Bold;
            span {
              padding: 0 0.5rem;
              &.hour {
                border-right: 0.2rem /* 2px */ solid rgba($textColor, 0.1);
              }
              &.newLabel {
                background: $red;
                color: #fff;
                border-radius: 4.5rem; /* 45px */
                @include fontSize(12, $rootFontSize);
                padding: 0.3rem 0.8rem;
              }
            }
          }
        }
      }

      &.customer {
        text-align: right;
        display: flex;
        .icon {
          display: inline-block;
          margin-left: 2rem; /* 20px */
          width: 4rem; /* 40px */
          height: 4rem; /* 40px */
          min-width: 4rem; /* 40px */
          min-height: 4rem; /* 40px */
          border-radius: 50%;
          overflow: hidden;
          vertical-align: top;
          margin-top: 1rem; /* 10px */
          position: relative;
          .avatar {
            min-width: 100%;
            min-height: 100%;
            max-width: 150%;
            max-height: 150%;
            position: absolute;
            left: 50%;
            top: 50%;
            @include translate(-50%, -50%);
          }
        }
        .body {
          display: inline-block;
          .text {
            background: #fff;
            color: rgba($textColor, 0.8);
            padding: 2rem 3.5rem;
            border-radius: 3.5rem 0.6rem 3.5rem 3.5rem; /* 35px 6px 35px 35px */
            margin: 1rem 0; /* 10px */
            text-align: right;
            border: 0.2rem /* 2px */ solid rgba($textColor, 0.1);
            @include Bold;
            @include breakpoint(max, 575px) {
              padding: 1.5rem;
              border-radius: 2rem 0.6rem 2rem 2rem; /* 20px 6px 20px 20px */
            }
          }
          .date {
            color: rgba($textColor, 0.6);
            text-align: left;
            padding: 0 3rem;
            font-family: YekanBakhNum, YekanBakh;
            @include Bold;
            span {
              padding: 0 0.5rem;
              &.hour {
                border-right: 0.2rem /* 2px */ solid rgba($textColor, 0.1);
              }
              &.newLabel {
                background: $red;
                color: #fff;
                border-radius: 4.5rem; /* 45px */
                @include fontSize(12, $rootFontSize);
                padding: 0.3rem 0.8rem;
              }
            }
          }
        }
      }
    }
  }
  .send {
    width: 100%;
    border: 0.2rem /* 2px */ solid rgba($textColor, 0.1);
    padding: 0.6rem;
    border-radius: 4.5rem; /* 45px */
    margin-top: 2rem; /* 20px */
    display: flex;
    align-items: center;
    @include breakpoint(max, 575px) {
      flex-wrap: wrap;
      border-radius: 2rem; /* 20px */
    }
    .input {
      flex: 1 1 auto;
      max-width: 100%;
      border: none;
      padding: 1.7rem 2.5rem;
      @include fontSize(16, $rootFontSize);
      min-height: 5rem; /* 50px */
      height: auto;
      border-radius: 4.5rem; /* 45px */
      @include Bold;
      @include placeholder(rgba($textColor, 0.5), 1.6rem);
      @include breakpoint(max, 575px) {
        flex: 0 0 calc(100% - 3rem);
        max-width: calc(100% - 3rem);
      }
    }
    textarea {
      max-height: 5rem; /* 50px */
    }
    .emojionearea {
      .emojionearea-editor {
        max-height: none;
        min-height: 3.4rem; /* 34px */
      }
      &.form-control {
        padding: 1rem 2.5rem !important;
        border: none !important;
        box-shadow: none !important;
      }
      .emojionearea-picker {
        position: absolute;
        left: -5.5rem /* -55px */ !important;
        right: auto !important;
        &.emojionearea-picker-position-top .emojionearea-wrapper:after {
          right: auto !important;
          left: 1.3rem; /* 13px */
        }
      }
      .emojionearea-button {
        display: none;
      }
    }
    .emoji {
      width: 2rem; /* 20px */
      height: 2rem; /* 20px */
      stroke: $textColor;
      margin: 0 2.5rem; /* 25px */
      cursor: pointer;
      border-radius: 50%;
      overflow: hidden;
      @include transition(all, 0.4s);
      @include breakpoint(max, 575px) {
        margin: 0 0.5rem; /* 5px */
      }
      &:hover {
        stroke: $mainColor;
        background: rgba($textColor, 0.4);
      }
    }
    .submit {
      @include breakpoint(max, 575px) {
        width: 100%;
        margin: 1rem 0.5rem; /* 10px 5px */
      }
      svg {
        width: 2rem; /* 20px */
        height: 2rem; /* 20px */
      }
    }
  }
}

.ticketModalContent {
  padding: 4.5rem;
  @include breakpoint(max, 480px) {
    padding: 1rem;
  }
  .titleBar {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    @include fontSize(16, $rootFontSize);
    color: rgba($textColor, 0.6);
    @include Bold;
    .icon {
      background: $mainColor;
      color: #fff;
      @include fontSize(20, $rootFontSize);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.5rem; /* 35px */
      height: 3.5rem; /* 35px */
    }
    .bold {
      color: $mainColor;
      margin: 1rem 2rem 1rem 1rem; /* 10px 20px 10px 10px */
      @include Heavy;
    }
    span {
      margin-top: 1rem; /* 10px */
    }
  }
  .inputGroup {
    margin-bottom: 2.5rem; /* 25px */
    .icon.arrow {
      top: 1.5rem; /* 15px */
      @include rotate(-90deg);
    }
  }
  input,
  textarea,
  select {
    width: 100%;
    padding: 1.5rem;
    border: 0.2rem /* 2px */ solid rgba($textColor, 0.1);
    border-radius: 4.5rem; /* 45px */
    @include fontSize(15, $rootFontSize);
    color: rgba($textColor, 0.7);
    @include Bold;
    @include placeholder(rgba($textColor, 0.5), 1.5rem);
  }
  .label {
    color: rgba($textColor, 0.6);
    @include Bold;
  }
  .hr {
    width: calc(100% + 9rem);
    left: 4.5rem; /* 45px */
    position: relative;
    opacity: 0.2;
    margin-top: 3rem; /* 30px */
    margin-bottom: 3rem; /* 30px */
  }
  .submitDiv {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 1.5rem; /* 15px */
    .submitBtn {
      margin-top: 1.5rem; /* 15px */
    }
    .radioContainer {
      position: relative;
      input[type="radio"],
      input[type="checkbox"] {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        &:checked + .radioLabel {
          &::after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      .radioLabel {
        @include fontSize(16, $rootFontSize);
        color: rgba($textColor, 0.9);
        padding-right: 4rem;
        position: relative;
        @include Bold;
        &::before {
          content: "";
          position: absolute;
          right: 0;
          top: calc(50% - 1.5rem);
          width: 2.5rem; /* 25px */
          height: 2.5rem; /* 25px */
          border: 0.2rem /* 2px */ solid $red;
          border-radius: 50%;
        }
        &::after {
          content: "\2713";
          position: absolute;
          right: 0.7rem; /* 7px */
          top: calc(50% - 0.8rem);
          @include fontSize(16, $rootFontSize);
          font-weight: 900;
          color: $red;
          opacity: 0;
          visibility: hidden;
          @include transition(all, 0.4s);
        }
      }
    }
  }
}
