@charset "UTF-8";
/*********Variable *********/
/********* Mixin *********/
/********* Normalize *********/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "YekanBakh", sans-serif;
  font-size: 17px;
  direction: rtl;
  color: #3f4373;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

p {
  line-height: 1.5;
}

[hidden] {
  display: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}
.container:after {
  content: "";
  clear: both;
  display: table;
}
@media only screen and (min-width: 1200px) {
  .container-xl {
    max-width: 1140px;
  }
}

/********* Font families *********/
@font-face {
  font-family: "YekanBakh";
  src: url("../../../fonts/iGameYekanver38-Medium.woff2") format("woff2"),
    url("../../../fonts/iGameYekanver38-Medium.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../../../fonts/iGameYekanver38-Bold.woff2") format("woff2"),
    url("../../../fonts/iGameYekanver38-Bold.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../../../fonts/iGameYekanver38-Heavy.woff2") format("woff2"),
    url("../../../fonts/iGameYekanver38-Heavy.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakhNum";
  src: url("../../../fonts/iGameNumbers-Heavy.woff2") format("woff2"),
    url("../../../fonts/iGameNumbers-Heavy.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

/********* Animations *********/
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes floatXY {
  0% {
    transform: translate(0, 0px);
  }
  25% {
    transform: translate(6px, 5px);
  }
  50% {
    transform: translate(-5px, -7px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/********* Components *********/
.white-btn {
  box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31),
    0 2px 5px 0 rgba(170, 188, 212, 0.21);
  background: #fff;
  color: #252849;
  border-radius: 100px;
}

.white-btn-v2 {
  position: relative;
  background: #fff;
  color: #252849;
  padding: 21px 81px 22px 30px;
  border-radius: 100px;
  font-size: 22px;
  font-weight: 500;
  display: inline-block;
}
.white-btn-v2 svg {
  background: #f3303a;
  border-radius: 100px;
  stroke: #ffffff;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  padding: 16px;
  position: absolute;
  right: 13px;
  top: 9px;
}

.red-btn {
  background: #f3303a;
  color: #fff;
  box-shadow: 0 8px 27px 0 rgba(243, 48, 58, 0.23);
  border-radius: 100px;
  position: relative;
}
.red-btn svg {
  position: absolute;
  width: 10px;
  top: 21px;
  height: 10px;
  left: 24px;
}

.section-title h2 {
  font-weight: 600;
  padding-right: 35px;
  position: relative;
  font-size: 43px;
  color: #252849;
  margin: 60px 0 40px;
}
.section-title h2:after {
  display: block;
  position: absolute;
  content: "";
  width: 4px;
  height: 34px;
  background: #f3303a;
  border-radius: 2px;
  right: 0;
  top: 0;
  box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5),
    0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32);
}
@media only screen and (max-width: 768px) {
  .section-title h2:after {
    right: 13px;
    top: -7px;
  }
}
@media only screen and (max-width: 576px) {
  .section-title h2:after {
    width: 10px;
    height: 10px;
    border-radius: 12px;
    box-shadow: none;
    right: 18px;
    top: 2px;
  }
}
@media only screen and (max-width: 768px) {
  .section-title h2 {
    font-size: 33px;
  }
}
@media only screen and (max-width: 576px) {
  .section-title h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 40px 0 20px;
  }
}

.product-item {
  transition: all 0.5s;
  border-radius: 11px;
  width: 270px;
  display: inline-block;
  padding: 14px 0 25px 0;
}
.product-item .image-holder {
  transition: all 0.5s;
  position: relative;
  width: 200px;
  height: 270px;
  margin: auto;
}
.product-item .image-holder img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .product-item .image-holder {
    width: 200px;
    height: 270px;
  }
}
@media only screen and (max-width: 576px) {
  .product-item .image-holder {
    width: 120px;
    height: 160px;
    padding: 0;
  }
}
.product-item .image-holder .product-info {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(34, 39, 71, 0) 0%, #222747 60%);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
  align-items: flex-end;
  transition: all ease-in-out 0.5s;
  opacity: 0;
  visibility: hidden;
}
.product-item .image-holder .product-info .product-region,
.product-item .image-holder .product-info .product-platform {
  padding: 8px 12px;
  text-align: center;
  height: 10px;
  border-radius: 14px;
  margin-bottom: 20px;
}
.product-item .image-holder .product-info .product-region {
  color: #ffffff;
  border: 2px solid #626475;
  font-size: 12px;
  font-weight: 700;
}
.product-item .image-holder .product-info .product-platform {
  font-size: 11px;
  text-transform: uppercase;
  margin-left: 10px;
  background: #ffffff;
  font-weight: 700;
}
.product-item .image-holder .product-info .product-platform img {
  width: 15px;
  height: 15px;
  margin-right: 2px;
  margin-top: -2px;
  vertical-align: middle;
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  .product-item .image-holder .product-info {
    visibility: visible;
    opacity: 1;
  }
}
@media only screen and (max-width: 576px) {
  .product-item .image-holder .product-info {
    display: none;
  }
}
.product-item .image-holder .special-tag {
  position: absolute;
  left: -20px;
  top: -10px;
  background: #f3303a;
  border-radius: 100px;
  display: flex;
  padding: 8px 10px;
  font-size: 14px;
  color: #ffffff;
}
.product-item .image-holder .special-tag svg {
  width: 11px;
  margin-left: 4px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .product-item .image-holder .special-tag svg {
    height: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .product-item .image-holder .special-tag {
    padding: 6px 8px;
    font-size: 13px;
  }
}
.product-item .product-bottom {
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom {
    max-width: 120px;
  }
}
.product-item .product-bottom .product-title {
  font-weight: bold;
  font-size: 16px;
  color: #3f4373;
  margin-top: 25px;
  line-height: 1.5;
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom .product-title {
    font-weight: 400;
    font-size: 13px;
    margin-top: 12px;
  }
}
.product-item .product-bottom .product-card-price .original-price {
  font-family: "YekanBakhNum";
  color: rgba(63, 67, 115, 0.8);
  font-size: 16px;
  text-decoration: line-through;
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom .product-card-price .original-price {
    display: none;
  }
}
.product-item .product-bottom .product-card-price .sale-range {
  transition: all 0.5s;
  font-family: "YekanBakhNum";
  display: inline-block;
  font-size: 12px;
  color: #ffffff;
  padding: 5px 5px 3px 5px;
  background: #f3303a;
  border-radius: 10px;
  border: 2px solid transparent;
  margin-left: 5px;
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom .product-card-price .sale-range {
    font-size: 11px;
    padding: 2px 2px 1px 2px;
  }
}
.product-item .product-bottom .product-card-price .sale-price {
  display: block;
  font-family: "YekanBakhNum";
  font-size: 25px;
  color: #3f4373;
  position: relative;
  padding-left: 40px;
}
.product-item .product-bottom .product-card-price .sale-price:before {
  font-weight: bold;
  font-family: "YekanBakh" !important;
  display: block;
  position: absolute;
  content: "تومان";
  font-size: 14px;
  color: rgba(63, 67, 115, 0.8);
  left: 0;
  bottom: 5px;
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom .product-card-price .sale-price:before {
    font-weight: 400;
    font-size: 11px;
    left: 15px;
    bottom: 4px;
  }
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom .product-card-price .sale-price {
    font-size: 14px;
  }
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom .product-card-price {
    display: flex;
  }
}
.product-item .product-bottom .add-to-basket {
  width: 48px;
  height: 48px;
  font-size: 28px;
  line-height: 1.8;
  font-weight: bold;
  transition: all 0.5s;
  border-radius: 100px;
  text-align: center;
  border: 2px solid #dfe1f4;
}
.product-item .product-bottom .add-to-basket svg {
  stroke: #252849;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  transition: all 0.5s;
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom .add-to-basket {
    display: none;
  }
}
.product-item:hover {
  background: #ffffff;
  box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31),
    0 2px 5px 0 rgba(170, 188, 212, 0.21);
}
@media only screen and (min-width: 768px) {
  .product-item:hover .image-holder {
    width: 240px;
    height: 320px;
  }
  .product-item:hover .image-holder .product-info {
    visibility: visible;
    opacity: 1;
  }
}
.product-item:hover .product-bottom .sale-range {
  color: #f3303a;
  background: #ffffff;
  border-color: #f3303a;
}
.product-item:hover .product-bottom .add-to-basket {
  border-color: #f3303a;
  background: #f3303a;
  box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5),
    0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32);
}
.product-item:hover .product-bottom .add-to-basket svg {
  stroke: #ffffff;
}
@media only screen and (max-width: 768px) {
  .product-item {
    background: #ffffff;
    margin: 0 10px;
    box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31),
      0 2px 5px 0 rgba(170, 188, 212, 0.21);
    width: 243px;
    display: inline-block;
    padding: 18px 0 19px 0;
  }
}
@media only screen and (max-width: 576px) {
  .product-item {
    width: 120px;
    height: 255px;
    padding: 15px;
    box-shadow: none;
    border-radius: 5px;
  }
}

.step-item {
  text-align: center;
  position: relative;
  border-radius: 10px;
  transition: all 0.5s;
  min-height: 250px;
  max-width: 530px;
  padding: 50px 0 0;
}
.step-item .icon {
  width: 58px;
  height: 57px;
  border-radius: 100px;
  background: #ffffff;
  display: inline-block;
  box-shadow: 0px 1px 1px 0 rgba(170, 188, 212, 0.31),
    0 2px 5px 0 rgba(170, 188, 212, 0.21);
  transition: all 0.5s;
}
.step-item .icon svg {
  width: 26px;
  height: 26px;
  fill: #3f4373;
  opacity: 0.8;
  position: relative;
  top: 14px;
  transition: all 0.3s;
}
.step-item .title {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 12px;
}
.step-item .description {
  opacity: 0.8;
  max-width: 470px;
  font-weight: 300;
  margin: 0 auto;
}
.step-item:after {
  content: attr(data-step);
  position: absolute;
  right: 21px;
  background: #252849;
  border-radius: 100px;
  color: #ffffff;
  top: 21px;
  width: 28px;
  height: 23px;
  padding-top: 5px;
  font-family: "YekanBakhNum";
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.step-item:hover {
  background: #ffffff;
  box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31),
    1px 1px 4px 0 rgba(170, 188, 212, 0.21),
    19px 6px 20px 0 rgba(170, 188, 212, 0.18);
}
.step-item:hover:after {
  opacity: 1;
  visibility: visible;
}
.step-item:hover .icon {
  background: #f3303a;
  box-shadow: 3px 4px 14px 0 rgba(243, 48, 58, 0.28);
}
.step-item:hover .icon svg {
  fill: #ffffff;
}
@media only screen and (max-width: 768px) {
  .step-item {
    box-shadow: 0 9px 20px 0 rgba(170, 188, 212, 0.29),
      0 2px 1px 0 rgba(170, 188, 212, 0.21);
    background: #fff;
    padding: 30px 0 0;
  }
}

.filter-card ul {
  list-style: none;
  padding-right: 0;
  display: inline-block;
}
@media only screen and (max-width: 576px) {
  .filter-card ul {
    margin-bottom: 0;
  }
}
.filter-card ul li {
  display: inline-block;
  font-size: 13px;
  box-shadow: 0px 2px 2px 0 rgba(170, 188, 212, 0.31),
    0 2px 5px 0 rgba(170, 188, 212, 0.12);
  background: #fff;
  padding: 10px 20px;
  border-radius: 100px;
  margin-left: 7px;
}
@media only screen and (max-width: 576px) {
  .filter-card ul li {
    font-size: 12px;
    box-shadow: none;
  }
}

.holder-services {
  position: relative;
  width: 460px;
  z-index: 2;
}
.holder-services .service-items {
  position: absolute;
  border-radius: 30px;
}
@media only screen and (max-width: 992px) {
  .holder-services .service-items {
    position: relative;
    top: initial !important;
    left: initial !important;
    right: initial !important;
    bottom: initial !important;
  }
}
.holder-services .service-items .service-wrap {
  transition: all 1s;
  border-radius: 30px;
  border: 2px solid #7066a2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #ffffff;
  z-index: 1;
  padding: 5px;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.holder-services .service-items .service-wrap:after {
  position: absolute;
  bottom: 0px;
  left: 46%;
  transform: translateX(-50%);
  content: "+";
  width: 35px;
  height: 24px;
  border-radius: 100px;
  border: 2px solid #b0b4ce;
  text-align: center;
  padding: 2px 0 0;
  transition: all 0.3s;
  font-size: 21px;
  visibility: hidden;
  opacity: 0;
}
@media only screen and (max-width: 992px) {
  .holder-services .service-items .service-wrap:after {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .holder-services .service-items .service-wrap {
    border-radius: 12px;
    font-size: 14px;
  }
}
.holder-services .service-items:before {
  position: absolute;
  display: block;
  content: "";
  width: 200%;
  height: 200%;
  top: -35%;
  left: -50%;
  background: url("../img/bg-blur.png") center/cover no-repeat;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}
@media only screen and (max-width: 992px) {
  .holder-services .service-items:before {
    display: none;
  }
}
.holder-services .service-items span {
  transition: all 1s;
  color: #858db1;
  margin: 8px 0 10px 0;
  font-size: 14px;
  font-weight: 300;
}
.holder-services .service-items img {
  object-fit: contain;
  width: 110px;
  height: 50px;
  margin-top: -21px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .holder-services .service-items img {
    width: 50px;
    height: auto;
  }
}
.holder-services .service-items img.color {
  display: none;
}
.holder-services .service-items img.white {
  display: block;
}
.holder-services .service-items.small {
  width: 160px;
  height: 160px;
}
@media only screen and (max-width: 992px) {
  .holder-services .service-items.small {
    width: 130px;
    height: 130px;
  }
}
.holder-services .service-items.medium {
  width: 187px;
  height: 187px;
}
@media only screen and (max-width: 992px) {
  .holder-services .service-items.medium {
    width: 130px;
    height: 130px;
  }
}
.holder-services .service-items.large {
  width: 230px;
  height: 230px;
}
@media only screen and (max-width: 992px) {
  .holder-services .service-items.large {
    width: 130px;
    height: 130px;
  }
}
.holder-services .service-items.box1 {
  top: 260px;
  left: 14px;
}
.holder-services .service-items.box2 {
  top: 230px;
  right: -15px;
}
.holder-services .service-items.box3 {
  top: 54px;
  left: 66px;
}
.holder-services .service-items.box4 {
  top: 0;
  right: 0;
}
.holder-services .service-items:hover .service-wrap {
  background-color: #2d335a;
  border-color: #2d335a;
}
.holder-services .service-items.active .service-wrap {
  background: #fff;
  color: #3f4373;
  border-color: #fff;
}
.holder-services .service-items.active .service-wrap:after {
  visibility: visible;
  opacity: 1;
  color: #3f4373;
}
.holder-services .service-items.active span {
  color: #858db1;
}
.holder-services .service-items.active:before {
  opacity: 1;
  visibility: visible;
}
.holder-services .service-items.active img.color {
  display: block;
}
.holder-services .service-items.active img.white {
  display: none;
}

.game-item {
  position: relative;
  width: 400px;
  height: 265px;
  border-radius: 10px;
  display: inline-block;
}
.game-item .img {
  background-size: 100%;
  height: 100%;
  border-radius: 11px;
  width: 100%;
}
.game-item .favorite {
  position: absolute;
  left: 23px;
  width: 18px;
  height: 18px;
  bottom: 21px;
}
.game-item .title {
  position: relative;
  top: -94px;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  right: 84px;
}
.game-item .title:before {
  content: "بازی برتر";
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.52);
  font-weight: 300;
  font-size: 15px;
  bottom: 4px;
}
.game-item:before {
  content: "";
  width: 100%;
  height: 170px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(34, 39, 71, 0) 0%, #f3303a 90%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.game-item:after {
  position: absolute;
  bottom: 21px;
  right: 16px;
  content: attr(data-num);
  border-radius: 100px;
  border: 3px solid #ffffff;
  font-family: "YekanBakhNum";
  color: #ffffff;
  font-size: 27px;
  width: 45px;
  height: 38px;
  text-align: center;
  padding-top: 6px;
}

body {
  background: #f7f8ff;
}

@media only screen and (max-width: 1570px) {
  .container {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

#header {
  position: relative;
  background: url("../img/ps4-hero-bg.png"), linear-gradient(#202542, #202542);
  background-position: right top;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
}
@media only screen and (max-width: 1200px) {
  #header {
    overflow: hidden;
  }
}
#header .nav .logo {
  width: 125px;
  height: 31px;
  float: right;
  margin-top: 50px;
}
@media only screen and (max-width: 576px) {
  #header .nav .logo {
    width: 110px;
    height: 24px;
    margin-top: 30px;
  }
}
#header .nav .white-btn {
  margin-top: 40px;
  float: left;
  padding: 14px 36px;
  font-size: 17px;
  z-index: 1;
  position: relative;
}
@media only screen and (max-width: 575px) {
  #header .nav .white-btn {
    font-size: 15px;
    margin-top: 22px;
  }
}
@media only screen and (max-width: 380px) {
  #header .nav .white-btn {
    padding: 12px 22px;
  }
}
@media only screen and (max-width: 1410px) {
  #header .nav {
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 57px;
  }
}
@media only screen and (max-width: 576px) {
  #header .nav {
    padding: 0 30px;
  }
}
#header .hero {
  display: flex;
}
@media only screen and (max-width: 1410px) {
  #header .hero {
    overflow: hidden;
  }
}
@media only screen and (max-width: 1200px) {
  #header .hero {
    flex-wrap: wrap;
  }
}
#header .hero .services {
  position: relative;
}
#header .hero .services .circles {
  position: absolute;
  top: 59px;
  animation: rotate 25s linear infinite;
  left: -50px;
  pointer-events: none;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 1570px) {
  #header .hero .services .circles {
    left: 10px;
  }
}
#header .hero .services .gradient-circle {
  position: absolute;
  top: 143px;
  right: 167px;
  animation: float 4s linear infinite;
}
@media only screen and (max-width: 1410px) {
  #header .hero .services .gradient-circle {
    top: 124px;
    right: 84px;
  }
}
#header .hero .services .gradient-rectangle {
  position: absolute;
  bottom: 118px;
  left: -61px;
  animation: float 3s linear infinite;
}
@media only screen and (max-width: 1410px) {
  #header .hero .services .gradient-rectangle {
    bottom: 59px;
    left: 9px;
  }
}
#header .hero .services .gamepad {
  position: relative;
  right: 108px;
  top: 137px;
  width: 95%;
}
@media only screen and (max-width: 1410px) {
  #header .hero .services .gamepad {
    right: 41px;
  }
}
@media only screen and (max-width: 1200px) {
  #header .hero .services {
    position: absolute;
    left: -156px;
    bottom: 47px;
    transform: rotate(45deg) scale(0.8);
  }
}
@media only screen and (max-width: 992px) {
  #header .hero .services {
    bottom: -100px;
    transform: rotate(15deg) scale(0.8);
  }
}
@media only screen and (max-width: 768px) {
  #header .hero .services {
    display: none;
  }
}
#header .hero .intro {
  width: 100%;
  max-width: 533px;
  margin: 125px 200px 190px 0;
}
@media only screen and (max-width: 1570px) {
  #header .hero .intro {
    margin: 125px 90px 190px 0;
  }
}
@media only screen and (max-width: 768px) {
  #header .hero .intro {
    margin: 70px 90px 100px 40px;
  }
}
@media only screen and (max-width: 576px) {
  #header .hero .intro {
    margin: 36px auto 105px;
    text-align: center;
  }
}
#header .hero .intro .title {
  font-size: 48px;
  font-weight: 500;
  color: #daddfb;
}
#header .hero .intro .title strong {
  font-weight: 600;
  color: #ffffff;
}
@media only screen and (max-width: 1570px) {
  #header .hero .intro .title {
    font-size: 41px;
  }
}
@media only screen and (max-width: 1410px) {
  #header .hero .intro .title {
    font-size: 39px;
  }
}
@media only screen and (max-width: 576px) {
  #header .hero .intro .title {
    font-size: 30px;
    text-align: center;
    line-height: 47px;
    padding: 0 28px;
  }
}
@media only screen and (max-width: 380px) {
  #header .hero .intro .title {
    font-size: 23px;
    line-height: 38px;
  }
}
#header .hero .intro .description {
  position: relative;
  padding-right: 28px;
  text-align: justify;
  opacity: 0.8;
  font-weight: 300;
  color: #b3b7d8;
}
#header .hero .intro .description:after {
  display: block;
  position: absolute;
  content: "";
  width: 4px;
  height: 36px;
  border-radius: 2px;
  background: #f65164;
  box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5),
    0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32);
  top: 5px;
  right: 0;
}
@media only screen and (max-width: 1410px) {
  #header .hero .intro .description {
    font-size: 16px;
  }
}
@media only screen and (max-width: 576px) {
  #header .hero .intro .description {
    padding: 0 22px;
    margin: 0 19px;
    font-size: 15px;
  }
}
#header .hero .intro .red-btn {
  padding: 17px 30px 17px 77px;
  font-size: 18px;
  margin-top: 6px;
  float: left;
}
@media only screen and (max-width: 1410px) {
  #header .hero .intro .red-btn {
    padding: 17px 30px 17px 67px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 576px) {
  #header .hero .intro .red-btn {
    float: initial;
    top: 44px;
    font-size: 15px;
    padding: 11px 25px 12px 61px;
  }
}
@media only screen and (max-width: 576px) {
  #header .hero .intro .red-btn svg {
    top: 17px;
  }
}
#header .hero .intro .gamepad {
  position: absolute;
  right: -165px;
  bottom: -119px;
  width: 380px;
}
@media only screen and (max-width: 1200px) {
  #header .hero .intro .gamepad {
    transform: scale(0.7);
    bottom: -109px;
  }
}
@media only screen and (max-width: 992px) {
  #header .hero .intro .gamepad {
    display: none;
  }
}

#main .gift-card {
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 140px;
}
@media only screen and (max-width: 1410px) {
  #main .gift-card {
    padding-bottom: 80px;
  }
}
@media only screen and (max-width: 1200px) {
  #main .gift-card {
    padding-bottom: 40px;
    padding-top: 11px;
  }
}
#main .gift-card .section-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#main .gift-card .section-title .filter-card {
  margin-right: 20px;
  margin-top: 14px;
  z-index: 2;
}
@media only screen and (max-width: 576px) {
  #main .gift-card .section-title .filter-card {
    flex: 0 0 100%;
    margin-top: -14px;
  }
}
#main .gift-card .product-item {
  margin-bottom: 40px;
}
@media only screen and (max-width: 768px) {
  #main .gift-card .product-item {
    margin-bottom: 44px;
    margin-top: 25px;
  }
}
@media only screen and (max-width: 576px) {
  #main .gift-card .product-item {
    margin-bottom: 0;
  }
}
#main .gift-card #gift-cards-carousel {
  height: 490px;
}
@media only screen and (max-width: 576px) {
  #main .gift-card #gift-cards-carousel {
    height: 310px;
    margin-right: -80px;
  }
}
@media only screen and (max-width: 576px) {
  #main .gift-card #gift-cards-carousel .owl-stage-outer {
    overflow: visible !important;
  }
}

#main .ps4-account {
  background: url("../img/ps4-account.png"), linear-gradient(#202542, #202542);
  background-position: right top;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  position: relative;
  overflow: hidden;
}
#main .ps4-account:before {
  content: "";
  position: absolute;
  left: -609px;
  top: -302px;
  background-size: 116%;
  width: 798px;
  height: 825px;
  background: url("../img/lines-bg.svg") no-repeat;
  transform: rotate(107deg);
}
@media only screen and (max-width: 992px) {
  #main .ps4-account:before {
    display: none;
  }
}
#main .ps4-account .circle {
  position: absolute;
}
@media only screen and (max-width: 768px) {
  #main .ps4-account .circle {
    display: none;
  }
}
#main .ps4-account .c1 {
  width: 42px;
  height: 42px;
  animation: floatXY 7s linear infinite;
}
#main .ps4-account .c4 {
  width: 82px;
  left: 206px;
  bottom: 0;
  animation: float 5s linear infinite;
}
#main .ps4-account .c3 {
  width: 67px;
  left: 350px;
  top: -10px;
  animation: float 10s linear infinite;
}
#main .ps4-account .c2 {
  width: 23px;
  bottom: 68px;
  left: 884px;
  animation: float 14s linear infinite;
}
#main .ps4-account > .container {
  display: flex;
  justify-content: center;
  padding: 30px 0 210px;
}
@media only screen and (max-width: 1200px) {
  #main .ps4-account > .container {
    justify-content: space-between;
    padding: 30px 0 210px;
    max-width: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  #main .ps4-account > .container {
    flex-wrap: wrap;
    padding: 30px 0 0;
  }
}
#main .ps4-account .ps4-account-carousel-wrapper {
  position: relative;
  top: 100px;
  margin: auto;
}
#main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel-counter {
  position: absolute;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.45);
  direction: ltr;
  top: -7px;
}
#main
  .ps4-account
  .ps4-account-carousel-wrapper
  #ps4-account-carousel-counter
  .current {
  color: #ffffff;
}
#main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel {
  max-width: 425px;
}
#main
  .ps4-account
  .ps4-account-carousel-wrapper
  #ps4-account-carousel
  .carousel-content {
  max-width: 425px;
}
#main
  .ps4-account
  .ps4-account-carousel-wrapper
  #ps4-account-carousel
  .carousel-content
  .title {
  font-size: 30px;
  margin-bottom: 12px;
  color: #ffffff;
}
@media only screen and (max-width: 576px) {
  #main
    .ps4-account
    .ps4-account-carousel-wrapper
    #ps4-account-carousel
    .carousel-content
    .title {
    font-size: 21px;
  }
}
#main
  .ps4-account
  .ps4-account-carousel-wrapper
  #ps4-account-carousel
  .carousel-content
  .description {
  color: #e5e6f7;
  font-weight: 300;
  font-size: 16px;
}
@media only screen and (max-width: 576px) {
  #main
    .ps4-account
    .ps4-account-carousel-wrapper
    #ps4-account-carousel
    .carousel-content
    .description {
    font-size: 14px;
    text-align: justify;
  }
}
@media only screen and (max-width: 480px) {
  #main
    .ps4-account
    .ps4-account-carousel-wrapper
    #ps4-account-carousel
    .carousel-content {
    max-width: 350px;
  }
}
@media only screen and (max-width: 365px) {
  #main
    .ps4-account
    .ps4-account-carousel-wrapper
    #ps4-account-carousel
    .carousel-content {
    max-width: 300px;
  }
}
#main
  .ps4-account
  .ps4-account-carousel-wrapper
  #ps4-account-carousel
  .owl-dots {
  display: block;
  position: absolute;
  top: -10px;
  right: 42px;
}
#main
  .ps4-account
  .ps4-account-carousel-wrapper
  #ps4-account-carousel
  .owl-dots
  .owl-dot {
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 0.43);
  border-radius: 100px;
  margin-left: 8px;
}
#main
  .ps4-account
  .ps4-account-carousel-wrapper
  #ps4-account-carousel
  .owl-dots
  .owl-dot.active {
  background: white;
  width: 21px;
}
#main
  .ps4-account
  .ps4-account-carousel-wrapper
  #ps4-account-carousel
  .owl-nav {
  position: absolute;
  left: 0;
  top: 0;
}
#main
  .ps4-account
  .ps4-account-carousel-wrapper
  #ps4-account-carousel
  .owl-nav
  .owl-prev,
#main
  .ps4-account
  .ps4-account-carousel-wrapper
  #ps4-account-carousel
  .owl-nav
  .owl-next {
  outline: none;
}
#main
  .ps4-account
  .ps4-account-carousel-wrapper
  #ps4-account-carousel
  .owl-nav
  .owl-prev
  svg,
#main
  .ps4-account
  .ps4-account-carousel-wrapper
  #ps4-account-carousel
  .owl-nav
  .owl-next
  svg {
  width: 7px;
  height: 15px;
  opacity: 0.8;
}
#main
  .ps4-account
  .ps4-account-carousel-wrapper
  #ps4-account-carousel
  .owl-nav
  .owl-prev {
  margin-left: 17px;
}
#main
  .ps4-account
  .ps4-account-carousel-wrapper
  #ps4-account-carousel
  .owl-nav
  .owl-prev
  svg {
  transform: rotate(180deg);
}
@media only screen and (max-width: 480px) {
  #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel {
    max-width: 350px;
  }
}
@media only screen and (max-width: 365px) {
  #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel {
    max-width: 300px;
  }
}
@media only screen and (max-width: 1570px) {
  #main .ps4-account .ps4-account-carousel-wrapper {
    right: -103px;
  }
}
@media only screen and (max-width: 1410px) {
  #main .ps4-account .ps4-account-carousel-wrapper {
    right: 0;
  }
}
@media only screen and (max-width: 1200px) {
  #main .ps4-account .ps4-account-carousel-wrapper {
    right: 0;
  }
}
@media only screen and (max-width: 768px) {
  #main .ps4-account .ps4-account-carousel-wrapper {
    top: 20px;
  }
}
#main .ps4-account .holder-services {
  margin: 0 auto;
}
@media only screen and (max-width: 992px) {
  #main .ps4-account .holder-services {
    flex: 0 0 100%;
    margin-top: 90px;
  }
}
@media only screen and (max-width: 768px) {
  #main .ps4-account .holder-services {
    margin-top: 0;
  }
}
@media only screen and (max-width: 576px) {
  #main .ps4-account .holder-services #ps4-service-carousel {
    margin-right: -80px;
  }
}
@media only screen and (max-width: 576px) {
  #main .ps4-account .holder-services #ps4-service-carousel .owl-stage-outer {
    overflow: visible;
  }
}
@media only screen and (max-width: 992px) {
  #main .ps4-account .holder-services .service-items {
    margin: 50px 0 80px;
  }
}

#main .popular-game {
  padding-top: 85px;
}
@media only screen and (max-width: 992px) {
  #main .popular-game {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  #main .popular-game {
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 400px) {
  #main .popular-game {
    padding-bottom: 0;
  }
}
#main .popular-game .section-title h2 {
  padding-right: 59px;
  margin-bottom: 50px;
}
#main .popular-game .section-title h2:after {
  display: none;
}
@media only screen and (max-width: 992px) {
  #main .popular-game .section-title h2 {
    font-size: 34px;
    text-align: center;
    padding-right: 0;
  }
}
@media only screen and (max-width: 576px) {
  #main .popular-game .section-title h2 {
    font-size: 20px;
    margin-top: 11px;
    margin-bottom: 35px;
  }
}
#main .popular-game .slider-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#main .popular-game-slider {
  width: 400px;
}
#main .popular-game-slider-nav {
  display: flex;
  margin-right: 15px;
}
#main .popular-game-slider-nav .nav-item {
  box-shadow: 0px 1px 1px 0 rgba(170, 188, 212, 0.31),
    0 2px 13px 0 rgba(170, 188, 212, 0.3);
  background: #fff;
  padding: 26px 78px 26px 43px;
  border-radius: 100px;
  margin-bottom: 17px;
  position: relative;
  min-width: 232px;
  font-size: 20px;
  color: rgba(63, 67, 115, 0.82);
  margin-right: 25px;
}
#main .popular-game-slider-nav .nav-item:after {
  position: absolute;
  border-radius: 100px;
  background: #f4f6fd;
  color: rgba(63, 67, 115, 0.5);
  content: attr(data-num);
  font-family: "YekanBakhNum";
  right: 18px;
  height: 31px;
  width: 40px;
  top: 18px;
  text-align: center;
  padding-top: 9px;
}
@media only screen and (max-width: 1200px) {
  #main .popular-game-slider-nav .nav-item:after {
    top: 9px;
  }
}
@media only screen and (max-width: 670px) {
  #main .popular-game-slider-nav .nav-item:after {
    height: 24px;
    width: 31px;
    padding-top: 7px;
    right: 8px;
    top: 8px;
  }
}
#main .popular-game-slider-nav .nav-item.active {
  color: #3f4473;
}
#main .popular-game-slider-nav .nav-item.active:after {
  background: #f3303a;
  color: #ffffff;
}
@media only screen and (max-width: 1200px) {
  #main .popular-game-slider-nav .nav-item {
    padding: 20px 70px 20px 22px;
    margin-bottom: 12px;
    min-width: 170px;
    font-size: 17px;
    margin-right: 18px;
  }
}
@media only screen and (max-width: 670px) {
  #main .popular-game-slider-nav .nav-item {
    padding: 17px 48px 17px 23px;
    margin-bottom: 12px;
    min-width: 100px;
    font-size: 14px;
    margin-right: 7px;
  }
}
@media only screen and (max-width: 400px) {
  #main .popular-game-slider-nav .nav-item {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  #main .popular-game-slider-nav {
    flex: 0 0 100%;
    justify-content: center;
  }
}
@media only screen and (max-width: 1200px) {
  #main .popular-game-slider-nav {
    margin-right: 0;
  }
}
@media only screen and (max-width: 1200px) {
  #main .popular-game-slider {
    width: 380px;
  }
}
@media only screen and (max-width: 400px) {
  #main .popular-game-slider {
    width: 313px;
  }
}
@media only screen and (max-width: 1200px) {
  #main .popular-game .game-item {
    width: 380px;
    height: 240px;
  }
}
@media only screen and (max-width: 400px) {
  #main .popular-game .game-item {
    width: 313px;
    height: 215px;
  }
}
@media only screen and (max-width: 670px) {
  #main .popular-game .game-item .title {
    top: -84px;
    font-size: 19px;
    font-weight: 400;
    right: 73px;
  }
}
@media only screen and (max-width: 670px) {
  #main .popular-game .game-item:after {
    font-size: 21px;
    width: 35px;
    height: 28px;
    padding-top: 6px;
  }
}

#main .ordering-steps {
  padding: 60px 0 100px;
}
@media only screen and (max-width: 992px) {
  #main .ordering-steps {
    padding: 60px 15px 100px;
  }
}
#main .ordering-steps > .container {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1200px) {
  #main .ordering-steps > .container {
    padding: 0;
  }
}
#main .ordering-steps .step-item {
  flex: 0 0 49%;
  margin: 30px auto 0;
}
@media only screen and (max-width: 768px) {
  #main .ordering-steps .step-item .title {
    font-size: 19px;
  }
}
@media only screen and (max-width: 1200px) {
  #main .ordering-steps .step-item .description {
    padding: 0 47px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 768px) {
  #main .ordering-steps .step-item .description {
    padding: 0 28px;
    line-height: 29px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  #main .ordering-steps .step-item {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  #main .ordering-steps {
    padding: 1px;
    background: rgba(37, 40, 73, 0.788235);
  }
}

#footer {
  background: url("../img/cta-bg.png") no-repeat center -180px,
    linear-gradient(#252849, #252849);
  color: rgba(255, 255, 255, 0.84);
  padding: 50px 0 20px 0;
  position: relative;
  font-size: 13px;
  font-weight: 300;
  overflow: hidden;
  background-size: contain;
  background-blend-mode: color-dodge;
}
@media only screen and (max-width: 992px) {
  #footer {
    background-position: center -100px;
  }
}
@media only screen and (max-width: 768px) {
  #footer {
    background-position: center -40px;
  }
}
#footer .cta {
  text-align: center;
  padding: 10px 0 174px 0;
}
#footer .cta .title {
  font-size: 30px;
  color: #fff;
}
@media only screen and (max-width: 576px) {
  #footer .cta .title {
    font-size: 22px;
    line-height: 34px;
  }
}
#footer .cta .description {
  font-size: 18px;
  color: #8c90b1;
  margin-top: -16px;
}
@media only screen and (max-width: 576px) {
  #footer .cta .description {
    font-size: 14px;
    margin-top: -5px;
  }
}
#footer .cta .white-btn-v2 {
  top: 40px;
}
@media only screen and (max-width: 576px) {
  #footer .cta .white-btn-v2 {
    padding: 11px 58px 11px 24px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 576px) {
  #footer .cta .white-btn-v2 svg {
    right: 4px;
    top: 3px;
    padding: 11px;
    width: 12px;
    height: 12px;
  }
}
@media only screen and (max-width: 768px) {
  #footer .cta {
    padding: 10px 32px 104px 34px;
  }
}
#footer .circle {
  pointer-events: none;
}
#footer .c1 {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 165px;
  bottom: -10px;
  z-index: 1;
  animation: float 5s ease-in-out infinite;
}
@media only screen and (max-width: 800px) {
  #footer .c1 {
    display: none;
  }
}
#footer .c2 {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 90px;
  bottom: 150px;
  z-index: 1;
  animation: float 6s ease-in-out infinite;
}
@media only screen and (max-width: 992px) {
  #footer .c2 {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (max-width: 800px) {
  #footer .c2 {
    display: none;
  }
}
#footer .c3 {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 125px;
  bottom: 180px;
  animation: float 4s ease-in-out infinite;
}
@media only screen and (max-width: 992px) {
  #footer .c3 {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 600px) {
  #footer .c3 {
    display: none;
  }
}
#footer .c4 {
  position: absolute;
  width: 82px;
  height: 82px;
  top: 8px;
  left: 555px;
  animation: floatXY 4s linear infinite;
}
@media only screen and (max-width: 992px) {
  #footer .c4 {
    width: 52px;
    height: 52px;
    left: 55px;
  }
}
#footer .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (max-width: 992px) {
  #footer .content {
    justify-content: center;
  }
}
#footer .content .description {
  display: flex;
  max-width: 380px;
}
#footer .content .description .footer-logo {
  width: 60px;
  margin-left: 20px;
}
@media only screen and (max-width: 576px) {
  #footer .content .description .footer-logo {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 576px) {
  #footer .content .description p {
    display: none;
  }
}
#footer .content .menu {
  list-style: none;
}
#footer .content .menu li {
  display: inline-block;
  padding: 5px 10px 17px 10px;
  margin-left: 60px;
  position: relative;
  transition: all ease-in-out 0.5s;
}
#footer .content .menu li:after {
  transition: all ease-in-out 0.5s;
  display: block;
  position: absolute;
  content: "";
  width: 25px;
  height: 3px;
  border-radius: 1.5px;
  background: #f3303a;
  box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5),
    0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32);
  bottom: 0;
  left: calc((100% - 25px) / 2);
  opacity: 0;
  visibility: hidden;
}
#footer .content .menu li:hover:after {
  opacity: 1;
  visibility: visible;
}
#footer .content .menu li.active:after {
  opacity: 1;
  visibility: visible;
}
@media only screen and (max-width: 992px) {
  #footer .content .menu {
    flex: 0 0 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 576px) {
  #footer .content .menu {
    display: none;
  }
}
#footer .copyright {
  text-align: center;
  color: rgba(240, 242, 248, 0.55);
  direction: ltr;
  margin-top: 50px;
  font-weight: 300;
}
#footer .copyright .mobile-logo {
  display: none;
}
@media only screen and (max-width: 992px) {
  #footer .copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.121569);
    padding-top: 19px;
    margin-top: 0;
  }
}
/* ************product card new style************** */
#gift-cards-carousel {
  margin-top: 30px;
}
:root {
  font-size: 10px;
}
.btn {
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
}

.btn.revert svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.btn--red {
  background: #f3303a;
  color: #fff;
  -webkit-box-shadow: 0 8px 27px 0 rgba(243, 48, 58, 0.23);
  box-shadow: 0 8px 27px 0 rgba(243, 48, 58, 0.23);
}

.btn--red svg {
  stroke: #fff;
}

.btn--red:focus,
.btn--red:hover {
  color: #fff;
}

.btn--dark {
  background: #25294a;
  color: #fff;
}

.btn--dark svg {
  stroke: #fff;
}

.btn--dark:focus,
.btn--dark:hover {
  color: #fff;
}

.btn--white {
  background: #fff;
  color: rgba(63, 67, 115, 0.8);
}

.btn--white svg {
  stroke: rgba(63, 67, 115, 0.6);
}

.btn--white:focus,
.btn--white:hover {
  color: rgba(63, 67, 115, 0.8);
}

.btn--transparent {
  background: transparent;
  border: 1px solid #dfe1f4;
  color: #25294a;
}

.btn--transparent svg {
  stroke: rgba(63, 67, 115, 0.6);
}

#ordModal .btn--transparent svg {
  stroke: #fff;
}

.orderModalContent .btn--transparent {
  color: #fff;
}

.btn--transparent:focus,
.btn--transparent:hover {
  color: #25294a;
}

.orderModalContent .btn--transparent:focus,
.orderModalContent .btn--transparent:hover {
  color: #fff;
}

.btn-silver {
  background: #d3d4da;
  color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(168, 192, 226, 0.27),
    0 2px 5px 0 rgba(168, 192, 226, 0.19);
  box-shadow: 0 1px 2px 0 rgba(168, 192, 226, 0.27),
    0 2px 5px 0 rgba(168, 192, 226, 0.19);
}

.btn-silver.active {
  background: #25294a;
}

.btn-silver svg {
  stroke: #fff;
}

.btn--icon {
  -webkit-border-radius: 45px;
  border-radius: 45px;
  text-align: center;
}

.btn--icon svg {
  width: 20px;
  height: 20px;
}

.btn--small {
  padding: 1.5rem 3.5rem;
}

.btn--small svg {
  width: 7px;
  height: 11px;
  top: -webkit-calc((100% - 1.1rem)/2);
  top: calc((100% - 1.1rem) / 2);
}

.btn--large {
  padding: 1.8rem 3rem;
  font-size: 2rem;
  font-weight: 500;
}

.btn--large svg {
  width: 10px;
  height: 14px;
  top: -webkit-calc((100% - 1.4rem)/2);
  top: calc((100% - 1.4rem) / 2);
}

.btn--circle {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.btn--circle svg {
  stroke: #25294a;
}

.btn--text--right {
  padding-left: 7.5rem;
}

.btn--text--right svg {
  position: absolute;
  left: 30px;
}

.btn--text--left {
  padding-right: 7.5rem;
}

.btn--text--left svg {
  position: absolute;
  right: 3rem;
}

.product-card {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  /* 11px */
  /* display: block; */
  position: relative;
  overflow: hidden;
  /*TYPES*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card .image-holder {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  position: relative;
  width: 100%;

  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}

.product-card .image-holder img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.product-card .hole {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  position: absolute;
  width: 4.5rem;
  /* 45px */
  height: 1rem;
  /* 10px */
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  /* 5px */
  background: #fff;
  top: 2.2rem;
  /* 22px */
  z-index: 1;
  left: -webkit-calc((100% - 4.5rem)/2);
  left: calc((100% - 4.5rem) / 2);
}

.product-card .hole:after {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  display: block;
  position: absolute;
  content: "";
  width: 1.2rem;
  /* 12px */
  height: 1.2rem;
  /* 12px */
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  top: -0.6rem;
  /* -6px */
  left: -webkit-calc((100% - 1.2rem)/2);
  left: calc((100% - 1.2rem) / 2);
}

.product-card .product-title {
  font-weight: 500;
  display: block;
  margin-top: 1.5rem;
  /* 25px */
  margin-bottom: 0;
  line-height: 1.3;
  direction: rtl;
  /* width: 100%; */
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: right;
  white-space: initial;
  display: -webkit-box;
  font-size: 1.6rem;
}

.product-card .product-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* position: absolute; */
  /* width: 100%; */
  left: 0;
  bottom: 0;
  padding-bottom: 2rem;
  font-size: 13px;
}

.product-card .product-title,
.product-card .product-bottom {
  padding-left: 2rem;
  padding-right: 2rem;
}

.product-card .product-card-price .sale-price {
  font-family: "YekanBakhNum";
  font-weight: 600;
  font-size: 2.5rem;
  position: relative;
  padding-left: 3.3rem;
  display: block;
}

.product-card .product-card-price .sale-price:before {
  font-weight: 500;
  font-family: "YekanBakh" !important;
  display: block;
  position: absolute;
  content: "تومان";
  font-size: 1.4rem;
  left: 0;
  bottom: 0.3rem;
  /* 3px */
}

.product-card .add-to-cart {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  width: 4.8rem;
  /* 48px */
  height: 4.8rem;
  /* 48px */
  position: relative;
}

.product-card .add-to-cart svg {
  position: absolute;
  width: 1.3rem;
  /* 13px */
  height: 1.3rem;
  /* 13px */
  top: -webkit-calc((100% - 1.3rem)/2);
  top: calc((100% - 1.3rem) / 2);
  left: -webkit-calc((100% - 1.3rem)/2);
  left: calc((100% - 1.3rem) / 2);
}

.product-card.white {
  background: #fff;
  -webkit-box-shadow: 0 0.2rem 0.5rem 0 rgba(168, 192, 226, 0.35);
  box-shadow: 0 0.2rem 0.5rem 0 rgba(168, 192, 226, 0.35);
}

.product-card.white .product-card-price .original-price {
  color: rgba(63, 67, 115, 0.8);
}

.product-card.white .product-card-price .sale-range {
  color: #f3303a;
  border-color: #f3303a;
}

.product-card.white .product-card-price .sale-price {
  color: #3f4373;
}

.product-card.white .product-card-price .sale-price:before {
  color: rgba(63, 67, 115, 0.8);
}

.product-card.white .product-title {
  color: #3f4373;
}

.product-card.white .add-to-cart {
  border-color: #cacdea;
  background: transparent;
  border-width: 0.2rem;
  /* 2px */
}

.product-card.white .add-to-cart svg {
  stroke: #3f4373;
}

.product-card.transparent-dark {
  background: transparent;
}

.product-card.transparent-dark .product-card-price .original-price {
  color: rgba(255, 255, 255, 0.8);
}

.product-card.transparent-dark .product-card-price .sale-range {
  color: #f3303a;
  border-color: #f3303a;
}

.product-card.transparent-dark .product-card-price .sale-price {
  color: #fff;
}

.product-card.transparent-dark .product-card-price .sale-price:before {
  color: rgba(255, 255, 255, 0.8);
}

.product-card.transparent-dark .product-title {
  color: #fff;
}

.product-card.transparent-dark .add-to-cart {
  border-color: #a7aac7;
  background: transparent;
  border-width: 0.2rem;
  /* 2px */
}

.product-card.transparent-dark .add-to-cart svg {
  stroke: #fff;
}

.product-card.transparent-white {
  background: transparent;
}

.product-card.transparent-white .product-card-price .original-price {
  color: rgba(63, 67, 115, 0.8);
}

.product-card.transparent-white .product-card-price .sale-range {
  color: #f3303a;
  border-color: #f3303a;
}

.product-card.transparent-white .product-card-price .sale-price {
  color: #3f4373;
}

.product-card.transparent-white .product-card-price .sale-price:before {
  color: rgba(63, 67, 115, 0.8);
}

.product-card.transparent-white .product-title {
  color: #3f4373;
}

.product-card.transparent-white .add-to-cart {
  border-color: #a7aac7;
  background: transparent;
  border-width: 0.2rem;
  /* 2px */
}

.product-card.transparent-white .add-to-cart svg {
  stroke: #3f4373;
}

.product-card.hover-dark:hover {
  background: #25294a;
  -webkit-box-shadow: 0 0.2rem 0.5rem 0 rgba(168, 192, 226, 0.35);
  box-shadow: 0 0.2rem 0.5rem 0 rgba(168, 192, 226, 0.35);
}

.product-card.hover-dark:hover .product-card-price {
  color: rgba(255, 255, 255, 0.5);
}

.product-card.hover-dark:hover .product-card-price .original-price {
  color: rgba(255, 255, 255, 0.8);
}

.product-card.hover-dark:hover .product-card-price .sale-range {
  color: #fff;
  background: transparent;
  border-color: #f3303a;
}

.product-card.hover-dark:hover .product-card-price .sale-price {
  color: #fff;
}

.product-card.hover-dark:hover .product-card-price .sale-price:before {
  color: rgba(255, 255, 255, 0.8);
}

.product-card.hover-dark:hover .product-title {
  color: #fff;
}

.product-card.hover-dark:hover .add-to-cart {
  border-color: #f3303a;
  background: #f3303a;
  -webkit-box-shadow: 0 0.8rem 2.7rem 0 rgba(243, 48, 58, 0.23);
  box-shadow: 0 0.8rem 2.7rem 0 rgba(243, 48, 58, 0.23);
}

.product-card.hover-dark:hover .add-to-cart svg {
  stroke: #fff;
}

.product-card.hover-light:hover {
  background: #fff;
  -webkit-box-shadow: 0 5.7rem 4.6rem 0 rgba(208, 213, 251, 0.22),
    0 0.2rem 0.5rem 0 rgba(168, 192, 226, 0.21);
  box-shadow: 0 5.7rem 4.6rem 0 rgba(208, 213, 251, 0.22),
    0 0.2rem 0.5rem 0 rgba(168, 192, 226, 0.21);
}

.product-card.hover-light:hover .product-card-price .original-price {
  color: rgba(63, 67, 115, 0.8);
}

.product-card.hover-light:hover .product-card-price .sale-range {
  color: #f3303a;
  background: transparent;
  border-color: #f3303a;
}

.product-card.hover-light:hover .product-card-price .sale-price {
  color: #3f4373;
}

.product-card.hover-light:hover .product-card-price .sale-price:before {
  color: rgba(63, 67, 115, 0.8);
}

.product-card.hover-light:hover .product-title {
  color: #3f4373;
}

.product-card.hover-light:hover .add-to-cart {
  border-color: #f3303a;
  background: #f3303a;
  -webkit-box-shadow: 0 0.8rem 2.7rem 0 rgba(243, 48, 58, 0.23);
  box-shadow: 0 0.8rem 2.7rem 0 rgba(243, 48, 58, 0.23);
}

.product-card.hover-light:hover .add-to-cart svg {
  stroke: #fff;
}

.product-card.hover-up:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.product-card.small-size {
  width: 24rem;
  /* 270px */
  height: 39rem;
  /* 410px */
}

.product-card.small-size .image-holder {
  height: 23.6rem;
  /* 216px */
}

.product-card.small-size .product-card-price {
  padding: 0;
}

.product-card.normal-size {
  width: 23rem;
  height: 44.5rem;
}

.product-card.normal-size .image-holder {
  height: 29.5rem;
}

.product-card.normal-size .product-card-price {
  padding: 0;
}

.product-card.larg-size {
  width: 46rem;
  height: 44.5rem;
}

.product-card.larg-size .image-holder {
  height: 29.5rem;
}

.product-card.larg-size .image-holder img {
  display: none;
}

.product-card.larg-size .image-holder img.large-image {
  display: block;
}

.product-card.larg-size .image-holder .special-tag {
  top: 0.5rem;
  left: 0.5rem;
}

.product-card.medium-size {
  padding: 2.5rem 3rem;
  width: 27rem;
  /* 270px */
  height: 48.7rem;
  /* 487px */
}

.product-card.medium-size .image-holder {
  width: 21.4rem;
  /* 214px */
  height: 31.4rem;
  /* 314px */
}

.product-card.medium-size .product-card-price {
  padding: 0;
}

.product-card.middle-size {
  width: 27rem;
  /* 270px */
  height: 47.5rem;
  /* 475px */
  padding: 2.5rem 3.5rem 10rem 3.5rem;
}

.product-card.middle-size .image-holder {
  height: 27rem;
  /* 270px */
}

.product-card.middle-size .product-card-price {
  padding: 0;
}

@media only screen and (max-width: 1480px) {
  .product-card .product-bottom {
    padding-bottom: 1.5rem;
  }

  .product-card .product-title,
  .product-card .product-bottom {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .product-card .product-card-price .sale-price {
    font-size: 2.2rem;
  }

  .product-card .add-to-cart {
    width: 4rem;
    /* 40px */
    height: 4rem;
    /* 40px */
  }

  .product-card.normal-size {
    width: 21rem;
    height: 41.5rem;
  }

  .product-card.normal-size .image-holder {
    height: 27.5rem;
  }

  .product-card.larg-size {
    width: 42rem;
    height: 41.5rem;
  }

  .product-card.larg-size .image-holder {
    height: 27.5rem;
  }

  .product-card.middle-size {
    padding: 2rem 2rem 8rem 2rem;
    width: 23rem;
    /* 230px */
    height: 41.5rem;
    /* 415px */
  }

  .product-card.middle-size .image-holder {
    height: 23.5rem;
    /* 235px */
  }
}

@media only screen and (max-width: 1250px) {
  .product-card .product-title {
    font-size: 1.5rem;
    margin-top: 2rem;
    /* 20px */
  }

  .product-card.small-size {
    width: 23rem;
    /* 230px */
    height: 36rem;
    /* 360px */
  }

  .product-card.small-size .image-holder {
    height: 21rem;
    /* 180px */
  }

  .product-card.middle-size {
    padding: 1.5rem 1.5rem 6rem 1.5rem;
    width: 20rem;
    /* 200px */
    height: 38.5rem;
    /* 385px */
  }

  .product-card.middle-size .image-holder {
    height: 22.5rem;
    /* 225px */
  }
}
@media only screen and (max-width: 1130px) {
  .product-card.normal-size {
    width: 18rem;
    height: 37rem;
  }

  .product-card.normal-size .image-holder {
    height: 24.5rem;
  }

  .product-card.larg-size {
    width: 36rem;
    height: 37rem;
  }

  .product-card.larg-size .image-holder {
    height: 24.5rem;
  }
}
@media only screen and (max-width: 1100px) {
  .product-card .product-title {
    font-size: 1.4rem;
    margin-top: 1.5rem;
    /* 15px */
  }

  .product-card.small-size {
    width: 20rem;
    /* 210px */
    height: 32rem;
    /* 340px */
  }

  .product-card.small-size .image-holder {
    height: 19rem;
    /* 170px */
  }

  .product-card.middle-size {
    width: 19rem;
    /* 190px */
    height: 36.5rem;
    /* 365px */
  }

  .home-card-wrapper {
    margin-top: 3rem;
    /* 30px */
  }
}
@media only screen and (max-width: 991px) {
  .product-card .product-title {
    font-size: 1.3rem;
    margin-top: 1rem;
  }

  .product-card .product-title,
  .product-card .product-bottom {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .product-card .product-card-price {
    font-size: 1.2rem;
  }

  .product-card .product-card-price .sale-price {
    font-size: 2rem;
    padding-left: 2.5rem;
  }

  .product-card .product-card-price .sale-price:before {
    font-size: 1.1rem;
    bottom: 0;
  }

  .product-card .add-to-cart {
    width: 3rem;
    height: 3rem;
  }

  .product-card .add-to-cart svg {
    width: 1rem;
    height: 1rem;
    top: -webkit-calc((100% - 1rem)/2);
    top: calc((100% - 1rem) / 2);
    left: -webkit-calc((100% - 1rem)/2);
    left: calc((100% - 1rem) / 2);
  }

  .product-card.small-size {
    width: 17rem;
    /* 160px */
    height: 27rem;
    /* 245px */
  }

  .product-card.small-size .image-holder {
    height: 16rem;
    /* 140px */
  }

  .product-card.normal-size {
    height: 31.5rem;
    width: 17rem;
  }

  .product-card.normal-size .image-holder {
    height: 20rem;
  }

  .product-card.larg-size {
    width: 34rem;
    height: 31.5rem;
  }

  .product-card.larg-size .image-holder {
    height: 20rem;
  }

  .product-card.medium-size {
    padding: 1.5rem;
    width: 22rem;
    /* 220px */
    height: 38.5rem;
    /* 385px */
  }

  .product-card.medium-size .image-holder {
    width: 17rem;
    /* 170px */
    height: 23.5rem;
    /* 235px */
  }
}

@media only screen and (max-width: 870px) {
  .product-card .hole {
    top: 1rem;
    /* 10px */
    width: 3.5rem;
    /* 35px */
    height: 0.7rem;
    /* 7px */
    left: -webkit-calc((100% - 3.5rem)/2);
    left: calc((100% - 3.5rem) / 2);
  }

  .product-card.medium-size {
    padding: 1.5rem;
    width: 16.5rem;
    /* 165px */
    height: 27.5rem;
    /* 275px */
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    /* 5px */
  }

  .product-card.medium-size .image-holder {
    width: 13rem;
    /* 130px */
    height: 16.5rem;
    /* 165px */
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    /* 5px */
  }

  .product-card.middle-size {
    padding: 1rem 1rem 4rem 1rem;
    width: 15rem;
    /* 150px */
    height: 28.5rem;
    /* 285px */
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    /* 5px */
  }

  .product-card.middle-size .image-holder {
    height: 18.5rem;
    /* 185px */
  }
}
@media only screen and (max-width: 768px) {
  .product-card .product-card-price-from .sale-price {
    margin-right: 1rem;
    /* 10px */
  }
}

@media only screen and (max-width: 500px) {
  .product-card .product-card-price .sale-price {
    font-size: 1.5rem;
  }

  .product-card .product-card-price .sale-price:before {
    font-size: 0.9rem;
  }

  .product-card.hover-up:hover {
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
  }

  .product-card.normal-size {
    height: 30rem;
  }

  .product-card.larg-size {
    height: 30rem;
  }

  .product-card.larg-size .image-holder img {
    display: block;
  }

  .product-card.larg-size .image-holder img.large-image {
    display: none;
  }
}

.special-tag {
  font-weight: 600;
  font-size: 1.6rem;
  color: #fff;
  background: #f3303a;
  padding: 0.8rem 3rem 0.8rem 1.5rem;
  position: absolute;
  -webkit-border-radius: 0.3rem 1.8rem 1.8rem 1.8rem;
  border-radius: 0.3rem 1.8rem 1.8rem 1.8rem;
  /* 3px 18px 18px 18px */
}

.special-tag svg {
  width: 1.2rem;
  /* 12px */
  height: 1.6rem;
  /* 16px */
  position: absolute;
  right: 1.5rem;
  /* 15px */
  fill: #fff;
  top: -webkit-calc((100% - 1.6rem)/2);
  top: calc((100% - 1.6rem) / 2);
}

.prebuy-tag {
  font-weight: 600;
  font-size: 1.5rem;
  background: #21a4ff;
  padding: 0.8rem 2rem;
  -webkit-border-radius: 1.8rem;
  border-radius: 1.8rem;
  /* 18px */
  color: #fff;
}
@media only screen and (max-width: 991px) {
  .special-tag {
    font-size: 1.4rem;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 0.3rem 1rem 1rem 1rem;
  }
  .special-tag svg {
    width: 0.9rem; /* 9px */
    height: 1.3rem; /* 13px */
    top: calc(100% - 1.3rem) / 2;
  }
  .prebuy-tag {
    font-size: 1.3rem;
    padding: 0.7rem 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .special-tag {
    font-size: 1.2rem;
    padding: 0.3rem 2rem 0.3rem 1rem;
    border-radius: 0.2rem 0.7rem 0.7rem 0.7rem;
  }
  .special-tag svg {
    right: 0.8rem; /* 8px */
  }
  .prebuy-tag {
    font-size: 1.1rem;
    padding: 0.4rem 1rem;
  }
}
