

.main-cats {
  display: flex;
  flex-wrap: wrap;
}
.main-cats a {
  display: block;
  padding: 6px;
  border: 1px solid #ddd;
  margin: 5px 4px;
  cursor: pointer;
}
.main-cats a:hover {
  background: #0073aa;
  color: #fff;
}


.step{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  background: rgba(255,255,255,0.9);
  padding: 100px 30px;
}