body {
  background: #f7f8ff;
}
.container {
  @include breakpoint(max, 1570px) {
    max-width: 120rem; /* 1200px */
  }
  @include breakpoint(max, 1200px) {
    max-width: 99.2rem; /* 992px */
  }
}
.container-products {
  max-width: 148.6rem; /* 1486px */
  width: 100%;
  margin: 0 auto;
}
#header {
  position: relative;
  background: #202542;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    left: -13.3rem; /* -133px */
    top: -0.3rem; /* -3px */
    background-size: 100%;
    width: 107.1rem; /* 1071px */
    height: 80rem; /* 800px */
    background: linear-gradient(to right, rgba(32, 37, 66, 0), #202542),
      url(../img/buy-xbox-code-bg-2.png) no-repeat;
    @include breakpoint(max, 1470px) {
      left: -33.3rem; /* -333px */
    }
    @include breakpoint(max, 1370px) {
      left: -44.3rem; /* -443px */
    }
    @include breakpoint(max, 1200px) {
      left: -60.3rem; /* -603px */
    }
    @include breakpoint(max, 992px) {
      left: -70.3rem; /* -703px */
    }
    @include breakpoint(max, 768px) {
      display: none;
    }
  }
  @include breakpoint(max, 1200px) {
    overflow: hidden;
  }
  .nav {
    z-index: 2;
    position: relative;
    .logo {
      width: 12.5rem; /* 125px */
      height: 3.1rem; /* 31px */
      float: right;
      margin-top: 5rem; /* 50px */
      @include breakpoint(max, 576px) {
        width: 11rem; /* 110px */
        height: 2.4rem; /* 24px */
        margin-top: 3rem; /* 30px */
      }
    }
    .white-btn {
      margin-top: 4rem; /* 40px */
      float: left;
      padding: 1.4rem 3.6rem; /* 14px 36px */
      font-size: 1.7rem; /* 17px */
      z-index: 1;
      position: relative;
      @include breakpoint(max, 575px) {
        font-size: 1.5rem; /* 15px */
        margin-top: 2.2rem; /* 22px */
      }
      @include breakpoint(max, 380px) {
        padding: 1.2rem 2.2rem; /* 12px 22px */
      }
    }
    @include breakpoint(max, 1410px) {
      max-width: 107rem; /* 1070px */
      margin: 0 auto;
      padding: 0 5.7rem; /* 57px */
    }
    @include breakpoint(max, 576px) {
      padding: 0 3rem; /* 30px */
    }
  }
  .hero {
    display: flex;
    .intro {
      width: 100%;
      max-width: 45.4rem; /* 454px */
      margin: 10.5rem -5rem 10rem 0; /* 105px -50px 100px */
      z-index: 2;
      .title {
        font-size: 4.8rem; /* 48px */
        font-weight: 500;
        color: #daddfb;
        strong {
          font-weight: 600;
          color: #ffffff;
        }
        @include breakpoint(max, 1570px) {
          font-size: 4.1rem; /* 41px */
        }
        @include breakpoint(max, 1410px) {
          font-size: 3.9rem; /* 39px */
        }
        @include breakpoint(max, 576px) {
          font-size: 3rem; /* 30px */
          text-align: center;
          line-height: 4.7rem; /* 47px */
          padding: 0 2.8rem; /* 28px */
        }
        @include breakpoint(max, 380px) {
          font-size: 2.3rem; /* 23px */
          line-height: 3.8rem; /* 38px */
        }
      }
      .description {
        position: relative;
        padding-right: 2.8rem; /* 28px */
        text-align: justify;
        opacity: 0.8;
        font-weight: 300;
        color: #b3b7d8;
        &:after {
          display: block;
          position: absolute;
          content: "";
          width: 0.4rem; /* 4px */
          height: 3.6rem; /* 36px */
          border-radius: 0.2rem; /* 2px */
          background: #f65164;
          box-shadow: 0 0.5rem 1.5rem 0 rgba(243, 48, 58, 0.5),
            0 0.5rem 1.2rem 0 rgba(243, 48, 58, 0.61),
            0 0.4rem 0.7rem 0 /* 5px 15px 5px 12px 4px 7px */
              rgba(243, 48, 58, 0.32);
          top: 0.5rem; /* 5px */
          right: 0;
        }
        @include breakpoint(max, 1410px) {
          font-size: 1.6rem; /* 16px */
        }
        @include breakpoint(max, 576px) {
          padding: 0 2.2rem; /* 22px */
          margin: 0 1.9rem; /* 19px */
          font-size: 1.5rem; /* 15px */
        }
      }
      .red-btn {
        padding: 1.7rem 3rem 1.7rem 7.7rem; /* 17px 30px 17px 77px */
        font-size: 1.8rem; /* 18px */
        margin-top: 0.6rem; /* 6px */
        float: left;
        @include breakpoint(max, 1410px) {
          padding: 1.7rem 3rem 1.7rem 6.7rem; /* 17px 30px 17px 67px */
          font-size: 1.6rem; /* 16px */
        }
        @include breakpoint(max, 576px) {
          float: initial;
          top: 4.4rem; /* 44px */
          font-size: 1.5rem; /* 15px */
          padding: 1.1rem 2.5rem 1.2rem 6.1rem; /* 11px 25px 12px 61px */
        }
        svg {
          @include breakpoint(max, 576px) {
            top: 1.8rem; /* 18px */
          }
        }
      }
      @include breakpoint(max, 1410px) {
        margin: 10.5rem 5rem 10rem 0; /* 105px 50px 100px */
      }
      @include breakpoint(max, 768px) {
        margin: 8rem auto 8rem; /* 80px 80px */
      }
      @include breakpoint(max, 576px) {
        margin: 4rem auto 10rem; /* 40px 100px */
        text-align: center;
      }
    }
  }
}
#main {
  .gift-card {
    overflow: hidden;
    padding-top: 4rem; /* 40px */
    padding-bottom: 10rem; /* 100px */
    &.two {
      padding-top: 9.5rem; /* 95px */
      padding-bottom: 6.5rem; /* 65px */
      @include breakpoint(max, 768px) {
        padding-bottom: 0;
        padding-top: 0rem; /* 0px */
      }
    }
    &.tree {
      .container-products {
        max-height: 62.3rem; /* 623px */
      }
      .products-wrapper {
        box-shadow: none;
        background: transparent;
        &:before {
          background: linear-gradient(
            to right,
            #f7f8ff 0%,
            rgba(255, 255, 255, 0) 100%
          );
        }
        &:after {
          background: linear-gradient(
            to left,
            #f7f8ff 0%,
            rgba(255, 255, 255, 0) 100%
          );
        }
      }
    }
    &.four {
      padding-top: 14rem; /* 140px */
      padding-bottom: 0;
      margin-bottom: -8.5rem; /* -85px */
      .products-wrapper {
        background: #fff;
      }
      #blizzard-carousel {
        height: 49rem; /* 490px */
        @include breakpoint(max, 576px) {
          height: 30rem; /* 300px */
        }
      }
      @include breakpoint(max, 1570px) {
        padding-top: 9rem; /* 90px */
      }
      @include breakpoint(max, 1200px) {
        padding-top: 4rem; /* 40px */
      }
      @include breakpoint(max, 768px) {
        padding-top: 0;
      }
    }
    &.five {
      background: $darker;
      padding-top: 17rem; /* 170px */
      @include breakpoint(max, 1550px) {
        padding-top: 14rem; /* 140px */
      }
      @include breakpoint(max, 576px) {
        padding-top: 12rem; /* 120px */
      }
      .section-title {
        h2 {
          color: #ffffff;
          font-weight: 300;
          padding-right: 1.5rem; /* 15px */
          margin: 0 0 5rem 2rem; /* 50px 20px */
          @include breakpoint(max, 1200px) {
            margin: 0 0 1.4rem 2rem; /* 14px 20px */
            flex: 0 0 100%;
            text-align: right;
          }
          @include breakpoint(max, 768px) {
            font-size: 2.5rem; /* 25px */
          }
          @include breakpoint(max, 576px) {
            font-size: 1.8rem; /* 18px */
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 2.5rem; /* 25px */
          }
          &:after {
            @include breakpoint(max, 768px) {
              right: -0.5rem; /* -5px */
              top: -0.2rem; /* -2px */
            }
            @include breakpoint(max, 576px) {
              width: 1rem; /* 10px */
              height: 1rem; /* 10px */
              border-radius: 1.2rem; /* 12px */
              box-shadow: none;
              right: -0.4rem; /* -4px */
              top: 0.2rem; /* 2px */
            }
          }
        }
        p {
          color: #ced4fc;
          max-width: 60rem; /* 600px */
          font-weight: 300;
          opacity: 0.6;
          margin: 0 0 5rem; /* 50px */
          @include breakpoint(max, 768px) {
            margin: 0 0 1rem; /* 10px */
            font-size: 1.5rem; /* 15px */
          }
          @include breakpoint(max, 576px) {
            margin: 0 0 1.5rem; /* 15px */
            font-size: 1.3rem; /* 13px */
          }
        }
        @include breakpoint(max, 1550px) {
          padding: 0 3rem; /* 30px */
        }
      }
      .product-item {
        background: #ffffff;
        &:hover {
          background: #ffffff;
          box-shadow: none;
          .product-title,
          .sale-price,
          .original-price,
          .sale-range,
          .sale-price:before {
            color: inherit;
          }
        }
        @include breakpoint(max, 768px) {
          box-shadow: none;
        }
      }
      #rockstar-carousel {
        right: 11%;
        height: 48.8rem; /* 488px */
        .owl-nav {
          position: absolute;
          left: 42rem; /* 420px */
          top: -10.5rem; /* -105px */
          @include breakpoint(max, 1550px) {
            left: 6rem; /* 60px */
          }
          @include breakpoint(max, 576px) {
            left: 2.8rem; /* 28px */
            transform: scale(0.7);
          }
          @include breakpoint(max, 420px) {
            display: none;
          }
          .owl-prev {
            display: none;
          }
          .owl-next {
            background: #2d325a;
            padding: 1.1rem 3.5rem /* 11px 35px */ !important;
            border-radius: 10rem; /* 100px */
            outline: none;
            svg {
              width: 0.9rem; /* 9px */
              height: 1.2rem; /* 12px */
              opacity: 0.5;
              position: relative;
              top: 0.3rem; /* 3px */
            }
          }
        }
        @include breakpoint(max, 1550px) {
          right: 3%;
        }
        @include breakpoint(max, 768px) {
          right: 0;
        }
        @include breakpoint(max, 576px) {
          height: 33rem; /* 330px */
        }
      }
    }
    &.six {
      padding-top: 5.5rem; /* 55px */
      padding-bottom: 7.5rem; /* 75px */
      @include breakpoint(max, 768px) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    @include breakpoint(max, 1410px) {
      padding-bottom: 8rem; /* 80px */
    }
    @include breakpoint(max, 1200px) {
      padding-bottom: 4rem; /* 40px */
      padding-top: 1.1rem; /* 11px */
    }
    @include breakpoint(max, 768px) {
      padding-bottom: 0;
    }
    .products-wrapper {
      box-shadow: 0 0.9rem 4.6rem 0 rgba(34, 39, 71, 0.1),
        0 0.2rem 0.5rem 0 /* 9px 46px 2px 5px */ rgba(34, 39, 71, 0.1);
      border-radius: 1.1rem; /* 11px */
      position: relative;
      padding: 0 0 4rem 0; /* 40px */
      &:before,
      &:after {
        position: absolute;
        background: linear-gradient(
          to right,
          white 0%,
          rgba(255, 255, 255, 0) 100%
        );
        left: 0rem; /* 0px */
        top: 0;
        width: 10rem; /* 100px */
        content: "";
        height: 100%;
        z-index: 2;
        pointer-events: none;
        border-radius: 1.1rem; /* 11px */
        @include breakpoint(max, 768px) {
          display: none;
        }
      }
      &:after {
        left: initial;
        right: 0;
        background: linear-gradient(
          to left,
          white 0%,
          rgba(255, 255, 255, 0) 100%
        );
      }
      &-head {
        display: flex;
        align-items: center;
        padding: 1rem 4rem 0.1rem 7rem; /* 10px 40px 1px 70px */
        z-index: 5;
        position: relative;
        h4 {
          font-size: 2.2rem; /* 22px */
          font-weight: 400;
          @include breakpoint(max, 576px) {
            font-size: 1.7rem; /* 17px */
          }
          @include breakpoint(max, 410px) {
            font-size: 1.5rem; /* 15px */
            font-weight: 800;
          }
        }
        span {
          margin-right: auto;
          opacity: 0.7;
          @include breakpoint(max, 576px) {
            font-size: 1.3rem; /* 13px */
            font-weight: 400;
          }
        }
        img {
          margin-left: 1rem; /* 10px */
          @include breakpoint(max, 576px) {
            transform: scale(0.5);
            position: relative;
            top: -0.3rem; /* -3px */
          }
          @include breakpoint(max, 410px) {
            margin-left: 0.4rem; /* 4px */
          }
          &.origin {
            width: 2.7rem; /* 27px */
            height: 3.4rem; /* 34px */
          }
          &.epic {
            width: 2.9rem; /* 29px */
            height: 3.4rem; /* 34px */
          }
          &.uplay {
            width: 3.6rem; /* 36px */
            height: 3.7rem; /* 37px */
          }
          &.blizzard {
            width: 3.1rem; /* 31px */
            height: 3.2rem; /* 32px */
          }
          &.gog {
            width: 2.8rem; /* 28px */
            height: 2.8rem; /* 28px */
          }
        }
        @include breakpoint(max, 576px) {
          padding: 0 2rem 0.1rem 2rem; /* 20px 1px 20px */
        }
      }
      @include breakpoint(max, 1550px) {
        margin: 0 1.5rem; /* 15px */
      }
      @include breakpoint(max, 768px) {
        box-shadow: none;
        margin: 0;
        border-radius: 0;
      }
      @include breakpoint(max, 500px) {
        padding: 0 0 2rem 0; /* 20px */
      }
    }
    .section-title {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      h2 {
        margin: 6rem 0 4rem; /* 60px 40px */
        @include breakpoint(max, 768px) {
          font-size: 3.3rem; /* 33px */
        }
        &:after {
          @include breakpoint(max, 768px) {
            right: 1.3rem; /* 13px */
            top: -0.7rem; /* -7px */
          }
        }
        @include breakpoint(max, 576px) {
          font-size: 2.5rem; /* 25px */
          margin: 4rem 0 2rem; /* 40px 20px */
        }
      }
      .filter-card {
        margin-right: 2rem; /* 20px */
        margin-top: 1.4rem; /* 14px */
        z-index: 2;
        @include breakpoint(max, 576px) {
          flex: 0 0 100%;
          margin-top: -1.4rem; /* -14px */
        }
      }
    }
    .product-item {
      margin-bottom: 4rem; /* 40px */
      @include breakpoint(max, 768px) {
        margin-bottom: 4.4rem; /* 44px */
        margin-top: 2.5rem; /* 25px */
      }
      @include breakpoint(max, 576px) {
        margin-bottom: 0rem; /* 0px */
        margin-top: 0.7rem; /* 7px */
      }
      &:hover {
        background: $darker;
        .product-title,
        .original-price,
        .sale-price,
        .sale-price:before {
          color: #ffffff;
        }
        .sale-range {
          background: transparent;
          color: #ffffff;
        }
        .add-to-basket {
          box-shadow: 0 0.5rem 1.5rem 0 rgba(243, 48, 58, 0),
            0 0.5rem 1.2rem 0 rgba(243, 48, 58, 0.48),
            0 0.4rem 0.7rem 0 /* 5px 15px 5px 12px 4px 7px */
              rgba(243, 48, 58, 0);
        }
      }
    }
    #epic-carousel,
    #origin-carousel,
    #gog-carousel {
      height: 49rem; /* 490px */
      @include breakpoint(max, 576px) {
        height: 30rem; /* 300px */
      }
    }
  }
  .products-slider-wrapper {
    background: url("../img/steam-section-bg.png"),
      linear-gradient(#222747, #222747);
    background-repeat: no-repeat;
    background-position: right top;
    padding-bottom: 15rem; /* 150px */
    @include breakpoint(max, 660px) {
      overflow: hidden;
    }
    > .container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @include breakpoint(max, 1280px) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    .text-content {
      color: #ffffff;
      max-width: 46rem; /* 460px */
      margin-left: auto;
      position: relative;
      top: 4.4rem; /* 44px */
      h4 {
        font-size: 3.8rem; /* 38px */
        font-weight: 700;
        margin-bottom: 3rem; /* 30px */
        img {
          width: 3.7rem; /* 37px */
          margin-left: 1.8rem; /* 18px */
          position: relative;
          top: 0.5rem; /* 5px */
          height: 3.7rem; /* 37px */
          @include breakpoint(max, 576px) {
            width: 2.3rem; /* 23px */
            top: 1.3rem; /* 13px */
            margin-left: 1.1rem; /* 11px */
          }
        }
        @include breakpoint(max, 576px) {
          font-size: 2rem; /* 20px */
          margin: 0;
        }
      }
      p {
        font-weight: 300;
        color: #e5e6f7;
        @include breakpoint(max, 576px) {
          font-size: 1.4rem; /* 14px */
        }
      }
      .red-btn {
        padding: 1.6rem 3.1rem 1.6rem 5.4rem; /* 16px 31px 16px 54px */
        float: left;
        @include breakpoint(max, 576px) {
          padding: 1.4rem 3.1rem 1.4rem 5.4rem; /* 14px 31px 14px 54px */
          font-size: 1.5rem; /* 15px */
          top: 1.5rem; /* 15px */
        }
        svg {
          @include breakpoint(max, 576px) {
            top: 1.7rem; /* 17px */
          }
        }
      }
      @include breakpoint(max, 1200px) {
        margin: 0 auto;
        max-width: 76rem; /* 760px */
      }
      @include breakpoint(max, 870px) {
        padding: 0 4rem; /* 40px */
      }
      @include breakpoint(max, 576px) {
        top: 2.4rem; /* 24px */
      }
      @include breakpoint(max, 480px) {
        padding: 0 2.5rem; /* 25px */
      }
    }
    .slider-wrapper {
      max-width: 66rem; /* 660px */
      position: relative;
      top: 7rem; /* 70px */
      padding: 0 0.2rem; /* 2px */
      height: 32rem; /* 320px */
      @include forie() {
        margin-right: 10rem; /* 100px */
      }
      @include breakpoint(min, 660px) {
        height: 45rem; /* 450px */
      }
      @include breakpoint(max, 1200px) {
        top: 11.5rem; /* 115px */
        margin: 0 auto;
        flex: 0 0 100%;
      }
      @include breakpoint(max, 576px) {
        top: 9rem; /* 90px */
        height: 23rem; /* 230px */
      }
      .slider-item {
        position: relative;
        border-radius: 1.1rem; /* 11px */
        transition: all 0.3s;
        opacity: 0.7;
        overflow: hidden;
        @include breakpoint(min, 660px) {
          padding: 8rem 0 0.4rem; /* 80px 4px */
          height: 29rem; /* 290px */
          width: 21.7rem; /* 217px */
        }
        @include breakpoint(max, 659px) {
          max-height: 29rem; /* 290px */
          max-width: 21.7rem; /* 217px */
        }
        @include breakpoint(max, 576px) {
          max-height: 23.5rem; /* 235px */
          max-width: 18rem; /* 180px */
          border-radius: 1.1rem; /* 11px */
        }
        img {
          border-radius: 1.1rem; /* 11px */
          @include breakpoint(max, 576px) {
            border-radius: 0.3rem; /* 3px */
          }
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          height: 23.7rem; /* 237px */
          width: 100%;
          background: linear-gradient(to top, #222747, transparent);
          @include breakpoint(max, 576px) {
            border-radius: 0.3rem; /* 3px */
          }
        }
        .product-info {
          position: absolute;
          bottom: 3rem; /* 30px */
          left: 0;
          color: #ffffff;
          z-index: 2;
          padding: 0 5rem; /* 50px */
          text-align: left;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          display: none;
          h4 {
            font-size: 1.6rem; /* 16px */
            font-weight: 400;
            flex: 0 0 100%;
            @include breakpoint(max, 660px) {
              font-size: 1.5rem; /* 15px */
              font-weight: 300;
              margin-bottom: 1.2rem; /* 12px */
            }
            @include breakpoint(max, 576px) {
              font-size: 1.3rem; /* 13px */
              margin-bottom: 0.6rem; /* 6px */
            }
          }
          .add-to-cart {
            width: 0.3rem; /* 3px */
            background: #fff;
            border-radius: 10rem; /* 100px */
            margin-right: auto;
            color: $red-bg;
            font-size: 3rem; /* 30px */
            padding: 0.8rem 1.5rem 0.4rem 2.9rem; /* 8px 15px 4px 29px */
            @include breakpoint(max, 576px) {
              font-size: 2.5rem; /* 25px */
              padding: 0.4rem 1rem 0rem 1.9rem; /* 4px 10px 0px 19px */
            }
          }
          .prices {
            text-align: right;
            .sale-price {
              @include Number;
              font-size: 2.5rem; /* 25px */
              display: block;
              margin-top: 0.5rem; /* 5px */
              &:after {
                font-family: "YekanBakh", sans-serif;
                content: "تومان";
                position: relative;
                right: 0.4rem; /* 4px */
                top: -0.2rem; /* -2px */
                font-size: 1.4rem; /* 14px */
                font-weight: 300;
                opacity: 0.8;
                @include breakpoint(max, 576px) {
                  font-size: 1.2rem; /* 12px */
                }
              }
              @include breakpoint(max, 660px) {
                font-size: 2rem; /* 20px */
              }
              @include breakpoint(max, 576px) {
                font-size: 1.4rem; /* 14px */
              }
            }
            .original-price {
              @include Number;
              font-size: 1.6rem; /* 16px */
              font-weight: 300;
              opacity: 0.8;
              @include breakpoint(max, 576px) {
                display: none;
              }
            }
            .off-percentage {
              @include Number;
              border-radius: 10rem; /* 100px */
              border: 0.2rem /* 2px */ solid #fff;
              padding: 0.4rem 0.6rem; /* 4px 6px */
              font-size: 1.2rem; /* 12px */
              font-weight: 300;
              margin-left: 1rem; /* 10px */
              @include breakpoint(max, 576px) {
                display: none;
              }
            }
          }
          @include breakpoint(max, 660px) {
            padding: 0 2rem; /* 20px */
            bottom: 1.7rem; /* 17px */
          }
          @include breakpoint(max, 576px) {
            padding: 0 1.1rem; /* 11px */
            bottom: 1.2rem; /* 12px */
          }
          @include forie() {
            width: 70%;
          }
        }
      }
      .owl-item {
        position: relative;
        border-radius: 1.1rem; /* 11px */
        &.center {
          position: relative;
          z-index: 2;
          .slider-item {
            @include breakpoint(min, 660px) {
              height: 42.5rem; /* 425px */
              width: 31.6rem; /* 316px */
              position: relative;
              right: -5.4rem; /* -54px */
              top: -7.9rem; /* -79px */
            }
            opacity: 1;
            &:after {
              background: linear-gradient(to top, $red-bg, transparent);
              border-radius: 1.1rem; /* 11px */
              height: 31rem; /* 310px */
              @include breakpoint(max, 576px) {
                border-radius: 0.3rem; /* 3px */
              }
            }
            .product-info {
              display: flex;
            }
          }
        }
      }
      .owl-nav {
        position: absolute;
        left: 14.8rem; /* 148px */
        top: 20.3rem; /* 203px */
        width: 37.4rem; /* 374px */
        .owl-prev,
        .owl-next {
          svg {
            width: 0.7rem; /* 7px */
            height: 1.5rem; /* 15px */
            opacity: 0.8;
          }
          outline: none;
        }
        .owl-prev {
          margin-left: 1.7rem; /* 17px */
          svg {
            transform: rotate(180deg);
          }
        }
        .owl-next {
          position: absolute;
          left: 0;
        }
      }
    }
  }
  .ps4-account {
    background: url("../img/original-cd-bg.png"),
      linear-gradient(#202542, #202542);
    background-position: right top;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    position: relative;
    @include breakpoint(max, 1200px) {
      overflow: hidden;
    }
    .circle {
      position: absolute;
      @include breakpoint(max, 768px) {
        display: none;
      }
    }
    .c1 {
      width: 4.2rem; /* 42px */
      height: 4.2rem; /* 42px */
      animation: floatXY 7s linear infinite;
    }
    .c4 {
      width: 8.2rem; /* 82px */
      left: 20.6rem; /* 206px */
      bottom: -2.8rem; /* -28px */
      animation: float 5s linear infinite;
    }
    .c3 {
      width: 6.7rem; /* 67px */
      left: 35rem; /* 350px */
      top: -1rem; /* -10px */
      animation: float 10s linear infinite;
    }
    .c2 {
      width: 2.3rem; /* 23px */
      bottom: 6.8rem; /* 68px */
      left: 88.4rem; /* 884px */
      animation: float 14s linear infinite;
    }
    > .container {
      display: flex;
      justify-content: center;
      padding: 3rem 0 21rem; /* 30px 210px */
      @include breakpoint(max, 1200px) {
        justify-content: space-between;
        padding: 3rem 0 21rem; /* 30px 210px */
        max-width: 100%;
        width: 100%;
      }
      @include breakpoint(max, 992px) {
        flex-wrap: wrap;
        padding: 3rem 0 0; /* 30px */
      }
      @include forie() {
        justify-content: flex-start;
      }
    }
    .ps4-account-carousel-wrapper {
      position: relative;
      top: 10rem; /* 100px */
      margin: auto;
      #ps4-account-carousel-counter {
        position: absolute;
        font-size: 1.2rem; /* 12px */
        color: rgba(255, 255, 255, 0.45);
        direction: ltr;
        bottom: -2.7rem; /* -27px */
        .current {
          color: #ffffff;
        }
        @include breakpoint(max, 992px) {
          bottom: initial;
          top: 0.3rem; /* 3px */
        }
      }
      #ps4-account-carousel {
        max-width: 42.5rem; /* 425px */
        .carousel-content {
          max-width: 42.5rem; /* 425px */
          .title {
            font-size: 3rem; /* 30px */
            margin-bottom: 1.2rem; /* 12px */
            color: #ffffff;
            @include breakpoint(max, 576px) {
              font-size: 2rem; /* 20px */
              margin-top: 3.5rem; /* 35px */
            }
          }
          .description {
            color: #e5e6f7;
            font-weight: 300;
            font-size: 1.6rem; /* 16px */
            @include breakpoint(max, 576px) {
              font-size: 1.4rem; /* 14px */
            }
          }
          @include breakpoint(max, 480px) {
            max-width: 35rem; /* 350px */
          }
          @include breakpoint(max, 365px) {
            max-width: 30rem; /* 300px */
          }
        }
        .owl-dots {
          display: block;
          position: absolute;
          bottom: -3rem; /* -30px */
          right: 4.2rem; /* 42px */
          .owl-dot {
            width: 0.6rem; /* 6px */
            height: 0.6rem; /* 6px */
            background: rgba(255, 255, 255, 0.43);
            border-radius: 10rem; /* 100px */
            margin-left: 0.8rem; /* 8px */
            &.active {
              background: rgb(255, 255, 255);
              width: 2.1rem; /* 21px */
            }
          }
          @include breakpoint(max, 992px) {
            bottom: initial;
            top: 0;
          }
        }
        .owl-nav {
          position: absolute;
          left: 0;
          top: 0;
          .owl-prev,
          .owl-next {
            svg {
              width: 0.7rem; /* 7px */
              height: 1.5rem; /* 15px */
              opacity: 0.8;
            }
            outline: none;
          }
          .owl-prev {
            margin-left: 1.7rem; /* 17px */
            svg {
              transform: rotate(180deg);
            }
          }
        }
        @include breakpoint(max, 480px) {
          max-width: 35rem; /* 350px */
        }
        @include breakpoint(max, 365px) {
          max-width: 30rem; /* 300px */
        }
      }
      @include breakpoint(max, 1570px) {
        right: -10.3rem; /* -103px */
      }
      @include breakpoint(max, 1410px) {
        right: 0;
      }
      @include breakpoint(max, 1200px) {
        right: 0;
      }
      @include breakpoint(max, 768px) {
        top: 2rem; /* 20px */
      }
      @include breakpoint(max, 576px) {
        top: 0;
      }
    }
    .holder-services {
      margin: 0 auto;
      @include breakpoint(max, 992px) {
        flex: 0 0 100%;
        margin-top: 9rem; /* 90px */
      }
      @include breakpoint(max, 768px) {
        margin-top: 0;
      }
      @include breakpoint(max, 576px) {
        right: -8rem; /* -80px */
      }
      .owl-stage-outer {
        @include breakpoint(max, 576px) {
          overflow: visible;
        }
      }
      .service-items {
        @include breakpoint(max, 992px) {
          margin: 5rem 0 8rem; /* 50px 80px */
        }
        @include breakpoint(max, 576px) {
          margin: 2rem 0 6rem; /* 20px 60px */
        }
      }
    }
  }
  .cta-v2 {
    .circle {
      position: absolute;
      @include breakpoint(max, 768px) {
        display: none;
      }
    }
    .c1 {
      width: 8.2rem; /* 82px */
      height: 8.2rem; /* 82px */
      animation: floatXY 7s linear infinite;
      right: 19rem; /* 190px */
      top: -3.9rem; /* -39px */
    }
    .c4 {
      width: 5rem; /* 50px */
      left: 30.6rem; /* 306px */
      bottom: 5.1rem; /* 51px */
      animation: float 5s linear infinite;
    }
    .c3 {
      width: 10rem; /* 100px */
      bottom: 28rem; /* 280px */
      animation: float 10s linear infinite;
      left: 0;
    }
    .c2 {
      width: 3.5rem; /* 35px */
      bottom: 16.8rem; /* 168px */
      right: 18.4rem; /* 184px */
      animation: float 14s linear infinite;
    }
    position: relative;
    text-align: center;
    padding-bottom: 10rem; /* 100px */
    background: url("../img/cta-bg-2.png"), linear-gradient(#222747, #222747);
    color: #fff;
    background-blend-mode: overlay;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    &:before {
      content: "";
      left: 0;
      bottom: 0;
      position: absolute;
      width: 73.8rem; /* 738px */
      background: url(../img/cta-lines-bg.png);
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
    }
    @include breakpoint(max, 1570px) {
      padding-top: 6rem; /* 60px */
    }
    @include breakpoint(max, 1200px) {
      padding-top: 0;
    }
    @include breakpoint(max, 992px) {
      padding-bottom: 11rem; /* 110px */
    }
    @include breakpoint(max, 576px) {
      padding-bottom: 5rem; /* 50px */
    }
    .cta-img {
      width: 14rem; /* 140px */
      height: 12.8rem; /* 128px */
      margin-top: 6.5rem; /* 65px */
      @include breakpoint(max, 992px) {
        margin-top: 4rem; /* 40px */
      }
      @include breakpoint(max, 576px) {
        width: 10rem; /* 100px */
        height: auto;
        margin-top: 2.4rem; /* 24px */
      }
    }
    .cta-title {
      font-size: 3rem; /* 30px */
      font-weight: 700;
      @include breakpoint(max, 768px) {
        font-size: 2.7rem; /* 27px */
      }
      @include breakpoint(max, 576px) {
        font-size: 2.1rem; /* 21px */
        opacity: 0.9;
      }
    }
    .cta-description {
      font-weight: 300;
      font-size: 1.7rem; /* 17px */
      max-width: 57rem; /* 570px */
      margin: -2rem auto 6rem; /* -20px 60px */
      opacity: 0.8;
      @include breakpoint(max, 768px) {
        max-width: 47rem; /* 470px */
      }
      @include breakpoint(max, 576px) {
        max-width: initial;
        padding: 1rem 3rem 0; /* 10px 30px */
        font-size: 1.4rem; /* 14px */
        margin-bottom: 4rem; /* 40px */
      }
    }
    .white-btn-v2.cta-btn {
      box-shadow: 0 0.8rem 2.7rem 0 /* 8px 27px */ rgba(243, 48, 58, 0.23);
      background: $red-bg;
      color: #fff;
      svg {
        background: #ffffff;
        stroke: $red-bg;
        @include breakpoint(max, 576px) {
          right: 0.7rem; /* 7px */
          top: 0.6rem; /* 6px */
          padding: 1rem; /* 10px */
        }
      }
      @include breakpoint(max, 576px) {
        padding: 1.4rem 6rem 1.4rem 2.7rem; /* 14px 60px 14px 27px */
        font-size: 1.7rem; /* 17px */
      }
    }
  }
  .popular-game {
    background: #202542;
    min-height: 52rem; /* 520px */
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint(max, 1000px) {
      min-height: initial;
      padding: 2rem 0; /* 20px */
    }
    &:before {
      content: "";
      position: absolute;
      left: -60.9rem; /* -609px */
      top: -30.2rem; /* -302px */
      background-size: 116%;
      width: 79.8rem; /* 798px */
      height: 82.5rem; /* 825px */
      background: url("../img/lines-bg.svg") no-repeat;
      transform: rotate(107deg);
    }
    .section-title {
      h2 {
        padding-right: 3rem; /* 30px */
        margin-bottom: 5rem; /* 50px */
        color: #ffffff;
        &:after {
          display: none;
        }
        @include breakpoint(max, 992px) {
          font-size: 3.4rem; /* 34px */
          text-align: center;
          padding-right: 0;
        }
        @include breakpoint(max, 576px) {
          font-size: 2.2rem; /* 22px */
        }
      }
    }
    &-slider {
      position: absolute;
      right: 0;
      top: 0;
      height: 52rem; /* 520px */
      width: 140rem; /* 1400px */
      &-nav {
        z-index: 2;
        .nav-item {
          padding: 2.6rem 7.8rem 2.6rem 4.3rem; /* 26px 78px 26px 43px */
          border-radius: 10rem; /* 100px */
          margin-bottom: 1.7rem; /* 17px */
          position: relative;
          min-width: 23.2rem; /* 232px */
          font-size: 2rem; /* 20px */
          color: #ffffff;
          margin-right: 2.5rem; /* 25px */
          &:after {
            position: absolute;
            border-radius: 10rem; /* 100px */
            background: rgba(244, 246, 253, 0.1);
            color: rgb(255, 255, 255);
            content: attr(data-num);
            @include Number;
            right: 1.8rem; /* 18px */
            height: 3.1rem; /* 31px */
            width: 4rem; /* 40px */
            top: 1.8rem; /* 18px */
            text-align: center;
            padding-top: 0.9rem; /* 9px */
            @include breakpoint(max, 1200px) {
              top: 0.9rem; /* 9px */
            }
            @include breakpoint(max, 670px) {
              height: 2.4rem; /* 24px */
              width: 3.1rem; /* 31px */
              padding-top: 0.7rem; /* 7px */
              right: 0.8rem; /* 8px */
              top: 0.8rem; /* 8px */
            }
          }
          svg {
            width: 1.9rem; /* 19px */
            height: 1.6rem; /* 16px */
            position: absolute;
            left: 3.5rem; /* 35px */
            display: none;
            @include breakpoint(max, 670px) {
              width: 1.4rem; /* 14px */
              height: 1.5rem; /* 15px */
              position: absolute;
              left: 1.5rem; /* 15px */
            }
          }
          &.active {
            color: #3f4473;
            box-shadow: 0rem 0.1rem 0.1rem 0 rgba(170, 188, 212, 0.31),
              0 0.2rem 1.3rem 0 /* 0px 1px 1px 2px 13px */
                rgba(170, 188, 212, 0.3);
            background: #fff;
            &:after {
              background: $red-bg;
              color: #ffffff;
            }
            svg {
              display: inline-block;
            }
          }
          @include breakpoint(max, 1200px) {
            padding: 2rem 7rem 2rem 2.2rem; /* 20px 70px 20px 22px */
            margin-bottom: 1.2rem; /* 12px */
            min-width: 17rem; /* 170px */
            font-size: 1.7rem; /* 17px */
            margin-right: 1.8rem; /* 18px */
          }
          @include breakpoint(max, 670px) {
            padding: 1.7rem 4.8rem 1.7rem 3.6rem; /* 17px 48px 17px 36px */
            margin-bottom: 1.2rem; /* 12px */
            min-width: 10rem; /* 100px */
            font-size: 1.4rem; /* 14px */
            margin-right: 0.7rem; /* 7px */
          }
          @include breakpoint(max, 380px) {
          }
        }
        .d-flex {
          display: flex;
          @include breakpoint(max, 400px) {
            display: inline-block;
          }
        }
      }
      &:after {
        position: absolute;
        right: 0;
        top: 0;
        content: "";
        height: 100%;
        width: 100%;
        background: linear-gradient(to right, #202542, rgba(32, 37, 66, 0.58));
      }
    }
    .game-item {
      position: relative;
      border-radius: 1rem; /* 10px */
      display: inline-block;
      height: 52rem; /* 520px */
      width: 140rem; /* 1400px */
      .img {
        background-size: cover;
        height: 52rem; /* 520px */
        width: 140rem; /* 1400px */
        background-repeat: no-repeat;
      }
      .title {
        @include breakpoint(max, 670px) {
          top: -8.4rem; /* -84px */
          font-size: 1.9rem; /* 19px */
          font-weight: 400;
          right: 7.3rem; /* 73px */
        }
      }
      &:after {
        @include breakpoint(max, 670px) {
          font-size: 2.1rem; /* 21px */
          width: 3.5rem; /* 35px */
          height: 2.8rem; /* 28px */
          padding-top: 0.6rem; /* 6px */
        }
      }
    }
    .mini-popular-game-slider {
      width: 40rem; /* 400px */
      display: inline-block;
      position: relative;
      top: 5.9rem; /* 59px */
      left: 0.6rem; /* 6px */
      @include breakpoint(max, 1000px) {
        display: none;
      }
    }
  }
  .ordering-steps {
    padding: 6rem 0 10rem; /* 60px 100px */
    @include breakpoint(max, 992px) {
      padding: 6rem 1.5rem 10rem; /* 60px 15px 100px */
    }
    > .container {
      display: flex;
      flex-wrap: wrap;
      @include breakpoint(max, 1200px) {
        padding: 0;
      }
    }
    .step-item {
      flex: 0 0 49%;
      margin: 3rem auto 0; /* 30px */
      .title {
        @include breakpoint(max, 768px) {
          font-size: 1.9rem; /* 19px */
        }
      }
      .description {
        @include breakpoint(max, 1200px) {
          padding: 0 4.7rem; /* 47px */
          line-height: 3rem; /* 30px */
        }
        @include breakpoint(max, 768px) {
          padding: 0 2.8rem; /* 28px */
          line-height: 2.9rem; /* 29px */
          font-size: 1.6rem; /* 16px */
        }
      }
      @include breakpoint(max, 768px) {
        display: none;
      }
    }
    @include breakpoint(max, 768px) {
      padding: 0.1rem; /* 1px */
      background: rgba(37, 40, 73, 0.788235294117647);
    }
  }
}
#footer {
  background: url("../img/cta-bg.png") no-repeat center -18rem /* -180px */,
    linear-gradient($darker, $darker);
  color: rgba(255, 255, 255, 0.84);
  padding: 5rem 0 2rem 0; /* 50px 20px */
  position: relative;
  font-size: 1.3rem; /* 13px */
  font-weight: 300;
  overflow: hidden;
  background-size: contain;
  background-blend-mode: color-dodge;
  @include breakpoint(max, 992px) {
    background-position: center -10rem; /* -100px */
  }
  @include breakpoint(max, 768px) {
    background-position: center -4rem; /* -40px */
  }
  .cta {
    text-align: center;
    padding: 1rem 0 17.4rem 0; /* 10px 174px */
    .title {
      font-size: 3rem; /* 30px */
      color: #fff;
      @include breakpoint(max, 576px) {
        font-size: 2.2rem; /* 22px */
        line-height: 3.4rem; /* 34px */
      }
    }
    .description {
      font-size: 1.8rem; /* 18px */
      color: #8c90b1;
      margin-top: -1.6rem; /* -16px */
      @include breakpoint(max, 576px) {
        font-size: 1.4rem; /* 14px */
        margin-top: -0.5rem; /* -5px */
      }
    }
    .white-btn-v2 {
      top: 4rem; /* 40px */
      display: inline-block;
      @include breakpoint(max, 576px) {
        padding: 1.2rem 5.8rem 1.1rem 2.4rem; /* 12px 58px 11px 24px */
        font-size: 1.5rem; /* 15px */
      }
      svg {
        @include breakpoint(max, 576px) {
          right: 0.4rem; /* 4px */
          top: 0.3rem; /* 3px */
          padding: 1.1rem; /* 11px */
          width: 1.2rem; /* 12px */
          height: 1.2rem; /* 12px */
        }
      }
    }
    @include breakpoint(max, 768px) {
      padding: 1rem 3.2rem 10.4rem 3.4rem; /* 10px 32px 104px 34px */
    }
  }
  .circle {
    pointer-events: none;
  }
  .c1 {
    width: 7rem; /* 70px */
    height: 7rem; /* 70px */
    position: absolute;
    right: 16.5rem; /* 165px */
    bottom: -1rem; /* -10px */
    z-index: 1;
    animation: float 5s ease-in-out infinite;
    @include breakpoint(max, 800px) {
      display: none;
    }
  }
  .c2 {
    width: 15rem; /* 150px */
    height: 15rem; /* 150px */
    position: absolute;
    left: 9rem; /* 90px */
    bottom: 15rem; /* 150px */
    z-index: 1;
    animation: float 6s ease-in-out infinite;
    @include breakpoint(max, 992px) {
      width: 10rem; /* 100px */
      height: 10rem; /* 100px */
    }
    @include breakpoint(max, 800px) {
      display: none;
    }
  }
  .c3 {
    position: absolute;
    width: 3.5rem; /* 35px */
    height: 3.5rem; /* 35px */
    right: 12.5rem; /* 125px */
    bottom: 18rem; /* 180px */
    animation: float 4s ease-in-out infinite;
    @include breakpoint(max, 992px) {
      width: 3rem; /* 30px */
      height: 3rem; /* 30px */
    }
    @include breakpoint(max, 600px) {
      display: none;
    }
  }
  .c4 {
    position: absolute;
    width: 8.2rem; /* 82px */
    height: 8.2rem; /* 82px */
    top: 0.8rem; /* 8px */
    left: 55.5rem; /* 555px */
    animation: floatXY 4s linear infinite;
    @include breakpoint(max, 992px) {
      width: 5.2rem; /* 52px */
      height: 5.2rem; /* 52px */
      left: 5.5rem; /* 55px */
    }
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include breakpoint(max, 992px) {
      justify-content: center;
    }
    .description {
      display: flex;
      max-width: 38rem; /* 380px */
      .footer-logo {
        width: 6rem; /* 60px */
        margin-left: 2rem; /* 20px */
        @include breakpoint(max, 576px) {
          margin-bottom: 1.5rem; /* 15px */
        }
      }
      p {
        @include breakpoint(max, 576px) {
          display: none;
        }
      }
    }
    .menu {
      list-style: none;
      li {
        display: inline-block;
        padding: 0.5rem 1rem 1.7rem 1rem; /* 5px 10px 17px 10px */
        margin-left: 6rem; /* 60px */
        position: relative;
        transition: all ease-in-out 0.5s;
        &:after {
          transition: all ease-in-out 0.5s;
          display: block;
          position: absolute;
          content: "";
          width: 2.5rem; /* 25px */
          height: 0.3rem; /* 3px */
          border-radius: 0.15rem; /* 1.5px */
          background: #f3303a;
          box-shadow: 0 0.5rem 1.5rem 0 rgba(243, 48, 58, 0.5),
            0 0.5rem 1.2rem 0 rgba(243, 48, 58, 0.61),
            0 0.4rem 0.7rem 0 /* 5px 15px 5px 12px 4px 7px */
              rgba(243, 48, 58, 0.32);
          bottom: 0;
          left: calc((100% - 2.5rem) / 2);
          opacity: 0;
          visibility: hidden;
        }
        &:hover {
          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
        &.active {
          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      @include breakpoint(max, 992px) {
        flex: 0 0 100%;
        text-align: center;
      }
      @include breakpoint(max, 576px) {
        display: none;
      }
    }
  }
  .copyright {
    .mobile-logo {
      display: none;
    }
    text-align: center;
    color: rgba(240, 242, 248, 0.55);
    direction: ltr;
    margin-top: 5rem; /* 50px */
    font-weight: 300;
    @include breakpoint(max, 992px) {
      border-top: 0.1rem /* 1px */ solid
        rgba(255, 255, 255, 0.12156862745098039);
      padding-top: 1.9rem; /* 19px */
      margin-top: 0;
    }
  }
}
