@charset "UTF-8";
/*********Variable *********/
/********* Mixin *********/
/********* Normalize *********/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font-family: 'YekanBakh',sans-serif;
  font-size: 17px;
  direction: rtl;
  color: #3f4373; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

p {
  line-height: 1.5; }

[hidden] {
  display: none; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px; }
  .container:after {
    content: "";
    clear: both;
    display: table; }
  @media only screen and (min-width: 1200px) {
    .container-xl {
      max-width: 1140px; } }

/********* Font families *********/
@font-face {
  font-family: 'YekanBakh';
  src: url("../fonts/iGameYekanver38-Medium.woff2") format("woff2"), url("../fonts/iGameYekanver38-Medium.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'YekanBakh';
  src: url("../fonts/iGameYekanver38-Bold.woff2") format("woff2"), url("../fonts/iGameYekanver38-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'YekanBakh';
  src: url("../fonts/iGameYekanver38-Heavy.woff2") format("woff2"), url("../fonts/iGameYekanver38-Heavy.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'YekanBakhNum';
  src: url("../../../fonts/iGameNumbers-Heavy.woff2") format("woff2"), url("../../../fonts/iGameNumbers-Heavy.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

/********* Animations *********/
@keyframes float {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0px); } }

@keyframes floatXY {
  0% {
    transform: translate(0, 0px); }
  25% {
    transform: translate(6px, 5px); }
  50% {
    transform: translate(-5px, -7px); }
  100% {
    transform: translate(0px, 0px); } }

/********* Components *********/
.white-btn {
  box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
  background: #fff;
  color: #252849;
  border-radius: 100px; }

.white-btn-v2 {
  position: relative;
  background: #fff;
  color: #252849;
  padding: 21px 81px 22px 30px;
  border-radius: 100px;
  font-size: 22px;
  font-weight: 500;
  display: inline-block; }
  .white-btn-v2 svg {
    background: #F3303A;
    border-radius: 100px;
    stroke: #ffffff;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    padding: 16px;
    position: absolute;
    right: 13px;
    top: 9px; }

.red-btn {
  background: #F3303A;
  color: #fff;
  box-shadow: 0 8px 27px 0 rgba(243, 48, 58, 0.23);
  border-radius: 100px;
  position: relative; }
  .red-btn svg {
    position: absolute;
    width: 10px;
    top: 21px;
    height: 10px;
    left: 24px; }

.service-item {
  height: 315px;
  width: 230px;
  border-radius: 14px;
  position: relative;
  overflow: hidden; }

.section-title h2 {
  font-weight: 600;
  padding-right: 35px;
  position: relative;
  font-size: 43px;
  color: #252849;
  margin: 60px 0 40px; }
  .section-title h2:after {
    display: block;
    position: absolute;
    content: '';
    width: 4px;
    height: 34px;
    background: #F3303A;
    border-radius: 2px;
    right: 0;
    top: 0;
    box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32); }
    @media only screen and (max-width: 768px) {
      .section-title h2:after {
        right: 13px;
        top: -7px; } }
    @media only screen and (max-width: 576px) {
      .section-title h2:after {
        width: 10px;
        height: 10px;
        border-radius: 12px;
        box-shadow: none;
        right: 18px;
        top: 2px; } }
  @media only screen and (max-width: 768px) {
    .section-title h2 {
      font-size: 33px; } }
  @media only screen and (max-width: 576px) {
    .section-title h2 {
      font-size: 18px;
      font-weight: 500;
      margin: 40px 0 20px; } }

.product-item {
  transition: all .5s;
  border-radius: 11px;
  width: 270px;
  display: inline-block;
  padding: 24px 0 45px 0; }
  .product-item .image-holder {
    transition: all .5s;
    position: relative;
    width: 200px;
    height: 270px;
    margin: auto; }
    .product-item .image-holder img {
      width: 100%;
      height: 100%; }
    @media only screen and (max-width: 768px) {
      .product-item .image-holder {
        width: 200px;
        height: 270px; } }
    @media only screen and (max-width: 576px) {
      .product-item .image-holder {
        width: 120px;
        height: 160px;
        padding: 0; } }
  .product-item .product-bottom {
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto; }
    @media only screen and (max-width: 576px) {
      .product-item .product-bottom {
        max-width: 120px; } }
    .product-item .product-bottom .product-title {
      font-weight: bold;
      font-size: 16px;
      color: #3f4373;
      margin-top: 25px;
      line-height: 1.5;
      min-height: 48px;
      display: block; }
      @media only screen and (max-width: 576px) {
        .product-item .product-bottom .product-title {
          font-weight: 400;
          font-size: 13px;
          margin-top: 12px; } }
    .product-item .product-bottom .product-card-price .original-price {
      font-family: 'YekanBakhNum';
      color: rgba(63, 67, 115, 0.8);
      font-size: 16px;
      text-decoration: line-through; }
      @media only screen and (max-width: 576px) {
        .product-item .product-bottom .product-card-price .original-price {
          display: none; } }
    .product-item .product-bottom .product-card-price .original-price__holder {
      display: none; }
    .product-item .product-bottom .product-card-price .sale-range {
      transition: all .5s;
      font-family: 'YekanBakhNum';
      display: inline-block;
      font-size: 12px;
      color: #ffffff;
      padding: 5px 5px 3px 5px;
      background: #F3303A;
      border-radius: 10px;
      border: 2px solid transparent;
      margin-left: 5px; }
      @media only screen and (max-width: 576px) {
        .product-item .product-bottom .product-card-price .sale-range {
          font-size: 11px;
          padding: 2px 2px 1px 2px; } }
    .product-item .product-bottom .product-card-price .sale-price {
      display: block;
      font-family: 'YekanBakhNum';
      font-size: 25px;
      color: #3f4373;
      position: relative;
      padding-left: 40px;
      top: 10px; }
      .product-item .product-bottom .product-card-price .sale-price:before {
        font-weight: bold;
        font-family: 'YekanBakh' !important;
        display: block;
        position: absolute;
        content: 'تومان';
        font-size: 14px;
        color: rgba(63, 67, 115, 0.8);
        left: 0;
        bottom: 5px; }
        @media only screen and (max-width: 576px) {
          .product-item .product-bottom .product-card-price .sale-price:before {
            font-weight: 400;
            font-size: 11px;
            left: 15px;
            bottom: 1px; } }
      .product-item .product-bottom .product-card-price .sale-price:after {
        content: 'شروع قیمت از';
        font-family: 'YekanBakh', sans-serif;
        position: absolute;
        top: -15px;
        right: 0;
        font-size: 13px;
        font-weight: 300; }
        @media only screen and (max-width: 576px) {
          .product-item .product-bottom .product-card-price .sale-price:after {
            font-size: 11px;
            top: 4px;
            right: -66px; } }
      @media only screen and (max-width: 576px) {
        .product-item .product-bottom .product-card-price .sale-price {
          font-size: 14px;
          top: 5px;
          right: 60px; } }
    @media only screen and (max-width: 576px) {
      .product-item .product-bottom .product-card-price {
        display: flex; } }
    .product-item .product-bottom .add-to-basket {
      width: 48px;
      height: 48px;
      font-size: 28px;
      line-height: 1.8;
      font-weight: bold;
      transition: all .5s;
      border-radius: 100px;
      text-align: center;
      border: 2px solid #dfe1f4; }
      .product-item .product-bottom .add-to-basket svg {
        stroke: #252849;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        transition: all .5s; }
      @media only screen and (max-width: 576px) {
        .product-item .product-bottom .add-to-basket {
          display: none; } }
  .product-item:hover {
    background: #ffffff;
    box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21); }
    .product-item:hover .product-bottom .sale-range {
      color: #F3303A;
      background: #ffffff;
      border-color: #F3303A; }
    .product-item:hover .product-bottom .add-to-basket {
      border-color: #F3303A;
      background: #F3303A;
      box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32); }
      .product-item:hover .product-bottom .add-to-basket svg {
        stroke: #ffffff; }
  @media only screen and (max-width: 768px) {
    .product-item {
      background: #ffffff;
      margin: 0 10px;
      box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
      width: 243px;
      display: inline-block;
      padding: 18px 0 19px 0; } }
  @media only screen and (max-width: 576px) {
    .product-item {
      width: 120px;
      height: 255px;
      padding: 15px;
      box-shadow: none;
      border-radius: 5px; } }

.step-item {
  text-align: center;
  position: relative;
  border-radius: 10px;
  transition: all .5s;
  min-height: 250px;
  max-width: 530px;
  padding: 50px 0 0; }
  .step-item .icon {
    width: 58px;
    height: 57px;
    border-radius: 100px;
    background: #ffffff;
    display: inline-block;
    box-shadow: 0px 1px 1px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
    transition: all .5s; }
    .step-item .icon svg {
      width: 26px;
      height: 26px;
      fill: #3f4373;
      opacity: .8;
      position: relative;
      top: 14px;
      transition: all .3s; }
  .step-item .title {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 12px; }
  .step-item .description {
    opacity: .8;
    max-width: 470px;
    font-weight: 300;
    margin: 0 auto; }
  .step-item:after {
    content: attr(data-step);
    position: absolute;
    right: 21px;
    background: #252849;
    border-radius: 100px;
    color: #ffffff;
    top: 21px;
    width: 28px;
    height: 23px;
    padding-top: 5px;
    font-family: 'YekanBakhNum';
    visibility: hidden;
    opacity: 0;
    transition: all .5s; }
  .step-item:hover {
    background: #ffffff;
    box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 1px 1px 4px 0 rgba(170, 188, 212, 0.21), 19px 6px 20px 0 rgba(170, 188, 212, 0.18); }
    .step-item:hover:after {
      opacity: 1;
      visibility: visible; }
    .step-item:hover .icon {
      background: #F3303A;
      box-shadow: 3px 4px 14px 0 rgba(243, 48, 58, 0.28); }
      .step-item:hover .icon svg {
        fill: #ffffff; }
  @media only screen and (max-width: 768px) {
    .step-item {
      box-shadow: 0 9px 20px 0 rgba(170, 188, 212, 0.29), 0 2px 1px 0 rgba(170, 188, 212, 0.21);
      background: #fff;
      padding: 30px 0 0; } }

.filter-card ul {
  list-style: none;
  padding-right: 0;
  display: inline-block; }
  @media only screen and (max-width: 576px) {
    .filter-card ul {
      margin-bottom: 0; } }
  .filter-card ul li {
    display: inline-block;
    font-size: 13px;
    box-shadow: 0px 2px 2px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.12);
    background: #fff;
    padding: 10px 20px;
    border-radius: 100px;
    margin-left: 7px; }
    @media only screen and (max-width: 576px) {
      .filter-card ul li {
        font-size: 12px;
        box-shadow: none; } }

body {
  background: #f7f8ff; }

@media only screen and (max-width: 1570px) {
  .container {
    max-width: 1200px; } }

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 992px; } }

#header {
  background: url(../img/type-ps-giftcard.png), linear-gradient(#202542, #202542);
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-size: contain;
  position: relative;
  overflow: hidden;
  background-position: right; }
  @media only screen and (max-width: 1770px) {
    #header {
      background-size: cover; } }
  #header .nav .logo {
    width: 125px;
    height: 31px;
    float: right;
    margin-top: 50px; }
    @media only screen and (max-width: 576px) {
      #header .nav .logo {
        width: 110px;
        height: 24px;
        margin-top: 30px; } }
  #header .nav .white-btn {
    margin-top: 40px;
    float: left;
    padding: 14px 36px;
    font-size: 17px;
    z-index: 1;
    position: relative; }
    @media only screen and (max-width: 575px) {
      #header .nav .white-btn {
        font-size: 15px;
        margin-top: 22px; } }
    @media only screen and (max-width: 380px) {
      #header .nav .white-btn {
        padding: 12px 22px; } }
  @media only screen and (max-width: 1410px) {
    #header .nav {
      max-width: 1070px;
      margin: 0 auto;
      padding: 0 57px; } }
  @media only screen and (max-width: 576px) {
    #header .nav {
      padding: 0 30px; } }
  #header .hero {
    display: flex; }
    @media only screen and (max-width: 1200px) {
      #header .hero {
        flex-wrap: wrap; } }
    #header .hero .services {
      margin-top: 117px;
      display: flex;
      margin-right: auto;
      position: relative;
      left: -30px; }
      #header .hero .services .service-item {
        margin-right: 33px;
        background-size: cover;
        background-position: center center; }
        @media only screen and (max-width: 1410px) {
          #header .hero .services .service-item .title {
            font-size: 21px; } }
        @media only screen and (max-width: 1570px) {
          #header .hero .services .service-item {
            margin-right: 21px;
            height: 300px;
            width: 216px; } }
        @media only screen and (max-width: 576px) {
          #header .hero .services .service-item {
            height: 205px;
            width: 153px;
            margin-right: 8px; } }
      @media only screen and (max-width: 1410px) {
        #header .hero .services {
          max-width: 728px; } }
      @media only screen and (max-width: 1200px) {
        #header .hero .services {
          flex: 0 0 100%;
          order: 1;
          margin-left: 25px;
          margin-right: 10px;
          margin-top: 0;
          margin-bottom: 40px; } }
      @media only screen and (max-width: 768px) {
        #header .hero .services {
          margin-top: 61px; } }
      @media only screen and (max-width: 576px) {
        #header .hero .services {
          margin-right: -30px;
          margin-top: 38px; } }
    #header .hero .intro {
      position: relative;
      width: 100%;
      max-width: 580px;
      margin: 100px 380px 120px 0; }
      @media only screen and (max-width: 1770px) {
        #header .hero .intro {
          margin: 100px 260px 120px 0; } }
      @media only screen and (max-width: 1570px) {
        #header .hero .intro {
          margin: 100px 140px 120px 0;
          max-width: 500px; } }
      @media only screen and (max-width: 1350px) {
        #header .hero .intro {
          margin: 100px 60px 120px 0;
          max-width: 500px; } }
      @media only screen and (max-width: 768px) {
        #header .hero .intro {
          margin: 100px 60px 0 0; } }
      @media only screen and (max-width: 576px) {
        #header .hero .intro {
          margin: 45px auto 60px;
          text-align: center; } }
      #header .hero .intro .gamepad-wrapper {
        position: absolute;
        top: -170px;
        right: -101px; }
        #header .hero .intro .gamepad-wrapper .circles {
          position: absolute;
          top: 125px;
          animation: rotate 25s linear infinite;
          left: -50px;
          pointer-events: none;
          width: 443px;
          opacity: .5; }

@keyframes rotate {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }
        #header .hero .intro .gamepad-wrapper .gradient-rectangle {
          position: absolute;
          top: 389px;
          left: 31px;
          animation: float 3s linear infinite;
          width: 120px; }
        #header .hero .intro .gamepad-wrapper .gamepad {
          position: absolute;
          right: -499px;
          top: 81px;
          width: 474px; }
        @media only screen and (max-width: 1770px) {
          #header .hero .intro .gamepad-wrapper {
            top: -182px;
            right: -43px; } }
        @media only screen and (max-width: 1570px) {
          #header .hero .intro .gamepad-wrapper {
            right: -1px; } }
        @media only screen and (max-width: 1350px) {
          #header .hero .intro .gamepad-wrapper {
            right: 53px; } }
        @media only screen and (max-width: 1200px) {
          #header .hero .intro .gamepad-wrapper {
            right: 1072px; } }
        @media only screen and (max-width: 768px) {
          #header .hero .intro .gamepad-wrapper {
            display: none; } }
      #header .hero .intro .title {
        font-size: 47px;
        font-weight: 500;
        color: #daddfb; }
        #header .hero .intro .title strong {
          font-weight: 600;
          color: #ffffff; }
        @media only screen and (max-width: 1570px) {
          #header .hero .intro .title {
            font-size: 41px; } }
        @media only screen and (max-width: 1410px) {
          #header .hero .intro .title {
            font-size: 39px; } }
        @media only screen and (max-width: 576px) {
          #header .hero .intro .title {
            font-size: 30px;
            text-align: center;
            line-height: 47px;
            padding: 0 28px; } }
        @media only screen and (max-width: 380px) {
          #header .hero .intro .title {
            font-size: 23px;
            line-height: 38px; } }
      #header .hero .intro .description {
        position: relative;
        padding-right: 28px;
        text-align: justify;
        opacity: .8;
        font-weight: 300;
        color: #b3b7d8; }
        #header .hero .intro .description:after {
          display: block;
          position: absolute;
          content: '';
          width: 4px;
          height: 36px;
          border-radius: 2px;
          background: #f65164;
          box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32);
          top: 5px;
          right: 0; }
        @media only screen and (max-width: 1410px) {
          #header .hero .intro .description {
            font-size: 16px; } }
        @media only screen and (max-width: 576px) {
          #header .hero .intro .description {
            padding: 0 22px;
            margin: 0 19px;
            font-size: 15px; } }
      #header .hero .intro .red-btn {
        padding: 17px 30px 17px 77px;
        font-size: 18px;
        margin-top: 6px;
        float: left; }
        @media only screen and (max-width: 1410px) {
          #header .hero .intro .red-btn {
            padding: 17px 30px 17px 67px;
            font-size: 16px; } }
        @media only screen and (max-width: 576px) {
          #header .hero .intro .red-btn {
            float: initial;
            top: 44px;
            padding: 11px 25px 12px 61px;
            font-size: 15px; } }
        @media only screen and (max-width: 576px) {
          #header .hero .intro .red-btn svg {
            top: 18px; } }

#main .products-slider-wrapper {
  padding-bottom: 150px;
  position: relative; }
  @media only screen and (max-width: 768px) {
    #main .products-slider-wrapper {
      overflow: hidden; } }
  #main .products-slider-wrapper:before {
    content: '';
    background: linear-gradient(#f7f8ff, #f7f8ff), url(../img/shape-bg.png);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-blend-mode: difference;
    opacity: .5; }
    @media only screen and (max-width: 768px) {
      #main .products-slider-wrapper:before {
        display: none; } }
  #main .products-slider-wrapper > .container {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    @media only screen and (max-width: 1280px) {
      #main .products-slider-wrapper > .container {
        flex-wrap: wrap;
        justify-content: center; } }
  #main .products-slider-wrapper .text-content {
    background: #f7f8ff;
    max-width: 460px;
    margin-left: auto;
    position: relative;
    top: 44px; }
    #main .products-slider-wrapper .text-content h4 {
      font-size: 38px;
      font-weight: 700;
      margin-bottom: 30px;
      color: #252849; }
      @media only screen and (max-width: 768px) {
        #main .products-slider-wrapper .text-content h4 {
          font-size: 32px; } }
      @media only screen and (max-width: 576px) {
        #main .products-slider-wrapper .text-content h4 {
          font-size: 20px;
          margin: 10px 0 0 0; } }
    #main .products-slider-wrapper .text-content p {
      font-weight: 300;
      color: #3f4373;
      opacity: .8;
      text-align: justify; }
      @media only screen and (max-width: 576px) {
        #main .products-slider-wrapper .text-content p {
          font-size: 14px; } }
    #main .products-slider-wrapper .text-content .red-btn {
      padding: 16px 31px 16px 54px;
      float: right;
      top: 10px; }
      @media only screen and (max-width: 576px) {
        #main .products-slider-wrapper .text-content .red-btn {
          padding: 14px 31px 14px 54px;
          font-size: 15px; } }
      @media only screen and (max-width: 576px) {
        #main .products-slider-wrapper .text-content .red-btn svg {
          top: 17px; } }
    @media only screen and (max-width: 1200px) {
      #main .products-slider-wrapper .text-content {
        margin: 0 auto;
        max-width: 760px; } }
    @media only screen and (max-width: 870px) {
      #main .products-slider-wrapper .text-content {
        padding: 0 40px; } }
    @media only screen and (max-width: 576px) {
      #main .products-slider-wrapper .text-content {
        top: 24px; } }
    @media only screen and (max-width: 480px) {
      #main .products-slider-wrapper .text-content {
        padding: 0 25px; } }
  #main .products-slider-wrapper .slider-wrapper {
    max-width: 660px;
    position: relative;
    top: 70px;
    padding: 0 2px;
    height: 320px; }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      #main .products-slider-wrapper .slider-wrapper {
        margin-right: 100px; } }
    @media only screen and (min-width: 660px) {
      #main .products-slider-wrapper .slider-wrapper {
        height: 450px; } }
    @media only screen and (max-width: 1200px) {
      #main .products-slider-wrapper .slider-wrapper {
        top: 115px;
        margin: 0 auto;
        flex: 0 0 100%; } }
    @media only screen and (max-width: 576px) {
      #main .products-slider-wrapper .slider-wrapper {
        top: 90px;
        height: 230px; } }
    #main .products-slider-wrapper .slider-wrapper .slider-item {
      position: relative;
      border-radius: 11px;
      transition: all .3s;
      opacity: .7;
      overflow: hidden; }
      @media only screen and (min-width: 660px) {
        #main .products-slider-wrapper .slider-wrapper .slider-item {
          padding: 80px 0 4px;
          height: 290px;
          width: 213px; } }
      @media only screen and (max-width: 659px) {
        #main .products-slider-wrapper .slider-wrapper .slider-item {
          max-height: 290px;
          max-width: 217px; } }
      @media only screen and (max-width: 576px) {
        #main .products-slider-wrapper .slider-wrapper .slider-item {
          max-height: 235px;
          max-width: 180px;
          border-radius: 11px; } }
      #main .products-slider-wrapper .slider-wrapper .slider-item img {
        border-radius: 11px;
        height: 100%; }
        @media only screen and (max-width: 576px) {
          #main .products-slider-wrapper .slider-wrapper .slider-item img {
            border-radius: 3px; } }
      #main .products-slider-wrapper .slider-wrapper .slider-item:after {
        content: '';
        position: absolute;
        bottom: 4px;
        right: 0;
        height: 237px;
        width: 100%;
        border-radius: 5px;
        background: linear-gradient(to top, rgba(2, 98, 160, 0.74), transparent); }
        @media only screen and (max-width: 660px) {
          #main .products-slider-wrapper .slider-wrapper .slider-item:after {
            bottom: 0; } }
        @media only screen and (max-width: 576px) {
          #main .products-slider-wrapper .slider-wrapper .slider-item:after {
            border-radius: 3px; } }
      #main .products-slider-wrapper .slider-wrapper .slider-item .product-info {
        position: absolute;
        bottom: 30px;
        color: #ffffff;
        z-index: 2;
        padding: 0 50px;
        left: 50%;
        transform: translateX(-50%);
        display: none; }
        #main .products-slider-wrapper .slider-wrapper .slider-item .product-info h4 {
          font-size: 16px;
          font-weight: 400;
          flex: 0 0 100%; }
          @media only screen and (max-width: 660px) {
            #main .products-slider-wrapper .slider-wrapper .slider-item .product-info h4 {
              font-size: 15px;
              font-weight: 300;
              margin-bottom: 12px; } }
          @media only screen and (max-width: 576px) {
            #main .products-slider-wrapper .slider-wrapper .slider-item .product-info h4 {
              font-size: 13px;
              margin-bottom: 6px; } }
        #main .products-slider-wrapper .slider-wrapper .slider-item .product-info .add-to-cart {
          width: 3px;
          background: #fff;
          border-radius: 100px;
          margin-right: auto;
          color: #0262a0;
          font-size: 30px;
          padding: 8px 15px 4px 29px; }
          @media only screen and (max-width: 576px) {
            #main .products-slider-wrapper .slider-wrapper .slider-item .product-info .add-to-cart {
              font-size: 25px;
              padding: 4px 10px 0px 19px; } }
        @media only screen and (max-width: 660px) {
          #main .products-slider-wrapper .slider-wrapper .slider-item .product-info {
            padding: 0 20px;
            bottom: 17px; } }
        @media only screen and (max-width: 576px) {
          #main .products-slider-wrapper .slider-wrapper .slider-item .product-info {
            padding: 0 11px;
            bottom: 12px; } }
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          #main .products-slider-wrapper .slider-wrapper .slider-item .product-info {
            width: 70%; } }
    #main .products-slider-wrapper .slider-wrapper .owl-item {
      position: relative;
      border-radius: 11px; }
      #main .products-slider-wrapper .slider-wrapper .owl-item.center {
        position: relative;
        z-index: 2; }
        #main .products-slider-wrapper .slider-wrapper .owl-item.center .slider-item {
          opacity: 1; }
          @media only screen and (min-width: 660px) {
            #main .products-slider-wrapper .slider-wrapper .owl-item.center .slider-item {
              height: 441px;
              width: 295px;
              position: relative;
              right: -54px;
              top: -79px; } }
          #main .products-slider-wrapper .slider-wrapper .owl-item.center .slider-item:after {
            background: linear-gradient(to top, #0262a0, transparent);
            border-radius: 11px;
            height: 310px; }
            @media only screen and (max-width: 576px) {
              #main .products-slider-wrapper .slider-wrapper .owl-item.center .slider-item:after {
                border-radius: 3px; } }
          #main .products-slider-wrapper .slider-wrapper .owl-item.center .slider-item .product-info {
            display: flex; }
    #main .products-slider-wrapper .slider-wrapper .owl-nav {
      position: absolute;
      left: -28px;
      top: 203px;
      width: 719px; }
      #main .products-slider-wrapper .slider-wrapper .owl-nav .owl-prev, #main .products-slider-wrapper .slider-wrapper .owl-nav .owl-next {
        outline: none; }
        #main .products-slider-wrapper .slider-wrapper .owl-nav .owl-prev svg, #main .products-slider-wrapper .slider-wrapper .owl-nav .owl-next svg {
          width: 25px;
          height: 24px;
          fill: #8c90b1;
          opacity: .5; }
      #main .products-slider-wrapper .slider-wrapper .owl-nav .owl-prev {
        margin-left: 17px; }
        #main .products-slider-wrapper .slider-wrapper .owl-nav .owl-prev svg {
          transform: rotate(180deg); }
      #main .products-slider-wrapper .slider-wrapper .owl-nav .owl-next {
        position: absolute;
        left: 0; }

#main .gift-card {
  margin-top: 30px;
  margin-bottom: 50px;
  overflow: hidden; }
  #main .gift-card .section-title {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    #main .gift-card .section-title .filter-card {
      margin-right: 20px;
      margin-top: 14px;
      z-index: 2; }
      @media only screen and (max-width: 576px) {
        #main .gift-card .section-title .filter-card {
          flex: 0 0 100%;
          margin-top: -14px; } }
  #main .gift-card .product-item {
    margin-bottom: 40px; }
    @media only screen and (max-width: 768px) {
      #main .gift-card .product-item {
        margin-bottom: 44px;
        margin-top: 25px; } }
  @media only screen and (max-width: 1200px) {
    #main .gift-card {
      margin-top: 0; } }
  @media only screen and (max-width: 768px) {
    #main .gift-card {
      margin-bottom: 0; } }

#main .ps4-account {
  background: url("../img/type-ps-giftcard.png"), linear-gradient(#202542, #202542);
  background-position: right top;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  position: relative; }
  @media only screen and (max-width: 1200px) {
    #main .ps4-account {
      background-size: cover; } }
  #main .ps4-account .circle {
    position: absolute; }
    @media only screen and (max-width: 992px) {
      #main .ps4-account .circle {
        display: none; } }
  #main .ps4-account .c4 {
    width: 82px;
    right: 325px;
    bottom: 0;
    animation: float 5s linear infinite; }
  #main .ps4-account .c3 {
    width: 67px;
    right: 200px;
    top: -10px;
    animation: float 10s linear infinite; }
  #main .ps4-account .c2 {
    width: 23px;
    top: 1px;
    left: 26px;
    animation: float 14s linear infinite; }
  #main .ps4-account > .container {
    padding: 0 0 90px;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 1570px) {
      #main .ps4-account > .container {
        max-width: 1350px; } }
    @media only screen and (max-width: 1200px) {
      #main .ps4-account > .container {
        flex-wrap: wrap; } }
  #main .ps4-account .ps4-account-carousel-wrapper {
    position: relative;
    top: 75px;
    right: 106px; }
    #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel-counter {
      position: absolute;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.45);
      direction: ltr;
      top: -7px; }
      #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel-counter .current {
        color: #ffffff; }
    #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel {
      max-width: 500px; }
      #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel .carousel-content {
        max-width: 500px; }
        #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel .carousel-content .above-title {
          color: #e5e6f7;
          margin-bottom: -35px;
          font-size: 18px;
          font-weight: 300; }
          @media only screen and (max-width: 576px) {
            #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel .carousel-content .above-title {
              margin-bottom: -12px;
              font-size: 16px; } }
        #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel .carousel-content .title {
          font-size: 30px;
          margin-bottom: 12px;
          color: #ffffff; }
          @media only screen and (max-width: 576px) {
            #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel .carousel-content .title {
              font-size: 20px; } }
        #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel .carousel-content .description {
          color: #e5e6f7;
          font-weight: 300;
          font-size: 16px; }
          @media only screen and (max-width: 576px) {
            #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel .carousel-content .description {
              font-size: 14px;
              text-align: justify; } }
        @media only screen and (max-width: 576px) {
          #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel .carousel-content {
            max-width: 400px; } }
        @media only screen and (max-width: 480px) {
          #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel .carousel-content {
            max-width: 350px; } }
        @media only screen and (max-width: 390px) {
          #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel .carousel-content {
            max-width: 300px; } }
      #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel .owl-dots {
        display: block;
        position: absolute;
        top: -21px;
        right: 0; }
        #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel .owl-dots .owl-dot {
          width: 6px;
          height: 6px;
          background: rgba(255, 255, 255, 0.43);
          border-radius: 100px;
          margin-left: 8px; }
          #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel .owl-dots .owl-dot.active {
            background: white;
            width: 21px; }
        @media only screen and (max-width: 650px) {
          #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel .owl-dots {
            display: none; } }
      #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel .owl-nav {
        position: absolute;
        left: 0;
        top: 0; }
        #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel .owl-nav .owl-prev, #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel .owl-nav .owl-next {
          outline: none; }
          #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel .owl-nav .owl-prev svg, #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel .owl-nav .owl-next svg {
            width: 7px;
            height: 15px;
            opacity: .8; }
        #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel .owl-nav .owl-prev {
          margin-left: 17px; }
          #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel .owl-nav .owl-prev svg {
            transform: rotate(180deg); }
        @media only screen and (max-width: 650px) {
          #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel .owl-nav {
            display: none; } }
      @media only screen and (max-width: 1200px) {
        #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel {
          margin: 0 auto; } }
      @media only screen and (max-width: 576px) {
        #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel {
          max-width: 400px; } }
      @media only screen and (max-width: 480px) {
        #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel {
          max-width: 350px; } }
      @media only screen and (max-width: 390px) {
        #main .ps4-account .ps4-account-carousel-wrapper #ps4-account-carousel {
          max-width: 300px; } }
    @media only screen and (max-width: 1300px) {
      #main .ps4-account .ps4-account-carousel-wrapper {
        right: 60px; } }
    @media only screen and (max-width: 1200px) {
      #main .ps4-account .ps4-account-carousel-wrapper {
        flex: 0 0 100%;
        right: 0; } }
    @media only screen and (max-width: 650px) {
      #main .ps4-account .ps4-account-carousel-wrapper {
        top: 20px; } }
  #main .ps4-account .card-list {
    max-width: 650px;
    margin-right: auto;
    position: relative;
    top: 155px; }
    #main .ps4-account .card-list .card-item {
      margin-right: auto;
      padding: 8px 37px 11px 64px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      background: #ffffff;
      margin-bottom: 10px; }
      @media only screen and (min-width: 576px) {
        #main .ps4-account .card-list .card-item:last-of-type {
          border: 1px solid rgba(215, 227, 246, 0.75);
          box-shadow: 0 1px 3px rgba(215, 227, 246, 0.66); } }
      #main .ps4-account .card-list .card-item img {
        max-width: 52px;
        max-height: 71px;
        margin-left: 50px; }
        @media only screen and (max-width: 1400px) {
          #main .ps4-account .card-list .card-item img {
            margin-left: 30px; } }
        @media only screen and (max-width: 576px) {
          #main .ps4-account .card-list .card-item img {
            flex: 0 0 100%;
            margin: 0 auto;
            max-width: 31px;
            max-height: 37px; } }
      #main .ps4-account .card-list .card-item .title {
        margin-bottom: 0;
        color: #252849; }
        @media only screen and (max-width: 576px) {
          #main .ps4-account .card-list .card-item .title {
            color: #ffffff;
            font-size: 14px; } }
      #main .ps4-account .card-list .card-item .description {
        margin-top: 7px;
        font-size: 14px;
        font-weight: 300; }
        @media only screen and (max-width: 576px) {
          #main .ps4-account .card-list .card-item .description {
            margin-top: 12px;
            font-size: 13px;
            color: #e5e6f7; } }
      @media only screen and (max-width: 1400px) {
        #main .ps4-account .card-list .card-item {
          padding: 0px 27px 11px 14px; } }
      @media only screen and (max-width: 576px) {
        #main .ps4-account .card-list .card-item {
          flex-wrap: wrap;
          text-align: center;
          padding: 21px 10px 5px 10px;
          min-height: 200px;
          background: rgba(255, 255, 255, 0.19);
          max-width: 200px; } }
    @media only screen and (max-width: 1400px) {
      #main .ps4-account .card-list {
        max-width: 588px;
        margin-left: 15px; } }
    @media only screen and (max-width: 1200px) {
      #main .ps4-account .card-list {
        margin: 0 auto;
        top: 111px; } }
    @media only screen and (max-width: 650px) {
      #main .ps4-account .card-list {
        top: 51px;
        padding: 0 25px; } }
    @media only screen and (max-width: 576px) {
      #main .ps4-account .card-list {
        overflow: hidden; } }

#main .cta-v2 {
  position: relative;
  text-align: center;
  padding-bottom: 180px;
  padding-top: 110px; }
  @media only screen and (max-width: 1570px) {
    #main .cta-v2 {
      padding-top: 60px; } }
  @media only screen and (max-width: 1200px) {
    #main .cta-v2 {
      padding-top: 0; } }
  @media only screen and (max-width: 992px) {
    #main .cta-v2 {
      padding-bottom: 110px; } }
  @media only screen and (max-width: 576px) {
    #main .cta-v2 {
      padding-bottom: 60px; } }
  #main .cta-v2 .c1 {
    position: absolute;
    left: 172px;
    width: 58px;
    bottom: 300px;
    animation: float 10s linear infinite; }
    @media only screen and (max-width: 1200px) {
      #main .cta-v2 .c1 {
        display: none; } }
  #main .cta-v2 .c2 {
    position: absolute;
    left: 400px;
    width: 18px;
    bottom: -2px;
    animation: float 14s linear infinite; }
    @media only screen and (max-width: 1200px) {
      #main .cta-v2 .c2 {
        display: none; } }
  #main .cta-v2 .cta-img {
    width: 140px;
    height: 128px;
    margin-top: 124px; }
    @media only screen and (max-width: 992px) {
      #main .cta-v2 .cta-img {
        margin-top: 80px; } }
    @media only screen and (max-width: 576px) {
      #main .cta-v2 .cta-img {
        width: 90px;
        height: auto;
        margin-top: 45px; } }
  #main .cta-v2 .cta-title {
    font-size: 30px;
    font-weight: 700; }
    @media only screen and (max-width: 768px) {
      #main .cta-v2 .cta-title {
        font-size: 27px; } }
    @media only screen and (max-width: 576px) {
      #main .cta-v2 .cta-title {
        font-size: 20px;
        margin: 16px 0 34px; } }
  #main .cta-v2 .cta-description {
    font-weight: 300;
    font-size: 17px;
    max-width: 570px;
    margin: -20px auto 60px; }
    @media only screen and (max-width: 768px) {
      #main .cta-v2 .cta-description {
        max-width: 470px; } }
    @media only screen and (max-width: 576px) {
      #main .cta-v2 .cta-description {
        max-width: initial;
        padding: 0 30px;
        font-size: 15px;
        margin: -20px auto 30px; } }
  #main .cta-v2 .white-btn-v2.cta-btn {
    box-shadow: 0 8px 27px 0 rgba(243, 48, 58, 0.23);
    background: #F3303A;
    color: #fff; }
    #main .cta-v2 .white-btn-v2.cta-btn svg {
      background: #ffffff;
      stroke: #F3303A; }
      @media only screen and (max-width: 576px) {
        #main .cta-v2 .white-btn-v2.cta-btn svg {
          right: 6px;
          top: 5px;
          padding: 11px; } }
    @media only screen and (max-width: 576px) {
      #main .cta-v2 .white-btn-v2.cta-btn {
        padding: 14px 75px 14px 27px;
        font-size: 17px; } }
  #main .cta-v2:after {
    content: '';
    background: url(../img/lines-bg.png);
    position: absolute;
    width: 770px;
    height: 800px;
    background-size: contain;
    top: 263px;
    left: 0;
    opacity: .2;
    background-repeat: no-repeat; }
    @media only screen and (max-width: 992px) {
      #main .cta-v2:after {
        display: none; } }

#main .gift-card-v2 {
  color: #ffffff;
  position: relative; }
  @media only screen and (max-width: 768px) {
    #main .gift-card-v2 {
      margin-top: 0;
      overflow: hidden; } }
  #main .gift-card-v2 .bg {
    max-width: 1230px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    position: relative;
    padding: 79px 0 120px;
    overflow: hidden;
    background: url("../img/ps-gift-card.png"), linear-gradient(#202542, #202542);
    background-position: right top;
    background-repeat: no-repeat;
    background-blend-mode: lighten; }
    @media only screen and (max-width: 1570px) {
      #main .gift-card-v2 .bg {
        max-width: 100%;
        border-radius: 0; } }
    @media only screen and (max-width: 1270px) {
      #main .gift-card-v2 .bg {
        height: 500px; } }
    @media only screen and (max-width: 576px) {
      #main .gift-card-v2 .bg {
        height: 350px; } }
    @media only screen and (max-width: 420px) {
      #main .gift-card-v2 .bg {
        height: 400px; } }
  #main .gift-card-v2 .c1 {
    position: absolute;
    width: 82px;
    right: 130px;
    bottom: -44px;
    animation: float 7s linear infinite; }
    @media only screen and (max-width: 992px) {
      #main .gift-card-v2 .c1 {
        display: none; } }
  #main .gift-card-v2 .c2 {
    position: absolute;
    width: 62px;
    top: -24px;
    right: 100px; }
    @media only screen and (max-width: 992px) {
      #main .gift-card-v2 .c2 {
        display: none; } }
  #main .gift-card-v2 .ps-btn {
    position: absolute;
    bottom: 150px;
    right: 150px;
    animation: float 7s linear infinite; }
    @media only screen and (max-width: 1570px) {
      #main .gift-card-v2 .ps-btn {
        display: none; } }
  #main .gift-card-v2 .gift-cards-v2-carousel-wrapper {
    position: relative;
    top: 31px;
    right: 350px; }
    #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel-counter {
      position: absolute;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.45);
      direction: ltr;
      top: -7px; }
      #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel-counter .current {
        color: #ffffff; }
    #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel {
      max-width: 425px; }
      #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel .carousel-content {
        max-width: 425px; }
        #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel .carousel-content .title {
          font-size: 30px;
          margin-bottom: 12px; }
          @media only screen and (max-width: 576px) {
            #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel .carousel-content .title {
              font-size: 20px; } }
        #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel .carousel-content .description {
          color: #e5e6f7;
          font-weight: 300;
          font-size: 16px;
          text-align: justify; }
          @media only screen and (max-width: 576px) {
            #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel .carousel-content .description {
              font-size: 14px; } }
        @media only screen and (max-width: 1270px) {
          #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel .carousel-content {
            max-width: initial; } }
      #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel .owl-dots {
        display: block;
        position: absolute;
        top: -10px;
        right: 42px; }
        #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel .owl-dots .owl-dot {
          width: 6px;
          height: 6px;
          background: rgba(255, 255, 255, 0.43);
          border-radius: 100px;
          margin-left: 8px; }
          #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel .owl-dots .owl-dot.active {
            background: white;
            width: 21px; }
      @media only screen and (max-width: 1270px) {
        #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel {
          max-width: initial; } }
    @media only screen and (max-width: 1570px) {
      #main .gift-card-v2 .gift-cards-v2-carousel-wrapper {
        right: 140px; } }
    @media only screen and (max-width: 1410px) {
      #main .gift-card-v2 .gift-cards-v2-carousel-wrapper {
        right: 114px; } }
    @media only screen and (max-width: 1315px) {
      #main .gift-card-v2 .gift-cards-v2-carousel-wrapper {
        right: 70px; } }
    @media only screen and (max-width: 1270px) {
      #main .gift-card-v2 .gift-cards-v2-carousel-wrapper {
        width: 85%;
        margin: 0 auto;
        right: 0; } }
    @media only screen and (max-width: 768px) {
      #main .gift-card-v2 .gift-cards-v2-carousel-wrapper {
        top: -30px; } }
  #main .gift-card-v2 .gift-card-list {
    width: 746px;
    position: absolute;
    left: 300px;
    display: flex;
    top: 88px; }
    #main .gift-card-v2 .gift-card-list .gift-card-item {
      height: 316px;
      width: 231px;
      border-radius: 11px;
      margin: 0 10px;
      position: relative; }
      @media only screen and (max-width: 576px) {
        #main .gift-card-v2 .gift-card-list .gift-card-item {
          height: 205px;
          width: 153px;
          background-size: cover;
          margin: 0; } }
    @media only screen and (max-width: 1850px) {
      #main .gift-card-v2 .gift-card-list {
        left: 243px; } }
    @media only screen and (max-width: 1770px) {
      #main .gift-card-v2 .gift-card-list {
        left: 156px; } }
    @media only screen and (max-width: 1670px) {
      #main .gift-card-v2 .gift-card-list {
        left: 56px; } }
    @media only screen and (max-width: 1570px) {
      #main .gift-card-v2 .gift-card-list {
        left: 10px; } }
    @media only screen and (max-width: 1270px) {
      #main .gift-card-v2 .gift-card-list {
        left: 50%;
        transform: translateX(-50%);
        top: initial;
        bottom: 40px; } }
    @media only screen and (max-width: 576px) {
      #main .gift-card-v2 .gift-card-list {
        left: 25%; } }

#main .ordering-steps {
  padding: 100px 0 100px; }
  @media only screen and (max-width: 992px) {
    #main .ordering-steps {
      padding: 60px 15px 100px; } }
  #main .ordering-steps > .container {
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (max-width: 1200px) {
      #main .ordering-steps > .container {
        padding: 0; } }
  #main .ordering-steps .step-item {
    flex: 0 0 49%;
    margin: 30px auto 0; }
    @media only screen and (max-width: 768px) {
      #main .ordering-steps .step-item .title {
        font-size: 19px; } }
    @media only screen and (max-width: 1200px) {
      #main .ordering-steps .step-item .description {
        padding: 0 47px;
        line-height: 30px; } }
    @media only screen and (max-width: 768px) {
      #main .ordering-steps .step-item .description {
        padding: 0 28px;
        line-height: 29px;
        font-size: 16px; } }
    @media only screen and (max-width: 768px) {
      #main .ordering-steps .step-item {
        display: none; } }
  @media only screen and (max-width: 768px) {
    #main .ordering-steps {
      padding: 1px;
      background: rgba(37, 40, 73, 0.788235); } }

#footer {
  background: url("../img/cta-bg.png") no-repeat center -180px, linear-gradient(#252849, #252849);
  color: rgba(255, 255, 255, 0.84);
  padding: 50px 0 20px 0;
  position: relative;
  font-size: 13px;
  font-weight: 300;
  overflow: hidden;
  background-size: contain;
  background-blend-mode: color-dodge; }
  @media only screen and (max-width: 992px) {
    #footer {
      background-position: center -100px; } }
  @media only screen and (max-width: 768px) {
    #footer {
      background-position: center -40px; } }
  #footer .cta {
    text-align: center;
    padding: 10px 0 174px 0; }
    #footer .cta .title {
      font-size: 30px;
      color: #fff; }
      @media only screen and (max-width: 576px) {
        #footer .cta .title {
          font-size: 22px;
          line-height: 34px; } }
    #footer .cta .description {
      font-size: 18px;
      color: #8c90b1;
      margin-top: -16px; }
      @media only screen and (max-width: 576px) {
        #footer .cta .description {
          font-size: 14px;
          margin-top: -5px; } }
    #footer .cta .white-btn-v2 {
      top: 40px;
      display: inline-block; }
      @media only screen and (max-width: 576px) {
        #footer .cta .white-btn-v2 {
          padding: 12px 58px 11px 24px;
          font-size: 15px; } }
      @media only screen and (max-width: 576px) {
        #footer .cta .white-btn-v2 svg {
          right: 4px;
          top: 3px;
          padding: 11px;
          width: 12px;
          height: 12px; } }
    @media only screen and (max-width: 768px) {
      #footer .cta {
        padding: 10px 32px 104px 34px; } }
  #footer .circle {
    pointer-events: none; }
  #footer .c1 {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 165px;
    bottom: -10px;
    z-index: 1;
    animation: float 5s ease-in-out infinite; }
    @media only screen and (max-width: 800px) {
      #footer .c1 {
        display: none; } }
  #footer .c2 {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 90px;
    bottom: 150px;
    z-index: 1;
    animation: float 6s ease-in-out infinite; }
    @media only screen and (max-width: 992px) {
      #footer .c2 {
        width: 100px;
        height: 100px; } }
    @media only screen and (max-width: 800px) {
      #footer .c2 {
        display: none; } }
  #footer .c3 {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 125px;
    bottom: 180px;
    animation: float 4s ease-in-out infinite; }
    @media only screen and (max-width: 992px) {
      #footer .c3 {
        width: 30px;
        height: 30px; } }
    @media only screen and (max-width: 600px) {
      #footer .c3 {
        display: none; } }
  #footer .c4 {
    position: absolute;
    width: 82px;
    height: 82px;
    top: 8px;
    left: 555px;
    animation: floatXY 4s linear infinite; }
    @media only screen and (max-width: 992px) {
      #footer .c4 {
        width: 52px;
        height: 52px;
        left: 55px; } }
  #footer .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media only screen and (max-width: 992px) {
      #footer .content {
        justify-content: center; } }
    #footer .content .description {
      display: flex;
      max-width: 380px; }
      #footer .content .description .footer-logo {
        width: 60px;
        margin-left: 20px; }
        @media only screen and (max-width: 576px) {
          #footer .content .description .footer-logo {
            margin-bottom: 15px; } }
      @media only screen and (max-width: 576px) {
        #footer .content .description p {
          display: none; } }
    #footer .content .menu {
      list-style: none; }
      #footer .content .menu li {
        display: inline-block;
        padding: 5px 10px 17px 10px;
        margin-left: 60px;
        position: relative;
        transition: all ease-in-out 0.5s; }
        #footer .content .menu li:after {
          transition: all ease-in-out 0.5s;
          display: block;
          position: absolute;
          content: '';
          width: 25px;
          height: 3px;
          border-radius: 1.5px;
          background: #F3303A;
          box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32);
          bottom: 0;
          left: calc((100% - 25px)/2);
          opacity: 0;
          visibility: hidden; }
        #footer .content .menu li:hover:after {
          opacity: 1;
          visibility: visible; }
        #footer .content .menu li.active:after {
          opacity: 1;
          visibility: visible; }
      @media only screen and (max-width: 992px) {
        #footer .content .menu {
          flex: 0 0 100%;
          text-align: center; } }
      @media only screen and (max-width: 576px) {
        #footer .content .menu {
          display: none; } }
  #footer .copyright {
    text-align: center;
    color: rgba(240, 242, 248, 0.55);
    direction: ltr;
    margin-top: 50px;
    font-weight: 300; }
    #footer .copyright .mobile-logo {
      display: none; }
    @media only screen and (max-width: 992px) {
      #footer .copyright {
        border-top: 1px solid rgba(255, 255, 255, 0.121569);
        padding-top: 19px;
        margin-top: 0; } }
