body {
  background: #f7f8ff;
}
.container {
  @include breakpoint(max, 1570px) {
    max-width: 120rem; /* 1200px */
  }
  @include breakpoint(max, 1200px) {
    max-width: 99.2rem; /* 992px */
  }
}
#header {
  position: relative;
  background: url("../img/ps4-hero-bg.png"), linear-gradient(#202542, #202542);
  background-position: right top;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  @include breakpoint(max, 1200px) {
    overflow: hidden;
  }
  .nav {
    .logo {
      width: 12.5rem; /* 125px */
      height: 3.1rem; /* 31px */
      float: right;
      margin-top: 5rem; /* 50px */
      @include breakpoint(max, 576px) {
        width: 11rem; /* 110px */
        height: 2.4rem; /* 24px */
        margin-top: 3rem; /* 30px */
      }
    }
    .white-btn {
      margin-top: 4rem; /* 40px */
      float: left;
      padding: 1.4rem 3.6rem; /* 14px 36px */
      font-size: 1.7rem; /* 17px */
      z-index: 1;
      position: relative;
      @include breakpoint(max, 575px) {
        font-size: 1.5rem; /* 15px */
        margin-top: 2.2rem; /* 22px */
      }
      @include breakpoint(max, 380px) {
        padding: 1.2rem 2.2rem; /* 12px 22px */
      }
    }
    @include breakpoint(max, 1410px) {
      max-width: 107rem; /* 1070px */
      margin: 0 auto;
      padding: 0 5.7rem; /* 57px */
    }
    @include breakpoint(max, 576px) {
      padding: 0 3rem; /* 30px */
    }
  }
  .hero {
    display: flex;
    @include breakpoint(max, 1410px) {
      overflow: hidden;
    }
    @include breakpoint(max, 1200px) {
      flex-wrap: wrap;
    }
    .services {
      position: relative;
      .circles {
        position: absolute;
        top: 5.9rem; /* 59px */
        animation: rotate 25s linear infinite;
        left: -5rem; /* -50px */
        pointer-events: none;
        @keyframes rotate {
          from {
            transform: rotate(0);
          }
          to {
            transform: rotate(360deg);
          }
        }
        @include breakpoint(max, 1570px) {
          left: 1rem; /* 10px */
        }
      }
      .gradient-circle {
        position: absolute;
        top: 14.3rem; /* 143px */
        right: 16.7rem; /* 167px */
        animation: float 4s linear infinite;
        @include breakpoint(max, 1410px) {
          top: 12.4rem; /* 124px */
          right: 8.4rem; /* 84px */
        }
      }
      .gradient-rectangle {
        position: absolute;
        bottom: 11.8rem; /* 118px */
        left: -6.1rem; /* -61px */
        animation: float 3s linear infinite;
        @include breakpoint(max, 1410px) {
          bottom: 5.9rem; /* 59px */
          left: 0.9rem; /* 9px */
        }
      }
      .gamepad {
        position: relative;
        right: 10.8rem; /* 108px */
        top: 13.7rem; /* 137px */
        width: 95%;
        @include breakpoint(max, 1410px) {
          right: 4.1rem; /* 41px */
        }
      }
      @include breakpoint(max, 1200px) {
        position: absolute;
        left: -15.6rem; /* -156px */
        bottom: 4.7rem; /* 47px */
        transform: rotate(45deg) scale(0.8);
      }
      @include breakpoint(max, 992px) {
        bottom: -10rem; /* -100px */
        transform: rotate(15deg) scale(0.8);
      }
      @include breakpoint(max, 768px) {
        display: none;
      }
    }
    .intro {
      width: 100%;
      max-width: 53.3rem; /* 533px */
      margin: 12.5rem 20rem 19rem 0; /* 125px 200px 190px */
      @include breakpoint(max, 1570px) {
        margin: 12.5rem 9rem 19rem 0; /* 125px 90px 190px */
      }
      @include breakpoint(max, 768px) {
        margin: 7rem 9rem 10rem 4rem; /* 70px 90px 100px 40px */
      }
      @include breakpoint(max, 576px) {
        margin: 3.6rem auto 10.5rem; /* 36px 105px */
        text-align: center;
      }
      .title {
        font-size: 4.8rem; /* 48px */
        font-weight: 500;
        color: #daddfb;
        strong {
          font-weight: 600;
          color: #ffffff;
        }
        @include breakpoint(max, 1570px) {
          font-size: 4.1rem; /* 41px */
        }
        @include breakpoint(max, 1410px) {
          font-size: 3.9rem; /* 39px */
        }
        @include breakpoint(max, 576px) {
          font-size: 3rem; /* 30px */
          text-align: center;
          line-height: 4.7rem; /* 47px */
          padding: 0 2.8rem; /* 28px */
        }
        @include breakpoint(max, 380px) {
          font-size: 2.3rem; /* 23px */
          line-height: 3.8rem; /* 38px */
        }
      }
      .description {
        position: relative;
        padding-right: 2.8rem; /* 28px */
        text-align: justify;
        opacity: 0.8;
        font-weight: 300;
        color: #b3b7d8;
        &:after {
          display: block;
          position: absolute;
          content: "";
          width: 0.4rem; /* 4px */
          height: 3.6rem; /* 36px */
          border-radius: 0.2rem; /* 2px */
          background: #f65164;
          box-shadow: 0 0.5rem 1.5rem 0 rgba(243, 48, 58, 0.5),
            0 0.5rem 1.2rem 0 rgba(243, 48, 58, 0.61),
            0 0.4rem 0.7rem 0 /* 5px 15px 5px 12px 4px 7px */
              rgba(243, 48, 58, 0.32);
          top: 0.5rem; /* 5px */
          right: 0;
        }
        @include breakpoint(max, 1410px) {
          font-size: 1.6rem; /* 16px */
        }
        @include breakpoint(max, 576px) {
          padding: 0 2.2rem; /* 22px */
          margin: 0 1.9rem; /* 19px */
          font-size: 1.5rem; /* 15px */
        }
      }
      .red-btn {
        padding: 1.7rem 3rem 1.7rem 7.7rem; /* 17px 30px 17px 77px */
        font-size: 1.8rem; /* 18px */
        margin-top: 0.6rem; /* 6px */
        float: left;
        @include breakpoint(max, 1410px) {
          padding: 1.7rem 3rem 1.7rem 6.7rem; /* 17px 30px 17px 67px */
          font-size: 1.6rem; /* 16px */
        }
        @include breakpoint(max, 576px) {
          float: initial;
          top: 4.4rem; /* 44px */
          font-size: 1.5rem; /* 15px */
          padding: 1.1rem 2.5rem 1.2rem 6.1rem; /* 11px 25px 12px 61px */
        }
        svg {
          @include breakpoint(max, 576px) {
            top: 1.7rem; /* 17px */
          }
        }
      }
      .gamepad {
        position: absolute;
        right: -16.5rem; /* -165px */
        bottom: -11.9rem; /* -119px */
        width: 38rem; /* 380px */
        @include breakpoint(max, 1200px) {
          transform: scale(0.7);
          bottom: -10.9rem; /* -109px */
        }
        @include breakpoint(max, 992px) {
          display: none;
        }
      }
    }
  }
}
#main {
  .gift-card {
    overflow: hidden;
    padding-top: 9rem; /* 90px */
    padding-bottom: 14rem; /* 140px */
    @include breakpoint(max, 1410px) {
      padding-bottom: 8rem; /* 80px */
    }
    @include breakpoint(max, 1200px) {
      padding-bottom: 4rem; /* 40px */
      padding-top: 1.1rem; /* 11px */
    }
    .section-title {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .filter-card {
        margin-right: 2rem; /* 20px */
        margin-top: 1.4rem; /* 14px */
        z-index: 2;
        @include breakpoint(max, 576px) {
          flex: 0 0 100%;
          margin-top: -1.4rem; /* -14px */
        }
      }
    }
    .product-item {
      margin-bottom: 4rem; /* 40px */
      @include breakpoint(max, 768px) {
        margin-bottom: 4.4rem; /* 44px */
        margin-top: 2.5rem; /* 25px */
      }
      @include breakpoint(max, 576px) {
        margin-bottom: 0;
      }
    }
    #gift-cards-carousel {
      height: 49rem; /* 490px */
      @include breakpoint(max, 576px) {
        height: 31rem; /* 310px */
        margin-right: -8rem; /* -80px */
      }
      .owl-stage-outer {
        @include breakpoint(max, 576px) {
          overflow: visible !important;
        }
      }
    }
  }
  .ps4-account {
    background: url("../img/ps4-account.png"), linear-gradient(#202542, #202542);
    background-position: right top;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      left: -60.9rem; /* -609px */
      top: -30.2rem; /* -302px */
      background-size: 116%;
      width: 79.8rem; /* 798px */
      height: 82.5rem; /* 825px */
      background: url("../img/lines-bg.svg") no-repeat;
      transform: rotate(107deg);
      @include breakpoint(max, 992px) {
        display: none;
      }
    }
    .circle {
      position: absolute;
      @include breakpoint(max, 768px) {
        display: none;
      }
    }
    .c1 {
      width: 4.2rem; /* 42px */
      height: 4.2rem; /* 42px */
      animation: floatXY 7s linear infinite;
    }
    .c4 {
      width: 8.2rem; /* 82px */
      left: 20.6rem; /* 206px */
      bottom: 0;
      animation: float 5s linear infinite;
    }
    .c3 {
      width: 6.7rem; /* 67px */
      left: 35rem; /* 350px */
      top: -1rem; /* -10px */
      animation: float 10s linear infinite;
    }
    .c2 {
      width: 2.3rem; /* 23px */
      bottom: 6.8rem; /* 68px */
      left: 88.4rem; /* 884px */
      animation: float 14s linear infinite;
    }
    > .container {
      display: flex;
      justify-content: center;
      padding: 3rem 0 21rem; /* 30px 210px */
      @include breakpoint(max, 1200px) {
        justify-content: space-between;
        padding: 3rem 0 21rem; /* 30px 210px */
        max-width: 100%;
        width: 100%;
      }
      @include breakpoint(max, 992px) {
        flex-wrap: wrap;
        padding: 3rem 0 0; /* 30px */
      }
    }
    .ps4-account-carousel-wrapper {
      position: relative;
      top: 10rem; /* 100px */
      margin: auto;
      #ps4-account-carousel-counter {
        position: absolute;
        font-size: 1.2rem; /* 12px */
        color: rgba(255, 255, 255, 0.45);
        direction: ltr;
        top: -0.7rem; /* -7px */
        .current {
          color: #ffffff;
        }
      }
      #ps4-account-carousel {
        max-width: 42.5rem; /* 425px */
        .carousel-content {
          max-width: 42.5rem; /* 425px */
          .title {
            font-size: 3rem; /* 30px */
            margin-bottom: 1.2rem; /* 12px */
            color: #ffffff;
            @include breakpoint(max, 576px) {
              font-size: 2.1rem; /* 21px */
            }
          }
          .description {
            color: #e5e6f7;
            font-weight: 300;
            font-size: 1.6rem; /* 16px */
            @include breakpoint(max, 576px) {
              font-size: 1.4rem; /* 14px */
              text-align: justify;
            }
          }
          @include breakpoint(max, 480px) {
            max-width: 35rem; /* 350px */
          }
          @include breakpoint(max, 365px) {
            max-width: 30rem; /* 300px */
          }
        }
        .owl-dots {
          display: block;
          position: absolute;
          top: -1rem; /* -10px */
          right: 4.2rem; /* 42px */
          .owl-dot {
            width: 0.6rem; /* 6px */
            height: 0.6rem; /* 6px */
            background: rgba(255, 255, 255, 0.43);
            border-radius: 10rem; /* 100px */
            margin-left: 0.8rem; /* 8px */
            &.active {
              background: rgb(255, 255, 255);
              width: 2.1rem; /* 21px */
            }
          }
        }
        .owl-nav {
          position: absolute;
          left: 0;
          top: 0;
          .owl-prev,
          .owl-next {
            svg {
              width: 0.7rem; /* 7px */
              height: 1.5rem; /* 15px */
              opacity: 0.8;
            }
            outline: none;
          }
          .owl-prev {
            margin-left: 1.7rem; /* 17px */
            svg {
              transform: rotate(180deg);
            }
          }
        }
        @include breakpoint(max, 480px) {
          max-width: 35rem; /* 350px */
        }
        @include breakpoint(max, 365px) {
          max-width: 30rem; /* 300px */
        }
      }
      @include breakpoint(max, 1570px) {
        right: -10.3rem; /* -103px */
      }
      @include breakpoint(max, 1410px) {
        right: 0;
      }
      @include breakpoint(max, 1200px) {
        right: 0;
      }
      @include breakpoint(max, 768px) {
        top: 2rem; /* 20px */
      }
    }
    .holder-services {
      margin: 0 auto;
      @include breakpoint(max, 992px) {
        flex: 0 0 100%;
        margin-top: 9rem; /* 90px */
      }
      @include breakpoint(max, 768px) {
        margin-top: 0;
      }
      #ps4-service-carousel {
        @include breakpoint(max, 576px) {
          margin-right: -8rem; /* -80px */
        }
        .owl-stage-outer {
          @include breakpoint(max, 576px) {
            overflow: visible;
          }
        }
      }
      .service-items {
        @include breakpoint(max, 992px) {
          margin: 5rem 0 8rem; /* 50px 80px */
        }
      }
    }
  }
  .popular-game {
    padding-top: 8.5rem; /* 85px */
    @include breakpoint(max, 992px) {
      padding-top: 2rem; /* 20px */
    }
    @include breakpoint(max, 768px) {
      padding-bottom: 5rem; /* 50px */
    }
    @include breakpoint(max, 400px) {
      padding-bottom: 0;
    }
    .section-title {
      h2 {
        padding-right: 5.9rem; /* 59px */
        margin-bottom: 5rem; /* 50px */
        &:after {
          display: none;
        }
        @include breakpoint(max, 992px) {
          font-size: 3.4rem; /* 34px */
          text-align: center;
          padding-right: 0;
        }
        @include breakpoint(max, 576px) {
          font-size: 2rem; /* 20px */
          margin-top: 1.1rem; /* 11px */
          margin-bottom: 3.5rem; /* 35px */
        }
      }
    }
    .slider-content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &-slider {
      width: 40rem; /* 400px */
      &-nav {
        display: flex;
        margin-right: 1.5rem; /* 15px */
        .nav-item {
          box-shadow: 0rem 0.1rem 0.1rem 0 rgba(170, 188, 212, 0.31),
            0 0.2rem 1.3rem 0 /* 0px 1px 1px 2px 13px */
              rgba(170, 188, 212, 0.3);
          background: #fff;
          padding: 2.6rem 7.8rem 2.6rem 4.3rem; /* 26px 78px 26px 43px */
          border-radius: 10rem; /* 100px */
          margin-bottom: 1.7rem; /* 17px */
          position: relative;
          min-width: 23.2rem; /* 232px */
          font-size: 2rem; /* 20px */
          color: rgba(63, 67, 115, 0.82);
          margin-right: 2.5rem; /* 25px */
          &:after {
            position: absolute;
            border-radius: 10rem; /* 100px */
            background: #f4f6fd;
            color: rgba(63, 67, 115, 0.5);
            content: attr(data-num);
            @include Number;
            right: 1.8rem; /* 18px */
            height: 3.1rem; /* 31px */
            width: 4rem; /* 40px */
            top: 1.8rem; /* 18px */
            text-align: center;
            padding-top: 0.9rem; /* 9px */
            @include breakpoint(max, 1200px) {
              top: 0.9rem; /* 9px */
            }
            @include breakpoint(max, 670px) {
              height: 2.4rem; /* 24px */
              width: 3.1rem; /* 31px */
              padding-top: 0.7rem; /* 7px */
              right: 0.8rem; /* 8px */
              top: 0.8rem; /* 8px */
            }
          }
          &.active {
            color: #3f4473;
            &:after {
              background: $red-bg;
              color: #ffffff;
            }
          }
          @include breakpoint(max, 1200px) {
            padding: 2rem 7rem 2rem 2.2rem; /* 20px 70px 20px 22px */
            margin-bottom: 1.2rem; /* 12px */
            min-width: 17rem; /* 170px */
            font-size: 1.7rem; /* 17px */
            margin-right: 1.8rem; /* 18px */
          }
          @include breakpoint(max, 670px) {
            padding: 1.7rem 4.8rem 1.7rem 2.3rem; /* 17px 48px 17px 23px */
            margin-bottom: 1.2rem; /* 12px */
            min-width: 10rem; /* 100px */
            font-size: 1.4rem; /* 14px */
            margin-right: 0.7rem; /* 7px */
          }
          @include breakpoint(max, 400px) {
            display: none;
          }
        }
        @include breakpoint(max, 992px) {
          flex: 0 0 100%;
          justify-content: center;
        }
        @include breakpoint(max, 1200px) {
          margin-right: 0;
        }
      }
      @include breakpoint(max, 1200px) {
        width: 38rem; /* 380px */
      }
      @include breakpoint(max, 400px) {
        width: 31.3rem; /* 313px */
      }
    }
    .game-item {
      @include breakpoint(max, 1200px) {
        width: 38rem; /* 380px */
        height: 24rem; /* 240px */
      }
      @include breakpoint(max, 400px) {
        width: 31.3rem; /* 313px */
        height: 21.5rem; /* 215px */
      }
      .title {
        @include breakpoint(max, 670px) {
          top: -8.4rem; /* -84px */
          font-size: 1.9rem; /* 19px */
          font-weight: 400;
          right: 7.3rem; /* 73px */
        }
      }
      &:after {
        @include breakpoint(max, 670px) {
          font-size: 2.1rem; /* 21px */
          width: 3.5rem; /* 35px */
          height: 2.8rem; /* 28px */
          padding-top: 0.6rem; /* 6px */
        }
      }
    }
  }
  .ordering-steps {
    padding: 6rem 0 10rem; /* 60px 100px */
    @include breakpoint(max, 992px) {
      padding: 6rem 1.5rem 10rem; /* 60px 15px 100px */
    }
    > .container {
      display: flex;
      flex-wrap: wrap;
      @include breakpoint(max, 1200px) {
        padding: 0;
      }
    }
    .step-item {
      flex: 0 0 49%;
      margin: 3rem auto 0; /* 30px */
      .title {
        @include breakpoint(max, 768px) {
          font-size: 1.9rem; /* 19px */
        }
      }
      .description {
        @include breakpoint(max, 1200px) {
          padding: 0 4.7rem; /* 47px */
          line-height: 3rem; /* 30px */
        }
        @include breakpoint(max, 768px) {
          padding: 0 2.8rem; /* 28px */
          line-height: 2.9rem; /* 29px */
          font-size: 1.6rem; /* 16px */
        }
      }
      @include breakpoint(max, 768px) {
        display: none;
      }
    }
    @include breakpoint(max, 768px) {
      padding: 0.1rem; /* 1px */
      background: rgba(37, 40, 73, 0.788235294117647);
    }
  }
}
#footer {
  background: url("../img/cta-bg.png") no-repeat center -18rem /* -180px */,
    linear-gradient($darker, $darker);
  color: rgba(255, 255, 255, 0.84);
  padding: 5rem 0 2rem 0; /* 50px 20px */
  position: relative;
  font-size: 1.3rem; /* 13px */
  font-weight: 300;
  overflow: hidden;
  background-size: contain;
  background-blend-mode: color-dodge;
  @include breakpoint(max, 992px) {
    background-position: center -10rem; /* -100px */
  }
  @include breakpoint(max, 768px) {
    background-position: center -4rem; /* -40px */
  }
  .cta {
    text-align: center;
    padding: 1rem 0 17.4rem 0; /* 10px 174px */
    .title {
      font-size: 3rem; /* 30px */
      color: #fff;
      @include breakpoint(max, 576px) {
        font-size: 2.2rem; /* 22px */
        line-height: 3.4rem; /* 34px */
      }
    }
    .description {
      font-size: 1.8rem; /* 18px */
      color: #8c90b1;
      margin-top: -1.6rem; /* -16px */
      @include breakpoint(max, 576px) {
        font-size: 1.4rem; /* 14px */
        margin-top: -0.5rem; /* -5px */
      }
    }
    .white-btn-v2 {
      top: 4rem; /* 40px */
      @include breakpoint(max, 576px) {
        padding: 1.1rem 5.8rem 1.1rem 2.4rem; /* 11px 58px 11px 24px */
        font-size: 1.5rem; /* 15px */
      }
      svg {
        @include breakpoint(max, 576px) {
          right: 0.4rem; /* 4px */
          top: 0.3rem; /* 3px */
          padding: 1.1rem; /* 11px */
          width: 1.2rem; /* 12px */
          height: 1.2rem; /* 12px */
        }
      }
    }
    @include breakpoint(max, 768px) {
      padding: 1rem 3.2rem 10.4rem 3.4rem; /* 10px 32px 104px 34px */
    }
  }
  .circle {
    pointer-events: none;
  }
  .c1 {
    width: 7rem; /* 70px */
    height: 7rem; /* 70px */
    position: absolute;
    right: 16.5rem; /* 165px */
    bottom: -1rem; /* -10px */
    z-index: 1;
    animation: float 5s ease-in-out infinite;
    @include breakpoint(max, 800px) {
      display: none;
    }
  }
  .c2 {
    width: 15rem; /* 150px */
    height: 15rem; /* 150px */
    position: absolute;
    left: 9rem; /* 90px */
    bottom: 15rem; /* 150px */
    z-index: 1;
    animation: float 6s ease-in-out infinite;
    @include breakpoint(max, 992px) {
      width: 10rem; /* 100px */
      height: 10rem; /* 100px */
    }
    @include breakpoint(max, 800px) {
      display: none;
    }
  }
  .c3 {
    position: absolute;
    width: 3.5rem; /* 35px */
    height: 3.5rem; /* 35px */
    right: 12.5rem; /* 125px */
    bottom: 18rem; /* 180px */
    animation: float 4s ease-in-out infinite;
    @include breakpoint(max, 992px) {
      width: 3rem; /* 30px */
      height: 3rem; /* 30px */
    }
    @include breakpoint(max, 600px) {
      display: none;
    }
  }
  .c4 {
    position: absolute;
    width: 8.2rem; /* 82px */
    height: 8.2rem; /* 82px */
    top: 0.8rem; /* 8px */
    left: 55.5rem; /* 555px */
    animation: floatXY 4s linear infinite;
    @include breakpoint(max, 992px) {
      width: 5.2rem; /* 52px */
      height: 5.2rem; /* 52px */
      left: 5.5rem; /* 55px */
    }
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include breakpoint(max, 992px) {
      justify-content: center;
    }
    .description {
      display: flex;
      max-width: 38rem; /* 380px */
      .footer-logo {
        width: 6rem; /* 60px */
        margin-left: 2rem; /* 20px */
        @include breakpoint(max, 576px) {
          margin-bottom: 1.5rem; /* 15px */
        }
      }
      p {
        @include breakpoint(max, 576px) {
          display: none;
        }
      }
    }
    .menu {
      list-style: none;
      li {
        display: inline-block;
        padding: 0.5rem 1rem 1.7rem 1rem; /* 5px 10px 17px 10px */
        margin-left: 6rem; /* 60px */
        position: relative;
        transition: all ease-in-out 0.5s;
        &:after {
          transition: all ease-in-out 0.5s;
          display: block;
          position: absolute;
          content: "";
          width: 2.5rem; /* 25px */
          height: 0.3rem; /* 3px */
          border-radius: 0.15rem; /* 1.5px */
          background: #f3303a;
          box-shadow: 0 0.5rem 1.5rem 0 rgba(243, 48, 58, 0.5),
            0 0.5rem 1.2rem 0 rgba(243, 48, 58, 0.61),
            0 0.4rem 0.7rem 0 /* 5px 15px 5px 12px 4px 7px */
              rgba(243, 48, 58, 0.32);
          bottom: 0;
          left: calc((100% - 2.5rem) / 2);
          opacity: 0;
          visibility: hidden;
        }
        &:hover {
          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
        &.active {
          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      @include breakpoint(max, 992px) {
        flex: 0 0 100%;
        text-align: center;
      }
      @include breakpoint(max, 576px) {
        display: none;
      }
    }
  }
  .copyright {
    .mobile-logo {
      display: none;
    }
    text-align: center;
    color: rgba(240, 242, 248, 0.55);
    direction: ltr;
    margin-top: 5rem; /* 50px */
    font-weight: 300;
    @include breakpoint(max, 992px) {
      border-top: 0.1rem /* 1px */ solid
        rgba(255, 255, 255, 0.12156862745098039);
      padding-top: 1.9rem; /* 19px */
      margin-top: 0;
    }
  }
}
