@charset "UTF-8";
/*********Variable *********/
/********* Mixin *********/
/********* Normalize *********/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font-family: 'YekanBakh',sans-serif;
  font-size: 17px;
  direction: rtl;
  color: #3f4373; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

p {
  line-height: 1.5; }

[hidden] {
  display: none; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px; }
  .container:after {
    content: "";
    clear: both;
    display: table; }
  @media only screen and (min-width: 1200px) {
    .container-xl {
      max-width: 1140px; } }

/********* Font families *********/
@font-face {
  font-family: 'YekanBakh';
  src: url("../../../fonts/iGameYekanver38-Medium.woff2") format("woff2"), url("../../../fonts/iGameYekanver38-Medium.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'YekanBakh';
  src: url("../../../fonts/iGameYekanver38-Bold.woff2") format("woff2"), url("../../../fonts/iGameYekanver38-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'YekanBakh';
  src: url("../../../fonts/iGameYekanver38-Heavy.woff2") format("woff2"), url("../../../fonts/iGameYekanver38-Heavy.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'YekanBakhNum';
  src: url("../../../fonts/iGameNumbers-Heavy.woff2") format("woff2"), url("../../../fonts/iGameNumbers-Heavy.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

/********* Animations *********/
@keyframes float {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0px); } }

@keyframes floatXY {
  0% {
    transform: translate(0, 0px); }
  25% {
    transform: translate(6px, 5px); }
  50% {
    transform: translate(-5px, -7px); }
  100% {
    transform: translate(0px, 0px); } }

/********* Components *********/
.white-btn {
  box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
  background: #fff;
  color: #252849;
  border-radius: 100px; }

.white-btn-v2 {
  position: relative;
  background: #fff;
  color: #252849;
  padding: 16px 81px 18px 30px;
  border-radius: 100px;
  font-size: 22px;
  font-weight: 500; }
  .white-btn-v2 svg {
    background: #F3303A;
    border-radius: 100px;
    stroke: #ffffff;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    padding: 16px;
    position: absolute;
    right: 13px;
    top: 9px; }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .white-btn-v2 svg {
        left: 13px;
        right: auto; } }

.red-btn {
  background: #F3303A;
  color: #fff;
  box-shadow: 0 8px 27px 0 rgba(243, 48, 58, 0.23);
  border-radius: 100px;
  position: relative; }
  .red-btn svg {
    position: absolute;
    width: 10px;
    top: 21px;
    height: 10px;
    left: 24px; }

.section-title h2 {
  font-weight: 600;
  padding-right: 35px;
  position: relative;
  font-size: 43px;
  color: #252849;
  margin: 60px 0 40px; }
  .section-title h2:after {
    display: block;
    position: absolute;
    content: '';
    width: 4px;
    height: 34px;
    background: #F3303A;
    border-radius: 2px;
    right: 0;
    top: 0;
    box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32); }
    @media only screen and (max-width: 768px) {
      .section-title h2:after {
        right: 13px;
        top: -7px; } }
    @media only screen and (max-width: 576px) {
      .section-title h2:after {
        width: 10px;
        height: 10px;
        border-radius: 12px;
        box-shadow: none;
        right: 18px;
        top: 2px; } }
  @media only screen and (max-width: 992px) {
    .section-title h2 {
      margin: 30px 20px 30px 0;
      flex: 0 0 100%; } }
  @media only screen and (max-width: 768px) {
    .section-title h2 {
      font-size: 25px; } }
  @media only screen and (max-width: 576px) {
    .section-title h2 {
      font-size: 18px;
      font-weight: 500;
      margin: 20px 0 20px; } }

.product-item {
  transition: all .5s;
  border-radius: 11px;
  width: 270px;
  display: inline-block;
  padding: 14px 0 25px 0; }
  .product-item .image-holder {
    transition: all .5s;
    position: relative;
    width: 234px;
    height: 346px;
    margin: auto; }
    .product-item .image-holder img {
      width: 100%;
      height: 100%; }
    @media only screen and (max-width: 768px) {
      .product-item .image-holder {
        width: 200px;
        height: 270px; } }
    @media only screen and (max-width: 576px) {
      .product-item .image-holder {
        width: 120px;
        height: 185px;
        padding: 0; } }
    .product-item .image-holder .product-info {
      display: flex;
      justify-content: center;
      background: linear-gradient(to bottom, rgba(34, 39, 71, 0) 0%, #222747 60%);
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 130px;
      align-items: flex-end;
      transition: all ease-in-out 0.5s;
      opacity: 0;
      visibility: hidden; }
      .product-item .image-holder .product-info .product-region, .product-item .image-holder .product-info .product-platform {
        padding: 8px 12px;
        text-align: center;
        height: 10px;
        border-radius: 14px;
        margin-bottom: 20px; }
      .product-item .image-holder .product-info .product-region {
        color: #ffffff;
        border: 2px solid #626475;
        font-size: 12px;
        font-weight: 700; }
      .product-item .image-holder .product-info .product-platform {
        font-size: 11px;
        text-transform: uppercase;
        margin-left: 10px;
        background: #ffffff;
        font-weight: 700; }
        .product-item .image-holder .product-info .product-platform img {
          width: 15px;
          height: 15px;
          margin-right: 2px;
          margin-top: -2px;
          vertical-align: middle;
          display: inline-block; }
      @media only screen and (max-width: 768px) {
        .product-item .image-holder .product-info {
          visibility: visible;
          opacity: 1; } }
      @media only screen and (max-width: 576px) {
        .product-item .image-holder .product-info {
          display: none; } }
    .product-item .image-holder .special-tag {
      position: absolute;
      left: -20px;
      top: -10px;
      background: #F3303A;
      border-radius: 100px;
      display: flex;
      padding: 8px 10px;
      font-size: 14px;
      color: #ffffff; }
      .product-item .image-holder .special-tag svg {
        width: 11px;
        margin-left: 4px; }
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          .product-item .image-holder .special-tag svg {
            height: 14px; } }
      @media only screen and (max-width: 768px) {
        .product-item .image-holder .special-tag {
          padding: 6px 8px;
          font-size: 13px; } }
  .product-item .product-bottom {
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto; }
    @media only screen and (max-width: 576px) {
      .product-item .product-bottom {
        max-width: 120px; } }
    .product-item .product-bottom .product-title {
      font-weight: bold;
      font-size: 16px;
      color: #3f4373;
      margin-top: 25px;
      line-height: 1.5;
      display: block;
      height: 48px; }
      @media only screen and (max-width: 576px) {
        .product-item .product-bottom .product-title {
          font-weight: 400;
          font-size: 13px;
          margin-top: 12px; } }
    .product-item .product-bottom .duration {
      position: relative;
      border: 2px solid #cacdea;
      border-radius: 100px;
      top: 13px;
      padding: 2px 10px 0; }
      .product-item .product-bottom .duration span {
        font-family: 'YekanBakhNum';
        margin-left: 2px; }
      @media only screen and (max-width: 768px) {
        .product-item .product-bottom .duration {
          font-size: 14px; } }
      @media only screen and (max-width: 576px) {
        .product-item .product-bottom .duration {
          top: 33px;
          font-size: 12px;
          position: absolute;
          background: #cacdea;
          right: 10px; } }
    .product-item .product-bottom .product-card-price .original-price {
      font-family: 'YekanBakhNum';
      color: rgba(63, 67, 115, 0.8);
      font-size: 16px;
      text-decoration: line-through; }
      @media only screen and (max-width: 576px) {
        .product-item .product-bottom .product-card-price .original-price {
          display: none; } }
    .product-item .product-bottom .product-card-price .sale-range {
      transition: all .5s;
      font-family: 'YekanBakhNum';
      display: inline-block;
      font-size: 12px;
      color: #ffffff;
      padding: 5px 5px 3px 5px;
      background: #F3303A;
      border-radius: 10px;
      border: 2px solid transparent;
      margin-left: 5px; }
      @media only screen and (max-width: 576px) {
        .product-item .product-bottom .product-card-price .sale-range {
          font-size: 11px;
          padding: 2px 2px 1px 2px; } }
    .product-item .product-bottom .product-card-price .sale-price {
      display: block;
      font-family: 'YekanBakhNum';
      font-size: 25px;
      color: #3f4373;
      position: relative;
      padding-left: 40px; }
      .product-item .product-bottom .product-card-price .sale-price:before {
        font-weight: bold;
        font-family: 'YekanBakh' !important;
        display: block;
        position: absolute;
        content: 'تومان';
        font-size: 14px;
        color: rgba(63, 67, 115, 0.8);
        left: 0;
        bottom: 5px; }
        @media only screen and (max-width: 576px) {
          .product-item .product-bottom .product-card-price .sale-price:before {
            font-weight: 400;
            font-size: 11px;
            left: 15px;
            bottom: 4px; } }
      @media only screen and (max-width: 576px) {
        .product-item .product-bottom .product-card-price .sale-price {
          font-size: 14px; } }
    @media only screen and (max-width: 576px) {
      .product-item .product-bottom .product-card-price {
        display: flex; } }
    .product-item .product-bottom .add-to-basket {
      width: 48px;
      height: 48px;
      font-size: 28px;
      line-height: 1.8;
      font-weight: bold;
      transition: all .5s;
      border-radius: 100px;
      text-align: center;
      border: 2px solid #dfe1f4; }
      .product-item .product-bottom .add-to-basket svg {
        stroke: #252849;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        transition: all .5s; }
      @media only screen and (max-width: 576px) {
        .product-item .product-bottom .add-to-basket {
          display: none; } }
  .product-item:hover {
    background: #ffffff;
    box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21); }
    @media only screen and (min-width: 768px) {
      .product-item:hover .image-holder .product-info {
        visibility: visible;
        opacity: 1; } }
    .product-item:hover .product-bottom .sale-range {
      color: #F3303A;
      background: #ffffff;
      border-color: #F3303A; }
    .product-item:hover .product-bottom .add-to-basket {
      border-color: #F3303A;
      background: #F3303A;
      box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32); }
      .product-item:hover .product-bottom .add-to-basket svg {
        stroke: #ffffff; }
  @media only screen and (max-width: 768px) {
    .product-item {
      background: #ffffff;
      margin: 0 10px;
      box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
      width: 243px;
      display: inline-block;
      padding: 18px 0 19px 0; } }
  @media only screen and (max-width: 576px) {
    .product-item {
      width: 120px;
      padding: 15px;
      box-shadow: none;
      border-radius: 5px;
      margin: 0 5px; } }

.step-item {
  text-align: center;
  position: relative;
  border-radius: 10px;
  transition: all .5s;
  min-height: 273px;
  max-width: 530px;
  padding: 50px 0 0; }
  .step-item .icon {
    width: 85px;
    height: 84px;
    border-radius: 100px;
    background: #ffffff;
    display: inline-block;
    box-shadow: 0px 1px 1px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
    transition: all .5s; }
    .step-item .icon svg {
      width: 34px;
      height: 34px;
      fill: #3f4373;
      opacity: .8;
      position: relative;
      top: 24px;
      transition: all .3s; }
  .step-item .title {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 12px; }
  .step-item .description {
    opacity: .8;
    max-width: 470px;
    font-weight: 300;
    margin: 0 auto;
    font-size: 15px;
    text-align: justify; }
  .step-item:after {
    content: attr(data-step);
    position: absolute;
    right: 69px;
    background: #F3303A;
    border-radius: 100px;
    color: #ffffff;
    top: 44px;
    width: 28px;
    height: 23px;
    padding-top: 5px;
    font-family: 'YekanBakhNum';
    transition: all .5s;
    box-shadow: 5px 8px 10px rgba(243, 48, 58, 0.35); }
  .step-item:hover:after {
    background: #252849;
    box-shadow: none; }
  .step-item:hover .icon {
    background: #F3303A;
    box-shadow: 3px 4px 14px 0 rgba(243, 48, 58, 0.28); }
    .step-item:hover .icon svg {
      fill: #ffffff; }
  @media only screen and (max-width: 768px) {
    .step-item {
      box-shadow: 0 9px 20px 0 rgba(170, 188, 212, 0.29), 0 2px 1px 0 rgba(170, 188, 212, 0.21);
      background: #fff;
      padding: 30px 0 0; } }

.filter-card ul {
  list-style: none;
  padding-right: 0;
  display: inline-block; }
  .filter-card ul li {
    display: inline-block;
    font-size: 13px;
    box-shadow: 0px 2px 2px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.12);
    background: #fff;
    padding: 10px 20px;
    border-radius: 100px;
    margin-left: 7px; }

body {
  background: #f7f8ff; }

@media only screen and (max-width: 1570px) {
  .container {
    max-width: 1117px; } }

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 992px; } }

#header {
  background: url(../img/xbg-hero-bg.png), linear-gradient(#202542, #202542);
  background-repeat: no-repeat;
  background-blend-mode: hard-light;
  background-size: cover;
  position: relative;
  overflow: hidden;
  min-height: 845px; }
  #header:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/xbg-hero-overlay.png), linear-gradient(rgba(32, 37, 66, 0.47), rgba(32, 37, 66, 0.33));
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%; }
  @media only screen and (max-width: 1770px) {
    #header {
      background-size: cover; } }
  @media only screen and (max-width: 992px) {
    #header {
      min-height: 790px; } }
  @media only screen and (max-width: 576px) {
    #header {
      min-height: 650px; } }
  #header .nav {
    position: relative;
    z-index: 2; }
    #header .nav .logo {
      width: 125px;
      height: 31px;
      float: right;
      margin-top: 50px; }
      @media only screen and (max-width: 576px) {
        #header .nav .logo {
          width: 110px;
          height: 24px;
          margin-top: 30px; } }
    #header .nav .white-btn {
      margin-top: 40px;
      float: left;
      padding: 14px 36px;
      font-size: 17px;
      z-index: 1;
      position: relative; }
      @media only screen and (max-width: 575px) {
        #header .nav .white-btn {
          font-size: 15px;
          margin-top: 22px; } }
      @media only screen and (max-width: 380px) {
        #header .nav .white-btn {
          padding: 12px 22px; } }
    @media only screen and (max-width: 1410px) {
      #header .nav {
        max-width: 1070px;
        margin: 0 auto;
        padding: 0 57px; } }
    @media only screen and (max-width: 576px) {
      #header .nav {
        padding: 0 30px; } }
  #header .hero {
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 1200px) {
      #header .hero {
        flex-wrap: wrap; } }
    #header .hero .intro {
      text-align: right;
      position: relative;
      width: 100%;
      max-width: 580px;
      margin: 150px 370px 120px 0; }
      @media only screen and (max-width: 1770px) {
        #header .hero .intro {
          margin: 150px 270px 120px 0; } }
      @media only screen and (max-width: 1570px) {
        #header .hero .intro {
          margin: 150px 170px 120px 0;
          max-width: 540px; } }
      @media only screen and (max-width: 1350px) {
        #header .hero .intro {
          margin: 150px 70px 120px 0;
          max-width: 520px; } }
      @media only screen and (max-width: 1200px) {
        #header .hero .intro {
          margin: 80px 70px 120px 0; } }
      @media only screen and (max-width: 768px) {
        #header .hero .intro {
          margin: 100px 0px 80px 0; } }
      @media only screen and (max-width: 576px) {
        #header .hero .intro {
          margin: 50px auto 60px;
          text-align: center; } }
      #header .hero .intro .title {
        font-size: 45px;
        font-weight: 600;
        color: #ffffff; }
        #header .hero .intro .title strong {
          font-weight: 400;
          color: #ffffff; }
        @media only screen and (max-width: 1570px) {
          #header .hero .intro .title {
            font-size: 41px; } }
        @media only screen and (max-width: 1410px) {
          #header .hero .intro .title {
            font-size: 39px; } }
        @media only screen and (max-width: 992px) {
          #header .hero .intro .title {
            margin-top: 0; } }
        @media only screen and (max-width: 576px) {
          #header .hero .intro .title {
            font-size: 22px;
            text-align: center;
            line-height: 47px;
            padding: 0 28px; } }
        @media only screen and (max-width: 380px) {
          #header .hero .intro .title {
            font-size: 23px;
            line-height: 38px; } }
      #header .hero .intro .description {
        position: relative;
        opacity: .8;
        font-weight: 300;
        color: #b3b7d8;
        padding: 9px 0; }
        @media only screen and (max-width: 1410px) {
          #header .hero .intro .description {
            font-size: 16px; } }
        @media only screen and (max-width: 576px) {
          #header .hero .intro .description {
            padding: 0 22px;
            margin: 0 19px;
            font-size: 15px;
            text-align: justify; } }
      #header .hero .intro .red-btn {
        padding: 14px 38px 14px 94px;
        font-size: 18px;
        top: 40px; }
        @media only screen and (max-width: 1410px) {
          #header .hero .intro .red-btn {
            padding: 14px 30px 14px 67px;
            font-size: 16px; } }
        @media only screen and (max-width: 576px) {
          #header .hero .intro .red-btn {
            top: 44px;
            padding: 8px 25px 8px 50px; } }
        @media only screen and (max-width: 576px) {
          #header .hero .intro .red-btn svg {
            top: 15px; } }
    #header .hero .services {
      max-width: 850px;
      margin-right: auto;
      position: relative;
      top: 100px;
      left: -100px; }
      @media only screen and (max-width: 1570px) {
        #header .hero .services {
          left: -200px; } }
      @media only screen and (max-width: 1200px) {
        #header .hero .services {
          margin: 0 auto 50px;
          left: auto;
          top: 36px;
          max-width: 760px; } }
      #header .hero .services .service-item {
        width: 271px;
        border-radius: 11px;
        background: #ffffff; }
        @media only screen and (max-width: 1570px) {
          #header .hero .services .service-item {
            width: 235px; } }
        @media only screen and (max-width: 568px) {
          #header .hero .services .service-item {
            width: 140px;
            border-radius: 3px; } }
        #header .hero .services .service-item img {
          width: 234px;
          height: 346px;
          margin: 0 auto;
          padding-top: 17px; }
          @media only screen and (max-width: 1570px) {
            #header .hero .services .service-item img {
              width: 200px;
              height: 304px; } }
          @media only screen and (max-width: 1200px) {
            #header .hero .services .service-item img {
              width: 190px;
              height: 289px; } }
          @media only screen and (max-width: 568px) {
            #header .hero .services .service-item img {
              width: 122px;
              height: 167px;
              padding-top: 9px; } }
        #header .hero .services .service-item h4 {
          font-size: 17px;
          font-weight: 800;
          padding: 0 20px 50px; }
          @media only screen and (max-width: 568px) {
            #header .hero .services .service-item h4 {
              font-size: 13px;
              font-weight: 500;
              padding: 0 12px 16px; } }
        #header .hero .services .service-item:after {
          position: absolute;
          bottom: 37px;
          left: 50%;
          transform: translateX(-50%);
          content: '...';
          width: 43px;
          height: 0;
          border-radius: 100px;
          border: 2px solid #cacdea;
          text-align: center;
          padding: 0 0 21px;
          transition: all .3s;
          font-size: 18px; }
          @media only screen and (max-width: 576px) {
            #header .hero .services .service-item:after {
              display: none; } }
        #header .hero .services .service-item:hover:after {
          background: #F3303A;
          color: #ffffff;
          border-color: #F3303A;
          box-shadow: 5px 3px 10px rgba(243, 48, 58, 0.24); }
    #header .hero .scroll-down {
      position: absolute;
      bottom: 115px;
      cursor: pointer;
      opacity: .8;
      text-align: center; }
      #header .hero .scroll-down span {
        font-size: 14px;
        color: #ffffff;
        display: block;
        font-weight: 300;
        margin-bottom: 7px; }
      #header .hero .scroll-down svg {
        stroke: #ffffff;
        width: 20px;
        height: 31px; }

#main {
  border-top-right-radius: 61px;
  margin-top: -84px;
  background: #f7f8ff;
  z-index: 2;
  position: relative; }
  @media only screen and (max-width: 1200px) {
    #main {
      margin-top: 0; } }
  @media only screen and (max-width: 992px) {
    #main {
      border-top-right-radius: 0px; } }
  #main .gift-card {
    margin-top: 30px;
    margin-bottom: 80px;
    overflow: hidden;
    padding-top: 20px; }
    #main .gift-card .section-title {
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
      #main .gift-card .section-title h2 {
        margin: 60px 0 40px;
        color: #3f4373; }
        #main .gift-card .section-title h2 strong {
          font-family: 'YekanBakhNum'; }
        @media only screen and (max-width: 992px) {
          #main .gift-card .section-title h2 {
            margin: 30px 20px 30px 0;
            flex: 0 0 100%; } }
        @media only screen and (max-width: 576px) {
          #main .gift-card .section-title h2 {
            margin: 20px 0 20px; } }
      #main .gift-card .section-title span {
        max-width: 560px;
        color: #8c90b1;
        font-weight: 300;
        position: relative;
        top: 8px;
        right: 30px; }
        @media only screen and (max-width: 992px) {
          #main .gift-card .section-title span {
            font-size: 15px;
            padding-left: 40px;
            top: -8px; } }
        @media only screen and (max-width: 992px) {
          #main .gift-card .section-title span {
            font-size: 14px;
            line-height: 23px; } }
    #main .gift-card .product-item {
      margin-bottom: 40px; }
      @media only screen and (max-width: 768px) {
        #main .gift-card .product-item {
          margin-bottom: 44px;
          margin-top: 25px; } }
    #main .gift-card .owl-nav {
      position: absolute;
      left: 720px;
      top: -105px; }
      @media only screen and (max-width: 1770px) {
        #main .gift-card .owl-nav {
          left: 620px; } }
      @media only screen and (max-width: 1670px) {
        #main .gift-card .owl-nav {
          left: 520px; } }
      @media only screen and (max-width: 1570px) {
        #main .gift-card .owl-nav {
          left: 320px; } }
      @media only screen and (max-width: 1200px) {
        #main .gift-card .owl-nav {
          left: 70px; } }
      @media only screen and (max-width: 992px) {
        #main .gift-card .owl-nav {
          display: none; } }
      #main .gift-card .owl-nav .owl-prev {
        display: none; }
      #main .gift-card .owl-nav .owl-next {
        background: transparent;
        padding: 12px 3px !important;
        border-radius: 100px;
        outline: none;
        border: 2px solid #cacdea; }
        #main .gift-card .owl-nav .owl-next svg {
          width: 25px;
          height: 34px;
          position: relative;
          top: 3px;
          fill: #252849; }
    #main .gift-card.one {
      margin-bottom: 0; }
      #main .gift-card.one .product-item .product-info {
        visibility: visible;
        opacity: 1;
        display: flex;
        border-bottom-left-radius: 11px;
        border-bottom-right-radius: 11px; }
      #main .gift-card.one .product-item .image-holder {
        width: 242px;
        height: 325px; }
        @media only screen and (max-width: 768px) {
          #main .gift-card.one .product-item .image-holder {
            width: 200px;
            height: 270px; } }
        @media only screen and (max-width: 576px) {
          #main .gift-card.one .product-item .image-holder {
            width: 140px;
            height: 198px; } }
        #main .gift-card.one .product-item .image-holder img {
          border-radius: 11px; }
          @media only screen and (max-width: 576px) {
            #main .gift-card.one .product-item .image-holder img {
              border-radius: 5px; } }
      #main .gift-card.one .product-item:hover {
        background: transparent;
        box-shadow: none; }
      @media only screen and (max-width: 768px) {
        #main .gift-card.one .product-item {
          box-shadow: none;
          background: transparent;
          margin-bottom: 0; } }
      @media only screen and (max-width: 576px) {
        #main .gift-card.one .product-item {
          margin-top: 0; } }
      @media only screen and (max-width: 1570px) {
        #main .gift-card.one .section-title span {
          top: -18px; } }
      #main .gift-card.one .owl-nav {
        left: 50px; }
    #main .gift-card.two {
      background: url("../img/lines-bg.png");
      background-repeat: no-repeat;
      background-position: right; }
      @media only screen and (max-width: 768px) {
        #main .gift-card.two {
          background: initial; } }
    #main .gift-card #gift-cards-carousel-2 .owl-nav {
      left: 0; }
      #main .gift-card #gift-cards-carousel-2 .owl-nav .owl-next {
        border: 2px solid transparent;
        box-shadow: 1px 1px 14px rgba(63, 67, 115, 0.05);
        background: white; }
    #main .gift-card #gift-cards-carousel-2 .product-item .image-holder .product-info {
      display: none; }
    @media only screen and (max-width: 1370px) {
      #main .gift-card {
        margin-bottom: 5px; } }
    @media only screen and (max-width: 1200px) {
      #main .gift-card {
        margin-top: 0; } }
    @media only screen and (max-width: 768px) {
      #main .gift-card {
        margin-bottom: 0; } }
  #main .xbp-slider {
    background: url("../img/xbp-slider-bg.png"), linear-gradient(#202542, #202542);
    background-position: right center;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    position: relative;
    padding: 60px 0 250px;
    background-size: cover;
    overflow: hidden; }
    @media only screen and (max-width: 1200px) {
      #main .xbp-slider {
        padding: 0px 0 100px; } }
    @media only screen and (max-width: 576px) {
      #main .xbp-slider {
        padding: 0px 0 10px; } }
    #main .xbp-slider > .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
    #main .xbp-slider .c1 {
      position: absolute;
      width: 82px;
      right: 130px;
      bottom: -44px;
      animation: float 7s linear infinite; }
      @media only screen and (max-width: 992px) {
        #main .xbp-slider .c1 {
          display: none; } }
    #main .xbp-slider .c2 {
      position: absolute;
      width: 90px;
      top: -47px;
      right: -62px; }
      @media only screen and (max-width: 992px) {
        #main .xbp-slider .c2 {
          display: none; } }
    #main .xbp-slider .xbp-wrapper {
      position: relative;
      top: 73px;
      display: inline-block; }
      #main .xbp-slider .xbp-wrapper #xbp-counter {
        position: absolute;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.45);
        direction: ltr;
        top: -7px; }
        #main .xbp-slider .xbp-wrapper #xbp-counter .current {
          color: #ffffff; }
      #main .xbp-slider .xbp-wrapper #xbp-carousel {
        max-width: 560px; }
        #main .xbp-slider .xbp-wrapper #xbp-carousel .carousel-content {
          max-width: 560px; }
          #main .xbp-slider .xbp-wrapper #xbp-carousel .carousel-content .title {
            font-size: 30px;
            margin-bottom: 34px;
            color: #fff; }
            @media only screen and (max-width: 576px) {
              #main .xbp-slider .xbp-wrapper #xbp-carousel .carousel-content .title {
                font-size: 20px;
                margin-bottom: 20px; } }
          #main .xbp-slider .xbp-wrapper #xbp-carousel .carousel-content .description {
            color: #e5e6f7;
            font-weight: 300;
            font-size: 16px;
            text-align: justify; }
            @media only screen and (max-width: 576px) {
              #main .xbp-slider .xbp-wrapper #xbp-carousel .carousel-content .description {
                font-size: 15px; } }
          @media only screen and (max-width: 1200px) {
            #main .xbp-slider .xbp-wrapper #xbp-carousel .carousel-content {
              max-width: initial; } }
        #main .xbp-slider .xbp-wrapper #xbp-carousel .owl-dots {
          display: block;
          position: absolute;
          top: -10px;
          right: 42px; }
          #main .xbp-slider .xbp-wrapper #xbp-carousel .owl-dots .owl-dot {
            width: 6px;
            height: 6px;
            background: rgba(255, 255, 255, 0.43);
            border-radius: 100px;
            margin-left: 8px; }
            #main .xbp-slider .xbp-wrapper #xbp-carousel .owl-dots .owl-dot.active {
              background: white;
              width: 21px; }
        @media only screen and (max-width: 1200px) {
          #main .xbp-slider .xbp-wrapper #xbp-carousel {
            max-width: initial; } }
      @media only screen and (max-width: 576px) {
        #main .xbp-slider .xbp-wrapper {
          top: 25px; } }
      @media only screen and (max-width: 1200px) {
        #main .xbp-slider .xbp-wrapper {
          width: 85%;
          margin: 0 auto; } }
    #main .xbp-slider .boxes {
      position: relative;
      width: 347px;
      height: 274px;
      display: inline-block; }
      @media only screen and (max-width: 1200px) {
        #main .xbp-slider .boxes {
          width: initial;
          margin: 0 auto;
          top: 130px; } }
      @media only screen and (max-width: 576px) {
        #main .xbp-slider .boxes {
          top: 50px; } }
      #main .xbp-slider .boxes .box {
        text-align: center;
        border: 2px solid #7066a2;
        color: #007aff;
        width: 106px;
        height: 110px;
        position: absolute;
        background: transparent;
        transition: all .3s;
        border-radius: 23px;
        z-index: 2; }
        @media only screen and (max-width: 1200px) {
          #main .xbp-slider .boxes .box {
            position: relative;
            left: initial !important;
            top: initial !important;
            bottom: initial !important;
            right: initial !important; } }
        @media only screen and (max-width: 576px) {
          #main .xbp-slider .boxes .box {
            border-radius: 5px; } }
        #main .xbp-slider .boxes .box .icon-circle {
          background: #007aff;
          height: 72px;
          width: 72px;
          border-radius: 50px;
          text-align: center;
          margin: 42px auto 0;
          transform: scale(0);
          position: relative;
          z-index: 1; }
          #main .xbp-slider .boxes .box .icon-circle img {
            width: 33px;
            height: 37px;
            position: relative;
            top: 17px; }
            @media only screen and (max-width: 1200px) {
              #main .xbp-slider .boxes .box .icon-circle img {
                margin: 0 auto; } }
          @media only screen and (max-width: 1200px) {
            #main .xbp-slider .boxes .box .icon-circle {
              margin: 0 auto 0; } }
        #main .xbp-slider .boxes .box span {
          font-size: 45px;
          font-weight: 300;
          font-family: 'YekanBakhNum';
          color: #7066a2;
          position: relative;
          top: -81px; }
          @media only screen and (max-width: 1200px) {
            #main .xbp-slider .boxes .box span {
              top: -45px; } }
        #main .xbp-slider .boxes .box h4 {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 0;
          transform: scale(0);
          position: relative;
          z-index: 1; }
          @media only screen and (max-width: 1200px) {
            #main .xbp-slider .boxes .box h4 {
              font-size: 17px; } }
        #main .xbp-slider .boxes .box p {
          font-size: 14px;
          font-weight: 300;
          margin-top: 0;
          transform: scale(0);
          position: relative;
          z-index: 1; }
        #main .xbp-slider .boxes .box:before {
          content: '';
          width: 200%;
          height: 200%;
          position: absolute;
          left: -50%;
          top: -50%;
          background: url(../img/blur-bg.png) center/cover no-repeat;
          transform: scale(0); }
          @media only screen and (max-width: 1200px) {
            #main .xbp-slider .boxes .box:before {
              display: none; } }
        #main .xbp-slider .boxes .box:after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background: #fff;
          border-radius: 23px;
          transform: scale(0); }
        #main .xbp-slider .boxes .box.box4, #main .xbp-slider .boxes .box.box1 {
          background-color: #2d335a;
          border-color: #2d335a;
          width: 71px;
          height: 73px; }
          #main .xbp-slider .boxes .box.box4 span, #main .xbp-slider .boxes .box.box1 span {
            top: -95px;
            font-size: 32px; }
            @media only screen and (max-width: 1200px) {
              #main .xbp-slider .boxes .box.box4 span, #main .xbp-slider .boxes .box.box1 span {
                top: -54px; } }
        @media only screen and (max-width: 576px) {
          #main .xbp-slider .boxes .box.box2, #main .xbp-slider .boxes .box.box3 {
            width: 71px;
            height: 73px; } }
        @media only screen and (max-width: 576px) {
          #main .xbp-slider .boxes .box.box2 span, #main .xbp-slider .boxes .box.box3 span {
            top: -54px;
            font-size: 32px; } }
        #main .xbp-slider .boxes .box.box2 span {
          color: #ffffff; }
        #main .xbp-slider .boxes .box.activeItem {
          background: #ffffff;
          border: 0;
          width: 217px;
          height: 224px;
          position: absolute;
          z-index: 1; }
          #main .xbp-slider .boxes .box.activeItem p, #main .xbp-slider .boxes .box.activeItem h4, #main .xbp-slider .boxes .box.activeItem .icon-circle, #main .xbp-slider .boxes .box.activeItem:before, #main .xbp-slider .boxes .box.activeItem:after {
            transition: all .3s;
            transform: scale(1); }
          #main .xbp-slider .boxes .box.activeItem span {
            display: none; }
          @media only screen and (max-width: 1200px) {
            #main .xbp-slider .boxes .box.activeItem {
              position: relative;
              left: initial !important;
              top: initial !important;
              bottom: initial !important;
              right: initial !important;
              padding-top: 14px;
              width: 180px;
              height: 170px; } }
    #main .xbp-slider .box1 {
      right: 145px;
      top: 153px; }
      #main .xbp-slider .box1.activeItem {
        top: 0px;
        right: 0; }
    #main .xbp-slider .box2 {
      left: 0;
      top: 105px; }
      #main .xbp-slider .box2.activeItem {
        left: -109px;
        top: -6px; }
    #main .xbp-slider .box3 {
      bottom: -88px;
      right: 106px; }
      #main .xbp-slider .box3.activeItem {
        right: -1px;
        top: 243px; }
    #main .xbp-slider .box4 {
      left: 44px;
      bottom: -37px; }
      #main .xbp-slider .box4.activeItem {
        bottom: -182px;
        left: -100px; }
    @media only screen and (max-width: 1200px) {
      #main .xbp-slider .box {
        position: relative; } }
  #main .ordering-steps {
    padding: 50px 0 100px;
    background: #ffffff; }
    @media only screen and (max-width: 992px) {
      #main .ordering-steps {
        padding: 60px 15px 100px; } }
    #main .ordering-steps > .container {
      display: flex;
      flex-wrap: wrap; }
      #main .ordering-steps > .container .circle {
        position: absolute;
        opacity: .3; }
        #main .ordering-steps > .container .circle.c1 {
          width: 31px;
          height: 31px;
          left: 60px;
          top: 108px;
          z-index: -1; }
        #main .ordering-steps > .container .circle.c2 {
          width: 14px;
          height: 14px;
          left: 0;
          top: 120px; }
      @media only screen and (max-width: 1200px) {
        #main .ordering-steps > .container {
          padding: 0; } }
    #main .ordering-steps .step-item {
      flex: 0 0 24%;
      margin: 30px auto 0;
      max-width: 230px; }
      @media only screen and (max-width: 768px) {
        #main .ordering-steps .step-item .title {
          font-size: 19px; } }
      @media only screen and (max-width: 1200px) {
        #main .ordering-steps .step-item .description {
          padding: 0 47px;
          line-height: 30px; } }
      @media only screen and (max-width: 768px) {
        #main .ordering-steps .step-item .description {
          padding: 0 28px;
          line-height: 29px;
          font-size: 16px; } }
      @media only screen and (max-width: 1200px) {
        #main .ordering-steps .step-item {
          flex: 0 0 49%;
          max-width: initial; }
          #main .ordering-steps .step-item:after {
            top: 52px;
            right: 188px; } }
      @media only screen and (max-width: 992px) {
        #main .ordering-steps .step-item:after {
          top: 27px;
          right: 140px; } }
      @media only screen and (max-width: 768px) {
        #main .ordering-steps .step-item {
          display: none; } }
    @media only screen and (max-width: 768px) {
      #main .ordering-steps {
        padding: 1px;
        background: rgba(37, 40, 73, 0.788235); } }

#footer {
  background: url("../img/cta-bg.png") no-repeat center -180px, linear-gradient(#252849, #252849);
  color: rgba(255, 255, 255, 0.84);
  padding: 50px 0 20px 0;
  position: relative;
  font-size: 13px;
  font-weight: 300;
  overflow: hidden;
  background-size: contain;
  background-blend-mode: color-dodge; }
  @media only screen and (max-width: 992px) {
    #footer {
      background-position: center -100px; } }
  @media only screen and (max-width: 768px) {
    #footer {
      background-position: center -40px; } }
  #footer .cta {
    text-align: center;
    padding: 10px 0 174px 0; }
    #footer .cta .title {
      font-size: 30px;
      color: #fff; }
      @media only screen and (max-width: 576px) {
        #footer .cta .title {
          font-size: 22px;
          line-height: 34px; } }
    #footer .cta .description {
      font-size: 18px;
      color: #8c90b1;
      margin-top: -16px; }
      @media only screen and (max-width: 576px) {
        #footer .cta .description {
          font-size: 16px;
          margin-top: -5px; } }
    #footer .cta .white-btn-v2 {
      top: 40px; }
      @media only screen and (max-width: 576px) {
        #footer .cta .white-btn-v2 {
          padding: 14px 75px 14px 27px;
          font-size: 17px; } }
      @media only screen and (max-width: 768px) {
        #footer .cta .white-btn-v2 svg {
          right: 80px; } }
      @media only screen and (max-width: 576px) {
        #footer .cta .white-btn-v2 svg {
          right: 73px;
          top: 6px;
          padding: 13px; } }
    @media only screen and (max-width: 768px) {
      #footer .cta {
        padding: 10px 32px 104px 34px; } }
  #footer .circle {
    pointer-events: none; }
  #footer .c1 {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 165px;
    bottom: -10px;
    z-index: 1;
    animation: float 5s ease-in-out infinite; }
    @media only screen and (max-width: 800px) {
      #footer .c1 {
        display: none; } }
  #footer .c2 {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 90px;
    bottom: 150px;
    z-index: 1;
    animation: float 6s ease-in-out infinite; }
    @media only screen and (max-width: 992px) {
      #footer .c2 {
        width: 100px;
        height: 100px; } }
    @media only screen and (max-width: 800px) {
      #footer .c2 {
        display: none; } }
  #footer .c3 {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 125px;
    bottom: 180px;
    animation: float 4s ease-in-out infinite; }
    @media only screen and (max-width: 992px) {
      #footer .c3 {
        width: 30px;
        height: 30px; } }
    @media only screen and (max-width: 600px) {
      #footer .c3 {
        display: none; } }
  #footer .c4 {
    position: absolute;
    width: 82px;
    height: 82px;
    top: 8px;
    left: 555px;
    animation: floatXY 4s linear infinite; }
    @media only screen and (max-width: 992px) {
      #footer .c4 {
        width: 52px;
        height: 52px;
        left: 55px; } }
  #footer .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media only screen and (max-width: 992px) {
      #footer .content {
        justify-content: center; } }
    #footer .content .description {
      display: flex;
      max-width: 380px; }
      #footer .content .description .footer-logo {
        width: 60px;
        margin-left: 20px; }
        @media only screen and (max-width: 576px) {
          #footer .content .description .footer-logo {
            margin-bottom: 15px; } }
      @media only screen and (max-width: 576px) {
        #footer .content .description p {
          display: none; } }
    #footer .content .menu {
      list-style: none; }
      #footer .content .menu li {
        display: inline-block;
        padding: 5px 10px 17px 10px;
        margin-left: 60px;
        position: relative;
        transition: all ease-in-out 0.5s; }
        #footer .content .menu li:after {
          transition: all ease-in-out 0.5s;
          display: block;
          position: absolute;
          content: '';
          width: 25px;
          height: 3px;
          border-radius: 1.5px;
          background: #F3303A;
          box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32);
          bottom: 0;
          left: calc((100% - 25px)/2);
          opacity: 0;
          visibility: hidden; }
        #footer .content .menu li:hover:after {
          opacity: 1;
          visibility: visible; }
        #footer .content .menu li.active:after {
          opacity: 1;
          visibility: visible; }
      @media only screen and (max-width: 992px) {
        #footer .content .menu {
          flex: 0 0 100%;
          text-align: center; } }
      @media only screen and (max-width: 576px) {
        #footer .content .menu {
          display: none; } }
  #footer .copyright {
    text-align: center;
    color: rgba(240, 242, 248, 0.55);
    direction: ltr;
    margin-top: 50px;
    font-weight: 300; }
    #footer .copyright .mobile-logo {
      display: none; }
    @media only screen and (max-width: 992px) {
      #footer .copyright {
        border-top: 1px solid rgba(255, 255, 255, 0.121569);
        padding-top: 19px;
        margin-top: 0; } }
