@charset "UTF-8";
/*********Variable *********/
/********* Mixin *********/
/********* Normalize *********/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font-family: 'YekanBakh',sans-serif;
  font-size: 17px;
  direction: rtl;
  color: #3f4373; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

p {
  line-height: 1.5; }

[hidden] {
  display: none; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px; }
  .container:after {
    content: "";
    clear: both;
    display: table; }
  @media only screen and (min-width: 1200px) {
    .container-xl {
      max-width: 1140px; } }

/********* Font families *********/
@font-face {
  font-family: 'Bebas Neue';
  src: url("../../../fonts/BebasNeue-Regular.woff2") format("woff2"), url("../../../fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'YekanBakh';
  src: url("../../../fonts/iGameYekanver38-Medium.woff2") format("woff2"), url("../../../fonts/iGameYekanver38-Medium.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'YekanBakh';
  src: url("../../../fonts/iGameYekanver38-Bold.woff2") format("woff2"), url("../../../fonts/iGameYekanver38-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'YekanBakh';
  src: url("../../../fonts/iGameYekanver38-Heavy.woff2") format("woff2"), url("../../../fonts/iGameYekanver38-Heavy.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'YekanBakhNum';
  src: url("../../../fonts/iGameNumbers-Heavy.woff2") format("woff2"), url("../../../fonts/iGameNumbers-Heavy.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

/********* Animations *********/
@keyframes float {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0px); } }

@keyframes floatXY {
  0% {
    transform: translate(0, 0px); }
  25% {
    transform: translate(6px, 5px); }
  50% {
    transform: translate(-5px, -7px); }
  100% {
    transform: translate(0px, 0px); } }

/********* Components *********/
.white-btn {
  box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
  background: #fff;
  color: #252849;
  border-radius: 100px; }

.white-btn-v2 {
  position: relative;
  background: #fff;
  color: #252849;
  padding: 21px 81px 22px 30px;
  border-radius: 100px;
  font-size: 22px;
  font-weight: 500;
  display: inline-block; }
  .white-btn-v2 svg {
    background: #F3303A;
    border-radius: 100px;
    stroke: #ffffff;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    padding: 16px;
    position: absolute;
    right: 13px;
    top: 9px; }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .white-btn-v2 svg {
        left: 13px;
        right: auto; } }

.red-btn {
  background: #F3303A;
  color: #fff;
  box-shadow: 0 8px 27px 0 rgba(243, 48, 58, 0.23);
  border-radius: 100px;
  position: relative; }
  .red-btn svg {
    position: absolute;
    width: 10px;
    top: 21px;
    height: 10px;
    left: 24px; }

.service-item {
  height: 315px;
  width: 230px;
  border-radius: 14px;
  position: relative;
  overflow: hidden; }

.section-title h2 {
  font-weight: 600;
  padding-right: 35px;
  position: relative;
  font-size: 43px;
  color: #252849;
  margin: 60px 0 40px; }
  .section-title h2:after {
    display: block;
    position: absolute;
    content: '';
    width: 4px;
    height: 34px;
    background: #F3303A;
    border-radius: 2px;
    right: 0;
    top: 0;
    box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32); }
    @media only screen and (max-width: 768px) {
      .section-title h2:after {
        right: 13px;
        top: -7px; } }
    @media only screen and (max-width: 576px) {
      .section-title h2:after {
        width: 10px;
        height: 10px;
        border-radius: 12px;
        box-shadow: none;
        right: 18px;
        top: 2px; } }
  @media only screen and (max-width: 992px) {
    .section-title h2 {
      margin: 30px 20px 30px 0;
      flex: 0 0 100%; } }
  @media only screen and (max-width: 768px) {
    .section-title h2 {
      font-size: 25px; } }
  @media only screen and (max-width: 576px) {
    .section-title h2 {
      font-size: 18px;
      font-weight: 500;
      margin: 20px 0 20px; } }

.product-item {
  transition: all .5s;
  border-radius: 11px;
  width: 270px;
  display: inline-block;
  padding: 14px 0 25px 0; }
  .product-item .image-holder {
    transition: all .5s;
    position: relative;
    width: 200px;
    height: 304px;
    margin: auto; }
    .product-item .image-holder img {
      width: 100%;
      height: 100%; }
    @media only screen and (max-width: 576px) {
      .product-item .image-holder {
        width: 120px;
        height: 185px;
        padding: 0; } }
    .product-item .image-holder .product-info {
      display: flex;
      justify-content: center;
      background: linear-gradient(to bottom, rgba(34, 39, 71, 0) 0%, #222747 60%);
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 130px;
      align-items: flex-end;
      transition: all ease-in-out 0.5s;
      opacity: 0;
      visibility: hidden; }
      .product-item .image-holder .product-info .product-region, .product-item .image-holder .product-info .product-platform {
        padding: 8px 12px;
        text-align: center;
        height: 10px;
        border-radius: 14px;
        margin-bottom: 20px; }
      .product-item .image-holder .product-info .product-region {
        color: #ffffff;
        border: 2px solid #626475;
        font-size: 12px;
        font-weight: 700; }
      .product-item .image-holder .product-info .product-platform {
        font-size: 11px;
        text-transform: uppercase;
        margin-left: 10px;
        background: #ffffff;
        font-weight: 700; }
        .product-item .image-holder .product-info .product-platform img {
          width: 15px;
          height: 15px;
          margin-right: 2px;
          margin-top: -2px;
          vertical-align: middle;
          display: inline-block; }
      @media only screen and (max-width: 768px) {
        .product-item .image-holder .product-info {
          visibility: visible;
          opacity: 1; } }
      @media only screen and (max-width: 576px) {
        .product-item .image-holder .product-info {
          display: none; } }
    .product-item .image-holder .special-tag {
      position: absolute;
      left: -20px;
      top: -10px;
      background: #F3303A;
      border-radius: 100px;
      display: flex;
      padding: 8px 10px;
      font-size: 14px;
      color: #ffffff; }
      .product-item .image-holder .special-tag svg {
        width: 11px;
        margin-left: 4px; }
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          .product-item .image-holder .special-tag svg {
            height: 14px; } }
      @media only screen and (max-width: 768px) {
        .product-item .image-holder .special-tag {
          padding: 6px 8px;
          font-size: 13px; } }
  .product-item .product-bottom {
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto; }
    @media only screen and (max-width: 576px) {
      .product-item .product-bottom {
        max-width: 120px; } }
    .product-item .product-bottom .product-title {
      font-weight: bold;
      font-size: 16px;
      color: #3f4373;
      margin-top: 25px;
      line-height: 1.5;
      display: block;
      height: 48px; }
      @media only screen and (max-width: 576px) {
        .product-item .product-bottom .product-title {
          font-weight: 400;
          font-size: 13px;
          margin-top: 12px; } }
    .product-item .product-bottom .duration {
      position: relative;
      border: 2px solid #cacdea;
      border-radius: 100px;
      top: 13px;
      padding: 2px 10px 0; }
      .product-item .product-bottom .duration span {
        font-family: 'YekanBakhNum';
        margin-left: 2px; }
      @media only screen and (max-width: 768px) {
        .product-item .product-bottom .duration {
          font-size: 14px; } }
      @media only screen and (max-width: 576px) {
        .product-item .product-bottom .duration {
          top: 33px;
          font-size: 12px;
          position: absolute;
          background: #cacdea;
          right: 10px; } }
    .product-item .product-bottom .product-card-price .original-price {
      font-family: 'YekanBakhNum';
      color: rgba(63, 67, 115, 0.8);
      font-size: 16px;
      text-decoration: line-through; }
      @media only screen and (max-width: 576px) {
        .product-item .product-bottom .product-card-price .original-price {
          display: none; } }
    .product-item .product-bottom .product-card-price .sale-range {
      transition: all .5s;
      font-family: 'YekanBakhNum';
      display: inline-block;
      font-size: 12px;
      color: #ffffff;
      padding: 5px 5px 3px 5px;
      background: #F3303A;
      border-radius: 10px;
      border: 2px solid transparent;
      margin-left: 5px; }
      @media only screen and (max-width: 576px) {
        .product-item .product-bottom .product-card-price .sale-range {
          font-size: 11px;
          padding: 2px 2px 1px 2px; } }
    .product-item .product-bottom .product-card-price .sale-price {
      display: block;
      font-family: 'YekanBakhNum';
      font-size: 25px;
      color: #3f4373;
      position: relative;
      padding-left: 40px; }
      .product-item .product-bottom .product-card-price .sale-price:before {
        font-weight: bold;
        font-family: 'YekanBakh' !important;
        display: block;
        position: absolute;
        content: 'تومان';
        font-size: 14px;
        color: rgba(63, 67, 115, 0.8);
        left: 0;
        bottom: 5px; }
        @media only screen and (max-width: 576px) {
          .product-item .product-bottom .product-card-price .sale-price:before {
            font-weight: 400;
            font-size: 11px;
            left: 15px;
            bottom: 4px; } }
      @media only screen and (max-width: 576px) {
        .product-item .product-bottom .product-card-price .sale-price {
          font-size: 14px; } }
    @media only screen and (max-width: 576px) {
      .product-item .product-bottom .product-card-price {
        display: flex; } }
    .product-item .product-bottom .add-to-basket {
      width: 48px;
      height: 48px;
      font-size: 28px;
      line-height: 1.8;
      font-weight: bold;
      transition: all .5s;
      border-radius: 100px;
      text-align: center;
      border: 2px solid #dfe1f4; }
      .product-item .product-bottom .add-to-basket svg {
        stroke: #252849;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        transition: all .5s; }
      @media only screen and (max-width: 576px) {
        .product-item .product-bottom .add-to-basket {
          display: none; } }
  .product-item:hover {
    background: #ffffff;
    box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21); }
    @media only screen and (min-width: 768px) {
      .product-item:hover .image-holder .product-info {
        visibility: visible;
        opacity: 1; } }
    .product-item:hover .product-bottom .sale-range {
      color: #F3303A;
      background: #ffffff;
      border-color: #F3303A; }
    .product-item:hover .product-bottom .add-to-basket {
      border-color: #F3303A;
      background: #F3303A;
      box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32); }
      .product-item:hover .product-bottom .add-to-basket svg {
        stroke: #ffffff; }
  @media only screen and (max-width: 768px) {
    .product-item {
      background: #ffffff;
      margin: 0 10px;
      box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
      width: 243px;
      display: inline-block;
      padding: 18px 0 19px 0; } }
  @media only screen and (max-width: 576px) {
    .product-item {
      width: 120px;
      padding: 15px;
      box-shadow: none;
      border-radius: 5px;
      margin: 0 5px; } }

.step-item {
  text-align: center;
  position: relative;
  border-radius: 10px;
  transition: all .5s;
  min-height: 250px;
  max-width: 530px;
  padding: 50px 0 0; }
  .step-item .icon {
    width: 58px;
    height: 57px;
    border-radius: 100px;
    background: #ffffff;
    display: inline-block;
    box-shadow: 0px 1px 1px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
    transition: all .5s; }
    .step-item .icon svg {
      width: 26px;
      height: 26px;
      fill: #3f4373;
      opacity: .8;
      position: relative;
      top: 14px;
      transition: all .3s; }
  .step-item .title {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 12px; }
  .step-item .description {
    opacity: .8;
    max-width: 470px;
    font-weight: 300;
    margin: 0 auto; }
  .step-item:after {
    content: attr(data-step);
    position: absolute;
    right: 21px;
    background: #252849;
    border-radius: 100px;
    color: #ffffff;
    top: 21px;
    width: 28px;
    height: 23px;
    padding-top: 5px;
    font-family: 'YekanBakhNum';
    visibility: hidden;
    opacity: 0;
    transition: all .5s; }
  .step-item:hover {
    background: #ffffff;
    box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 1px 1px 4px 0 rgba(170, 188, 212, 0.21), 19px 6px 20px 0 rgba(170, 188, 212, 0.18); }
    .step-item:hover:after {
      opacity: 1;
      visibility: visible; }
    .step-item:hover .icon {
      background: #F3303A;
      box-shadow: 3px 4px 14px 0 rgba(243, 48, 58, 0.28); }
      .step-item:hover .icon svg {
        fill: #ffffff; }
  @media only screen and (max-width: 768px) {
    .step-item {
      box-shadow: 0 9px 20px 0 rgba(170, 188, 212, 0.29), 0 2px 1px 0 rgba(170, 188, 212, 0.21);
      background: #fff;
      padding: 30px 0 0; } }

.filter-card ul {
  list-style: none;
  padding-right: 0;
  display: inline-block; }
  @media only screen and (max-width: 576px) {
    .filter-card ul {
      margin-bottom: 0; } }
  .filter-card ul li {
    display: inline-block;
    font-size: 13px;
    box-shadow: 0px 2px 2px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.12);
    background: #fff;
    padding: 10px 20px;
    border-radius: 100px;
    margin-left: 7px; }
    @media only screen and (max-width: 576px) {
      .filter-card ul li {
        font-size: 12px;
        box-shadow: none; } }

body {
  background: #f7f8ff; }

@media only screen and (max-width: 1570px) {
  .container {
    max-width: 1200px; } }

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 992px; } }

#header {
  background: url(../img/hero-overlay.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  overflow: hidden;
  background-position: right;
  min-height: 768px; }
  @media only screen and (max-width: 992px) {
    #header {
      min-height: initial;
      background: initial; } }
  #header .nav .logo {
    width: 125px;
    height: 31px;
    float: right;
    margin-top: 50px; }
    @media only screen and (max-width: 576px) {
      #header .nav .logo {
        width: 110px;
        height: 24px;
        margin-top: 30px; } }
  #header .nav .white-btn {
    margin-top: 40px;
    float: left;
    padding: 14px 36px;
    font-size: 17px;
    z-index: 1;
    position: relative; }
    @media only screen and (max-width: 575px) {
      #header .nav .white-btn {
        font-size: 15px;
        margin-top: 22px; } }
    @media only screen and (max-width: 380px) {
      #header .nav .white-btn {
        padding: 12px 22px; } }
  @media only screen and (max-width: 1410px) {
    #header .nav {
      max-width: 1070px;
      margin: 0 auto;
      padding: 0 57px; } }
  @media only screen and (max-width: 576px) {
    #header .nav {
      padding: 0 30px; } }
  #header .hero {
    display: flex; }
    @media only screen and (max-width: 1200px) {
      #header .hero {
        flex-wrap: wrap; } }
    #header .hero .intro {
      position: relative;
      width: 100%;
      max-width: 720px;
      margin: 100px 380px 120px 0; }
      @media only screen and (max-width: 1770px) {
        #header .hero .intro {
          margin: 100px 260px 120px 0; } }
      @media only screen and (max-width: 1570px) {
        #header .hero .intro {
          margin: 100px 140px 120px 0; } }
      @media only screen and (max-width: 1350px) {
        #header .hero .intro {
          margin: 100px 60px 120px 0; } }
      @media only screen and (max-width: 992px) {
        #header .hero .intro {
          margin: 50px 60px 100px 0; } }
      @media only screen and (max-width: 810px) {
        #header .hero .intro {
          margin: 20px auto 170px;
          text-align: center; } }
      #header .hero .intro .title {
        font-size: 47px;
        font-weight: 500; }
        #header .hero .intro .title strong {
          font-weight: 600; }
        #header .hero .intro .title img {
          width: 65px;
          height: 65px;
          position: relative;
          top: 21px;
          margin-left: 20px; }
          @media only screen and (max-width: 810px) {
            #header .hero .intro .title img {
              width: 50px;
              height: 50px;
              top: 20px;
              margin-left: 16px; } }
          @media only screen and (max-width: 576px) {
            #header .hero .intro .title img {
              display: none; } }
        @media only screen and (max-width: 1570px) {
          #header .hero .intro .title {
            font-size: 41px; } }
        @media only screen and (max-width: 1410px) {
          #header .hero .intro .title {
            font-size: 39px; } }
        @media only screen and (max-width: 810px) {
          #header .hero .intro .title {
            font-size: 33px; } }
        @media only screen and (max-width: 576px) {
          #header .hero .intro .title {
            font-size: 28px;
            text-align: center;
            line-height: 47px;
            padding: 20px 28px 0; } }
        @media only screen and (max-width: 380px) {
          #header .hero .intro .title {
            font-size: 23px;
            line-height: 38px; } }
      #header .hero .intro .description {
        position: relative;
        text-align: justify;
        opacity: .8;
        font-weight: 300;
        margin: 60px 0 50px; }
        @media only screen and (max-width: 1410px) {
          #header .hero .intro .description {
            font-size: 16px; } }
        @media only screen and (max-width: 992px) {
          #header .hero .intro .description {
            margin: 40px 0 30px; } }
        @media only screen and (max-width: 810px) {
          #header .hero .intro .description {
            padding: 0 22px;
            margin: 50px 19px 0; } }
        @media only screen and (max-width: 576px) {
          #header .hero .intro .description {
            margin: 0 19px 0;
            font-size: 15px; } }
      #header .hero .intro .red-btn {
        padding: 17px 30px 17px 77px;
        font-size: 18px;
        margin-top: 6px;
        float: right; }
        @media only screen and (max-width: 1410px) {
          #header .hero .intro .red-btn {
            padding: 17px 30px 17px 67px;
            font-size: 16px; } }
        @media only screen and (max-width: 810px) {
          #header .hero .intro .red-btn {
            float: initial;
            top: 44px;
            padding: 11px 25px 12px 61px; } }
        @media only screen and (max-width: 576px) {
          #header .hero .intro .red-btn {
            font-size: 15px; } }
        @media only screen and (max-width: 576px) {
          #header .hero .intro .red-btn svg {
            top: 17px; } }
    #header .hero .gamepad {
      position: relative;
      top: 147px;
      right: 80px; }
      @media only screen and (max-width: 1570px) {
        #header .hero .gamepad img {
          width: 80%; } }
      @media only screen and (max-width: 1200px) {
        #header .hero .gamepad {
          position: absolute;
          bottom: -11px;
          left: -100px;
          right: initial;
          top: initial; } }
      @media only screen and (max-width: 992px) {
        #header .hero .gamepad {
          display: none; } }
    #header .hero .scroll-down {
      position: absolute;
      bottom: 60px;
      cursor: pointer;
      opacity: .8;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2; }
      #header .hero .scroll-down span {
        font-size: 14px;
        color: #76799e;
        display: block;
        font-weight: 400;
        margin-bottom: 7px; }
      #header .hero .scroll-down svg {
        stroke: #daddfb;
        width: 20px;
        height: 31px; }
      @media only screen and (max-width: 992px) {
        #header .hero .scroll-down {
          bottom: 30px; } }
      @media only screen and (max-width: 810px) {
        #header .hero .scroll-down {
          bottom: 13px; } }
  #header:before {
    content: 'XBOX';
    font-family: 'Bebas Neue';
    font-size: 680px;
    position: absolute;
    top: -109px;
    left: 50%;
    transform: translateX(-50%);
    background: -webkit-linear-gradient(#d7d8e3, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1; }
    @media only screen and (max-width: 1200px) {
      #header:before {
        font-size: 480px;
        top: -74px; } }
    @media only screen and (max-width: 768px) {
      #header:before {
        font-size: 380px;
        top: -53px;
        background: -webkit-linear-gradient(rgba(215, 216, 227, 0.49), #fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; } }
    @media only screen and (max-width: 576px) {
      #header:before {
        font-size: 300px;
        top: -41px; } }
    @media only screen and (max-width: 480px) {
      #header:before {
        font-size: 233px;
        top: -34px; } }
    @media only screen and (max-width: 380px) {
      #header:before {
        font-size: 176px;
        top: -23px; } }
  #header:after {
    content: '';
    position: absolute;
    right: 0;
    height: 451px;
    width: 800px;
    background: url("../img/hero-lines.png");
    bottom: 0;
    background-repeat: no-repeat;
    z-index: -1; }
    @media only screen and (max-width: 576px) {
      #header:after {
        display: none; } }

#main .feature-box {
  background: url(../img/features-bg.png), linear-gradient(#202542, #202542);
  color: #ffffff;
  background-position: center center;
  background-size: cover;
  padding: 120px 0 128px;
  overflow: hidden; }
  @media only screen and (max-width: 992px) {
    #main .feature-box {
      padding: 20px 0 70px; } }
  @media only screen and (max-width: 576px) {
    #main .feature-box {
      padding: 20px 0 50px; } }
  #main .feature-box .owl-stage {
    margin: 0 auto; }
  #main .feature-box > .title {
    font-size: 44px;
    text-align: center;
    margin-bottom: 85px; }
    @media only screen and (max-width: 992px) {
      #main .feature-box > .title {
        font-size: 35px;
        margin-bottom: 60px; } }
    @media only screen and (max-width: 576px) {
      #main .feature-box > .title {
        font-size: 24px; } }
  #main .feature-box .icon-box-wrapper .icon-box {
    width: 245px;
    padding: 0 10px;
    box-sizing: border-box; }
    @media only screen and (max-width: 992px) {
      #main .feature-box .icon-box-wrapper .icon-box {
        padding: 28px 10px;
        background: rgba(133, 138, 177, 0.46);
        border-radius: 5px;
        margin: 0 10px;
        min-height: 285px;
        text-align: center; } }
    @media only screen and (max-width: 576px) {
      #main .feature-box .icon-box-wrapper .icon-box {
        min-height: 260px; } }
    #main .feature-box .icon-box-wrapper .icon-box .icon {
      background: #ffffff;
      width: 85px;
      height: 84px;
      border-radius: 100px;
      margin: 0 auto;
      position: relative;
      box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
      transition: all .2s; }
      #main .feature-box .icon-box-wrapper .icon-box .icon .color, #main .feature-box .icon-box-wrapper .icon-box .icon .white {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
      #main .feature-box .icon-box-wrapper .icon-box .icon .white {
        visibility: hidden;
        opacity: 0; }
      @media only screen and (max-width: 576px) {
        #main .feature-box .icon-box-wrapper .icon-box .icon {
          transform: scale(0.7); } }
    #main .feature-box .icon-box-wrapper .icon-box .title {
      text-align: center;
      font-size: 22px;
      font-weight: 400; }
      @media only screen and (max-width: 992px) {
        #main .feature-box .icon-box-wrapper .icon-box .title {
          font-size: 18px;
          font-weight: 400;
          margin: 30px 0 10px; } }
      @media only screen and (max-width: 576px) {
        #main .feature-box .icon-box-wrapper .icon-box .title {
          font-size: 15px;
          margin: 11px 0 10px; } }
    #main .feature-box .icon-box-wrapper .icon-box .description {
      opacity: .8;
      font-weight: 300;
      font-size: 15px; }
      @media only screen and (max-width: 576px) {
        #main .feature-box .icon-box-wrapper .icon-box .description {
          font-size: 14px; } }
    #main .feature-box .icon-box-wrapper .icon-box.discount .icon img {
      width: 30px;
      height: 39px; }
    #main .feature-box .icon-box-wrapper .icon-box.free-games .icon img {
      width: 47px;
      height: 40px; }
    #main .feature-box .icon-box-wrapper .icon-box.multi-player .icon img {
      width: 47px;
      height: 40px; }
    #main .feature-box .icon-box-wrapper .icon-box.game-network .icon img {
      width: 43px;
      height: 39px; }
    #main .feature-box .icon-box-wrapper .icon-box:hover .icon {
      background: #38a01f; }
      #main .feature-box .icon-box-wrapper .icon-box:hover .icon .white {
        opacity: 1;
        visibility: visible; }
      #main .feature-box .icon-box-wrapper .icon-box:hover .icon .color {
        visibility: hidden;
        opacity: 0; }

#main .gift-card {
  margin-top: 30px;
  margin-bottom: 50px;
  overflow: hidden; }
  #main .gift-card .section-title {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    #main .gift-card .section-title h2 {
      color: #3f4373; }
      #main .gift-card .section-title h2 strong {
        font-family: 'YekanBakhNum'; }
    #main .gift-card .section-title span {
      max-width: 560px;
      color: #8c90b1;
      font-weight: 300;
      position: relative;
      top: 8px;
      right: 30px; }
      @media only screen and (max-width: 992px) {
        #main .gift-card .section-title span {
          font-size: 15px;
          padding-left: 40px;
          top: -8px; } }
      @media only screen and (max-width: 576px) {
        #main .gift-card .section-title span {
          font-size: 14px; } }
  #main .gift-card .product-item {
    margin-bottom: 40px; }
    @media only screen and (max-width: 768px) {
      #main .gift-card .product-item {
        margin-bottom: 44px;
        margin-top: 25px; } }
    @media only screen and (max-width: 576px) {
      #main .gift-card .product-item {
        margin-bottom: 10px; } }
  #main .gift-card .owl-nav {
    position: absolute;
    left: 720px;
    top: -105px; }
    @media only screen and (max-width: 1770px) {
      #main .gift-card .owl-nav {
        left: 620px; } }
    @media only screen and (max-width: 1670px) {
      #main .gift-card .owl-nav {
        left: 520px; } }
    @media only screen and (max-width: 1570px) {
      #main .gift-card .owl-nav {
        left: 320px; } }
    @media only screen and (max-width: 1200px) {
      #main .gift-card .owl-nav {
        left: 70px; } }
    @media only screen and (max-width: 992px) {
      #main .gift-card .owl-nav {
        display: none; } }
    #main .gift-card .owl-nav .owl-prev {
      display: none; }
    #main .gift-card .owl-nav .owl-next {
      background: transparent;
      padding: 12px 3px !important;
      border-radius: 100px;
      outline: none;
      border: 2px solid #cacdea; }
      #main .gift-card .owl-nav .owl-next svg {
        width: 25px;
        height: 34px;
        position: relative;
        top: 3px;
        fill: #252849; }
  #main .gift-card #gift-cards-carousel-2 .owl-nav {
    left: 0; }
    #main .gift-card #gift-cards-carousel-2 .owl-nav .owl-next {
      border: 2px solid transparent;
      box-shadow: 1px 1px 14px rgba(63, 67, 115, 0.05);
      background: white; }
  @media only screen and (max-width: 1200px) {
    #main .gift-card {
      margin-top: 0; } }
  @media only screen and (max-width: 768px) {
    #main .gift-card {
      margin-bottom: 0; } }

#main .xbox-live {
  background: url(../img/xbox-live-bg.png), linear-gradient(#202542, #202542);
  color: #ffffff;
  padding: 145px 0 110px;
  background-size: cover;
  overflow: hidden; }
  @media only screen and (max-width: 1030px) {
    #main .xbox-live {
      padding: 25px 0 50px; } }
  @media only screen and (max-width: 576px) {
    #main .xbox-live {
      padding: 25px 0 35px; } }
  #main .xbox-live > .container {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 1030px) {
      #main .xbox-live > .container {
        padding: 0 20px; } }
    @media only screen and (max-width: 768px) {
      #main .xbox-live > .container {
        padding: 0; } }
  #main .xbox-live .content {
    width: 100%;
    max-width: 760px; }
    @media only screen and (max-width: 768px) {
      #main .xbox-live .content {
        padding: 0 18px; } }
    #main .xbox-live .content .title {
      font-size: 30px; }
      @media only screen and (max-width: 576px) {
        #main .xbox-live .content .title {
          font-size: 21px;
          margin: 10px 0 10px; } }
    #main .xbox-live .content .description {
      color: #e5e6f7;
      opacity: .8;
      font-weight: 300;
      margin-bottom: 45px; }
      @media only screen and (max-width: 576px) {
        #main .xbox-live .content .description {
          font-size: 14px;
          margin-bottom: 28px; } }
    #main .xbox-live .content .red-btn {
      padding: 17px 30px 17px 67px;
      font-size: 16px;
      float: right; }
      @media only screen and (max-width: 576px) {
        #main .xbox-live .content .red-btn {
          padding: 14px 30px 14px 55px;
          font-size: 15px; } }
      @media only screen and (max-width: 576px) {
        #main .xbox-live .content .red-btn svg {
          top: 17px; } }
  #main .xbox-live .img img {
    width: 400px;
    height: auto;
    position: relative;
    top: 35px; }
    @media only screen and (max-width: 1030px) {
      #main .xbox-live .img img {
        width: 300px;
        position: relative;
        top: 79px;
        margin-left: 25px; } }
  @media only screen and (max-width: 768px) {
    #main .xbox-live .img {
      display: none; } }

#main .ordering-steps {
  padding: 100px 0 100px; }
  @media only screen and (max-width: 992px) {
    #main .ordering-steps {
      padding: 60px 15px 100px; } }
  #main .ordering-steps > .container {
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (max-width: 1200px) {
      #main .ordering-steps > .container {
        padding: 0; } }
  #main .ordering-steps .step-item {
    flex: 0 0 49%;
    margin: 30px auto 0; }
    @media only screen and (max-width: 768px) {
      #main .ordering-steps .step-item .title {
        font-size: 19px; } }
    @media only screen and (max-width: 1200px) {
      #main .ordering-steps .step-item .description {
        padding: 0 47px;
        line-height: 30px; } }
    @media only screen and (max-width: 768px) {
      #main .ordering-steps .step-item .description {
        padding: 0 28px;
        line-height: 29px;
        font-size: 16px; } }
    @media only screen and (max-width: 768px) {
      #main .ordering-steps .step-item {
        display: none; } }
  @media only screen and (max-width: 768px) {
    #main .ordering-steps {
      padding: 1px;
      background: rgba(37, 40, 73, 0.788235); } }

#footer {
  background: url("../img/cta-bg.png") no-repeat center -180px, linear-gradient(#252849, #252849);
  color: rgba(255, 255, 255, 0.84);
  padding: 50px 0 20px 0;
  position: relative;
  font-size: 13px;
  font-weight: 300;
  overflow: hidden;
  background-size: contain;
  background-blend-mode: color-dodge; }
  @media only screen and (max-width: 992px) {
    #footer {
      background-position: center -100px; } }
  @media only screen and (max-width: 768px) {
    #footer {
      background-position: center -40px; } }
  #footer .circle {
    pointer-events: none; }
  #footer .c1 {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 165px;
    bottom: -10px;
    z-index: 1;
    animation: float 5s ease-in-out infinite; }
    @media only screen and (max-width: 800px) {
      #footer .c1 {
        display: none; } }
  #footer .c2 {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 90px;
    bottom: 150px;
    z-index: 1;
    animation: float 6s ease-in-out infinite; }
    @media only screen and (max-width: 992px) {
      #footer .c2 {
        width: 100px;
        height: 100px; } }
    @media only screen and (max-width: 800px) {
      #footer .c2 {
        display: none; } }
  #footer .c3 {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 125px;
    bottom: 180px;
    animation: float 4s ease-in-out infinite; }
    @media only screen and (max-width: 992px) {
      #footer .c3 {
        width: 30px;
        height: 30px; } }
    @media only screen and (max-width: 600px) {
      #footer .c3 {
        display: none; } }
  #footer .c4 {
    position: absolute;
    width: 82px;
    height: 82px;
    top: 8px;
    left: 555px;
    animation: floatXY 4s linear infinite; }
    @media only screen and (max-width: 992px) {
      #footer .c4 {
        width: 52px;
        height: 52px;
        left: 55px; } }
  #footer .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media only screen and (max-width: 992px) {
      #footer .content {
        justify-content: center; } }
    #footer .content .description {
      display: flex;
      max-width: 380px; }
      #footer .content .description .footer-logo {
        width: 60px;
        margin-left: 20px; }
        @media only screen and (max-width: 576px) {
          #footer .content .description .footer-logo {
            margin-bottom: 15px; } }
      @media only screen and (max-width: 576px) {
        #footer .content .description p {
          display: none; } }
    #footer .content .menu {
      list-style: none; }
      #footer .content .menu li {
        display: inline-block;
        padding: 5px 10px 17px 10px;
        margin-left: 60px;
        position: relative;
        transition: all ease-in-out 0.5s; }
        #footer .content .menu li:after {
          transition: all ease-in-out 0.5s;
          display: block;
          position: absolute;
          content: '';
          width: 25px;
          height: 3px;
          border-radius: 1.5px;
          background: #F3303A;
          box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32);
          bottom: 0;
          left: calc((100% - 25px)/2);
          opacity: 0;
          visibility: hidden; }
        #footer .content .menu li:hover:after {
          opacity: 1;
          visibility: visible; }
        #footer .content .menu li.active:after {
          opacity: 1;
          visibility: visible; }
      @media only screen and (max-width: 992px) {
        #footer .content .menu {
          flex: 0 0 100%;
          text-align: center; } }
      @media only screen and (max-width: 576px) {
        #footer .content .menu {
          display: none; } }
  #footer .copyright {
    text-align: center;
    color: rgba(240, 242, 248, 0.55);
    direction: ltr;
    margin-top: 50px;
    font-weight: 300; }
    #footer .copyright .mobile-logo {
      display: none; }
    @media only screen and (max-width: 992px) {
      #footer .copyright {
        border-top: 1px solid rgba(255, 255, 255, 0.121569);
        padding-top: 19px;
        margin-top: 0; } }
