@-webkit-keyframes sk-bounce {
  0%,
  to {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  to {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes dig_popBounceInRight {
  0%,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes dig_popBounceInRight {
  0%,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.dig_ma-box input,
.dig_ma-box textarea {
  box-sizing: border-box;
}

.digits-login-modal {
  cursor: pointer;
}

.dig_pgmdl_2,
.digits_bx_cred_frm_container {
  scrollbar-width: thin;
  scrollbar-color: #e5e5e5 #fff;
}

.digit-crncw {
  background-color: #ccc;
  float: left;
  width: 100%;
  text-align: center;
}

.dig-container {
  height: auto !important;
  padding-bottom: 3rem;
}

.dig-container,
.dig-log-par {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dig-log-par .button {
  width: 100%;
}

.digit_cs-list {
  margin: 0 !important;
}

.dig_overlay_text {
  position: absolute;
  bottom: 1rem; /* 10px */
  @include fontSize(14, $rootFontSize);
  color: #fff;
  text-align: center;
  left: 0;
  right: 0;
}

.dig-box * {
  box-sizing: border-box;
}

.dig_field_required_text,
.dig_overlay_pwrd {
  position: absolute !important;
}

.dig_field_required_text {
  color: #e00000 !important;
  left: unset !important;
  top: -0.9rem; /* -9px */
  right: 1.5rem /* 15px */ !important;
  width: auto !important;
  background-color: #fff !important;
  height: 1.2rem /* 12px */ !important;
  line-height: 1.6rem /* 16px */ !important;
  padding: 0 0.3rem !important;
  @include fontSize(12, $rootFontSize);
  cursor: default;
}

.dig-custom-field-type-checkbox .dig_field_required_text,
.dig-custom-field-type-radio .dig_field_required_text {
  top: 1.7rem; /* 17px */
}

.dig_pgmdl_2 .dig-custom-field-type-dropdown {
  min-height: 5rem /* 50px */ !important;
}

@media all and (max-height: 60rem /* 600px */) {
  .dig_overlay_pwrd {
    position: relative !important;
  }
}

.minput textarea {
  resize: vertical !important;
}

.dig-box {
  box-sizing: border-box;
  display: none;
  position: fixed;
  z-index: 99998;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: auto;
  background-color: rgba(6, 6, 6, 0.8);
}

.dig_low_overlay div iframe {
  z-index: 10000 !important;
}

#customize-controls {
  z-index: 490000 !important;
}

.dig-content .digloginpage,
.dig-content .forgot,
.dig-content .register {
  width: 100% !important;
}

.dig-modal-con .dig-content input {
  padding-top: 0.9rem;
}

.dig-modal-con .countrycode[type="text"] {
  height: auto !important;
}

.dig-modal-con {
  display: inline-block;
  margin: 0 auto;
}

.dig-modal-con .button,
.dig-modal-con a,
.transupbutton {
  cursor: pointer;
}

.dig-modal-con .forgotpasswordaContainer {
  margin-top: -0.4rem; /* -4px */
}

.dig_ma-box input,
.dig_ma-box textarea {
  display: inline-block;
  transition: none;
  -webkit-transition: none;
}

.dig_ma-box,
.dig_ma-box *,
.dig_ma-box ::placeholder,
.dig_ma-box button,
.dig_ma-box input,
.dig_ma-box input::placeholder,
.dig_ma-box label,
.dig_ma-box select {
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
}

.dig_ma-box form {
  padding: 0;
  margin: 0 !important;
}

.dig_ma-box .dark .dig-signup-otp[type="submit"],
.dig_ma-box .dark .forgotpassword[type="submit"] {
  margin-top: 2.4rem; /* 24px */
}

.dig-modal-con .signdesc {
  margin-top: 2rem; /* 20px */
}

.dig-log-par {
  position: relative;
  width: 100%;
  left: 0;
}

.dig-log-par .bgtransborderdark {
  padding: 0.7rem;
}

.dig-box-login-title {
  text-transform: uppercase;
}

.dig_spinner {
  width: 6.4rem; /* 64px */
  height: 6.4rem; /* 64px */
  position: relative;
  margin: 10rem /* 100px */ auto;
}

.dig_double-bounce1,
.dig_double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.dig_double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.dig-content {
  position: relative;
  background-color: #fefefe;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 2rem 0 /* 20px */ rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 38rem; /* 380px */
}

@media all and (max-width: 39rem /* 390px */) {
  .dig-content {
    width: 98%;
  }
}

.digmsg-pow span {
  font-weight: 700;
}

.digmsg-pow,
.digmsg-pow:hover {
  text-decoration: none;
  color: #fff;
  @include fontSize(18, $rootFontSize);
}

.dig_powrd {
  text-align: center;
  position: absolute;
  bottom: 1.4rem; /* 14px */
  left: 0;
  right: 0;
}

.dig-modal-con {
  -webkit-transition: height 0.25s;
  -moz-transition: height 0.25s;
  transition: height 0.25s;
  line-height: 2.8rem /* 28px */ !important;
}

.dig_popmessage {
  z-index: 9999999;
  direction: ltr;
  cursor: default;
  min-height: 8rem; /* 80px */
  width: 32rem; /* 320px */
  border-radius: 0.2rem; /* 2px */
  position: fixed;
  display: none;
  top: 2.4rem; /* 24px */
  right: 2.4rem; /* 24px */
  line-height: 1.8rem; /* 18px */
}

.dig_critical_msg {
  background-color: #fefafa;
  box-shadow: 0 0.3rem 1rem /* 3px 10px */ rgba(238, 44, 83, 0.08);
}

.dig_success_msg {
  background-color: #fafdfb;
  box-shadow: 0 0.3rem 1rem /* 3px 10px */ rgba(43, 203, 97, 0.08);
}

.dig_notice_msg {
  background-color: #fffdf9;
  box-shadow: 0 0.3rem 1rem /* 3px 10px */ rgba(255, 195, 0, 0.08);
}

.dig_critical_msg .dig_lase_message,
.dig_critical_msg .dig_lase_snap {
  color: #ee2c53;
}

.dig_success_msg .dig_lase_message,
.dig_success_msg .dig_lase_snap {
  color: #2bcb61;
}

.dig_notice_msg .dig_lase_message,
.dig_notice_msg .dig_lase_snap {
  color: #ffc300;
}

.dig_critical_msg .dig_popdismiss {
  background-color: #ee2c53;
}

.dig_success_msg .dig_popdismiss {
  background-color: #2bcb61;
}

.dig_notice_msg .dig_popdismiss {
  background-color: #ffc300;
}

.dig_popmessage .dig_firele {
  width: 6rem; /* 60px */
  background-repeat: no-repeat;
  background-size: contain;
  margin: 1rem 1.5rem; /* 10px 15px */
  float: left;
  position: absolute;
  top: 0;
  bottom: 0;
  background-position: center center;
}

.dig_success_msg .dig_firele {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cpath id='Happy' d='M39.08,38.69a11.28,11.28,0,0,1-14.16,0,3,3,0,0,0-3.84,4.62,17.04,17.04,0,0,0,21.84,0,3,3,0,1,0-3.84-4.62ZM23.63,27.62a2.991,2.991,0,0,0,4.23-4.23,9.24,9.24,0,0,0-12.72,0,3,3,0,1,0,4.23,4.23,3,3,0,0,1,4.26,0Zm25.23-4.23a9.24,9.24,0,0,0-12.72,0,3,3,0,0,0,4.23,4.23,3,3,0,0,1,4.26,0,2.991,2.991,0,0,0,4.23-4.23ZM32,2A30,30,0,1,0,62,32,30,30,0,0,0,32,2Zm0,54A24,24,0,1,1,56,32,24,24,0,0,1,32,56Z' transform='translate(-2 -2)' fill='%232bcb61' opacity='0.25'/%3E%3C/svg%3E%0A");
}

.dig_notice_msg .dig_firele {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cpath id='Sad' d='M23,29a3,3,0,1,0-3-3A3,3,0,0,0,23,29Zm18,9H23a3,3,0,0,0,0,6H41a3,3,0,0,0,0-6Zm0-15a3,3,0,1,0,3,3A3,3,0,0,0,41,23ZM32,2A30,30,0,1,0,62,32,30,30,0,0,0,32,2Zm0,54A24,24,0,1,1,56,32,24,24,0,0,1,32,56Z' transform='translate(-2 -2)' fill='%23ffc300' opacity='0.25'/%3E%3C/svg%3E%0A");
}

.dig_critical_msg .dig_firele {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cpath id='Annoyed_Face' data-name='Annoyed Face' d='M23,23a3,3,0,1,0,3,3A3,3,0,0,0,23,23ZM41,35a15,15,0,0,0-13.11,7.711,2.982,2.982,0,1,0,5.19,2.939A9,9,0,0,1,41,41a3,3,0,1,0,0-6Zm0-12a3,3,0,1,0,3,3A3,3,0,0,0,41,23ZM32,2A30,30,0,1,0,62,32,30,30,0,0,0,32,2Zm0,54A24,24,0,1,1,56,32,24,24,0,0,1,32,56Z' transform='translate(-2 -2)' fill='%23ee2d53' opacity='0.25'/%3E%3C/svg%3E%0A");
}

.dig_popmessage .div_popmessage_contents div {
  display: inline-block;
}

.dig_popmessage a {
  color: #2b2b2b;
}

.dig_lase_snap {
  @include fontSize(16, $rootFontSize);
}

.div_popmessage_contents .dig_lasele div {
  display: block;
}

.dig_lasele {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  padding-right: 1.7rem;
  width: calc(100% - 10.7rem);
  left: 9rem; /* 90px */
  position: relative;
}

.dig_lase_message {
  opacity: 0.6;
  @include fontSize(13, $rootFontSize);
}

.dig_popdismiss {
  height: 0.8rem; /* 8px */
  width: 0.8rem; /* 8px */
  position: absolute;
  top: 1rem; /* 10px */
  cursor: pointer;
  right: 1rem; /* 10px */
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.521' height='8.485' viewBox='0 0 8.521 8.485'%3E%3Cg id='Group' transform='translate(0.28 0.207)'%3E%3Cpath id='Line' d='M.5.5,7.534,7.571' fill='none' stroke='%23ee2c53' stroke-linecap='square' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Line_Copy' data-name='Line Copy' d='M7.036,0,0,7.071' transform='translate(0.427 0.5)' fill='none' stroke='%23ee2c53' stroke-linecap='square' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
  mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.521' height='8.485' viewBox='0 0 8.521 8.485'%3E%3Cg id='Group' transform='translate(0.28 0.207)'%3E%3Cpath id='Line' d='M.5.5,7.534,7.571' fill='none' stroke='%23ee2c53' stroke-linecap='square' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Line_Copy' data-name='Line Copy' d='M7.036,0,0,7.071' transform='translate(0.427 0.5)' fill='none' stroke='%23ee2c53' stroke-linecap='square' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}

#dig-ucr-container::before,
.dig_load_overlay::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.dig_resendotp {
  width: 100%;
  direction: ltr;
  text-align: center;
  margin-top: 0.4rem; /* 4px */
  cursor: pointer;
  text-transform: uppercase;
  display: none;
}

.dig_resendotp_disabled {
  opacity: 0.6;
  cursor: default !important;
}

#dig-ucr-container .transuptempbtn,
.dig-content input[type="submit"] {
  padding: 0;
}

.dig-content input {
  padding: 0.8rem;
  margin-top: 1.5rem; /* 15px */
  width: 100%;
}

.dig-login-field {
  position: relative;
}

.dig-cont-close,
.dig-login-field label {
  position: relative;
  float: left;
  top: 1.7rem; /* 17px */
}

.dig-cont-close {
  float: right;
  @include fontSize(28, $rootFontSize);
  font-weight: 700;
  top: -1rem; /* -10px */
  opacity: 0.8;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.dig-cont-close:focus,
.dig-cont-close:hover {
  color: #000;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.createcustomer {
  float: right;
}

.cancelccb {
  float: left;
}

.changepassword {
  display: none;
}

.loginerrordg {
  color: #b70000;
  text-align: center;
}

.woocommerce .login .inline {
  margin-left: 0;
}

.msggreen {
  color: #00840f;
}

.dig_rl_msg_div,
.dig_verify_mobile_otp input {
  text-align: center;
}

.dig_load_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background: rgba(6, 6, 6, 0.8);
  text-align: center;
}

.dig_low_overlay .dig_load_overlay {
  display: block;
  z-index: 999 !important;
}

.dig_load_content {
  display: inline-block;
  vertical-align: middle;
}

.minput {
  outline: 0;
  width: 100%;
  margin: 1.6rem 0; /* 16px */
  position: relative;
}

.countrycode {
  width: auto !important;
}

.dig_ma-box .button {
  text-transform: uppercase;
}

.dig_ma-box .button,
.dig_ma-box .transupbutton {
  height: 4rem; /* 40px */
  padding: 0;
  margin: 0 !important;
  line-height: 4rem; /* 40px */
  box-sizing: border-box;
}

.dig_ma-box .button[type="submit"] {
  line-height: 0;
}

.dig_ma-box .button,
.dig_ma-box .button[type="submit"],
.dig_ma-box .transupbutton[type="submit"] {
  font-weight: 400;
  @include fontSize(17, $rootFontSize);
  min-height: 0;
}

.dig_ma-box .transupbutton {
  font-weight: 400;
  min-height: 0;
}

.dig-box-login-title {
  @include fontSize(18, $rootFontSize);
  font-weight: 500;
  cursor: default;
}

.dig_show_label label {
  display: block !important;
}

.dig_secHolder {
  color: inherit;
}

.mobile_field {
  direction: ltr;
}

.minput label {
  font-weight: 400;
  padding: 3.5rem 1.6rem 0 0;
  @include fontSize(15, $rootFontSize);
  position: absolute;
  top: -1rem; /* -10px */
  left: 0;
  direction: ltr;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  pointer-events: all;
}

.dig_lrf_box .minput input ~ label {
  pointer-events: none;
}

.minput input[type="date"] {
  text-transform: uppercase;
}

.minput select,
.minput select:active,
.minput select:focus {
  background: 0 0;
  background-color: transparent;
  outline: 0;
  border: 0;
  box-shadow: none;
  resize: none;
  width: 100%;
  @include fontSize(15, $rootFontSize);
  line-height: 2.5rem; /* 25px */
  display: inline-block;
}

.minput input[type="date"],
.minput input[type="date"]:active,
.minput input[type="date"]:focus,
.minput input[type="number"],
.minput input[type="number"]:active,
.minput input[type="number"]:focus,
.minput input[type="password"],
.minput input[type="password"]:active,
.minput input[type="password"]:focus,
.minput input[type="text"],
.minput input[type="text"]:active,
.minput input[type="text"]:focus,
.minput textarea,
.minput textarea:active,
.minput textarea:focus {
  background: 0 0;
  background-color: transparent;
  outline: 0;
  margin: 2.5rem 0 0; /* 25px */
  padding: 0.3rem 1.6rem 0.3rem 0.3rem;
  border: 0;
  box-shadow: none;
  resize: none;
  width: 100%;
  @include fontSize(15, $rootFontSize);
  line-height: 2.5rem; /* 25px */
  display: inline-block;
}

.dig_pgmdl_2 .minput input {
  margin-top: 0;
}

.dig_login_rembe label {
  @include fontSize(15, $rootFontSize);
  padding-top: 0 !important;
  padding-right: 0 !important;
}

.dig_lrf_box {
  text-decoration: none;
}

.dig-custom-field .nice-select {
  background: 0 0;
  border: 0;
}

.dig-custom-field {
  position: relative;
}

.woocommerce-FormRow--wide .dig_captcha {
  top: 0.7rem; /* 7px */
  right: 0.1rem; /* 1px */
}

.dig_captcha {
  position: absolute;
  margin-top: 1.6rem; /* 16px */
  margin-bottom: 1.2rem; /* 12px */
  width: 11.2rem; /* 112px */
  bottom: -0.9rem; /* -9px */
  right: -1.6rem; /* -16px */
}

.dig_lrf_box .dig_opt_mult_lab,
.dig_lrf_box .dig_opt_mult ~ label,
.dig_lrf_box .minput .not-empty ~ label,
.dig_lrf_box .minput input:focus ~ label,
.dig_lrf_box .minput input[type="date"] ~ label,
.dig_lrf_box .minput select ~ label,
.dig_lrf_box .minput textarea:focus ~ label {
  @include fontSize(15, $rootFontSize);
  top: -2.8rem /* -28px */ !important;
  -webkit-transition: all 0.2s ease !important;
  transition: all 0.2s ease !important;
}

.dig-elem * {
  -webkit-transition: all 0.2s ease !important;
  transition: all 0.2s ease !important;
}

.dig-elem .dig-log-par,
.dig-elem .forgot,
.dig-elem .register {
  width: 100%;
  display: block;
}

.dig_pgmdl_1 .minput input:focus:invalid:focus,
.dig_pgmdl_1 .minput select:focus:invalid:focus,
.dig_pgmdl_1 .minput textarea:focus:invalid:focus {
  border: 0 !important;
}

.grecaptcha-badge {
  display: none;
}

.dig_ma-box .dig_opt_mult_lab {
  padding: 0;
  position: absolute;
  margin-top: 3.5rem; /* 35px */
}

.dig_opt_mult {
  display: inline-block;
  margin: 0.2rem 0.4rem; /* 2px 4px */
}

.dig_ma-box .dig_opt_mult label {
  position: relative;
  pointer-events: auto;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.nice-select .option {
  padding-top: 0;
}

.nice-select.open .list {
  max-height: 30rem; /* 300px */
  margin: 0;
  overflow-y: auto;
}

.dig-custom-field textarea {
  resize: vertical;
  min-height: 6.6rem; /* 66px */
}

.dig-custom-field input[type="checkbox"] ~ span,
.dig-custom-field input[type="radio"] ~ span,
.digits_register .dig-custom-field-type-dropdown label {
  display: none;
}

#your-profile .form-table tr td .nice-select {
  background-color: #fff;
  max-width: 35.3rem; /* 353px */
  min-width: 0;
}

.dig-content .dig_opt_mult input {
  width: auto;
}

.dig_ma-box .dig_opt_mult_con {
  text-align: left;
  padding-top: 4rem;
}

.dig_ma-box .dig_opt_mult_con_tac {
  padding-top: 0;
}

.dig_ma-box .dig_opt_mult_con_tac a {
  text-decoration: underline;
}

.dig_rtl .dig_opt_mult_con {
  text-align: right !important;
}

.dig_rtl .dig-custom-field .dig_opt_mult_con label::before {
  left: unset;
  right: -2rem; /* -20px */
}

.dig-custom-field label,
.dig_ma-box label {
  margin-bottom: 0;
}

.minput .nice-select,
.minput select ~ label {
  padding: 0 1.6rem 0.3rem 0.3rem;
  margin-top: 3.4rem; /* 34px */
}

.minput select,
.minput select:active,
.minput select:focus {
  padding: 0 1.6rem 0.3rem 0.3rem;
  margin: 3.4rem 0 0; /* 34px */
}

.dig-custom-field .nice-select {
  margin-bottom: 0;
  margin-top: 0;
}

.dig-content .dig_opt_mult_con input {
  padding: 0;
  margin: 0 0.4rem 0 0; /* 4px */
}

.dig-container .logo {
  height: 10rem; /* 100px */
  max-width: 34rem; /* 340px */
}

.dig-container {
  bottom: 2rem; /* 20px */
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.dig_captcha {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dig_ma-box .logforb {
  padding-top: 1.6rem;
}

.dig-custom-field select ~ span,
.dig-custom-field textarea ~ span,
.minput input ~ span {
  display: block;
  width: 100%;
  height: 0.1rem; /* 1px */
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.digit_cs-list {
  position: absolute;
  top: 0;
  display: none;
  padding: 0;
  color: #777;
  @include fontSize(16, $rootFontSize);
  line-height: 2.6rem; /* 26px */
  font-weight: 400;
  text-align: left;
  border: 0.1rem /* 1px */ solid #d1d1d1;
  width: 31rem; /* 310px */
  z-index: 999999;
  background: #fff;
  max-height: 14.4rem; /* 144px */
  overflow-y: auto;
  -moz-box-shadow: 0 0.2rem 0.3rem /* 2px 3px */ #ccc;
  -webkit-box-shadow: 0 0.2rem 0.3rem /* 2px 3px */ #ccc;
  box-shadow: 0 0.2rem 0.3rem /* 2px 3px */ #ccc;
}

.digit_cs-list li {
  display: block;
  padding: 0.5rem 1rem;
  margin: 0;
  cursor: default;
}

.digit_cs-list li.selected {
  background: #f3f3f3;
}

.digit_cs-list li[disabled] {
  opacity: 0.5;
}

.dig_clg_bx {
  width: 38rem; /* 380px */
  margin: auto;
}

.dig-container,
.logocontainer {
  width: 38rem; /* 380px */
  position: relative;
  margin: auto;
}

.dig-min-het {
  min-height: 37rem; /* 370px */
}

.logocontainer {
  text-align: center;
  opacity: 0;
}

.logocontainer .logo {
  max-width: 30rem; /* 300px */
  max-height: 12rem; /* 120px */
}

@media all and (max-height: 63rem /* 630px */) {
  .dig_powrd {
    text-align: center;
    position: relative;
    bottom: -14.4rem; /* -144px */
    left: 0;
    right: 0;
  }
}

@media all and (max-width: 38rem /* 380px */) {
  .dig_clg_bx {
    width: 96%;
    position: relative;
    padding: 0;
  }
  .dig-container {
    width: 100%;
    position: relative;
  }
  .logocontainer .logo {
    max-width: 70%;
  }
  .dig_popmessage {
    width: 90%;
    left: 2.4rem; /* 24px */
  }
}

@media all and (min-width: 38rem /* 380px */) and (max-width: 44rem /* 440px */) {
  .dig-container {
    width: 90%;
    position: relative;
    padding: 0.1rem 1.5rem 3rem;
  }
}

@media all and (max-width: 44rem /* 440px */) {
  .logocontainer {
    max-width: 100%;
    max-height: 12rem; /* 120px */
  }
  .dig_ma-box .digloginpage,
  .dig_ma-box .forgot,
  .dig_ma-box .register {
    width: 60%;
  }
  .dig-container .logo {
    max-width: 70%;
  }
}

.dig_clg_bx {
  position: relative;
}

#dig-mobmail,
#dig-secondmailormobile,
#digits_reg_email,
#forgotpass,
.countrycode {
  direction: ltr;
}

.dig_lrf_box .backtoLogin,
.dig_lrf_box .button,
.dig_lrf_box .forgotpassworda,
.dig_lrf_box .signdesc,
.dig_lrf_box .transupbutton {
  display: block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

#dig-ucr-container input[type="submit"] {
  padding-top: 0 !important;
}

.dig_ma-box .signdesc {
  cursor: default;
  text-align: left;
  margin-left: 0.2rem; /* 2px */
  @include fontSize(18, $rootFontSize);
}

.dig_ma-box .backtoLogin,
.dig_ma-box .forgotpassworda {
  @include fontSize(14, $rootFontSize);
}

.signdesc {
  margin-top: 3.6rem /* 36px */ !important;
  margin-bottom: 1rem /* 10px */ !important;
}

.dig-container .backtoLoginContainer {
  vertical-align: middle;
}

.dig_ma-box .backtoLoginContainer,
.dig_ma-box .forgotpasswordaContainer {
  margin-top: 1rem; /* 10px */
}

.dig_ma-box .button,
.dig_ma-box .transupbutton {
  border-radius: 0.4rem; /* 4px */
}

.dig_ma-box .loginviasms {
  margin-top: 2.4rem /* 24px */ !important;
}

.dig-container .button,
.dig_login_cancel a,
.dig_ma-box .transupbutton {
  text-transform: uppercase;
  @include fontSize(17, $rootFontSize);
}

.dig_ma-box .button[type="submit"],
.dig_ma-box .transupbutton[type="submit"] {
  height: 4rem; /* 40px */
  margin-top: 1rem /* 10px */ !important;
  margin-bottom: 0 !important;
}

.dig_ma-box .button {
  border: 0;
  box-shadow: 0.1rem 0.2rem 0.1rem /* 1px 2px 1px */ rgba(0, 0, 0, 0.1);
}

.dig_ma-box .backtoLogin,
.dig_ma-box .forgotpassworda,
.dig_ma-box .signdesc {
  color: inherit;
}

.dig_ma-box .button {
  width: 100%;
  margin-top: 2.4rem; /* 24px */
}

.dig_ma-box .transupbutton {
  margin-top: 0.8rem; /* 8px */
}

.dig_ma-box .forgot,
.dig_ma-box .register {
  display: none;
}

.dig_ma-box .digloginpage,
.dig_ma-box .forgot,
.dig_ma-box .register {
  position: relative;
  float: left;
  width: 86%;
  margin: auto !important;
}

.dig_ma-box .digloginpage {
  top: 0;
}

.loginViaContainer {
  clear: both;
  text-align: center;
}

.mobileLogin {
  width: 100%;
}

.dig_lrf_box .countrycode[type="text"] {
  text-align: center;
  background: 0 0 !important;
  padding-right: 0.4rem;
  outline: 0;
  min-width: 2rem; /* 20px */
  width: auto !important;
  z-index: 2;
  box-shadow: none !important;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dig_lrf_box .countrycodecontainer {
  display: none;
  position: absolute;
  bottom: 0;
  z-index: 10;
  left: 0;
}

.digcon {
  position: relative;
}

.dig_pgmdl_2 .minput input[type="date"] ~ label,
.dig_pgmdl_2 .minput input[type="number"] ~ label,
.dig_pgmdl_2 .minput input[type="password"] ~ label,
.dig_pgmdl_2 .minput input[type="text"] ~ label,
.dig_pgmdl_2 .minput span.bgdark,
.dig_pgmdl_2 .minput textarea ~ label,
.dig_ul_divd .dig-box-login-title,
.mailsecond {
  display: none;
}

.secmailormob {
  width: 100% !important;
}

.dig_ma-box .countrycodecontainer .light {
  border-right: 0.1rem /* 1px */ solid #fff !important;
}

.dig_ul_left_side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.dig_ul_left_side img {
  margin: auto;
  max-width: 45rem; /* 450px */
  max-height: 45rem; /* 450px */
  z-index: 1;
}

#dig-ucr-container .dig_ul_left_side img {
  max-width: 25rem; /* 250px */
  max-height: 25rem; /* 250px */
}

.dig_ul_divd .logforb {
  padding-top: 0;
}

@media all and (max-width: 83.4rem /* 834px */) {
  .dig-bgleft-arrow-right,
  .dig_ul_left_side {
    display: none !important;
  }
}

@media all and (min-width: 83.5rem /* 835px */) {
  .dig_ul_divd {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .dig_ul_divd .digits_bx_cred_frm_container {
    padding: 0 4rem;
    left: 0.2rem; /* 2px */
    position: relative;
    overflow-y: auto;
  }
  #dig-ucr-container .dig_ul_divd {
    display: inline-grid;
    grid-template-columns: 1.1fr 1fr;
    width: 85%;
    max-height: 85vh;
    max-width: 80rem; /* 800px */
  }
  .dig_ul_divd .dig_ma-box {
    overflow-y: auto;
  }
}

.dig_ul_divd .digloginpage,
.dig_ul_divd .forgot,
.dig_ul_divd .register {
  padding: 3rem 0;
  position: relative;
  margin: auto !important;
}

.dig-modal-con {
  max-height: 90vh;
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch;
}

.dig_pgmdl_2 .minput .countrycodecontainer input {
  padding-bottom: 0 !important;
  border-radius: 0.2rem; /* 2px */
  padding-top: 1.2rem;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}

.dig_pgmdl_2 .minput input[type="date"],
.dig_pgmdl_2 .minput input[type="number"],
.dig_pgmdl_2 .minput input[type="password"],
.dig_pgmdl_2 .minput input[type="text"],
.dig_pgmdl_2 .minput textarea {
  border-radius: 0.2rem; /* 2px */
  padding: 1.2rem 1.6rem;
}

.dig_pgmdl_2 .minput textarea {
  line-height: 2rem; /* 20px */
}

.dig_pgmdl_2 .minput .countrycodecontainer input,
.dig_pgmdl_2 .minput input[type="date"],
.dig_pgmdl_2 .minput input[type="number"],
.dig_pgmdl_2 .minput input[type="password"],
.dig_pgmdl_2 .minput input[type="text"] {
  height: 4.6rem /* 46px */ !important;
  line-height: 2rem /* 20px */ !important;
}

.dig_pgmdl_2 .minput .empty[type="date"] {
  color: inherit !important;
}

.dig_pgmdl_2 .minput .countrycodecontainer input {
  border-left: none !important;
  border-top: none !important;
  border-bottom: none !important;
  margin-top: 0 !important;
  position: relative;
}

.dig-bgleft-arrow-right {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 1.4rem /* 14px */ solid transparent;
  border-bottom: 1.4rem /* 14px */ solid transparent;
  border-left-style: solid;
  border-left-width: 1.4rem; /* 14px */
  left: 50%;
  top: 50%;
  margin-top: -3rem; /* -30px */
}

.dig_login_cancel a {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
  @include fontSize(14, $rootFontSize);
}

.dig-modal-con-reno .dig_login_cancel {
  bottom: 0;
  left: 0;
}

.dig_login_cancel,
.dig_lp_footer {
  text-align: center;
  position: absolute;
}

.dig_login_cancel {
  width: 100%;
}

.dig_lp_footer {
  padding: 0 1.6rem;
  width: calc(100% - 3.2rem);
  bottom: 2.4rem; /* 24px */
}

.dig_pgmdl_2 .dig-container .dig-log-par .digloginpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.digits_bx_cred_frm_container {
  padding: 3rem;
}

.dig_pgmdl_2 .dig-cont-close {
  position: sticky;
  top: 0.5rem; /* 5px */
  opacity: 0.5;
  z-index: 1;
}

.dig_pgmdl_2 .dig-cont-close span {
  position: relative;
  @include fontSize(20, $rootFontSize);
  right: -2rem; /* -20px */
}

.dig_pgmdl_2 .digits_bx_cred_frm_container {
  max-height: 100%;
  overflow-x: hidden;
}

.dig_bdy_container .dig_pgmdl_2 .dark {
  overflow: hidden;
}

.dig_pgmdl_2 .dark {
  overflow-x: hidden;
}

.dig_pgmdl_2 .signdesc {
  @include fontSize(16, $rootFontSize);
}

.dig_pgmdl_2 .button,
.dig_pgmdl_2 .button[type="submit"],
.dig_pgmdl_2 .transupbutton,
.dig_pgmdl_2 .transupbutton[type="submit"] {
  @include fontSize(17, $rootFontSize);
}

.dig_pgmdl_2 .button,
.dig_pgmdl_2 .transupbutton {
  border-radius: 0.2rem; /* 2px */
  height: 4.6rem; /* 46px */
  padding: 0;
  line-height: 4.6rem; /* 46px */
}

.dig_pgmdl_2 .button[type="submit"],
.dig_pgmdl_2 .transupbutton[type="submit"] {
  height: 4.6rem; /* 46px */
  line-height: 0;
  padding: 0;
}

.dig_pgmdl_2 .button {
  border: 0;
  box-shadow: none;
  display: block;
}

.dig_pgmdl_2 .minput {
  display: flex;
  flex-direction: column;
}

.dig_pgmdl_2 .dig_opt_mult_con,
.dig_pgmdl_2 .minput input {
  order: 2;
}

.dig_pgmdl_2 .dig_opt_mult_con {
  padding-top: 0;
}

.dig_pgmdl_2 .minput label {
  position: relative;
  padding: 0;
  margin: 0;
  top: 0;
  order: 1;
}

.dig_pgmdl_2 .dig_opt_mult_lab,
.dig_pgmdl_2 .dig_opt_mult ~ label,
.dig_pgmdl_2 .minput .not-empty ~ label,
.dig_pgmdl_2 .minput input:focus ~ label,
.dig_pgmdl_2 .minput input[type="date"] ~ label,
.dig_pgmdl_2 .minput select ~ label,
.dig_pgmdl_2 .minput textarea:focus ~ label,
.dig_pgmdl_2 .not-empty ~ label,
.dig_pgmdl_2 input:focus ~ label,
.dig_pgmdl_2 select ~ label,
.dig_pgmdl_2 textarea:focus ~ label {
  top: 0 !important;
}

.dig_pgmdl_2 input[type="date"],
.dig_pgmdl_2 input[type="date"]:active,
.dig_pgmdl_2 input[type="date"]:focus,
.dig_pgmdl_2 input[type="number"],
.dig_pgmdl_2 input[type="number"]:active,
.dig_pgmdl_2 input[type="number"]:focus,
.dig_pgmdl_2 input[type="password"],
.dig_pgmdl_2 input[type="password"]:active,
.dig_pgmdl_2 input[type="password"]:focus,
.dig_pgmdl_2 input[type="text"],
.dig_pgmdl_2 input[type="text"]:active,
.dig_pgmdl_2 input[type="text"]:focus,
.dig_pgmdl_2 select,
.dig_pgmdl_2 select:active,
.dig_pgmdl_2 select:focus,
.dig_pgmdl_2 textarea,
.dig_pgmdl_2 textarea:active,
.dig_pgmdl_2 textarea:focus {
  margin: 0;
}

.dig_pgmdl_2 .dark .dig-signup-otp[type="submit"],
.dig_pgmdl_2.dark .forgotpassword[type="submit"] {
  margin-top: 1.8rem; /* 18px */
}

.dig_pgmdl_2 .dig_field_required_text {
  display: inline !important;
}

.dig-custom-field input[type="checkbox"],
.dig-custom-field input[type="radio"],
.dig_login_rembe input[type="checkbox"] {
  display: none;
}

.dig-custom-field-type-tac .dig_field_required_text,
.dig_field_required_text {
  display: none !important;
}

.dig_login_rembe {
  position: relative;
  text-align: left;
  padding-left: 2rem;
}

.dig_login_rembe label:before,
.dig_opt_mult_con label:before {
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
}

.dig-custom-field .dig_opt_mult_con label {
  cursor: pointer;
  display: inline-block;
  line-height: 2.1rem; /* 21px */
  position: relative;
  padding-left: 2.5rem;
  margin-right: 1rem; /* 10px */
}

.dig-custom-field .dig_opt_mult_con label:before,
.dig_login_rembe label:before {
  content: "";
  width: 1.5rem; /* 15px */
  height: 1.5rem; /* 15px */
  position: absolute;
  left: 0;
  top: calc(100% / 2 - 0.7rem);
  background-color: #000;
}

.dig-custom-field-type-radio .dig_opt_mult_con .selected:before {
  mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%2018%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cpath%20d%3D%22M9%204.5A4.5%204.5%200%201%200%2013.5%209%204.513%204.513%200%200%200%209%204.5zM9%200a9%209%200%201%200%209%209%209.027%209.027%200%200%200-9-9zm0%2016.2A7.2%207.2%200%201%201%2016.2%209%207.221%207.221%200%200%201%209%2016.2z%22%20fill%3D%22%23333%22%2F%3E%3C%2Fsvg%3E);
  mask-size: cover;
  -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%2018%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cpath%20d%3D%22M9%204.5A4.5%204.5%200%201%200%2013.5%209%204.513%204.513%200%200%200%209%204.5zM9%200a9%209%200%201%200%209%209%209.027%209.027%200%200%200-9-9zm0%2016.2A7.2%207.2%200%201%201%2016.2%209%207.221%207.221%200%200%201%209%2016.2z%22%20fill%3D%22%23333%22%2F%3E%3C%2Fsvg%3E);
  -webkit-mask-size: cover;
}

.dig-custom-field-type-radio .dig_opt_mult_con label:before {
  mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%2018%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cg%20stroke%3D%22%23999%22%20fill%3D%22none%22%3E%3Crect%20width%3D%2218%22%20height%3D%2218%22%20rx%3D%229%22%20stroke%3D%22none%22%2F%3E%3Crect%20x%3D%22.5%22%20y%3D%22.5%22%20width%3D%2217%22%20height%3D%2217%22%20rx%3D%228.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
  mask-size: cover;
  -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%2018%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cg%20stroke%3D%22%23999%22%20fill%3D%22none%22%3E%3Crect%20width%3D%2218%22%20height%3D%2218%22%20rx%3D%229%22%20stroke%3D%22none%22%2F%3E%3Crect%20x%3D%22.5%22%20y%3D%22.5%22%20width%3D%2217%22%20height%3D%2217%22%20rx%3D%228.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
  -webkit-mask-size: cover;
}

.dig-custom-field-type-tac .dig_opt_mult_con .selected:before,
.dig_login_rembe .selected:before {
  mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%2018%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cpath%20d%3D%22M4.9%207.1L3.5%208.5%208%2013%2018%203l-1.4-1.4L8%2010.15zM16%2016H2V2h10V0H2a2.006%202.006%200%200%200-2%202v14a2.006%202.006%200%200%200%202%202h14a2.006%202.006%200%200%200%202-2V8h-2z%22%20fill%3D%22%23333%22%2F%3E%3C%2Fsvg%3E);
  mask-size: cover;
  -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%2018%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cpath%20d%3D%22M4.9%207.1L3.5%208.5%208%2013%2018%203l-1.4-1.4L8%2010.15zM16%2016H2V2h10V0H2a2.006%202.006%200%200%200-2%202v14a2.006%202.006%200%200%200%202%202h14a2.006%202.006%200%200%200%202-2V8h-2z%22%20fill%3D%22%23333%22%2F%3E%3C%2Fsvg%3E);
  -webkit-mask-size: cover;
}

.dig-custom-field-type-checkbox .dig_opt_mult_con .selected:before {
  mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%2018%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cpath%20d%3D%22M16.5%200h-15A1.5%201.5%200%200%200%200%201.5v15A1.5%201.5%200%200%200%201.5%2018h15a1.5%201.5%200%200%200%201.5-1.5v-15A1.5%201.5%200%200%200%2016.5%200zm-2.461%206.3l-6.267%206.3a.847.847%200%200%201-.544.258.821.821%200%200%201-.548-.267L4.05%209.966a.187.187%200%200%201%200-.267l.834-.834a.181.181%200%200%201%20.262%200l2.081%202.081%205.719-5.761a.185.185%200%200%201%20.131-.056.17.17%200%200%201%20.131.056l.82.848a.185.185%200%200%201%20.011.267z%22%20fill%3D%22%23333%22%2F%3E%3C%2Fsvg%3E);
  mask-size: cover;
  -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%2018%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cpath%20d%3D%22M16.5%200h-15A1.5%201.5%200%200%200%200%201.5v15A1.5%201.5%200%200%200%201.5%2018h15a1.5%201.5%200%200%200%201.5-1.5v-15A1.5%201.5%200%200%200%2016.5%200zm-2.461%206.3l-6.267%206.3a.847.847%200%200%201-.544.258.821.821%200%200%201-.548-.267L4.05%209.966a.187.187%200%200%201%200-.267l.834-.834a.181.181%200%200%201%20.262%200l2.081%202.081%205.719-5.761a.185.185%200%200%201%20.131-.056.17.17%200%200%201%20.131.056l.82.848a.185.185%200%200%201%20.011.267z%22%20fill%3D%22%23333%22%2F%3E%3C%2Fsvg%3E);
  -webkit-mask-size: cover;
}

.dig-custom-field-type-checkbox .dig_opt_mult_con label:before,
.dig-custom-field-type-tac .dig_opt_mult_con label:before,
.dig_login_rembe label:before {
  mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%2018%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cg%20stroke%3D%22%23999%22%20fill%3D%22none%22%3E%3Crect%20width%3D%2218%22%20height%3D%2218%22%20rx%3D%222%22%20stroke%3D%22none%22%2F%3E%3Crect%20x%3D%22.5%22%20y%3D%22.5%22%20width%3D%2217%22%20height%3D%2217%22%20rx%3D%221.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
  -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%2018%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cg%20stroke%3D%22%23999%22%20fill%3D%22none%22%3E%3Crect%20width%3D%2218%22%20height%3D%2218%22%20rx%3D%222%22%20stroke%3D%22none%22%2F%3E%3Crect%20x%3D%22.5%22%20y%3D%22.5%22%20width%3D%2217%22%20height%3D%2217%22%20rx%3D%221.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
  mask-size: cover;
  -webkit-mask-size: cover;
}

.dig_verify_mobile_otp {
  z-index: 99999;
  padding-top: 4rem;
}

.dig_verify_code_contents {
  margin-top: 0;
}

.dig_verify_code_contents .dig_verify_otp {
  margin-top: 2.4rem; /* 24px */
}

.dig_verify_mobile_otp_container {
  padding: 0 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dig_sml_box_msg,
.dig_sml_box_msg_head {
  color: #6d6d6d;
  @include fontSize(18, $rootFontSize);
  text-align: center;
}

.dig_sml_box_msg span {
  display: inherit;
  direction: ltr;
}

.dig_sml_box_msg {
  margin-top: 1.8rem; /* 18px */
  color: #bfbfbf;
  @include fontSize(14, $rootFontSize);
}

.dig_verify_otp {
  margin-top: 3.6rem /* 36px */ !important;
}

.digits_bx_cred_frm_container::-webkit-scrollbar {
  background: #fff;
}

.digits_bx_cred_frm_container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem; /* 2px */
}

.digits_bx_cred_frm_container::-webkit-scrollbar {
  width: 0.8rem; /* 8px */
}

.digits_bx_cred_frm_container::-webkit-scrollbar-track {
  border-left: 0.1rem /* 1px */ rgba(0, 0, 0, 0.1) solid;
}

.dig_verify_otp_input {
  letter-spacing: 0.2rem; /* 2px */
}

.dig_ma-box .button {
  -webkit-appearance: none;
}

.dig_verify_mobile_otp_container {
  min-height: 42rem; /* 420px */
}

.login-action-login .wp_login .dig_otp_block {
  position: relative;
  top: 3.5rem; /* 35px */
}

.dig-modal-con {
  scrollbar-width: thin;
  scrollbar-color: #e5e5e5 #fff;
}

.dig-modal-con::-webkit-scrollbar {
  background: #fff;
}

.dig-modal-con::-webkit-scrollbar-track {
  border-left: 0.1rem /* 1px */ rgba(0, 0, 0, 0.1) solid;
}

.dig-modal-con::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem; /* 4px */
}

.dig-modal-con::-webkit-scrollbar {
  width: 0.6rem; /* 6px */
}

.dig_lrf_box .countrycodecontainer input {
  height: 2.3rem /* 23px */ !important;
  margin-top: 3.4rem /* 34px */ !important;
  padding: 0 0 0.3rem !important;
  line-height: 2.5rem; /* 25px */
}

.dig_hideccode .countrycode,
.dig_hideccode .countrycodecontainer {
  max-width: 0;
  visibility: hidden;
}

.dig_hideccode #dig-mobmail,
.dig_hideccode #dig-secondmailormobile,
.dig_hideccode #digits_reg_email,
.dig_hideccode #forgotpass {
  padding-left: 1em !important;
}

.dig_popBounceInRight {
  -webkit-animation-name: dig_popBounceInRight;
  animation-name: dig_popBounceInRight;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media (print), (prefers-reduced-motion: reduce) {
  .dig_popBounceInRight {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}

// digits/assets/css/main.min.css
.woocommerce-Button {
  z-index: 1;
}
.dig_wc_countrycodecontainer input,
.dig_wc_loginViaContainer {
  text-align: center;
}
.dig_wc_mobileLogin {
  width: 100%;
}
.dig_wc_countrycode[type="text"] {
  text-align: center;
  background: 0 0 !important;
  padding-right: 0.4rem;
  outline: 0;
  min-width: 2rem; /* 20px */
  width: auto !important;
  z-index: 2;
  box-shadow: none !important;
}
.digcon {
  direction: ltr;
}
.countrycode {
  margin-top: 0;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dig_wc_countrycodecontainer {
  display: none;
  position: absolute;
  top: 0;
  z-index: 10;
  left: 0;
}
.digcon {
  position: relative;
}
.loginerrordg {
  color: #b70000;
}
#dig_billing_otp_field label span,
.create-account .dig_billing_otp_signup {
  display: none;
}
#reg_billing_otp_container,
.register .woocommerce-Button {
  z-index: 1;
}
#_billing_phone {
  direction: ltr;
}
.dig_resendotp {
  width: 100%;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  display: none;
  @include fontSize(14, $rootFontSize);
}
#dig_man_resend_otp_btn {
  z-index: -1;
  float: right;
}
#woocommerce-order-data .address p:nth-child(3) a,
.woocommerce-customer-details--phone {
  direction: ltr !important;
  unicode-bidi: embed !important;
}
.dig_wc_logincountrycode {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
.login .woocommerce-Button,
.register .woocommerce-Button {
  width: 100%;
}
.dig_resendotp_disabled {
  opacity: 0.6;
  cursor: default !important;
}
#bp_otp_dig {
  display: none;
}
#digorimp,
.dig_billing_wc_dv,
.digor {
  text-align: center;
}
.dig_billing_wc_dv input[type="submit"] {
  width: 100%;
  margin: 1rem 0; /* 10px */
}
.login .woocommerce-LostPassword a {
  float: right !important;
}
.msggreen {
  color: #00840f;
}
.dig_wc_log_msg {
  text-align: initial;
}
#dig_bp_reg_otp,
#dig_reg_bp_pass,
.dig_wc_mailsecond {
  display: none;
}
#wp_bb_log_submit,
.bbp-login-form label,
.register input[type="submit"] {
  width: 100%;
}
.secmailormob {
  width: 100% !important;
}
.digits div.bbp-submit-wrapper {
  float: unset;
}
.dig_wc_mobileWhatsApp {
  margin-top: 1rem; /* 10px */
}

// digits/assets/css/nice-select.css
.nice-select {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-weight: normal;
  outline: none;
  padding-left: 1.8rem;
  padding-right: 3rem;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  height: 4rem; /* 40px */
  line-height: 3.8rem; /* 38px */
  background: #f6f6f6;
  border: 0.1rem /* 1px */ solid #e9e9e9;
  color: #333;
  border-radius: 0.2rem; /* 2px */
  @include fontSize(15, $rootFontSize);
}
.nice-select:after {
  border-bottom: 0.2rem /* 2px */ solid #999;
  border-right: 0.2rem /* 2px */ solid #999;
  content: "";
  display: block;
  height: 0.5rem; /* 5px */
  margin-top: -0.4rem; /* -4px */
  pointer-events: none;
  position: absolute;
  right: 1.8rem; /* 18px */
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 0.5rem; /* 5px */
}
.nice-select.open:after {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.nice-select.open .list {
  width: 100%;
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}
.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}
.nice-select.disabled:after {
  border-color: #cccccc;
}
.nice-select.wide {
  width: 100%;
}
.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}
.nice-select.right {
  float: right;
}
.nice-select.right .list {
  left: auto;
  right: 0;
}
.nice-select.small {
  @include fontSize(12, $rootFontSize);
  height: 3.6rem; /* 36px */
  line-height: 3.4rem; /* 34px */
}
.nice-select.small:after {
  height: 0.4rem; /* 4px */
  width: 0.4rem; /* 4px */
}
.nice-select.small .option {
  line-height: 3.4rem; /* 34px */
  min-height: 3.4rem; /* 34px */
}
.nice-select .list {
  background-color: #fff;
  border-radius: 0.2rem; /* 2px */
  box-shadow: 0 0 0 0.1rem /* 1px */ rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  margin-top: 0.4rem; /* 4px */
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),
    opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}
.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}
.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 4rem; /* 40px */
  list-style: none;
  min-height: 4rem; /* 40px */
  outline: none;
  padding-left: 1.8rem;
  padding-right: 2.9rem;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: #f6f6f6;
}
.nice-select .option.selected {
  font-weight: bold;
}
.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}
