/********* Components *********/
// White buttons
.white-btn {
  box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
  background: #fff;
  color: $darker;
  border-radius: 100px;
}
.white-btn-v2 {
  position: relative;
  background: #fff;
  color: $darker;
  padding: 21px 81px 22px 30px;
  border-radius: 100px;
  font-size: 22px;
  font-weight: 500;
  svg {
    background: $red-bg;
    border-radius: 100px;
    stroke: #ffffff;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    padding: 16px;
    position: absolute;
    right: 13px;
    top: 9px;
    @include forie() {
      left: 13px;
      right: auto;
    }
  }
}
// Red Buttons
.red-btn {
  background: #F3303A;
  color: #fff;
  box-shadow: 0 8px 27px 0 rgba(243, 48, 58, 0.23);
  border-radius: 100px;
  position: relative;
  svg {
    position: absolute;
    width: 10px;
    top: 21px;
    height: 10px;
    left: 24px;
  }
}
// Titles
.section-title {
  h2 {
    font-weight: 600;
    padding-right: 35px;
    position: relative;
    font-size: 43px;
    margin: 60px 0 40px;
    color: $dark;
    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 4px;
      height: 34px;
      background: #F3303A;
      border-radius: 2px;
      right: 0;
      top: 0;
      box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32);
      @include breakpoint(max,768px) {
        right: 13px;
        top: -7px;
      }
      @include breakpoint(max,576px) {
        width: 10px;
        height: 10px;
        border-radius: 12px;
        box-shadow: none;
        right: 18px;
        top: 2px;
      }
    }
    @include breakpoint(max,992px) {
      margin: 30px 20px 30px 0;
      flex: 0 0 100%;
    }
    @include breakpoint(max,768px) {
      font-size: 33px;
    }
    @include breakpoint(max,576px) {
      font-size: 18px;
      font-weight: 500;
      margin: 20px 0 20px;
    }
  }
}
// Product items
.product-item {
  transition: all .5s;
  border-radius: 21px;
  width: 283px;
  display: inline-block;
  padding: 24px 0 45px 0;
  .image-holder {
    transition: all .5s;
    position: relative;
    width: 242px;
    height: 325px;
    margin: auto;
    img{
      width: 100%;
      height: 100%;
      border-radius: 10px;
      @include breakpoint(max,576px){
        border-radius: 5px;
      }
    }
    @include breakpoint(max,768px){
      width: 200px;
      height: 270px;
    }
    @include breakpoint(max,576px){
      width: 120px;
      height: 160px;
      padding: 0;
    }
    .product-info {
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(to bottom, rgba(34, 39, 71, 0) 0%, #222747 60%);
      width: 100%;
      border-bottom-left-radius: 11px;
      border-bottom-right-radius: 11px;
      height: 200px;
      text-align: center;
      .product-platform {
        position: relative;
        top: 85px;
        img {
          width: 41px;
          height: 41px;
          margin: 10px auto;
        }
        span {
          font-weight: 300;
          color: #ffffff;
          font-size: 17px;
          text-transform: uppercase;
          position: relative;
          &:after {
            position: absolute;
            bottom: -2px;
            left: 0;
            content: '';
            height: 2px;
            width: 100%;
            background: #ffffff;
            opacity: .2;
          }
        }
      }
      @include breakpoint(max,576px) {
        display: none;
      }
    }
  }
  .product-bottom{
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    @include breakpoint(max,576px) {
      max-width: 120px;
    }
    .product-title{
      font-weight: bold;
      font-size: 16px;
      color: $dark;
      margin-top: 25px;
      line-height: 1.5;
      text-align: left;
      display: block;
      min-height: 54px;
      @include breakpoint(max,576px) {
        font-weight: 400;
        font-size: 13px;
        margin-top: 12px;
      }
    }
    .product-card-price{
      .original-price{
        @include Number;
        color: rgba($dark,.8);
        font-size: 16px;
        text-decoration: line-through;
        @include breakpoint(max,576px) {
          display: none;
        }
      }
      .sale-range{
        transition: all .5s;
        @include Number;
        display: inline-block;
        font-size: 12px;
        padding:5px 5px 3px 5px;
        color: $red-bg;
        background:#ffffff;
        border: 2px solid $red-bg;
        border-radius: 10px;
        margin-left: 5px;
        @include breakpoint(max,576px) {
          font-size: 11px;
          padding: 2px 2px 1px 2px;
        }
      }
      .sale-price{
        display: block;
        @include Number;
        font-size: 25px;
        color: $dark;
        position: relative;
        padding-left: 40px;
        &:before{
          font-weight: bold;
          font-family: 'YekanBakh' !important;
          display: block;
          position: absolute;
          content: 'تومان';
          font-size: 14px;
          color: rgba($dark,.8);
          left: 0;
          bottom: 5px;
          @include breakpoint(max,576px) {
            font-weight: 400;
            font-size: 11px;
            left: 15px;
            bottom: 4px;
          }
        }
        @include breakpoint(max,576px) {
          font-size: 14px;
        }
      }
      @include breakpoint(max,576px) {
        display: flex;
      }
    }
    .add-to-basket{
      width: 48px;
      height: 48px;
      font-size: 28px;
      line-height: 1.8;
      font-weight: bold;
      transition: all .5s;
      border-radius: 100px;
      text-align: center;
      border: 2px solid #dfe1f4;
      svg {
        stroke: $darker;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        transition: all .5s;
      }
      @include breakpoint(max,576px) {
        display: none;
      }
    }
  }
  &:hover{
    background:#ffffff;
    box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
    .product-bottom{
      .add-to-basket{
        border-color: $red-bg;
        background: $red-bg;
        box-shadow: 0 5px 15px 0 rgba($red-bg,.5) , 0 5px 12px 0 rgba($red-bg,.61) , 0 4px 7px 0 rgba($red-bg,.32);
        svg {
          stroke: #ffffff;
        }
      }
    }
  }
  @include breakpoint(max,768px) {
    background: #ffffff;
    margin: 0 10px;
    box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
    width: 243px;
    display: inline-block;
    padding: 18px 0 19px 0;
  }
  @include breakpoint(max,576px) {
    width: 120px;
    height: 255px;
    padding: 15px;
    box-shadow: none;
    margin: 0 4px;
    border-radius: 5px;
  }
}
// Ordering step items
.step-item {
  text-align: center;
  position: relative;
  border-radius: 10px;
  transition: all .5s;
  min-height: 273px;
  max-width: 530px;
  padding: 50px 0 0;
  .icon {
    width: 85px;
    height: 84px;
    border-radius: 100px;
    background: #ffffff;
    display: inline-block;
    box-shadow: 0px 1px 1px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
    transition: all .5s;
    svg {
      width: 34px;
      height: 34px;
      fill: #3f4373;
      opacity: .8;
      position: relative;
      top: 24px;
      transition: all .3s;
    }
  }
  .title {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 12px;
  }
  .description {
    opacity: .8;
    max-width: 470px;
    font-weight: 300;
    margin: 0 auto;
    font-size: 15px;
    text-align: justify;
  }
  &:after {
    content: attr(data-step);
    position: absolute;
    right: 69px;
    background: $red-bg;
    border-radius: 100px;
    color: #ffffff;
    top: 44px;
    width: 28px;
    height: 23px;
    padding-top: 5px;
    @include Number;
    transition: all .5s;
    box-shadow: 5px 8px 10px rgba(243, 48, 58, 0.35);
  }
  &:hover {
    &:after {
      background: $darker;
      box-shadow: none;
    }
    .icon {
      background: $red-bg;
      box-shadow: 3px 4px 14px 0 rgba(243, 48, 58, 0.28);
      svg {
        fill: #ffffff;
      }
    }
  }
  @include breakpoint(max,768px) {
    box-shadow: 0 9px 20px 0 rgba(170, 188, 212, 0.29), 0 2px 1px 0 rgba(170, 188, 212, 0.21);;
    background: #fff;
    padding: 30px 0 0;
  }
}
// Filter card
.filter-card {
  ul {
    list-style: none;
    padding-right: 0;
    display: inline-block;
    li {
      display: inline-block;
      font-size: 13px;
      box-shadow: 0px 2px 2px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.12);
      background: #fff;
      padding: 10px 20px;
      border-radius: 100px;
      margin-left: 7px;
    }
  }
}