body {
  background: #f7f8ff;
}
.container {
  @include breakpoint(max, 1570px) {
    max-width: 111.7rem; /* 1117px */
  }
  @include breakpoint(max, 1200px) {
    max-width: 99.2rem; /* 992px */
  }
}
#header {
  background: url(../img/steam-hero-bg.png), linear-gradient(#202542, #202542);
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-size: cover;
  position: relative;
  overflow: hidden;
  min-height: 84.5rem; /* 845px */
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/hero-overlay.png),
      linear-gradient(rgba(32, 37, 66, 0.8), rgba(32, 37, 66, 0.33));
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  @include breakpoint(max, 1770px) {
    background-size: cover;
  }
  @include breakpoint(max, 992px) {
    min-height: 79rem; /* 790px */
  }
  @include breakpoint(max, 576px) {
    min-height: 59.5rem; /* 595px */
  }
  .nav {
    z-index: 2;
    position: relative;
    .logo {
      width: 12.5rem; /* 125px */
      height: 3.1rem; /* 31px */
      float: right;
      margin-top: 5rem; /* 50px */
      @include breakpoint(max, 576px) {
        width: 11rem; /* 110px */
        height: 2.4rem; /* 24px */
        margin-top: 3rem; /* 30px */
      }
    }
    .white-btn {
      margin-top: 4rem; /* 40px */
      float: left;
      padding: 1.4rem 3.6rem; /* 14px 36px */
      font-size: 1.7rem; /* 17px */
      z-index: 1;
      position: relative;
      @include breakpoint(max, 575px) {
        font-size: 1.5rem; /* 15px */
        margin-top: 2.2rem; /* 22px */
      }
      @include breakpoint(max, 380px) {
        padding: 1.2rem 2.2rem; /* 12px 22px */
      }
    }
    @include breakpoint(max, 1410px) {
      max-width: 107rem; /* 1070px */
      margin: 0 auto;
      padding: 0 5.7rem; /* 57px */
    }
    @include breakpoint(max, 576px) {
      padding: 0 3rem; /* 30px */
    }
  }
  .hero {
    display: flex;
    justify-content: center;
    @include breakpoint(max, 1200px) {
      flex-wrap: wrap;
    }
    .intro {
      text-align: center;
      position: relative;
      width: 100%;
      max-width: 58rem; /* 580px */
      margin: 10rem 0rem 12rem 0; /* 100px 0px 120px */
      @include breakpoint(max, 1770px) {
        margin: 10rem 0rem 12rem 0; /* 100px 0px 120px */
      }
      @include breakpoint(max, 1570px) {
        margin: 10rem 0rem 12rem 0; /* 100px 0px 120px */
        max-width: 50rem; /* 500px */
      }
      @include breakpoint(max, 1350px) {
        margin: 10rem 0rem 12rem 0; /* 100px 0px 120px */
        max-width: 50rem; /* 500px */
      }
      @include breakpoint(max, 768px) {
        margin: 10rem 0rem 0 0; /* 100px 0px */
      }
      @include breakpoint(max, 576px) {
        margin: 2rem auto 6rem; /* 20px 60px */
        text-align: center;
      }
      .steam-logo {
        @include breakpoint(max, 1200px) {
          transform: scale(0.8);
        }
        @include breakpoint(max, 992px) {
          transform: scale(0.7);
        }
        @include breakpoint(max, 576px) {
          transform: scale(0.5);
          margin-bottom: -2rem; /* -20px */
        }
      }
      .title {
        font-size: 4.5rem; /* 45px */
        font-weight: 600;
        color: #ffffff;
        strong {
          font-weight: 400;
          color: #ffffff;
        }
        @include breakpoint(max, 1570px) {
          font-size: 4.1rem; /* 41px */
        }
        @include breakpoint(max, 1410px) {
          font-size: 3.9rem; /* 39px */
        }
        @include breakpoint(max, 992px) {
          margin-top: 0;
        }
        @include breakpoint(max, 576px) {
          font-size: 3rem; /* 30px */
          text-align: center;
          line-height: 4.7rem; /* 47px */
          padding: 0 2.8rem; /* 28px */
        }
        @include breakpoint(max, 380px) {
          font-size: 2.3rem; /* 23px */
          line-height: 3.8rem; /* 38px */
        }
      }
      .description {
        position: relative;
        top: -1.5rem; /* -15px */
        opacity: 0.8;
        font-weight: 300;
        color: #b3b7d8;
        @include breakpoint(max, 1410px) {
          font-size: 1.6rem; /* 16px */
        }
        @include breakpoint(max, 576px) {
          padding: 0 2.2rem; /* 22px */
          margin: 2.1rem 1.9rem -1.5rem; /* 21px 19px -15px */
          font-size: 1.5rem; /* 15px */
        }
      }
      .red-btn {
        padding: 1.4rem 3.8rem 1.4rem 9.4rem; /* 14px 38px 14px 94px */
        font-size: 1.8rem; /* 18px */
        top: 4rem; /* 40px */
        @include breakpoint(max, 1410px) {
          padding: 1.4rem 3rem 1.4rem 6.7rem; /* 14px 30px 14px 67px */
          font-size: 1.6rem; /* 16px */
        }
        @include breakpoint(max, 576px) {
          top: 4.4rem; /* 44px */
          padding: 1.1rem 2.5rem 1.2rem 6.1rem; /* 11px 25px 12px 61px */
        }
      }
      .scroll-down {
        margin: 0 auto;
        position: relative;
        top: 9.5rem; /* 95px */
        cursor: pointer;
        opacity: 0.8;
        span {
          font-size: 1.4rem; /* 14px */
          color: #ffffff;
          display: block;
          font-weight: 300;
          margin-bottom: 0.7rem; /* 7px */
        }
        svg {
          stroke: #ffffff;
          width: 2rem; /* 20px */
          height: 3.1rem; /* 31px */
        }
      }
    }
  }
}
#main {
  border-top-right-radius: 6.1rem; /* 61px */
  margin-top: -8.4rem; /* -84px */
  background: #f7f8ff;
  z-index: 2;
  position: relative;
  @include breakpoint(max, 992px) {
    border-top-right-radius: 0rem; /* 0px */
  }
  .gift-card {
    margin-top: 3rem; /* 30px */
    margin-bottom: 8rem; /* 80px */
    overflow: hidden;
    padding-top: 2rem; /* 20px */
    .section-title {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      span {
        max-width: 56rem; /* 560px */
        color: #8c90b1;
        font-weight: 300;
        position: relative;
        top: 0.8rem; /* 8px */
        right: 3rem; /* 30px */
        @include breakpoint(max, 992px) {
          font-size: 1.5rem; /* 15px */
          padding-left: 4rem; /* 40px */
          top: -0.8rem; /* -8px */
        }
        @include breakpoint(max, 576px) {
          font-size: 1.3rem; /* 13px */
          line-height: 2.4rem; /* 24px */
          top: -0.4rem; /* -4px */
        }
      }
    }
    .product-item {
      margin-bottom: 4rem; /* 40px */
      @include breakpoint(max, 768px) {
        margin-bottom: 4.4rem; /* 44px */
        margin-top: 2.5rem; /* 25px */
      }
      @include breakpoint(max, 576px) {
        margin-bottom: 2rem; /* 20px */
      }
    }
    #gift-cards-carousel {
      @include breakpoint(max, 576px) {
        right: -8rem; /* -80px */
      }
      .owl-stage-outer {
        @include breakpoint(max, 576px) {
          overflow: visible !important;
        }
      }
      .owl-nav {
        position: absolute;
        left: 6rem; /* 60px */
        top: -10.5rem; /* -105px */
        @include breakpoint(max, 1200px) {
          left: 3rem; /* 30px */
        }
        @include breakpoint(max, 768px) {
          display: none;
        }
        .owl-prev {
          display: none;
        }
        .owl-next {
          background: transparent;
          padding: 1.2rem 0.3rem /* 12px 3px */ !important;
          border-radius: 10rem; /* 100px */
          outline: none;
          border: 0.2rem /* 2px */ solid #cacdea;
          svg {
            width: 2.5rem; /* 25px */
            height: 3.4rem; /* 34px */
            position: relative;
            top: 0.3rem; /* 3px */
            fill: #252849;
          }
        }
      }
    }
    @include breakpoint(max, 1370px) {
      margin-bottom: 0.5rem; /* 5px */
    }
    @include breakpoint(max, 1200px) {
      margin-top: 0;
    }
    @include breakpoint(max, 768px) {
      margin-bottom: 0;
    }
  }
  .gift-card-v2 {
    color: #ffffff;
    position: relative;
    @include breakpoint(max, 768px) {
      margin-top: 0;
      overflow: hidden;
    }
    .bg {
      max-width: 123rem; /* 1230px */
      border-bottom-left-radius: 3rem; /* 30px */
      border-top-left-radius: 3rem; /* 30px */
      position: relative;
      padding: 7.9rem 0 12rem; /* 79px 120px */
      overflow: hidden;
      background: url("../img/gc-bg.png"), linear-gradient(#202542, #202542);
      background-position: right top;
      background-repeat: no-repeat;
      background-blend-mode: lighten;
      @include breakpoint(max, 1570px) {
        max-width: 100%;
        border-radius: 0;
      }
      @include breakpoint(max, 1270px) {
        height: 50rem; /* 500px */
      }
      @include breakpoint(max, 576px) {
        height: 33.5rem; /* 335px */
      }
      @include breakpoint(max, 420px) {
        height: 39rem; /* 390px */
      }
    }
    .c1 {
      position: absolute;
      width: 8.2rem; /* 82px */
      right: 13rem; /* 130px */
      bottom: -4.4rem; /* -44px */
      animation: float 7s linear infinite;
      @include breakpoint(max, 992px) {
        display: none;
      }
    }
    .c2 {
      position: absolute;
      width: 9rem; /* 90px */
      top: -4.7rem; /* -47px */
      right: -6.2rem; /* -62px */
      @include breakpoint(max, 992px) {
        display: none;
      }
    }
    .gift-cards-v2-carousel-wrapper {
      position: relative;
      top: 3.1rem; /* 31px */
      right: 35rem; /* 350px */
      #gift-cards-v2-carousel-counter {
        position: absolute;
        font-size: 1.2rem; /* 12px */
        color: rgba(255, 255, 255, 0.45);
        direction: ltr;
        top: -0.7rem; /* -7px */
        .current {
          color: #ffffff;
        }
      }
      #gift-cards-v2-carousel {
        max-width: 42.5rem; /* 425px */
        .carousel-content {
          max-width: 42.5rem; /* 425px */
          .title {
            font-size: 3rem; /* 30px */
            margin-bottom: 1.2rem; /* 12px */
            @include breakpoint(max, 576px) {
              font-size: 2rem; /* 20px */
            }
          }
          .description {
            color: #e5e6f7;
            font-weight: 300;
            font-size: 1.6rem; /* 16px */
            text-align: justify;
            @include breakpoint(max, 576px) {
              font-size: 1.4rem; /* 14px */
            }
          }
          @include breakpoint(max, 1270px) {
            max-width: initial;
          }
        }
        .owl-dots {
          display: block;
          position: absolute;
          top: -1rem; /* -10px */
          right: 4.2rem; /* 42px */
          .owl-dot {
            width: 0.6rem; /* 6px */
            height: 0.6rem; /* 6px */
            background: rgba(255, 255, 255, 0.43);
            border-radius: 10rem; /* 100px */
            margin-left: 0.8rem; /* 8px */
            &.active {
              background: rgb(255, 255, 255);
              width: 2.1rem; /* 21px */
            }
          }
        }
        @include breakpoint(max, 1270px) {
          max-width: initial;
        }
      }
      @include breakpoint(max, 1570px) {
        right: 14rem; /* 140px */
      }
      @include breakpoint(max, 1410px) {
        right: 11.4rem; /* 114px */
      }
      @include breakpoint(max, 1315px) {
        right: 7rem; /* 70px */
      }
      @include breakpoint(max, 1270px) {
        width: 85%;
        margin: 0 auto;
        right: 0;
      }
      @include breakpoint(max, 768px) {
        top: -3rem; /* -30px */
      }
    }
    .gift-card-list {
      width: 70rem; /* 700px */
      position: absolute;
      left: 30rem; /* 300px */
      display: flex;
      top: 8.8rem; /* 88px */
      // Gift Card Item
      .gift-card-item {
        height: 31.1rem; /* 311px */
        width: 21.1rem; /* 211px */
        border-radius: 0.6rem; /* 6px */
        margin: 0 1rem; /* 10px */
        position: relative;
        @include breakpoint(max, 576px) {
          height: 19.5rem; /* 195px */
          width: 15.2rem; /* 152px */
        }
        .shape {
          width: 4.3rem; /* 43px */
          height: 1rem; /* 10px */
          border-radius: 10rem; /* 100px */
          background: rgba(255, 255, 255, 0.76);
          display: block;
          margin: 0 auto;
          position: relative;
          top: 2rem; /* 20px */
          &:after {
            content: "";
            width: 1.1rem; /* 11px */
            height: 0.7rem; /* 7px */
            background: rgba(255, 255, 255, 0.76);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -0.7rem; /* -7px */
            border-top-left-radius: 5rem; /* 50px */
            border-top-right-radius: 5rem; /* 50px */
          }
        }
        .price {
          font-size: 9.9rem; /* 99px */
          font-weight: 800;
          display: block;
          text-align: center;
          padding-top: 7.5rem; /* 75px */
          padding-bottom: 3rem; /* 30px */
          position: relative;
          &:before {
            content: "USD";
            border-bottom: 0.2rem /* 2px */ solid rgba(255, 255, 255, 0.4);
            padding-bottom: 2rem; /* 20px */
            height: 0.2rem; /* 2px */
            position: absolute;
            bottom: 1.5rem; /* 15px */
            left: 50%;
            transform: translateX(-50%);
            font-size: 1.6rem; /* 16px */
            color: rgba(255, 255, 255, 0.4);
            font-weight: 300;
            @include breakpoint(max, 576px) {
              font-size: 1.4rem; /* 14px */
              bottom: 1rem; /* 10px */
            }
          }
          @include breakpoint(max, 576px) {
            font-size: 4.2rem; /* 42px */
            padding-top: 3.7rem; /* 37px */
          }
        }
        .description {
          font-weight: 300;
          text-align: center;
          display: block;
          strong {
            font-weight: 600;
          }
          @include breakpoint(max, 576px) {
            font-size: 1.3rem; /* 13px */
          }
        }
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          background: url("../img/steam-card-overlay.png");
          width: 18.3rem; /* 183px */
          height: 18.9rem; /* 189px */
        }
        &:after {
          position: absolute;
          bottom: 1.7rem; /* 17px */
          left: 50%;
          transform: translateX(-50%);
          content: "...";
          width: 4.3rem; /* 43px */
          height: 0;
          border-radius: 10rem; /* 100px */
          border: 0.2rem /* 2px */ solid rgba(255, 255, 255, 0.41);
          text-align: center;
          padding: 0 0 2.1rem; /* 21px */
          transition: all 0.3s;
          font-size: 1.8rem; /* 18px */
        }
        &.five {
          background: linear-gradient(#4e7cff, #6a8ff8);
        }
        &.ten {
          background: linear-gradient(#f3303a, #ee454e);
        }
        &.twenty-five {
          background: linear-gradient(#65e39b, #41cd7d);
        }
      }
      @include breakpoint(max, 1850px) {
        left: 24.3rem; /* 243px */
      }
      @include breakpoint(max, 1770px) {
        left: 15.6rem; /* 156px */
      }
      @include breakpoint(max, 1670px) {
        left: 5.6rem; /* 56px */
      }
      @include breakpoint(max, 1570px) {
        left: 1rem; /* 10px */
      }
      @include breakpoint(max, 1270px) {
        left: 50%;
        transform: translateX(-50%);
        top: initial;
        bottom: 4rem; /* 40px */
      }
      .owl-nav {
        position: absolute;
        left: 1.2rem; /* 12px */
        top: -6.5rem; /* -65px */
        svg {
          width: 2.3rem; /* 23px */
          height: 2.1rem; /* 21px */
          fill: #252849;
          opacity: 0.7;
        }
        .owl-next {
          outline: none;
        }
        .owl-prev {
          outline: none;
          transform: rotate(180deg);
          top: -0.7rem; /* -7px */
          position: relative;
          left: 0.9rem; /* 9px */
        }
      }
    }
  }
  .ordering-steps {
    padding: 10rem 0 10rem; /* 100px 100px */
    @include breakpoint(max, 992px) {
      padding: 6rem 1.5rem 10rem; /* 60px 15px 100px */
    }
    > .container {
      .circle {
        position: absolute;
        opacity: 0.3;
        &.c1 {
          width: 3.1rem; /* 31px */
          height: 3.1rem; /* 31px */
          left: 6rem; /* 60px */
          top: 10.8rem; /* 108px */
          z-index: -1;
        }
        &.c2 {
          width: 1.4rem; /* 14px */
          height: 1.4rem; /* 14px */
          left: 0;
          top: 12rem; /* 120px */
        }
      }
      display: flex;
      flex-wrap: wrap;
      @include breakpoint(max, 1200px) {
        padding: 0;
      }
    }
    .step-item {
      flex: 0 0 24%;
      margin: 3rem auto 0; /* 30px */
      max-width: 23rem; /* 230px */
      .title {
        @include breakpoint(max, 768px) {
          font-size: 1.9rem; /* 19px */
        }
      }
      .description {
        @include breakpoint(max, 1200px) {
          padding: 0 4.7rem; /* 47px */
          line-height: 3rem; /* 30px */
        }
        @include breakpoint(max, 768px) {
          padding: 0 2.8rem; /* 28px */
          line-height: 2.9rem; /* 29px */
          font-size: 1.6rem; /* 16px */
        }
      }
      @include breakpoint(max, 1200px) {
        flex: 0 0 49%;
        max-width: initial;
        &:after {
          top: 5.2rem; /* 52px */
          right: 18.8rem; /* 188px */
        }
      }
      @include breakpoint(max, 992px) {
        &:after {
          top: 2.7rem; /* 27px */
          right: 14rem; /* 140px */
        }
      }
      @include breakpoint(max, 768px) {
        display: none;
      }
    }
    @include breakpoint(max, 768px) {
      padding: 0.1rem; /* 1px */
      background: rgba(37, 40, 73, 0.788235294117647);
    }
  }
}
#footer {
  background: url("../img/cta-bg.png") no-repeat center -18rem /* -180px */,
    linear-gradient($darker, $darker);
  color: rgba(255, 255, 255, 0.84);
  padding: 5rem 0 2rem 0; /* 50px 20px */
  position: relative;
  font-size: 1.3rem; /* 13px */
  font-weight: 300;
  overflow: hidden;
  background-size: contain;
  background-blend-mode: color-dodge;
  @include breakpoint(max, 992px) {
    background-position: center -10rem; /* -100px */
  }
  @include breakpoint(max, 768px) {
    background-position: center -4rem; /* -40px */
  }
  .cta {
    text-align: center;
    padding: 1rem 0 17.4rem 0; /* 10px 174px */
    .title {
      font-size: 3rem; /* 30px */
      color: #fff;
      @include breakpoint(max, 576px) {
        font-size: 2.2rem; /* 22px */
        line-height: 3.4rem; /* 34px */
      }
    }
    .description {
      font-size: 1.8rem; /* 18px */
      color: #8c90b1;
      margin-top: -1.6rem; /* -16px */
      @include breakpoint(max, 576px) {
        font-size: 1.4rem; /* 14px */
        margin-top: -0.5rem; /* -5px */
      }
    }
    .white-btn-v2 {
      top: 4rem; /* 40px */
      display: inline-block;
      @include breakpoint(max, 576px) {
        padding: 1.2rem 5.8rem 1.1rem 2.4rem; /* 12px 58px 11px 24px */
        font-size: 1.5rem; /* 15px */
      }
      svg {
        @include breakpoint(max, 768px) {
          right: 8rem; /* 80px */
        }
        @include breakpoint(max, 576px) {
          right: 0.4rem; /* 4px */
          top: 0.3rem; /* 3px */
          padding: 1.1rem; /* 11px */
          width: 1.2rem; /* 12px */
          height: 1.2rem; /* 12px */
        }
      }
    }
    @include breakpoint(max, 768px) {
      padding: 1rem 3.2rem 10.4rem 3.4rem; /* 10px 32px 104px 34px */
    }
  }
  .circle {
    pointer-events: none;
  }
  .c1 {
    width: 7rem; /* 70px */
    height: 7rem; /* 70px */
    position: absolute;
    right: 16.5rem; /* 165px */
    bottom: -1rem; /* -10px */
    z-index: 1;
    animation: float 5s ease-in-out infinite;
    @include breakpoint(max, 800px) {
      display: none;
    }
  }
  .c2 {
    width: 15rem; /* 150px */
    height: 15rem; /* 150px */
    position: absolute;
    left: 9rem; /* 90px */
    bottom: 15rem; /* 150px */
    z-index: 1;
    animation: float 6s ease-in-out infinite;
    @include breakpoint(max, 992px) {
      width: 10rem; /* 100px */
      height: 10rem; /* 100px */
    }
    @include breakpoint(max, 800px) {
      display: none;
    }
  }
  .c3 {
    position: absolute;
    width: 3.5rem; /* 35px */
    height: 3.5rem; /* 35px */
    right: 12.5rem; /* 125px */
    bottom: 18rem; /* 180px */
    animation: float 4s ease-in-out infinite;
    @include breakpoint(max, 992px) {
      width: 3rem; /* 30px */
      height: 3rem; /* 30px */
    }
    @include breakpoint(max, 600px) {
      display: none;
    }
  }
  .c4 {
    position: absolute;
    width: 8.2rem; /* 82px */
    height: 8.2rem; /* 82px */
    top: 0.8rem; /* 8px */
    left: 55.5rem; /* 555px */
    animation: floatXY 4s linear infinite;
    @include breakpoint(max, 992px) {
      width: 5.2rem; /* 52px */
      height: 5.2rem; /* 52px */
      left: 5.5rem; /* 55px */
    }
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include breakpoint(max, 992px) {
      justify-content: center;
    }
    .description {
      display: flex;
      max-width: 38rem; /* 380px */
      .footer-logo {
        width: 6rem; /* 60px */
        margin-left: 2rem; /* 20px */
        @include breakpoint(max, 576px) {
          margin-bottom: 1.5rem; /* 15px */
        }
      }
      p {
        @include breakpoint(max, 576px) {
          display: none;
        }
      }
    }
    .menu {
      list-style: none;
      li {
        display: inline-block;
        padding: 0.5rem 1rem 1.7rem 1rem; /* 5px 10px 17px 10px */
        margin-left: 6rem; /* 60px */
        position: relative;
        transition: all ease-in-out 0.5s;
        &:after {
          transition: all ease-in-out 0.5s;
          display: block;
          position: absolute;
          content: "";
          width: 2.5rem; /* 25px */
          height: 0.3rem; /* 3px */
          border-radius: 0.15rem; /* 1.5px */
          background: #f3303a;
          box-shadow: 0 0.5rem 1.5rem 0 rgba(243, 48, 58, 0.5),
            0 0.5rem 1.2rem 0 rgba(243, 48, 58, 0.61),
            0 0.4rem 0.7rem 0 /* 5px 15px 5px 12px 4px 7px */
              rgba(243, 48, 58, 0.32);
          bottom: 0;
          left: calc((100% - 2.5rem) / 2);
          opacity: 0;
          visibility: hidden;
        }
        &:hover {
          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
        &.active {
          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      @include breakpoint(max, 992px) {
        flex: 0 0 100%;
        text-align: center;
      }
      @include breakpoint(max, 576px) {
        display: none;
      }
    }
  }
  .copyright {
    .mobile-logo {
      display: none;
    }
    text-align: center;
    color: rgba(240, 242, 248, 0.55);
    direction: ltr;
    margin-top: 5rem; /* 50px */
    font-weight: 300;
    @include breakpoint(max, 992px) {
      border-top: 0.1rem /* 1px */ solid
        rgba(255, 255, 255, 0.12156862745098039);
      padding-top: 1.9rem; /* 19px */
      margin-top: 0;
    }
  }
}
