body {
  background: #f7f8ff;
}
.container {
  @include breakpoint(max, 1570px) {
    max-width: 120rem; /* 1200px */
  }
  @include breakpoint(max, 1200px) {
    max-width: 99.2rem; /* 992px */
  }
}
#header {
  background: url(../img/type-ps-giftcard.png),
    linear-gradient(#202542, #202542);
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-size: contain;
  position: relative;
  overflow: hidden;
  background-position: right;
  @include breakpoint(max, 1770px) {
    background-size: cover;
  }
  .nav {
    .logo {
      width: 12.5rem; /* 125px */
      height: 3.1rem; /* 31px */
      float: right;
      margin-top: 5rem; /* 50px */
      @include breakpoint(max, 576px) {
        width: 11rem; /* 110px */
        height: 2.4rem; /* 24px */
        margin-top: 3rem; /* 30px */
      }
    }
    .white-btn {
      margin-top: 4rem; /* 40px */
      float: left;
      padding: 1.4rem 3.6rem; /* 14px 36px */
      font-size: 1.7rem; /* 17px */
      z-index: 1;
      position: relative;
      @include breakpoint(max, 575px) {
        font-size: 1.5rem; /* 15px */
        margin-top: 2.2rem; /* 22px */
      }
      @include breakpoint(max, 380px) {
        padding: 1.2rem 2.2rem; /* 12px 22px */
      }
    }
    @include breakpoint(max, 1410px) {
      max-width: 107rem; /* 1070px */
      margin: 0 auto;
      padding: 0 5.7rem; /* 57px */
    }
    @include breakpoint(max, 576px) {
      padding: 0 3rem; /* 30px */
    }
  }
  .hero {
    display: flex;
    @include breakpoint(max, 1200px) {
      flex-wrap: wrap;
    }
    .services {
      margin-top: 11.7rem; /* 117px */
      display: flex;
      margin-right: auto;
      position: relative;
      left: -3rem; /* -30px */
      .service-item {
        margin-right: 3.3rem; /* 33px */
        background-size: cover;
        background-position: center center;
        .title {
          @include breakpoint(max, 1410px) {
            font-size: 2.1rem; /* 21px */
          }
        }
        @include breakpoint(max, 1570px) {
          margin-right: 2.1rem; /* 21px */
          height: 30rem; /* 300px */
          width: 21.6rem; /* 216px */
        }
        @include breakpoint(max, 576px) {
          height: 20.5rem; /* 205px */
          width: 15.3rem; /* 153px */
          margin-right: 0.8rem; /* 8px */
        }
      }
      @include breakpoint(max, 1410px) {
        max-width: 72.8rem; /* 728px */
      }
      @include breakpoint(max, 1200px) {
        flex: 0 0 100%;
        order: 1;
        margin-left: 2.5rem; /* 25px */
        margin-right: 1rem; /* 10px */
        margin-top: 0;
        margin-bottom: 4rem; /* 40px */
      }
      @include breakpoint(max, 768px) {
        margin-top: 6.1rem; /* 61px */
      }
      @include breakpoint(max, 576px) {
        margin-right: -3rem; /* -30px */
        margin-top: 3.8rem; /* 38px */
      }
    }
    .intro {
      position: relative;
      width: 100%;
      max-width: 58rem; /* 580px */
      margin: 10rem 38rem 12rem 0; /* 100px 380px 120px */
      @include breakpoint(max, 1770px) {
        margin: 10rem 26rem 12rem 0; /* 100px 260px 120px */
      }
      @include breakpoint(max, 1570px) {
        margin: 10rem 14rem 12rem 0; /* 100px 140px 120px */
        max-width: 50rem; /* 500px */
      }
      @include breakpoint(max, 1350px) {
        margin: 10rem 6rem 12rem 0; /* 100px 60px 120px */
        max-width: 50rem; /* 500px */
      }
      @include breakpoint(max, 768px) {
        margin: 10rem 6rem 0 0; /* 100px 60px */
      }
      @include breakpoint(max, 576px) {
        margin: 4.5rem auto 6rem; /* 45px 60px */
        text-align: center;
      }
      .gamepad-wrapper {
        position: absolute;
        top: -17rem; /* -170px */
        right: -10.1rem; /* -101px */
        .circles {
          position: absolute;
          top: 12.5rem; /* 125px */
          animation: rotate 25s linear infinite;
          left: -5rem; /* -50px */
          pointer-events: none;
          width: 44.3rem; /* 443px */
          opacity: 0.5;
          @keyframes rotate {
            from {
              transform: rotate(0);
            }
            to {
              transform: rotate(360deg);
            }
          }
        }
        .gradient-rectangle {
          position: absolute;
          top: 38.9rem; /* 389px */
          left: 3.1rem; /* 31px */
          animation: float 3s linear infinite;
          width: 12rem; /* 120px */
        }
        .gamepad {
          position: absolute;
          right: -49.9rem; /* -499px */
          top: 8.1rem; /* 81px */
          width: 47.4rem; /* 474px */
        }
        @include breakpoint(max, 1770px) {
          top: -18.2rem; /* -182px */
          right: -4.3rem; /* -43px */
        }
        @include breakpoint(max, 1570px) {
          right: -0.1rem; /* -1px */
        }
        @include breakpoint(max, 1350px) {
          right: 5.3rem; /* 53px */
        }
        @include breakpoint(max, 1200px) {
          right: 107.2rem; /* 1072px */
        }
        @include breakpoint(max, 768px) {
          display: none;
        }
      }
      .title {
        font-size: 4.7rem; /* 47px */
        font-weight: 500;
        color: #daddfb;
        strong {
          font-weight: 600;
          color: #ffffff;
        }
        @include breakpoint(max, 1570px) {
          font-size: 4.1rem; /* 41px */
        }
        @include breakpoint(max, 1410px) {
          font-size: 3.9rem; /* 39px */
        }
        @include breakpoint(max, 576px) {
          font-size: 3rem; /* 30px */
          text-align: center;
          line-height: 4.7rem; /* 47px */
          padding: 0 2.8rem; /* 28px */
        }
        @include breakpoint(max, 380px) {
          font-size: 2.3rem; /* 23px */
          line-height: 3.8rem; /* 38px */
        }
      }
      .description {
        position: relative;
        padding-right: 2.8rem; /* 28px */
        text-align: justify;
        opacity: 0.8;
        font-weight: 300;
        color: #b3b7d8;
        &:after {
          display: block;
          position: absolute;
          content: "";
          width: 0.4rem; /* 4px */
          height: 3.6rem; /* 36px */
          border-radius: 0.2rem; /* 2px */
          background: #f65164;
          box-shadow: 0 0.5rem 1.5rem 0 rgba(243, 48, 58, 0.5),
            0 0.5rem 1.2rem 0 rgba(243, 48, 58, 0.61),
            0 0.4rem 0.7rem 0 /* 5px 15px 5px 12px 4px 7px */
              rgba(243, 48, 58, 0.32);
          top: 0.5rem; /* 5px */
          right: 0;
        }
        @include breakpoint(max, 1410px) {
          font-size: 1.6rem; /* 16px */
        }
        @include breakpoint(max, 576px) {
          padding: 0 2.2rem; /* 22px */
          margin: 0 1.9rem; /* 19px */
          font-size: 1.5rem; /* 15px */
        }
      }
      .red-btn {
        padding: 1.7rem 3rem 1.7rem 7.7rem; /* 17px 30px 17px 77px */
        font-size: 1.8rem; /* 18px */
        margin-top: 0.6rem; /* 6px */
        float: left;
        @include breakpoint(max, 1410px) {
          padding: 1.7rem 3rem 1.7rem 6.7rem; /* 17px 30px 17px 67px */
          font-size: 1.6rem; /* 16px */
        }
        @include breakpoint(max, 576px) {
          float: initial;
          top: 4.4rem; /* 44px */
          padding: 1.1rem 2.5rem 1.2rem 6.1rem; /* 11px 25px 12px 61px */
          font-size: 1.5rem; /* 15px */
        }
        svg {
          @include breakpoint(max, 576px) {
            top: 1.8rem; /* 18px */
          }
        }
      }
    }
  }
}
#main {
  .products-slider-wrapper {
    padding-bottom: 15rem; /* 150px */
    position: relative;
    @include breakpoint(max, 768px) {
      overflow: hidden;
    }
    &:before {
      content: "";
      background: linear-gradient(#f7f8ff, #f7f8ff), url(../img/shape-bg.png);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-blend-mode: difference;
      opacity: 0.5;
      @include breakpoint(max, 768px) {
        display: none;
      }
    }
    > .container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @include breakpoint(max, 1280px) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    .text-content {
      background: #f7f8ff;
      max-width: 46rem; /* 460px */
      margin-left: auto;
      position: relative;
      top: 4.4rem; /* 44px */
      h4 {
        font-size: 3.8rem; /* 38px */
        font-weight: 700;
        margin-bottom: 3rem; /* 30px */
        color: $darker;
        @include breakpoint(max, 768px) {
          font-size: 3.2rem; /* 32px */
        }
        @include breakpoint(max, 576px) {
          font-size: 2rem; /* 20px */
          margin: 1rem 0 0 0; /* 10px */
        }
      }
      p {
        font-weight: 300;
        color: $dark;
        opacity: 0.8;
        text-align: justify;
        @include breakpoint(max, 576px) {
          font-size: 1.4rem; /* 14px */
        }
      }
      .red-btn {
        padding: 1.6rem 3.1rem 1.6rem 5.4rem; /* 16px 31px 16px 54px */
        float: right;
        top: 1rem; /* 10px */
        @include breakpoint(max, 576px) {
          padding: 1.4rem 3.1rem 1.4rem 5.4rem; /* 14px 31px 14px 54px */
          font-size: 1.5rem; /* 15px */
        }
        svg {
          @include breakpoint(max, 576px) {
            top: 1.7rem; /* 17px */
          }
        }
      }
      @include breakpoint(max, 1200px) {
        margin: 0 auto;
        max-width: 76rem; /* 760px */
      }
      @include breakpoint(max, 870px) {
        padding: 0 4rem; /* 40px */
      }
      @include breakpoint(max, 576px) {
        top: 2.4rem; /* 24px */
      }
      @include breakpoint(max, 480px) {
        padding: 0 2.5rem; /* 25px */
      }
    }
    .slider-wrapper {
      max-width: 66rem; /* 660px */
      position: relative;
      top: 7rem; /* 70px */
      padding: 0 0.2rem; /* 2px */
      height: 32rem; /* 320px */
      @include forie() {
        margin-right: 10rem; /* 100px */
      }
      @include breakpoint(min, 660px) {
        height: 45rem; /* 450px */
      }
      @include breakpoint(max, 1200px) {
        top: 11.5rem; /* 115px */
        margin: 0 auto;
        flex: 0 0 100%;
      }
      @include breakpoint(max, 576px) {
        top: 9rem; /* 90px */
        height: 23rem; /* 230px */
      }
      .slider-item {
        position: relative;
        border-radius: 1.1rem; /* 11px */
        transition: all 0.3s;
        opacity: 0.7;
        overflow: hidden;
        @include breakpoint(min, 660px) {
          padding: 8rem 0 0.4rem; /* 80px 4px */
          height: 29rem; /* 290px */
          width: 21.3rem; /* 213px */
        }
        @include breakpoint(max, 659px) {
          max-height: 29rem; /* 290px */
          max-width: 21.7rem; /* 217px */
        }
        @include breakpoint(max, 576px) {
          max-height: 23.5rem; /* 235px */
          max-width: 18rem; /* 180px */
          border-radius: 1.1rem; /* 11px */
        }
        img {
          border-radius: 1.1rem; /* 11px */
          height: 100%;
          @include breakpoint(max, 576px) {
            border-radius: 0.3rem; /* 3px */
          }
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 0.4rem; /* 4px */
          right: 0;
          height: 23.7rem; /* 237px */
          width: 100%;
          border-radius: 0.5rem; /* 5px */
          background: linear-gradient(
            to top,
            rgba(2, 98, 160, 0.74),
            transparent
          );
          @include breakpoint(max, 660px) {
            bottom: 0;
          }
          @include breakpoint(max, 576px) {
            border-radius: 0.3rem; /* 3px */
          }
        }
        .product-info {
          position: absolute;
          bottom: 3rem; /* 30px */
          color: #ffffff;
          z-index: 2;
          padding: 0 5rem; /* 50px */
          left: 50%;
          transform: translateX(-50%);
          display: none;
          h4 {
            font-size: 1.6rem; /* 16px */
            font-weight: 400;
            flex: 0 0 100%;
            @include breakpoint(max, 660px) {
              font-size: 1.5rem; /* 15px */
              font-weight: 300;
              margin-bottom: 1.2rem; /* 12px */
            }
            @include breakpoint(max, 576px) {
              font-size: 1.3rem; /* 13px */
              margin-bottom: 0.6rem; /* 6px */
            }
          }
          .add-to-cart {
            width: 0.3rem; /* 3px */
            background: #fff;
            border-radius: 10rem; /* 100px */
            margin-right: auto;
            color: #0262a0;
            font-size: 3rem; /* 30px */
            padding: 0.8rem 1.5rem 0.4rem 2.9rem; /* 8px 15px 4px 29px */
            @include breakpoint(max, 576px) {
              font-size: 2.5rem; /* 25px */
              padding: 0.4rem 1rem 0rem 1.9rem; /* 4px 10px 0px 19px */
            }
          }
          @include breakpoint(max, 660px) {
            padding: 0 2rem; /* 20px */
            bottom: 1.7rem; /* 17px */
          }
          @include breakpoint(max, 576px) {
            padding: 0 1.1rem; /* 11px */
            bottom: 1.2rem; /* 12px */
          }
          @include forie() {
            width: 70%;
          }
        }
      }
      .owl-item {
        position: relative;
        border-radius: 1.1rem; /* 11px */
        &.center {
          position: relative;
          z-index: 2;
          .slider-item {
            @include breakpoint(min, 660px) {
              height: 44.1rem; /* 441px */
              width: 29.5rem; /* 295px */
              position: relative;
              right: -5.4rem; /* -54px */
              top: -7.9rem; /* -79px */
            }
            opacity: 1;
            &:after {
              background: linear-gradient(to top, #0262a0, transparent);
              border-radius: 1.1rem; /* 11px */
              height: 31rem; /* 310px */
              @include breakpoint(max, 576px) {
                border-radius: 0.3rem; /* 3px */
              }
            }
            .product-info {
              display: flex;
            }
          }
        }
      }
      .owl-nav {
        position: absolute;
        left: -2.8rem; /* -28px */
        top: 20.3rem; /* 203px */
        width: 71.9rem; /* 719px */
        .owl-prev,
        .owl-next {
          svg {
            width: 2.5rem; /* 25px */
            height: 2.4rem; /* 24px */
            fill: #8c90b1;
            opacity: 0.5;
          }
          outline: none;
        }
        .owl-prev {
          margin-left: 1.7rem; /* 17px */
          svg {
            transform: rotate(180deg);
          }
        }
        .owl-next {
          position: absolute;
          left: 0;
        }
      }
    }
  }
  .gift-card {
    margin-top: 3rem; /* 30px */
    margin-bottom: 5rem; /* 50px */
    overflow: hidden;
    .section-title {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .filter-card {
        margin-right: 2rem; /* 20px */
        margin-top: 1.4rem; /* 14px */
        z-index: 2;
        @include breakpoint(max, 576px) {
          flex: 0 0 100%;
          margin-top: -1.4rem; /* -14px */
        }
      }
    }
    .product-item {
      margin-bottom: 4rem; /* 40px */
      @include breakpoint(max, 768px) {
        margin-bottom: 4.4rem; /* 44px */
        margin-top: 2.5rem; /* 25px */
      }
    }
    @include breakpoint(max, 1200px) {
      margin-top: 0;
    }
    @include breakpoint(max, 768px) {
      margin-bottom: 0;
    }
  }
  .ps4-account {
    background: url("../img/type-ps-giftcard.png"),
      linear-gradient(#202542, #202542);
    background-position: right top;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    position: relative;
    @include breakpoint(max, 1200px) {
      background-size: cover;
    }
    .circle {
      position: absolute;
      @include breakpoint(max, 992px) {
        display: none;
      }
    }
    .c4 {
      width: 8.2rem; /* 82px */
      right: 32.5rem; /* 325px */
      bottom: 0;
      animation: float 5s linear infinite;
    }
    .c3 {
      width: 6.7rem; /* 67px */
      right: 20rem; /* 200px */
      top: -1rem; /* -10px */
      animation: float 10s linear infinite;
    }
    .c2 {
      width: 2.3rem; /* 23px */
      top: 0.1rem; /* 1px */
      left: 2.6rem; /* 26px */
      animation: float 14s linear infinite;
    }
    > .container {
      padding: 0 0 9rem; /* 90px */
      display: flex;
      align-items: center;
      @include breakpoint(max, 1570px) {
        max-width: 135rem; /* 1350px */
      }
      @include breakpoint(max, 1200px) {
        flex-wrap: wrap;
      }
    }
    .ps4-account-carousel-wrapper {
      position: relative;
      top: 7.5rem; /* 75px */
      right: 10.6rem; /* 106px */
      #ps4-account-carousel-counter {
        position: absolute;
        font-size: 1.2rem; /* 12px */
        color: rgba(255, 255, 255, 0.45);
        direction: ltr;
        top: -0.7rem; /* -7px */
        .current {
          color: #ffffff;
        }
      }
      #ps4-account-carousel {
        max-width: 50rem; /* 500px */
        .carousel-content {
          max-width: 50rem; /* 500px */
          .above-title {
            color: #e5e6f7;
            margin-bottom: -3.5rem; /* -35px */
            font-size: 1.8rem; /* 18px */
            font-weight: 300;
            @include breakpoint(max, 576px) {
              margin-bottom: -1.2rem; /* -12px */
              font-size: 1.6rem; /* 16px */
            }
          }
          .title {
            font-size: 3rem; /* 30px */
            margin-bottom: 1.2rem; /* 12px */
            color: #ffffff;
            @include breakpoint(max, 576px) {
              font-size: 2rem; /* 20px */
            }
          }
          .description {
            color: #e5e6f7;
            font-weight: 300;
            font-size: 1.6rem; /* 16px */
            @include breakpoint(max, 576px) {
              font-size: 1.4rem; /* 14px */
              text-align: justify;
            }
          }
          @include breakpoint(max, 576px) {
            max-width: 40rem; /* 400px */
          }
          @include breakpoint(max, 480px) {
            max-width: 35rem; /* 350px */
          }
          @include breakpoint(max, 390px) {
            max-width: 30rem; /* 300px */
          }
        }
        .owl-dots {
          display: block;
          position: absolute;
          top: -2.1rem; /* -21px */
          right: 0;
          .owl-dot {
            width: 0.6rem; /* 6px */
            height: 0.6rem; /* 6px */
            background: rgba(255, 255, 255, 0.43);
            border-radius: 10rem; /* 100px */
            margin-left: 0.8rem; /* 8px */
            &.active {
              background: rgb(255, 255, 255);
              width: 2.1rem; /* 21px */
            }
          }
          @include breakpoint(max, 650px) {
            display: none;
          }
        }
        .owl-nav {
          position: absolute;
          left: 0;
          top: 0;
          .owl-prev,
          .owl-next {
            svg {
              width: 0.7rem; /* 7px */
              height: 1.5rem; /* 15px */
              opacity: 0.8;
            }
            outline: none;
          }
          .owl-prev {
            margin-left: 1.7rem; /* 17px */
            svg {
              transform: rotate(180deg);
            }
          }
          @include breakpoint(max, 650px) {
            display: none;
          }
        }
        @include breakpoint(max, 1200px) {
          margin: 0 auto;
        }
        @include breakpoint(max, 576px) {
          max-width: 40rem; /* 400px */
        }
        @include breakpoint(max, 480px) {
          max-width: 35rem; /* 350px */
        }
        @include breakpoint(max, 390px) {
          max-width: 30rem; /* 300px */
        }
      }
      @include breakpoint(max, 1300px) {
        right: 6rem; /* 60px */
      }
      @include breakpoint(max, 1200px) {
        flex: 0 0 100%;
        right: 0;
      }
      @include breakpoint(max, 650px) {
        top: 2rem; /* 20px */
      }
    }
    .card-list {
      max-width: 65rem; /* 650px */
      margin-right: auto;
      position: relative;
      top: 15.5rem; /* 155px */
      .card-item {
        margin-right: auto;
        padding: 0.8rem 3.7rem 1.1rem 6.4rem; /* 8px 37px 11px 64px */
        border-radius: 1rem; /* 10px */
        display: flex;
        align-items: center;
        background: #ffffff;
        margin-bottom: 1rem; /* 10px */
        @include breakpoint(min, 576px) {
          &:last-of-type {
            border: 0.1rem /* 1px */ solid rgba(215, 227, 246, 0.75);
            box-shadow: 0 0.1rem 0.3rem /* 1px 3px */ rgba(215, 227, 246, 0.66);
          }
        }
        img {
          max-width: 5.2rem; /* 52px */
          max-height: 7.1rem; /* 71px */
          margin-left: 5rem; /* 50px */
          @include breakpoint(max, 1400px) {
            margin-left: 3rem; /* 30px */
          }
          @include breakpoint(max, 576px) {
            flex: 0 0 100%;
            margin: 0 auto;
            max-width: 3.1rem; /* 31px */
            max-height: 3.7rem; /* 37px */
          }
        }
        .title {
          margin-bottom: 0;
          color: $darker;
          @include breakpoint(max, 576px) {
            color: #ffffff;
            font-size: 1.4rem; /* 14px */
          }
        }
        .description {
          margin-top: 0.7rem; /* 7px */
          font-size: 1.4rem; /* 14px */
          font-weight: 300;
          @include breakpoint(max, 576px) {
            margin-top: 1.2rem; /* 12px */
            font-size: 1.3rem; /* 13px */
            color: #e5e6f7;
          }
        }
        @include breakpoint(max, 1400px) {
          padding: 0rem 2.7rem 1.1rem 1.4rem; /* 0px 27px 11px 14px */
        }
        @include breakpoint(max, 576px) {
          flex-wrap: wrap;
          text-align: center;
          padding: 2.1rem 1rem 0.5rem 1rem; /* 21px 10px 5px 10px */
          min-height: 20rem; /* 200px */
          background: rgba(255, 255, 255, 0.19);
          max-width: 20rem; /* 200px */
        }
      }
      @include breakpoint(max, 1400px) {
        max-width: 58.8rem; /* 588px */
        margin-left: 1.5rem; /* 15px */
      }
      @include breakpoint(max, 1200px) {
        margin: 0 auto;
        top: 11.1rem; /* 111px */
      }
      @include breakpoint(max, 650px) {
        top: 5.1rem; /* 51px */
        padding: 0 2.5rem; /* 25px */
      }
      @include breakpoint(max, 576px) {
        overflow: hidden;
      }
    }
  }
  .cta-v2 {
    position: relative;
    text-align: center;
    padding-bottom: 18rem; /* 180px */
    padding-top: 11rem; /* 110px */
    @include breakpoint(max, 1570px) {
      padding-top: 6rem; /* 60px */
    }
    @include breakpoint(max, 1200px) {
      padding-top: 0;
    }
    @include breakpoint(max, 992px) {
      padding-bottom: 11rem; /* 110px */
    }
    @include breakpoint(max, 576px) {
      padding-bottom: 6rem; /* 60px */
    }
    .c1 {
      position: absolute;
      left: 17.2rem; /* 172px */
      width: 5.8rem; /* 58px */
      bottom: 30rem; /* 300px */
      animation: float 10s linear infinite;
      @include breakpoint(max, 1200px) {
        display: none;
      }
    }
    .c2 {
      position: absolute;
      left: 40rem; /* 400px */
      width: 1.8rem; /* 18px */
      bottom: -0.2rem; /* -2px */
      animation: float 14s linear infinite;
      @include breakpoint(max, 1200px) {
        display: none;
      }
    }
    .cta-img {
      width: 14rem; /* 140px */
      height: 12.8rem; /* 128px */
      margin-top: 12.4rem; /* 124px */
      @include breakpoint(max, 992px) {
        margin-top: 8rem; /* 80px */
      }
      @include breakpoint(max, 576px) {
        width: 9rem; /* 90px */
        height: auto;
        margin-top: 4.5rem; /* 45px */
      }
    }
    .cta-title {
      font-size: 3rem; /* 30px */
      font-weight: 700;
      @include breakpoint(max, 768px) {
        font-size: 2.7rem; /* 27px */
      }
      @include breakpoint(max, 576px) {
        font-size: 2rem; /* 20px */
        margin: 1.6rem 0 3.4rem; /* 16px 34px */
      }
    }
    .cta-description {
      font-weight: 300;
      font-size: 1.7rem; /* 17px */
      max-width: 57rem; /* 570px */
      margin: -2rem auto 6rem; /* -20px 60px */
      @include breakpoint(max, 768px) {
        max-width: 47rem; /* 470px */
      }
      @include breakpoint(max, 576px) {
        max-width: initial;
        padding: 0 3rem; /* 30px */
        font-size: 1.5rem; /* 15px */
        margin: -2rem auto 3rem; /* -20px 30px */
      }
    }
    .white-btn-v2.cta-btn {
      box-shadow: 0 0.8rem 2.7rem 0 /* 8px 27px */ rgba(243, 48, 58, 0.23);
      background: $red-bg;
      color: #fff;
      svg {
        background: #ffffff;
        stroke: $red-bg;
        @include breakpoint(max, 576px) {
          right: 0.6rem; /* 6px */
          top: 0.5rem; /* 5px */
          padding: 1.1rem; /* 11px */
        }
      }
      @include breakpoint(max, 576px) {
        padding: 1.4rem 7.5rem 1.4rem 2.7rem; /* 14px 75px 14px 27px */
        font-size: 1.7rem; /* 17px */
      }
    }
    &:after {
      content: "";
      background: url(../img/lines-bg.png);
      position: absolute;
      width: 77rem; /* 770px */
      height: 80rem; /* 800px */
      background-size: contain;
      top: 26.3rem; /* 263px */
      left: 0;
      opacity: 0.2;
      background-repeat: no-repeat;
      @include breakpoint(max, 992px) {
        display: none;
      }
    }
  }
  .gift-card-v2 {
    color: #ffffff;
    position: relative;
    @include breakpoint(max, 768px) {
      margin-top: 0;
      overflow: hidden;
    }
    .bg {
      max-width: 123rem; /* 1230px */
      border-bottom-left-radius: 3rem; /* 30px */
      border-top-left-radius: 3rem; /* 30px */
      position: relative;
      padding: 7.9rem 0 12rem; /* 79px 120px */
      overflow: hidden;
      background: url("../img/ps-gift-card.png"),
        linear-gradient(#202542, #202542);
      background-position: right top;
      background-repeat: no-repeat;
      background-blend-mode: lighten;
      @include breakpoint(max, 1570px) {
        max-width: 100%;
        border-radius: 0;
      }
      @include breakpoint(max, 1270px) {
        height: 50rem; /* 500px */
      }
      @include breakpoint(max, 576px) {
        height: 35rem; /* 350px */
      }
      @include breakpoint(max, 420px) {
        height: 40rem; /* 400px */
      }
    }
    .c1 {
      position: absolute;
      width: 8.2rem; /* 82px */
      right: 13rem; /* 130px */
      bottom: -4.4rem; /* -44px */
      animation: float 7s linear infinite;
      @include breakpoint(max, 992px) {
        display: none;
      }
    }
    .c2 {
      position: absolute;
      width: 6.2rem; /* 62px */
      top: -2.4rem; /* -24px */
      right: 10rem; /* 100px */
      @include breakpoint(max, 992px) {
        display: none;
      }
    }
    .ps-btn {
      position: absolute;
      bottom: 15rem; /* 150px */
      right: 15rem; /* 150px */
      animation: float 7s linear infinite;
      @include breakpoint(max, 1570px) {
        display: none;
      }
    }
    .gift-cards-v2-carousel-wrapper {
      position: relative;
      top: 3.1rem; /* 31px */
      right: 35rem; /* 350px */
      #gift-cards-v2-carousel-counter {
        position: absolute;
        font-size: 1.2rem; /* 12px */
        color: rgba(255, 255, 255, 0.45);
        direction: ltr;
        top: -0.7rem; /* -7px */
        .current {
          color: #ffffff;
        }
      }
      #gift-cards-v2-carousel {
        max-width: 42.5rem; /* 425px */
        .carousel-content {
          max-width: 42.5rem; /* 425px */
          .title {
            font-size: 3rem; /* 30px */
            margin-bottom: 1.2rem; /* 12px */
            @include breakpoint(max, 576px) {
              font-size: 2rem; /* 20px */
            }
          }
          .description {
            color: #e5e6f7;
            font-weight: 300;
            font-size: 1.6rem; /* 16px */
            text-align: justify;
            @include breakpoint(max, 576px) {
              font-size: 1.4rem; /* 14px */
            }
          }
          @include breakpoint(max, 1270px) {
            max-width: initial;
          }
        }
        .owl-dots {
          display: block;
          position: absolute;
          top: -1rem; /* -10px */
          right: 4.2rem; /* 42px */
          .owl-dot {
            width: 0.6rem; /* 6px */
            height: 0.6rem; /* 6px */
            background: rgba(255, 255, 255, 0.43);
            border-radius: 10rem; /* 100px */
            margin-left: 0.8rem; /* 8px */
            &.active {
              background: rgb(255, 255, 255);
              width: 2.1rem; /* 21px */
            }
          }
        }
        @include breakpoint(max, 1270px) {
          max-width: initial;
        }
      }
      @include breakpoint(max, 1570px) {
        right: 14rem; /* 140px */
      }
      @include breakpoint(max, 1410px) {
        right: 11.4rem; /* 114px */
      }
      @include breakpoint(max, 1315px) {
        right: 7rem; /* 70px */
      }
      @include breakpoint(max, 1270px) {
        width: 85%;
        margin: 0 auto;
        right: 0;
      }
      @include breakpoint(max, 768px) {
        top: -3rem; /* -30px */
      }
    }
    .gift-card-list {
      width: 74.6rem; /* 746px */
      position: absolute;
      left: 30rem; /* 300px */
      display: flex;
      top: 8.8rem; /* 88px */
      // Gift Card Item
      .gift-card-item {
        height: 31.6rem; /* 316px */
        width: 23.1rem; /* 231px */
        border-radius: 1.1rem; /* 11px */
        margin: 0 1rem; /* 10px */
        position: relative;
        @include breakpoint(max, 576px) {
          height: 20.5rem; /* 205px */
          width: 15.3rem; /* 153px */
          background-size: cover;
          margin: 0;
        }
      }
      @include breakpoint(max, 1850px) {
        left: 24.3rem; /* 243px */
      }
      @include breakpoint(max, 1770px) {
        left: 15.6rem; /* 156px */
      }
      @include breakpoint(max, 1670px) {
        left: 5.6rem; /* 56px */
      }
      @include breakpoint(max, 1570px) {
        left: 1rem; /* 10px */
      }
      @include breakpoint(max, 1270px) {
        left: 50%;
        transform: translateX(-50%);
        top: initial;
        bottom: 4rem; /* 40px */
      }
      @include breakpoint(max, 576px) {
        left: 25%;
      }
    }
  }
  .ordering-steps {
    padding: 10rem 0 10rem; /* 100px 100px */
    @include breakpoint(max, 992px) {
      padding: 6rem 1.5rem 10rem; /* 60px 15px 100px */
    }
    > .container {
      display: flex;
      flex-wrap: wrap;
      @include breakpoint(max, 1200px) {
        padding: 0;
      }
    }
    .step-item {
      flex: 0 0 49%;
      margin: 3rem auto 0; /* 30px */
      .title {
        @include breakpoint(max, 768px) {
          font-size: 1.9rem; /* 19px */
        }
      }
      .description {
        @include breakpoint(max, 1200px) {
          padding: 0 4.7rem; /* 47px */
          line-height: 3rem; /* 30px */
        }
        @include breakpoint(max, 768px) {
          padding: 0 2.8rem; /* 28px */
          line-height: 2.9rem; /* 29px */
          font-size: 1.6rem; /* 16px */
        }
      }
      @include breakpoint(max, 768px) {
        display: none;
      }
    }
    @include breakpoint(max, 768px) {
      padding: 0.1rem; /* 1px */
      background: rgba(37, 40, 73, 0.788235294117647);
    }
  }
}
#footer {
  background: url("../img/cta-bg.png") no-repeat center -18rem /* -180px */,
    linear-gradient($darker, $darker);
  color: rgba(255, 255, 255, 0.84);
  padding: 5rem 0 2rem 0; /* 50px 20px */
  position: relative;
  font-size: 1.3rem; /* 13px */
  font-weight: 300;
  overflow: hidden;
  background-size: contain;
  background-blend-mode: color-dodge;
  @include breakpoint(max, 992px) {
    background-position: center -10rem; /* -100px */
  }
  @include breakpoint(max, 768px) {
    background-position: center -4rem; /* -40px */
  }
  .cta {
    text-align: center;
    padding: 1rem 0 17.4rem 0; /* 10px 174px */
    .title {
      font-size: 3rem; /* 30px */
      color: #fff;
      @include breakpoint(max, 576px) {
        font-size: 2.2rem; /* 22px */
        line-height: 3.4rem; /* 34px */
      }
    }
    .description {
      font-size: 1.8rem; /* 18px */
      color: #8c90b1;
      margin-top: -1.6rem; /* -16px */
      @include breakpoint(max, 576px) {
        font-size: 1.4rem; /* 14px */
        margin-top: -0.5rem; /* -5px */
      }
    }
    .white-btn-v2 {
      top: 4rem; /* 40px */
      display: inline-block;
      @include breakpoint(max, 576px) {
        padding: 1.2rem 5.8rem 1.1rem 2.4rem; /* 12px 58px 11px 24px */
        font-size: 1.5rem; /* 15px */
      }
      svg {
        @include breakpoint(max, 576px) {
          right: 0.4rem; /* 4px */
          top: 0.3rem; /* 3px */
          padding: 1.1rem; /* 11px */
          width: 1.2rem; /* 12px */
          height: 1.2rem; /* 12px */
        }
      }
    }
    @include breakpoint(max, 768px) {
      padding: 1rem 3.2rem 10.4rem 3.4rem; /* 10px 32px 104px 34px */
    }
  }
  .circle {
    pointer-events: none;
  }
  .c1 {
    width: 7rem; /* 70px */
    height: 7rem; /* 70px */
    position: absolute;
    right: 16.5rem; /* 165px */
    bottom: -1rem; /* -10px */
    z-index: 1;
    animation: float 5s ease-in-out infinite;
    @include breakpoint(max, 800px) {
      display: none;
    }
  }
  .c2 {
    width: 15rem; /* 150px */
    height: 15rem; /* 150px */
    position: absolute;
    left: 9rem; /* 90px */
    bottom: 15rem; /* 150px */
    z-index: 1;
    animation: float 6s ease-in-out infinite;
    @include breakpoint(max, 992px) {
      width: 10rem; /* 100px */
      height: 10rem; /* 100px */
    }
    @include breakpoint(max, 800px) {
      display: none;
    }
  }
  .c3 {
    position: absolute;
    width: 3.5rem; /* 35px */
    height: 3.5rem; /* 35px */
    right: 12.5rem; /* 125px */
    bottom: 18rem; /* 180px */
    animation: float 4s ease-in-out infinite;
    @include breakpoint(max, 992px) {
      width: 3rem; /* 30px */
      height: 3rem; /* 30px */
    }
    @include breakpoint(max, 600px) {
      display: none;
    }
  }
  .c4 {
    position: absolute;
    width: 8.2rem; /* 82px */
    height: 8.2rem; /* 82px */
    top: 0.8rem; /* 8px */
    left: 55.5rem; /* 555px */
    animation: floatXY 4s linear infinite;
    @include breakpoint(max, 992px) {
      width: 5.2rem; /* 52px */
      height: 5.2rem; /* 52px */
      left: 5.5rem; /* 55px */
    }
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include breakpoint(max, 992px) {
      justify-content: center;
    }
    .description {
      display: flex;
      max-width: 38rem; /* 380px */
      .footer-logo {
        width: 6rem; /* 60px */
        margin-left: 2rem; /* 20px */
        @include breakpoint(max, 576px) {
          margin-bottom: 1.5rem; /* 15px */
        }
      }
      p {
        @include breakpoint(max, 576px) {
          display: none;
        }
      }
    }
    .menu {
      list-style: none;
      li {
        display: inline-block;
        padding: 0.5rem 1rem 1.7rem 1rem; /* 5px 10px 17px 10px */
        margin-left: 6rem; /* 60px */
        position: relative;
        transition: all ease-in-out 0.5s;
        &:after {
          transition: all ease-in-out 0.5s;
          display: block;
          position: absolute;
          content: "";
          width: 2.5rem; /* 25px */
          height: 0.3rem; /* 3px */
          border-radius: 0.15rem; /* 1.5px */
          background: #f3303a;
          box-shadow: 0 0.5rem 1.5rem 0 rgba(243, 48, 58, 0.5),
            0 0.5rem 1.2rem 0 rgba(243, 48, 58, 0.61),
            0 0.4rem 0.7rem 0 /* 5px 15px 5px 12px 4px 7px */
              rgba(243, 48, 58, 0.32);
          bottom: 0;
          left: calc((100% - 2.5rem) / 2);
          opacity: 0;
          visibility: hidden;
        }
        &:hover {
          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
        &.active {
          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      @include breakpoint(max, 992px) {
        flex: 0 0 100%;
        text-align: center;
      }
      @include breakpoint(max, 576px) {
        display: none;
      }
    }
  }
  .copyright {
    .mobile-logo {
      display: none;
    }
    text-align: center;
    color: rgba(240, 242, 248, 0.55);
    direction: ltr;
    margin-top: 5rem; /* 50px */
    font-weight: 300;
    @include breakpoint(max, 992px) {
      border-top: 0.1rem /* 1px */ solid
        rgba(255, 255, 255, 0.12156862745098039);
      padding-top: 1.9rem; /* 19px */
      margin-top: 0;
    }
  }
}
