@charset "UTF-8";
/*********Variable *********/
/********* Mixin *********/
/********* Normalize *********/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font-family: 'YekanBakh',sans-serif;
  font-size: 17px;
  direction: rtl;
  color: #3f4373; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

p {
  line-height: 1.5; }

[hidden] {
  display: none; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px; }
  .container:after {
    content: "";
    clear: both;
    display: table; }
  @media only screen and (min-width: 1200px) {
    .container-xl {
      max-width: 1140px; } }

/********* Font families *********/
@font-face {
  font-family: 'YekanBakh';
  src: url("../../../fonts/iGameYekanver38-Medium.woff2") format("woff2"), url("../../../fonts/iGameYekanver38-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'YekanBakh';
  src: url("../../../fonts/iGameYekanver38-Bold.woff2") format("woff2"), url("../../../fonts/iGameYekanver38-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'YekanBakh';
  src: url("../../../fonts/iGameYekanver38-Heavy.woff2") format("woff2"), url("../../../fonts/iGameYekanver38-Heavy.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'YekanBakhNum';
  src: url("../../../fonts/iGameNumbers-Heavy.woff2") format("woff2"), url("../../../fonts/iGameNumbers-Heavy.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal; }

/********* Animations *********/
@keyframes float {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0px); } }

@keyframes floatXY {
  0% {
    transform: translate(0, 0px); }
  25% {
    transform: translate(6px, 5px); }
  50% {
    transform: translate(-5px, -7px); }
  100% {
    transform: translate(0px, 0px); } }

/********* Components *********/
.white-btn {
  box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
  background: #fff;
  color: #252849;
  border-radius: 100px; }

.white-btn-v2 {
  position: relative;
  background: #fff;
  color: #252849;
  padding: 21px 81px 22px 30px;
  border-radius: 100px;
  font-size: 22px;
  font-weight: 500; }
  .white-btn-v2 svg {
    background: #F3303A;
    border-radius: 100px;
    stroke: #ffffff;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    padding: 16px;
    position: absolute;
    right: 13px;
    top: 9px; }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .white-btn-v2 svg {
        left: 13px;
        right: auto; } }

.red-btn {
  background: #F3303A;
  color: #fff;
  box-shadow: 0 8px 27px 0 rgba(243, 48, 58, 0.23);
  border-radius: 100px;
  position: relative; }
  .red-btn svg {
    position: absolute;
    width: 10px;
    top: 21px;
    height: 10px;
    left: 24px; }

.section-title h2 {
  font-weight: 600;
  padding-right: 35px;
  position: relative;
  font-size: 43px;
  margin: 60px 0 40px;
  color: #3f4373; }
  .section-title h2:after {
    display: block;
    position: absolute;
    content: '';
    width: 4px;
    height: 34px;
    background: #F3303A;
    border-radius: 2px;
    right: 0;
    top: 0;
    box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32); }
    @media only screen and (max-width: 768px) {
      .section-title h2:after {
        right: 13px;
        top: -7px; } }
    @media only screen and (max-width: 576px) {
      .section-title h2:after {
        width: 10px;
        height: 10px;
        border-radius: 12px;
        box-shadow: none;
        right: 18px;
        top: 2px; } }
  @media only screen and (max-width: 992px) {
    .section-title h2 {
      margin: 30px 20px 30px 0;
      flex: 0 0 100%; } }
  @media only screen and (max-width: 768px) {
    .section-title h2 {
      font-size: 33px; } }
  @media only screen and (max-width: 576px) {
    .section-title h2 {
      font-size: 18px;
      font-weight: 500;
      margin: 20px 0 20px; } }

.product-item {
  transition: all .5s;
  border-radius: 21px;
  width: 283px;
  display: inline-block;
  padding: 24px 0 45px 0; }
  .product-item .image-holder {
    transition: all .5s;
    position: relative;
    width: 242px;
    height: 325px;
    margin: auto; }
    .product-item .image-holder img {
      width: 100%;
      height: 100%;
      border-radius: 10px; }
      @media only screen and (max-width: 576px) {
        .product-item .image-holder img {
          border-radius: 5px; } }
    @media only screen and (max-width: 768px) {
      .product-item .image-holder {
        width: 200px;
        height: 270px; } }
    @media only screen and (max-width: 576px) {
      .product-item .image-holder {
        width: 120px;
        height: 160px;
        padding: 0; } }
    .product-item .image-holder .product-info {
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(to bottom, rgba(34, 39, 71, 0) 0%, #222747 60%);
      width: 100%;
      border-bottom-left-radius: 11px;
      border-bottom-right-radius: 11px;
      height: 200px;
      text-align: center; }
      .product-item .image-holder .product-info .product-platform {
        position: relative;
        top: 85px; }
        .product-item .image-holder .product-info .product-platform img {
          width: 41px;
          height: 41px;
          margin: 10px auto; }
        .product-item .image-holder .product-info .product-platform span {
          font-weight: 300;
          color: #ffffff;
          font-size: 17px;
          text-transform: uppercase;
          position: relative; }
          .product-item .image-holder .product-info .product-platform span:after {
            position: absolute;
            bottom: -2px;
            left: 0;
            content: '';
            height: 2px;
            width: 100%;
            background: #ffffff;
            opacity: .2; }
      @media only screen and (max-width: 576px) {
        .product-item .image-holder .product-info {
          display: none; } }
  .product-item .product-bottom {
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto; }
    @media only screen and (max-width: 576px) {
      .product-item .product-bottom {
        max-width: 120px; } }
    .product-item .product-bottom .product-title {
      font-weight: bold;
      font-size: 16px;
      color: #3f4373;
      margin-top: 25px;
      line-height: 1.5;
      text-align: left;
      display: block;
      min-height: 54px; }
      @media only screen and (max-width: 576px) {
        .product-item .product-bottom .product-title {
          font-weight: 400;
          font-size: 13px;
          margin-top: 12px; } }
    .product-item .product-bottom .product-card-price .original-price {
      font-family: 'YekanBakhNum';
      color: rgba(63, 67, 115, 0.8);
      font-size: 16px;
      text-decoration: line-through; }
      @media only screen and (max-width: 576px) {
        .product-item .product-bottom .product-card-price .original-price {
          display: none; } }
    .product-item .product-bottom .product-card-price .sale-range {
      transition: all .5s;
      font-family: 'YekanBakhNum';
      display: inline-block;
      font-size: 12px;
      padding: 5px 5px 3px 5px;
      color: #F3303A;
      background: #ffffff;
      border: 2px solid #F3303A;
      border-radius: 10px;
      margin-left: 5px; }
      @media only screen and (max-width: 576px) {
        .product-item .product-bottom .product-card-price .sale-range {
          font-size: 11px;
          padding: 2px 2px 1px 2px; } }
    .product-item .product-bottom .product-card-price .sale-price {
      display: block;
      font-family: 'YekanBakhNum';
      font-size: 25px;
      color: #3f4373;
      position: relative;
      padding-left: 40px; }
      .product-item .product-bottom .product-card-price .sale-price:before {
        font-weight: bold;
        font-family: 'YekanBakh' !important;
        display: block;
        position: absolute;
        content: 'تومان';
        font-size: 14px;
        color: rgba(63, 67, 115, 0.8);
        left: 0;
        bottom: 5px; }
        @media only screen and (max-width: 576px) {
          .product-item .product-bottom .product-card-price .sale-price:before {
            font-weight: 400;
            font-size: 11px;
            left: 15px;
            bottom: 4px; } }
      @media only screen and (max-width: 576px) {
        .product-item .product-bottom .product-card-price .sale-price {
          font-size: 14px; } }
    @media only screen and (max-width: 576px) {
      .product-item .product-bottom .product-card-price {
        display: flex; } }
    .product-item .product-bottom .add-to-basket {
      width: 48px;
      height: 48px;
      font-size: 28px;
      line-height: 1.8;
      font-weight: bold;
      transition: all .5s;
      border-radius: 100px;
      text-align: center;
      border: 2px solid #dfe1f4; }
      .product-item .product-bottom .add-to-basket svg {
        stroke: #252849;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        transition: all .5s; }
      @media only screen and (max-width: 576px) {
        .product-item .product-bottom .add-to-basket {
          display: none; } }
  .product-item:hover {
    background: #ffffff;
    box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21); }
    .product-item:hover .product-bottom .add-to-basket {
      border-color: #F3303A;
      background: #F3303A;
      box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32); }
      .product-item:hover .product-bottom .add-to-basket svg {
        stroke: #ffffff; }
  @media only screen and (max-width: 768px) {
    .product-item {
      background: #ffffff;
      margin: 0 10px;
      box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
      width: 243px;
      display: inline-block;
      padding: 18px 0 19px 0; } }
  @media only screen and (max-width: 576px) {
    .product-item {
      width: 120px;
      height: 255px;
      padding: 15px;
      box-shadow: none;
      margin: 0 4px;
      border-radius: 5px; } }

.step-item {
  text-align: center;
  position: relative;
  border-radius: 10px;
  transition: all .5s;
  min-height: 273px;
  max-width: 530px;
  padding: 50px 0 0; }
  .step-item .icon {
    width: 85px;
    height: 84px;
    border-radius: 100px;
    background: #ffffff;
    display: inline-block;
    box-shadow: 0px 1px 1px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
    transition: all .5s; }
    .step-item .icon svg {
      width: 34px;
      height: 34px;
      fill: #3f4373;
      opacity: .8;
      position: relative;
      top: 24px;
      transition: all .3s; }
  .step-item .title {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 12px; }
  .step-item .description {
    opacity: .8;
    max-width: 470px;
    font-weight: 300;
    margin: 0 auto;
    font-size: 15px;
    text-align: justify; }
  .step-item:after {
    content: attr(data-step);
    position: absolute;
    right: 69px;
    background: #F3303A;
    border-radius: 100px;
    color: #ffffff;
    top: 44px;
    width: 28px;
    height: 23px;
    padding-top: 5px;
    font-family: 'YekanBakhNum';
    transition: all .5s;
    box-shadow: 5px 8px 10px rgba(243, 48, 58, 0.35); }
  .step-item:hover:after {
    background: #252849;
    box-shadow: none; }
  .step-item:hover .icon {
    background: #F3303A;
    box-shadow: 3px 4px 14px 0 rgba(243, 48, 58, 0.28); }
    .step-item:hover .icon svg {
      fill: #ffffff; }
  @media only screen and (max-width: 768px) {
    .step-item {
      box-shadow: 0 9px 20px 0 rgba(170, 188, 212, 0.29), 0 2px 1px 0 rgba(170, 188, 212, 0.21);
      background: #fff;
      padding: 30px 0 0; } }

.filter-card ul {
  list-style: none;
  padding-right: 0;
  display: inline-block; }
  .filter-card ul li {
    display: inline-block;
    font-size: 13px;
    box-shadow: 0px 2px 2px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.12);
    background: #fff;
    padding: 10px 20px;
    border-radius: 100px;
    margin-left: 7px; }

body {
  background: #f7f8ff; }

@media only screen and (max-width: 1570px) {
  .container {
    max-width: 1117px; } }

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 992px; } }

#header {
  background: url(../img/steam-hero-bg.png), linear-gradient(#202542, #202542);
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-size: cover;
  position: relative;
  overflow: hidden;
  min-height: 845px; }
  #header:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/hero-overlay.png), linear-gradient(rgba(32, 37, 66, 0.8), rgba(32, 37, 66, 0.33));
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%; }
  @media only screen and (max-width: 1770px) {
    #header {
      background-size: cover; } }
  @media only screen and (max-width: 992px) {
    #header {
      min-height: 790px; } }
  @media only screen and (max-width: 576px) {
    #header {
      min-height: 595px; } }
  #header .nav {
    z-index: 2;
    position: relative; }
    #header .nav .logo {
      width: 125px;
      height: 31px;
      float: right;
      margin-top: 50px; }
      @media only screen and (max-width: 576px) {
        #header .nav .logo {
          width: 110px;
          height: 24px;
          margin-top: 30px; } }
    #header .nav .white-btn {
      margin-top: 40px;
      float: left;
      padding: 14px 36px;
      font-size: 17px;
      z-index: 1;
      position: relative; }
      @media only screen and (max-width: 575px) {
        #header .nav .white-btn {
          font-size: 15px;
          margin-top: 22px; } }
      @media only screen and (max-width: 380px) {
        #header .nav .white-btn {
          padding: 12px 22px; } }
    @media only screen and (max-width: 1410px) {
      #header .nav {
        max-width: 1070px;
        margin: 0 auto;
        padding: 0 57px; } }
    @media only screen and (max-width: 576px) {
      #header .nav {
        padding: 0 30px; } }
  #header .hero {
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 1200px) {
      #header .hero {
        flex-wrap: wrap; } }
    #header .hero .intro {
      text-align: center;
      position: relative;
      width: 100%;
      max-width: 580px;
      margin: 100px 0px 120px 0; }
      @media only screen and (max-width: 1770px) {
        #header .hero .intro {
          margin: 100px 0px 120px 0; } }
      @media only screen and (max-width: 1570px) {
        #header .hero .intro {
          margin: 100px 0px 120px 0;
          max-width: 500px; } }
      @media only screen and (max-width: 1350px) {
        #header .hero .intro {
          margin: 100px 0px 120px 0;
          max-width: 500px; } }
      @media only screen and (max-width: 768px) {
        #header .hero .intro {
          margin: 100px 0px 0 0; } }
      @media only screen and (max-width: 576px) {
        #header .hero .intro {
          margin: 20px auto 60px;
          text-align: center; } }
      @media only screen and (max-width: 1200px) {
        #header .hero .intro .steam-logo {
          transform: scale(0.8); } }
      @media only screen and (max-width: 992px) {
        #header .hero .intro .steam-logo {
          transform: scale(0.7); } }
      @media only screen and (max-width: 576px) {
        #header .hero .intro .steam-logo {
          transform: scale(0.5);
          margin-bottom: -20px; } }
      #header .hero .intro .title {
        font-size: 45px;
        font-weight: 600;
        color: #ffffff; }
        #header .hero .intro .title strong {
          font-weight: 400;
          color: #ffffff; }
        @media only screen and (max-width: 1570px) {
          #header .hero .intro .title {
            font-size: 41px; } }
        @media only screen and (max-width: 1410px) {
          #header .hero .intro .title {
            font-size: 39px; } }
        @media only screen and (max-width: 992px) {
          #header .hero .intro .title {
            margin-top: 0; } }
        @media only screen and (max-width: 576px) {
          #header .hero .intro .title {
            font-size: 30px;
            text-align: center;
            line-height: 47px;
            padding: 0 28px; } }
        @media only screen and (max-width: 380px) {
          #header .hero .intro .title {
            font-size: 23px;
            line-height: 38px; } }
      #header .hero .intro .description {
        position: relative;
        top: -15px;
        opacity: .8;
        font-weight: 300;
        color: #b3b7d8; }
        @media only screen and (max-width: 1410px) {
          #header .hero .intro .description {
            font-size: 16px; } }
        @media only screen and (max-width: 576px) {
          #header .hero .intro .description {
            padding: 0 22px;
            margin: 21px 19px -15px;
            font-size: 15px; } }
      #header .hero .intro .red-btn {
        padding: 14px 38px 14px 94px;
        font-size: 18px;
        top: 40px; }
        @media only screen and (max-width: 1410px) {
          #header .hero .intro .red-btn {
            padding: 14px 30px 14px 67px;
            font-size: 16px; } }
        @media only screen and (max-width: 576px) {
          #header .hero .intro .red-btn {
            top: 44px;
            padding: 11px 25px 12px 61px; } }
      #header .hero .intro .scroll-down {
        margin: 0 auto;
        position: relative;
        top: 95px;
        cursor: pointer;
        opacity: .8; }
        #header .hero .intro .scroll-down span {
          font-size: 14px;
          color: #ffffff;
          display: block;
          font-weight: 300;
          margin-bottom: 7px; }
        #header .hero .intro .scroll-down svg {
          stroke: #ffffff;
          width: 20px;
          height: 31px; }

#main {
  border-top-right-radius: 61px;
  margin-top: -84px;
  background: #f7f8ff;
  z-index: 2;
  position: relative; }
  @media only screen and (max-width: 992px) {
    #main {
      border-top-right-radius: 0px; } }
  #main .gift-card {
    margin-top: 30px;
    margin-bottom: 80px;
    overflow: hidden;
    padding-top: 20px; }
    #main .gift-card .section-title {
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
      #main .gift-card .section-title span {
        max-width: 560px;
        color: #8c90b1;
        font-weight: 300;
        position: relative;
        top: 8px;
        right: 30px; }
        @media only screen and (max-width: 992px) {
          #main .gift-card .section-title span {
            font-size: 15px;
            padding-left: 40px;
            top: -8px; } }
        @media only screen and (max-width: 576px) {
          #main .gift-card .section-title span {
            font-size: 13px;
            line-height: 24px;
            top: -4px; } }
    #main .gift-card .product-item {
      margin-bottom: 40px; }
      @media only screen and (max-width: 768px) {
        #main .gift-card .product-item {
          margin-bottom: 44px;
          margin-top: 25px; } }
      @media only screen and (max-width: 576px) {
        #main .gift-card .product-item {
          margin-bottom: 20px; } }
    @media only screen and (max-width: 576px) {
      #main .gift-card #gift-cards-carousel {
        right: -80px; } }
    @media only screen and (max-width: 576px) {
      #main .gift-card #gift-cards-carousel .owl-stage-outer {
        overflow: visible !important; } }
    #main .gift-card #gift-cards-carousel .owl-nav {
      position: absolute;
      left: 60px;
      top: -105px; }
      @media only screen and (max-width: 1200px) {
        #main .gift-card #gift-cards-carousel .owl-nav {
          left: 30px; } }
      @media only screen and (max-width: 768px) {
        #main .gift-card #gift-cards-carousel .owl-nav {
          display: none; } }
      #main .gift-card #gift-cards-carousel .owl-nav .owl-prev {
        display: none; }
      #main .gift-card #gift-cards-carousel .owl-nav .owl-next {
        background: transparent;
        padding: 12px 3px !important;
        border-radius: 100px;
        outline: none;
        border: 2px solid #cacdea; }
        #main .gift-card #gift-cards-carousel .owl-nav .owl-next svg {
          width: 25px;
          height: 34px;
          position: relative;
          top: 3px;
          fill: #252849; }
    @media only screen and (max-width: 1370px) {
      #main .gift-card {
        margin-bottom: 5px; } }
    @media only screen and (max-width: 1200px) {
      #main .gift-card {
        margin-top: 0; } }
    @media only screen and (max-width: 768px) {
      #main .gift-card {
        margin-bottom: 0; } }
  #main .gift-card-v2 {
    color: #ffffff;
    position: relative; }
    @media only screen and (max-width: 768px) {
      #main .gift-card-v2 {
        margin-top: 0;
        overflow: hidden; } }
    #main .gift-card-v2 .bg {
      max-width: 1230px;
      border-bottom-left-radius: 30px;
      border-top-left-radius: 30px;
      position: relative;
      padding: 79px 0 120px;
      overflow: hidden;
      background: url("../img/gc-bg.png"), linear-gradient(#202542, #202542);
      background-position: right top;
      background-repeat: no-repeat;
      background-blend-mode: lighten; }
      @media only screen and (max-width: 1570px) {
        #main .gift-card-v2 .bg {
          max-width: 100%;
          border-radius: 0; } }
      @media only screen and (max-width: 1270px) {
        #main .gift-card-v2 .bg {
          height: 500px; } }
      @media only screen and (max-width: 576px) {
        #main .gift-card-v2 .bg {
          height: 335px; } }
      @media only screen and (max-width: 420px) {
        #main .gift-card-v2 .bg {
          height: 390px; } }
    #main .gift-card-v2 .c1 {
      position: absolute;
      width: 82px;
      right: 130px;
      bottom: -44px;
      animation: float 7s linear infinite; }
      @media only screen and (max-width: 992px) {
        #main .gift-card-v2 .c1 {
          display: none; } }
    #main .gift-card-v2 .c2 {
      position: absolute;
      width: 90px;
      top: -47px;
      right: -62px; }
      @media only screen and (max-width: 992px) {
        #main .gift-card-v2 .c2 {
          display: none; } }
    #main .gift-card-v2 .gift-cards-v2-carousel-wrapper {
      position: relative;
      top: 31px;
      right: 350px; }
      #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel-counter {
        position: absolute;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.45);
        direction: ltr;
        top: -7px; }
        #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel-counter .current {
          color: #ffffff; }
      #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel {
        max-width: 425px; }
        #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel .carousel-content {
          max-width: 425px; }
          #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel .carousel-content .title {
            font-size: 30px;
            margin-bottom: 12px; }
            @media only screen and (max-width: 576px) {
              #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel .carousel-content .title {
                font-size: 20px; } }
          #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel .carousel-content .description {
            color: #e5e6f7;
            font-weight: 300;
            font-size: 16px;
            text-align: justify; }
            @media only screen and (max-width: 576px) {
              #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel .carousel-content .description {
                font-size: 14px; } }
          @media only screen and (max-width: 1270px) {
            #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel .carousel-content {
              max-width: initial; } }
        #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel .owl-dots {
          display: block;
          position: absolute;
          top: -10px;
          right: 42px; }
          #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel .owl-dots .owl-dot {
            width: 6px;
            height: 6px;
            background: rgba(255, 255, 255, 0.43);
            border-radius: 100px;
            margin-left: 8px; }
            #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel .owl-dots .owl-dot.active {
              background: white;
              width: 21px; }
        @media only screen and (max-width: 1270px) {
          #main .gift-card-v2 .gift-cards-v2-carousel-wrapper #gift-cards-v2-carousel {
            max-width: initial; } }
      @media only screen and (max-width: 1570px) {
        #main .gift-card-v2 .gift-cards-v2-carousel-wrapper {
          right: 140px; } }
      @media only screen and (max-width: 1410px) {
        #main .gift-card-v2 .gift-cards-v2-carousel-wrapper {
          right: 114px; } }
      @media only screen and (max-width: 1315px) {
        #main .gift-card-v2 .gift-cards-v2-carousel-wrapper {
          right: 70px; } }
      @media only screen and (max-width: 1270px) {
        #main .gift-card-v2 .gift-cards-v2-carousel-wrapper {
          width: 85%;
          margin: 0 auto;
          right: 0; } }
      @media only screen and (max-width: 768px) {
        #main .gift-card-v2 .gift-cards-v2-carousel-wrapper {
          top: -30px; } }
    #main .gift-card-v2 .gift-card-list {
      width: 700px;
      position: absolute;
      left: 300px;
      display: flex;
      top: 88px; }
      #main .gift-card-v2 .gift-card-list .gift-card-item {
        height: 311px;
        width: 211px;
        border-radius: 6px;
        margin: 0 10px;
        position: relative; }
        @media only screen and (max-width: 576px) {
          #main .gift-card-v2 .gift-card-list .gift-card-item {
            height: 195px;
            width: 152px; } }
        #main .gift-card-v2 .gift-card-list .gift-card-item .shape {
          width: 43px;
          height: 10px;
          border-radius: 100px;
          background: rgba(255, 255, 255, 0.76);
          display: block;
          margin: 0 auto;
          position: relative;
          top: 20px; }
          #main .gift-card-v2 .gift-card-list .gift-card-item .shape:after {
            content: '';
            width: 11px;
            height: 7px;
            background: rgba(255, 255, 255, 0.76);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -7px;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px; }
        #main .gift-card-v2 .gift-card-list .gift-card-item .price {
          font-size: 99px;
          font-weight: 800;
          display: block;
          text-align: center;
          padding-top: 75px;
          padding-bottom: 30px;
          position: relative; }
          #main .gift-card-v2 .gift-card-list .gift-card-item .price:before {
            content: 'USD';
            border-bottom: 2px solid rgba(255, 255, 255, 0.4);
            padding-bottom: 20px;
            height: 2px;
            position: absolute;
            bottom: 15px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 16px;
            color: rgba(255, 255, 255, 0.4);
            font-weight: 300; }
            @media only screen and (max-width: 576px) {
              #main .gift-card-v2 .gift-card-list .gift-card-item .price:before {
                font-size: 14px;
                bottom: 10px; } }
          @media only screen and (max-width: 576px) {
            #main .gift-card-v2 .gift-card-list .gift-card-item .price {
              font-size: 42px;
              padding-top: 37px; } }
        #main .gift-card-v2 .gift-card-list .gift-card-item .description {
          font-weight: 300;
          text-align: center;
          display: block; }
          #main .gift-card-v2 .gift-card-list .gift-card-item .description strong {
            font-weight: 600; }
          @media only screen and (max-width: 576px) {
            #main .gift-card-v2 .gift-card-list .gift-card-item .description {
              font-size: 13px; } }
        #main .gift-card-v2 .gift-card-list .gift-card-item:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          background: url("../img/steam-card-overlay.png");
          width: 183px;
          height: 189px; }
        #main .gift-card-v2 .gift-card-list .gift-card-item:after {
          position: absolute;
          bottom: 17px;
          left: 50%;
          transform: translateX(-50%);
          content: '...';
          width: 43px;
          height: 0;
          border-radius: 100px;
          border: 2px solid rgba(255, 255, 255, 0.41);
          text-align: center;
          padding: 0 0 21px;
          transition: all .3s;
          font-size: 18px; }
        #main .gift-card-v2 .gift-card-list .gift-card-item.five {
          background: linear-gradient(#4e7cff, #6a8ff8); }
        #main .gift-card-v2 .gift-card-list .gift-card-item.ten {
          background: linear-gradient(#f3303a, #ee454e); }
        #main .gift-card-v2 .gift-card-list .gift-card-item.twenty-five {
          background: linear-gradient(#65e39b, #41cd7d); }
      @media only screen and (max-width: 1850px) {
        #main .gift-card-v2 .gift-card-list {
          left: 243px; } }
      @media only screen and (max-width: 1770px) {
        #main .gift-card-v2 .gift-card-list {
          left: 156px; } }
      @media only screen and (max-width: 1670px) {
        #main .gift-card-v2 .gift-card-list {
          left: 56px; } }
      @media only screen and (max-width: 1570px) {
        #main .gift-card-v2 .gift-card-list {
          left: 10px; } }
      @media only screen and (max-width: 1270px) {
        #main .gift-card-v2 .gift-card-list {
          left: 50%;
          transform: translateX(-50%);
          top: initial;
          bottom: 40px; } }
      #main .gift-card-v2 .gift-card-list .owl-nav {
        position: absolute;
        left: 12px;
        top: -65px; }
        #main .gift-card-v2 .gift-card-list .owl-nav svg {
          width: 23px;
          height: 21px;
          fill: #252849;
          opacity: .7; }
        #main .gift-card-v2 .gift-card-list .owl-nav .owl-next {
          outline: none; }
        #main .gift-card-v2 .gift-card-list .owl-nav .owl-prev {
          outline: none;
          transform: rotate(180deg);
          top: -7px;
          position: relative;
          left: 9px; }
  #main .ordering-steps {
    padding: 100px 0 100px; }
    @media only screen and (max-width: 992px) {
      #main .ordering-steps {
        padding: 60px 15px 100px; } }
    #main .ordering-steps > .container {
      display: flex;
      flex-wrap: wrap; }
      #main .ordering-steps > .container .circle {
        position: absolute;
        opacity: .3; }
        #main .ordering-steps > .container .circle.c1 {
          width: 31px;
          height: 31px;
          left: 60px;
          top: 108px;
          z-index: -1; }
        #main .ordering-steps > .container .circle.c2 {
          width: 14px;
          height: 14px;
          left: 0;
          top: 120px; }
      @media only screen and (max-width: 1200px) {
        #main .ordering-steps > .container {
          padding: 0; } }
    #main .ordering-steps .step-item {
      flex: 0 0 24%;
      margin: 30px auto 0;
      max-width: 230px; }
      @media only screen and (max-width: 768px) {
        #main .ordering-steps .step-item .title {
          font-size: 19px; } }
      @media only screen and (max-width: 1200px) {
        #main .ordering-steps .step-item .description {
          padding: 0 47px;
          line-height: 30px; } }
      @media only screen and (max-width: 768px) {
        #main .ordering-steps .step-item .description {
          padding: 0 28px;
          line-height: 29px;
          font-size: 16px; } }
      @media only screen and (max-width: 1200px) {
        #main .ordering-steps .step-item {
          flex: 0 0 49%;
          max-width: initial; }
          #main .ordering-steps .step-item:after {
            top: 52px;
            right: 188px; } }
      @media only screen and (max-width: 992px) {
        #main .ordering-steps .step-item:after {
          top: 27px;
          right: 140px; } }
      @media only screen and (max-width: 768px) {
        #main .ordering-steps .step-item {
          display: none; } }
    @media only screen and (max-width: 768px) {
      #main .ordering-steps {
        padding: 1px;
        background: rgba(37, 40, 73, 0.788235); } }

#footer {
  background: url("../img/cta-bg.png") no-repeat center -180px, linear-gradient(#252849, #252849);
  color: rgba(255, 255, 255, 0.84);
  padding: 50px 0 20px 0;
  position: relative;
  font-size: 13px;
  font-weight: 300;
  overflow: hidden;
  background-size: contain;
  background-blend-mode: color-dodge; }
  @media only screen and (max-width: 992px) {
    #footer {
      background-position: center -100px; } }
  @media only screen and (max-width: 768px) {
    #footer {
      background-position: center -40px; } }
  #footer .cta {
    text-align: center;
    padding: 10px 0 174px 0; }
    #footer .cta .title {
      font-size: 30px;
      color: #fff; }
      @media only screen and (max-width: 576px) {
        #footer .cta .title {
          font-size: 22px;
          line-height: 34px; } }
    #footer .cta .description {
      font-size: 18px;
      color: #8c90b1;
      margin-top: -16px; }
      @media only screen and (max-width: 576px) {
        #footer .cta .description {
          font-size: 14px;
          margin-top: -5px; } }
    #footer .cta .white-btn-v2 {
      top: 40px;
      display: inline-block; }
      @media only screen and (max-width: 576px) {
        #footer .cta .white-btn-v2 {
          padding: 12px 58px 11px 24px;
          font-size: 15px; } }
      @media only screen and (max-width: 768px) {
        #footer .cta .white-btn-v2 svg {
          right: 80px; } }
      @media only screen and (max-width: 576px) {
        #footer .cta .white-btn-v2 svg {
          right: 4px;
          top: 3px;
          padding: 11px;
          width: 12px;
          height: 12px; } }
    @media only screen and (max-width: 768px) {
      #footer .cta {
        padding: 10px 32px 104px 34px; } }
  #footer .circle {
    pointer-events: none; }
  #footer .c1 {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 165px;
    bottom: -10px;
    z-index: 1;
    animation: float 5s ease-in-out infinite; }
    @media only screen and (max-width: 800px) {
      #footer .c1 {
        display: none; } }
  #footer .c2 {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 90px;
    bottom: 150px;
    z-index: 1;
    animation: float 6s ease-in-out infinite; }
    @media only screen and (max-width: 992px) {
      #footer .c2 {
        width: 100px;
        height: 100px; } }
    @media only screen and (max-width: 800px) {
      #footer .c2 {
        display: none; } }
  #footer .c3 {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 125px;
    bottom: 180px;
    animation: float 4s ease-in-out infinite; }
    @media only screen and (max-width: 992px) {
      #footer .c3 {
        width: 30px;
        height: 30px; } }
    @media only screen and (max-width: 600px) {
      #footer .c3 {
        display: none; } }
  #footer .c4 {
    position: absolute;
    width: 82px;
    height: 82px;
    top: 8px;
    left: 555px;
    animation: floatXY 4s linear infinite; }
    @media only screen and (max-width: 992px) {
      #footer .c4 {
        width: 52px;
        height: 52px;
        left: 55px; } }
  #footer .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media only screen and (max-width: 992px) {
      #footer .content {
        justify-content: center; } }
    #footer .content .description {
      display: flex;
      max-width: 380px; }
      #footer .content .description .footer-logo {
        width: 60px;
        margin-left: 20px; }
        @media only screen and (max-width: 576px) {
          #footer .content .description .footer-logo {
            margin-bottom: 15px; } }
      @media only screen and (max-width: 576px) {
        #footer .content .description p {
          display: none; } }
    #footer .content .menu {
      list-style: none; }
      #footer .content .menu li {
        display: inline-block;
        padding: 5px 10px 17px 10px;
        margin-left: 60px;
        position: relative;
        transition: all ease-in-out 0.5s; }
        #footer .content .menu li:after {
          transition: all ease-in-out 0.5s;
          display: block;
          position: absolute;
          content: '';
          width: 25px;
          height: 3px;
          border-radius: 1.5px;
          background: #F3303A;
          box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32);
          bottom: 0;
          left: calc((100% - 25px)/2);
          opacity: 0;
          visibility: hidden; }
        #footer .content .menu li:hover:after {
          opacity: 1;
          visibility: visible; }
        #footer .content .menu li.active:after {
          opacity: 1;
          visibility: visible; }
      @media only screen and (max-width: 992px) {
        #footer .content .menu {
          flex: 0 0 100%;
          text-align: center; } }
      @media only screen and (max-width: 576px) {
        #footer .content .menu {
          display: none; } }
  #footer .copyright {
    text-align: center;
    color: rgba(240, 242, 248, 0.55);
    direction: ltr;
    margin-top: 50px;
    font-weight: 300; }
    #footer .copyright .mobile-logo {
      display: none; }
    @media only screen and (max-width: 992px) {
      #footer .copyright {
        border-top: 1px solid rgba(255, 255, 255, 0.121569);
        padding-top: 19px;
        margin-top: 0; } }
