@charset "UTF-8";
/*********Variable *********/
/********* Mixin *********/
/********* Normalize *********/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font-family: 'YekanBakh',sans-serif;
  font-size: 17px;
  direction: rtl;
  color: #3f4373; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

p {
  line-height: 1.5; }

[hidden] {
  display: none; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px; }
  .container:after {
    content: "";
    clear: both;
    display: table; }
  .container-xl {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%; }
    .container-xl:after {
      content: "";
      clear: both;
      display: table; }

/********* Font families *********/
@font-face {
  font-family: 'YekanBakh';
  src: url("../../../fonts/iGameYekanver38-Medium.woff2") format("woff2"), url("../../../fonts/iGameYekanver38-Medium.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'YekanBakh';
  src: url("../../../fonts/iGameYekanver38-Bold.woff2") format("woff2"), url("../../../fonts/iGameYekanver38-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'YekanBakh';
  src: url("../../../fonts/iGameYekanver38-Heavy.woff2") format("woff2"), url("../../../fonts/iGameYekanver38-Heavy.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'YekanBakhNum';
  src: url("../../../fonts/iGameNumbers-Heavy.woff2") format("woff2"), url("../../../fonts/iGameNumbers-Heavy.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

/********* Animations *********/
@keyframes float {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0px); } }

@keyframes floatXY {
  0% {
    transform: translate(0, 0px); }
  25% {
    transform: translate(6px, 5px); }
  50% {
    transform: translate(-5px, -7px); }
  100% {
    transform: translate(0px, 0px); } }

/********* Components *********/
.white-btn {
  box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
  background: #fff;
  color: #252849;
  border-radius: 100px; }

.white-btn-v2 {
  position: relative;
  background: #fff;
  color: #252849;
  padding: 16px 81px 18px 30px;
  border-radius: 100px;
  font-size: 22px;
  font-weight: 500; }
  .white-btn-v2 svg {
    background: #F3303A;
    border-radius: 100px;
    stroke: #ffffff;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    padding: 16px;
    position: absolute;
    right: 13px;
    top: 9px; }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .white-btn-v2 svg {
        left: 13px;
        right: auto; } }

.red-btn {
  background: #F3303A;
  color: #fff;
  box-shadow: 0 8px 27px 0 rgba(243, 48, 58, 0.23);
  border-radius: 100px;
  position: relative; }
  .red-btn svg {
    position: absolute;
    width: 10px;
    top: 21px;
    height: 10px;
    left: 24px; }

.service-item {
  height: 315px;
  width: 230px;
  border-radius: 14px;
  position: relative;
  overflow: hidden; }

.section-title h2 {
  font-weight: 600;
  padding-right: 35px;
  position: relative;
  font-size: 43px;
  color: #252849; }
  .section-title h2:after {
    display: block;
    position: absolute;
    content: '';
    width: 4px;
    height: 34px;
    background: #F3303A;
    border-radius: 2px;
    right: 0;
    top: 0;
    box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32); }

.product-item {
  transition: all .5s;
  border-radius: 11px;
  width: 270px;
  display: inline-block;
  padding: 24px 0 45px 0; }
  .product-item .image-holder {
    transition: all .5s;
    position: relative;
    width: 200px;
    height: 270px;
    margin: auto; }
    .product-item .image-holder img {
      width: 100%;
      height: 100%; }
    @media only screen and (max-width: 768px) {
      .product-item .image-holder {
        width: 200px;
        height: 270px; } }
    @media only screen and (max-width: 500px) {
      .product-item .image-holder {
        width: 180px;
        height: 250px; } }
  .product-item .product-bottom {
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto; }
    .product-item .product-bottom .product-title {
      font-weight: bold;
      font-size: 16px;
      color: #3f4373;
      margin-top: 25px;
      line-height: 1.5; }
    .product-item .product-bottom .product-card-price .original-price {
      font-family: 'YekanBakhNum';
      color: rgba(63, 67, 115, 0.8);
      font-size: 16px;
      text-decoration: line-through; }
    .product-item .product-bottom .product-card-price .sale-range {
      transition: all .5s;
      font-family: 'YekanBakhNum';
      display: inline-block;
      font-size: 12px;
      color: #ffffff;
      padding: 5px 5px 3px 5px;
      background: #F3303A;
      border-radius: 10px;
      border: 2px solid transparent;
      margin-left: 5px; }
    .product-item .product-bottom .product-card-price .sale-price {
      display: block;
      font-family: 'YekanBakhNum';
      font-size: 25px;
      color: #3f4373;
      position: relative;
      padding-left: 40px; }
      .product-item .product-bottom .product-card-price .sale-price:before {
        font-weight: bold;
        font-family: 'YekanBakh' !important;
        display: block;
        position: absolute;
        content: 'تومان';
        font-size: 14px;
        color: rgba(63, 67, 115, 0.8);
        left: 0;
        bottom: 5px; }
    .product-item .product-bottom .add-to-basket {
      width: 48px;
      height: 48px;
      font-size: 28px;
      line-height: 1.8;
      font-weight: bold;
      transition: all .5s;
      border-radius: 100px;
      text-align: center;
      border: 2px solid #dfe1f4; }
      .product-item .product-bottom .add-to-basket svg {
        stroke: #252849;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        transition: all .5s; }
  .product-item:hover {
    background: #ffffff;
    box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21); }
    .product-item:hover .product-bottom .sale-range {
      color: #F3303A;
      background: #ffffff;
      border-color: #F3303A; }
    .product-item:hover .product-bottom .add-to-basket {
      border-color: #F3303A;
      background: #F3303A;
      box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32); }
      .product-item:hover .product-bottom .add-to-basket svg {
        stroke: #ffffff; }
  @media only screen and (max-width: 768px) {
    .product-item {
      background: #ffffff;
      margin: 0 10px;
      box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
      width: 243px;
      display: inline-block;
      padding: 18px 0 19px 0; } }

.step-item {
  text-align: center;
  position: relative;
  border-radius: 10px;
  transition: all .5s;
  min-height: 273px;
  max-width: 530px;
  padding: 50px 0 0; }
  .step-item .icon {
    width: 58px;
    height: 57px;
    border-radius: 100px;
    background: #ffffff;
    display: inline-block;
    box-shadow: 0px 1px 1px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
    transition: all .5s; }
    .step-item .icon svg {
      width: 26px;
      height: 26px;
      fill: #3f4373;
      opacity: .8;
      position: relative;
      top: 14px;
      transition: all .3s; }
  .step-item .title {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 12px; }
  .step-item .description {
    opacity: .8;
    max-width: 470px;
    font-weight: 300;
    margin: 0 auto; }
  .step-item:after {
    content: attr(data-step);
    position: absolute;
    right: 21px;
    background: #252849;
    border-radius: 100px;
    color: #ffffff;
    top: 21px;
    width: 28px;
    height: 23px;
    padding-top: 5px;
    font-family: 'YekanBakhNum';
    visibility: hidden;
    opacity: 0;
    transition: all .5s; }
  .step-item:hover {
    background: #ffffff;
    box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 1px 1px 4px 0 rgba(170, 188, 212, 0.21), 19px 6px 20px 0 rgba(170, 188, 212, 0.18); }
    .step-item:hover:after {
      opacity: 1;
      visibility: visible; }
    .step-item:hover .icon {
      background: #F3303A;
      box-shadow: 3px 4px 14px 0 rgba(243, 48, 58, 0.28); }
      .step-item:hover .icon svg {
        fill: #ffffff; }
  @media only screen and (max-width: 768px) {
    .step-item {
      box-shadow: 0 9px 20px 0 rgba(170, 188, 212, 0.29), 0 2px 1px 0 rgba(170, 188, 212, 0.21);
      background: #fff;
      padding: 30px 0 0; } }

.filter-card ul {
  list-style: none;
  padding-right: 0;
  display: inline-block; }
  .filter-card ul li {
    display: inline-block;
    font-size: 13px;
    box-shadow: 0px 2px 2px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.12);
    background: #fff;
    padding: 10px 20px;
    border-radius: 100px;
    margin-left: 7px; }

body {
  background: #f7f8ff;
  overflow-x: hidden; }

@media only screen and (max-width: 1570px) {
  .container {
    max-width: 1200px; } }

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 992px; } }

#header {
  background: url(../img/hero-overlay.png), linear-gradient(#202542, #202542);
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-size: contain;
  position: relative;
  padding-bottom: 100px; }
  @media only screen and (max-width: 576px) {
    #header {
      padding-bottom: 0; } }
  #header .nav {
    z-index: 2;
    position: relative; }
    #header .nav .logo {
      width: 125px;
      height: 31px;
      float: right;
      margin-top: 50px; }
      @media only screen and (max-width: 576px) {
        #header .nav .logo {
          width: 110px;
          height: 24px;
          margin-top: 30px; } }
    #header .nav .white-btn {
      margin-top: 40px;
      float: left;
      padding: 14px 36px;
      font-size: 17px;
      z-index: 1;
      position: relative; }
      @media only screen and (max-width: 575px) {
        #header .nav .white-btn {
          font-size: 15px;
          margin-top: 22px; } }
      @media only screen and (max-width: 380px) {
        #header .nav .white-btn {
          padding: 12px 22px; } }
    @media only screen and (max-width: 1410px) {
      #header .nav {
        max-width: 1070px;
        margin: 0 auto;
        padding: 0 57px; } }
    @media only screen and (max-width: 576px) {
      #header .nav {
        padding: 0 30px; } }
  #header .hero #hero-carousel {
    position: relative;
    padding-top: 100px;
    min-height: 693px;
    box-sizing: border-box; }
    @media only screen and (max-width: 992px) {
      #header .hero #hero-carousel {
        padding-top: 50px;
        min-height: 590px; } }
    @media only screen and (max-width: 768px) {
      #header .hero #hero-carousel {
        padding-top: 0;
        min-height: 540px; } }
    @media only screen and (max-width: 576px) {
      #header .hero #hero-carousel {
        min-height: 495px; } }
    @media only screen and (max-width: 430px) {
      #header .hero #hero-carousel {
        min-height: 445px; } }
    #header .hero #hero-carousel img {
      width: 140px;
      opacity: .6;
      margin: 0 auto; }
      @media only screen and (max-width: 992px) {
        #header .hero #hero-carousel img {
          width: 120px; } }
      @media only screen and (max-width: 576px) {
        #header .hero #hero-carousel img {
          width: 111px; } }
      @media only screen and (max-width: 430px) {
        #header .hero #hero-carousel img {
          width: 95px; } }
    #header .hero #hero-carousel .owl-stage {
      padding-top: 100px; }
      @media only screen and (max-width: 576px) {
        #header .hero #hero-carousel .owl-stage {
          padding-top: 75px; } }
    #header .hero #hero-carousel .owl-item.center .item {
      position: relative;
      padding: 100px 0 40px; }
      #header .hero #hero-carousel .owl-item.center .item img {
        width: 215px;
        opacity: 1;
        position: relative;
        top: -180px; }
        @media only screen and (max-width: 992px) {
          #header .hero #hero-carousel .owl-item.center .item img {
            width: 180px; } }
        @media only screen and (max-width: 768px) {
          #header .hero #hero-carousel .owl-item.center .item img {
            top: -115px; } }
        @media only screen and (max-width: 576px) {
          #header .hero #hero-carousel .owl-item.center .item img {
            width: 150px; } }
        @media only screen and (max-width: 430px) {
          #header .hero #hero-carousel .owl-item.center .item img {
            width: 120px; } }
      #header .hero #hero-carousel .owl-item.center .item:before {
        position: absolute;
        right: -80px;
        top: -55px;
        content: '';
        width: 338px;
        height: 338px;
        border-radius: 100%;
        background: linear-gradient(to top, #615b8e, #20233f 60%, #282d51);
        animation: drop .4s; }
        @media only screen and (max-width: 1670px) {
          #header .hero #hero-carousel .owl-item.center .item:before {
            right: -40px; } }
        @media only screen and (max-width: 1200px) {
          #header .hero #hero-carousel .owl-item.center .item:before {
            right: 10px; } }
        @media only screen and (max-width: 992px) {
          #header .hero #hero-carousel .owl-item.center .item:before {
            width: 250px;
            height: 250px;
            right: 26px; } }
        @media only screen and (max-width: 768px) {
          #header .hero #hero-carousel .owl-item.center .item:before {
            display: none; } }

@keyframes drop {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
      #header .hero #hero-carousel .owl-item.center .item:after {
        content: '';
        position: absolute;
        width: 397px;
        height: 396px;
        border-radius: 100%;
        border: 1px solid rgba(255, 255, 255, 0.03);
        right: -112px;
        top: -83px;
        z-index: -1; }
        @media only screen and (max-width: 1670px) {
          #header .hero #hero-carousel .owl-item.center .item:after {
            right: -73px; } }
        @media only screen and (max-width: 1200px) {
          #header .hero #hero-carousel .owl-item.center .item:after {
            right: -20px; } }
        @media only screen and (max-width: 992px) {
          #header .hero #hero-carousel .owl-item.center .item:after {
            width: 290px;
            height: 290px;
            top: -75px;
            right: 6px; } }
        @media only screen and (max-width: 768px) {
          #header .hero #hero-carousel .owl-item.center .item:after {
            display: none; } }
  #header .hero .intro {
    position: relative;
    top: -80px;
    width: 100%;
    max-width: 580px;
    text-align: center;
    margin: 0 auto; }
    @media only screen and (max-width: 992px) {
      #header .hero .intro {
        top: -115px; } }
    @media only screen and (max-width: 576px) {
      #header .hero .intro {
        top: -173px; } }
    #header .hero .intro .title {
      font-size: 47px;
      font-weight: 500;
      color: #daddfb; }
      #header .hero .intro .title strong {
        font-weight: 600;
        color: #ffffff; }
      @media only screen and (max-width: 1570px) {
        #header .hero .intro .title {
          font-size: 41px; } }
      @media only screen and (max-width: 1410px) {
        #header .hero .intro .title {
          font-size: 39px; } }
      @media only screen and (max-width: 576px) {
        #header .hero .intro .title {
          font-size: 20px;
          text-align: center;
          line-height: 47px;
          padding: 0 28px; } }
    #header .hero .intro .description {
      position: relative;
      opacity: .8;
      font-weight: 300;
      color: #b3b7d8; }
      @media only screen and (max-width: 1410px) {
        #header .hero .intro .description {
          font-size: 16px; } }
      @media only screen and (max-width: 576px) {
        #header .hero .intro .description {
          padding: 0 22px;
          margin: 0 19px;
          font-size: 14px; } }
    #header .hero .intro .red-btn {
      padding: 11px 25px 12px 61px;
      font-size: 18px;
      margin-top: 6px;
      position: relative;
      top: 40px; }
      @media only screen and (max-width: 1410px) {
        #header .hero .intro .red-btn {
          font-size: 16px; } }
      @media only screen and (max-width: 576px) {
        #header .hero .intro .red-btn {
          top: 35px;
          font-size: 15px; } }
      @media only screen and (max-width: 576px) {
        #header .hero .intro .red-btn svg {
          top: 17px; } }
  #header .hero > .container-xl {
    position: relative; }
    @media only screen and (max-width: 992px) {
      #header .hero > .container-xl {
        border-top: 1px solid #2b3154; } }
    @media only screen and (max-width: 576px) {
      #header .hero > .container-xl {
        top: -70px; } }
    #header .hero > .container-xl .woman {
      position: absolute;
      right: -40px;
      bottom: -347px; }
      @media only screen and (max-width: 1200px) {
        #header .hero > .container-xl .woman {
          right: -150px; } }
      @media only screen and (max-width: 992px) {
        #header .hero > .container-xl .woman {
          display: none; } }
    #header .hero > .container-xl .pubg-platform {
      width: 100%;
      max-width: 745px;
      display: inline-block;
      position: relative;
      right: 450px;
      top: 160px; }
      @media only screen and (max-width: 1200px) {
        #header .hero > .container-xl .pubg-platform {
          right: 275px;
          top: 170px;
          max-width: 708px; } }
      @media only screen and (max-width: 992px) {
        #header .hero > .container-xl .pubg-platform {
          right: 10%;
          top: 30px;
          max-width: 80%; } }
      #header .hero > .container-xl .pubg-platform h2 {
        font-weight: 400;
        color: rgba(255, 255, 255, 0.95); }
        @media only screen and (max-width: 576px) {
          #header .hero > .container-xl .pubg-platform h2 {
            font-size: 19px;
            margin-bottom: 22px; } }
      #header .hero > .container-xl .pubg-platform p {
        color: #8c90b1;
        font-weight: 300;
        margin-top: -5px;
        margin-bottom: 65px; }
        @media only screen and (max-width: 680px) {
          #header .hero > .container-xl .pubg-platform p {
            margin-bottom: 45px; } }
        @media only screen and (max-width: 576px) {
          #header .hero > .container-xl .pubg-platform p {
            margin-bottom: 17px;
            font-size: 14px; } }
      @media only screen and (max-width: 680px) {
        #header .hero > .container-xl .pubg-platform .platforms {
          display: flex;
          flex-wrap: wrap;
          justify-content: center; } }
      #header .hero > .container-xl .pubg-platform .platforms .steam {
        background: #fff;
        box-shadow: 2px 1px 4px rgba(255, 255, 255, 0.38);
        position: relative;
        padding: 23px 90px 23px 37px;
        border-radius: 100px;
        display: inline-block; }
        @media only screen and (max-width: 890px) {
          #header .hero > .container-xl .pubg-platform .platforms .steam {
            padding: 18px 63px 18px 23px;
            margin-left: 9px;
            font-size: 15px; } }
        @media only screen and (max-width: 680px) {
          #header .hero > .container-xl .pubg-platform .platforms .steam {
            font-size: 0;
            box-shadow: none;
            background: transparent; } }
        @media only screen and (max-width: 380px) {
          #header .hero > .container-xl .pubg-platform .platforms .steam {
            padding: 18px 20px 18px 20px; } }
        #header .hero > .container-xl .pubg-platform .platforms .steam img {
          width: 23px;
          background: #3f4373;
          padding: 10px;
          border-radius: 100px;
          position: absolute;
          right: 14px;
          top: 11px; }
          @media only screen and (max-width: 890px) {
            #header .hero > .container-xl .pubg-platform .platforms .steam img {
              right: 7px;
              top: 5px; } }
      #header .hero > .container-xl .pubg-platform .platforms .xbox {
        background: #fff;
        position: relative;
        box-shadow: 2px 1px 4px rgba(255, 255, 255, 0.38);
        padding: 23px 90px 23px 37px;
        border-radius: 100px;
        display: inline-block;
        margin-left: 15px; }
        @media only screen and (max-width: 890px) {
          #header .hero > .container-xl .pubg-platform .platforms .xbox {
            padding: 18px 63px 18px 23px;
            margin-left: 9px;
            font-size: 15px; } }
        @media only screen and (max-width: 680px) {
          #header .hero > .container-xl .pubg-platform .platforms .xbox {
            font-size: 0;
            box-shadow: none;
            background: transparent; } }
        @media only screen and (max-width: 380px) {
          #header .hero > .container-xl .pubg-platform .platforms .xbox {
            padding: 18px 20px 18px 20px; } }
        #header .hero > .container-xl .pubg-platform .platforms .xbox img {
          background: #41cd7d;
          padding: 10px;
          border-radius: 100px;
          width: 19px;
          position: absolute;
          right: 14px;
          top: 12px; }
          @media only screen and (max-width: 890px) {
            #header .hero > .container-xl .pubg-platform .platforms .xbox img {
              right: 8px;
              top: 7px; } }
      #header .hero > .container-xl .pubg-platform .platforms .ps4 {
        background: #4e7cff;
        box-shadow: 1px 1px 5px rgba(78, 124, 255, 0.56);
        position: relative;
        padding: 23px 90px 23px 37px;
        border-radius: 100px;
        display: inline-block;
        color: rgba(255, 255, 255, 0.82);
        margin-left: 15px; }
        @media only screen and (max-width: 890px) {
          #header .hero > .container-xl .pubg-platform .platforms .ps4 {
            padding: 18px 63px 18px 23px;
            margin-left: 9px;
            font-size: 15px; } }
        @media only screen and (max-width: 680px) {
          #header .hero > .container-xl .pubg-platform .platforms .ps4 {
            font-size: 0;
            box-shadow: none;
            background: transparent; } }
        @media only screen and (max-width: 380px) {
          #header .hero > .container-xl .pubg-platform .platforms .ps4 {
            padding: 18px 20px 18px 25px; } }
        #header .hero > .container-xl .pubg-platform .platforms .ps4 img {
          width: 29px;
          position: absolute;
          right: 23px;
          top: 16px; }
          @media only screen and (max-width: 890px) {
            #header .hero > .container-xl .pubg-platform .platforms .ps4 img {
              right: 14px;
              top: 12px; } }
          @media only screen and (max-width: 680px) {
            #header .hero > .container-xl .pubg-platform .platforms .ps4 img {
              background: #4e7cff;
              border-radius: 100px;
              padding: 12px 10px;
              width: 19px;
              top: 8px; } }
    #header .hero > .container-xl:last-child {
      text-align: center;
      position: relative;
      top: 360px; }
      @media only screen and (max-width: 992px) {
        #header .hero > .container-xl:last-child {
          top: 218px; } }
      @media only screen and (max-width: 768px) {
        #header .hero > .container-xl:last-child {
          display: none; } }
      #header .hero > .container-xl:last-child .location {
        position: relative;
        top: -100px; }
        @media only screen and (max-width: 1200px) {
          #header .hero > .container-xl:last-child .location {
            width: 95%; } }
  #header .c1 {
    position: absolute;
    width: 98px;
    left: -44px;
    top: 150px; }
    @media only screen and (max-width: 1200px) {
      #header .c1 {
        display: none; } }
  #header .c2 {
    position: absolute;
    width: 98px;
    right: -50px;
    bottom: 490px; }
    @media only screen and (max-width: 1200px) {
      #header .c2 {
        display: none; } }
  #header .c3 {
    position: absolute;
    width: 23px;
    bottom: 870px;
    right: 97px;
    opacity: .7; }
    @media only screen and (max-width: 768px) {
      #header .c3 {
        display: none; } }
  #header .c4 {
    position: absolute;
    width: 23px;
    bottom: 625px;
    opacity: .7;
    left: 140px; }
    @media only screen and (max-width: 768px) {
      #header .c4 {
        display: none; } }
  #header .c5 {
    position: absolute;
    width: 82px;
    bottom: 400px;
    left: -41px; }
    @media only screen and (max-width: 768px) {
      #header .c5 {
        display: none; } }
  #header .c6 {
    position: absolute;
    width: 82px;
    right: -67px;
    top: 385px; }
    @media only screen and (max-width: 768px) {
      #header .c6 {
        display: none; } }

#main {
  padding-top: 180px;
  position: relative; }
  @media only screen and (max-width: 992px) {
    #main {
      padding-top: 0; } }
  #main .ingame-pay {
    margin-top: 125px; }
    @media only screen and (max-width: 1200px) {
      #main .ingame-pay {
        margin-top: 45px; } }
    @media only screen and (max-width: 576px) {
      #main .ingame-pay {
        margin-top: 20px; } }
    #main .ingame-pay .c2 {
      position: absolute;
      width: 57px;
      right: 194px;
      top: 185px; }
      @media only screen and (max-width: 1670px) {
        #main .ingame-pay .c2 {
          right: 118px; } }
      @media only screen and (max-width: 1410px) {
        #main .ingame-pay .c2 {
          display: none; } }
    #main .ingame-pay .c1 {
      position: absolute;
      width: 23px;
      top: 638px;
      right: 132px; }
      @media only screen and (max-width: 1670px) {
        #main .ingame-pay .c1 {
          right: 29px; } }
      @media only screen and (max-width: 992px) {
        #main .ingame-pay .c1 {
          display: none; } }
    #main .ingame-pay:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      height: 918px;
      width: 440px;
      background-size: cover;
      background: url("../img/lines.png"); }
      @media only screen and (max-width: 1670px) {
        #main .ingame-pay:after {
          right: -100px; } }
      @media only screen and (max-width: 1410px) {
        #main .ingame-pay:after {
          right: -200px; } }
      @media only screen and (max-width: 1200px) {
        #main .ingame-pay:after {
          display: none; } }
    #main .ingame-pay > .container {
      display: flex;
      justify-content: center; }
    #main .ingame-pay .content {
      max-width: 475px;
      margin-right: 30px;
      position: relative;
      top: 50px; }
      @media only screen and (max-width: 1200px) {
        #main .ingame-pay .content {
          top: 80px; } }
      @media only screen and (max-width: 992px) {
        #main .ingame-pay .content {
          top: 0; } }
      @media only screen and (max-width: 768px) {
        #main .ingame-pay .content {
          margin-right: 0; } }
      @media only screen and (max-width: 576px) {
        #main .ingame-pay .content {
          max-width: 90%; } }
      #main .ingame-pay .content h2 {
        font-weight: 400;
        font-size: 48px;
        color: #252849; }
        @media only screen and (max-width: 1200px) {
          #main .ingame-pay .content h2 {
            font-size: 41px; } }
        @media only screen and (max-width: 768px) {
          #main .ingame-pay .content h2 {
            font-size: 33px; } }
        @media only screen and (max-width: 576px) {
          #main .ingame-pay .content h2 {
            font-size: 20px;
            font-weight: 800;
            line-height: 35px; } }
      #main .ingame-pay .content p {
        color: #3f4373;
        opacity: .8;
        font-weight: 300;
        position: relative;
        padding-right: 25px; }
        #main .ingame-pay .content p:after {
          display: block;
          position: absolute;
          content: '';
          width: 4px;
          height: 34px;
          background: #F3303A;
          border-radius: 2px;
          right: 0;
          top: 0;
          box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32); }
          @media only screen and (max-width: 576px) {
            #main .ingame-pay .content p:after {
              display: none; } }
        @media only screen and (max-width: 576px) {
          #main .ingame-pay .content p {
            text-align: justify;
            padding-right: 0;
            font-size: 15px; } }
      #main .ingame-pay .content .red-btn {
        padding: 15px 25px 18px 90px;
        float: left; }
        @media only screen and (max-width: 576px) {
          #main .ingame-pay .content .red-btn {
            padding: 11px 25px 12px 70px;
            float: initial;
            top: 30px;
            font-size: 15px; } }
        #main .ingame-pay .content .red-btn svg {
          top: 18px; }
    #main .ingame-pay .img {
      margin-right: auto; }
      @media only screen and (max-width: 1200px) {
        #main .ingame-pay .img {
          width: 42%;
          margin-top: 60px; } }
      @media only screen and (max-width: 992px) {
        #main .ingame-pay .img {
          display: none; } }
  #main .buy-pubg {
    background: url(../img/buy-bg.png), linear-gradient(#202542, #202542);
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    margin-top: 130px; }
    @media only screen and (max-width: 1200px) {
      #main .buy-pubg {
        padding-top: 40px; } }
    @media only screen and (max-width: 992px) {
      #main .buy-pubg {
        padding-bottom: 60px; } }
    @media only screen and (max-width: 768px) {
      #main .buy-pubg {
        margin-top: 95px; } }
    @media only screen and (max-width: 576px) {
      #main .buy-pubg {
        padding-top: 25px;
        padding-bottom: 30px; } }
    #main .buy-pubg > .container {
      display: flex; }
      #main .buy-pubg > .container .vr-man {
        width: 360px; }
        @media only screen and (max-width: 992px) {
          #main .buy-pubg > .container .vr-man {
            display: none; } }
      #main .buy-pubg > .container .content {
        max-width: 750px;
        position: relative;
        top: 60px;
        right: 52px; }
        @media only screen and (max-width: 1200px) {
          #main .buy-pubg > .container .content {
            top: 69px;
            right: -15px; } }
        @media only screen and (max-width: 992px) {
          #main .buy-pubg > .container .content {
            max-width: 80%;
            right: 10%;
            top: 0; } }
        @media only screen and (max-width: 576px) {
          #main .buy-pubg > .container .content {
            max-width: 85%;
            right: 7.5%;
            top: 0; } }
        #main .buy-pubg > .container .content h2 {
          color: rgba(255, 255, 255, 0.94);
          font-size: 30px; }
          @media only screen and (max-width: 576px) {
            #main .buy-pubg > .container .content h2 {
              font-size: 21px;
              margin-bottom: 21px; } }
        #main .buy-pubg > .container .content p {
          color: rgba(229, 230, 247, 0.88);
          font-weight: 300; }
          @media only screen and (max-width: 576px) {
            #main .buy-pubg > .container .content p {
              font-size: 15px;
              text-align: justify;
              margin-bottom: 17px; } }
        #main .buy-pubg > .container .content .red-btn {
          padding: 17px 30px 17px 77px;
          font-size: 18px;
          margin-top: 6px;
          float: left; }
          @media only screen and (max-width: 1410px) {
            #main .buy-pubg > .container .content .red-btn {
              padding: 17px 30px 17px 67px;
              font-size: 16px; } }
          @media only screen and (max-width: 576px) {
            #main .buy-pubg > .container .content .red-btn {
              float: right;
              margin-left: 30px;
              padding: 13px 30px 13px 57px;
              font-size: 15px; } }
          @media only screen and (max-width: 576px) {
            #main .buy-pubg > .container .content .red-btn svg {
              top: 17px; } }
        #main .buy-pubg > .container .content .outline-btn {
          border: 2px solid #8d8f9f;
          border-radius: 100px;
          padding: 15px 40px 14px 30px;
          position: relative;
          float: left;
          color: #fff;
          font-weight: 300;
          margin-left: 13px;
          top: 8px; }
          #main .buy-pubg > .container .content .outline-btn svg {
            position: absolute;
            right: 16px;
            width: 10px;
            height: 13px;
            fill: #ffffff;
            top: 16px; }
            @media only screen and (max-width: 576px) {
              #main .buy-pubg > .container .content .outline-btn svg {
                width: 8px;
                top: 12px; } }
          @media only screen and (max-width: 576px) {
            #main .buy-pubg > .container .content .outline-btn {
              padding: 11px 35px 11px 21px;
              float: right;
              font-size: 15px; } }
  #main .cta-v2 {
    position: relative;
    text-align: center;
    padding-bottom: 180px;
    padding-top: 110px; }
    @media only screen and (max-width: 1570px) {
      #main .cta-v2 {
        padding-top: 20px; } }
    @media only screen and (max-width: 1200px) {
      #main .cta-v2 {
        padding-top: 0; } }
    @media only screen and (max-width: 992px) {
      #main .cta-v2 {
        padding-bottom: 110px; } }
    @media only screen and (max-width: 576px) {
      #main .cta-v2 {
        padding-bottom: 40px; } }
    #main .cta-v2 .cta-img {
      width: 140px;
      height: 128px;
      margin-top: 124px; }
      @media only screen and (max-width: 992px) {
        #main .cta-v2 .cta-img {
          margin-top: 80px; } }
      @media only screen and (max-width: 576px) {
        #main .cta-v2 .cta-img {
          width: 85px;
          height: auto;
          margin-top: 47px; } }
    #main .cta-v2 .cta-title {
      font-size: 30px;
      font-weight: 700; }
      @media only screen and (max-width: 768px) {
        #main .cta-v2 .cta-title {
          font-size: 27px; } }
      @media only screen and (max-width: 576px) {
        #main .cta-v2 .cta-title {
          font-size: 20px; } }
    #main .cta-v2 .cta-description {
      font-weight: 300;
      font-size: 17px;
      max-width: 570px;
      margin: -20px auto 60px; }
      @media only screen and (max-width: 768px) {
        #main .cta-v2 .cta-description {
          max-width: 470px; } }
      @media only screen and (max-width: 576px) {
        #main .cta-v2 .cta-description {
          max-width: initial;
          padding: 10px 30px 0;
          font-size: 15px;
          margin: -20px auto 40px; } }
    #main .cta-v2 .white-btn-v2.cta-btn {
      box-shadow: 0 8px 27px 0 rgba(243, 48, 58, 0.23);
      background: #F3303A;
      color: #fff; }
      #main .cta-v2 .white-btn-v2.cta-btn svg {
        background: #ffffff;
        stroke: #F3303A; }
        @media only screen and (max-width: 576px) {
          #main .cta-v2 .white-btn-v2.cta-btn svg {
            width: 11px;
            height: 12px;
            right: 7px;
            top: 6px;
            padding: 11px; } }
      @media only screen and (max-width: 576px) {
        #main .cta-v2 .white-btn-v2.cta-btn {
          padding: 11px 60px 12px 25px;
          font-size: 15px; } }
  #main .ordering-steps {
    padding: 0 0 100px; }
    @media only screen and (max-width: 992px) {
      #main .ordering-steps {
        padding: 0 15px 100px; } }
    #main .ordering-steps > .container {
      display: flex;
      flex-wrap: wrap; }
      @media only screen and (max-width: 1200px) {
        #main .ordering-steps > .container {
          padding: 0; } }
    #main .ordering-steps .step-item {
      flex: 0 0 49%;
      margin: 30px auto 0; }
      @media only screen and (max-width: 768px) {
        #main .ordering-steps .step-item .title {
          font-size: 19px; } }
      @media only screen and (max-width: 1200px) {
        #main .ordering-steps .step-item .description {
          padding: 0 47px;
          line-height: 30px; } }
      @media only screen and (max-width: 768px) {
        #main .ordering-steps .step-item .description {
          padding: 0 28px;
          line-height: 29px;
          font-size: 16px; } }
      @media only screen and (max-width: 768px) {
        #main .ordering-steps .step-item {
          display: none; } }
    @media only screen and (max-width: 768px) {
      #main .ordering-steps {
        padding: 1px;
        background: rgba(37, 40, 73, 0.788235); } }

#footer {
  background: url("../img/cta-bg.png") no-repeat center -180px, linear-gradient(#252849, #252849);
  color: rgba(255, 255, 255, 0.84);
  padding: 50px 0 20px 0;
  position: relative;
  font-size: 13px;
  font-weight: 300;
  overflow: hidden;
  background-size: contain;
  background-blend-mode: color-dodge; }
  @media only screen and (max-width: 992px) {
    #footer {
      background-position: center -100px; } }
  @media only screen and (max-width: 768px) {
    #footer {
      background-position: center -40px; } }
  #footer .cta {
    text-align: center;
    padding: 10px 0 174px 0; }
    #footer .cta .title {
      font-size: 30px;
      color: #fff; }
      @media only screen and (max-width: 576px) {
        #footer .cta .title {
          font-size: 22px;
          line-height: 34px; } }
    #footer .cta .description {
      font-size: 18px;
      color: #8c90b1;
      margin-top: -16px; }
      @media only screen and (max-width: 576px) {
        #footer .cta .description {
          font-size: 16px;
          margin-top: -5px; } }
    #footer .cta .white-btn-v2 {
      top: 40px; }
      @media only screen and (max-width: 576px) {
        #footer .cta .white-btn-v2 {
          padding: 14px 75px 14px 27px;
          font-size: 17px; } }
      @media only screen and (max-width: 768px) {
        #footer .cta .white-btn-v2 svg {
          right: 80px; } }
      @media only screen and (max-width: 576px) {
        #footer .cta .white-btn-v2 svg {
          right: 73px;
          top: 6px;
          padding: 13px; } }
    @media only screen and (max-width: 768px) {
      #footer .cta {
        padding: 10px 32px 104px 34px; } }
  #footer .circle {
    pointer-events: none; }
  #footer .c1 {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 165px;
    bottom: -10px;
    z-index: 1;
    animation: float 5s ease-in-out infinite; }
    @media only screen and (max-width: 800px) {
      #footer .c1 {
        display: none; } }
  #footer .c2 {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 90px;
    bottom: 150px;
    z-index: 1;
    animation: float 6s ease-in-out infinite; }
    @media only screen and (max-width: 992px) {
      #footer .c2 {
        width: 100px;
        height: 100px; } }
    @media only screen and (max-width: 800px) {
      #footer .c2 {
        display: none; } }
  #footer .c3 {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 125px;
    bottom: 180px;
    animation: float 4s ease-in-out infinite; }
    @media only screen and (max-width: 992px) {
      #footer .c3 {
        width: 30px;
        height: 30px; } }
    @media only screen and (max-width: 600px) {
      #footer .c3 {
        display: none; } }
  #footer .c4 {
    position: absolute;
    width: 82px;
    height: 82px;
    top: 8px;
    left: 555px;
    animation: floatXY 4s linear infinite; }
    @media only screen and (max-width: 992px) {
      #footer .c4 {
        width: 52px;
        height: 52px;
        left: 55px; } }
  #footer .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media only screen and (max-width: 992px) {
      #footer .content {
        justify-content: center; } }
    #footer .content .description {
      display: flex;
      max-width: 380px; }
      #footer .content .description .footer-logo {
        width: 60px;
        margin-left: 20px; }
        @media only screen and (max-width: 576px) {
          #footer .content .description .footer-logo {
            margin-bottom: 15px; } }
      @media only screen and (max-width: 576px) {
        #footer .content .description p {
          display: none; } }
    #footer .content .menu {
      list-style: none; }
      #footer .content .menu li {
        display: inline-block;
        padding: 5px 10px 17px 10px;
        margin-left: 60px;
        position: relative;
        transition: all ease-in-out 0.5s; }
        #footer .content .menu li:after {
          transition: all ease-in-out 0.5s;
          display: block;
          position: absolute;
          content: '';
          width: 25px;
          height: 3px;
          border-radius: 1.5px;
          background: #F3303A;
          box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32);
          bottom: 0;
          left: calc((100% - 25px)/2);
          opacity: 0;
          visibility: hidden; }
        #footer .content .menu li:hover:after {
          opacity: 1;
          visibility: visible; }
        #footer .content .menu li.active:after {
          opacity: 1;
          visibility: visible; }
      @media only screen and (max-width: 992px) {
        #footer .content .menu {
          flex: 0 0 100%;
          text-align: center; } }
      @media only screen and (max-width: 576px) {
        #footer .content .menu {
          display: none; } }
  #footer .copyright {
    text-align: center;
    color: rgba(240, 242, 248, 0.55);
    direction: ltr;
    margin-top: 50px;
    font-weight: 300; }
    #footer .copyright .mobile-logo {
      display: none; }
    @media only screen and (max-width: 992px) {
      #footer .copyright {
        border-top: 1px solid rgba(255, 255, 255, 0.121569);
        padding-top: 19px;
        margin-top: 0; } }
