/*********Variable *********/
$red-bg: #f3303a;
$dark: #3f4373;
$darker: #252849;

/********* Mixin *********/
@mixin breakpoint($type, $breakpoint) {
  @media only screen and (#{$type}-width: $breakpoint) {
    @content;
  }
}
@mixin Number() {
  font-family: "YekanBakhNum";
}
@mixin forie() {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}
/********* Normalize *********/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: "YekanBakh", sans-serif;
  font-size: 17px;
  direction: rtl;
  color: $dark;
  padding: 0;
  overflow-x: hidden;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}
p {
  line-height: 1.5;
}

[hidden] {
  display: none;
}
.container {
  max-width: 140rem;
  margin: auto;
  padding: 0 1.5rem;
  &:after {
    content: "";
    clear: both;
    display: table;
  }
  &-xl {
    @include breakpoint(min, 1200px) {
      max-width: 1140px;
    }
  }
}
/********* Font families *********/
@font-face {
  font-family: "YekanBakh";
  src: url("../../../fonts/iGameYekanver38-Medium.woff2") format("woff2"),
    url("../../../fonts/iGameYekanver38-Medium.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "YekanBakh";
  src: url("../../../fonts/iGameYekanver38-Bold.woff2") format("woff2"),
    url("../../../fonts/iGameYekanver38-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "YekanBakh";
  src: url("../../../fonts/iGameYekanver38-Heavy.woff2") format("woff2"),
    url("../../../fonts/iGameYekanver38-Heavy.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "YekanBakhNum";
  src: url("../../../fonts/iGameNumbers-Heavy.woff2") format("woff2"),
    url("../../../fonts/iGameNumbers-Heavy.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/********* Animations *********/
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes floatXY {
  0% {
    transform: translate(0, 0px);
  }
  25% {
    transform: translate(6px, 5px);
  }
  50% {
    transform: translate(-5px, -7px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
