@charset "utf-8";
@import "mixins";
@import "abstracts";
@import "components";

$rootFontSize: 10;
:root {
  font-size: $rootFontSize + px;
  @media (-webkit-min-device-pixel-ratio: 1.25) {
    font-size: $rootFontSize/1.2 + px;
  }
}
$mainColor: #25294a;
$green: #41cd7d;
$purple: #7033ff;
$blue: #4e7cff;
$red: #f3303a;
$white: #fff;
$textColor: #3f4373;
$font-family: "YekanBakh", "Circular";
$fontEn: "YekanBakhNum";
//********************
@font-face {
  font-family: "YekanBakh";
  src: url("../../../fonts/YekanBakh/YekanBakh-Medium.woff2") format("woff2"),
    url("../../../fonts/YekanBakh/YekanBakh-Medium.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "YekanBakh";
  src: url("../../../fonts/YekanBakh/YekanBakh-Bold.woff2") format("woff2"),
    url("../../../fonts/YekanBakh/YekanBakh-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "YekanBakh";
  src: url("../../../fonts/YekanBakh/YekanBakh-Heavy.woff2") format("woff2"),
    url("../../../fonts/YekanBakh/YekanBakh-Heavy.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "YekanBakhNum";
  src: url("../../../fonts/iGameNumbers-Heavy.woff2") format("woff2"),
    url("../../../fonts/YekanBakh/iGameNumbers-Heavy.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circular";
  src: url("../../../fonts/Circular/Circular-Reg.woff2") format("woff2"),
    url("../../../fonts/Circular/Circular-Reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circular";
  src: url("../../../fonts/Circular/Circular-Bold.woff2") format("woff2"),
    url("../../../fonts/Circular/Circular-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@mixin Medium {
  font-weight: 300;
}
@mixin Bold {
  font-weight: 500;
}
@mixin Heavy {
  font-weight: 600;
}
@mixin YekanBakh {
  font-family: "YekanBakh", Circular;
}
@mixin Number {
  font-family: "YekanBakhNum";
  font-weight: 600;
}
//******************
.btn {
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
}

.btn.revert svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.btn--red {
  background: #f3303a;
  color: #fff;
  -webkit-box-shadow: 0 8px 27px 0 rgba(243, 48, 58, 0.23);
  box-shadow: 0 8px 27px 0 rgba(243, 48, 58, 0.23);
}

.btn--red svg {
  stroke: #fff;
}

.btn--red:focus,
.btn--red:hover {
  color: #fff;
}

.btn--dark {
  background: #25294a;
  color: #fff;
}

.btn--dark svg {
  stroke: #fff;
}

.btn--dark:focus,
.btn--dark:hover {
  color: #fff;
}

.btn--white {
  background: #fff;
  color: rgba(63, 67, 115, 0.8);
}

.btn--white svg {
  stroke: rgba(63, 67, 115, 0.6);
}

.btn--white:focus,
.btn--white:hover {
  color: rgba(63, 67, 115, 0.8);
}

.btn--transparent {
  background: transparent;
  border: 1px solid #dfe1f4;
  color: #25294a;
}

.btn--transparent svg {
  stroke: rgba(63, 67, 115, 0.6);
}

#ordModal .btn--transparent svg {
  stroke: #fff;
}

.orderModalContent .btn--transparent {
  color: #fff;
}

.btn--transparent:focus,
.btn--transparent:hover {
  color: #25294a;
}

.orderModalContent .btn--transparent:focus,
.orderModalContent .btn--transparent:hover {
  color: #fff;
}

.btn-silver {
  background: #d3d4da;
  color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(168, 192, 226, 0.27),
    0 2px 5px 0 rgba(168, 192, 226, 0.19);
  box-shadow: 0 1px 2px 0 rgba(168, 192, 226, 0.27),
    0 2px 5px 0 rgba(168, 192, 226, 0.19);
}

.btn-silver.active {
  background: #25294a;
}

.btn-silver svg {
  stroke: #fff;
}

.btn--icon {
  -webkit-border-radius: 45px;
  border-radius: 45px;
  text-align: center;
}

.btn--icon svg {
  width: 20px;
  height: 20px;
}

.btn--small {
  padding: 1.5rem 3.5rem;
}

.btn--small svg {
  width: 7px;
  height: 11px;
  top: -webkit-calc((100% - 1.1rem)/2);
  top: calc((100% - 1.1rem) / 2);
}

.btn--large {
  padding: 1.8rem 3rem;
  font-size: 2rem;
  font-weight: 500;
}

.btn--large svg {
  width: 10px;
  height: 14px;
  top: -webkit-calc((100% - 1.4rem)/2);
  top: calc((100% - 1.4rem) / 2);
}

.btn--circle {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.btn--circle svg {
  stroke: #25294a;
}

.btn--text--right {
  padding-left: 7.5rem;
}

.btn--text--right svg {
  position: absolute;
  left: 30px;
}

.btn--text--left {
  padding-right: 7.5rem;
}

.btn--text--left svg {
  position: absolute;
  right: 3rem;
}

//******************
.product-card {
  @include trans(0.3s);
  border-radius: 1rem; /* 11px */
  display: block;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .image-holder {
    transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    position: relative;
    width: 100%;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .hole {
    @include trans(0.3s);
    position: absolute;
    width: 4.5rem; /* 45px */
    height: 1rem; /* 10px */
    border-radius: 0.5rem; /* 5px */
    background: $white;
    top: 2.2rem; /* 22px */
    z-index: 1;
    @include calc(left, "(100% - 4.5rem)/2");
    @include breakpoint(max, 870px) {
      top: 1rem; /* 10px */
      width: 3.5rem; /* 35px */
      height: 0.7rem; /* 7px */
      @include calc(left, "(100% - 3.5rem)/2");
    }
    &:after {
      @include trans(0.3s);
      display: block;
      position: absolute;
      content: "";
      width: 1.2rem; /* 12px */
      height: 1.2rem; /* 12px */
      border-radius: 50%;
      background: $white;
      top: -0.6rem; /* -6px */
      @include calc(left, "(100% - 1.2rem)/2");
    }
  }

  .product-title {
    font-weight: 500;
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.3;
    direction: rtl;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: right;
    white-space: initial;
    display: -webkit-box;
    font-size: 1.6rem;
    @include breakpoint(max, 1250px) {
      @include fontSize(15, $rootFontSize);
      margin-top: 2rem; /* 20px */
    }
    @include breakpoint(max, 1100px) {
      @include fontSize(14, $rootFontSize);
      margin-top: 1.5rem; /* 15px */
    }
    @include breakpoint(max, 991px) {
      @include fontSize(13, $rootFontSize);
      margin-top: 1rem;
    }
  }
  .product-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* position: absolute; */
    /* width: 100%; */
    left: 0;
    bottom: 0;
    padding-bottom: 2rem;
    font-size: 13px;
    @include breakpoint(max, 1480px) {
      padding-bottom: 1.5rem;
    }
  }
  .product-title,
  .product-bottom {
    padding-left: 2rem;
    padding-right: 2rem;
    @include breakpoint(max, 1480px) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    @include breakpoint(max, 991px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  .product-card-price {
    @include breakpoint(max, 991px) {
      @include fontSize(12, $rootFontSize);
    }
    .sale-price {
      @include Number;
      @include fontSize(25, $rootFontSize);
      position: relative;
      padding-left: 3.3rem;
      display: block;
      @include breakpoint(max, 1480px) {
        @include fontSize(22, $rootFontSize);
      }
      @include breakpoint(max, 991px) {
        @include fontSize(20, $rootFontSize);
        padding-left: 2.5rem;
      }
      @include breakpoint(max, 500px) {
        @include fontSize(15, $rootFontSize);
      }
      &:before {
        font-weight: 500;
        font-family: "YekanBakh" !important;
        display: block;
        position: absolute;
        content: "تومان";
        font-size: 1.4rem;
        left: 0;
        bottom: 0.3rem;
        @include breakpoint(max, 991px) {
          @include fontSize(11, $rootFontSize);
          bottom: 0;
        }
        @include breakpoint(max, 500px) {
          @include fontSize(9, $rootFontSize);
        }
      }
    }
    &-from {
      .sale-price {
        @include breakpoint(max, 768px) {
          margin-right: 1rem; /* 10px */
        }
      }
    }
  }
  .add-to-cart {
    @include trans(0.3s);
    width: 4.8rem; /* 48px */
    height: 4.8rem; /* 48px */
    position: relative;
    @include breakpoint(max, 1480px) {
      width: 4rem; /* 40px */
      height: 4rem; /* 40px */
    }
    @include breakpoint(max, 991px) {
      width: 3rem;
      height: 3rem;
    }
    svg {
      position: absolute;
      width: 1.3rem; /* 13px */
      height: 1.3rem; /* 13px */
      @include calc(top, "(100% - 1.3rem)/2");
      @include calc(left, "(100% - 1.3rem)/2");
      @include breakpoint(max, 991px) {
        width: 1rem;
        height: 1rem;
        @include calc(top, "(100% - 1rem)/2");
        @include calc(left, "(100% - 1rem)/2");
      }
    }
  }

  /*TYPES*/
  &.white {
    background: #fff;
    box-shadow: 0 0.2rem 0.5rem 0 /* 2px 5px */ rgba(#a8c0e2, 0.35);
    .product-card-price {
      .original-price {
        color: rgba($textColor, 0.8);
      }
      .sale-range {
        color: $red;
        border-color: $red;
      }
      .sale-price {
        color: $textColor;
        &:before {
          color: rgba($textColor, 0.8);
        }
      }
    }
    .product-title {
      color: $textColor;
    }
    .add-to-cart {
      border-color: #cacdea;
      background: transparent;
      border-width: 0.2rem; /* 2px */
      svg {
        stroke: #3f4373;
      }
    }
  }
  &.transparent-dark {
    background: transparent;
    .product-card-price {
      .original-price {
        color: rgba(#fff, 0.8);
      }
      .sale-range {
        color: $red;
        border-color: $red;
      }
      .sale-price {
        color: #fff;
        &:before {
          color: rgba(#fff, 0.8);
        }
      }
    }
    .product-title {
      color: #fff;
    }
    .add-to-cart {
      border-color: #a7aac7;
      background: transparent;
      border-width: 0.2rem; /* 2px */
      svg {
        stroke: #fff;
      }
    }
  }
  &.transparent-white {
    background: transparent;
    .product-card-price {
      .original-price {
        color: rgba($textColor, 0.8);
      }
      .sale-range {
        // color: $white;
        // background: $red;
        color: $red;
        border-color: $red;
      }
      .sale-price {
        color: $textColor;
        &:before {
          color: rgba($textColor, 0.8);
        }
      }
    }
    .product-title {
      color: $textColor;
    }
    .add-to-cart {
      border-color: #a7aac7;
      background: transparent;
      border-width: 0.2rem; /* 2px */
      svg {
        stroke: #3f4373;
      }
    }
  }
  &.hover-dark {
    &:hover {
      background: #25294a;
      box-shadow: 0 0.2rem 0.5rem 0 /* 2px 5px */ rgba(#a8c0e2, 0.35);
      .product-card-price {
        color: rgba(#fff, 0.5);
        .original-price {
          color: rgba(#fff, 0.8);
        }
        .sale-range {
          color: $white;
          background: transparent;
          border-color: $red;
        }
        .sale-price {
          color: #fff;
          &:before {
            color: rgba(#fff, 0.8);
          }
        }
      }
      .product-title {
        color: #fff;
      }
      .add-to-cart {
        border-color: $red;
        background: $red;
        box-shadow: 0 0.8rem 2.7rem 0 /* 8px 27px */ rgba($red, 0.23);
        svg {
          stroke: #fff;
        }
      }
    }
  }
  &.hover-light {
    &:hover {
      background: #fff;
      box-shadow: 0 5.7rem 4.6rem 0 rgba(#d0d5fb, 0.22),
        0 0.2rem 0.5rem 0 /* 57px 46px 2px 5px */ rgba(#a8c0e2, 0.21);
      .product-card-price {
        .original-price {
          color: rgba($textColor, 0.8);
        }
        .sale-range {
          color: $red;
          background: transparent;
          border-color: $red;
        }
        .sale-price {
          color: $textColor;
          &:before {
            color: rgba($textColor, 0.8);
          }
        }
      }
      .product-title {
        color: $textColor;
      }
      .add-to-cart {
        border-color: $red;
        background: $red;
        box-shadow: 0 0.8rem 2.7rem 0 /* 8px 27px */ rgba($red, 0.23);
        svg {
          stroke: #fff;
        }
      }
    }
  }
  &.hover-up {
    &:hover {
      transform: translateY(-10px);
      @include breakpoint(max, 500px) {
        transform: unset;
      }
    }
  }
  &.small-size {
    width: 24rem; /* 270px */
    height: 39rem; /* 410px */
    @include breakpoint(max, 1250px) {
      width: 23rem; /* 230px */
      height: 36rem; /* 360px */
    }
    @include breakpoint(max, 1100px) {
      width: 20rem; /* 210px */
      height: 32rem; /* 340px */
    }
    @include breakpoint(max, 991px) {
      width: 17rem; /* 160px */
      height: 27rem; /* 245px */
    }
    .image-holder {
      height: 23.6rem; /* 216px */

      @include breakpoint(max, 1250px) {
        height: 21rem; /* 180px */
      }
      @include breakpoint(max, 1100px) {
        height: 19rem; /* 170px */
      }
      @include breakpoint(max, 991px) {
        height: 16rem; /* 140px */
      }
    }
    .product-card-price {
      padding: 0;
    }
  }
  &.normal-size {
    width: 23rem;
    height: 44.5rem;
    @include breakpoint(max, 1480px) {
      width: 21rem;
      height: 41.5rem;
    }
    @include breakpoint(max, 1130px) {
      width: 18rem;
      height: 37rem;
    }
    @include breakpoint(max, 991px) {
      height: 31.5rem;
      width: 17rem;
    }
    @include breakpoint(max, 500px) {
      height: 30rem;
    }

    .image-holder {
      height: 29.5rem;
      @include breakpoint(max, 1480px) {
        height: 27.5rem;
      }
      @include breakpoint(max, 1130px) {
        height: 24.5rem;
      }
      @include breakpoint(max, 991px) {
        height: 20rem;
      }
    }
    .product-card-price {
      padding: 0;
    }
  }
  &.larg-size {
    width: 46rem;
    height: 44.5rem;

    @include breakpoint(max, 1480px) {
      width: 42rem;
      height: 41.5rem;
    }
    @include breakpoint(max, 1130px) {
      width: 36rem;
      height: 37rem;
    }
    @include breakpoint(max, 991px) {
      width: 34rem;
      height: 31.5rem;
    }
    @include breakpoint(max, 500px) {
      height: 30rem;
    }

    .image-holder {
      height: 29.5rem;
      @include breakpoint(max, 1480px) {
        height: 27.5rem;
      }
      @include breakpoint(max, 1130px) {
        height: 24.5rem;
      }
      @include breakpoint(max, 991px) {
        height: 20rem;
      }
      img {
        display: none;
        @include breakpoint(max, 500px) {
          display: block;
        }
        &.large-image {
          display: block;
          @include breakpoint(max, 500px) {
            display: none;
          }
        }
      }
      .special-tag {
        top: 0.5rem;
        left: 0.5rem;
      }
    }
  }
  &.medium-size {
    padding: 2.5rem 3rem;
    width: 27rem; /* 270px */
    height: 48.7rem; /* 487px */
    @include breakpoint(max, 1200px) {
      padding: 2.5rem;
      width: 23rem; /* 230px */
      height: 43rem; /* 430px */
    }
    @include breakpoint(max, 991px) {
      padding: 1.5rem;
      width: 22rem; /* 220px */
      height: 38.5rem; /* 385px */
    }
    @include breakpoint(max, 870px) {
      padding: 1.5rem;
      width: 16.5rem; /* 165px */
      height: 27.5rem; /* 275px */
      border-radius: 0.5rem; /* 5px */
    }
    .image-holder {
      width: 21.4rem; /* 214px */
      height: 31.4rem; /* 314px */
      @include breakpoint(max, 1200px) {
        width: 17.4rem; /* 174px */
        height: 26.4rem; /* 264px */
      }
      @include breakpoint(max, 991px) {
        width: 17rem; /* 170px */
        height: 23.5rem; /* 235px */
      }
      @include breakpoint(max, 870px) {
        width: 13rem; /* 130px */
        height: 16.5rem; /* 165px */
        border-radius: 0.5rem; /* 5px */
      }
    }
    .product-card-price {
      padding: 0;
    }
  }
  &.middle-size {
    width: 27rem; /* 270px */
    height: 47.5rem; /* 475px */
    padding: 2.5rem 3.5rem 10rem 3.5rem;
    @include breakpoint(max, 1480px) {
      padding: 2rem 2rem 8rem 2rem;
      width: 23rem; /* 230px */
      height: 41.5rem; /* 415px */
    }
    @include breakpoint(max, 1250px) {
      padding: 1.5rem 1.5rem 6rem 1.5rem;
      width: 20rem; /* 200px */
      height: 38.5rem; /* 385px */
    }
    @include breakpoint(max, 1100px) {
      width: 19rem; /* 190px */
      height: 36.5rem; /* 365px */
    }
    @include breakpoint(max, 870px) {
      padding: 1rem 1rem 4rem 1rem;
      width: 15rem; /* 150px */
      height: 28.5rem; /* 285px */
      border-radius: 0.5rem; /* 5px */
    }
    .image-holder {
      height: 27rem; /* 270px */
      @include breakpoint(max, 1480px) {
        height: 23.5rem; /* 235px */
      }
      @include breakpoint(max, 1250px) {
        height: 22.5rem; /* 225px */
      }
      @include breakpoint(max, 870px) {
        height: 18.5rem; /* 185px */
      }
    }
    .product-card-price {
      padding: 0;
    }
  }
}
//****************************
#header {
  position: relative;
  background: url("../img/ps4-hero-bg.png"), linear-gradient(#202542, #202542);
  background-position: right top;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  @include breakpoint(max, 1200px) {
    overflow: hidden;
  }
  .nav {
    .logo {
      width: 12.5rem; /* 125px */
      height: 3.1rem; /* 31px */
      float: right;
      margin-top: 5rem; /* 50px */
      @include breakpoint(max, 576px) {
        width: 11rem; /* 110px */
        height: 2.4rem; /* 24px */
        margin-top: 3rem; /* 30px */
      }
    }
    .white-btn {
      margin-top: 4rem; /* 40px */
      float: left;
      padding: 1.4rem 3.6rem; /* 14px 36px */
      font-size: 1.7rem; /* 17px */
      z-index: 1;
      position: relative;
      @include breakpoint(max, 575px) {
        font-size: 1.5rem; /* 15px */
        margin-top: 2.2rem; /* 22px */
      }
      @include breakpoint(max, 380px) {
        padding: 1.2rem 2.2rem; /* 12px 22px */
      }
    }
    @include breakpoint(max, 1410px) {
      max-width: 107rem; /* 1070px */
      margin: 0 auto;
      padding: 0 5.7rem; /* 57px */
    }
    @include breakpoint(max, 576px) {
      padding: 0 3rem; /* 30px */
    }
  }
  .hero {
    display: flex;
    @include breakpoint(max, 1410px) {
      overflow: hidden;
    }
    @include breakpoint(max, 1200px) {
      flex-wrap: wrap;
    }
    .services {
      position: relative;
      .circles {
        position: absolute;
        top: 5.9rem; /* 59px */
        animation: rotate 25s linear infinite;
        left: -5rem; /* -50px */
        pointer-events: none;
        @keyframes rotate {
          from {
            transform: rotate(0);
          }
          to {
            transform: rotate(360deg);
          }
        }
        @include breakpoint(max, 1570px) {
          left: 1rem; /* 10px */
        }
      }
      .gradient-circle {
        position: absolute;
        top: 14.3rem; /* 143px */
        right: 16.7rem; /* 167px */
        animation: float 4s linear infinite;
        @include breakpoint(max, 1410px) {
          top: 12.4rem; /* 124px */
          right: 8.4rem; /* 84px */
        }
      }
      .gradient-rectangle {
        position: absolute;
        bottom: 11.8rem; /* 118px */
        left: -6.1rem; /* -61px */
        animation: float 3s linear infinite;
        @include breakpoint(max, 1410px) {
          bottom: 5.9rem; /* 59px */
          left: 0.9rem; /* 9px */
        }
      }
      .gamepad {
        position: relative;
        right: 10.8rem; /* 108px */
        top: 8.7rem; /* 137px */
        width: 95%;
        @include breakpoint(max, 1410px) {
          right: 4.1rem; /* 41px */
        }
      }
      @include breakpoint(max, 1200px) {
        position: absolute;
        left: -15.6rem; /* -156px */
        bottom: 4.7rem; /* 47px */
        transform: rotate(45deg) scale(0.8);
      }
      @include breakpoint(max, 992px) {
        bottom: -10rem; /* -100px */
        transform: rotate(15deg) scale(0.8);
      }
      @include breakpoint(max, 768px) {
        display: none;
      }
    }
    .intro {
      position: relative;
      z-index: 1;
      width: 100%;
      max-width: 53.3rem; /* 533px */
      margin: 12.5rem 20rem 19rem 0; /* 125px 200px 190px */
      @include breakpoint(max, 1570px) {
        margin: 12.5rem 9rem 19rem 0; /* 125px 90px 190px */
      }
      @include breakpoint(max, 768px) {
        margin: 7rem 9rem 10rem 4rem; /* 70px 90px 100px 40px */
      }
      @include breakpoint(max, 576px) {
        margin: 3.6rem auto 10.5rem; /* 36px 105px */
        text-align: center;
      }
      .title {
        font-size: 4.8rem; /* 48px */
        font-weight: 500;
        color: #daddfb;
        strong {
          font-weight: 600;
          color: #ffffff;
        }
        @include breakpoint(max, 1570px) {
          font-size: 4.1rem; /* 41px */
        }
        @include breakpoint(max, 1410px) {
          font-size: 3.9rem; /* 39px */
        }
        @include breakpoint(max, 576px) {
          font-size: 3rem; /* 30px */
          text-align: center;
          line-height: 4.7rem; /* 47px */
          padding: 0 2.8rem; /* 28px */
        }
        @include breakpoint(max, 380px) {
          font-size: 2.3rem; /* 23px */
          line-height: 3.8rem; /* 38px */
        }
      }
      .description {
        position: relative;
        padding-right: 2.8rem; /* 28px */
        text-align: justify;
        opacity: 0.8;
        font-weight: 300;
        color: #b3b7d8;
        &:after {
          display: block;
          position: absolute;
          content: "";
          width: 0.4rem; /* 4px */
          height: 3.6rem; /* 36px */
          border-radius: 0.2rem; /* 2px */
          background: #f65164;
          box-shadow: 0 0.5rem 1.5rem 0 rgba(243, 48, 58, 0.5),
            0 0.5rem 1.2rem 0 rgba(243, 48, 58, 0.61),
            0 0.4rem 0.7rem 0 /* 5px 15px 5px 12px 4px 7px */
              rgba(243, 48, 58, 0.32);
          top: 0.5rem; /* 5px */
          right: 0;
        }
        @include breakpoint(max, 1410px) {
          font-size: 1.6rem; /* 16px */
        }
        @include breakpoint(max, 576px) {
          padding: 0 2.2rem; /* 22px */
          margin: 0 1.9rem; /* 19px */
          font-size: 1.5rem; /* 15px */
        }
      }
      .red-btn {
        padding: 1.7rem 3rem 1.7rem 7.7rem; /* 17px 30px 17px 77px */
        font-size: 1.8rem; /* 18px */
        margin-top: 0.6rem; /* 6px */
        float: left;
        @include breakpoint(max, 1410px) {
          padding: 1.7rem 3rem 1.7rem 6.7rem; /* 17px 30px 17px 67px */
          font-size: 1.6rem; /* 16px */
        }
        @include breakpoint(max, 576px) {
          float: initial;
          top: 4.4rem; /* 44px */
          font-size: 1.5rem; /* 15px */
          padding: 1.1rem 2.5rem 1.2rem 6.1rem; /* 11px 25px 12px 61px */
        }
        svg {
          @include breakpoint(max, 576px) {
            top: 1.7rem; /* 17px */
          }
        }
      }
      .gamepad {
        position: absolute;
        right: -16.5rem; /* -165px */
        bottom: -11.9rem; /* -119px */
        width: 38rem; /* 380px */
        @include breakpoint(max, 1200px) {
          transform: scale(0.7);
          bottom: -10.9rem; /* -109px */
        }
        @include breakpoint(max, 992px) {
          display: none;
        }
      }
    }
  }
}
#footer {
  background: url("../img/cta-bg.png") no-repeat center -18rem /* -180px */,
    linear-gradient($darker, $darker);
  color: rgba(255, 255, 255, 0.84);
  padding: 5rem 0 2rem 0; /* 50px 20px */
  position: relative;
  font-size: 1.3rem; /* 13px */
  font-weight: 300;
  overflow: hidden;
  background-size: contain;
  background-blend-mode: color-dodge;
  @include breakpoint(max, 992px) {
    background-position: center -10rem; /* -100px */
  }
  @include breakpoint(max, 768px) {
    background-position: center -4rem; /* -40px */
  }
  .cta {
    text-align: center;
    padding: 1rem 0 17.4rem 0; /* 10px 174px */
    .title {
      font-size: 3rem; /* 30px */
      color: #fff;
      @include breakpoint(max, 576px) {
        font-size: 2.2rem; /* 22px */
        line-height: 3.4rem; /* 34px */
      }
    }
    .description {
      font-size: 1.8rem; /* 18px */
      color: #8c90b1;
      margin-top: -1.6rem; /* -16px */
      @include breakpoint(max, 576px) {
        font-size: 1.4rem; /* 14px */
        margin-top: -0.5rem; /* -5px */
      }
    }
    .white-btn-v2 {
      top: 4rem; /* 40px */
      @include breakpoint(max, 576px) {
        padding: 1.1rem 5.8rem 1.1rem 2.4rem; /* 11px 58px 11px 24px */
        font-size: 1.5rem; /* 15px */
      }
      svg {
        @include breakpoint(max, 576px) {
          right: 0.4rem; /* 4px */
          top: 0.3rem; /* 3px */
          padding: 1.1rem; /* 11px */
          width: 1.2rem; /* 12px */
          height: 1.2rem; /* 12px */
        }
      }
    }
    @include breakpoint(max, 768px) {
      padding: 1rem 3.2rem 10.4rem 3.4rem; /* 10px 32px 104px 34px */
    }
  }
  .circle {
    pointer-events: none;
  }
  .c1 {
    width: 7rem; /* 70px */
    height: 7rem; /* 70px */
    position: absolute;
    right: 16.5rem; /* 165px */
    bottom: -1rem; /* -10px */
    z-index: 1;
    animation: float 5s ease-in-out infinite;
    @include breakpoint(max, 800px) {
      display: none;
    }
  }
  .c2 {
    width: 15rem; /* 150px */
    height: 15rem; /* 150px */
    position: absolute;
    left: 9rem; /* 90px */
    bottom: 15rem; /* 150px */
    z-index: 1;
    animation: float 6s ease-in-out infinite;
    @include breakpoint(max, 992px) {
      width: 10rem; /* 100px */
      height: 10rem; /* 100px */
    }
    @include breakpoint(max, 800px) {
      display: none;
    }
  }
  .c3 {
    position: absolute;
    width: 3.5rem; /* 35px */
    height: 3.5rem; /* 35px */
    right: 12.5rem; /* 125px */
    bottom: 18rem; /* 180px */
    animation: float 4s ease-in-out infinite;
    @include breakpoint(max, 992px) {
      width: 3rem; /* 30px */
      height: 3rem; /* 30px */
    }
    @include breakpoint(max, 600px) {
      display: none;
    }
  }
  .c4 {
    position: absolute;
    width: 8.2rem; /* 82px */
    height: 8.2rem; /* 82px */
    top: 0.8rem; /* 8px */
    left: 55.5rem; /* 555px */
    animation: floatXY 4s linear infinite;
    @include breakpoint(max, 992px) {
      width: 5.2rem; /* 52px */
      height: 5.2rem; /* 52px */
      left: 5.5rem; /* 55px */
    }
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include breakpoint(max, 992px) {
      justify-content: center;
    }
    .description {
      display: flex;
      max-width: 38rem; /* 380px */
      align-items: center;
      .footer-logo {
        width: 6rem; /* 60px */
        height: 4.6rem;
        margin-left: 2rem; /* 20px */
        @include breakpoint(max, 576px) {
          margin-bottom: 1.5rem; /* 15px */
        }
      }
      p {
        @include breakpoint(max, 576px) {
          display: none;
        }
      }
    }
    .menu {
      list-style: none;
      li {
        display: inline-block;
        padding: 0.5rem 1rem 1.7rem 1rem; /* 5px 10px 17px 10px */
        margin-left: 6rem; /* 60px */
        position: relative;
        transition: all ease-in-out 0.5s;
        &:after {
          transition: all ease-in-out 0.5s;
          display: block;
          position: absolute;
          content: "";
          width: 2.5rem; /* 25px */
          height: 0.3rem; /* 3px */
          border-radius: 0.15rem; /* 1.5px */
          background: #f3303a;
          box-shadow: 0 0.5rem 1.5rem 0 rgba(243, 48, 58, 0.5),
            0 0.5rem 1.2rem 0 rgba(243, 48, 58, 0.61),
            0 0.4rem 0.7rem 0 /* 5px 15px 5px 12px 4px 7px */
              rgba(243, 48, 58, 0.32);
          bottom: 0;
          left: calc((100% - 2.5rem) / 2);
          opacity: 0;
          visibility: hidden;
        }
        &:hover {
          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
        &.active {
          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      @include breakpoint(max, 992px) {
        flex: 0 0 100%;
        text-align: center;
      }
      @include breakpoint(max, 576px) {
        display: none;
      }
    }
  }
  .copyright {
    .mobile-logo {
      display: none;
    }
    text-align: center;
    color: rgba(240, 242, 248, 0.55);
    direction: ltr;
    margin-top: 5rem; /* 50px */
    font-weight: 300;
    @include breakpoint(max, 992px) {
      border-top: 0.1rem /* 1px */ solid
        rgba(255, 255, 255, 0.12156862745098039);
      padding-top: 1.9rem; /* 19px */
      margin-top: 0;
    }
  }
}
.ordering-steps {
  padding: 6rem 0 10rem; /* 60px 100px */
  @include breakpoint(max, 992px) {
    padding: 6rem 1.5rem 10rem; /* 60px 15px 100px */
  }
  > .container {
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(max, 1200px) {
      padding: 0;
    }
  }
  .step-item {
    flex: 0 0 49%;
    margin: 3rem auto 0; /* 30px */
    .title {
      @include breakpoint(max, 768px) {
        font-size: 1.9rem; /* 19px */
      }
    }
    .description {
      @include breakpoint(max, 1200px) {
        padding: 0 4.7rem; /* 47px */
        line-height: 3rem; /* 30px */
      }
      @include breakpoint(max, 768px) {
        padding: 0 2.8rem; /* 28px */
        line-height: 2.9rem; /* 29px */
        font-size: 1.6rem; /* 16px */
      }
    }
    @include breakpoint(max, 768px) {
      display: none;
    }
  }
  @include breakpoint(max, 768px) {
    padding: 0.1rem; /* 1px */
    background: rgba(37, 40, 73, 0.788235294117647);
  }
}
.product-list {
  padding: 16.5rem 0 5rem 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  @include breakpoint(max, 991px) {
    width: 70rem;
    padding: 7.5rem 0 5rem 0;
  }
  @include breakpoint(max, 768px) {
    width: 55rem;
  }
  @include breakpoint(max, 576px) {
    width: 100%;
    padding: 4rem 0;
  }
  .list-title {
    width: 100%;
    display: block;
    margin-top: 0;
    margin-bottom: 5.5rem;
    font-size: 3.6rem;
    @include Bold;
    @include calc(margin-right, "(100% - 115rem)/10");
    @include breakpoint(max, 1480px) {
      @include calc(margin-right, "(100% - 105rem)/10");
    }
    @include breakpoint(max, 1130px) {
      @include calc(margin-right, "(100% - 90rem)/10");
    }
    @include breakpoint(max, 991px) {
      margin-right: 0;
      margin-bottom: 4rem;
      @include fontSize(28, $rootFontSize);
    }
    @include breakpoint(max, 768px) {
      margin-bottom: 2.5rem;
      @include fontSize(24, $rootFontSize);
    }
  }
  .product-card {
    margin-bottom: 2rem;
    @include calc(margin-right, "(100% - 115rem)/10");
    @include calc(margin-left, "(100% - 115rem)/10");
    @include breakpoint(max, 1480px) {
      @include calc(margin-right, "(100% - 105rem)/10");
      @include calc(margin-left, "(100% - 105rem)/10");
    }
    @include breakpoint(max, 1130px) {
      @include calc(margin-right, "(100% - 90rem)/10");
      @include calc(margin-left, "(100% - 90rem)/10");
    }
    @include breakpoint(max, 991px) {
      @include calc(margin-right, "(100% - 68rem)/8");
      @include calc(margin-left, "(100% - 68rem)/8");
    }
    @include breakpoint(max, 768px) {
      @include calc(margin-right, "(100% - 51rem)/6");
      @include calc(margin-left, "(100% - 51rem)/6");
    }
    @include breakpoint(max, 576px) {
      @include calc(width, "(100% - 2rem)/3");
      @include calc(margin-left, "(2rem / 6 )");
      @include calc(margin-right, "(2rem / 6 )");
    }
    @include breakpoint(max, 480px) {
      width: 45.5%;
      margin-left: 2%;
      margin-right: 2%;
    }
    @include breakpoint(max, 400px) {
      width: 48%;
      margin-left: 1%;
      margin-right: 1%;
    }
  }
  .load-more {
    width: 100%;
    margin-top: 7rem;
    text-align: center;
    @include breakpoint(max, 520px) {
      margin-top: 3rem; /* 30px */
    }
    .btn {
      @include Medium;
      @include fontSize(16, $rootFontSize);
      border-color: rgba(#d6d9f0, 0.8);
      @include breakpoint(max, 1200px) {
        @include fontSize(14, $rootFontSize);
      }
      @include breakpoint(max, 991px) {
        @include fontSize(13, $rootFontSize);
      }
      svg {
        width: 0.6rem; /* 6px */
        height: 1rem; /* 10px */
        @include calc(top, "(100% - 1rem)/2");

        @include breakpoint(max, 991px) {
          width: 0.5rem; /* 5px */
          height: 0.9rem; /* 9px */
          @include calc(top, "(100% - 0.9rem)/2");
        }
      }
    }
  }
}
.description-dark-box {
  margin-top: 5rem;
  border-radius: 1.5rem;
  background: url("../img/cover-desc.jpg") 0 0 / cover no-repeat;
  padding: 9.5rem 3rem 8rem 3rem;
  color: #fff;
  text-align: center;
  position: relative;
  box-shadow: 0 0.9rem 4.6rem 0 rgba(#aabcd4, 0.31),
    0 0.2rem 0.5rem 0 rgba(#a8c0e2, 0.21);
  @include breakpoint(max, 991px) {
    padding: 6.5rem 3rem 5rem 3rem;
    background-position: 50% 0;
  }
  @include breakpoint(max, 500px) {
    padding: 4rem 2rem;
  }
  h2 {
    @include fontSize(30, $rootFontSize);
    @include Heavy;
    margin: 0;
    @include breakpoint(max, 991px) {
      @include fontSize(24, $rootFontSize);
    }
    @include breakpoint(max, 768px) {
      @include fontSize(20, $rootFontSize);
    }
  }
  p {
    @include fontSize(16, $rootFontSize);
    @include Medium;
    max-width: 95rem;
    margin: 2.3rem auto auto;
    text-align: right;
    line-height: 2;
    @include breakpoint(max, 1199px) {
      max-width: 75rem;
    }
    @include breakpoint(max, 991px) {
      @include fontSize(14, $rootFontSize);
      max-width: 57rem;
    }
    @include breakpoint(max, 768px) {
      @include fontSize(12, $rootFontSize);
      max-width: 47rem;
    }
  }
  .gamepad {
    position: absolute;
    width: 13rem;
    height: 18rem;
    left: 0;
    bottom: 8rem;
    overflow: hidden;
    @include breakpoint(max, 1199px) {
      width: 10rem;
    }
    @include breakpoint(max, 991px) {
      width: 7rem;
      height: 10rem;
    }
    @include breakpoint(max, 650px) {
      left: 0;
      bottom: -1rem;
    }
    @include breakpoint(max, 500px) {
      display: none;
    }
    img {
      width: 22rem;
      height: 18rem;
      transform: scaleX(-1);
      @include breakpoint(max, 991px) {
        width: 15rem;
        height: 11rem;
      }
    }
  }
  .circle {
    width: 8.3rem;
    height: 8.3rem;
    position: absolute;
    top: -1.5rem;
    right: -2rem;
    @include breakpoint(max, 1199px) {
      right: 1rem;
    }
    @include breakpoint(max, 768px) {
      width: 6rem;
      height: 6rem;
    }
  }
}
.description-light-box {
  margin-top: 20rem;
  display: flex;
  align-items: center;
  padding: 0 10rem;
  @include breakpoint(max, 1199px) {
    padding: 0;
    margin-top: 13rem;
  }
  @include breakpoint(max, 768px) {
    flex-direction: column;
    margin-top: 5rem;
  }
  .cover {
    width: 40%;
    height: 34.6rem;
    margin-left: 8rem;
    @include breakpoint(max, 991px) {
      width: 45%;
      margin-left: 5%;
    }
    @include breakpoint(max, 768px) {
      height: auto;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .desc-content {
    width: 50%;
    max-width: 64rem;
    @include breakpoint(max, 768px) {
      width: 100%;
    }
    h2 {
      @include fontSize(30, $rootFontSize);
      @include Heavy;
      display: block;
      margin-bottom: 1.5rem;
      @include breakpoint(max, 991px) {
        @include fontSize(24, $rootFontSize);
      }
      @include breakpoint(max, 768px) {
        @include fontSize(20, $rootFontSize);
      }
    }
    p {
      margin: 0;
      @include fontSize(16, $rootFontSize);
      @include breakpoint(max, 991px) {
        @include fontSize(14, $rootFontSize);
      }
      @include breakpoint(max, 768px) {
        @include fontSize(12, $rootFontSize);
      }
    }
  }
}
.account-properties {
  margin-top: 20rem;
  position: relative;
  background: #202442;
  padding: 9rem 10rem 15rem 10rem;
  @include breakpoint(max, 1199px) {
    padding: 7rem 5rem 15rem 5rem;
  }
  @include breakpoint(max, 991px) {
    padding: 7rem 5rem;
  }
  @include breakpoint(max, 500px) {
    padding: 5rem 2rem;
  }
  &:after {
    position: absolute;
    display: block;
    content: "";
    width: 60%;
    height: 58rem;
    top: 0;
    right: 0;
    background: url("../img/cover3.png") 0 0 / cover no-repeat;
  }
  .properties-holder {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    @include breakpoint(max, 991px) {
      flex-direction: column;
    }
    .property-item {
      @include trans(0.3s);
      width: 27rem;
      margin-top: 4rem;
      color: #fff;
      position: relative;
      @include breakpoint(max, 1199px) {
        width: 24rem;
      }
      @include breakpoint(max, 991px) {
        width: 100%;
        margin-top: 0;
        margin-bottom: 3rem;
      }
      .title {
        @include trans(0.3s);
        width: 100%;
        text-align: center;
        @include fontSize(24, $rootFontSize);
        @include breakpoint(max, 1199px) {
          @include fontSize(20, $rootFontSize);
        }
        @include breakpoint(max, 768px) {
          @include fontSize(18, $rootFontSize);
        }
      }
      p {
        @include trans(0.3s);
        margin: 0 auto;
        @include Medium;
        @include fontSize(14, $rootFontSize);
        line-height: 2;
        text-align: justify;
        position: relative;
        z-index: 2;
        @include breakpoint(max, 1199px) {
          @include fontSize(13, $rootFontSize);
        }
        @include breakpoint(max, 768px) {
          @include fontSize(12, $rootFontSize);
        }
      }
      .cover {
        @include trans(0.3s);
        position: relative;
        @include breakpoint(max, 991px) {
          margin-top: 3rem;
        }
        &:before {
          opacity: 0;
          visibility: hidden;
          @include trans(0.3s);
          display: block;
          position: absolute;
          content: "";
          @include calc(width, "(100% + 6rem)");
          @include calc(height, "(100% + 6rem)");
          border-radius: 1.5rem;
          top: -3rem;
          left: -3rem;
          background: #fff;
          z-index: 1;
          @include breakpoint(max, 1199px) {
            @include calc(width, "(100% + 3rem)");
            @include calc(height, "(100% + 3rem)");
            top: -1.5rem;
            left: -1.5rem;
          }
        }
        &:after {
          @include trans(0.3s);
          z-index: 0;
          opacity: 0;
          visibility: hidden;
          position: absolute;
          display: block;
          content: "";
          width: 130%;
          height: 50%;
          bottom: -15%;
          left: -15%;
          border-radius: 4rem;
          filter: blur(35px);
          @include Deg45Gradient(#b42789, #24d3fc);
          @include breakpoint(max, 1199px) {
            width: 110%;
            height: 30%;
            bottom: -5%;
            left: -5%;
          }
        }
      }
      &:hover {
        margin-top: 0;
        @include breakpoint(max, 991px) {
        }
        .title {
          @include Heavy;
        }
        p {
          color: rgba(#242849, 0.8);
        }
        .cover {
          margin-top: 5rem;
          @include breakpoint(max, 1199px) {
            margin-top: 3rem;
          }
          &:before,
          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  .circle {
    position: absolute;
    &.c1 {
      width: 6.7rem;
      height: 6.7rem;
      top: -3.6rem;
      left: 10%;
    }
    &.c2 {
      width: 2.3rem;
      height: 2.3rem;
      top: 17rem;
      left: 7%;
    }
    &.c3 {
      width: 8.2rem;
      height: 8.2rem;
      top: 40rem;
      left: 3%;
    }
    &.c4 {
      width: 1.3rem;
      height: 1.3rem;
      top: 5rem;
      left: 40%;
    }
  }
}
.popular-game {
  padding-top: 8.5rem; /* 85px */
  @include breakpoint(max, 992px) {
    padding-top: 5rem; /* 20px */
  }
  @include breakpoint(max, 768px) {
    padding-bottom: 5rem; /* 50px */
  }
  @include breakpoint(max, 400px) {
    padding-bottom: 0;
  }
  .section-title {
    h2 {
      padding-right: 5.9rem; /* 59px */
      margin-bottom: 5rem; /* 50px */
      &:after {
        display: none;
      }
      @include breakpoint(max, 992px) {
        font-size: 3.4rem; /* 34px */
        text-align: center;
        padding-right: 0;
      }
      @include breakpoint(max, 576px) {
        font-size: 2rem; /* 20px */
        margin-top: 1.1rem; /* 11px */
        margin-bottom: 3.5rem; /* 35px */
      }
    }
  }
  .slider-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &-slider {
    width: 40rem; /* 400px */
    &-nav {
      display: flex;
      margin-right: 1.5rem; /* 15px */
      .nav-item {
        box-shadow: 0rem 0.1rem 0.1rem 0 rgba(170, 188, 212, 0.31),
          0 0.2rem 1.3rem 0 /* 0px 1px 1px 2px 13px */ rgba(170, 188, 212, 0.3);
        background: #fff;
        padding: 2.6rem 7.8rem 2.6rem 4.3rem; /* 26px 78px 26px 43px */
        border-radius: 10rem; /* 100px */
        margin-bottom: 1.7rem; /* 17px */
        position: relative;
        min-width: 23.2rem; /* 232px */
        font-size: 2rem; /* 20px */
        color: rgba(63, 67, 115, 0.82);
        margin-right: 2.5rem; /* 25px */
        &:after {
          position: absolute;
          border-radius: 10rem; /* 100px */
          background: #f4f6fd;
          color: rgba(63, 67, 115, 0.5);
          content: attr(data-num);
          @include Number;
          right: 1.8rem; /* 18px */
          height: 3.1rem; /* 31px */
          width: 4rem; /* 40px */
          top: 1.8rem; /* 18px */
          text-align: center;
          padding-top: 0.9rem; /* 9px */
          @include breakpoint(max, 1200px) {
            top: 0.9rem; /* 9px */
          }
          @include breakpoint(max, 670px) {
            height: 2.4rem; /* 24px */
            width: 3.1rem; /* 31px */
            padding-top: 0.7rem; /* 7px */
            right: 0.8rem; /* 8px */
            top: 0.8rem; /* 8px */
          }
        }
        &.active {
          color: #3f4473;
          &:after {
            background: $red-bg;
            color: #ffffff;
          }
        }
        @include breakpoint(max, 1200px) {
          padding: 2rem 7rem 2rem 2.2rem; /* 20px 70px 20px 22px */
          margin-bottom: 1.2rem; /* 12px */
          min-width: 17rem; /* 170px */
          font-size: 1.7rem; /* 17px */
          margin-right: 1.8rem; /* 18px */
        }
        @include breakpoint(max, 670px) {
          padding: 1.7rem 4.8rem 1.7rem 2.3rem; /* 17px 48px 17px 23px */
          margin-bottom: 1.2rem; /* 12px */
          min-width: 10rem; /* 100px */
          font-size: 1.4rem; /* 14px */
          margin-right: 0.7rem; /* 7px */
        }
        @include breakpoint(max, 400px) {
          display: none;
        }
      }
      @include breakpoint(max, 992px) {
        flex: 0 0 100%;
        justify-content: center;
      }
      @include breakpoint(max, 1200px) {
        margin-right: 0;
      }
    }
    @include breakpoint(max, 1200px) {
      width: 38rem; /* 380px */
    }
    @include breakpoint(max, 400px) {
      width: 31.3rem; /* 313px */
    }
  }
  .game-item {
    &:before {
      background: linear-gradient(to bottom, rgba(#f3303a, 0) 0%, #292e53 90%);
    }
    @include breakpoint(max, 1200px) {
      width: 38rem; /* 380px */
      height: 24rem; /* 240px */
    }
    @include breakpoint(max, 400px) {
      width: 31.3rem; /* 313px */
      height: 21.5rem; /* 215px */
    }
    .title {
      @include breakpoint(max, 670px) {
        top: -8.4rem; /* -84px */
        font-size: 1.9rem; /* 19px */
        font-weight: 400;
        right: 7.3rem; /* 73px */
      }
    }
    &:after {
      @include breakpoint(max, 670px) {
        font-size: 2.1rem; /* 21px */
        width: 3.5rem; /* 35px */
        height: 2.8rem; /* 28px */
        padding-top: 0.6rem; /* 6px */
      }
    }
  }
}
.description-by-carousel {
  margin-top: 40rem;
  background: #222747;
  position: relative;
  @include breakpoint(max, 1199px) {
    margin-top: 32rem;
  }
  @include breakpoint(max, 768px) {
    margin-top: 22rem;
    margin-bottom: 10rem;
  }
  &:before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 30rem;
    top: -7rem;
    left: 0;
    z-index: 0;
    @include verticalGradient(rgba(#222747, 0), #222747, 100%);
  }
  .carousel-wrap {
    position: absolute;
    width: 100%;
    top: -22rem;
    left: 0;
    z-index: 1;
  }
  .description-wrap {
    padding: 30rem 0 14rem 0;
    display: flex;
    align-items: flex-start;
    color: #fff;
    position: relative;
    z-index: 1;
    @include breakpoint(max, 1199px) {
      padding-top: 24rem;
    }
    @include breakpoint(max, 991px) {
      padding-top: 16rem;
      padding-bottom: 10rem;
    }
    @include breakpoint(max, 768px) {
      padding-bottom: 5rem;
      flex-direction: column;
      padding-right: 5rem;
      padding-left: 5rem;
    }
    @include breakpoint(max, 576px) {
      padding-top: 10rem;
    }
    @include breakpoint(max, 500px) {
      padding-right: 2rem;
      padding-left: 2rem;
    }
    @include breakpoint(max, 430px) {
      padding-top: 5rem;
      padding-right: 0;
      padding-left: 0;
    }
    .right-side {
      width: 45%;
      margin-left: 10rem;
      @include breakpoint(max, 1199px) {
        margin-left: 5rem;
        width: 50%;
      }
      @include breakpoint(max, 768px) {
        width: 100%;
        margin-left: 0;
      }
      .title {
        @include fontSize(30, $rootFontSize);
        @include Heavy;
        @include breakpoint(max, 991px) {
          @include fontSize(24, $rootFontSize);
        }
      }
      p {
        @include Medium;
        @include fontSize(16, $rootFontSize);
        color: rgba(#e5e6f7, 0.8);
        text-align: justify;
        margin: 1.5rem 0 0 0;
        line-height: 2;
        @include breakpoint(max, 1199px) {
          @include fontSize(15, $rootFontSize);
        }
        @include breakpoint(max, 991px) {
          @include fontSize(14, $rootFontSize);
        }
        @include breakpoint(max, 768px) {
          @include fontSize(12, $rootFontSize);
        }
      }
    }
    .left-side {
      width: 40%;
      @include breakpoint(max, 1199px) {
        width: 45%;
      }
      @include breakpoint(max, 768px) {
        width: 100%;
        margin-top: 2.5rem;
      }
      .title {
        @include Bold;
        @include fontSize(24, $rootFontSize);
        @include breakpoint(max, 991px) {
          @include fontSize(20, $rootFontSize);
        }
      }
      p {
        @include Medium;
        @include fontSize(16, $rootFontSize);
        color: rgba(#e5e6f7, 0.8);
        position: relative;
        padding-right: 2rem;
        @include breakpoint(max, 1199px) {
          @include fontSize(15, $rootFontSize);
        }
        @include breakpoint(max, 991px) {
          @include fontSize(14, $rootFontSize);
        }
        @include breakpoint(max, 768px) {
          @include fontSize(12, $rootFontSize);
        }
        &:before {
          position: absolute;
          display: block;
          content: "";
          width: 0.5rem;
          height: 0.3rem;
          background: $red;
          right: 0;
          top: 1rem;
          // @include calc(top, "(100% - 0.2rem)/2");
        }
      }
    }
  }
  .circle {
    width: 5rem;
    height: 10rem;
    position: absolute;
    top: 15rem;
    left: 0;
    overflow: hidden;
    img {
      width: 9.8rem;
      height: 9.8rem;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

//*****************
#desc-carousel {
  position: relative;
  box-sizing: border-box;
}

#desc-carousel img {
  width: 140px;
  margin: 0 auto;
}
@media only screen and (max-width: 992px) {
  #desc-carousel img {
    width: 120px;
  }
}
@media only screen and (max-width: 576px) {
  #desc-carousel img {
    width: 111px;
  }
}
@media only screen and (max-width: 430px) {
  #desc-carousel img {
    width: 95px;
  }
}
#desc-carousel .owl-stage {
  padding-top: 100px;
}
@media only screen and (max-width: 576px) {
  #desc-carousel .owl-stage {
    padding-top: 75px;
  }
}

#desc-carousel .owl-item.center .item {
  position: relative;
  padding: 100px 0 40px;
}
#desc-carousel .owl-item.center .item img {
  width: 215px;
  opacity: 1;
  position: relative;
  top: -180px;
}
@media only screen and (max-width: 991px) {
  #desc-carousel .owl-item.center .item img {
    width: 180px;
  }
}
@media only screen and (max-width: 768px) {
  #desc-carousel .owl-item.center .item img {
    top: -115px;
  }
}
@media only screen and (max-width: 576px) {
  #desc-carousel .owl-item.center .item img {
    width: 150px;
  }
}
@media only screen and (max-width: 430px) {
  #desc-carousel .owl-item.center .item img {
    width: 120px;
  }
}
#desc-carousel .owl-item.center .item:before {
  position: absolute;
  top: -55px;
  content: "";
  width: 338px;
  height: 338px;
  border-radius: 100%;
  background: linear-gradient(to top, #615b8e, #20233f 60%, #282d51);
  animation: drop 0.4s;
  @include calc(right, "(100% - 338px)/2");
}

@media only screen and (max-width: 991px) {
  #desc-carousel .owl-item.center .item:before {
    width: 250px;
    height: 250px;
    @include calc(right, "(100% - 250px)/2");
  }
}
@media only screen and (max-width: 768px) {
  #desc-carousel .owl-item.center .item:before {
    display: none;
  }
}

#desc-carousel .owl-item.center .item:after {
  display: block;
  content: "";
  position: absolute;
  width: 37rem;
  height: 37rem;
  top: -7rem;
  @include calc(left, "(100% - 37rem)/2");
  border-radius: 100%;
  border: 0.5px solid rgba(#a2aede, 0.06);
  @include breakpoint(max, 991px) {
    top: -8rem;
    width: 30rem;
    height: 30rem;
    @include calc(left, "(100% - 30rem)/2");
  }
  @include breakpoint(max, 768px) {
    display: none;
  }
}



.special-tag {
  @include Heavy;
  @include fontSize(16, $rootFontSize);
  color: $white;
  left: 4px;
  top: 4px;
  background: $red;
  padding: 0.8rem 3rem 0.8rem 1.5rem;
  position: absolute;
  border-radius: 0.3rem 1.8rem 1.8rem 1.8rem; /* 3px 18px 18px 18px */
  @include breakpoint(max, 991px) {
    @include fontSize(14, $rootFontSize);
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 0.3rem 1rem 1rem 1rem; /* 3px 10px 10px 10px */
  }
  @include breakpoint(max, 768px) {
    @include fontSize(12, $rootFontSize);
    padding: 0.3rem 2rem 0.3rem 1rem;
    border-radius: 0.2rem 0.7rem 0.7rem 0.7rem; /* 2px 7px 7px 7px */
  }
  svg {
    width: 1.2rem; /* 12px */
    height: 1.6rem; /* 16px */
    position: absolute;
    right: 1.5rem; /* 15px */
    fill: $white;
    @include calc(top, "(100% - 1.6rem)/2");
    @include breakpoint(max, 991px) {
      width: 0.9rem; /* 9px */
      height: 1.3rem; /* 13px */
      @include calc(top, "(100% - 1.3rem)/2");
    }
    @include breakpoint(max, 768px) {
      right: 0.8rem; /* 8px */
    }
  }
}