@charset "UTF-8";
/*********Variable *********/
/********* Mixin *********/
/********* Normalize *********/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "YekanBakh", sans-serif;
  font-size: 17px;
  direction: rtl;
  color: #3f4373;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

p {
  line-height: 1.5;
}

[hidden] {
  display: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}
.container:after {
  content: "";
  clear: both;
  display: table;
}
@media only screen and (min-width: 1200px) {
  .container-xl {
    max-width: 1140px;
  }
}

/********* Font families *********/
@font-face {
  font-family: "Bebas Neue";
  src: url("../../../fonts/BebasNeue-Regular.woff2") format("woff2"),
    url("../../../fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../../../fonts/iGameYekanver38-Medium.woff2") format("woff2"),
    url("../../../fonts/iGameYekanver38-Medium.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../../../fonts/iGameYekanver38-Bold.woff2") format("woff2"),
    url("../../../fonts/iGameYekanver38-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../../../fonts/iGameYekanver38-Heavy.woff2") format("woff2"),
    url("../../../fonts/iGameYekanver38-Heavy.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakhNum";
  src: url("../../../fonts/iGameNumbers-Heavy.woff2") format("woff2"),
    url("../../../fonts/iGameNumbers-Heavy.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/********* Animations *********/
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes floatXY {
  0% {
    transform: translate(0, 0px);
  }
  25% {
    transform: translate(6px, 5px);
  }
  50% {
    transform: translate(-5px, -7px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/********* Components *********/
.white-btn {
  box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31),
    0 2px 5px 0 rgba(170, 188, 212, 0.21);
  background: #fff;
  color: #252849;
  border-radius: 100px;
}

.white-btn-v2 {
  position: relative;
  background: #fff;
  color: #252849;
  padding: 16px 81px 18px 30px;
  border-radius: 100px;
  font-size: 22px;
  font-weight: 500;
}
.white-btn-v2 svg {
  background: #f3303a;
  border-radius: 100px;
  stroke: #ffffff;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  padding: 16px;
  position: absolute;
  right: 13px;
  top: 9px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .white-btn-v2 svg {
    left: 13px;
    right: auto;
  }
}

.red-btn {
  background: #f3303a;
  color: #fff;
  box-shadow: 0 8px 27px 0 rgba(243, 48, 58, 0.23);
  border-radius: 100px;
  position: relative;
}
.red-btn svg {
  position: absolute;
  width: 10px;
  top: 21px;
  height: 10px;
  left: 24px;
}

.service-item {
  height: 315px;
  width: 230px;
  border-radius: 14px;
  position: relative;
  overflow: hidden;
}

.section-title h2 {
  font-weight: 600;
  padding-right: 35px;
  position: relative;
  font-size: 43px;
  margin: 60px 0 40px;
  color: #3f4373;
}
.section-title h2:after {
  display: block;
  position: absolute;
  content: "";
  width: 4px;
  height: 34px;
  background: #f3303a;
  border-radius: 2px;
  right: 0;
  top: 0;
  box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5),
    0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32);
}
@media only screen and (max-width: 768px) {
  .section-title h2:after {
    right: 13px;
    top: -7px;
  }
}
@media only screen and (max-width: 576px) {
  .section-title h2:after {
    width: 10px;
    height: 10px;
    border-radius: 12px;
    box-shadow: none;
    right: 18px;
    top: 2px;
  }
}
@media only screen and (max-width: 992px) {
  .section-title h2 {
    margin: 30px 20px 30px 0;
    flex: 0 0 100%;
  }
}
@media only screen and (max-width: 768px) {
  .section-title h2 {
    font-size: 33px;
  }
}
@media only screen and (max-width: 576px) {
  .section-title h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0 20px;
  }
}

.product-item {
  transition: all 0.5s;
  border-radius: 21px;
  width: 283px;
  display: inline-block;
  padding: 24px 0 45px 0;
}
.product-item .image-holder {
  transition: all 0.5s;
  position: relative;
  width: 242px;
  height: 325px;
  margin: auto;
}
.product-item .image-holder img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  .product-item .image-holder img {
    border-radius: 2px;
  }
}
@media only screen and (max-width: 768px) {
  .product-item .image-holder {
    width: 200px;
    height: 270px;
  }
}
@media only screen and (max-width: 576px) {
  .product-item .image-holder {
    width: 120px;
    height: 160px;
    padding: 0;
  }
}
.product-item .image-holder .product-info {
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(34, 39, 71, 0) 0%, #222747 60%);
  width: 100%;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  height: 200px;
  text-align: center;
}
.product-item .image-holder .product-info .product-platform {
  position: relative;
  top: 85px;
}
.product-item .image-holder .product-info .product-platform img {
  width: 18px;
  height: 24px;
  margin: 10px auto;
}
@media only screen and (max-width: 576px) {
  .product-item .image-holder .product-info .product-platform img {
    margin: 10px auto 1px;
  }
}
.product-item .image-holder .product-info .product-platform span {
  font-weight: 300;
  color: #ffffff;
  font-size: 17px;
  text-transform: uppercase;
  position: relative;
}
@media only screen and (max-width: 576px) {
  .product-item .image-holder .product-info .product-platform span {
    font-size: 12px;
  }
}
.product-item .image-holder .product-info .product-platform span:after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: "";
  height: 2px;
  width: 100%;
  background: #ffffff;
  opacity: 0.2;
}
@media only screen and (max-width: 576px) {
  .product-item .image-holder .product-info {
    background: linear-gradient(
      to bottom,
      rgba(34, 39, 71, 0) 0%,
      rgba(34, 39, 71, 0.94) 60%
    );
    height: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
.product-item .product-bottom {
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom {
    max-width: 120px;
  }
}
.product-item .product-bottom .product-title {
  font-weight: bold;
  font-size: 16px;
  color: #3f4373;
  margin-top: 25px;
  line-height: 1.5;
  text-align: left;
  height: 54px;
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom .product-title {
    font-weight: 400;
    font-size: 13px;
    margin-top: 12px;
  }
}
.product-item .product-bottom .product-card-price .original-price {
  font-family: "YekanBakhNum";
  color: rgba(63, 67, 115, 0.8);
  font-size: 16px;
  text-decoration: line-through;
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom .product-card-price .original-price {
    display: none;
  }
}
.product-item .product-bottom .product-card-price .sale-range {
  transition: all 0.5s;
  font-family: "YekanBakhNum";
  display: inline-block;
  font-size: 12px;
  padding: 5px 5px 3px 5px;
  color: #f3303a;
  background: #ffffff;
  border: 2px solid #f3303a;
  border-radius: 10px;
  margin-left: 5px;
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom .product-card-price .sale-range {
    font-size: 11px;
    padding: 2px 2px 1px 2px;
  }
}
.product-item .product-bottom .product-card-price .sale-price {
  display: block;
  font-family: "YekanBakhNum";
  font-size: 25px;
  color: #3f4373;
  position: relative;
  padding-left: 40px;
}
.product-item .product-bottom .product-card-price .sale-price:before {
  font-weight: bold;
  font-family: "YekanBakh" !important;
  display: block;
  position: absolute;
  content: "تومان";
  font-size: 14px;
  color: rgba(63, 67, 115, 0.8);
  left: 0;
  bottom: 5px;
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom .product-card-price .sale-price:before {
    font-weight: 400;
    font-size: 11px;
    left: 11px;
    bottom: 4px;
  }
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom .product-card-price .sale-price {
    font-size: 14px;
    top: 2px;
    right: initial;
  }
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom .product-card-price {
    display: flex;
  }
}
.product-item .product-bottom .add-to-basket {
  width: 48px;
  height: 48px;
  font-size: 28px;
  line-height: 1.8;
  font-weight: bold;
  transition: all 0.5s;
  border-radius: 100px;
  text-align: center;
  border: 2px solid #dfe1f4;
}
.product-item .product-bottom .add-to-basket svg {
  stroke: #252849;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  transition: all 0.5s;
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom .add-to-basket {
    display: none;
  }
}
.product-item:hover {
  background: #ffffff;
  box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31),
    0 2px 5px 0 rgba(170, 188, 212, 0.21);
}
.product-item:hover .product-bottom .add-to-basket {
  border-color: #f3303a;
  background: #f3303a;
  box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5),
    0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32);
}
.product-item:hover .product-bottom .add-to-basket svg {
  stroke: #ffffff;
}
@media only screen and (max-width: 768px) {
  .product-item {
    background: #ffffff;
    margin: 0 10px;
    box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31),
      0 2px 5px 0 rgba(170, 188, 212, 0.21);
    width: 243px;
    display: inline-block;
    padding: 18px 0 19px 0;
    margin-bottom: 44px;
    margin-top: 25px;
  }
}
@media only screen and (max-width: 576px) {
  .product-item {
    width: 120px;
    height: 255px;
    padding: 15px;
    box-shadow: none;
    border-radius: 5px;
    margin: 30px 5px 0;
  }
}

.step-item {
  text-align: center;
  position: relative;
  border-radius: 10px;
  transition: all 0.5s;
  min-height: 250px;
  max-width: 530px;
  padding: 50px 0 0;
}
.step-item .icon {
  width: 58px;
  height: 57px;
  border-radius: 100px;
  background: #ffffff;
  display: inline-block;
  box-shadow: 0px 1px 1px 0 rgba(170, 188, 212, 0.31),
    0 2px 5px 0 rgba(170, 188, 212, 0.21);
  transition: all 0.5s;
}
.step-item .icon svg {
  width: 26px;
  height: 26px;
  fill: #3f4373;
  opacity: 0.8;
  position: relative;
  top: 14px;
  transition: all 0.3s;
}
.step-item .title {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 12px;
}
.step-item .description {
  opacity: 0.8;
  max-width: 470px;
  font-weight: 300;
  margin: 0 auto;
}
.step-item:after {
  content: attr(data-step);
  position: absolute;
  right: 21px;
  background: #252849;
  border-radius: 100px;
  color: #ffffff;
  top: 21px;
  width: 28px;
  height: 23px;
  padding-top: 5px;
  font-family: "YekanBakhNum";
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.step-item:hover {
  background: #ffffff;
  box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31),
    1px 1px 4px 0 rgba(170, 188, 212, 0.21),
    19px 6px 20px 0 rgba(170, 188, 212, 0.18);
}
.step-item:hover:after {
  opacity: 1;
  visibility: visible;
}
.step-item:hover .icon {
  background: #f3303a;
  box-shadow: 3px 4px 14px 0 rgba(243, 48, 58, 0.28);
}
.step-item:hover .icon svg {
  fill: #ffffff;
}
@media only screen and (max-width: 768px) {
  .step-item {
    box-shadow: 0 9px 20px 0 rgba(170, 188, 212, 0.29),
      0 2px 1px 0 rgba(170, 188, 212, 0.21);
    background: #fff;
    padding: 30px 0 0;
  }
}

.filter-card ul {
  list-style: none;
  padding-right: 0;
  display: inline-block;
}
@media only screen and (max-width: 576px) {
  .filter-card ul {
    margin-bottom: 0;
  }
}
.filter-card ul li {
  display: inline-block;
  font-size: 13px;
  box-shadow: 0px 2px 2px 0 rgba(170, 188, 212, 0.31),
    0 2px 5px 0 rgba(170, 188, 212, 0.12);
  background: #fff;
  padding: 10px 20px;
  border-radius: 100px;
  margin-left: 7px;
}
@media only screen and (max-width: 576px) {
  .filter-card ul li {
    font-size: 12px;
    box-shadow: none;
  }
}

body {
  background: #f7f8ff;
}

@media only screen and (max-width: 1570px) {
  .container {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

#header {
  background: url(../img/hero-bg.png), linear-gradient(#202542, #202542);
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-position: right;
  min-height: 920px;
}
@media only screen and (max-width: 992px) {
  #header {
    min-height: initial;
  }
}
#header .nav .logo {
  width: 125px;
  height: 31px;
  float: right;
  margin-top: 50px;
}
@media only screen and (max-width: 576px) {
  #header .nav .logo {
    width: 110px;
    height: 24px;
    margin-top: 30px;
  }
}
#header .nav .white-btn {
  margin-top: 40px;
  float: left;
  padding: 14px 36px;
  font-size: 17px;
  z-index: 1;
  position: relative;
}
@media only screen and (max-width: 575px) {
  #header .nav .white-btn {
    font-size: 15px;
    margin-top: 22px;
  }
}
@media only screen and (max-width: 380px) {
  #header .nav .white-btn {
    padding: 12px 22px;
  }
}
@media only screen and (max-width: 1410px) {
  #header .nav {
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 57px;
  }
}
@media only screen and (max-width: 576px) {
  #header .nav {
    padding: 0 30px;
  }
}
#header .hero > .container {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1200px) {
  #header .hero > .container {
    flex-wrap: wrap;
  }
}
#header .hero .intro {
  position: relative;
  width: 100%;
  max-width: 490px;
  margin: 140px 0 120px 0;
}
@media only screen and (max-width: 1770px) {
  #header .hero .intro {
    margin: 140px 0 120px 0;
  }
}
@media only screen and (max-width: 1570px) {
  #header .hero .intro {
    margin: 140px 10px 120px 0;
  }
}
@media only screen and (max-width: 1350px) {
  #header .hero .intro {
    margin: 130px 0 120px 0;
  }
}
@media only screen and (max-width: 1200px) {
  #header .hero .intro {
    margin: 70px 30px 120px 0;
    flex: 0 0 100%;
    max-width: 90%;
  }
}
@media only screen and (max-width: 992px) {
  #header .hero .intro {
    margin: 70px 30px 100px 0;
  }
}
@media only screen and (max-width: 810px) {
  #header .hero .intro {
    margin: 70px auto 170px;
    text-align: center;
  }
}
@media only screen and (max-width: 576px) {
  #header .hero .intro {
    margin: 30px auto 140px;
  }
}
#header .hero .intro .title {
  font-size: 47px;
  font-weight: 500;
  color: #ffffff;
}
#header .hero .intro .title strong {
  font-weight: 600;
}
#header .hero .intro .title img {
  position: relative;
  top: 17px;
  margin-left: 9px;
}
@media only screen and (max-width: 810px) {
  #header .hero .intro .title img {
    top: 9px;
    width: 120px;
  }
}
@media only screen and (max-width: 380px) {
  #header .hero .intro .title img {
    width: 98px;
  }
}
@media only screen and (max-width: 1570px) {
  #header .hero .intro .title {
    font-size: 41px;
  }
}
@media only screen and (max-width: 1410px) {
  #header .hero .intro .title {
    font-size: 39px;
  }
}
@media only screen and (max-width: 810px) {
  #header .hero .intro .title {
    font-size: 33px;
  }
}
@media only screen and (max-width: 576px) {
  #header .hero .intro .title {
    font-size: 30px;
    text-align: center;
    line-height: 47px;
    padding: 0 28px;
  }
}
@media only screen and (max-width: 380px) {
  #header .hero .intro .title {
    font-size: 23px;
    line-height: 38px;
  }
}
#header .hero .intro .description {
  position: relative;
  text-align: justify;
  opacity: 0.8;
  font-weight: 300;
  margin: 50px 0 50px;
  color: #e5e6f7;
}
@media only screen and (max-width: 1410px) {
  #header .hero .intro .description {
    font-size: 16px;
  }
}
@media only screen and (max-width: 992px) {
  #header .hero .intro .description {
    margin: 40px 0 30px;
  }
}
@media only screen and (max-width: 810px) {
  #header .hero .intro .description {
    margin: 30px 10px 0;
  }
}
@media only screen and (max-width: 576px) {
  #header .hero .intro .description {
    margin: 10px 10px 0;
    font-size: 15px;
  }
}
#header .hero .intro .red-btn {
  padding: 17px 30px 17px 77px;
  font-size: 18px;
  margin-top: 6px;
  float: right;
}
@media only screen and (max-width: 1410px) {
  #header .hero .intro .red-btn {
    padding: 17px 30px 17px 67px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 810px) {
  #header .hero .intro .red-btn {
    float: initial;
    top: 44px;
    padding: 11px 25px 12px 61px;
  }
}
@media only screen and (max-width: 576px) {
  #header .hero .intro .red-btn svg {
    top: 18px;
  }
}
#header .hero .slider-wrapper {
  max-width: 660px;
  position: relative;
  top: 80px;
  padding: 0 2px;
  height: 320px;
  left: -180px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #header .hero .slider-wrapper {
    margin-right: 100px;
  }
}
@media only screen and (max-width: 1570px) {
  #header .hero .slider-wrapper {
    left: -80px;
  }
}
@media only screen and (max-width: 1200px) {
  #header .hero .slider-wrapper {
    top: -60px;
    left: 0;
    margin: 0 auto 123px;
    flex: 0 0 100%;
  }
}
@media only screen and (min-width: 660px) {
  #header .hero .slider-wrapper {
    height: 450px;
  }
}
@media only screen and (max-width: 660px) {
  #header .hero .slider-wrapper {
    top: -26px;
  }
}
@media only screen and (max-width: 576px) {
  #header .hero .slider-wrapper {
    margin-bottom: 0;
  }
}
#header .hero .slider-wrapper .slider-item {
  position: relative;
  border-radius: 11px;
  transition: all 0.3s;
  opacity: 0.7;
}
@media only screen and (min-width: 660px) {
  #header .hero .slider-wrapper .slider-item {
    padding: 80px 0 4px;
    height: 511px;
    width: 217px;
  }
}
@media only screen and (max-width: 659px) {
  #header .hero .slider-wrapper .slider-item {
    max-height: 256px;
    max-width: 192px;
    margin-bottom: 180px;
    opacity: 1;
  }
}
@media only screen and (max-width: 576px) {
  #header .hero .slider-wrapper .slider-item {
    max-height: 133px;
    max-width: 148px;
  }
}
#header .hero .slider-wrapper .slider-item img {
  border-radius: 11px;
}
@media only screen and (max-width: 576px) {
  #header .hero .slider-wrapper .slider-item img {
    border-radius: 5px;
  }
}
#header .hero .slider-wrapper .slider-item:after {
  content: "";
  position: absolute;
  bottom: 198px;
  right: 0;
  height: 237px;
  width: 100%;
  background: linear-gradient(to top, #222747, transparent);
  transition: all 0.3s;
}
@media only screen and (max-width: 660px) {
  #header .hero .slider-wrapper .slider-item:after {
    display: none;
  }
}
#header .hero .slider-wrapper .slider-item .product-bottom {
  max-width: 260px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  display: none;
}
@media only screen and (max-width: 660px) {
  #header .hero .slider-wrapper .slider-item .product-bottom {
    display: flex;
  }
}
#header .hero .slider-wrapper .slider-item .product-bottom .product-title {
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
  margin-top: 25px;
  line-height: 1.5;
  text-align: left;
  direction: ltr;
  height: 67px;
}
@media only screen and (max-width: 660px) {
  #header .hero .slider-wrapper .slider-item .product-bottom .product-title {
    font-size: 19px;
    height: 54px;
  }
}
@media only screen and (max-width: 576px) {
  #header .hero .slider-wrapper .slider-item .product-bottom .product-title {
    font-size: 16px;
    margin-top: 13px;
    height: 46px;
  }
}
#header
  .hero
  .slider-wrapper
  .slider-item
  .product-bottom
  .product-card-price
  .original-price {
  font-family: "YekanBakhNum";
  color: #3f4373;
  font-size: 16px;
  text-decoration: line-through;
}
@media only screen and (max-width: 576px) {
  #header
    .hero
    .slider-wrapper
    .slider-item
    .product-bottom
    .product-card-price
    .original-price {
    display: none;
  }
}
#header
  .hero
  .slider-wrapper
  .slider-item
  .product-bottom
  .product-card-price
  .sale-range {
  transition: all 0.5s;
  font-family: "YekanBakhNum";
  display: inline-block;
  font-size: 12px;
  color: #ffffff;
  padding: 1px 5px 1px 5px;
  background: #f3303a;
  border-radius: 10px;
  border: 2px solid transparent;
  margin-left: 5px;
}
#header
  .hero
  .slider-wrapper
  .slider-item
  .product-bottom
  .product-card-price
  .sale-price {
  display: block;
  font-family: "YekanBakhNum";
  font-size: 25px;
  color: #ffffff;
  position: relative;
  padding-left: 40px;
}
#header
  .hero
  .slider-wrapper
  .slider-item
  .product-bottom
  .product-card-price
  .sale-price:before {
  font-weight: bold;
  font-family: "YekanBakh" !important;
  display: block;
  position: absolute;
  content: "تومان";
  font-size: 14px;
  color: #3f4373;
  left: 0;
  bottom: 5px;
}
@media only screen and (max-width: 576px) {
  #header
    .hero
    .slider-wrapper
    .slider-item
    .product-bottom
    .product-card-price
    .sale-price:before {
    bottom: 1px;
  }
}
@media only screen and (max-width: 576px) {
  #header
    .hero
    .slider-wrapper
    .slider-item
    .product-bottom
    .product-card-price
    .sale-price {
    font-size: 16px;
  }
}
@media only screen and (max-width: 576px) {
  #header
    .hero
    .slider-wrapper
    .slider-item
    .product-bottom
    .product-card-price {
    display: flex;
  }
}
#header .hero .slider-wrapper .slider-item .product-bottom .add-to-basket {
  width: 48px;
  height: 48px;
  font-size: 28px;
  line-height: 1.8;
  font-weight: bold;
  transition: all 0.5s;
  border-radius: 100px;
  text-align: center;
  border-color: #f3303a;
  background: #f3303a;
  box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5),
    0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32);
}
#header .hero .slider-wrapper .slider-item .product-bottom .add-to-basket svg {
  stroke: #ffffff;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  transition: all 0.5s;
}
@media only screen and (max-width: 660px) {
  #header
    .hero
    .slider-wrapper
    .slider-item
    .product-bottom
    .add-to-basket
    svg {
    width: 8px;
    height: 8px;
    position: relative;
    top: -5px;
  }
}
@media only screen and (max-width: 660px) {
  #header .hero .slider-wrapper .slider-item .product-bottom .add-to-basket {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 576px) {
  #header .hero .slider-wrapper .slider-item .product-bottom .add-to-basket {
    display: none;
  }
}
#header .hero .slider-wrapper .owl-item {
  position: relative;
  border-radius: 11px;
}
#header .hero .slider-wrapper .owl-item.center {
  position: relative;
  z-index: 2;
}
#header .hero .slider-wrapper .owl-item.center .slider-item {
  opacity: 1;
}
@media only screen and (min-width: 660px) {
  #header .hero .slider-wrapper .owl-item.center .slider-item {
    height: 551px;
    width: 316px;
    position: relative;
    right: -54px;
    top: -79px;
  }
}
#header .hero .slider-wrapper .owl-item.center .slider-item:after {
  background: linear-gradient(to top, #f3303a, transparent);
  border-radius: 11px;
  height: 310px;
  bottom: 93px;
}
#header .hero .slider-wrapper .owl-item.center .slider-item .product-bottom {
  display: flex;
}
#header .hero .slider-wrapper .owl-nav {
  position: absolute;
  left: 148px;
  top: 203px;
  width: 374px;
}
#header .hero .slider-wrapper .owl-nav .owl-prev,
#header .hero .slider-wrapper .owl-nav .owl-next {
  outline: none;
}
#header .hero .slider-wrapper .owl-nav .owl-prev svg,
#header .hero .slider-wrapper .owl-nav .owl-next svg {
  width: 7px;
  height: 15px;
  opacity: 0.8;
}
#header .hero .slider-wrapper .owl-nav .owl-prev {
  margin-left: 17px;
}
#header .hero .slider-wrapper .owl-nav .owl-prev svg {
  transform: rotate(180deg);
}
#header .hero .slider-wrapper .owl-nav .owl-next {
  position: absolute;
  left: 0;
}
#header .hero .scroll-down {
  position: absolute;
  bottom: 135px;
  cursor: pointer;
  opacity: 0.8;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
#header .hero .scroll-down span {
  font-size: 14px;
  color: #76799e;
  display: block;
  font-weight: 400;
  margin-bottom: 7px;
}
#header .hero .scroll-down svg {
  stroke: #daddfb;
  width: 20px;
  height: 31px;
}
@media only screen and (max-width: 1200px) {
  #header .hero .scroll-down {
    display: none;
  }
}
#header:before {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  background: url(../img/hero-overlay.png);
  bottom: 0;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 576px) {
  #header:before {
    display: none;
  }
}

#main {
  border-top-right-radius: 61px;
  margin-top: -84px;
  background: #f7f8ff;
  z-index: 2;
  position: relative;
}
@media only screen and (max-width: 1200px) {
  #main {
    border-top-right-radius: 0;
    margin-top: 0;
  }
}
#main .gift-card {
  margin-top: 30px;
  padding-bottom: 173px;
  overflow: hidden;
  padding-top: 20px;
  position: relative;
}
#main .gift-card .section-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#main .gift-card .section-title span {
  max-width: 560px;
  color: #8c90b1;
  font-weight: 300;
  position: relative;
  top: 8px;
  right: 30px;
}
@media only screen and (max-width: 992px) {
  #main .gift-card .section-title span {
    font-size: 15px;
    padding-left: 40px;
    top: -8px;
  }
}
@media only screen and (max-width: 576px) {
  #main .gift-card .section-title span {
    font-size: 14px;
    line-height: 24px;
  }
}
#main .gift-card .product-item {
  margin-bottom: 40px;
}
@media only screen and (max-width: 768px) {
  #main .gift-card .product-item {
    margin-bottom: 44px;
    margin-top: 25px;
  }
}
@media only screen and (max-width: 576px) {
  #main .gift-card .product-item {
    margin-bottom: 15px;
  }
}
#main .gift-card #gift-cards-carousel .owl-nav {
  position: absolute;
  left: 720px;
  top: -105px;
}
@media only screen and (max-width: 1670px) {
  #main .gift-card #gift-cards-carousel .owl-nav {
    left: 620px;
  }
}
@media only screen and (max-width: 1570px) {
  #main .gift-card #gift-cards-carousel .owl-nav {
    left: 520px;
  }
}
@media only screen and (max-width: 1470px) {
  #main .gift-card #gift-cards-carousel .owl-nav {
    left: 220px;
  }
}
@media only screen and (max-width: 1200px) {
  #main .gift-card #gift-cards-carousel .owl-nav {
    left: 70px;
  }
}
@media only screen and (max-width: 992px) {
  #main .gift-card #gift-cards-carousel .owl-nav {
    display: none;
  }
}
#main .gift-card #gift-cards-carousel .owl-nav .owl-prev {
  display: none;
}
#main .gift-card #gift-cards-carousel .owl-nav .owl-next {
  background: transparent;
  padding: 12px 3px !important;
  border-radius: 100px;
  outline: none;
  border: 2px solid #cacdea;
}
#main .gift-card #gift-cards-carousel .owl-nav .owl-next svg {
  width: 25px;
  height: 34px;
  position: relative;
  top: 3px;
  fill: #252849;
}
@media only screen and (max-width: 1200px) {
  #main .gift-card {
    margin-top: 0;
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 768px) {
  #main .gift-card {
    padding-bottom: 0;
  }
}
#main .gift-card:after {
  content: "";
  position: absolute;
  right: -70px;
  bottom: -201px;
  width: 1100px;
  height: 600px;
  background: url("../img/lines.png");
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1200px) {
  #main .gift-card:after {
    display: none;
  }
}
#main .apex-legends {
  background: url(../img/apex-legends-bg.png), linear-gradient(#202542, #202542);
  color: #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 480px;
  position: relative;
}
@media only screen and (max-width: 1410px) {
  #main .apex-legends {
    background-size: cover;
  }
}
@media only screen and (max-width: 1030px) {
  #main .apex-legends {
    padding: 25px 50px;
  }
}
@media only screen and (max-width: 992px) {
  #main .apex-legends {
    overflow: hidden;
    max-height: initial;
  }
}
@media only screen and (max-width: 576px) {
  #main .apex-legends {
    padding: 30px 30px 0;
    background-size: contain;
  }
}
#main .apex-legends .c1 {
  position: absolute;
  width: 83px;
  height: 82px;
  bottom: -28px;
  right: 200px;
  z-index: 2;
}
@media only screen and (max-width: 1200px) {
  #main .apex-legends .c1 {
    display: none;
  }
}
#main .apex-legends .c2 {
  position: absolute;
  width: 92px;
  height: 92px;
  top: -33px;
  right: -20px;
}
@media only screen and (max-width: 1200px) {
  #main .apex-legends .c2 {
    display: none;
  }
}
#main .apex-legends > .container {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1030px) {
  #main .apex-legends > .container {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 768px) {
  #main .apex-legends > .container {
    padding: 0;
  }
}
#main .apex-legends .img img {
  width: 535px;
  height: auto;
  position: relative;
  top: -100px;
}
@media only screen and (max-width: 1570px) {
  #main .apex-legends .img img {
    width: 430px;
  }
}
@media only screen and (max-width: 1030px) {
  #main .apex-legends .img {
    display: none;
  }
}
#main .apex-legends .apex-legends-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
  padding-bottom: 50px;
  max-width: 750px;
  top: 71px;
  right: -80px;
}
#main .apex-legends .apex-legends-wrapper .content {
  width: 100%;
  max-width: 750px;
}
#main .apex-legends .apex-legends-wrapper .content .title {
  font-size: 30px;
}
@media only screen and (max-width: 768px) {
  #main .apex-legends .apex-legends-wrapper .content .title {
    font-size: 26px;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 576px) {
  #main .apex-legends .apex-legends-wrapper .content .title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
#main .apex-legends .apex-legends-wrapper .content .title .logo {
  position: relative;
  top: 10px;
  margin-left: 11px;
  width: 59px;
  height: 33px;
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  #main .apex-legends .apex-legends-wrapper .content .title .logo {
    display: none;
  }
}
#main .apex-legends .apex-legends-wrapper .content .title .platform {
  float: left;
  position: relative;
  top: 12px;
  text-transform: uppercase;
  font-size: 14px;
  background: #fff;
  color: #252849;
  border-radius: 50px;
  padding: 0 14px 5px;
}
#main .apex-legends .apex-legends-wrapper .content .title .platform img {
  width: 14px;
  height: 18px;
  position: relative;
  top: 5px;
  margin-right: 6px;
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  #main .apex-legends .apex-legends-wrapper .content .title .platform {
    position: absolute;
    top: 0px;
    right: 0;
  }
}
@media only screen and (max-width: 576px) {
  #main .apex-legends .apex-legends-wrapper .content .title .platform {
    font-size: 12px;
    padding: 0 14px 8px;
  }
}
#main .apex-legends .apex-legends-wrapper .content .description {
  color: #e5e6f7;
  opacity: 0.8;
  font-weight: 300;
  margin-bottom: 45px;
}
@media only screen and (max-width: 576px) {
  #main .apex-legends .apex-legends-wrapper .content .description {
    font-size: 15px;
    margin-bottom: 20px;
  }
}
#main .apex-legends .apex-legends-wrapper .content .red-btn {
  padding: 17px 30px 17px 67px;
  font-size: 16px;
  float: left;
}
@media only screen and (max-width: 576px) {
  #main .apex-legends .apex-legends-wrapper .content .red-btn {
    padding: 14px 30px 15px 67px;
    font-size: 15px;
    float: right;
  }
}
#main .apex-legends .apex-legends-wrapper #apex-legends-slider-counter {
  position: absolute;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.45);
  direction: ltr;
  bottom: 7px;
  right: 120px;
}
#main
  .apex-legends
  .apex-legends-wrapper
  #apex-legends-slider-counter
  .current {
  color: #ffffff;
}
@media only screen and (max-width: 576px) {
  #main .apex-legends .apex-legends-wrapper #apex-legends-slider-counter {
    display: none;
  }
}
#main .apex-legends .apex-legends-wrapper .owl-dots {
  display: block;
  position: absolute;
  bottom: -46px;
  right: 159px;
}
#main .apex-legends .apex-legends-wrapper .owl-dots .owl-dot {
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 0.43);
  border-radius: 100px;
  margin-left: 8px;
}
#main .apex-legends .apex-legends-wrapper .owl-dots .owl-dot.active {
  background: white;
  width: 21px;
}
@media only screen and (max-width: 576px) {
  #main .apex-legends .apex-legends-wrapper .owl-dots {
    display: none;
  }
}
@media only screen and (max-width: 1570px) {
  #main .apex-legends .apex-legends-wrapper {
    top: 76px;
    right: -59px;
  }
}
@media only screen and (max-width: 1030px) {
  #main .apex-legends .apex-legends-wrapper {
    top: 0;
    right: 0;
  }
}
#main .game-list {
  padding-top: 145px;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 1570px) {
  #main .game-list {
    padding-top: 55px;
  }
}
@media only screen and (max-width: 576px) {
  #main .game-list {
    padding-top: 37px;
  }
}
#main .game-list .section-title {
  margin-bottom: 65px;
}
@media only screen and (max-width: 1200px) {
  #main .game-list .section-title h2 {
    font-size: 35px;
    margin: 0;
  }
}
@media only screen and (max-width: 576px) {
  #main .game-list .section-title h2 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 576px) {
  #main .game-list .section-title {
    margin-bottom: 23px;
  }
}
#main .game-list .games-img {
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  #main .game-list .games-img img {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  #main .game-list .games-img img {
    width: 150%;
  }
}
@media only screen and (max-width: 400px) {
  #main .game-list .games-img img {
    width: 200%;
  }
}
@media only screen and (max-width: 768px) {
  #main .game-list .games-img {
    margin-bottom: 80px;
  }
}
#main .game-list .more {
  border: 2px solid #dcdef2;
  border-radius: 100px;
  padding: 4px 19px;
  font-size: 16px;
  color: rgba(63, 67, 115, 0.81);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
@media only screen and (max-width: 768px) {
  #main .game-list .more {
    bottom: 25px;
    font-size: 14px;
  }
}
#main .ordering-steps {
  padding: 100px 0 100px;
}
@media only screen and (max-width: 992px) {
  #main .ordering-steps {
    padding: 60px 15px 100px;
  }
}
#main .ordering-steps > .container {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1200px) {
  #main .ordering-steps > .container {
    padding: 0;
  }
}
#main .ordering-steps .step-item {
  flex: 0 0 49%;
  margin: 30px auto 0;
}
@media only screen and (max-width: 768px) {
  #main .ordering-steps .step-item .title {
    font-size: 19px;
  }
}
@media only screen and (max-width: 1200px) {
  #main .ordering-steps .step-item .description {
    padding: 0 47px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 768px) {
  #main .ordering-steps .step-item .description {
    padding: 0 28px;
    line-height: 29px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  #main .ordering-steps .step-item {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  #main .ordering-steps {
    padding: 1px;
    background: rgba(37, 40, 73, 0.788235);
  }
}

#footer {
  background: url("../img/cta-bg.png") no-repeat center -180px,
    linear-gradient(#252849, #252849);
  color: rgba(255, 255, 255, 0.84);
  padding: 50px 0 20px 0;
  position: relative;
  font-size: 13px;
  font-weight: 300;
  overflow: hidden;
  background-size: contain;
  background-blend-mode: color-dodge;
}
@media only screen and (max-width: 992px) {
  #footer {
    background-position: center -100px;
  }
}
@media only screen and (max-width: 768px) {
  #footer {
    background-position: center -40px;
  }
}
#footer .cta {
  text-align: center;
  padding: 10px 0 174px 0;
}
#footer .cta .title {
  font-size: 30px;
  color: #fff;
}
@media only screen and (max-width: 576px) {
  #footer .cta .title {
    font-size: 22px;
    line-height: 34px;
  }
}
#footer .cta .description {
  font-size: 18px;
  color: #8c90b1;
  margin-top: -16px;
}
@media only screen and (max-width: 576px) {
  #footer .cta .description {
    font-size: 16px;
    margin-top: -5px;
  }
}
#footer .cta .white-btn-v2 {
  top: 40px;
}
@media only screen and (max-width: 576px) {
  #footer .cta .white-btn-v2 {
    padding: 14px 75px 14px 27px;
    font-size: 17px;
  }
}
@media only screen and (max-width: 768px) {
  #footer .cta .white-btn-v2 svg {
    right: 80px;
  }
}
@media only screen and (max-width: 576px) {
  #footer .cta .white-btn-v2 svg {
    right: 73px;
    top: 6px;
    padding: 13px;
  }
}
@media only screen and (max-width: 768px) {
  #footer .cta {
    padding: 10px 32px 104px 34px;
  }
}
#footer .circle {
  pointer-events: none;
}
#footer .c1 {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 165px;
  bottom: -10px;
  z-index: 1;
  animation: float 5s ease-in-out infinite;
}
@media only screen and (max-width: 800px) {
  #footer .c1 {
    display: none;
  }
}
#footer .c2 {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 90px;
  bottom: 150px;
  z-index: 1;
  animation: float 6s ease-in-out infinite;
}
@media only screen and (max-width: 992px) {
  #footer .c2 {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (max-width: 800px) {
  #footer .c2 {
    display: none;
  }
}
#footer .c3 {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 125px;
  bottom: 180px;
  animation: float 4s ease-in-out infinite;
}
@media only screen and (max-width: 992px) {
  #footer .c3 {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 600px) {
  #footer .c3 {
    display: none;
  }
}
#footer .c4 {
  position: absolute;
  width: 82px;
  height: 82px;
  top: 8px;
  left: 555px;
  animation: floatXY 4s linear infinite;
}
@media only screen and (max-width: 992px) {
  #footer .c4 {
    width: 52px;
    height: 52px;
    left: 55px;
  }
}
#footer .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (max-width: 992px) {
  #footer .content {
    justify-content: center;
  }
}
#footer .content .description {
  display: flex;
  max-width: 380px;
}
#footer .content .description .footer-logo {
  width: 60px;
  margin-left: 20px;
}
@media only screen and (max-width: 576px) {
  #footer .content .description .footer-logo {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 576px) {
  #footer .content .description p {
    display: none;
  }
}
#footer .content .menu {
  list-style: none;
}
#footer .content .menu li {
  display: inline-block;
  padding: 5px 10px 17px 10px;
  margin-left: 60px;
  position: relative;
  transition: all ease-in-out 0.5s;
}
#footer .content .menu li:after {
  transition: all ease-in-out 0.5s;
  display: block;
  position: absolute;
  content: "";
  width: 25px;
  height: 3px;
  border-radius: 1.5px;
  background: #f3303a;
  box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5),
    0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32);
  bottom: 0;
  left: calc((100% - 25px) / 2);
  opacity: 0;
  visibility: hidden;
}
#footer .content .menu li:hover:after {
  opacity: 1;
  visibility: visible;
}
#footer .content .menu li.active:after {
  opacity: 1;
  visibility: visible;
}
@media only screen and (max-width: 992px) {
  #footer .content .menu {
    flex: 0 0 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 576px) {
  #footer .content .menu {
    display: none;
  }
}
#footer .copyright {
  text-align: center;
  color: rgba(240, 242, 248, 0.55);
  direction: ltr;
  margin-top: 50px;
  font-weight: 300;
}
#footer .copyright .mobile-logo {
  display: none;
}
@media only screen and (max-width: 992px) {
  #footer .copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.121569);
    padding-top: 19px;
    margin-top: 0;
  }
}
/* ************product card new style************** */
#gift-cards-carousel {
  margin-top: 30px;
}
:root {
  font-size: 10px;
}
.btn {
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
}

.btn.revert svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.btn--red {
  background: #f3303a;
  color: #fff;
  -webkit-box-shadow: 0 8px 27px 0 rgba(243, 48, 58, 0.23);
  box-shadow: 0 8px 27px 0 rgba(243, 48, 58, 0.23);
}

.btn--red svg {
  stroke: #fff;
}

.btn--red:focus,
.btn--red:hover {
  color: #fff;
}

.btn--dark {
  background: #25294a;
  color: #fff;
}

.btn--dark svg {
  stroke: #fff;
}

.btn--dark:focus,
.btn--dark:hover {
  color: #fff;
}

.btn--white {
  background: #fff;
  color: rgba(63, 67, 115, 0.8);
}

.btn--white svg {
  stroke: rgba(63, 67, 115, 0.6);
}

.btn--white:focus,
.btn--white:hover {
  color: rgba(63, 67, 115, 0.8);
}

.btn--transparent {
  background: transparent;
  border: 1px solid #dfe1f4;
  color: #25294a;
}

.btn--transparent svg {
  stroke: rgba(63, 67, 115, 0.6);
}

#ordModal .btn--transparent svg {
  stroke: #fff;
}

.orderModalContent .btn--transparent {
  color: #fff;
}

.btn--transparent:focus,
.btn--transparent:hover {
  color: #25294a;
}

.orderModalContent .btn--transparent:focus,
.orderModalContent .btn--transparent:hover {
  color: #fff;
}

.btn-silver {
  background: #d3d4da;
  color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(168, 192, 226, 0.27),
    0 2px 5px 0 rgba(168, 192, 226, 0.19);
  box-shadow: 0 1px 2px 0 rgba(168, 192, 226, 0.27),
    0 2px 5px 0 rgba(168, 192, 226, 0.19);
}

.btn-silver.active {
  background: #25294a;
}

.btn-silver svg {
  stroke: #fff;
}

.btn--icon {
  -webkit-border-radius: 45px;
  border-radius: 45px;
  text-align: center;
}

.btn--icon svg {
  width: 20px;
  height: 20px;
}

.btn--small {
  padding: 1.5rem 3.5rem;
}

.btn--small svg {
  width: 7px;
  height: 11px;
  top: -webkit-calc((100% - 1.1rem)/2);
  top: calc((100% - 1.1rem) / 2);
}

.btn--large {
  padding: 1.8rem 3rem;
  font-size: 2rem;
  font-weight: 500;
}

.btn--large svg {
  width: 10px;
  height: 14px;
  top: -webkit-calc((100% - 1.4rem)/2);
  top: calc((100% - 1.4rem) / 2);
}

.btn--circle {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.btn--circle svg {
  stroke: #25294a;
}

.btn--text--right {
  padding-left: 7.5rem;
}

.btn--text--right svg {
  position: absolute;
  left: 30px;
}

.btn--text--left {
  padding-right: 7.5rem;
}

.btn--text--left svg {
  position: absolute;
  right: 3rem;
}

.product-card {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  /* 11px */
  /* display: block; */
  position: relative;
  overflow: hidden;
  /*TYPES*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card .image-holder {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  position: relative;
  width: 100%;

  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}

.product-card .image-holder img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.product-card .hole {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  position: absolute;
  width: 4.5rem;
  /* 45px */
  height: 1rem;
  /* 10px */
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  /* 5px */
  background: #fff;
  top: 2.2rem;
  /* 22px */
  z-index: 1;
  left: -webkit-calc((100% - 4.5rem)/2);
  left: calc((100% - 4.5rem) / 2);
}

.product-card .hole:after {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  display: block;
  position: absolute;
  content: "";
  width: 1.2rem;
  /* 12px */
  height: 1.2rem;
  /* 12px */
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  top: -0.6rem;
  /* -6px */
  left: -webkit-calc((100% - 1.2rem)/2);
  left: calc((100% - 1.2rem) / 2);
}

.product-card .product-title {
  font-weight: 500;
  display: block;
  margin-top: 1.5rem;
  /* 25px */
  margin-bottom: 0;
  line-height: 1.3;
  direction: rtl;
  /* width: 100%; */
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: right;
  white-space: initial;
  display: -webkit-box;
  font-size: 1.6rem;
}

.product-card .product-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* position: absolute; */
  /* width: 100%; */
  left: 0;
  bottom: 0;
  padding-bottom: 2rem;
  font-size: 13px;
}

.product-card .product-title,
.product-card .product-bottom {
  padding-left: 2rem;
  padding-right: 2rem;
}

.product-card .product-card-price .sale-price {
  font-family: "YekanBakhNum";
  font-weight: 600;
  font-size: 2.5rem;
  position: relative;
  padding-left: 3.3rem;
  display: block;
}

.product-card .product-card-price .sale-price:before {
  font-weight: 500;
  font-family: "YekanBakh" !important;
  display: block;
  position: absolute;
  content: "تومان";
  font-size: 1.4rem;
  left: 0;
  bottom: 0.3rem;
  /* 3px */
}

.product-card .add-to-cart {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  width: 4.8rem;
  /* 48px */
  height: 4.8rem;
  /* 48px */
  position: relative;
}

.product-card .add-to-cart svg {
  position: absolute;
  width: 1.3rem;
  /* 13px */
  height: 1.3rem;
  /* 13px */
  top: -webkit-calc((100% - 1.3rem)/2);
  top: calc((100% - 1.3rem) / 2);
  left: -webkit-calc((100% - 1.3rem)/2);
  left: calc((100% - 1.3rem) / 2);
}

.product-card.white {
  background: #fff;
  -webkit-box-shadow: 0 0.2rem 0.5rem 0 rgba(168, 192, 226, 0.35);
  box-shadow: 0 0.2rem 0.5rem 0 rgba(168, 192, 226, 0.35);
}

.product-card.white .product-card-price .original-price {
  color: rgba(63, 67, 115, 0.8);
}

.product-card.white .product-card-price .sale-range {
  color: #f3303a;
  border-color: #f3303a;
}

.product-card.white .product-card-price .sale-price {
  color: #3f4373;
}

.product-card.white .product-card-price .sale-price:before {
  color: rgba(63, 67, 115, 0.8);
}

.product-card.white .product-title {
  color: #3f4373;
}

.product-card.white .add-to-cart {
  border-color: #cacdea;
  background: transparent;
  border-width: 0.2rem;
  /* 2px */
}

.product-card.white .add-to-cart svg {
  stroke: #3f4373;
}

.product-card.transparent-dark {
  background: transparent;
}

.product-card.transparent-dark .product-card-price .original-price {
  color: rgba(255, 255, 255, 0.8);
}

.product-card.transparent-dark .product-card-price .sale-range {
  color: #f3303a;
  border-color: #f3303a;
}

.product-card.transparent-dark .product-card-price .sale-price {
  color: #fff;
}

.product-card.transparent-dark .product-card-price .sale-price:before {
  color: rgba(255, 255, 255, 0.8);
}

.product-card.transparent-dark .product-title {
  color: #fff;
}

.product-card.transparent-dark .add-to-cart {
  border-color: #a7aac7;
  background: transparent;
  border-width: 0.2rem;
  /* 2px */
}

.product-card.transparent-dark .add-to-cart svg {
  stroke: #fff;
}

.product-card.transparent-white {
  background: transparent;
}

.product-card.transparent-white .product-card-price .original-price {
  color: rgba(63, 67, 115, 0.8);
}

.product-card.transparent-white .product-card-price .sale-range {
  color: #f3303a;
  border-color: #f3303a;
}

.product-card.transparent-white .product-card-price .sale-price {
  color: #3f4373;
}

.product-card.transparent-white .product-card-price .sale-price:before {
  color: rgba(63, 67, 115, 0.8);
}

.product-card.transparent-white .product-title {
  color: #3f4373;
}

.product-card.transparent-white .add-to-cart {
  border-color: #a7aac7;
  background: transparent;
  border-width: 0.2rem;
  /* 2px */
}

.product-card.transparent-white .add-to-cart svg {
  stroke: #3f4373;
}

.product-card.hover-dark:hover {
  background: #25294a;
  -webkit-box-shadow: 0 0.2rem 0.5rem 0 rgba(168, 192, 226, 0.35);
  box-shadow: 0 0.2rem 0.5rem 0 rgba(168, 192, 226, 0.35);
}

.product-card.hover-dark:hover .product-card-price {
  color: rgba(255, 255, 255, 0.5);
}

.product-card.hover-dark:hover .product-card-price .original-price {
  color: rgba(255, 255, 255, 0.8);
}

.product-card.hover-dark:hover .product-card-price .sale-range {
  color: #fff;
  background: transparent;
  border-color: #f3303a;
}

.product-card.hover-dark:hover .product-card-price .sale-price {
  color: #fff;
}

.product-card.hover-dark:hover .product-card-price .sale-price:before {
  color: rgba(255, 255, 255, 0.8);
}

.product-card.hover-dark:hover .product-title {
  color: #fff;
}

.product-card.hover-dark:hover .add-to-cart {
  border-color: #f3303a;
  background: #f3303a;
  -webkit-box-shadow: 0 0.8rem 2.7rem 0 rgba(243, 48, 58, 0.23);
  box-shadow: 0 0.8rem 2.7rem 0 rgba(243, 48, 58, 0.23);
}

.product-card.hover-dark:hover .add-to-cart svg {
  stroke: #fff;
}

.product-card.hover-light:hover {
  background: #fff;
  -webkit-box-shadow: 0 5.7rem 4.6rem 0 rgba(208, 213, 251, 0.22),
    0 0.2rem 0.5rem 0 rgba(168, 192, 226, 0.21);
  box-shadow: 0 5.7rem 4.6rem 0 rgba(208, 213, 251, 0.22),
    0 0.2rem 0.5rem 0 rgba(168, 192, 226, 0.21);
}

.product-card.hover-light:hover .product-card-price .original-price {
  color: rgba(63, 67, 115, 0.8);
}

.product-card.hover-light:hover .product-card-price .sale-range {
  color: #f3303a;
  background: transparent;
  border-color: #f3303a;
}

.product-card.hover-light:hover .product-card-price .sale-price {
  color: #3f4373;
}

.product-card.hover-light:hover .product-card-price .sale-price:before {
  color: rgba(63, 67, 115, 0.8);
}

.product-card.hover-light:hover .product-title {
  color: #3f4373;
}

.product-card.hover-light:hover .add-to-cart {
  border-color: #f3303a;
  background: #f3303a;
  -webkit-box-shadow: 0 0.8rem 2.7rem 0 rgba(243, 48, 58, 0.23);
  box-shadow: 0 0.8rem 2.7rem 0 rgba(243, 48, 58, 0.23);
}

.product-card.hover-light:hover .add-to-cart svg {
  stroke: #fff;
}

.product-card.hover-up:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.product-card.small-size {
  width: 24rem;
  /* 270px */
  height: 39rem;
  /* 410px */
}

.product-card.small-size .image-holder {
  height: 23.6rem;
  /* 216px */
}

.product-card.small-size .product-card-price {
  padding: 0;
}

.product-card.normal-size {
  width: 23rem;
  height: 44.5rem;
}

.product-card.normal-size .image-holder {
  height: 29.5rem;
}

.product-card.normal-size .product-card-price {
  padding: 0;
}

.product-card.larg-size {
  width: 46rem;
  height: 44.5rem;
}

.product-card.larg-size .image-holder {
  height: 29.5rem;
}

.product-card.larg-size .image-holder img {
  display: none;
}

.product-card.larg-size .image-holder img.large-image {
  display: block;
}

.product-card.larg-size .image-holder .special-tag {
  top: 0.5rem;
  left: 0.5rem;
}

.product-card.medium-size {
  padding: 2.5rem 3rem;
  width: 27rem;
  /* 270px */
  height: 48.7rem;
  /* 487px */
}

.product-card.medium-size .image-holder {
  width: 21.4rem;
  /* 214px */
  height: 31.4rem;
  /* 314px */
}

.product-card.medium-size .product-card-price {
  padding: 0;
}

.product-card.middle-size {
  width: 27rem;
  /* 270px */
  height: 47.5rem;
  /* 475px */
  padding: 2.5rem 3.5rem 10rem 3.5rem;
}

.product-card.middle-size .image-holder {
  height: 27rem;
  /* 270px */
}

.product-card.middle-size .product-card-price {
  padding: 0;
}

@media only screen and (max-width: 1480px) {
  .product-card .product-bottom {
    padding-bottom: 1.5rem;
  }

  .product-card .product-title,
  .product-card .product-bottom {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .product-card .product-card-price .sale-price {
    font-size: 2.2rem;
  }

  .product-card .add-to-cart {
    width: 4rem;
    /* 40px */
    height: 4rem;
    /* 40px */
  }

  .product-card.normal-size {
    width: 21rem;
    height: 41.5rem;
  }

  .product-card.normal-size .image-holder {
    height: 27.5rem;
  }

  .product-card.larg-size {
    width: 42rem;
    height: 41.5rem;
  }

  .product-card.larg-size .image-holder {
    height: 27.5rem;
  }

  .product-card.middle-size {
    padding: 2rem 2rem 8rem 2rem;
    width: 23rem;
    /* 230px */
    height: 41.5rem;
    /* 415px */
  }

  .product-card.middle-size .image-holder {
    height: 23.5rem;
    /* 235px */
  }
}

@media only screen and (max-width: 1250px) {
  .product-card .product-title {
    font-size: 1.5rem;
    margin-top: 2rem;
    /* 20px */
  }

  .product-card.small-size {
    width: 23rem;
    /* 230px */
    height: 36rem;
    /* 360px */
  }

  .product-card.small-size .image-holder {
    height: 21rem;
    /* 180px */
  }

  .product-card.middle-size {
    padding: 1.5rem 1.5rem 6rem 1.5rem;
    width: 20rem;
    /* 200px */
    height: 38.5rem;
    /* 385px */
  }

  .product-card.middle-size .image-holder {
    height: 22.5rem;
    /* 225px */
  }
}
@media only screen and (max-width: 1130px) {
  .product-card.normal-size {
    width: 18rem;
    height: 37rem;
  }

  .product-card.normal-size .image-holder {
    height: 24.5rem;
  }

  .product-card.larg-size {
    width: 36rem;
    height: 37rem;
  }

  .product-card.larg-size .image-holder {
    height: 24.5rem;
  }
}
@media only screen and (max-width: 1100px) {
  .product-card .product-title {
    font-size: 1.4rem;
    margin-top: 1.5rem;
    /* 15px */
  }

  .product-card.small-size {
    width: 20rem;
    /* 210px */
    height: 32rem;
    /* 340px */
  }

  .product-card.small-size .image-holder {
    height: 19rem;
    /* 170px */
  }

  .product-card.middle-size {
    width: 19rem;
    /* 190px */
    height: 36.5rem;
    /* 365px */
  }

  .home-card-wrapper {
    margin-top: 3rem;
    /* 30px */
  }
}
@media only screen and (max-width: 991px) {
  .product-card .product-title {
    font-size: 1.3rem;
    margin-top: 1rem;
  }

  .product-card .product-title,
  .product-card .product-bottom {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .product-card .product-card-price {
    font-size: 1.2rem;
  }

  .product-card .product-card-price .sale-price {
    font-size: 2rem;
    padding-left: 2.5rem;
  }

  .product-card .product-card-price .sale-price:before {
    font-size: 1.1rem;
    bottom: 0;
  }

  .product-card .add-to-cart {
    width: 3rem;
    height: 3rem;
  }

  .product-card .add-to-cart svg {
    width: 1rem;
    height: 1rem;
    top: -webkit-calc((100% - 1rem)/2);
    top: calc((100% - 1rem) / 2);
    left: -webkit-calc((100% - 1rem)/2);
    left: calc((100% - 1rem) / 2);
  }

  .product-card.small-size {
    width: 17rem;
    /* 160px */
    height: 27rem;
    /* 245px */
  }

  .product-card.small-size .image-holder {
    height: 16rem;
    /* 140px */
  }

  .product-card.normal-size {
    height: 31.5rem;
    width: 17rem;
  }

  .product-card.normal-size .image-holder {
    height: 20rem;
  }

  .product-card.larg-size {
    width: 34rem;
    height: 31.5rem;
  }

  .product-card.larg-size .image-holder {
    height: 20rem;
  }

  .product-card.medium-size {
    padding: 1.5rem;
    width: 22rem;
    /* 220px */
    height: 38.5rem;
    /* 385px */
  }

  .product-card.medium-size .image-holder {
    width: 17rem;
    /* 170px */
    height: 23.5rem;
    /* 235px */
  }
}

@media only screen and (max-width: 870px) {
  .product-card .hole {
    top: 1rem;
    /* 10px */
    width: 3.5rem;
    /* 35px */
    height: 0.7rem;
    /* 7px */
    left: -webkit-calc((100% - 3.5rem)/2);
    left: calc((100% - 3.5rem) / 2);
  }

  .product-card.medium-size {
    padding: 1.5rem;
    width: 16.5rem;
    /* 165px */
    height: 27.5rem;
    /* 275px */
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    /* 5px */
  }

  .product-card.medium-size .image-holder {
    width: 13rem;
    /* 130px */
    height: 16.5rem;
    /* 165px */
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    /* 5px */
  }

  .product-card.middle-size {
    padding: 1rem 1rem 4rem 1rem;
    width: 15rem;
    /* 150px */
    height: 28.5rem;
    /* 285px */
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    /* 5px */
  }

  .product-card.middle-size .image-holder {
    height: 18.5rem;
    /* 185px */
  }
}
@media only screen and (max-width: 768px) {
  .product-card .product-card-price-from .sale-price {
    margin-right: 1rem;
    /* 10px */
  }
}

@media only screen and (max-width: 500px) {
  .product-card .product-card-price .sale-price {
    font-size: 1.5rem;
  }

  .product-card .product-card-price .sale-price:before {
    font-size: 0.9rem;
  }

  .product-card.hover-up:hover {
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
  }

  .product-card.normal-size {
    height: 30rem;
  }

  .product-card.larg-size {
    height: 30rem;
  }

  .product-card.larg-size .image-holder img {
    display: block;
  }

  .product-card.larg-size .image-holder img.large-image {
    display: none;
  }
}
.special-tag {
  font-weight: 600;
  font-size: 1.6rem;
  color: #fff;
  background: #f3303a;
  padding: 0.8rem 3rem 0.8rem 1.5rem;
  position: absolute;
  -webkit-border-radius: 0.3rem 1.8rem 1.8rem 1.8rem;
  border-radius: 0.3rem 1.8rem 1.8rem 1.8rem;
  /* 3px 18px 18px 18px */
}

.special-tag svg {
  width: 1.2rem;
  /* 12px */
  height: 1.6rem;
  /* 16px */
  position: absolute;
  right: 1.5rem;
  /* 15px */
  fill: #fff;
  top: -webkit-calc((100% - 1.6rem)/2);
  top: calc((100% - 1.6rem) / 2);
}

.prebuy-tag {
  font-weight: 600;
  font-size: 1.5rem;
  background: #21a4ff;
  padding: 0.8rem 2rem;
  -webkit-border-radius: 1.8rem;
  border-radius: 1.8rem;
  /* 18px */
  color: #fff;
}
@media only screen and (max-width: 991px) {
  .special-tag {
    font-size: 1.4rem;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 0.3rem 1rem 1rem 1rem;
  }
  .special-tag svg {
    width: 0.9rem; /* 9px */
    height: 1.3rem; /* 13px */
    top: calc(100% - 1.3rem) / 2;
  }
  .prebuy-tag {
    font-size: 1.3rem;
    padding: 0.7rem 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .special-tag {
    font-size: 1.2rem;
    padding: 0.3rem 2rem 0.3rem 1rem;
    border-radius: 0.2rem 0.7rem 0.7rem 0.7rem;
  }
  .special-tag svg {
    right: 0.8rem; /* 8px */
  }
  .prebuy-tag {
    font-size: 1.1rem;
    padding: 0.4rem 1rem;
  }
}
