/*********Variable *********/
/********* Mixin *********/
/********* Normalize *********/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font-family: 'YekanBakh',sans-serif;
  font-size: 17px;
  direction: rtl;
  color: #3f4373; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

p {
  line-height: 1.5; }

[hidden] {
  display: none; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px; }
  .container:after {
    content: "";
    clear: both;
    display: table; }
  @media only screen and (min-width: 1200px) {
    .container-xl {
      max-width: 1140px; } }

/********* Font families *********/
@font-face {
  font-family: 'Bebas Neue';
  src: url("../../../fonts/BebasNeue-Regular.woff2") format("woff2"), url("../../../fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'YekanBakh';
  src: url("../../../fonts/iGameYekanver38-Medium.woff2") format("woff2"), url("../../../fonts/iGameYekanver38-Medium.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'YekanBakh';
  src: url("../../../fonts/iGameYekanver38-Bold.woff2") format("woff2"), url("../../../fonts/iGameYekanver38-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'YekanBakh';
  src: url("../../../fonts/iGameYekanver38-Heavy.woff2") format("woff2"), url("../../../fonts/iGameYekanver38-Heavy.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'YekanBakhNum';
  src: url("../../../fonts/iGameNumbers-Heavy.woff2") format("woff2"), url("../../../fonts/iGameNumbers-Heavy.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

/********* Animations *********/
@keyframes float {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0px); } }

@keyframes floatXY {
  0% {
    transform: translate(0, 0px); }
  25% {
    transform: translate(6px, 5px); }
  50% {
    transform: translate(-5px, -7px); }
  100% {
    transform: translate(0px, 0px); } }

/********* Components *********/
.white-btn {
  box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
  background: #fff;
  color: #252849;
  border-radius: 100px; }

.white-btn-v2 {
  position: relative;
  background: #fff;
  color: #252849;
  padding: 16px 81px 18px 30px;
  border-radius: 100px;
  font-size: 22px;
  font-weight: 500; }
  .white-btn-v2 svg {
    background: #F3303A;
    border-radius: 100px;
    stroke: #ffffff;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    padding: 16px;
    position: absolute;
    right: 13px;
    top: 9px; }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .white-btn-v2 svg {
        left: 13px;
        right: auto; } }

.red-btn {
  background: #F3303A;
  color: #fff;
  box-shadow: 0 8px 27px 0 rgba(243, 48, 58, 0.23);
  border-radius: 100px;
  position: relative; }
  .red-btn svg {
    position: absolute;
    width: 10px;
    top: 21px;
    height: 10px;
    left: 24px; }

.service-item {
  height: 315px;
  width: 230px;
  border-radius: 14px;
  position: relative;
  overflow: hidden; }

.section-title h2 {
  font-weight: 600;
  padding-right: 35px;
  position: relative;
  font-size: 43px;
  margin: 60px 0 40px;
  color: #3f4373; }
  .section-title h2:after {
    display: block;
    position: absolute;
    content: '';
    width: 4px;
    height: 34px;
    background: #F3303A;
    border-radius: 2px;
    right: 0;
    top: 0;
    box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32); }
    @media only screen and (max-width: 768px) {
      .section-title h2:after {
        right: 13px;
        top: -7px; } }
    @media only screen and (max-width: 576px) {
      .section-title h2:after {
        width: 10px;
        height: 10px;
        border-radius: 12px;
        box-shadow: none;
        right: 18px;
        top: 2px; } }
  @media only screen and (max-width: 992px) {
    .section-title h2 {
      margin: 30px 20px 30px 0;
      font-size: 33px; } }
  @media only screen and (max-width: 768px) {
    .section-title h2 {
      font-size: 33px; } }
  @media only screen and (max-width: 576px) {
    .section-title h2 {
      font-size: 18px;
      font-weight: 500;
      margin: 20px 0 20px; } }

.step-item {
  text-align: center;
  position: relative;
  border-radius: 10px;
  transition: all .5s;
  min-height: 250px;
  max-width: 530px;
  padding: 50px 0 0; }
  .step-item .icon {
    width: 58px;
    height: 57px;
    border-radius: 100px;
    background: #ffffff;
    display: inline-block;
    box-shadow: 0px 1px 1px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
    transition: all .5s; }
    .step-item .icon svg {
      width: 26px;
      height: 26px;
      fill: #3f4373;
      opacity: .8;
      position: relative;
      top: 14px;
      transition: all .3s; }
  .step-item .title {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 12px; }
  .step-item .description {
    opacity: .8;
    max-width: 470px;
    font-weight: 300;
    margin: 0 auto; }
  .step-item:after {
    content: attr(data-step);
    position: absolute;
    right: 21px;
    background: #252849;
    border-radius: 100px;
    color: #ffffff;
    top: 21px;
    width: 28px;
    height: 23px;
    padding-top: 5px;
    font-family: 'YekanBakhNum';
    visibility: hidden;
    opacity: 0;
    transition: all .5s; }
  .step-item:hover {
    background: #ffffff;
    box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 1px 1px 4px 0 rgba(170, 188, 212, 0.21), 19px 6px 20px 0 rgba(170, 188, 212, 0.18); }
    .step-item:hover:after {
      opacity: 1;
      visibility: visible; }
    .step-item:hover .icon {
      background: #F3303A;
      box-shadow: 3px 4px 14px 0 rgba(243, 48, 58, 0.28); }
      .step-item:hover .icon svg {
        fill: #ffffff; }
  @media only screen and (max-width: 768px) {
    .step-item {
      box-shadow: 0 9px 20px 0 rgba(170, 188, 212, 0.29), 0 2px 1px 0 rgba(170, 188, 212, 0.21);
      background: #fff;
      padding: 30px 0 0; } }

body {
  background: #f7f8ff;
  overflow-x: hidden; }

@media only screen and (max-width: 1570px) {
  .container {
    max-width: 1200px; } }

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 992px; } }

#header {
  background: url(../img/fortnite-bg.png), linear-gradient(#222747, #222747);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  background-position: center top;
  min-height: 920px;
  text-align: center; }
  @media only screen and (max-width: 992px) {
    #header {
      min-height: initial; } }
  #header .nav .logo {
    width: 125px;
    height: 31px;
    float: right;
    margin-top: 50px; }
    @media only screen and (max-width: 576px) {
      #header .nav .logo {
        width: 110px;
        height: 24px;
        margin-top: 30px; } }
  #header .nav .white-btn {
    margin-top: 40px;
    float: left;
    padding: 14px 36px;
    font-size: 17px;
    z-index: 1;
    position: relative; }
    @media only screen and (max-width: 575px) {
      #header .nav .white-btn {
        font-size: 15px;
        margin-top: 22px; } }
    @media only screen and (max-width: 380px) {
      #header .nav .white-btn {
        padding: 12px 22px; } }
  @media only screen and (max-width: 1410px) {
    #header .nav {
      max-width: 1070px;
      margin: 0 auto;
      padding: 0 57px; } }
  @media only screen and (max-width: 576px) {
    #header .nav {
      padding: 0 30px; } }
  #header .hero .fortnite {
    margin-top: 50px; }
    @media only screen and (max-width: 1370px) {
      #header .hero .fortnite {
        width: 70%; } }
    @media only screen and (max-width: 576px) {
      #header .hero .fortnite {
        width: 88%; } }
  #header .hero .intro {
    position: relative;
    top: -160px;
    width: 100%;
    margin: 0 auto 270px; }
    @media only screen and (max-width: 1370px) {
      #header .hero .intro {
        max-width: 90%; } }
    @media only screen and (max-width: 1200px) {
      #header .hero .intro {
        top: -100px;
        margin: 0 auto 160px; } }
    @media only screen and (max-width: 992px) {
      #header .hero .intro {
        margin: 0 auto 0; } }
    @media only screen and (max-width: 576px) {
      #header .hero .intro {
        margin-bottom: -47px; } }
    #header .hero .intro .title {
      font-size: 47px;
      font-weight: 500;
      color: #ffffff;
      text-align: right;
      position: relative;
      padding-right: 32px; }
      #header .hero .intro .title:after {
        display: block;
        position: absolute;
        content: '';
        width: 4px;
        height: 36px;
        border-radius: 2px;
        background: #f65164;
        box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32);
        top: 5px;
        right: 0; }
        @media only screen and (max-width: 810px) {
          #header .hero .intro .title:after {
            top: 0;
            height: 33px;
            right: 8px; } }
        @media only screen and (max-width: 576px) {
          #header .hero .intro .title:after {
            display: none; } }
      #header .hero .intro .title strong {
        font-weight: 600; }
      #header .hero .intro .title img {
        position: relative;
        top: 17px;
        margin-left: 9px; }
        @media only screen and (max-width: 810px) {
          #header .hero .intro .title img {
            top: 9px;
            width: 120px; } }
      @media only screen and (max-width: 1570px) {
        #header .hero .intro .title {
          font-size: 41px; } }
      @media only screen and (max-width: 1410px) {
        #header .hero .intro .title {
          font-size: 39px; } }
      @media only screen and (max-width: 810px) {
        #header .hero .intro .title {
          font-size: 33px; } }
      @media only screen and (max-width: 576px) {
        #header .hero .intro .title {
          font-size: 23px;
          text-align: center;
          line-height: 47px;
          padding: 0 28px; } }
      @media only screen and (max-width: 380px) {
        #header .hero .intro .title {
          font-size: 20px;
          line-height: 38px; } }
    #header .hero .intro .description {
      position: relative;
      text-align: justify;
      opacity: .8;
      font-weight: 300;
      margin: 50px 0 50px;
      color: #e5e6f7; }
      @media only screen and (max-width: 1410px) {
        #header .hero .intro .description {
          font-size: 16px; } }
      @media only screen and (max-width: 992px) {
        #header .hero .intro .description {
          margin: 40px 0 30px; } }
      @media only screen and (max-width: 810px) {
        #header .hero .intro .description {
          margin: 30px 10px 40px; } }
      @media only screen and (max-width: 576px) {
        #header .hero .intro .description {
          margin: 0 10px 15px;
          font-size: 14px; } }
    #header .hero .intro .red-btn {
      padding: 17px 30px 17px 77px;
      font-size: 18px;
      margin-top: 6px;
      float: left; }
      @media only screen and (max-width: 1410px) {
        #header .hero .intro .red-btn {
          padding: 17px 30px 17px 67px;
          font-size: 16px; } }
      @media only screen and (max-width: 576px) {
        #header .hero .intro .red-btn {
          padding: 15px 30px 15px 55px;
          float: right;
          font-size: 14px;
          margin-left: 30px; } }
      @media only screen and (max-width: 576px) {
        #header .hero .intro .red-btn svg {
          top: 17px; } }
    #header .hero .intro .outline-btn {
      border: 2px solid #8d8f9f;
      border-radius: 100px;
      padding: 15px 40px 14px 30px;
      position: relative;
      float: left;
      color: #fff;
      font-weight: 300;
      margin-left: 13px;
      top: 8px; }
      #header .hero .intro .outline-btn svg {
        position: absolute;
        right: 16px;
        width: 10px;
        height: 13px;
        fill: #ffffff;
        top: 16px; }
      @media only screen and (max-width: 576px) {
        #header .hero .intro .outline-btn {
          padding: 13px 39px 13px 24px;
          float: right;
          font-size: 15px; } }
  #header .hero .scroll-down {
    position: absolute;
    bottom: 240px;
    cursor: pointer;
    opacity: .8;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; }
    #header .hero .scroll-down span {
      font-size: 14px;
      color: #76799e;
      display: block;
      font-weight: 400;
      margin-bottom: 7px; }
    #header .hero .scroll-down svg {
      stroke: #daddfb;
      width: 20px;
      height: 31px; }
    @media only screen and (max-width: 1200px) {
      #header .hero .scroll-down {
        display: none; } }
  #header .c1 {
    position: absolute;
    width: 35px;
    right: 180px;
    bottom: 98px; }
    @media only screen and (max-width: 992px) {
      #header .c1 {
        display: none; } }

#main {
  border-top-right-radius: 61px;
  margin-top: -84px;
  background: #f7f8ff;
  z-index: 2;
  position: relative; }
  #main:before {
    content: '';
    position: absolute;
    right: 0;
    height: 500px;
    width: 1000px;
    background: url(../img/line.png);
    top: -145px;
    background-size: contain;
    background-repeat: no-repeat; }
    @media only screen and (max-width: 576px) {
      #main:before {
        display: none; } }
  @media only screen and (max-width: 1200px) {
    #main {
      border-top-right-radius: 0;
      margin-top: 0; } }
  @media only screen and (max-width: 576px) {
    #main {
      margin-top: -47px; } }
  #main .news {
    position: relative;
    top: -60px; }
    @media only screen and (max-width: 992px) {
      #main .news {
        top: 20px; } }
    @media only screen and (max-width: 576px) {
      #main .news {
        top: 0; } }
    #main .news > .container {
      position: relative; }
      #main .news > .container:first-child:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 500px;
        background: linear-gradient(to bottom, rgba(34, 39, 71, 0), #f7f8ff);
        z-index: 2; }
        @media only screen and (max-width: 800px) {
          #main .news > .container:first-child:before {
            display: none; } }
    #main .news .row {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center; }
      @media only screen and (max-width: 800px) {
        #main .news .row#nc1 {
          margin-bottom: 15px; } }
      @media only screen and (max-width: 576px) {
        #main .news .row#nc1 {
          margin-bottom: 10px; } }
      @media only screen and (max-width: 800px) {
        #main .news .row#nc2 {
          margin-bottom: 80px; } }
      @media only screen and (max-width: 576px) {
        #main .news .row#nc2 {
          margin-bottom: 60px; } }
    #main .news .news-item {
      position: relative;
      margin: 6px; }
      @media only screen and (max-width: 576px) {
        #main .news .news-item {
          margin: 3px; } }
      #main .news .news-item img {
        border-radius: 11px;
        width: 100%;
        height: 100%; }
        @media only screen and (max-width: 576px) {
          #main .news .news-item img {
            border-radius: 5px; } }
      #main .news .news-item h4 {
        position: absolute;
        color: #ffffff;
        font-size: 20px;
        font-weight: 800; }
      @media only screen and (max-width: 800px) {
        #main .news .news-item.first {
          width: 527px;
          height: 302px; } }
      @media only screen and (max-width: 576px) {
        #main .news .news-item.first {
          width: 314px;
          height: 193px; } }
      @media only screen and (max-width: 800px) {
        #main .news .news-item.first img {
          width: 527px;
          height: 302px; } }
      @media only screen and (max-width: 576px) {
        #main .news .news-item.first img {
          width: 314px;
          height: 193px; } }
      #main .news .news-item.first h4 {
        right: 48px;
        bottom: 20px; }
        @media only screen and (max-width: 576px) {
          #main .news .news-item.first h4 {
            right: 20px;
            bottom: 1px;
            padding-left: 18px;
            font-size: 15px;
            font-weight: 500; } }
      #main .news .news-item.first:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(34, 39, 71, 0), #F3303A);
        border-bottom-left-radius: 11px;
        border-bottom-right-radius: 11px; }
        @media only screen and (max-width: 576px) {
          #main .news .news-item.first:before {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px; } }
      #main .news .news-item.first .hot-tag {
        position: absolute;
        right: 47px;
        bottom: 87px;
        color: #f3303a;
        background: #fff;
        border-radius: 100px;
        padding: 5px 8px 8px 14px;
        font-size: 16px;
        font-weight: 800; }
        #main .news .news-item.first .hot-tag svg {
          width: 12px;
          height: 16px;
          position: relative;
          top: 4px;
          margin: 0 4px; }
          @media only screen and (max-width: 576px) {
            #main .news .news-item.first .hot-tag svg {
              width: 10px;
              height: 14px; } }
        @media only screen and (max-width: 576px) {
          #main .news .news-item.first .hot-tag {
            right: 18px;
            bottom: 70px;
            padding: 0px 6px 6px 12px;
            font-size: 12px;
            font-weight: 500; } }
      @media only screen and (max-width: 800px) {
        #main .news .news-item.second {
          width: 250px;
          height: 302px; } }
      @media only screen and (max-width: 576px) {
        #main .news .news-item.second {
          width: 179px;
          height: 193px; } }
      #main .news .news-item.second img {
        box-shadow: 4px 4px 8px rgba(34, 39, 71, 0.14); }
        @media only screen and (max-width: 800px) {
          #main .news .news-item.second img {
            width: 250px;
            height: 302px; } }
        @media only screen and (max-width: 576px) {
          #main .news .news-item.second img {
            width: 179px;
            height: 193px; } }
      #main .news .news-item.second h4 {
        right: 37px;
        bottom: 85px; }
        @media only screen and (max-width: 576px) {
          #main .news .news-item.second h4 {
            right: 20px;
            bottom: 59px;
            font-size: 15px; } }
      #main .news .news-item.second p {
        position: absolute;
        color: #ffffff;
        font-weight: 300;
        font-size: 14px;
        right: 40px;
        bottom: 38px;
        max-width: 280px;
        width: 100%;
        opacity: .6; }
        @media only screen and (max-width: 1200px) {
          #main .news .news-item.second p {
            max-width: 80%; } }
        @media only screen and (max-width: 992px) {
          #main .news .news-item.second p {
            bottom: 18px; } }
        @media only screen and (max-width: 576px) {
          #main .news .news-item.second p {
            font-size: 11px;
            bottom: 7px;
            right: 21px; } }
      #main .news .news-item.second:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 300px;
        background: linear-gradient(to bottom, rgba(34, 39, 71, 0), rgba(34, 39, 71, 0.968627));
        border-bottom-left-radius: 11px;
        border-bottom-right-radius: 11px; }
        @media only screen and (max-width: 576px) {
          #main .news .news-item.second:before {
            height: 198px;
            bottom: -1px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px; } }
      @media only screen and (max-width: 800px) {
        #main .news .news-item.third {
          width: 370px;
          height: 302px; } }
      @media only screen and (max-width: 576px) {
        #main .news .news-item.third {
          width: 271px;
          height: 193px; } }
      #main .news .news-item.third img {
        box-shadow: 4px 4px 8px rgba(34, 39, 71, 0.14); }
        @media only screen and (max-width: 800px) {
          #main .news .news-item.third img {
            width: 370px;
            height: 302px; } }
        @media only screen and (max-width: 576px) {
          #main .news .news-item.third img {
            width: 271px;
            height: 193px; } }
      #main .news .news-item.third h4 {
        right: 40px;
        bottom: 30px; }
        @media only screen and (max-width: 992px) {
          #main .news .news-item.third h4 {
            bottom: 13px;
            max-width: 80%; } }
        @media only screen and (max-width: 576px) {
          #main .news .news-item.third h4 {
            font-size: 15px;
            font-weight: 500;
            right: 23px; } }
      #main .news .news-item.third:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 300px;
        background: linear-gradient(to bottom, rgba(34, 39, 71, 0), rgba(34, 39, 71, 0.968627));
        border-bottom-left-radius: 11px;
        border-bottom-right-radius: 11px; }
        @media only screen and (max-width: 576px) {
          #main .news .news-item.third:before {
            height: 193px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px; } }
      @media only screen and (max-width: 800px) {
        #main .news .news-item.fourth {
          width: 370px;
          height: 302px; } }
      @media only screen and (max-width: 576px) {
        #main .news .news-item.fourth {
          width: 271px;
          height: 193px; } }
      #main .news .news-item.fourth img {
        box-shadow: 4px 4px 8px rgba(34, 39, 71, 0.14); }
        @media only screen and (max-width: 800px) {
          #main .news .news-item.fourth img {
            width: 370px;
            height: 302px; } }
        @media only screen and (max-width: 576px) {
          #main .news .news-item.fourth img {
            width: 271px;
            height: 193px; } }
      #main .news .news-item.fourth h4 {
        right: 40px;
        bottom: 30px; }
        @media only screen and (max-width: 992px) {
          #main .news .news-item.fourth h4 {
            bottom: 13px;
            max-width: 80%; } }
        @media only screen and (max-width: 576px) {
          #main .news .news-item.fourth h4 {
            font-size: 15px;
            font-weight: 500;
            right: 23px; } }
      #main .news .news-item.fourth:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 300px;
        background: linear-gradient(to bottom, rgba(34, 39, 71, 0), rgba(34, 39, 71, 0.968627));
        border-bottom-left-radius: 11px;
        border-bottom-right-radius: 11px; }
        @media only screen and (max-width: 576px) {
          #main .news .news-item.fourth:before {
            height: 193px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px; } }
      @media only screen and (max-width: 800px) {
        #main .news .news-item.fifth {
          display: none; } }
      @media only screen and (max-width: 800px) {
        #main .news .news-item.sixth {
          display: none; } }
      @media only screen and (max-width: 800px) {
        #main .news .news-item.seventh {
          display: none; } }
    #main .news .more {
      border: 2px solid #dcdef2;
      border-radius: 100px;
      padding: 4px 19px;
      font-size: 16px;
      color: rgba(63, 67, 115, 0.81);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      z-index: 3; }
      @media only screen and (max-width: 576px) {
        #main .news .more {
          font-size: 13px; } }
    #main .news .section-title {
      margin-top: 90px;
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
      @media only screen and (max-width: 992px) {
        #main .news .section-title {
          margin-top: 25px;
          margin-bottom: 40px; } }
      @media only screen and (max-width: 992px) {
        #main .news .section-title h2 {
          flex: 0 0 100%; } }
      #main .news .section-title span {
        max-width: 560px;
        color: #8c90b1;
        font-weight: 300;
        position: relative;
        top: 8px;
        right: 30px; }
        @media only screen and (max-width: 992px) {
          #main .news .section-title span {
            font-size: 15px;
            padding-left: 40px;
            top: -8px; } }
        @media only screen and (max-width: 576px) {
          #main .news .section-title span {
            font-size: 14px;
            line-height: 26px; } }
  #main .fortnite-building {
    display: flex;
    justify-content: center;
    background: url(../img/fortnite-building.png), linear-gradient(#222747, #202542);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center top;
    min-height: 703px; }
    @media only screen and (max-width: 1200px) {
      #main .fortnite-building {
        min-height: auto;
        padding: 40px 0; } }
    @media only screen and (max-width: 768px) {
      #main .fortnite-building {
        padding: 40px 0 80px; } }
    @media only screen and (max-width: 576px) {
      #main .fortnite-building {
        padding: 40px 0 60px; } }
    #main .fortnite-building .right-img img {
      width: 596px;
      position: absolute;
      bottom: 0;
      right: -10px; }
      @media only screen and (max-width: 1770px) {
        #main .fortnite-building .right-img img {
          right: -130px; } }
      @media only screen and (max-width: 1470px) {
        #main .fortnite-building .right-img img {
          right: -230px; } }
      @media only screen and (max-width: 1320px) {
        #main .fortnite-building .right-img img {
          right: -265px; } }
      @media only screen and (max-width: 1200px) {
        #main .fortnite-building .right-img img {
          display: none; } }
    #main .fortnite-building .content {
      text-align: center;
      max-width: 650px;
      position: relative;
      top: 130px;
      color: #e5e6f7;
      left: 40px; }
      @media only screen and (max-width: 1200px) {
        #main .fortnite-building .content {
          top: 0;
          right: 0; } }
      @media only screen and (max-width: 768px) {
        #main .fortnite-building .content {
          max-width: 90%; } }
      #main .fortnite-building .content img {
        width: 147px; }
        @media only screen and (max-width: 576px) {
          #main .fortnite-building .content img {
            width: 86px; } }
      #main .fortnite-building .content h4 {
        font-size: 48px;
        font-weight: 800;
        margin: 35px 0 40px; }
        #main .fortnite-building .content h4 span {
          color: #ffffff;
          font-weight: 400; }
        @media only screen and (max-width: 1200px) {
          #main .fortnite-building .content h4 {
            font-size: 42px;
            margin: 20px 0 30px; } }
        @media only screen and (max-width: 768px) {
          #main .fortnite-building .content h4 {
            font-size: 36px; } }
        @media only screen and (max-width: 576px) {
          #main .fortnite-building .content h4 {
            font-size: 23px;
            margin: 20px 0 0; } }
      #main .fortnite-building .content p {
        text-align: justify;
        margin-bottom: 38px;
        font-weight: 300;
        font-size: 17px; }
        @media only screen and (max-width: 768px) {
          #main .fortnite-building .content p {
            font-size: 16px;
            margin-bottom: 55px; } }
        @media only screen and (max-width: 576px) {
          #main .fortnite-building .content p {
            font-size: 15px;
            margin-bottom: 46px; } }
      #main .fortnite-building .content .red-btn {
        padding: 17px 30px 17px 77px;
        float: left; }
        @media only screen and (max-width: 768px) {
          #main .fortnite-building .content .red-btn {
            padding: 14px 30px 14px 77px;
            float: none; } }
        @media only screen and (max-width: 576px) {
          #main .fortnite-building .content .red-btn {
            padding: 12px 30px 12px 56px;
            font-size: 15px; } }
        @media only screen and (max-width: 576px) {
          #main .fortnite-building .content .red-btn svg {
            top: 17px; } }
    #main .fortnite-building .left-img img {
      width: 719px;
      position: absolute;
      left: 80px;
      bottom: 0; }
      @media only screen and (max-width: 1880px) {
        #main .fortnite-building .left-img img {
          left: 0; } }
      @media only screen and (max-width: 1770px) {
        #main .fortnite-building .left-img img {
          left: -80px; } }
      @media only screen and (max-width: 1570px) {
        #main .fortnite-building .left-img img {
          left: -180px; } }
      @media only screen and (max-width: 1370px) {
        #main .fortnite-building .left-img img {
          left: -265px; } }
      @media only screen and (max-width: 1200px) {
        #main .fortnite-building .left-img img {
          display: none; } }
    #main .fortnite-building .c1 {
      position: absolute;
      right: 124px;
      top: -44px;
      width: 94px; }
      @media only screen and (max-width: 1200px) {
        #main .fortnite-building .c1 {
          display: none; } }
  #main .ordering-steps {
    padding: 100px 0 100px; }
    @media only screen and (max-width: 992px) {
      #main .ordering-steps {
        padding: 60px 15px 100px; } }
    #main .ordering-steps > .container {
      display: flex;
      flex-wrap: wrap; }
      @media only screen and (max-width: 1200px) {
        #main .ordering-steps > .container {
          padding: 0; } }
    #main .ordering-steps .step-item {
      flex: 0 0 49%;
      margin: 30px auto 0; }
      @media only screen and (max-width: 768px) {
        #main .ordering-steps .step-item .title {
          font-size: 19px; } }
      @media only screen and (max-width: 1200px) {
        #main .ordering-steps .step-item .description {
          padding: 0 47px;
          line-height: 30px; } }
      @media only screen and (max-width: 768px) {
        #main .ordering-steps .step-item .description {
          padding: 0 28px;
          line-height: 29px;
          font-size: 16px; } }
      @media only screen and (max-width: 768px) {
        #main .ordering-steps .step-item {
          display: none; } }
    @media only screen and (max-width: 768px) {
      #main .ordering-steps {
        padding: 1px;
        background: rgba(37, 40, 73, 0.788235); } }

#footer {
  background: url("../img/cta-bg.png") no-repeat center -180px, linear-gradient(#252849, #252849);
  color: rgba(255, 255, 255, 0.84);
  padding: 50px 0 20px 0;
  position: relative;
  font-size: 13px;
  font-weight: 300;
  overflow: hidden;
  background-size: contain;
  background-blend-mode: color-dodge; }
  @media only screen and (max-width: 992px) {
    #footer {
      background-position: center -100px; } }
  @media only screen and (max-width: 768px) {
    #footer {
      background-position: center -40px; } }
  #footer .circle {
    pointer-events: none; }
  #footer .c1 {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 165px;
    bottom: -10px;
    z-index: 1;
    animation: float 5s ease-in-out infinite; }
    @media only screen and (max-width: 800px) {
      #footer .c1 {
        display: none; } }
  #footer .c2 {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 90px;
    bottom: 150px;
    z-index: 1;
    animation: float 6s ease-in-out infinite; }
    @media only screen and (max-width: 992px) {
      #footer .c2 {
        width: 100px;
        height: 100px; } }
    @media only screen and (max-width: 800px) {
      #footer .c2 {
        display: none; } }
  #footer .c3 {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 125px;
    bottom: 180px;
    animation: float 4s ease-in-out infinite; }
    @media only screen and (max-width: 992px) {
      #footer .c3 {
        width: 30px;
        height: 30px; } }
    @media only screen and (max-width: 600px) {
      #footer .c3 {
        display: none; } }
  #footer .c4 {
    position: absolute;
    width: 82px;
    height: 82px;
    top: 8px;
    left: 555px;
    animation: floatXY 4s linear infinite; }
    @media only screen and (max-width: 992px) {
      #footer .c4 {
        width: 52px;
        height: 52px;
        left: 55px; } }
  #footer .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media only screen and (max-width: 992px) {
      #footer .content {
        justify-content: center; } }
    #footer .content .description {
      display: flex;
      max-width: 380px; }
      #footer .content .description .footer-logo {
        width: 60px;
        margin-left: 20px; }
        @media only screen and (max-width: 576px) {
          #footer .content .description .footer-logo {
            margin-bottom: 15px; } }
      @media only screen and (max-width: 576px) {
        #footer .content .description p {
          display: none; } }
    #footer .content .menu {
      list-style: none; }
      #footer .content .menu li {
        display: inline-block;
        padding: 5px 10px 17px 10px;
        margin-left: 60px;
        position: relative;
        transition: all ease-in-out 0.5s; }
        #footer .content .menu li:after {
          transition: all ease-in-out 0.5s;
          display: block;
          position: absolute;
          content: '';
          width: 25px;
          height: 3px;
          border-radius: 1.5px;
          background: #F3303A;
          box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32);
          bottom: 0;
          left: calc((100% - 25px)/2);
          opacity: 0;
          visibility: hidden; }
        #footer .content .menu li:hover:after {
          opacity: 1;
          visibility: visible; }
        #footer .content .menu li.active:after {
          opacity: 1;
          visibility: visible; }
      @media only screen and (max-width: 992px) {
        #footer .content .menu {
          flex: 0 0 100%;
          text-align: center; } }
      @media only screen and (max-width: 576px) {
        #footer .content .menu {
          display: none; } }
  #footer .copyright {
    text-align: center;
    color: rgba(240, 242, 248, 0.55);
    direction: ltr;
    margin-top: 50px;
    font-weight: 300; }
    #footer .copyright .mobile-logo {
      display: none; }
    @media only screen and (max-width: 992px) {
      #footer .copyright {
        border-top: 1px solid rgba(255, 255, 255, 0.121569);
        padding-top: 19px;
        margin-top: 0; } }
