body {
  background: #f7f8ff;
}
.container {
  @include breakpoint(max, 1570px) {
    max-width: 120rem; /* 1200px */
  }
  @include breakpoint(max, 1200px) {
    max-width: 99.2rem; /* 992px */
  }
}
#header {
  position: relative;
  background: url("../img/xbox-hero-bg.png"), linear-gradient(#202542, #202542);
  background-position: right top;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  @include breakpoint(max, 1200px) {
    overflow: hidden;
  }
  .nav {
    .logo {
      width: 12.5rem; /* 125px */
      height: 3.1rem; /* 31px */
      float: right;
      margin-top: 5rem; /* 50px */
      @include breakpoint(max, 576px) {
        width: 11rem; /* 110px */
        height: 2.4rem; /* 24px */
        margin-top: 3rem; /* 30px */
      }
    }
    .white-btn {
      margin-top: 4rem; /* 40px */
      float: left;
      padding: 1.4rem 3.6rem; /* 14px 36px */
      font-size: 1.7rem; /* 17px */
      z-index: 1;
      position: relative;
      @include breakpoint(max, 575px) {
        font-size: 1.5rem; /* 15px */
        margin-top: 2.2rem; /* 22px */
      }
      @include breakpoint(max, 380px) {
        padding: 1.2rem 2.2rem; /* 12px 22px */
      }
    }
    @include breakpoint(max, 1410px) {
      max-width: 107rem; /* 1070px */
      margin: 0 auto;
      padding: 0 5.7rem; /* 57px */
    }
    @include breakpoint(max, 576px) {
      padding: 0 3rem; /* 30px */
    }
  }
  .hero {
    display: flex;
    justify-content: space-evenly;
    @include breakpoint(max, 1410px) {
      overflow: hidden;
    }
    @include breakpoint(max, 1200px) {
      flex-wrap: wrap;
    }
    .services {
      position: relative;
      .circles {
        position: absolute;
        top: 5.9rem; /* 59px */
        animation: rotate 60s linear infinite;
        left: -5rem; /* -50px */
        pointer-events: none;
        @keyframes rotate {
          from {
            transform: rotate(0);
          }
          to {
            transform: rotate(360deg);
          }
        }
        @include breakpoint(max, 1570px) {
          left: 1rem; /* 10px */
        }
      }
      .xbox-illustration {
        position: relative;
        right: 4rem; /* 40px */
        top: 11.7rem; /* 117px */
        width: 94%;
        @include breakpoint(max, 1570px) {
          right: -1.8rem; /* -18px */
        }
      }
      @include breakpoint(max, 1410px) {
        left: -5rem; /* -50px */
      }
      @include breakpoint(max, 1200px) {
        position: absolute;
        left: -15.6rem; /* -156px */
        bottom: 4.7rem; /* 47px */
        transform: rotate(45deg) scale(0.8);
      }
      @include breakpoint(max, 992px) {
        bottom: -10rem; /* -100px */
        transform: rotate(15deg) scale(0.8);
      }
      @include breakpoint(max, 768px) {
        display: none;
      }
    }
    .intro {
      width: 100%;
      max-width: 55rem; /* 550px */
      margin: 12.5rem 20rem 19rem 0; /* 125px 200px 190px */
      @include breakpoint(max, 1570px) {
        margin: 12.5rem 9rem 19rem 0; /* 125px 90px 190px */
      }
      @include breakpoint(max, 1200px) {
        margin: 12.5rem -5rem 19rem 0; /* 125px -50px 190px */
      }
      @include breakpoint(max, 768px) {
        margin: 7rem 9rem 10rem 4rem; /* 70px 90px 100px 40px */
      }
      @include breakpoint(max, 576px) {
        margin: 4rem auto 10.5rem; /* 40px 105px */
        text-align: center;
      }
      .title {
        font-size: 4.8rem; /* 48px */
        font-weight: 500;
        color: #daddfb;
        strong {
          font-weight: 600;
          color: #ffffff;
        }
        @include breakpoint(max, 1570px) {
          font-size: 4.1rem; /* 41px */
        }
        @include breakpoint(max, 1410px) {
          font-size: 3.9rem; /* 39px */
        }
        @include breakpoint(max, 576px) {
          font-size: 3rem; /* 30px */
          text-align: center;
          line-height: 4.7rem; /* 47px */
          padding: 0 2.8rem; /* 28px */
        }
        @include breakpoint(max, 400px) {
          font-size: 2.3rem; /* 23px */
          line-height: 3.8rem; /* 38px */
        }
      }
      .description {
        position: relative;
        padding-right: 2.8rem; /* 28px */
        text-align: justify;
        opacity: 0.8;
        font-weight: 300;
        color: #b3b7d8;
        &:after {
          display: block;
          position: absolute;
          content: "";
          width: 0.4rem; /* 4px */
          height: 3.6rem; /* 36px */
          border-radius: 0.2rem; /* 2px */
          background: #f65164;
          box-shadow: 0 0.5rem 1.5rem 0 rgba(243, 48, 58, 0.5),
            0 0.5rem 1.2rem 0 rgba(243, 48, 58, 0.61),
            0 0.4rem 0.7rem 0 /* 5px 15px 5px 12px 4px 7px */
              rgba(243, 48, 58, 0.32);
          top: 0.5rem; /* 5px */
          right: 0;
        }
        @include breakpoint(max, 1410px) {
          font-size: 1.6rem; /* 16px */
        }
        @include breakpoint(max, 576px) {
          padding: 0 2.2rem; /* 22px */
          margin: 0 1.9rem; /* 19px */
          font-size: 1.5rem; /* 15px */
        }
      }
      .red-btn {
        padding: 1.7rem 3rem 1.7rem 7.7rem; /* 17px 30px 17px 77px */
        font-size: 1.8rem; /* 18px */
        margin-top: 0.6rem; /* 6px */
        float: left;
        @include breakpoint(max, 1410px) {
          padding: 1.7rem 3rem 1.7rem 6.7rem; /* 17px 30px 17px 67px */
          font-size: 1.6rem; /* 16px */
        }
        @include breakpoint(max, 576px) {
          float: initial;
          top: 4.4rem; /* 44px */
          padding: 1.1rem 2.5rem 1.2rem 6.1rem; /* 11px 25px 12px 61px */
          font-size: 1.5rem; /* 15px */
        }
        svg {
          @include breakpoint(max, 576px) {
            top: 1.8rem; /* 18px */
          }
        }
      }
      .gamepad {
        position: absolute;
        right: -16.5rem; /* -165px */
        bottom: -11.9rem; /* -119px */
        width: 38rem; /* 380px */
        @include breakpoint(max, 1200px) {
          transform: scale(0.7);
          bottom: -10.9rem; /* -109px */
        }
        @include breakpoint(max, 992px) {
          display: none;
        }
      }
    }
  }
}
#main {
  .gift-card {
    overflow: hidden;
    padding-top: 9rem; /* 90px */
    padding-bottom: 14rem; /* 140px */
    @include breakpoint(max, 1410px) {
      padding-bottom: 8rem; /* 80px */
    }
    @include breakpoint(max, 1200px) {
      padding-bottom: 4rem; /* 40px */
      padding-top: 1.1rem; /* 11px */
    }
    .section-title {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .filter-card {
        margin-right: 2rem; /* 20px */
        margin-top: 1.4rem; /* 14px */
        z-index: 2;
        @include breakpoint(max, 576px) {
          flex: 0 0 100%;
          margin-top: -1.4rem; /* -14px */
        }
      }
    }
    .product-item {
      margin-bottom: 4rem; /* 40px */
      @include breakpoint(max, 768px) {
        margin-bottom: 4.4rem; /* 44px */
        margin-top: 2.5rem; /* 25px */
      }
    }
    #gift-cards-carousel {
      height: 49rem; /* 490px */
      @include breakpoint(max, 576px) {
        height: 32rem; /* 320px */
      }
      .owl-nav {
        .owl-prev,
        .owl-next {
          outline: none;
          padding: 1rem; /* 10px */
          background: #fff !important;
          width: 4.5rem; /* 45px */
          height: 6rem; /* 60px */
          position: absolute;
          top: 30%;
          transform: translateY(-50%);
          box-shadow: 0 0.1rem 0.2rem 0 rgba(168, 192, 226, 0.27),
            0 0.2rem 0.5rem 0 /* 1px 2px 2px 5px */ rgba(168, 192, 226, 0.19);
          svg {
            stroke: $darker;
            width: 1.5rem; /* 15px */
            height: 1.5rem; /* 15px */
            position: relative;
            top: 0.3rem; /* 3px */
          }
          @include breakpoint(max, 576px) {
            top: 40%;
          }
          @include breakpoint(max, 576px) {
            display: none;
          }
        }
        .owl-next {
          left: 0;
        }
        .owl-prev {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  .ps4-account {
    background: url("../img/buy-xbox-code-bg.png"),
      linear-gradient(#202542, #202542);
    background-position: right top;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      left: -13.3rem; /* -133px */
      top: -10.9rem; /* -109px */
      background-size: 100%;
      width: 107.1rem; /* 1071px */
      height: 80rem; /* 800px */
      background: linear-gradient(to right, rgba(32, 37, 66, 0), #202542),
        url("../img/buy-xbox-code-bg-2.png") no-repeat;
      @include breakpoint(max, 1770px) {
        left: -33.3rem; /* -333px */
      }
      @include breakpoint(max, 1570px) {
        left: -43.3rem; /* -433px */
      }
      @include breakpoint(max, 1450px) {
        left: -56.3rem; /* -563px */
      }
      @include breakpoint(max, 1350px) {
        left: -74.3rem; /* -743px */
      }
      @include breakpoint(max, 1200px) {
        left: -90rem; /* -900px */
      }
      @include breakpoint(max, 992px) {
        display: none;
      }
    }
    .circle {
      position: absolute;
      @include breakpoint(max, 992px) {
        display: none;
      }
    }
    .c4 {
      width: 8.2rem; /* 82px */
      right: 32.5rem; /* 325px */
      bottom: 0;
      animation: float 5s linear infinite;
    }
    .c3 {
      width: 6.7rem; /* 67px */
      right: 20rem; /* 200px */
      top: -1rem; /* -10px */
      animation: float 10s linear infinite;
    }
    .c2 {
      width: 2.3rem; /* 23px */
      top: 0.1rem; /* 1px */
      left: 2.6rem; /* 26px */
      animation: float 14s linear infinite;
    }
    > .container {
      padding: 0 0 22.4rem; /* 224px */
      @include breakpoint(max, 650px) {
        padding: 0 0 14.2rem; /* 142px */
      }
      @include breakpoint(max, 576px) {
        padding: 0 0 7rem; /* 70px */
      }
    }
    .ps4-account-carousel-wrapper {
      position: relative;
      top: 13rem; /* 130px */
      right: 10.6rem; /* 106px */
      #ps4-account-carousel-counter {
        position: absolute;
        font-size: 1.2rem; /* 12px */
        color: rgba(255, 255, 255, 0.45);
        direction: ltr;
        top: -0.7rem; /* -7px */
        .current {
          color: #ffffff;
        }
        @include breakpoint(max, 576px) {
          display: none;
        }
      }
      #ps4-account-carousel {
        max-width: 50rem; /* 500px */
        .carousel-content {
          max-width: 50rem; /* 500px */
          .title {
            font-size: 3rem; /* 30px */
            margin-bottom: 1.2rem; /* 12px */
            color: #ffffff;
            @include breakpoint(max, 576px) {
              font-size: 2rem; /* 20px */
            }
          }
          .description {
            color: #e5e6f7;
            font-weight: 300;
            font-size: 1.6rem; /* 16px */
            @include breakpoint(max, 576px) {
              font-size: 1.4rem; /* 14px */
              text-align: justify;
            }
          }
          @include breakpoint(max, 576px) {
            max-width: 40rem; /* 400px */
            margin: 0 auto;
            padding: 0 1.5rem; /* 15px */
          }
          @include breakpoint(max, 480px) {
            max-width: 35rem; /* 350px */
          }
          @include breakpoint(max, 390px) {
            max-width: 30rem; /* 300px */
          }
        }
        .owl-dots {
          display: block;
          position: absolute;
          top: -1rem; /* -10px */
          right: 4.2rem; /* 42px */
          .owl-dot {
            width: 0.6rem; /* 6px */
            height: 0.6rem; /* 6px */
            background: rgba(255, 255, 255, 0.43);
            border-radius: 10rem; /* 100px */
            margin-left: 0.8rem; /* 8px */
            &.active {
              background: rgb(255, 255, 255);
              width: 2.1rem; /* 21px */
            }
          }
        }
        .owl-nav {
          position: absolute;
          left: 0;
          top: 0;
          .owl-prev,
          .owl-next {
            svg {
              width: 0.7rem; /* 7px */
              height: 1.5rem; /* 15px */
              opacity: 0.8;
            }
            outline: none;
          }
          .owl-prev {
            margin-left: 1.7rem; /* 17px */
            svg {
              transform: rotate(180deg);
            }
          }
          @include breakpoint(max, 576px) {
            display: none;
          }
        }
        @include breakpoint(max, 576px) {
          max-width: 40rem; /* 400px */
          margin: 0 auto;
        }
      }
      @include breakpoint(max, 1200px) {
        right: 10rem; /* 100px */
      }
      @include breakpoint(max, 650px) {
        right: 4rem; /* 40px */
        top: 9rem; /* 90px */
      }
      @include breakpoint(max, 576px) {
        right: 0;
        top: 4.4rem; /* 44px */
      }
    }
  }
  .cta-v2 {
    text-align: center;
    padding-bottom: 12.5rem; /* 125px */
    @include breakpoint(max, 576px) {
      padding-bottom: 5rem; /* 50px */
    }
    .cta-img {
      width: 14rem; /* 140px */
      height: 12.8rem; /* 128px */
      margin-top: 12.4rem; /* 124px */
      @include breakpoint(max, 576px) {
        width: 9rem; /* 90px */
        height: auto;
        margin-top: 5.4rem; /* 54px */
      }
    }
    .cta-title {
      font-size: 3rem; /* 30px */
      font-weight: 700;
      @include breakpoint(max, 768px) {
        font-size: 2.7rem; /* 27px */
      }
      @include breakpoint(max, 576px) {
        font-size: 2rem; /* 20px */
        margin: 1.6rem 0 3.4rem; /* 16px 34px */
      }
    }
    .cta-description {
      font-weight: 300;
      font-size: 1.7rem; /* 17px */
      max-width: 57rem; /* 570px */
      margin: -2rem auto 6rem; /* -20px 60px */
      @include breakpoint(max, 768px) {
        max-width: 47rem; /* 470px */
      }
      @include breakpoint(max, 576px) {
        max-width: initial;
        padding: 0 3rem; /* 30px */
        font-size: 1.5rem; /* 15px */
        margin: -2rem auto 3rem; /* -20px 30px */
      }
    }
    .white-btn-v2.cta-btn {
      box-shadow: 0 0.8rem 2.7rem 0 /* 8px 27px */ rgba(243, 48, 58, 0.23);
      background: $red-bg;
      color: #fff;
      svg {
        background: #ffffff;
        stroke: $red-bg;
        @include breakpoint(max, 576px) {
          right: 0.6rem; /* 6px */
          top: 0.5rem; /* 5px */
          padding: 1.1rem; /* 11px */
        }
      }
      @include breakpoint(max, 576px) {
        padding: 1.4rem 7.5rem 1.4rem 2.7rem; /* 14px 75px 14px 27px */
        font-size: 1.7rem; /* 17px */
      }
    }
  }
  .popular-game {
    background: #202542;
    min-height: 52rem; /* 520px */
    position: relative;
    overflow: hidden;
    @include breakpoint(max, 1200px) {
      min-height: 48rem; /* 480px */
    }
    @include breakpoint(max, 576px) {
      min-height: 48.5rem; /* 485px */
    }
    &:before {
      content: "";
      position: absolute;
      left: -60.9rem; /* -609px */
      top: -30.2rem; /* -302px */
      background-size: 116%;
      width: 79.8rem; /* 798px */
      height: 82.5rem; /* 825px */
      background: url("../img/lines-bg.svg") no-repeat;
      transform: rotate(107deg);
    }
    .section-title {
      h2 {
        padding-right: 3rem; /* 30px */
        margin-bottom: 5rem; /* 50px */
        color: #ffffff;
        &:after {
          display: none;
        }
        @include breakpoint(max, 992px) {
          font-size: 3.4rem; /* 34px */
          text-align: center;
          padding-right: 0;
        }
        @include breakpoint(max, 576px) {
          font-size: 2rem; /* 20px */
          margin-top: 0;
          margin-bottom: 2.5rem; /* 25px */
        }
      }
    }
    &-slider {
      position: absolute;
      right: 0;
      top: 0;
      height: 52rem; /* 520px */
      width: 140rem; /* 1400px */
      &-nav {
        margin-right: 1.5rem; /* 15px */
        position: absolute;
        left: 40%;
        top: 2rem; /* 20px */
        transform: translateX(-50%);
        z-index: 2;
        @include breakpoint(max, 1200px) {
          left: 50%;
        }
        @include breakpoint(max, 576px) {
          top: 5rem; /* 50px */
        }
        .nav-item {
          padding: 2.6rem 7.8rem 2.6rem 4.3rem; /* 26px 78px 26px 43px */
          border-radius: 10rem; /* 100px */
          margin-bottom: 1.7rem; /* 17px */
          position: relative;
          min-width: 23.2rem; /* 232px */
          font-size: 2rem; /* 20px */
          color: #ffffff;
          margin-right: 2.5rem; /* 25px */
          white-space: nowrap;
          &:after {
            position: absolute;
            border-radius: 10rem; /* 100px */
            background: rgba(244, 246, 253, 0.1);
            color: rgb(255, 255, 255);
            content: attr(data-num);
            @include Number;
            right: 1.8rem; /* 18px */
            height: 3.1rem; /* 31px */
            width: 4rem; /* 40px */
            top: 1.8rem; /* 18px */
            text-align: center;
            padding-top: 0.9rem; /* 9px */
            @include breakpoint(max, 1200px) {
              top: 0.9rem; /* 9px */
            }
            @include breakpoint(max, 670px) {
              height: 2.4rem; /* 24px */
              width: 3.1rem; /* 31px */
              padding-top: 0.7rem; /* 7px */
              right: 0.8rem; /* 8px */
              top: 0.8rem; /* 8px */
            }
          }
          svg {
            width: 1.9rem; /* 19px */
            height: 1.6rem; /* 16px */
            position: absolute;
            left: 3.5rem; /* 35px */
            display: none;
            @include breakpoint(max, 670px) {
              width: 1.4rem; /* 14px */
              height: 1.5rem; /* 15px */
              position: absolute;
              left: 1.5rem; /* 15px */
            }
          }
          &.active {
            color: #3f4473;
            box-shadow: 0rem 0.1rem 0.1rem 0 rgba(170, 188, 212, 0.31),
              0 0.2rem 1.3rem 0 /* 0px 1px 1px 2px 13px */
                rgba(170, 188, 212, 0.3);
            background: #fff;
            &:after {
              background: $red-bg;
              color: #ffffff;
            }
            svg {
              display: inline-block;
            }
          }
          @include breakpoint(max, 1200px) {
            padding: 2rem 7rem 2rem 2.2rem; /* 20px 70px 20px 22px */
            margin-bottom: 1.2rem; /* 12px */
            min-width: 17rem; /* 170px */
            font-size: 1.7rem; /* 17px */
            margin-right: 1.8rem; /* 18px */
          }
          @include breakpoint(max, 670px) {
            padding: 1.7rem 4.8rem 1.7rem 3.6rem; /* 17px 48px 17px 36px */
            margin-bottom: 1.2rem; /* 12px */
            min-width: 10rem; /* 100px */
            font-size: 1.4rem; /* 14px */
            margin-right: 0.7rem; /* 7px */
          }
          @include breakpoint(max, 380px) {
          }
        }
        .d-flex {
          display: flex;
          @include breakpoint(max, 576px) {
            display: inline-block;
          }
        }
      }
      &:after {
        position: absolute;
        right: 0;
        top: 0;
        content: "";
        height: 100%;
        width: 100%;
        background: linear-gradient(to right, #202542, rgba(32, 37, 66, 0.41));
      }
    }
    .game-item {
      position: relative;
      border-radius: 1rem; /* 10px */
      display: inline-block;
      height: 52rem; /* 520px */
      width: 140rem; /* 1400px */
      .img {
        background-size: cover;
        height: 52rem; /* 520px */
        width: 140rem; /* 1400px */
        background-repeat: no-repeat;
      }
      .title {
        @include breakpoint(max, 670px) {
          top: -8.4rem; /* -84px */
          font-size: 1.9rem; /* 19px */
          font-weight: 400;
          right: 7.3rem; /* 73px */
        }
      }
      &:after {
        @include breakpoint(max, 670px) {
          font-size: 2.1rem; /* 21px */
          width: 3.5rem; /* 35px */
          height: 2.8rem; /* 28px */
          padding-top: 0.6rem; /* 6px */
        }
      }
    }
  }
  .ordering-steps {
    padding: 6rem 0 10rem; /* 60px 100px */
    @include breakpoint(max, 992px) {
      padding: 6rem 1.5rem 10rem; /* 60px 15px 100px */
    }
    > .container {
      display: flex;
      flex-wrap: wrap;
      @include breakpoint(max, 1200px) {
        padding: 0;
      }
    }
    .step-item {
      flex: 0 0 49%;
      margin: 3rem auto 0; /* 30px */
      .title {
        @include breakpoint(max, 768px) {
          font-size: 1.9rem; /* 19px */
        }
      }
      .description {
        @include breakpoint(max, 1200px) {
          padding: 0 4.7rem; /* 47px */
          line-height: 3rem; /* 30px */
        }
        @include breakpoint(max, 768px) {
          padding: 0 2.8rem; /* 28px */
          line-height: 2.9rem; /* 29px */
          font-size: 1.6rem; /* 16px */
        }
      }
      @include breakpoint(max, 768px) {
        display: none;
      }
    }
    @include breakpoint(max, 768px) {
      padding: 0.1rem; /* 1px */
      background: rgba(37, 40, 73, 0.788235294117647);
    }
  }
}
#footer {
  background: url("../img/cta-bg.png") no-repeat center -18rem /* -180px */,
    linear-gradient($darker, $darker);
  color: rgba(255, 255, 255, 0.84);
  padding: 5rem 0 2rem 0; /* 50px 20px */
  position: relative;
  font-size: 1.3rem; /* 13px */
  font-weight: 300;
  overflow: hidden;
  background-size: contain;
  background-blend-mode: color-dodge;
  @include breakpoint(max, 992px) {
    background-position: center -10rem; /* -100px */
  }
  @include breakpoint(max, 768px) {
    background-position: center -4rem; /* -40px */
  }
  .cta {
    text-align: center;
    padding: 1rem 0 17.4rem 0; /* 10px 174px */
    .title {
      font-size: 3rem; /* 30px */
      color: #fff;
      @include breakpoint(max, 576px) {
        font-size: 2.2rem; /* 22px */
        line-height: 3.4rem; /* 34px */
      }
    }
    .description {
      font-size: 1.8rem; /* 18px */
      color: #8c90b1;
      margin-top: -1.6rem; /* -16px */
      @include breakpoint(max, 576px) {
        font-size: 1.4rem; /* 14px */
        margin-top: -0.5rem; /* -5px */
      }
    }
    .white-btn-v2 {
      top: 4rem; /* 40px */
      @include breakpoint(max, 576px) {
        padding: 1.1rem 5.8rem 1.1rem 2.4rem; /* 11px 58px 11px 24px */
        font-size: 1.5rem; /* 15px */
      }
      svg {
        @include breakpoint(max, 576px) {
          right: 0.4rem; /* 4px */
          top: 0.3rem; /* 3px */
          padding: 1.1rem; /* 11px */
          width: 1.2rem; /* 12px */
          height: 1.2rem; /* 12px */
        }
      }
    }
    @include breakpoint(max, 768px) {
      padding: 1rem 3.2rem 10.4rem 3.4rem; /* 10px 32px 104px 34px */
    }
  }
  .circle {
    pointer-events: none;
  }
  .c1 {
    width: 7rem; /* 70px */
    height: 7rem; /* 70px */
    position: absolute;
    right: 16.5rem; /* 165px */
    bottom: -1rem; /* -10px */
    z-index: 1;
    animation: float 5s ease-in-out infinite;
    @include breakpoint(max, 800px) {
      display: none;
    }
  }
  .c2 {
    width: 15rem; /* 150px */
    height: 15rem; /* 150px */
    position: absolute;
    left: 9rem; /* 90px */
    bottom: 15rem; /* 150px */
    z-index: 1;
    animation: float 6s ease-in-out infinite;
    @include breakpoint(max, 992px) {
      width: 10rem; /* 100px */
      height: 10rem; /* 100px */
    }
    @include breakpoint(max, 800px) {
      display: none;
    }
  }
  .c3 {
    position: absolute;
    width: 3.5rem; /* 35px */
    height: 3.5rem; /* 35px */
    right: 12.5rem; /* 125px */
    bottom: 18rem; /* 180px */
    animation: float 4s ease-in-out infinite;
    @include breakpoint(max, 992px) {
      width: 3rem; /* 30px */
      height: 3rem; /* 30px */
    }
    @include breakpoint(max, 600px) {
      display: none;
    }
  }
  .c4 {
    position: absolute;
    width: 8.2rem; /* 82px */
    height: 8.2rem; /* 82px */
    top: 0.8rem; /* 8px */
    left: 55.5rem; /* 555px */
    animation: floatXY 4s linear infinite;
    @include breakpoint(max, 992px) {
      width: 5.2rem; /* 52px */
      height: 5.2rem; /* 52px */
      left: 5.5rem; /* 55px */
    }
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include breakpoint(max, 992px) {
      justify-content: center;
    }
    .description {
      display: flex;
      max-width: 38rem; /* 380px */
      .footer-logo {
        width: 6rem; /* 60px */
        margin-left: 2rem; /* 20px */
        @include breakpoint(max, 576px) {
          margin-bottom: 1.5rem; /* 15px */
        }
      }
      p {
        @include breakpoint(max, 576px) {
          display: none;
        }
      }
    }
    .menu {
      list-style: none;
      li {
        display: inline-block;
        padding: 0.5rem 1rem 1.7rem 1rem; /* 5px 10px 17px 10px */
        margin-left: 6rem; /* 60px */
        position: relative;
        transition: all ease-in-out 0.5s;
        &:after {
          transition: all ease-in-out 0.5s;
          display: block;
          position: absolute;
          content: "";
          width: 2.5rem; /* 25px */
          height: 0.3rem; /* 3px */
          border-radius: 0.15rem; /* 1.5px */
          background: #f3303a;
          box-shadow: 0 0.5rem 1.5rem 0 rgba(243, 48, 58, 0.5),
            0 0.5rem 1.2rem 0 rgba(243, 48, 58, 0.61),
            0 0.4rem 0.7rem 0 /* 5px 15px 5px 12px 4px 7px */
              rgba(243, 48, 58, 0.32);
          bottom: 0;
          left: calc((100% - 2.5rem) / 2);
          opacity: 0;
          visibility: hidden;
        }
        &:hover {
          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
        &.active {
          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      @include breakpoint(max, 992px) {
        flex: 0 0 100%;
        text-align: center;
      }
      @include breakpoint(max, 576px) {
        display: none;
      }
    }
  }
  .copyright {
    .mobile-logo {
      display: none;
    }
    text-align: center;
    color: rgba(240, 242, 248, 0.55);
    direction: ltr;
    margin-top: 5rem; /* 50px */
    font-weight: 300;
    @include breakpoint(max, 992px) {
      border-top: 0.1rem /* 1px */ solid
        rgba(255, 255, 255, 0.12156862745098039);
      padding-top: 1.9rem; /* 19px */
      margin-top: 0;
    }
  }
}
