/********* Components *********/
// White buttons
.white-btn {
  box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
  background: #fff;
  color: $darker;
  border-radius: 100px;
}
.white-btn-v2 {
  position: relative;
  background: #fff;
  color: $darker;
  padding: 21px 81px 22px 30px;
  border-radius: 100px;
  font-size: 22px;
  font-weight: 500;
  svg {
    background: $red-bg;
    border-radius: 100px;
    stroke: #ffffff;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    padding: 16px;
    position: absolute;
    right: 13px;
    top: 9px;
  }
}
// Red Buttons
.red-btn {
  background: #F3303A;
  color: #fff;
  box-shadow: 0 8px 27px 0 rgba(243, 48, 58, 0.23);
  border-radius: 100px;
  position: relative;
  svg {
    position: absolute;
    width: 11px;
    top: 23px;
    height: 11px;
    left: 27px;
  }
}
// Service Items
.service-item {
  height: 345px;
  width: 260px;
  border-radius: 14px;
  position: relative;
  overflow: hidden;
  .title {
    position: absolute;
    bottom: 48px;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    z-index: 1;
    right: 27px;
    &:after {
      content: '';
      position: absolute;
      right: 2px;
      width: 30px;
      height: 1px;
      background: rgba(0, 0, 0, 0.15);
      bottom: -9px;
    }
    @include breakpoint(max,1410px) {
      font-size: 21px;
    }
    @include breakpoint(max,576px) {
      font-size: 15px;
      bottom: 40px;
    }
  }
  .from-price {
    color: #fff;
    font-weight: 300;
    bottom: 36px;
    position: absolute;
    right: 27px;
    z-index: 2;
    @include breakpoint(max,576px) {
      bottom: 23px;
      font-size: 14px;
    }
  }
  .buy-icon {
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 32px;
    svg {
      fill: #fff;
      width: 21px;
      height: 21px;
    }
    @include breakpoint(max,576px) {
      bottom: 14px;
    }
  }
  &:after {
    content: '';
    position: absolute;
    left: -51px;
    bottom: -6px;
    width: 245px;
    height: 250px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 36px;
    left: 33px;
    width: 30px;
    height: 30px;
    background-size: 100% !important;
    z-index: 2;
    @include breakpoint(max,576px) {
      top: 20px;
      left: 19px;
      width: 25px;
      height: 25px;
    }
  }
  &.xbox-gift-card {
    background: #41cd7d;
    &:after {
      background: url('../img/xbox-color.svg') no-repeat;
    }
    &:before {
      background: url('../img/xbox.svg');
    }
  }
  &.netflix-gift-card {
    background: #cf0d17;
    &:after {
      background: url('../img/netflix-solid.svg') no-repeat;
      left: 0px;
      bottom: -76px;
      width: 320px;
      height: 320px;
    }
    &:before {
      background: url('../img/netflix.svg');
    }
  }
  &.apple-gift-card {
    background: #000000;
    &:after {
      background: url('../img/apple-gift-card-color.svg') no-repeat;
      left: -27px;
    }
    &:before {
      background: url('../img/apple-gift-card.svg');
    }
    .title:after {
      background: rgba(255, 255, 255, 0.15);
    }
  }
}
// Titles
.section-title {
  h2 {
    font-weight: 600;
    padding-right: 35px;
    position: relative;
    font-size: 43px;
    color: $darker;
    margin: 60px 0 40px;
    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 4px;
      height: 34px;
      background: #F3303A;
      border-radius: 2px;
      right: 0;
      top: 0;
      box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32);
      @include breakpoint(max,768px) {
        right: 13px;
        top: -7px;
      }
      @include breakpoint(max,576px) {
        width: 10px;
        height: 10px;
        border-radius: 12px;
        box-shadow: none;
        right: 18px;
        top: 2px;
      }
    }
    @include breakpoint(max,768px) {
      font-size: 33px;
    }
    @include breakpoint(max,576px) {
      font-size: 18px;
      font-weight: 500;
      margin: 40px 0 20px;
    }
  }
}
// Product items
.product-item {
  transition: all .5s;
  border-radius: 11px;
  width: 270px;
  display: inline-block;
  padding: 24px 0 45px 0;
  .image-holder {
    transition: all .5s;
    position: relative;
    width: 200px;
    height: 270px;
    margin: auto;
    img{
      width: 100%;
      height: 100%;
    }
    @include breakpoint(max,768px){
      width: 200px;
      height: 270px;
    }
    @include breakpoint(max,576px){
      width: 120px;
      height: 160px;
      padding: 0;
    }
  }
  .product-bottom{
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    @include breakpoint(max,576px) {
      max-width: 120px;
    }
    .product-title{
      font-weight: bold;
      font-size: 16px;
      color: $dark;
      margin-top: 25px;
      line-height: 1.5;
      min-height: 48px;
      display: block;
      @include breakpoint(max,576px) {
        font-weight: 400;
        font-size: 13px;
        margin-top: 12px;
      }
    }
    .product-card-price{
      .original-price{
        @include Number;
        color: rgba($dark,.8);
        font-size: 16px;
        text-decoration: line-through;
        @include breakpoint(max,576px) {
          display: none;
        }
      }
      .original-price__holder {
        display: none;
      }
      .sale-range{
        transition: all .5s;
        @include Number;
        display: inline-block;
        font-size: 12px;
        color: #ffffff;
        padding:5px 5px 3px 5px;
        background:$red-bg;
        border-radius: 10px;
        border: 2px solid transparent;
        margin-left: 5px;
        @include breakpoint(max,576px) {
          font-size: 11px;
          padding: 2px 2px 1px 2px;
        }
      }
      .sale-price{
        display: block;
        @include Number;
        font-size: 25px;
        color: $dark;
        position: relative;
        padding-left: 40px;
        top: 10px;
        &:before{
          font-weight: bold;
          font-family: 'YekanBakh' !important;
          display: block;
          position: absolute;
          content: 'تومان';
          font-size: 14px;
          color: rgba($dark,.8);
          left: 0;
          bottom: 5px;
          @include breakpoint(max,576px) {
            font-weight: 400;
            font-size: 11px;
            left: 15px;
            bottom: 1px;
          }
        }
        &:after {
          content: 'شروع قیمت از';
          font-family: 'YekanBakh', sans-serif;
          position: absolute;
          top: -15px;
          right: 0;
          font-size: 13px;
          font-weight: 300;
          @include breakpoint(max,576px) {
            font-size: 11px;
            top: 4px;
            right: -66px;
          }
        }
        @include breakpoint(max,576px) {
          font-size: 14px;
          top: 5px;
          right: 60px;
        }
      }
      @include breakpoint(max,576px) {
        display: flex;
      }
    }
    .add-to-basket{
      width: 48px;
      height: 48px;
      font-size: 28px;
      line-height: 1.8;
      font-weight: bold;
      transition: all .5s;
      border-radius: 100px;
      text-align: center;
      border: 2px solid #3f4373;
      background: #3f4373;
      svg {
        stroke: #ffffff;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        transition: all .5s;
      }
      @include breakpoint(max,576px) {
        display: none;
      }
    }
  }
  &:hover{
    background:#ffffff;
    box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
    .product-bottom{
      .sale-range{
        color: $red-bg;
        background:#ffffff;
        border-color: $red-bg;
      }
      .add-to-basket{
        border-color: $red-bg;
        background: $red-bg;
        box-shadow: 0 5px 15px 0 rgba($red-bg,.5) , 0 5px 12px 0 rgba($red-bg,.61) , 0 4px 7px 0 rgba($red-bg,.32);
        svg {
          stroke: #ffffff;
        }
      }
    }
  }
  @include breakpoint(max,768px) {
    background: #ffffff;
    margin: 0 10px;
    box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
    width: 243px;
    display: inline-block;
    padding: 18px 0 19px 0;
  }
  @include breakpoint(max,576px) {
    width: 120px;
    height: 255px;
    padding: 15px;
    box-shadow: none;
    border-radius: 5px;
  }
}
// Ordering step items
.step-item {
  text-align: center;
  position: relative;
  border-radius: 10px;
  transition: all .5s;
  max-width: 530px;
  padding: 50px 0 0;
  min-height: 250px;
  .icon {
    width: 58px;
    height: 57px;
    border-radius: 100px;
    background: #ffffff;
    display: inline-block;
    box-shadow: 0px 1px 1px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
    transition: all .5s;
    svg {
      width: 26px;
      height: 26px;
      fill: #3f4373;
      opacity: .8;
      position: relative;
      top: 14px;
      transition: all .3s;
    }
  }
  .title {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 12px;
  }
  .description {
    opacity: .8;
    max-width: 470px;
    font-weight: 300;
    margin: 0 auto;
  }
  &:after {
    content: attr(data-step);
    position: absolute;
    right: 21px;
    background: #252849;
    border-radius: 100px;
    color: #ffffff;
    top: 21px;
    width: 28px;
    height: 23px;
    padding-top: 5px;
    @include Number;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
  }
  &:hover {
    background: #ffffff;
    box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 1px 1px 4px 0 rgba(170, 188, 212, 0.21), 19px 6px 20px 0 rgba(170, 188, 212, 0.18);
    &:after {
      opacity: 1;
      visibility: visible;
    }
    .icon {
      background: $red-bg;
      box-shadow: 3px 4px 14px 0 rgba(243, 48, 58, 0.28);
      svg {
        fill: #ffffff;
      }
    }
  }
  @include breakpoint(max,768px) {
    box-shadow: 0 9px 20px 0 rgba(170, 188, 212, 0.29), 0 2px 1px 0 rgba(170, 188, 212, 0.21);;
    background: #fff;
    padding: 30px 0 0;
  }
}
// Gift Card Item
.gift-card-item {
  height: 316px;
  width: 218px;
  border-radius: 11px;
  margin: 0 10px;
  position: relative;
  h4 {
    font-weight: 500;
    font-size: 17px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    text-align: center;
    @include breakpoint(max,576px) {
      font-size: 14px;
      bottom: 127px;
    }
  }
  p {
    position: absolute;
    font-size: 14px;
    font-weight: 300;
    bottom: 75px;
    transform: translateX(-50%);
    left: 50%;
    width: 80%;
    text-align: center;
    height: 18px;
    line-height: 18px;
    @include breakpoint(max,576px) {
      font-size: 12px;
      bottom: 73px;
    }
  }
  &:after {
    position: absolute;
    content: '';
    top: 52px;
    left: 50%;
    transform: translateX(-50%);
    height: 62px;
    width: 62px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    border-bottom: 3px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 30px;
    @include breakpoint(max,576px) {
      top: 37px;
      height: 60px;
      width: 40px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    }
  }
  &:before {
    position: absolute;
    bottom: 17px;
    left: 50%;
    transform: translateX(-50%);
    content: '...';
    width: 35px;
    height: 24px;
    border-radius: 100px;
    border: 2px solid transparent;
    text-align: center;
    padding: 2px 0 0;
    transition: all .3s;
    font-size: 21px;
  }
  &:hover {
    &:before {
      content: '+';
      border-color: rgba(255, 255, 255, 0.41);
    }
  }
  &.spotify {
    background: #41cd7d;
    &:after {
      background: url("../img/spotify.svg");
    }
  }
  &.ps4 {
    background: #4e7cff;
    &:after {
      background: url("../img/ps4.svg");
    }
  }
  &.steam {
    background: #3f4373;
    &:after {
      background: url("../img/steam.svg");
    }
  }
  @include breakpoint(max,576px) {
    height: 256px;
    width: 185px;
    border-radius: 6px;
  }
}
// Filter card
.filter-card {
  ul {
    list-style: none;
    padding-right: 0;
    display: inline-block;
    @include breakpoint(max,576px) {
      margin-bottom: 0;
    }
    li {
      display: inline-block;
      font-size: 13px;
      box-shadow: 0px 2px 2px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.12);
      background: #fff;
      padding: 10px 20px;
      border-radius: 100px;
      margin-left: 7px;
      @include breakpoint(max,576px) {
        font-size: 12px;
        box-shadow: none;
      }
    }
  }
}