body {
  background: #f7f8ff;
}
.container {
  @include breakpoint(max, 1570px) {
    max-width: 120rem; /* 1200px */
  }
  @include breakpoint(max, 1200px) {
    max-width: 99.2rem; /* 992px */
  }
}
#header {
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background: url("../img/lines-bg.svg");
    position: absolute;
    width: 140rem; /* 1400px */
    height: 80%;
    background-size: 100%;
    top: -34.8rem; /* -348px */
    left: -30.5rem; /* -305px */
    transform: rotate(156deg);
    opacity: 0.2;
    @include breakpoint(max, 1200px) {
      width: 160rem; /* 1600px */
      height: 90%;
      top: -52.7rem; /* -527px */
      left: -41.7rem; /* -417px */
      transform: rotate(145deg);
      background-repeat: no-repeat;
    }
    @include breakpoint(max, 992px) {
      height: 72%;
    }
    @include breakpoint(max, 768px) {
      height: 62%;
      transform: rotate(156deg);
    }
  }
  .nav {
    .logo {
      width: 12.5rem; /* 125px */
      height: 3.1rem; /* 31px */
      float: right;
      margin-top: 5rem; /* 50px */
      @include breakpoint(max, 576px) {
        width: 11rem; /* 110px */
        height: 2.4rem; /* 24px */
        margin-top: 3rem; /* 30px */
      }
    }
    .white-btn {
      margin-top: 4rem; /* 40px */
      float: left;
      padding: 1.4rem 3.6rem; /* 14px 36px */
      font-size: 1.7rem; /* 17px */
      z-index: 1;
      position: relative;
      @include breakpoint(max, 575px) {
        font-size: 1.5rem; /* 15px */
        margin-top: 2.2rem; /* 22px */
      }
      @include breakpoint(max, 380px) {
        padding: 1.2rem 2.2rem; /* 12px 22px */
      }
    }
    @include breakpoint(max, 1410px) {
      max-width: 107rem; /* 1070px */
      margin: 0 auto;
      padding: 0 5.7rem; /* 57px */
    }
    @include breakpoint(max, 576px) {
      padding: 0 3rem; /* 30px */
    }
  }
  .hero {
    display: flex;
    @include breakpoint(max, 1200px) {
      flex-wrap: wrap;
    }
    .services {
      margin-top: 11.7rem; /* 117px */
      display: flex;
      .service-item {
        margin-left: 3.3rem; /* 33px */
        @include breakpoint(max, 1570px) {
          height: 32.5rem; /* 325px */
          width: 24.5rem; /* 245px */
        }
        @include breakpoint(max, 1410px) {
          margin-left: 1.9rem; /* 19px */
          height: 30.2rem; /* 302px */
          width: 22.4rem; /* 224px */
        }
        @include breakpoint(max, 576px) {
          margin-left: 1rem; /* 10px */
          height: 23.3rem; /* 233px */
          width: 18rem; /* 180px */
          border-radius: 0.7rem; /* 7px */
        }
      }
      .circles {
        position: absolute;
        top: 10.5rem; /* 105px */
        animation: rotate 25s linear infinite;
        right: 10rem; /* 100px */
        pointer-events: none;
        @keyframes rotate {
          from {
            transform: rotate(0);
          }
          to {
            transform: rotate(360deg);
          }
        }
        @include breakpoint(max, 1570px) {
          width: 33%;
        }
        @include breakpoint(max, 1200px) {
          top: initial;
          bottom: 0;
          right: initial;
          left: 20.3rem; /* 203px */
          width: 40%;
        }
        @include breakpoint(max, 992px) {
          display: none;
        }
      }
      @include breakpoint(max, 1410px) {
        max-width: 72.8rem; /* 728px */
      }
      @include breakpoint(max, 1200px) {
        flex: 0 0 100%;
        order: 1;
        margin-left: 2.5rem; /* 25px */
        margin-right: 1rem; /* 10px */
      }
      @include breakpoint(max, 768px) {
        margin-top: 6.1rem; /* 61px */
      }
    }
    .intro {
      width: 100%;
      max-width: 48.2rem; /* 482px */
      margin: 15.4rem 13.6rem 19rem 0; /* 154px 136px 190px */
      @include breakpoint(max, 1570px) {
        margin: 13.1rem 3.8rem 15rem 0; /* 131px 38px 150px */
      }
      @include breakpoint(max, 1410px) {
        margin: 13.1rem 2rem 15rem 0; /* 131px 20px 150px */
        max-width: 43rem; /* 430px */
      }
      @include breakpoint(max, 1200px) {
        order: 0;
        margin-right: 12rem; /* 120px */
        margin-bottom: -1rem; /* -10px */
      }
      @include breakpoint(max, 768px) {
        margin: 7.2rem 2rem 1rem 0; /* 72px 20px 10px */
        margin-right: 7.4rem; /* 74px */
      }
      @include breakpoint(max, 576px) {
        margin-right: initial;
        margin: 4rem auto 4rem; /* 40px 40px */
        text-align: center;
      }
      .title {
        font-size: 4.8rem; /* 48px */
        font-weight: 500;
        margin-top: 0;
        color: $darker;
        strong {
          font-weight: 600;
        }
        @include breakpoint(max, 1570px) {
          font-size: 4.1rem; /* 41px */
        }
        @include breakpoint(max, 1410px) {
          font-size: 3.9rem; /* 39px */
        }
        @include breakpoint(max, 576px) {
          font-size: 3rem; /* 30px */
          text-align: center;
          line-height: 4.7rem; /* 47px */
          padding: 0 2.8rem; /* 28px */
        }
        @include breakpoint(max, 380px) {
          font-size: 2.3rem; /* 23px */
          line-height: 3.8rem; /* 38px */
        }
      }
      .description {
        position: relative;
        padding-right: 2.8rem; /* 28px */
        text-align: justify;
        opacity: 0.8;
        font-weight: 300;
        &:after {
          display: block;
          position: absolute;
          content: "";
          width: 0.4rem; /* 4px */
          height: 3.6rem; /* 36px */
          border-radius: 0.2rem; /* 2px */
          background: #f65164;
          box-shadow: 0 0.5rem 1.5rem 0 rgba(243, 48, 58, 0.5),
            0 0.5rem 1.2rem 0 rgba(243, 48, 58, 0.61),
            0 0.4rem 0.7rem 0 /* 5px 15px 5px 12px 4px 7px */
              rgba(243, 48, 58, 0.32);
          top: 0.5rem; /* 5px */
          right: 0;
        }
        @include breakpoint(max, 1410px) {
          font-size: 1.6rem; /* 16px */
        }
        @include breakpoint(max, 576px) {
          padding: 0 2.2rem; /* 22px */
          margin: 0 1.9rem; /* 19px */
          font-size: 1.5rem; /* 15px */
        }
      }
      .red-btn {
        padding: 2rem 3rem 2rem 7rem; /* 20px 30px 20px 70px */
        font-size: 1.8rem; /* 18px */
        margin-top: 0.6rem; /* 6px */
        float: left;
        @include breakpoint(max, 576px) {
          float: initial;
          top: 4.4rem; /* 44px */
          font-size: 1.5rem; /* 15px */
          padding: 1.1rem 2.5rem 1.2rem 6.1rem; /* 11px 25px 12px 61px */
        }
        svg {
          @include breakpoint(max, 576px) {
            top: 1.7rem; /* 17px */
          }
        }
      }
      .mini-service-icons {
        display: flex;
        width: 100%;
        margin-top: 18rem; /* 180px */
        pointer-events: none;
        svg {
          width: 4.3rem; /* 43px */
          height: 4.3rem; /* 43px */
          margin-left: 6rem; /* 60px */
          &.ps4 {
            width: 5.2rem; /* 52px */
            height: 5.2rem; /* 52px */
            position: relative;
            bottom: 0.4rem; /* 4px */
          }
          @include breakpoint(max, 576px) {
            margin: 0 auto;
            transform: scale(0.7);
          }
        }
        @include breakpoint(max, 1410px) {
          margin-top: 14rem; /* 140px */
        }
        @include breakpoint(max, 576px) {
          margin-top: 10rem; /* 100px */
        }
      }
    }
  }
}
#main {
  .gift-card {
    margin-top: -8rem; /* -80px */
    overflow: hidden;
    .section-title {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .filter-card {
        margin-right: 2rem; /* 20px */
        margin-top: 1.4rem; /* 14px */
        z-index: 2;
        @include breakpoint(max, 576px) {
          flex: 0 0 100%;
          margin-top: -1.4rem; /* -14px */
        }
      }
    }
    .product-item {
      margin-bottom: 4rem; /* 40px */
      @include breakpoint(max, 768px) {
        margin-bottom: 4.4rem; /* 44px */
        margin-top: 2.5rem; /* 25px */
      }
    }
    #gift-cards-carousel {
      .owl-nav {
        .owl-prev,
        .owl-next {
          outline: none;
          padding: 1rem; /* 10px */
          background: #fff !important;
          width: 4.5rem; /* 45px */
          height: 6rem; /* 60px */
          position: absolute;
          top: 30%;
          transform: translateY(-50%);
          box-shadow: 0 0.1rem 0.2rem 0 rgba(168, 192, 226, 0.27),
            0 0.2rem 0.5rem 0 /* 1px 2px 2px 5px */ rgba(168, 192, 226, 0.19);
          svg {
            stroke: $darker;
            width: 1.5rem; /* 15px */
            height: 1.5rem; /* 15px */
            position: relative;
            top: 0.3rem; /* 3px */
          }
          @include breakpoint(max, 576px) {
            display: none;
          }
        }
        .owl-next {
          left: 0;
        }
        .owl-prev {
          svg {
            transform: rotate(180deg);
          }
        }
      }
      @include breakpoint(max, 576px) {
        margin-right: -8rem; /* -80px */
      }
      .owl-stage-outer {
        @include breakpoint(max, 576px) {
          overflow: visible !important;
        }
      }
    }
    @include breakpoint(max, 1200px) {
      margin-top: 0;
    }
  }
  .gift-card-v2 {
    color: #ffffff;
    margin: 6rem 0 0; /* 60px */
    position: relative;
    @include breakpoint(max, 768px) {
      margin-top: 0;
      overflow: hidden;
    }
    .bg {
      max-width: 123rem; /* 1230px */
      border-bottom-left-radius: 3rem; /* 30px */
      border-top-left-radius: 3rem; /* 30px */
      background: $darker;
      display: flex;
      position: relative;
      padding: 7.9rem 0 12rem; /* 79px 120px */
      overflow: hidden;
      &:after {
        content: "";
        background: url(../img/lines-bg.svg);
        background-size: 100%;
        position: absolute;
        right: -60rem; /* -600px */
        height: 70%;
        width: 150rem; /* 1500px */
        background-repeat: no-repeat;
        transform: rotate(-73deg);
        z-index: 0;
        top: 40.9rem; /* 409px */
        @include forie() {
          display: none;
        }
        @include breakpoint(max, 576px) {
          display: none;
        }
      }
      @include breakpoint(max, 1570px) {
        max-width: 100%;
        border-radius: 0;
      }
      @include breakpoint(max, 1270px) {
        height: 50rem; /* 500px */
      }
      @include breakpoint(max, 576px) {
        height: 42rem; /* 420px */
      }
      @include breakpoint(max, 420px) {
        height: 48rem; /* 480px */
      }
    }
    .c1 {
      position: absolute;
      width: 8.2rem; /* 82px */
      right: 13rem; /* 130px */
      bottom: -4.4rem; /* -44px */
      animation: float 7s linear infinite;
      @include breakpoint(max, 768px) {
        display: none;
      }
    }
    .c2 {
      position: absolute;
      width: 6.2rem; /* 62px */
      top: -2.4rem; /* -24px */
      right: -1.3rem; /* -13px */
      @include breakpoint(max, 576px) {
        display: none;
      }
    }
    .card-illustration {
      position: relative;
      top: 8.1rem; /* 81px */
      display: inline-block;
      right: -2.7rem; /* -27px */
      width: 31.2rem; /* 312px */
      height: 19.8rem; /* 198px */
      margin-left: 4.8rem; /* 48px */
      z-index: 1;
      .card {
        position: absolute;
        height: 19.8rem; /* 198px */
        width: 31.2rem; /* 312px */
        border-bottom-left-radius: 2.4rem; /* 24px */
        border-top-left-radius: 2.4rem; /* 24px */
        pointer-events: none;
        &:first-of-type {
          top: -2.7rem; /* -27px */
          right: 2.7rem; /* 27px */
        }
      }
      .logo {
        position: absolute;
        height: 7rem; /* 70px */
        left: 4rem; /* 40px */
        bottom: 4.6rem; /* 46px */
        width: 8.6rem; /* 86px */
      }
      @include breakpoint(max, 1570px) {
        right: -12.7rem; /* -127px */
      }
      @include breakpoint(max, 1410px) {
        display: none;
      }
    }
    .gift-cards-v2-carousel-wrapper {
      position: relative;
      top: 2.1rem; /* 21px */
      #gift-cards-v2-carousel-counter {
        position: absolute;
        font-size: 1.2rem; /* 12px */
        color: rgba(255, 255, 255, 0.45);
        direction: ltr;
        top: -0.7rem; /* -7px */
        .current {
          color: #ffffff;
        }
      }
      #gift-cards-v2-carousel {
        max-width: 42.5rem; /* 425px */
        .carousel-content {
          max-width: 42.5rem; /* 425px */
          .title {
            font-size: 3rem; /* 30px */
            margin-bottom: 1.2rem; /* 12px */
            @include breakpoint(max, 576px) {
              font-size: 2rem; /* 20px */
            }
          }
          .description {
            color: #e5e6f7;
            font-weight: 300;
            font-size: 1.6rem; /* 16px */
            text-align: justify;
            @include breakpoint(max, 576px) {
              font-size: 1.4rem; /* 14px */
            }
          }
          @include breakpoint(max, 1270px) {
            max-width: initial;
          }
        }
        .owl-dots {
          display: block;
          position: absolute;
          top: -1rem; /* -10px */
          right: 4.2rem; /* 42px */
          .owl-dot {
            width: 0.6rem; /* 6px */
            height: 0.6rem; /* 6px */
            background: rgba(255, 255, 255, 0.43);
            border-radius: 10rem; /* 100px */
            margin-left: 0.8rem; /* 8px */
            &.active {
              background: rgb(255, 255, 255);
              width: 2.1rem; /* 21px */
            }
          }
        }
        @include breakpoint(max, 1270px) {
          max-width: initial;
        }
      }
      @include breakpoint(max, 1570px) {
        right: -10.3rem; /* -103px */
      }
      @include breakpoint(max, 1410px) {
        right: 11.4rem; /* 114px */
      }
      @include breakpoint(max, 1270px) {
        width: 85%;
        margin: 0 auto;
        right: 0;
      }
      @include breakpoint(max, 768px) {
        top: -3rem; /* -30px */
      }
    }
    .gift-card-list {
      width: 71rem; /* 710px */
      position: absolute;
      left: 32rem; /* 320px */
      display: flex;
      top: 8.8rem; /* 88px */
      @include breakpoint(max, 1850px) {
        left: 24.3rem; /* 243px */
      }
      @include breakpoint(max, 1770px) {
        left: 15.6rem; /* 156px */
      }
      @include breakpoint(max, 1670px) {
        left: 5.6rem; /* 56px */
      }
      @include breakpoint(max, 1570px) {
        left: 1rem; /* 10px */
      }
      @include breakpoint(max, 1270px) {
        left: 50%;
        transform: translateX(-50%);
        top: initial;
        bottom: 4rem; /* 40px */
      }
    }
  }
  .ordering-steps {
    padding: 6rem 0 10rem; /* 60px 100px */
    @include breakpoint(max, 992px) {
      padding: 6rem 1.5rem 10rem; /* 60px 15px 100px */
    }
    > .container {
      display: flex;
      flex-wrap: wrap;
      @include breakpoint(max, 1200px) {
        padding: 0;
      }
    }
    .step-item {
      flex: 0 0 49%;
      margin: 3rem auto 0; /* 30px */
      .title {
        @include breakpoint(max, 768px) {
          font-size: 1.9rem; /* 19px */
        }
      }
      .description {
        @include breakpoint(max, 1200px) {
          padding: 0 4.7rem; /* 47px */
          line-height: 3rem; /* 30px */
        }
        @include breakpoint(max, 768px) {
          padding: 0 2.8rem; /* 28px */
          line-height: 2.9rem; /* 29px */
          font-size: 1.6rem; /* 16px */
        }
      }
      @include breakpoint(max, 768px) {
        display: none;
      }
    }
    @include breakpoint(max, 768px) {
      padding: 0.1rem; /* 1px */
      background: rgba(37, 40, 73, 0.788235294117647);
    }
  }
}
#footer {
  background: url("../img/cta-bg.png") no-repeat center -18rem /* -180px */,
    linear-gradient($darker, $darker);
  color: rgba(255, 255, 255, 0.84);
  padding: 5rem 0 2rem 0; /* 50px 20px */
  position: relative;
  font-size: 1.3rem; /* 13px */
  font-weight: 300;
  overflow: hidden;
  background-size: contain;
  background-blend-mode: color-dodge;
  @include breakpoint(max, 992px) {
    background-position: center -10rem; /* -100px */
  }
  @include breakpoint(max, 768px) {
    background-position: center -4rem; /* -40px */
  }
  .cta {
    text-align: center;
    padding: 1rem 0 17.4rem 0; /* 10px 174px */
    .title {
      font-size: 3rem; /* 30px */
      color: #fff;
      @include breakpoint(max, 576px) {
        font-size: 2.2rem; /* 22px */
        line-height: 3.4rem; /* 34px */
      }
    }
    .description {
      font-size: 1.8rem; /* 18px */
      color: #8c90b1;
      margin-top: -1.6rem; /* -16px */
      @include breakpoint(max, 576px) {
        font-size: 1.4rem; /* 14px */
        margin-top: -0.5rem; /* -5px */
      }
    }
    .white-btn-v2 {
      top: 4rem; /* 40px */
      display: inline-block;
      @include breakpoint(max, 576px) {
        padding: 1.2rem 5.8rem 1.1rem 2.4rem; /* 12px 58px 11px 24px */
        font-size: 1.5rem; /* 15px */
      }
      svg {
        @include breakpoint(max, 768px) {
          right: 8rem; /* 80px */
        }
        @include breakpoint(max, 576px) {
          right: 0.4rem; /* 4px */
          top: 0.3rem; /* 3px */
          padding: 1.1rem; /* 11px */
          width: 1.2rem; /* 12px */
          height: 1.2rem; /* 12px */
        }
      }
    }
    @include breakpoint(max, 768px) {
      padding: 1rem 3.2rem 10.4rem 3.4rem; /* 10px 32px 104px 34px */
    }
  }
  .circle {
    pointer-events: none;
  }
  .c1 {
    width: 7rem; /* 70px */
    height: 7rem; /* 70px */
    position: absolute;
    right: 16.5rem; /* 165px */
    bottom: -1rem; /* -10px */
    z-index: 1;
    animation: float 5s ease-in-out infinite;
    @include breakpoint(max, 800px) {
      display: none;
    }
  }
  .c2 {
    width: 15rem; /* 150px */
    height: 15rem; /* 150px */
    position: absolute;
    left: 9rem; /* 90px */
    bottom: 15rem; /* 150px */
    z-index: 1;
    animation: float 6s ease-in-out infinite;
    @include breakpoint(max, 992px) {
      width: 10rem; /* 100px */
      height: 10rem; /* 100px */
    }
    @include breakpoint(max, 800px) {
      display: none;
    }
  }
  .c3 {
    position: absolute;
    width: 3.5rem; /* 35px */
    height: 3.5rem; /* 35px */
    right: 12.5rem; /* 125px */
    bottom: 18rem; /* 180px */
    animation: float 4s ease-in-out infinite;
    @include breakpoint(max, 992px) {
      width: 3rem; /* 30px */
      height: 3rem; /* 30px */
    }
    @include breakpoint(max, 600px) {
      display: none;
    }
  }
  .c4 {
    position: absolute;
    width: 8.2rem; /* 82px */
    height: 8.2rem; /* 82px */
    top: 0.8rem; /* 8px */
    left: 55.5rem; /* 555px */
    animation: floatXY 4s linear infinite;
    @include breakpoint(max, 992px) {
      width: 5.2rem; /* 52px */
      height: 5.2rem; /* 52px */
      left: 5.5rem; /* 55px */
    }
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include breakpoint(max, 992px) {
      justify-content: center;
    }
    .description {
      display: flex;
      max-width: 38rem; /* 380px */
      .footer-logo {
        width: 6rem; /* 60px */
        margin-left: 2rem; /* 20px */
        @include breakpoint(max, 576px) {
          margin-bottom: 1.5rem; /* 15px */
        }
      }
      p {
        @include breakpoint(max, 576px) {
          display: none;
        }
      }
    }
    .menu {
      list-style: none;
      li {
        display: inline-block;
        padding: 0.5rem 1rem 1.7rem 1rem; /* 5px 10px 17px 10px */
        margin-left: 6rem; /* 60px */
        position: relative;
        transition: all ease-in-out 0.5s;
        &:after {
          transition: all ease-in-out 0.5s;
          display: block;
          position: absolute;
          content: "";
          width: 2.5rem; /* 25px */
          height: 0.3rem; /* 3px */
          border-radius: 0.15rem; /* 1.5px */
          background: #f3303a;
          box-shadow: 0 0.5rem 1.5rem 0 rgba(243, 48, 58, 0.5),
            0 0.5rem 1.2rem 0 rgba(243, 48, 58, 0.61),
            0 0.4rem 0.7rem 0 /* 5px 15px 5px 12px 4px 7px */
              rgba(243, 48, 58, 0.32);
          bottom: 0;
          left: calc((100% - 2.5rem) / 2);
          opacity: 0;
          visibility: hidden;
        }
        &:hover {
          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
        &.active {
          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      @include breakpoint(max, 992px) {
        flex: 0 0 100%;
        text-align: center;
      }
      @include breakpoint(max, 576px) {
        display: none;
      }
    }
  }
  .copyright {
    .mobile-logo {
      display: none;
    }
    text-align: center;
    color: rgba(240, 242, 248, 0.55);
    direction: ltr;
    margin-top: 5rem; /* 50px */
    font-weight: 300;
    @include breakpoint(max, 992px) {
      border-top: 0.1rem /* 1px */ solid
        rgba(255, 255, 255, 0.12156862745098039);
      padding-top: 1.9rem; /* 19px */
      margin-top: 0;
    }
  }
}
