@charset "UTF-8";
/*********Variable *********/
/********* Mixin *********/
/********* Normalize *********/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "YekanBakh", sans-serif;
  font-size: 17px;
  direction: rtl;
  color: #3f4373;
  padding: 0;
  overflow-x: hidden;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

p {
  line-height: 1.5;
}

[hidden] {
  display: none;
}

.container {
  max-width: 140rem;
  margin: auto;
  padding: 0 1.5rem;
}
.container:after {
  content: "";
  clear: both;
  display: table;
}
@media only screen and (min-width: 1200px) {
  .container-xl {
    max-width: 1140px;
  }
}

/********* Font families *********/
@font-face {
  font-family: "YekanBakh";
  src: url("../../../fonts/iGameYekanver38-Medium.woff2") format("woff2"), url("../../../fonts/iGameYekanver38-Medium.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "YekanBakh";
  src: url("../../../fonts/iGameYekanver38-Bold.woff2") format("woff2"), url("../../../fonts/iGameYekanver38-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "YekanBakh";
  src: url("../../../fonts/iGameYekanver38-Heavy.woff2") format("woff2"), url("../../../fonts/iGameYekanver38-Heavy.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "YekanBakhNum";
  src: url("../../../fonts/iGameNumbers-Heavy.woff2") format("woff2"), url("../../../fonts/iGameNumbers-Heavy.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/********* Animations *********/
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes floatXY {
  0% {
    transform: translate(0, 0px);
  }
  25% {
    transform: translate(6px, 5px);
  }
  50% {
    transform: translate(-5px, -7px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
/********* Components *********/
.white-btn {
  box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
  background: #fff;
  color: #252849;
  border-radius: 100px;
}

.white-btn-v2 {
  position: relative;
  background: #fff;
  color: #252849;
  padding: 21px 81px 22px 30px;
  border-radius: 100px;
  font-size: 22px;
  font-weight: 500;
  display: inline-block;
}
.white-btn-v2 svg {
  background: #f3303a;
  border-radius: 100px;
  stroke: #ffffff;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  padding: 16px;
  position: absolute;
  right: 13px;
  top: 9px;
}

.red-btn {
  background: #F3303A;
  color: #fff;
  box-shadow: 0 8px 27px 0 rgba(243, 48, 58, 0.23);
  border-radius: 100px;
  position: relative;
}
.red-btn svg {
  position: absolute;
  width: 10px;
  top: 21px;
  height: 10px;
  left: 24px;
}

.section-title h2 {
  font-weight: 600;
  padding-right: 35px;
  position: relative;
  font-size: 43px;
  color: #252849;
  margin: 60px 0 40px;
}
.section-title h2:after {
  display: block;
  position: absolute;
  content: "";
  width: 4px;
  height: 34px;
  background: #F3303A;
  border-radius: 2px;
  right: 0;
  top: 0;
  box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32);
}
@media only screen and (max-width: 768px) {
  .section-title h2:after {
    right: 13px;
    top: -7px;
  }
}
@media only screen and (max-width: 576px) {
  .section-title h2:after {
    width: 10px;
    height: 10px;
    border-radius: 12px;
    box-shadow: none;
    right: 18px;
    top: 2px;
  }
}
@media only screen and (max-width: 768px) {
  .section-title h2 {
    font-size: 33px;
  }
}
@media only screen and (max-width: 576px) {
  .section-title h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 40px 0 20px;
  }
}

.product-item {
  transition: all 0.5s;
  border-radius: 11px;
  width: 270px;
  display: inline-block;
  padding: 14px 0 25px 0;
}
.product-item .image-holder {
  transition: all 0.5s;
  position: relative;
  width: 200px;
  height: 270px;
  margin: auto;
}
.product-item .image-holder img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .product-item .image-holder {
    width: 200px;
    height: 270px;
  }
}
@media only screen and (max-width: 576px) {
  .product-item .image-holder {
    width: 120px;
    height: 160px;
    padding: 0;
  }
}
.product-item .image-holder .product-info {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(34, 39, 71, 0) 0%, #222747 60%);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
  align-items: flex-end;
  transition: all ease-in-out 0.5s;
  opacity: 0;
  visibility: hidden;
}
.product-item .image-holder .product-info .product-region, .product-item .image-holder .product-info .product-platform {
  padding: 8px 12px;
  text-align: center;
  height: 10px;
  border-radius: 14px;
  margin-bottom: 20px;
}
.product-item .image-holder .product-info .product-region {
  color: #ffffff;
  border: 2px solid #626475;
  font-size: 12px;
  font-weight: 700;
}
.product-item .image-holder .product-info .product-platform {
  font-size: 11px;
  text-transform: uppercase;
  margin-left: 10px;
  background: #ffffff;
  font-weight: 700;
}
.product-item .image-holder .product-info .product-platform img {
  width: 15px;
  height: 15px;
  margin-right: 2px;
  margin-top: -2px;
  vertical-align: middle;
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  .product-item .image-holder .product-info {
    visibility: visible;
    opacity: 1;
  }
}
@media only screen and (max-width: 576px) {
  .product-item .image-holder .product-info {
    display: none;
  }
}
.product-item .image-holder .special-tag {
  position: absolute;
  left: -20px;
  top: -10px;
  background: #f3303a;
  border-radius: 100px;
  display: flex;
  padding: 8px 10px;
  font-size: 14px;
  color: #ffffff;
}
.product-item .image-holder .special-tag svg {
  width: 11px;
  margin-left: 4px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .product-item .image-holder .special-tag svg {
    height: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .product-item .image-holder .special-tag {
    padding: 6px 8px;
    font-size: 13px;
  }
}
.product-item .product-bottom {
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom {
    max-width: 120px;
  }
}
.product-item .product-bottom .product-title {
  font-weight: bold;
  font-size: 16px;
  color: #3f4373;
  margin-top: 25px;
  line-height: 1.5;
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom .product-title {
    font-weight: 400;
    font-size: 13px;
    margin-top: 12px;
  }
}
.product-item .product-bottom .product-card-price .original-price {
  font-family: "YekanBakhNum";
  color: rgba(63, 67, 115, 0.8);
  font-size: 16px;
  text-decoration: line-through;
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom .product-card-price .original-price {
    display: none;
  }
}
.product-item .product-bottom .product-card-price .sale-range {
  transition: all 0.5s;
  font-family: "YekanBakhNum";
  display: inline-block;
  font-size: 12px;
  color: #ffffff;
  padding: 5px 5px 3px 5px;
  background: #f3303a;
  border-radius: 10px;
  border: 2px solid transparent;
  margin-left: 5px;
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom .product-card-price .sale-range {
    font-size: 11px;
    padding: 2px 2px 1px 2px;
  }
}
.product-item .product-bottom .product-card-price .sale-price {
  display: block;
  font-family: "YekanBakhNum";
  font-size: 25px;
  color: #3f4373;
  position: relative;
  padding-left: 40px;
}
.product-item .product-bottom .product-card-price .sale-price:before {
  font-weight: bold;
  font-family: "YekanBakh" !important;
  display: block;
  position: absolute;
  content: "تومان";
  font-size: 14px;
  color: rgba(63, 67, 115, 0.8);
  left: 0;
  bottom: 5px;
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom .product-card-price .sale-price:before {
    font-weight: 400;
    font-size: 11px;
    left: 15px;
    bottom: 4px;
  }
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom .product-card-price .sale-price {
    font-size: 14px;
  }
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom .product-card-price {
    display: flex;
  }
}
.product-item .product-bottom .add-to-basket {
  width: 48px;
  height: 48px;
  font-size: 28px;
  line-height: 1.8;
  font-weight: bold;
  transition: all 0.5s;
  border-radius: 100px;
  text-align: center;
  border: 2px solid #dfe1f4;
}
.product-item .product-bottom .add-to-basket svg {
  stroke: #252849;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  transition: all 0.5s;
}
@media only screen and (max-width: 576px) {
  .product-item .product-bottom .add-to-basket {
    display: none;
  }
}
.product-item:hover {
  background: #ffffff;
  box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
}
@media only screen and (min-width: 768px) {
  .product-item:hover .image-holder {
    width: 240px;
    height: 320px;
  }
  .product-item:hover .image-holder .product-info {
    visibility: visible;
    opacity: 1;
  }
}
.product-item:hover .product-bottom .sale-range {
  color: #f3303a;
  background: #ffffff;
  border-color: #f3303a;
}
.product-item:hover .product-bottom .add-to-basket {
  border-color: #f3303a;
  background: #f3303a;
  box-shadow: 0 5px 15px 0 rgba(243, 48, 58, 0.5), 0 5px 12px 0 rgba(243, 48, 58, 0.61), 0 4px 7px 0 rgba(243, 48, 58, 0.32);
}
.product-item:hover .product-bottom .add-to-basket svg {
  stroke: #ffffff;
}
@media only screen and (max-width: 768px) {
  .product-item {
    background: #ffffff;
    margin: 0 10px;
    box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
    width: 243px;
    display: inline-block;
    padding: 18px 0 19px 0;
  }
}
@media only screen and (max-width: 576px) {
  .product-item {
    width: 120px;
    height: 255px;
    padding: 15px;
    box-shadow: none;
    border-radius: 5px;
  }
}

.step-item {
  text-align: center;
  position: relative;
  border-radius: 10px;
  transition: all 0.5s;
  min-height: 250px;
  max-width: 530px;
  padding: 50px 0 0;
}
.step-item .icon {
  width: 58px;
  height: 57px;
  border-radius: 100px;
  background: #ffffff;
  display: inline-block;
  box-shadow: 0px 1px 1px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.21);
  transition: all 0.5s;
}
.step-item .icon svg {
  width: 26px;
  height: 26px;
  fill: #3f4373;
  opacity: 0.8;
  position: relative;
  top: 14px;
  transition: all 0.3s;
}
.step-item .title {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 12px;
}
.step-item .description {
  opacity: 0.8;
  max-width: 470px;
  font-weight: 300;
  margin: 0 auto;
}
.step-item:after {
  content: attr(data-step);
  position: absolute;
  right: 21px;
  background: #252849;
  border-radius: 100px;
  color: #ffffff;
  top: 21px;
  width: 28px;
  height: 23px;
  padding-top: 5px;
  font-family: "YekanBakhNum";
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.step-item:hover {
  background: #ffffff;
  box-shadow: 0 9px 46px 0 rgba(170, 188, 212, 0.31), 1px 1px 4px 0 rgba(170, 188, 212, 0.21), 19px 6px 20px 0 rgba(170, 188, 212, 0.18);
}
.step-item:hover:after {
  opacity: 1;
  visibility: visible;
}
.step-item:hover .icon {
  background: #f3303a;
  box-shadow: 3px 4px 14px 0 rgba(243, 48, 58, 0.28);
}
.step-item:hover .icon svg {
  fill: #ffffff;
}
@media only screen and (max-width: 768px) {
  .step-item {
    box-shadow: 0 9px 20px 0 rgba(170, 188, 212, 0.29), 0 2px 1px 0 rgba(170, 188, 212, 0.21);
    background: #fff;
    padding: 30px 0 0;
  }
}

.filter-card ul {
  list-style: none;
  padding-right: 0;
  display: inline-block;
}
@media only screen and (max-width: 576px) {
  .filter-card ul {
    margin-bottom: 0;
  }
}
.filter-card ul li {
  display: inline-block;
  font-size: 13px;
  box-shadow: 0px 2px 2px 0 rgba(170, 188, 212, 0.31), 0 2px 5px 0 rgba(170, 188, 212, 0.12);
  background: #fff;
  padding: 10px 20px;
  border-radius: 100px;
  margin-left: 7px;
}
@media only screen and (max-width: 576px) {
  .filter-card ul li {
    font-size: 12px;
    box-shadow: none;
  }
}

.holder-services {
  position: relative;
  width: 460px;
  z-index: 2;
}
.holder-services .service-items {
  position: absolute;
  border-radius: 30px;
}
@media only screen and (max-width: 992px) {
  .holder-services .service-items {
    position: relative;
    top: initial !important;
    left: initial !important;
    right: initial !important;
    bottom: initial !important;
  }
}
.holder-services .service-items .service-wrap {
  transition: all 1s;
  border-radius: 30px;
  border: 2px solid #7066a2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #ffffff;
  z-index: 1;
  padding: 5px;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.holder-services .service-items .service-wrap:after {
  position: absolute;
  bottom: 0px;
  left: 46%;
  transform: translateX(-50%);
  content: "+";
  width: 35px;
  height: 24px;
  border-radius: 100px;
  border: 2px solid #b0b4ce;
  text-align: center;
  padding: 2px 0 0;
  transition: all 0.3s;
  font-size: 21px;
  visibility: hidden;
  opacity: 0;
}
@media only screen and (max-width: 992px) {
  .holder-services .service-items .service-wrap:after {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .holder-services .service-items .service-wrap {
    border-radius: 12px;
    font-size: 14px;
  }
}
.holder-services .service-items:before {
  position: absolute;
  display: block;
  content: "";
  width: 200%;
  height: 200%;
  top: -35%;
  left: -50%;
  background: url("../img/bg-blur.png") center/cover no-repeat;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}
@media only screen and (max-width: 992px) {
  .holder-services .service-items:before {
    display: none;
  }
}
.holder-services .service-items span {
  transition: all 1s;
  color: #858db1;
  margin: 8px 0 10px 0;
  font-size: 14px;
  font-weight: 300;
}
.holder-services .service-items img {
  object-fit: contain;
  width: 110px;
  height: 50px;
  margin-top: -21px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .holder-services .service-items img {
    width: 50px;
    height: auto;
  }
}
.holder-services .service-items img.color {
  display: none;
}
.holder-services .service-items img.white {
  display: block;
}
.holder-services .service-items.small {
  width: 160px;
  height: 160px;
}
@media only screen and (max-width: 992px) {
  .holder-services .service-items.small {
    width: 130px;
    height: 130px;
  }
}
.holder-services .service-items.medium {
  width: 187px;
  height: 187px;
}
@media only screen and (max-width: 992px) {
  .holder-services .service-items.medium {
    width: 130px;
    height: 130px;
  }
}
.holder-services .service-items.large {
  width: 230px;
  height: 230px;
}
@media only screen and (max-width: 992px) {
  .holder-services .service-items.large {
    width: 130px;
    height: 130px;
  }
}
.holder-services .service-items.box1 {
  top: 260px;
  left: 14px;
}
.holder-services .service-items.box2 {
  top: 230px;
  right: -15px;
}
.holder-services .service-items.box3 {
  top: 54px;
  left: 66px;
}
.holder-services .service-items.box4 {
  top: 0;
  right: 0;
}
.holder-services .service-items:hover .service-wrap {
  background-color: #2d335a;
  border-color: #2d335a;
}
.holder-services .service-items.active .service-wrap {
  background: #fff;
  color: #3f4373;
  border-color: #fff;
}
.holder-services .service-items.active .service-wrap:after {
  visibility: visible;
  opacity: 1;
  color: #3f4373;
}
.holder-services .service-items.active span {
  color: #858db1;
}
.holder-services .service-items.active:before {
  opacity: 1;
  visibility: visible;
}
.holder-services .service-items.active img.color {
  display: block;
}
.holder-services .service-items.active img.white {
  display: none;
}

.game-item {
  position: relative;
  width: 400px;
  height: 265px;
  border-radius: 10px;
  display: inline-block;
}
.game-item .img {
  background-size: 100%;
  height: 100%;
  border-radius: 11px;
  width: 100%;
}
.game-item .favorite {
  position: absolute;
  left: 23px;
  width: 18px;
  height: 18px;
  bottom: 21px;
}
.game-item .title {
  position: relative;
  top: -94px;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  right: 84px;
}
.game-item .title:before {
  content: "بازی برتر";
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.52);
  font-weight: 300;
  font-size: 15px;
  bottom: 4px;
}
.game-item:before {
  content: "";
  width: 100%;
  height: 170px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(34, 39, 71, 0) 0%, #f3303a 90%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.game-item:after {
  position: absolute;
  bottom: 21px;
  right: 16px;
  content: attr(data-num);
  border-radius: 100px;
  border: 3px solid #ffffff;
  font-family: "YekanBakhNum";
  color: #ffffff;
  font-size: 27px;
  width: 45px;
  height: 38px;
  text-align: center;
  padding-top: 6px;
}

:root {
  font-size: 10px;
}
@media (-webkit-min-device-pixel-ratio: 1.25) {
  :root {
    font-size: 8.3333333333px;
  }
}

@font-face {
  font-family: "YekanBakh";
  src: url("../../../fonts/YekanBakh/YekanBakh-Medium.woff2") format("woff2"), url("../../../fonts/YekanBakh/YekanBakh-Medium.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "YekanBakh";
  src: url("../../../fonts/YekanBakh/YekanBakh-Bold.woff2") format("woff2"), url("../../../fonts/YekanBakh/YekanBakh-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "YekanBakh";
  src: url("../../../fonts/YekanBakh/YekanBakh-Heavy.woff2") format("woff2"), url("../../../fonts/YekanBakh/YekanBakh-Heavy.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "YekanBakhNum";
  src: url("../../../fonts/iGameNumbers-Heavy.woff2") format("woff2"), url("../../../fonts/YekanBakh/iGameNumbers-Heavy.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circular";
  src: url("../../../fonts/Circular/Circular-Reg.woff2") format("woff2"), url("../../../fonts/Circular/Circular-Reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circular";
  src: url("../../../fonts/Circular/Circular-Bold.woff2") format("woff2"), url("../../../fonts/Circular/Circular-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.btn {
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
}

.btn.revert svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.btn--red {
  background: #f3303a;
  color: #fff;
  -webkit-box-shadow: 0 8px 27px 0 rgba(243, 48, 58, 0.23);
  box-shadow: 0 8px 27px 0 rgba(243, 48, 58, 0.23);
}

.btn--red svg {
  stroke: #fff;
}

.btn--red:focus,
.btn--red:hover {
  color: #fff;
}

.btn--dark {
  background: #25294a;
  color: #fff;
}

.btn--dark svg {
  stroke: #fff;
}

.btn--dark:focus,
.btn--dark:hover {
  color: #fff;
}

.btn--white {
  background: #fff;
  color: rgba(63, 67, 115, 0.8);
}

.btn--white svg {
  stroke: rgba(63, 67, 115, 0.6);
}

.btn--white:focus,
.btn--white:hover {
  color: rgba(63, 67, 115, 0.8);
}

.btn--transparent {
  background: transparent;
  border: 1px solid #dfe1f4;
  color: #25294a;
}

.btn--transparent svg {
  stroke: rgba(63, 67, 115, 0.6);
}

#ordModal .btn--transparent svg {
  stroke: #fff;
}

.orderModalContent .btn--transparent {
  color: #fff;
}

.btn--transparent:focus,
.btn--transparent:hover {
  color: #25294a;
}

.orderModalContent .btn--transparent:focus,
.orderModalContent .btn--transparent:hover {
  color: #fff;
}

.btn-silver {
  background: #d3d4da;
  color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(168, 192, 226, 0.27), 0 2px 5px 0 rgba(168, 192, 226, 0.19);
  box-shadow: 0 1px 2px 0 rgba(168, 192, 226, 0.27), 0 2px 5px 0 rgba(168, 192, 226, 0.19);
}

.btn-silver.active {
  background: #25294a;
}

.btn-silver svg {
  stroke: #fff;
}

.btn--icon {
  -webkit-border-radius: 45px;
  border-radius: 45px;
  text-align: center;
}

.btn--icon svg {
  width: 20px;
  height: 20px;
}

.btn--small {
  padding: 1.5rem 3.5rem;
}

.btn--small svg {
  width: 7px;
  height: 11px;
  top: -webkit-calc((100% - 1.1rem)/2);
  top: calc((100% - 1.1rem) / 2);
}

.btn--large {
  padding: 1.8rem 3rem;
  font-size: 2rem;
  font-weight: 500;
}

.btn--large svg {
  width: 10px;
  height: 14px;
  top: -webkit-calc((100% - 1.4rem)/2);
  top: calc((100% - 1.4rem) / 2);
}

.btn--circle {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.btn--circle svg {
  stroke: #25294a;
}

.btn--text--right {
  padding-left: 7.5rem;
}

.btn--text--right svg {
  position: absolute;
  left: 30px;
}

.btn--text--left {
  padding-right: 7.5rem;
}

.btn--text--left svg {
  position: absolute;
  right: 3rem;
}

.product-card {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  border-radius: 1rem;
  /* 11px */
  display: block;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*TYPES*/
}
.product-card .image-holder {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  position: relative;
  width: 100%;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}
.product-card .image-holder img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.product-card .hole {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  position: absolute;
  width: 4.5rem;
  /* 45px */
  height: 1rem;
  /* 10px */
  border-radius: 0.5rem;
  /* 5px */
  background: #fff;
  top: 2.2rem;
  /* 22px */
  z-index: 1;
  left: -moz-calc((100% - 4.5rem)/2);
  left: -webkit-calc((100% - 4.5rem)/2);
  left: calc((100% - 4.5rem)/2);
}
@media only screen and (max-width: 870px) {
  .product-card .hole {
    top: 1rem;
    /* 10px */
    width: 3.5rem;
    /* 35px */
    height: 0.7rem;
    /* 7px */
    left: -moz-calc((100% - 3.5rem)/2);
    left: -webkit-calc((100% - 3.5rem)/2);
    left: calc((100% - 3.5rem)/2);
  }
}
.product-card .hole:after {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  display: block;
  position: absolute;
  content: "";
  width: 1.2rem;
  /* 12px */
  height: 1.2rem;
  /* 12px */
  border-radius: 50%;
  background: #fff;
  top: -0.6rem;
  /* -6px */
  left: -moz-calc((100% - 1.2rem)/2);
  left: -webkit-calc((100% - 1.2rem)/2);
  left: calc((100% - 1.2rem)/2);
}
.product-card .product-title {
  font-weight: 500;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.3;
  direction: rtl;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: right;
  white-space: initial;
  display: -webkit-box;
  font-size: 1.6rem;
}
@media only screen and (max-width: 1250px) {
  .product-card .product-title {
    font-size: 1.5rem;
    margin-top: 2rem;
    /* 20px */
  }
}
@media only screen and (max-width: 1100px) {
  .product-card .product-title {
    font-size: 1.4rem;
    margin-top: 1.5rem;
    /* 15px */
  }
}
@media only screen and (max-width: 991px) {
  .product-card .product-title {
    font-size: 1.3rem;
    margin-top: 1rem;
  }
}
.product-card .product-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* position: absolute; */
  /* width: 100%; */
  left: 0;
  bottom: 0;
  padding-bottom: 2rem;
  font-size: 13px;
}
@media only screen and (max-width: 1480px) {
  .product-card .product-bottom {
    padding-bottom: 1.5rem;
  }
}
.product-card .product-title,
.product-card .product-bottom {
  padding-left: 2rem;
  padding-right: 2rem;
}
@media only screen and (max-width: 1480px) {
  .product-card .product-title,
.product-card .product-bottom {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media only screen and (max-width: 991px) {
  .product-card .product-title,
.product-card .product-bottom {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 991px) {
  .product-card .product-card-price {
    font-size: 1.2rem;
  }
}
.product-card .product-card-price .sale-price {
  font-family: "YekanBakhNum";
  font-weight: 600;
  font-size: 2.5rem;
  position: relative;
  padding-left: 3.3rem;
  display: block;
}
@media only screen and (max-width: 1480px) {
  .product-card .product-card-price .sale-price {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 991px) {
  .product-card .product-card-price .sale-price {
    font-size: 2rem;
    padding-left: 2.5rem;
  }
}
@media only screen and (max-width: 500px) {
  .product-card .product-card-price .sale-price {
    font-size: 1.5rem;
  }
}
.product-card .product-card-price .sale-price:before {
  font-weight: 500;
  font-family: "YekanBakh" !important;
  display: block;
  position: absolute;
  content: "تومان";
  font-size: 1.4rem;
  left: 0;
  bottom: 0.3rem;
}
@media only screen and (max-width: 991px) {
  .product-card .product-card-price .sale-price:before {
    font-size: 1.1rem;
    bottom: 0;
  }
}
@media only screen and (max-width: 500px) {
  .product-card .product-card-price .sale-price:before {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 768px) {
  .product-card .product-card-price-from .sale-price {
    margin-right: 1rem;
    /* 10px */
  }
}
.product-card .add-to-cart {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  width: 4.8rem;
  /* 48px */
  height: 4.8rem;
  /* 48px */
  position: relative;
}
@media only screen and (max-width: 1480px) {
  .product-card .add-to-cart {
    width: 4rem;
    /* 40px */
    height: 4rem;
    /* 40px */
  }
}
@media only screen and (max-width: 991px) {
  .product-card .add-to-cart {
    width: 3rem;
    height: 3rem;
  }
}
.product-card .add-to-cart svg {
  position: absolute;
  width: 1.3rem;
  /* 13px */
  height: 1.3rem;
  /* 13px */
  top: -moz-calc((100% - 1.3rem)/2);
  top: -webkit-calc((100% - 1.3rem)/2);
  top: calc((100% - 1.3rem)/2);
  left: -moz-calc((100% - 1.3rem)/2);
  left: -webkit-calc((100% - 1.3rem)/2);
  left: calc((100% - 1.3rem)/2);
}
@media only screen and (max-width: 991px) {
  .product-card .add-to-cart svg {
    width: 1rem;
    height: 1rem;
    top: -moz-calc((100% - 1rem)/2);
    top: -webkit-calc((100% - 1rem)/2);
    top: calc((100% - 1rem)/2);
    left: -moz-calc((100% - 1rem)/2);
    left: -webkit-calc((100% - 1rem)/2);
    left: calc((100% - 1rem)/2);
  }
}
.product-card.white {
  background: #fff;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(168, 192, 226, 0.35);
}
.product-card.white .product-card-price .original-price {
  color: rgba(63, 67, 115, 0.8);
}
.product-card.white .product-card-price .sale-range {
  color: #f3303a;
  border-color: #f3303a;
}
.product-card.white .product-card-price .sale-price {
  color: #3f4373;
}
.product-card.white .product-card-price .sale-price:before {
  color: rgba(63, 67, 115, 0.8);
}
.product-card.white .product-title {
  color: #3f4373;
}
.product-card.white .add-to-cart {
  border-color: #cacdea;
  background: transparent;
  border-width: 0.2rem;
  /* 2px */
}
.product-card.white .add-to-cart svg {
  stroke: #3f4373;
}
.product-card.transparent-dark {
  background: transparent;
}
.product-card.transparent-dark .product-card-price .original-price {
  color: rgba(255, 255, 255, 0.8);
}
.product-card.transparent-dark .product-card-price .sale-range {
  color: #f3303a;
  border-color: #f3303a;
}
.product-card.transparent-dark .product-card-price .sale-price {
  color: #fff;
}
.product-card.transparent-dark .product-card-price .sale-price:before {
  color: rgba(255, 255, 255, 0.8);
}
.product-card.transparent-dark .product-title {
  color: #fff;
}
.product-card.transparent-dark .add-to-cart {
  border-color: #a7aac7;
  background: transparent;
  border-width: 0.2rem;
  /* 2px */
}
.product-card.transparent-dark .add-to-cart svg {
  stroke: #fff;
}
.product-card.transparent-white {
  background: transparent;
}
.product-card.transparent-white .product-card-price .original-price {
  color: rgba(63, 67, 115, 0.8);
}
.product-card.transparent-white .product-card-price .sale-range {
  color: #f3303a;
  border-color: #f3303a;
}
.product-card.transparent-white .product-card-price .sale-price {
  color: #3f4373;
}
.product-card.transparent-white .product-card-price .sale-price:before {
  color: rgba(63, 67, 115, 0.8);
}
.product-card.transparent-white .product-title {
  color: #3f4373;
}
.product-card.transparent-white .add-to-cart {
  border-color: #a7aac7;
  background: transparent;
  border-width: 0.2rem;
  /* 2px */
}
.product-card.transparent-white .add-to-cart svg {
  stroke: #3f4373;
}
.product-card.hover-dark:hover {
  background: #25294a;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(168, 192, 226, 0.35);
}
.product-card.hover-dark:hover .product-card-price {
  color: rgba(255, 255, 255, 0.5);
}
.product-card.hover-dark:hover .product-card-price .original-price {
  color: rgba(255, 255, 255, 0.8);
}
.product-card.hover-dark:hover .product-card-price .sale-range {
  color: #fff;
  background: transparent;
  border-color: #f3303a;
}
.product-card.hover-dark:hover .product-card-price .sale-price {
  color: #fff;
}
.product-card.hover-dark:hover .product-card-price .sale-price:before {
  color: rgba(255, 255, 255, 0.8);
}
.product-card.hover-dark:hover .product-title {
  color: #fff;
}
.product-card.hover-dark:hover .add-to-cart {
  border-color: #f3303a;
  background: #f3303a;
  box-shadow: 0 0.8rem 2.7rem 0 rgba(243, 48, 58, 0.23);
}
.product-card.hover-dark:hover .add-to-cart svg {
  stroke: #fff;
}
.product-card.hover-light:hover {
  background: #fff;
  box-shadow: 0 5.7rem 4.6rem 0 rgba(208, 213, 251, 0.22), 0 0.2rem 0.5rem 0 rgba(168, 192, 226, 0.21);
}
.product-card.hover-light:hover .product-card-price .original-price {
  color: rgba(63, 67, 115, 0.8);
}
.product-card.hover-light:hover .product-card-price .sale-range {
  color: #f3303a;
  background: transparent;
  border-color: #f3303a;
}
.product-card.hover-light:hover .product-card-price .sale-price {
  color: #3f4373;
}
.product-card.hover-light:hover .product-card-price .sale-price:before {
  color: rgba(63, 67, 115, 0.8);
}
.product-card.hover-light:hover .product-title {
  color: #3f4373;
}
.product-card.hover-light:hover .add-to-cart {
  border-color: #f3303a;
  background: #f3303a;
  box-shadow: 0 0.8rem 2.7rem 0 rgba(243, 48, 58, 0.23);
}
.product-card.hover-light:hover .add-to-cart svg {
  stroke: #fff;
}
.product-card.hover-up:hover {
  transform: translateY(-10px);
}
@media only screen and (max-width: 500px) {
  .product-card.hover-up:hover {
    transform: unset;
  }
}
.product-card.small-size {
  width: 24rem;
  /* 270px */
  height: 39rem;
  /* 410px */
}
@media only screen and (max-width: 1250px) {
  .product-card.small-size {
    width: 23rem;
    /* 230px */
    height: 36rem;
    /* 360px */
  }
}
@media only screen and (max-width: 1100px) {
  .product-card.small-size {
    width: 20rem;
    /* 210px */
    height: 32rem;
    /* 340px */
  }
}
@media only screen and (max-width: 991px) {
  .product-card.small-size {
    width: 17rem;
    /* 160px */
    height: 27rem;
    /* 245px */
  }
}
.product-card.small-size .image-holder {
  height: 23.6rem;
  /* 216px */
}
@media only screen and (max-width: 1250px) {
  .product-card.small-size .image-holder {
    height: 21rem;
    /* 180px */
  }
}
@media only screen and (max-width: 1100px) {
  .product-card.small-size .image-holder {
    height: 19rem;
    /* 170px */
  }
}
@media only screen and (max-width: 991px) {
  .product-card.small-size .image-holder {
    height: 16rem;
    /* 140px */
  }
}
.product-card.small-size .product-card-price {
  padding: 0;
}
.product-card.normal-size {
  width: 23rem;
  height: 44.5rem;
}
@media only screen and (max-width: 1480px) {
  .product-card.normal-size {
    width: 21rem;
    height: 41.5rem;
  }
}
@media only screen and (max-width: 1130px) {
  .product-card.normal-size {
    width: 18rem;
    height: 37rem;
  }
}
@media only screen and (max-width: 991px) {
  .product-card.normal-size {
    height: 31.5rem;
    width: 17rem;
  }
}
@media only screen and (max-width: 500px) {
  .product-card.normal-size {
    height: 30rem;
  }
}
.product-card.normal-size .image-holder {
  height: 29.5rem;
}
@media only screen and (max-width: 1480px) {
  .product-card.normal-size .image-holder {
    height: 27.5rem;
  }
}
@media only screen and (max-width: 1130px) {
  .product-card.normal-size .image-holder {
    height: 24.5rem;
  }
}
@media only screen and (max-width: 991px) {
  .product-card.normal-size .image-holder {
    height: 20rem;
  }
}
.product-card.normal-size .product-card-price {
  padding: 0;
}
.product-card.larg-size {
  width: 46rem;
  height: 44.5rem;
}
@media only screen and (max-width: 1480px) {
  .product-card.larg-size {
    width: 42rem;
    height: 41.5rem;
  }
}
@media only screen and (max-width: 1130px) {
  .product-card.larg-size {
    width: 36rem;
    height: 37rem;
  }
}
@media only screen and (max-width: 991px) {
  .product-card.larg-size {
    width: 34rem;
    height: 31.5rem;
  }
}
@media only screen and (max-width: 500px) {
  .product-card.larg-size {
    height: 30rem;
  }
}
.product-card.larg-size .image-holder {
  height: 29.5rem;
}
@media only screen and (max-width: 1480px) {
  .product-card.larg-size .image-holder {
    height: 27.5rem;
  }
}
@media only screen and (max-width: 1130px) {
  .product-card.larg-size .image-holder {
    height: 24.5rem;
  }
}
@media only screen and (max-width: 991px) {
  .product-card.larg-size .image-holder {
    height: 20rem;
  }
}
.product-card.larg-size .image-holder img {
  display: none;
}
@media only screen and (max-width: 500px) {
  .product-card.larg-size .image-holder img {
    display: block;
  }
}
.product-card.larg-size .image-holder img.large-image {
  display: block;
}
@media only screen and (max-width: 500px) {
  .product-card.larg-size .image-holder img.large-image {
    display: none;
  }
}
.product-card.larg-size .image-holder .special-tag {
  top: 0.5rem;
  left: 0.5rem;
}
.product-card.medium-size {
  padding: 2.5rem 3rem;
  width: 27rem;
  /* 270px */
  height: 48.7rem;
  /* 487px */
}
@media only screen and (max-width: 1200px) {
  .product-card.medium-size {
    padding: 2.5rem;
    width: 23rem;
    /* 230px */
    height: 43rem;
    /* 430px */
  }
}
@media only screen and (max-width: 991px) {
  .product-card.medium-size {
    padding: 1.5rem;
    width: 22rem;
    /* 220px */
    height: 38.5rem;
    /* 385px */
  }
}
@media only screen and (max-width: 870px) {
  .product-card.medium-size {
    padding: 1.5rem;
    width: 16.5rem;
    /* 165px */
    height: 27.5rem;
    /* 275px */
    border-radius: 0.5rem;
    /* 5px */
  }
}
.product-card.medium-size .image-holder {
  width: 21.4rem;
  /* 214px */
  height: 31.4rem;
  /* 314px */
}
@media only screen and (max-width: 1200px) {
  .product-card.medium-size .image-holder {
    width: 17.4rem;
    /* 174px */
    height: 26.4rem;
    /* 264px */
  }
}
@media only screen and (max-width: 991px) {
  .product-card.medium-size .image-holder {
    width: 17rem;
    /* 170px */
    height: 23.5rem;
    /* 235px */
  }
}
@media only screen and (max-width: 870px) {
  .product-card.medium-size .image-holder {
    width: 13rem;
    /* 130px */
    height: 16.5rem;
    /* 165px */
    border-radius: 0.5rem;
    /* 5px */
  }
}
.product-card.medium-size .product-card-price {
  padding: 0;
}
.product-card.middle-size {
  width: 27rem;
  /* 270px */
  height: 47.5rem;
  /* 475px */
  padding: 2.5rem 3.5rem 10rem 3.5rem;
}
@media only screen and (max-width: 1480px) {
  .product-card.middle-size {
    padding: 2rem 2rem 8rem 2rem;
    width: 23rem;
    /* 230px */
    height: 41.5rem;
    /* 415px */
  }
}
@media only screen and (max-width: 1250px) {
  .product-card.middle-size {
    padding: 1.5rem 1.5rem 6rem 1.5rem;
    width: 20rem;
    /* 200px */
    height: 38.5rem;
    /* 385px */
  }
}
@media only screen and (max-width: 1100px) {
  .product-card.middle-size {
    width: 19rem;
    /* 190px */
    height: 36.5rem;
    /* 365px */
  }
}
@media only screen and (max-width: 870px) {
  .product-card.middle-size {
    padding: 1rem 1rem 4rem 1rem;
    width: 15rem;
    /* 150px */
    height: 28.5rem;
    /* 285px */
    border-radius: 0.5rem;
    /* 5px */
  }
}
.product-card.middle-size .image-holder {
  height: 27rem;
  /* 270px */
}
@media only screen and (max-width: 1480px) {
  .product-card.middle-size .image-holder {
    height: 23.5rem;
    /* 235px */
  }
}
@media only screen and (max-width: 1250px) {
  .product-card.middle-size .image-holder {
    height: 22.5rem;
    /* 225px */
  }
}
@media only screen and (max-width: 870px) {
  .product-card.middle-size .image-holder {
    height: 18.5rem;
    /* 185px */
  }
}
.product-card.middle-size .product-card-price {
  padding: 0;
}

#header {
  position: relative;
  background: url("../img/ps4-hero-bg.png"), linear-gradient(#202542, #202542);
  background-position: right top;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
}
@media only screen and (max-width: 1200px) {
  #header {
    overflow: hidden;
  }
}
#header .nav .logo {
  width: 12.5rem;
  /* 125px */
  height: 3.1rem;
  /* 31px */
  float: right;
  margin-top: 5rem;
  /* 50px */
}
@media only screen and (max-width: 576px) {
  #header .nav .logo {
    width: 11rem;
    /* 110px */
    height: 2.4rem;
    /* 24px */
    margin-top: 3rem;
    /* 30px */
  }
}
#header .nav .white-btn {
  margin-top: 4rem;
  /* 40px */
  float: left;
  padding: 1.4rem 3.6rem;
  /* 14px 36px */
  font-size: 1.7rem;
  /* 17px */
  z-index: 1;
  position: relative;
}
@media only screen and (max-width: 575px) {
  #header .nav .white-btn {
    font-size: 1.5rem;
    /* 15px */
    margin-top: 2.2rem;
    /* 22px */
  }
}
@media only screen and (max-width: 380px) {
  #header .nav .white-btn {
    padding: 1.2rem 2.2rem;
    /* 12px 22px */
  }
}
@media only screen and (max-width: 1410px) {
  #header .nav {
    max-width: 107rem;
    /* 1070px */
    margin: 0 auto;
    padding: 0 5.7rem;
    /* 57px */
  }
}
@media only screen and (max-width: 576px) {
  #header .nav {
    padding: 0 3rem;
    /* 30px */
  }
}
#header .hero {
  display: flex;
}
@media only screen and (max-width: 1410px) {
  #header .hero {
    overflow: hidden;
  }
}
@media only screen and (max-width: 1200px) {
  #header .hero {
    flex-wrap: wrap;
  }
}
#header .hero .services {
  position: relative;
}
#header .hero .services .circles {
  position: absolute;
  top: 5.9rem;
  /* 59px */
  animation: rotate 25s linear infinite;
  left: -5rem;
  /* -50px */
  pointer-events: none;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 1570px) {
  #header .hero .services .circles {
    left: 1rem;
    /* 10px */
  }
}
#header .hero .services .gradient-circle {
  position: absolute;
  top: 14.3rem;
  /* 143px */
  right: 16.7rem;
  /* 167px */
  animation: float 4s linear infinite;
}
@media only screen and (max-width: 1410px) {
  #header .hero .services .gradient-circle {
    top: 12.4rem;
    /* 124px */
    right: 8.4rem;
    /* 84px */
  }
}
#header .hero .services .gradient-rectangle {
  position: absolute;
  bottom: 11.8rem;
  /* 118px */
  left: -6.1rem;
  /* -61px */
  animation: float 3s linear infinite;
}
@media only screen and (max-width: 1410px) {
  #header .hero .services .gradient-rectangle {
    bottom: 5.9rem;
    /* 59px */
    left: 0.9rem;
    /* 9px */
  }
}
#header .hero .services .gamepad {
  position: relative;
  right: 10.8rem;
  /* 108px */
  top: 8.7rem;
  /* 137px */
  width: 95%;
}
@media only screen and (max-width: 1410px) {
  #header .hero .services .gamepad {
    right: 4.1rem;
    /* 41px */
  }
}
@media only screen and (max-width: 1200px) {
  #header .hero .services {
    position: absolute;
    left: -15.6rem;
    /* -156px */
    bottom: 4.7rem;
    /* 47px */
    transform: rotate(45deg) scale(0.8);
  }
}
@media only screen and (max-width: 992px) {
  #header .hero .services {
    bottom: -10rem;
    /* -100px */
    transform: rotate(15deg) scale(0.8);
  }
}
@media only screen and (max-width: 768px) {
  #header .hero .services {
    display: none;
  }
}
#header .hero .intro {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 53.3rem;
  /* 533px */
  margin: 12.5rem 20rem 19rem 0;
  /* 125px 200px 190px */
}
@media only screen and (max-width: 1570px) {
  #header .hero .intro {
    margin: 12.5rem 9rem 19rem 0;
    /* 125px 90px 190px */
  }
}
@media only screen and (max-width: 768px) {
  #header .hero .intro {
    margin: 7rem 9rem 10rem 4rem;
    /* 70px 90px 100px 40px */
  }
}
@media only screen and (max-width: 576px) {
  #header .hero .intro {
    margin: 3.6rem auto 10.5rem;
    /* 36px 105px */
    text-align: center;
  }
}
#header .hero .intro .title {
  font-size: 4.8rem;
  /* 48px */
  font-weight: 500;
  color: #daddfb;
}
#header .hero .intro .title strong {
  font-weight: 600;
  color: #ffffff;
}
@media only screen and (max-width: 1570px) {
  #header .hero .intro .title {
    font-size: 4.1rem;
    /* 41px */
  }
}
@media only screen and (max-width: 1410px) {
  #header .hero .intro .title {
    font-size: 3.9rem;
    /* 39px */
  }
}
@media only screen and (max-width: 576px) {
  #header .hero .intro .title {
    font-size: 3rem;
    /* 30px */
    text-align: center;
    line-height: 4.7rem;
    /* 47px */
    padding: 0 2.8rem;
    /* 28px */
  }
}
@media only screen and (max-width: 380px) {
  #header .hero .intro .title {
    font-size: 2.3rem;
    /* 23px */
    line-height: 3.8rem;
    /* 38px */
  }
}
#header .hero .intro .description {
  position: relative;
  padding-right: 2.8rem;
  /* 28px */
  text-align: justify;
  opacity: 0.8;
  font-weight: 300;
  color: #b3b7d8;
}
#header .hero .intro .description:after {
  display: block;
  position: absolute;
  content: "";
  width: 0.4rem;
  /* 4px */
  height: 3.6rem;
  /* 36px */
  border-radius: 0.2rem;
  /* 2px */
  background: #f65164;
  box-shadow: 0 0.5rem 1.5rem 0 rgba(243, 48, 58, 0.5), 0 0.5rem 1.2rem 0 rgba(243, 48, 58, 0.61), 0 0.4rem 0.7rem 0 rgba(243, 48, 58, 0.32);
  top: 0.5rem;
  /* 5px */
  right: 0;
}
@media only screen and (max-width: 1410px) {
  #header .hero .intro .description {
    font-size: 1.6rem;
    /* 16px */
  }
}
@media only screen and (max-width: 576px) {
  #header .hero .intro .description {
    padding: 0 2.2rem;
    /* 22px */
    margin: 0 1.9rem;
    /* 19px */
    font-size: 1.5rem;
    /* 15px */
  }
}
#header .hero .intro .red-btn {
  padding: 1.7rem 3rem 1.7rem 7.7rem;
  /* 17px 30px 17px 77px */
  font-size: 1.8rem;
  /* 18px */
  margin-top: 0.6rem;
  /* 6px */
  float: left;
}
@media only screen and (max-width: 1410px) {
  #header .hero .intro .red-btn {
    padding: 1.7rem 3rem 1.7rem 6.7rem;
    /* 17px 30px 17px 67px */
    font-size: 1.6rem;
    /* 16px */
  }
}
@media only screen and (max-width: 576px) {
  #header .hero .intro .red-btn {
    float: initial;
    top: 4.4rem;
    /* 44px */
    font-size: 1.5rem;
    /* 15px */
    padding: 1.1rem 2.5rem 1.2rem 6.1rem;
    /* 11px 25px 12px 61px */
  }
}
@media only screen and (max-width: 576px) {
  #header .hero .intro .red-btn svg {
    top: 1.7rem;
    /* 17px */
  }
}
#header .hero .intro .gamepad {
  position: absolute;
  right: -16.5rem;
  /* -165px */
  bottom: -11.9rem;
  /* -119px */
  width: 38rem;
  /* 380px */
}
@media only screen and (max-width: 1200px) {
  #header .hero .intro .gamepad {
    transform: scale(0.7);
    bottom: -10.9rem;
    /* -109px */
  }
}
@media only screen and (max-width: 992px) {
  #header .hero .intro .gamepad {
    display: none;
  }
}

#footer {
  background: url("../img/cta-bg.png") no-repeat center -18rem, linear-gradient(#252849, #252849);
  color: rgba(255, 255, 255, 0.84);
  padding: 5rem 0 2rem 0;
  /* 50px 20px */
  position: relative;
  font-size: 1.3rem;
  /* 13px */
  font-weight: 300;
  overflow: hidden;
  background-size: contain;
  background-blend-mode: color-dodge;
}
@media only screen and (max-width: 992px) {
  #footer {
    background-position: center -10rem;
    /* -100px */
  }
}
@media only screen and (max-width: 768px) {
  #footer {
    background-position: center -4rem;
    /* -40px */
  }
}
#footer .cta {
  text-align: center;
  padding: 1rem 0 17.4rem 0;
  /* 10px 174px */
}
#footer .cta .title {
  font-size: 3rem;
  /* 30px */
  color: #fff;
}
@media only screen and (max-width: 576px) {
  #footer .cta .title {
    font-size: 2.2rem;
    /* 22px */
    line-height: 3.4rem;
    /* 34px */
  }
}
#footer .cta .description {
  font-size: 1.8rem;
  /* 18px */
  color: #8c90b1;
  margin-top: -1.6rem;
  /* -16px */
}
@media only screen and (max-width: 576px) {
  #footer .cta .description {
    font-size: 1.4rem;
    /* 14px */
    margin-top: -0.5rem;
    /* -5px */
  }
}
#footer .cta .white-btn-v2 {
  top: 4rem;
  /* 40px */
}
@media only screen and (max-width: 576px) {
  #footer .cta .white-btn-v2 {
    padding: 1.1rem 5.8rem 1.1rem 2.4rem;
    /* 11px 58px 11px 24px */
    font-size: 1.5rem;
    /* 15px */
  }
}
@media only screen and (max-width: 576px) {
  #footer .cta .white-btn-v2 svg {
    right: 0.4rem;
    /* 4px */
    top: 0.3rem;
    /* 3px */
    padding: 1.1rem;
    /* 11px */
    width: 1.2rem;
    /* 12px */
    height: 1.2rem;
    /* 12px */
  }
}
@media only screen and (max-width: 768px) {
  #footer .cta {
    padding: 1rem 3.2rem 10.4rem 3.4rem;
    /* 10px 32px 104px 34px */
  }
}
#footer .circle {
  pointer-events: none;
}
#footer .c1 {
  width: 7rem;
  /* 70px */
  height: 7rem;
  /* 70px */
  position: absolute;
  right: 16.5rem;
  /* 165px */
  bottom: -1rem;
  /* -10px */
  z-index: 1;
  animation: float 5s ease-in-out infinite;
}
@media only screen and (max-width: 800px) {
  #footer .c1 {
    display: none;
  }
}
#footer .c2 {
  width: 15rem;
  /* 150px */
  height: 15rem;
  /* 150px */
  position: absolute;
  left: 9rem;
  /* 90px */
  bottom: 15rem;
  /* 150px */
  z-index: 1;
  animation: float 6s ease-in-out infinite;
}
@media only screen and (max-width: 992px) {
  #footer .c2 {
    width: 10rem;
    /* 100px */
    height: 10rem;
    /* 100px */
  }
}
@media only screen and (max-width: 800px) {
  #footer .c2 {
    display: none;
  }
}
#footer .c3 {
  position: absolute;
  width: 3.5rem;
  /* 35px */
  height: 3.5rem;
  /* 35px */
  right: 12.5rem;
  /* 125px */
  bottom: 18rem;
  /* 180px */
  animation: float 4s ease-in-out infinite;
}
@media only screen and (max-width: 992px) {
  #footer .c3 {
    width: 3rem;
    /* 30px */
    height: 3rem;
    /* 30px */
  }
}
@media only screen and (max-width: 600px) {
  #footer .c3 {
    display: none;
  }
}
#footer .c4 {
  position: absolute;
  width: 8.2rem;
  /* 82px */
  height: 8.2rem;
  /* 82px */
  top: 0.8rem;
  /* 8px */
  left: 55.5rem;
  /* 555px */
  animation: floatXY 4s linear infinite;
}
@media only screen and (max-width: 992px) {
  #footer .c4 {
    width: 5.2rem;
    /* 52px */
    height: 5.2rem;
    /* 52px */
    left: 5.5rem;
    /* 55px */
  }
}
#footer .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (max-width: 992px) {
  #footer .content {
    justify-content: center;
  }
}
#footer .content .description {
  display: flex;
  max-width: 38rem;
  /* 380px */
  align-items: center;
}
#footer .content .description .footer-logo {
  width: 6rem;
  /* 60px */
  height: 4.6rem;
  margin-left: 2rem;
  /* 20px */
}
@media only screen and (max-width: 576px) {
  #footer .content .description .footer-logo {
    margin-bottom: 1.5rem;
    /* 15px */
  }
}
@media only screen and (max-width: 576px) {
  #footer .content .description p {
    display: none;
  }
}
#footer .content .menu {
  list-style: none;
}
#footer .content .menu li {
  display: inline-block;
  padding: 0.5rem 1rem 1.7rem 1rem;
  /* 5px 10px 17px 10px */
  margin-left: 6rem;
  /* 60px */
  position: relative;
  transition: all ease-in-out 0.5s;
}
#footer .content .menu li:after {
  transition: all ease-in-out 0.5s;
  display: block;
  position: absolute;
  content: "";
  width: 2.5rem;
  /* 25px */
  height: 0.3rem;
  /* 3px */
  border-radius: 0.15rem;
  /* 1.5px */
  background: #f3303a;
  box-shadow: 0 0.5rem 1.5rem 0 rgba(243, 48, 58, 0.5), 0 0.5rem 1.2rem 0 rgba(243, 48, 58, 0.61), 0 0.4rem 0.7rem 0 rgba(243, 48, 58, 0.32);
  bottom: 0;
  left: calc((100% - 2.5rem) / 2);
  opacity: 0;
  visibility: hidden;
}
#footer .content .menu li:hover:after {
  opacity: 1;
  visibility: visible;
}
#footer .content .menu li.active:after {
  opacity: 1;
  visibility: visible;
}
@media only screen and (max-width: 992px) {
  #footer .content .menu {
    flex: 0 0 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 576px) {
  #footer .content .menu {
    display: none;
  }
}
#footer .copyright {
  text-align: center;
  color: rgba(240, 242, 248, 0.55);
  direction: ltr;
  margin-top: 5rem;
  /* 50px */
  font-weight: 300;
}
#footer .copyright .mobile-logo {
  display: none;
}
@media only screen and (max-width: 992px) {
  #footer .copyright {
    border-top: 0.1rem solid rgba(255, 255, 255, 0.1215686275);
    padding-top: 1.9rem;
    /* 19px */
    margin-top: 0;
  }
}

.ordering-steps {
  padding: 6rem 0 10rem;
  /* 60px 100px */
}
@media only screen and (max-width: 992px) {
  .ordering-steps {
    padding: 6rem 1.5rem 10rem;
    /* 60px 15px 100px */
  }
}
.ordering-steps > .container {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1200px) {
  .ordering-steps > .container {
    padding: 0;
  }
}
.ordering-steps .step-item {
  flex: 0 0 49%;
  margin: 3rem auto 0;
  /* 30px */
}
@media only screen and (max-width: 768px) {
  .ordering-steps .step-item .title {
    font-size: 1.9rem;
    /* 19px */
  }
}
@media only screen and (max-width: 1200px) {
  .ordering-steps .step-item .description {
    padding: 0 4.7rem;
    /* 47px */
    line-height: 3rem;
    /* 30px */
  }
}
@media only screen and (max-width: 768px) {
  .ordering-steps .step-item .description {
    padding: 0 2.8rem;
    /* 28px */
    line-height: 2.9rem;
    /* 29px */
    font-size: 1.6rem;
    /* 16px */
  }
}
@media only screen and (max-width: 768px) {
  .ordering-steps .step-item {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .ordering-steps {
    padding: 0.1rem;
    /* 1px */
    background: rgba(37, 40, 73, 0.7882352941);
  }
}

.product-list {
  padding: 16.5rem 0 5rem 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 991px) {
  .product-list {
    width: 70rem;
    padding: 7.5rem 0 5rem 0;
  }
}
@media only screen and (max-width: 768px) {
  .product-list {
    width: 55rem;
  }
}
@media only screen and (max-width: 576px) {
  .product-list {
    width: 100%;
    padding: 4rem 0;
  }
}
.product-list .list-title {
  width: 100%;
  display: block;
  margin-top: 0;
  margin-bottom: 5.5rem;
  font-size: 3.6rem;
  font-weight: 500;
  margin-right: -moz-calc((100% - 115rem)/10);
  margin-right: -webkit-calc((100% - 115rem)/10);
  margin-right: calc((100% - 115rem)/10);
}
@media only screen and (max-width: 1480px) {
  .product-list .list-title {
    margin-right: -moz-calc((100% - 105rem)/10);
    margin-right: -webkit-calc((100% - 105rem)/10);
    margin-right: calc((100% - 105rem)/10);
  }
}
@media only screen and (max-width: 1130px) {
  .product-list .list-title {
    margin-right: -moz-calc((100% - 90rem)/10);
    margin-right: -webkit-calc((100% - 90rem)/10);
    margin-right: calc((100% - 90rem)/10);
  }
}
@media only screen and (max-width: 991px) {
  .product-list .list-title {
    margin-right: 0;
    margin-bottom: 4rem;
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 768px) {
  .product-list .list-title {
    margin-bottom: 2.5rem;
    font-size: 2.4rem;
  }
}
.product-list .product-card {
  margin-bottom: 2rem;
  margin-right: -moz-calc((100% - 115rem)/10);
  margin-right: -webkit-calc((100% - 115rem)/10);
  margin-right: calc((100% - 115rem)/10);
  margin-left: -moz-calc((100% - 115rem)/10);
  margin-left: -webkit-calc((100% - 115rem)/10);
  margin-left: calc((100% - 115rem)/10);
}
@media only screen and (max-width: 1480px) {
  .product-list .product-card {
    margin-right: -moz-calc((100% - 105rem)/10);
    margin-right: -webkit-calc((100% - 105rem)/10);
    margin-right: calc((100% - 105rem)/10);
    margin-left: -moz-calc((100% - 105rem)/10);
    margin-left: -webkit-calc((100% - 105rem)/10);
    margin-left: calc((100% - 105rem)/10);
  }
}
@media only screen and (max-width: 1130px) {
  .product-list .product-card {
    margin-right: -moz-calc((100% - 90rem)/10);
    margin-right: -webkit-calc((100% - 90rem)/10);
    margin-right: calc((100% - 90rem)/10);
    margin-left: -moz-calc((100% - 90rem)/10);
    margin-left: -webkit-calc((100% - 90rem)/10);
    margin-left: calc((100% - 90rem)/10);
  }
}
@media only screen and (max-width: 991px) {
  .product-list .product-card {
    margin-right: -moz-calc((100% - 68rem)/8);
    margin-right: -webkit-calc((100% - 68rem)/8);
    margin-right: calc((100% - 68rem)/8);
    margin-left: -moz-calc((100% - 68rem)/8);
    margin-left: -webkit-calc((100% - 68rem)/8);
    margin-left: calc((100% - 68rem)/8);
  }
}
@media only screen and (max-width: 768px) {
  .product-list .product-card {
    margin-right: -moz-calc((100% - 51rem)/6);
    margin-right: -webkit-calc((100% - 51rem)/6);
    margin-right: calc((100% - 51rem)/6);
    margin-left: -moz-calc((100% - 51rem)/6);
    margin-left: -webkit-calc((100% - 51rem)/6);
    margin-left: calc((100% - 51rem)/6);
  }
}
@media only screen and (max-width: 576px) {
  .product-list .product-card {
    width: -moz-calc((100% - 2rem)/3);
    width: -webkit-calc((100% - 2rem)/3);
    width: calc((100% - 2rem)/3);
    margin-left: -moz-calc((2rem / 6 ));
    margin-left: -webkit-calc((2rem / 6 ));
    margin-left: calc((2rem / 6 ));
    margin-right: -moz-calc((2rem / 6 ));
    margin-right: -webkit-calc((2rem / 6 ));
    margin-right: calc((2rem / 6 ));
  }
}
@media only screen and (max-width: 480px) {
  .product-list .product-card {
    width: 45.5%;
    margin-left: 2%;
    margin-right: 2%;
  }
}
@media only screen and (max-width: 400px) {
  .product-list .product-card {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
.product-list .load-more {
  width: 100%;
  margin-top: 7rem;
  text-align: center;
}
@media only screen and (max-width: 520px) {
  .product-list .load-more {
    margin-top: 3rem;
    /* 30px */
  }
}
.product-list .load-more .btn {
  font-weight: 300;
  font-size: 1.6rem;
  border-color: rgba(214, 217, 240, 0.8);
}
@media only screen and (max-width: 1200px) {
  .product-list .load-more .btn {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 991px) {
  .product-list .load-more .btn {
    font-size: 1.3rem;
  }
}
.product-list .load-more .btn svg {
  width: 0.6rem;
  /* 6px */
  height: 1rem;
  /* 10px */
  top: -moz-calc((100% - 1rem)/2);
  top: -webkit-calc((100% - 1rem)/2);
  top: calc((100% - 1rem)/2);
}
@media only screen and (max-width: 991px) {
  .product-list .load-more .btn svg {
    width: 0.5rem;
    /* 5px */
    height: 0.9rem;
    /* 9px */
    top: -moz-calc((100% - 0.9rem)/2);
    top: -webkit-calc((100% - 0.9rem)/2);
    top: calc((100% - 0.9rem)/2);
  }
}

.description-dark-box {
  margin-top: 5rem;
  border-radius: 1.5rem;
  background: url("../img/cover-desc.jpg") 0 0/cover no-repeat;
  padding: 9.5rem 3rem 8rem 3rem;
  color: #fff;
  text-align: center;
  position: relative;
  box-shadow: 0 0.9rem 4.6rem 0 rgba(170, 188, 212, 0.31), 0 0.2rem 0.5rem 0 rgba(168, 192, 226, 0.21);
}
@media only screen and (max-width: 991px) {
  .description-dark-box {
    padding: 6.5rem 3rem 5rem 3rem;
    background-position: 50% 0;
  }
}
@media only screen and (max-width: 500px) {
  .description-dark-box {
    padding: 4rem 2rem;
  }
}
.description-dark-box h2 {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
}
@media only screen and (max-width: 991px) {
  .description-dark-box h2 {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 768px) {
  .description-dark-box h2 {
    font-size: 2rem;
  }
}
.description-dark-box p {
  font-size: 1.6rem;
  font-weight: 300;
  max-width: 95rem;
  margin: 2.3rem auto auto;
  text-align: right;
  line-height: 2;
}
@media only screen and (max-width: 1199px) {
  .description-dark-box p {
    max-width: 75rem;
  }
}
@media only screen and (max-width: 991px) {
  .description-dark-box p {
    font-size: 1.4rem;
    max-width: 57rem;
  }
}
@media only screen and (max-width: 768px) {
  .description-dark-box p {
    font-size: 1.2rem;
    max-width: 47rem;
  }
}
.description-dark-box .gamepad {
  position: absolute;
  width: 13rem;
  height: 18rem;
  left: 0;
  bottom: 8rem;
  overflow: hidden;
}
@media only screen and (max-width: 1199px) {
  .description-dark-box .gamepad {
    width: 10rem;
  }
}
@media only screen and (max-width: 991px) {
  .description-dark-box .gamepad {
    width: 7rem;
    height: 10rem;
  }
}
@media only screen and (max-width: 650px) {
  .description-dark-box .gamepad {
    left: 0;
    bottom: -1rem;
  }
}
@media only screen and (max-width: 500px) {
  .description-dark-box .gamepad {
    display: none;
  }
}
.description-dark-box .gamepad img {
  width: 22rem;
  height: 18rem;
  transform: scaleX(-1);
}
@media only screen and (max-width: 991px) {
  .description-dark-box .gamepad img {
    width: 15rem;
    height: 11rem;
  }
}
.description-dark-box .circle {
  width: 8.3rem;
  height: 8.3rem;
  position: absolute;
  top: -1.5rem;
  right: -2rem;
}
@media only screen and (max-width: 1199px) {
  .description-dark-box .circle {
    right: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .description-dark-box .circle {
    width: 6rem;
    height: 6rem;
  }
}

.description-light-box {
  margin-top: 20rem;
  display: flex;
  align-items: center;
  padding: 0 10rem;
}
@media only screen and (max-width: 1199px) {
  .description-light-box {
    padding: 0;
    margin-top: 13rem;
  }
}
@media only screen and (max-width: 768px) {
  .description-light-box {
    flex-direction: column;
    margin-top: 5rem;
  }
}
.description-light-box .cover {
  width: 40%;
  height: 34.6rem;
  margin-left: 8rem;
}
@media only screen and (max-width: 991px) {
  .description-light-box .cover {
    width: 45%;
    margin-left: 5%;
  }
}
@media only screen and (max-width: 768px) {
  .description-light-box .cover {
    height: auto;
  }
}
.description-light-box .cover img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.description-light-box .desc-content {
  width: 50%;
  max-width: 64rem;
}
@media only screen and (max-width: 768px) {
  .description-light-box .desc-content {
    width: 100%;
  }
}
.description-light-box .desc-content h2 {
  font-size: 3rem;
  font-weight: 600;
  display: block;
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 991px) {
  .description-light-box .desc-content h2 {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 768px) {
  .description-light-box .desc-content h2 {
    font-size: 2rem;
  }
}
.description-light-box .desc-content p {
  margin: 0;
  font-size: 1.6rem;
}
@media only screen and (max-width: 991px) {
  .description-light-box .desc-content p {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 768px) {
  .description-light-box .desc-content p {
    font-size: 1.2rem;
  }
}

.account-properties {
  margin-top: 20rem;
  position: relative;
  background: #202442;
  padding: 9rem 10rem 15rem 10rem;
}
@media only screen and (max-width: 1199px) {
  .account-properties {
    padding: 7rem 5rem 15rem 5rem;
  }
}
@media only screen and (max-width: 991px) {
  .account-properties {
    padding: 7rem 5rem;
  }
}
@media only screen and (max-width: 500px) {
  .account-properties {
    padding: 5rem 2rem;
  }
}
.account-properties:after {
  position: absolute;
  display: block;
  content: "";
  width: 60%;
  height: 58rem;
  top: 0;
  right: 0;
  background: url("../img/cover3.png") 0 0/cover no-repeat;
}
.account-properties .properties-holder {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 991px) {
  .account-properties .properties-holder {
    flex-direction: column;
  }
}
.account-properties .properties-holder .property-item {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  width: 27rem;
  margin-top: 4rem;
  color: #fff;
  position: relative;
}
@media only screen and (max-width: 1199px) {
  .account-properties .properties-holder .property-item {
    width: 24rem;
  }
}
@media only screen and (max-width: 991px) {
  .account-properties .properties-holder .property-item {
    width: 100%;
    margin-top: 0;
    margin-bottom: 3rem;
  }
}
.account-properties .properties-holder .property-item .title {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
}
@media only screen and (max-width: 1199px) {
  .account-properties .properties-holder .property-item .title {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .account-properties .properties-holder .property-item .title {
    font-size: 1.8rem;
  }
}
.account-properties .properties-holder .property-item p {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  margin: 0 auto;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2;
  text-align: justify;
  position: relative;
  z-index: 2;
}
@media only screen and (max-width: 1199px) {
  .account-properties .properties-holder .property-item p {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 768px) {
  .account-properties .properties-holder .property-item p {
    font-size: 1.2rem;
  }
}
.account-properties .properties-holder .property-item .cover {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .account-properties .properties-holder .property-item .cover {
    margin-top: 3rem;
  }
}
.account-properties .properties-holder .property-item .cover:before {
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  display: block;
  position: absolute;
  content: "";
  width: -moz-calc((100% + 6rem));
  width: -webkit-calc((100% + 6rem));
  width: calc((100% + 6rem));
  height: -moz-calc((100% + 6rem));
  height: -webkit-calc((100% + 6rem));
  height: calc((100% + 6rem));
  border-radius: 1.5rem;
  top: -3rem;
  left: -3rem;
  background: #fff;
  z-index: 1;
}
@media only screen and (max-width: 1199px) {
  .account-properties .properties-holder .property-item .cover:before {
    width: -moz-calc((100% + 3rem));
    width: -webkit-calc((100% + 3rem));
    width: calc((100% + 3rem));
    height: -moz-calc((100% + 3rem));
    height: -webkit-calc((100% + 3rem));
    height: calc((100% + 3rem));
    top: -1.5rem;
    left: -1.5rem;
  }
}
.account-properties .properties-holder .property-item .cover:after {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: block;
  content: "";
  width: 130%;
  height: 50%;
  bottom: -15%;
  left: -15%;
  border-radius: 4rem;
  filter: blur(35px);
  background: #b42789;
  background: -moz-linear-gradient(-45deg, #b42789 0%, #24d3fc 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #b42789), color-stop(100%, #24d3fc));
  background: -webkit-linear-gradient(-45deg, #b42789 0%, #24d3fc 100%);
  background: -o-linear-gradient(-45deg, #b42789 0%, #24d3fc 100%);
  background: -ms-linear-gradient(-45deg, #b42789 0%, #24d3fc 100%);
  background: linear-gradient(135deg, #b42789 0%, #24d3fc 100%);
}
@media only screen and (max-width: 1199px) {
  .account-properties .properties-holder .property-item .cover:after {
    width: 110%;
    height: 30%;
    bottom: -5%;
    left: -5%;
  }
}
.account-properties .properties-holder .property-item:hover {
  margin-top: 0;
}
.account-properties .properties-holder .property-item:hover .title {
  font-weight: 600;
}
.account-properties .properties-holder .property-item:hover p {
  color: rgba(36, 40, 73, 0.8);
}
.account-properties .properties-holder .property-item:hover .cover {
  margin-top: 5rem;
}
@media only screen and (max-width: 1199px) {
  .account-properties .properties-holder .property-item:hover .cover {
    margin-top: 3rem;
  }
}
.account-properties .properties-holder .property-item:hover .cover:before, .account-properties .properties-holder .property-item:hover .cover:after {
  opacity: 1;
  visibility: visible;
}
.account-properties .circle {
  position: absolute;
}
.account-properties .circle.c1 {
  width: 6.7rem;
  height: 6.7rem;
  top: -3.6rem;
  left: 10%;
}
.account-properties .circle.c2 {
  width: 2.3rem;
  height: 2.3rem;
  top: 17rem;
  left: 7%;
}
.account-properties .circle.c3 {
  width: 8.2rem;
  height: 8.2rem;
  top: 40rem;
  left: 3%;
}
.account-properties .circle.c4 {
  width: 1.3rem;
  height: 1.3rem;
  top: 5rem;
  left: 40%;
}

.popular-game {
  padding-top: 8.5rem;
  /* 85px */
}
@media only screen and (max-width: 992px) {
  .popular-game {
    padding-top: 5rem;
    /* 20px */
  }
}
@media only screen and (max-width: 768px) {
  .popular-game {
    padding-bottom: 5rem;
    /* 50px */
  }
}
@media only screen and (max-width: 400px) {
  .popular-game {
    padding-bottom: 0;
  }
}
.popular-game .section-title h2 {
  padding-right: 5.9rem;
  /* 59px */
  margin-bottom: 5rem;
  /* 50px */
}
.popular-game .section-title h2:after {
  display: none;
}
@media only screen and (max-width: 992px) {
  .popular-game .section-title h2 {
    font-size: 3.4rem;
    /* 34px */
    text-align: center;
    padding-right: 0;
  }
}
@media only screen and (max-width: 576px) {
  .popular-game .section-title h2 {
    font-size: 2rem;
    /* 20px */
    margin-top: 1.1rem;
    /* 11px */
    margin-bottom: 3.5rem;
    /* 35px */
  }
}
.popular-game .slider-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.popular-game-slider {
  width: 40rem;
  /* 400px */
}
.popular-game-slider-nav {
  display: flex;
  margin-right: 1.5rem;
  /* 15px */
}
.popular-game-slider-nav .nav-item {
  box-shadow: 0rem 0.1rem 0.1rem 0 rgba(170, 188, 212, 0.31), 0 0.2rem 1.3rem 0 rgba(170, 188, 212, 0.3);
  background: #fff;
  padding: 2.6rem 7.8rem 2.6rem 4.3rem;
  /* 26px 78px 26px 43px */
  border-radius: 10rem;
  /* 100px */
  margin-bottom: 1.7rem;
  /* 17px */
  position: relative;
  min-width: 23.2rem;
  /* 232px */
  font-size: 2rem;
  /* 20px */
  color: rgba(63, 67, 115, 0.82);
  margin-right: 2.5rem;
  /* 25px */
}
.popular-game-slider-nav .nav-item:after {
  position: absolute;
  border-radius: 10rem;
  /* 100px */
  background: #f4f6fd;
  color: rgba(63, 67, 115, 0.5);
  content: attr(data-num);
  font-family: "YekanBakhNum";
  font-weight: 600;
  right: 1.8rem;
  /* 18px */
  height: 3.1rem;
  /* 31px */
  width: 4rem;
  /* 40px */
  top: 1.8rem;
  /* 18px */
  text-align: center;
  padding-top: 0.9rem;
  /* 9px */
}
@media only screen and (max-width: 1200px) {
  .popular-game-slider-nav .nav-item:after {
    top: 0.9rem;
    /* 9px */
  }
}
@media only screen and (max-width: 670px) {
  .popular-game-slider-nav .nav-item:after {
    height: 2.4rem;
    /* 24px */
    width: 3.1rem;
    /* 31px */
    padding-top: 0.7rem;
    /* 7px */
    right: 0.8rem;
    /* 8px */
    top: 0.8rem;
    /* 8px */
  }
}
.popular-game-slider-nav .nav-item.active {
  color: #3f4473;
}
.popular-game-slider-nav .nav-item.active:after {
  background: #f3303a;
  color: #ffffff;
}
@media only screen and (max-width: 1200px) {
  .popular-game-slider-nav .nav-item {
    padding: 2rem 7rem 2rem 2.2rem;
    /* 20px 70px 20px 22px */
    margin-bottom: 1.2rem;
    /* 12px */
    min-width: 17rem;
    /* 170px */
    font-size: 1.7rem;
    /* 17px */
    margin-right: 1.8rem;
    /* 18px */
  }
}
@media only screen and (max-width: 670px) {
  .popular-game-slider-nav .nav-item {
    padding: 1.7rem 4.8rem 1.7rem 2.3rem;
    /* 17px 48px 17px 23px */
    margin-bottom: 1.2rem;
    /* 12px */
    min-width: 10rem;
    /* 100px */
    font-size: 1.4rem;
    /* 14px */
    margin-right: 0.7rem;
    /* 7px */
  }
}
@media only screen and (max-width: 400px) {
  .popular-game-slider-nav .nav-item {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .popular-game-slider-nav {
    flex: 0 0 100%;
    justify-content: center;
  }
}
@media only screen and (max-width: 1200px) {
  .popular-game-slider-nav {
    margin-right: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .popular-game-slider {
    width: 38rem;
    /* 380px */
  }
}
@media only screen and (max-width: 400px) {
  .popular-game-slider {
    width: 31.3rem;
    /* 313px */
  }
}
.popular-game .game-item:before {
  background: linear-gradient(to bottom, rgba(243, 48, 58, 0) 0%, #292e53 90%);
}
@media only screen and (max-width: 1200px) {
  .popular-game .game-item {
    width: 38rem;
    /* 380px */
    height: 24rem;
    /* 240px */
  }
}
@media only screen and (max-width: 400px) {
  .popular-game .game-item {
    width: 31.3rem;
    /* 313px */
    height: 21.5rem;
    /* 215px */
  }
}
@media only screen and (max-width: 670px) {
  .popular-game .game-item .title {
    top: -8.4rem;
    /* -84px */
    font-size: 1.9rem;
    /* 19px */
    font-weight: 400;
    right: 7.3rem;
    /* 73px */
  }
}
@media only screen and (max-width: 670px) {
  .popular-game .game-item:after {
    font-size: 2.1rem;
    /* 21px */
    width: 3.5rem;
    /* 35px */
    height: 2.8rem;
    /* 28px */
    padding-top: 0.6rem;
    /* 6px */
  }
}

.description-by-carousel {
  /* margin-top: 40rem; */
  /* background: #222747; */
  background: #fff;
  color: #222747;
  position: relative;
}
@media only screen and (max-width: 1199px) {
  .description-by-carousel {
    /* margin-top: 32rem; */
  }
}
@media only screen and (max-width: 768px) {
  .description-by-carousel {
    /* margin-top: 22rem; */
    /* margin-bottom: 10rem; */
  }
}
/* .description-by-carousel:before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 30rem;
  top: -7rem;
  left: 0;
  z-index: 0;
  background: rgba(34, 39, 71, 0);
  background: -moz-linear-gradient(top, rgba(34, 39, 71, 0) 0%, #222747 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(34, 39, 71, 0)), color-stop(100%, #222747));
  background: -webkit-linear-gradient(top, rgba(34, 39, 71, 0) 0%, #222747 100%);
  background: -o-linear-gradient(top, rgba(34, 39, 71, 0) 0%, #222747 100%);
  background: -ms-linear-gradient(top, rgba(34, 39, 71, 0) 0%, #222747 100%);
  background: linear-gradient(to bottom, rgba(34, 39, 71, 0) 0%, #222747 100%);
} */
.description-by-carousel .carousel-wrap {
  position: absolute;
  width: 100%;
  top: -22rem;
  left: 0;
  z-index: 1;
}
.description-by-carousel .description-wrap {
  /* padding: 30rem 0 14rem 0; */
  padding: 14rem 0 14rem 0;
  display: flex;
  align-items: flex-start;
  /* color: #fff; */
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 1199px) {
  .description-by-carousel .description-wrap {
    /* padding-top: 24rem; */
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
@media only screen and (max-width: 991px) {
  .description-by-carousel .description-wrap {
    /* padding-top: 16rem; */
    /* padding-top: 10rem;
    padding-bottom: 10rem; */
  }
}
@media only screen and (max-width: 768px) {
  .description-by-carousel .description-wrap {
    /* padding-top: 5rem; */
    /* padding-bottom: 5rem; */
    flex-direction: column;
    padding-right: 5rem;
    padding-left: 5rem;
  }
}
@media only screen and (max-width: 576px) {
  .description-by-carousel .description-wrap {
    /* padding-top: 10rem; */
  }
}
@media only screen and (max-width: 500px) {
  .description-by-carousel .description-wrap {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media only screen and (max-width: 430px) {
  .description-by-carousel .description-wrap {
    /* padding-top: 5rem; */
    padding-right: 0;
    padding-left: 0;
  }
}
.description-by-carousel .description-wrap .right-side {
  width: 45%;
  margin-left: 10rem;
}
@media only screen and (max-width: 1199px) {
  .description-by-carousel .description-wrap .right-side {
    margin-left: 5rem;
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .description-by-carousel .description-wrap .right-side {
    width: 100%;
    margin-left: 0;
  }
}
.description-by-carousel .description-wrap .right-side .title {
  font-size: 3rem;
  font-weight: 600;
}
@media only screen and (max-width: 991px) {
  .description-by-carousel .description-wrap .right-side .title {
    font-size: 2.4rem;
  }
}
.description-by-carousel .description-wrap .right-side p {
  font-weight: 300;
  font-size: 1.6rem;
  /* color: rgba(229, 230, 247, 0.8); */
  text-align: justify;
  margin: 1.5rem 0 0 0;
  line-height: 2;
}
@media only screen and (max-width: 1199px) {
  .description-by-carousel .description-wrap .right-side p {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 991px) {
  .description-by-carousel .description-wrap .right-side p {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 768px) {
  .description-by-carousel .description-wrap .right-side p {
    font-size: 1.2rem;
  }
}
.description-by-carousel .description-wrap .left-side {
  width: 40%;
}
@media only screen and (max-width: 1199px) {
  .description-by-carousel .description-wrap .left-side {
    width: 45%;
  }
}
@media only screen and (max-width: 768px) {
  .description-by-carousel .description-wrap .left-side {
    width: 100%;
    margin-top: 2.5rem;
  }
}
.description-by-carousel .description-wrap .left-side .title {
  font-weight: 500;
  font-size: 2.4rem;
}
@media only screen and (max-width: 991px) {
  .description-by-carousel .description-wrap .left-side .title {
    font-size: 2rem;
  }
}
.description-by-carousel .description-wrap .left-side p {
  font-weight: 300;
  font-size: 1.6rem;
  /* color: rgba(229, 230, 247, 0.8); */
  position: relative;
  padding-right: 2rem;
}
@media only screen and (max-width: 1199px) {
  .description-by-carousel .description-wrap .left-side p {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 991px) {
  .description-by-carousel .description-wrap .left-side p {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 768px) {
  .description-by-carousel .description-wrap .left-side p {
    font-size: 1.2rem;
  }
}
.description-by-carousel .description-wrap .left-side p:before {
  position: absolute;
  display: block;
  content: "";
  width: 0.5rem;
  height: 0.3rem;
  background: #f3303a;
  right: 0;
  top: 1rem;
}
.description-by-carousel .circle {
  width: 5rem;
  height: 10rem;
  position: absolute;
  top: 15rem;
  left: 0;
  overflow: hidden;
}
.description-by-carousel .circle img {
  width: 9.8rem;
  height: 9.8rem;
  position: absolute;
  right: 0;
  top: 0;
}

#desc-carousel {
  position: relative;
  box-sizing: border-box;
}

#desc-carousel img {
  width: 140px;
  margin: 0 auto;
}

@media only screen and (max-width: 992px) {
  #desc-carousel img {
    width: 120px;
  }
}
@media only screen and (max-width: 576px) {
  #desc-carousel img {
    width: 111px;
  }
}
@media only screen and (max-width: 430px) {
  #desc-carousel img {
    width: 95px;
  }
}
#desc-carousel .owl-stage {
  padding-top: 100px;
}

@media only screen and (max-width: 576px) {
  #desc-carousel .owl-stage {
    padding-top: 75px;
  }
}
#desc-carousel .owl-item.center .item {
  position: relative;
  padding: 100px 0 40px;
}

#desc-carousel .owl-item.center .item img {
  width: 215px;
  opacity: 1;
  position: relative;
  top: -180px;
}

@media only screen and (max-width: 991px) {
  #desc-carousel .owl-item.center .item img {
    width: 180px;
  }
}
@media only screen and (max-width: 768px) {
  #desc-carousel .owl-item.center .item img {
    top: -115px;
  }
}
@media only screen and (max-width: 576px) {
  #desc-carousel .owl-item.center .item img {
    width: 150px;
  }
}
@media only screen and (max-width: 430px) {
  #desc-carousel .owl-item.center .item img {
    width: 120px;
  }
}
#desc-carousel .owl-item.center .item:before {
  position: absolute;
  top: -55px;
  content: "";
  width: 338px;
  height: 338px;
  border-radius: 100%;
  background: linear-gradient(to top, #615b8e, #20233f 60%, #282d51);
  animation: drop 0.4s;
  right: -moz-calc((100% - 338px)/2);
  right: -webkit-calc((100% - 338px)/2);
  right: calc((100% - 338px)/2);
}

@media only screen and (max-width: 991px) {
  #desc-carousel .owl-item.center .item:before {
    width: 250px;
    height: 250px;
    right: -moz-calc((100% - 250px)/2);
    right: -webkit-calc((100% - 250px)/2);
    right: calc((100% - 250px)/2);
  }
}
@media only screen and (max-width: 768px) {
  #desc-carousel .owl-item.center .item:before {
    display: none;
  }
}
#desc-carousel .owl-item.center .item:after {
  display: block;
  content: "";
  position: absolute;
  width: 37rem;
  height: 37rem;
  top: -7rem;
  left: -moz-calc((100% - 37rem)/2);
  left: -webkit-calc((100% - 37rem)/2);
  left: calc((100% - 37rem)/2);
  border-radius: 100%;
  border: 0.5px solid rgba(162, 174, 222, 0.06);
}
@media only screen and (max-width: 991px) {
  #desc-carousel .owl-item.center .item:after {
    top: -8rem;
    width: 30rem;
    height: 30rem;
    left: -moz-calc((100% - 30rem)/2);
    left: -webkit-calc((100% - 30rem)/2);
    left: calc((100% - 30rem)/2);
  }
}
@media only screen and (max-width: 768px) {
  #desc-carousel .owl-item.center .item:after {
    display: none;
  }
}

.special-tag {
  font-weight: 600;
  font-size: 1.6rem;
  color: #fff;
  left: 4px;
  top: 4px;
  background: #f3303a;
  padding: 0.8rem 3rem 0.8rem 1.5rem;
  position: absolute;
  border-radius: 0.3rem 1.8rem 1.8rem 1.8rem;
  /* 3px 18px 18px 18px */
}
@media only screen and (max-width: 991px) {
  .special-tag {
    font-size: 1.4rem;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 0.3rem 1rem 1rem 1rem;
    /* 3px 10px 10px 10px */
  }
}
@media only screen and (max-width: 768px) {
  .special-tag {
    font-size: 1.2rem;
    padding: 0.3rem 2rem 0.3rem 1rem;
    border-radius: 0.2rem 0.7rem 0.7rem 0.7rem;
    /* 2px 7px 7px 7px */
  }
}
.special-tag svg {
  width: 1.2rem;
  /* 12px */
  height: 1.6rem;
  /* 16px */
  position: absolute;
  right: 1.5rem;
  /* 15px */
  fill: #fff;
  top: -moz-calc((100% - 1.6rem)/2);
  top: -webkit-calc((100% - 1.6rem)/2);
  top: calc((100% - 1.6rem)/2);
}
@media only screen and (max-width: 991px) {
  .special-tag svg {
    width: 0.9rem;
    /* 9px */
    height: 1.3rem;
    /* 13px */
    top: -moz-calc((100% - 1.3rem)/2);
    top: -webkit-calc((100% - 1.3rem)/2);
    top: calc((100% - 1.3rem)/2);
  }
}
@media only screen and (max-width: 768px) {
  .special-tag svg {
    right: 0.8rem;
    /* 8px */
  }
}

/*# sourceMappingURL=style.css.map */
