@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes floatXY {
    0% { transform: translate(0,  0px); }
    25%  { transform: translate(6px, 5px); }
    50%   { transform: translate(-5px, -7px); }
    100% {transform: translate(0px, 0px);}
}

@keyframes progress {
    0% { width: 5%; }
    100%  { width: 100%; }
}

@keyframes like {
    0%    { transform: scale(1); }
    25%   { transform: scale(.8); }
    50%   { transform: scale(1.2); }
    100%  { transform: scale(1); }

}

@keyframes accordionIn {
  0% {
    opacity: 0;
    transform-origin: 50% 0;
  }
  100% {
    opacity:1;
    transform:scale(1);
  }
}

@keyframes accordionOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity:0;
  }
}




@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}




@-webkit-keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes showAnimation {
  //to   { visibility: visible; }
   50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

