@font-face {
  font-family: "YekanBakh";
  src: url("../../fonts/YekanBakh-Light.woff2") format("woff2"),
    url("../../fonts/YekanBakh-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "YekanBakh";
  src: url("../../fonts/YekanBakh-Regular.woff2") format("woff2"),
    url("../../fonts/YekanBakh-Regular.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "YekanBakh";
  src: url("../../fonts/YekanBakh-Medium.woff2") format("woff2"),
    url("../../fonts/YekanBakh-Medium.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "YekanBakh";
  src: url("../../fonts/YekanBakh-Bold.woff2") format("woff2"),
    url("../../fonts/YekanBakh-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "YekanBakh";
  src: url("../../fonts/YekanBakh-Heavy.woff2") format("woff2"),
    url("../../fonts/YekanBakh-Heavy.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "YekanBakhNum";
  src: url("../../fonts/iGameNumbers-Heavy.woff2") format("woff2"),
    url("../../fonts/YekanBakh/iGameNumbers-Heavy.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@mixin Light {
  font-weight: 100;
}
@mixin Regular {
  font-weight: 200;
}
@mixin Medium {
  font-weight: 300;
}
@mixin Bold {
  font-weight: 500;
}
@mixin Heavy {
  font-weight: 600;
}
@mixin YekanBakh {
  font-family: "YekanBakh";
}
@mixin Number {
  font-family: "YekanBakhNum";
  font-weight: 700;
}
body {
  @include Medium;
}
