.form-section {
  margin-bottom: 28px;
  @include Medium;
  @include font-14;
}

.form-label {
  position: absolute;
  left: 0;
  top: 10px;
  z-index: 1;
  transition: transform 0.3s ease-out, font-size 0.3s ease-out;
  color: rgba($mainColor, 0.6);
  // .focused &{
  transform: translateY(-36px);
  // font-size: 12px;
  // }
}

.form-group {
  display: inline-block;
  position: relative;
  input,
  optgroup,
  select,
  textarea {
    @include trans;
    @include font-18;
    background: $dashboard_bg;
    box-shadow: none;
    outline: none;
    border: 1px solid rgba($mainColor, 0.2);
    border-right: none;
    border-radius: 6px 6px 0 6px;
    outline: none;
    box-shadow: none;
    padding: 0 4.2rem;

    @include Bold;

    @include breakpoint(max, $ma-sm) {
      padding: 0 2.2rem;
    }
    &::placeholder {
      @include Regular;
      color: $lightGray;
      @include Bold;
    }
  }
  &:after {
    @include elementMaker(block, 100%, 0.4rem);
    width: calc(100% - 1.4rem);
    background-color: $dashboard_bg;
    position: absolute;
    left: 14px;
    top: 0;
  }
  .form-label {
    @include trans;
    @include font-12;
    position: absolute;
    top: 28px;
    left: 14px;
    padding-left: 1rem;
    pointer-events: none;
    width: 100%;
    margin-bottom: 0;
    @include breakpoint(max, 768px) {
      left: 16px;
    }
    .icon {
      fill: $mainColor;
      margin-right: 6px;
    }
  }
  &.error {
    input,
    optgroup,
    select,
    textarea {
      border-color: $red;
    }
  }
  &.focused {
    .form-label {
      color: $mainColor;
    }
    input,
    optgroup,
    select,
    textarea {
      @include Bold;
      color: $mainColor;
      border-color: rgba($mainColor, 1);
      &::placeholder {
        @include Regular;
        color: $lightGray;

        @include Bold;
      }
    }
  }
  .unit {
    @include font-14;
    color: rgba($mainColor, 0.5);
    position: absolute;
    bottom: 17px;
    right: 26px;
    z-index: 2;
  }
  .info {
    position: relative;
    width: 17px;
    height: 17px;
    left: 90%;
    bottom: 39px;
    z-index: 2;
    .icon {
      width: 17px;
      height: 17px;
      // fill: $p-color;
    }
    .info-box {
      display: none;
    }
    &:hover {
      .icon {
        fill: #fff;
      }
      .info-box {
        display: block;
      }
    }
  }
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  @include breakpoint(max, $ma-sm) {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  @include breakpoint(max, $ma-xs) {
    margin-bottom: 30px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
    @include breakpoint(max, $ma-sm) {
      width: 100%;
      margin-bottom: 32px;
    }
    &:last-child {
      @include breakpoint(max, $ma-sm) {
        margin-bottom: 0;
      }
    }
  }
  .form-group {
    flex: 1 0 auto;
    margin-left: 72px;
    &:first-child {
      margin-left: 0;
    }
    @include breakpoint(max, $ma-sm) {
      margin-left: 0;
      width: 100%;
      margin-left: 0;
    }
    button,
    input,
    optgroup,
    select,
    textarea {
      line-height: 70px;
      height: 70px;
      width: 100%;
      display: block;
      @include breakpoint(max, $ma-md) {
        line-height: 62px;
        height: 62px;
        padding: 0 2.5rem;
      }
      .editAcc-form & {
        line-height: 62px;
        height: 62px;
        @include breakpoint(max, $ma-sm) {
          line-height: 52px;
          height: 52px;
        }
        @include breakpoint(max, $ma-xs) {
          line-height: 42px;
          height: 42px;
        }
      }
    }
  }
}
