@mixin ltrGradient($colorOne, $colorTwo) {
  background: $colorOne;
  background: -moz-linear-gradient(left, $colorOne 0%, $colorTwo 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, $colorOne), color-stop(100%, $colorTwo));
  background: -webkit-linear-gradient(left, $colorOne 0%, $colorTwo 100%);
  background: -o-linear-gradient(left, $colorOne 0%, $colorTwo 100%);
  background: -webkit-gradient(linear, left top, right top, from($colorOne), to($colorTwo));
  background: linear-gradient(to right, $colorOne 0%, $colorTwo 100%);
}

@mixin Deg45Gradient($colorOne, $colorTwo) {
  background: $colorOne;
  background: -moz-linear-gradient(-45deg, $colorOne 0%, $colorTwo 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, $colorOne), color-stop(100%, $colorTwo));
  background: -webkit-linear-gradient(-45deg, $colorOne 0%, $colorTwo 100%);
  background: -o-linear-gradient(-45deg, $colorOne 0%, $colorTwo 100%);
  background: -ms-linear-gradient(-45deg, $colorOne 0%, $colorTwo 100%);
  background: linear-gradient(135deg, $colorOne 0%, $colorTwo 100%);
}

@mixin verticalGradient($colorOne, $colorTwo) {
  background: $colorOne;
  background: -moz-linear-gradient(top, $colorOne 0%, $colorTwo 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, $colorOne), color-stop(100%, $colorTwo));
  background: -webkit-linear-gradient(top, $colorOne 0%, $colorTwo 100%);
  background: -o-linear-gradient(top, $colorOne 0%, $colorTwo 100%);
  background: -ms-linear-gradient(top, $colorOne 0%, $colorTwo 100%);
  background: linear-gradient(to bottom, $colorOne 0%, $colorTwo 100%);
}

@mixin textGradient($colorOne, $colorTwo, $firstPoint, $secondPoint) {
  background: $colorOne;
  background: -moz-linear-gradient(top, $colorOne $firstPoint, $colorTwo  $secondPoint);
  background: -webkit-gradient(left top, left bottom, color-stop($firstPoint, $colorOne), color-stop($secondPoint, $colorTwo));
  background: -webkit-linear-gradient(top, $colorOne $firstPoint, $colorTwo $secondPoint);
  background: -o-linear-gradient(top, $colorOne $firstPoint, $colorTwo $secondPoint);
  background: -ms-linear-gradient(top, $colorOne $firstPoint, $colorTwo $secondPoint);
  background: linear-gradient(to bottom, $colorOne $firstPoint, $colorTwo $secondPoint);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin boxShadow($right, $bottom, $blur, $spread, $color) {
  -webkit-box-shadow: $right $bottom $blur $spread $color;
  -moz-box-shadow: $right $bottom $blur $spread $color;
  box-shadow: $right $bottom $blur $spread $color;
}

@mixin transition($parameter, $time) {
  transition: $parameter $time;
  -webkit-transition: $parameter $time;
  -moz-transition: $parameter $time;
}

@mixin animation($animation_name, $time) {
  animation: $animation_name $time;
  -moz-animation: $animation_name $time;
  -ms-animation: $animation_name $time;
  -webkit-animation: $animation_name $time;
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin rotate($value) {
  -webkit-transform: rotate($value);
  -moz-transform: rotate($value);
  -ms-transform: rotate($value);
  transform: rotate($value);
}

@mixin scale($value) {
  -webkit-transform: scale($value);
  -moz-transform: scale($value);
  -ms-transform: scale($value);
  transform: scale($value);
}
@mixin border($width, $color) {
  border: $width solid $color;
}

@mixin placeholder($color, $fontSize) {
  &::-webkit-input-placeholder {
    color: $color;
    font-size: $fontSize;
  }
  &::-moz-placeholder {
    color: $color;
    font-size: $fontSize;
  }
  &:-ms-input-placeholder {
    color: $color;
    font-size: $fontSize;
  }
  &:-moz-placeholder {
    color: $color;
    font-size: $fontSize;
  }
}
@mixin placeholderSize($fontSize) {
  &::-webkit-input-placeholder {

    font-size: $fontSize;
  }
  &::-moz-placeholder {

    font-size: $fontSize;
  }
  &:-ms-input-placeholder {

    font-size: $fontSize;
  }
  &:-moz-placeholder {

    font-size: $fontSize;
  }
}

@mixin breakpoint($type, $breakpoint) {
  @media only screen and (#{$type}-width: $breakpoint) {
    @content;
  }
}

@mixin breakpoints($breakMin, $breakMax) {
  @media only screen and (min-width: $breakMin) and (max-width: $breakMax) {
    @content;
  }
}




@mixin center-v-h {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@mixin gradient() {
  background: linear-gradient(to left, $red , $yellow);
}
@mixin breakpoint($type, $breakpoint) {
  @media (#{$type}-width: $breakpoint) {
    @content;
  }
}
@mixin afterUnderline ($width,$top,$right) {
  content: "";
  background-color: #f29353;
  height: 1px;
  width: $width;
  position: absolute;
  top: $top;
  right: $right;
}
@mixin arrow ($afterRight,$afterTop,$afterWidth,$beforeTop,$beforeRight) {
  &:after {
    content: "";
    position: absolute;
    top: $afterTop;
    right: $afterRight;
    width: $afterWidth;
    height: 1px;
    background: $primary-color;
    margin-top: 10px;
    transition: all .8s;
  }
  &:before {
    content: "←";
    position: absolute;
    font-size: 25px;
    top: $beforeTop;
    right: $beforeRight;
    color: $primary-color;
    transition: all .4s;
  }
}