//
// Variables
// --------------------------------------------------
//$mainColor : #222747;
$mainColor: #25294a;
$green: #41cd7d;
$purple: #7033ff;
$blue: #4e7cff;
$red: #f3303a;
$white: #fff;
$textColor: #3f4373;
$font-family: "YekanBakh";
$fontEn: "YekanBakhNum";
$lightGreen: #39dbb2;

// bootstraps Variables
// --------------------------------------------------

$direction: rtl;
$align: right;
$textAlign: right;

// Color system
$black: $textColor;
$primary: $textColor;
$font-family-sans-serif: $font-family, $fontEn, tahoma, arial;
$font-family-sans-serif: $font-family, $fontEn, tahoma, arial;
$font-family-base: $font-family-sans-serif;
$line-height-base: 1;
$headings-font-weight: bold;
$body-bg: #f8f9ff;
$body-color: $textColor;
$link-color: $textColor;
$link-hover-color: $textColor;
$link-hover-decoration: none;
$rootFontSize: 10;

@mixin lightshadow {
  box-shadow: 0 1px 2px 0 rgba(#a8c0e2, 0.27), 0 2px 5px 0 rgba(#a8c0e2, 0.19);
}
